workflows_extracted/-av9rPDHpONklVhcG8iOg.json
{"updatedAt":"2026-04-29T22:17:37.814Z","createdAt":"2026-03-16T21:00:17.167Z","id":"-av9rPDHpONklVhcG8iOg","name":"WF_Qualificacao_Forms","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"chatid"},{"name":"mensagem"},{"name":"urlchatwoot"},{"name":"account_id"},{"name":"conversation_id"},{"name":"chatwoottoken"},{"name":"contact_id"},{"name":"tipo_fluxo"},{"name":"tabela_whatsapp"},{"name":"origem"}]}},"id":"180208f5-9828-4ed2-bc98-68644a02dfa2","name":"Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-3936,1376],"alwaysOutputData":false},{"parameters":{"workflowId":{"__rl":true,"value":"pDwi0jLOMpJlLVvC6DZRV","mode":"list","cachedResultUrl":"/workflow/pDwi0jLOMpJlLVvC6DZRV","cachedResultName":"WF_Link Reserva v2 - Multi-experience resource"},"workflowInputs":{"mappingMode":"defineBelow","value":{"navio":"={{ $('Extract_JSON1').first().json.acoes_salvar_lead.Navio || null }}","qtd_adultos":"={{ $('Extract_JSON1').first().json.acoes_salvar_lead.QtdPessoas || null }}","qtd_criancas":"0"},"matchingColumns":[],"schema":[{"id":"navio","displayName":"navio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"qtd_adultos","displayName":"qtd_adultos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"qtd_criancas","displayName":"qtd_criancas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1104,1376],"id":"c10f0bf4-e48e-470f-b11f-29c7e231f123","name":"Call WF_Link_Pagamento Homologacao1"},{"parameters":{"operation":"delete","key":"={{ $('Workflow Trigger').item.json.chatid }}_{{ $('Workflow Trigger').item.json.tipo_fluxo }}"},"id":"a9fa29a7-08b1-4477-8395-0824c27f65a7","name":"Clear Redis Memory on Reset","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3712,1376],"credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"0RzDPFar6zDMX7f5IcDI6","mode":"list","cachedResultUrl":"/workflow/0RzDPFar6zDMX7f5IcDI6","cachedResultName":"Enviar Mensagem - Novo Fluxo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Workflow Trigger').first().json.chatid || $json.lead.Telefone }}","accountid":"={{ $('Workflow Trigger').first().json.account_id || \"1\" }}","chatwooturl":"={{ $('Workflow Trigger').first().json.urlchatwoot || $('Switch1').first().json.urlchatwoot }}","chatwoottoken":"={{ $('Workflow Trigger').first().json.chatwoottoken || $('Switch1').first().json.chatwoottoken }}","conversationid":"={{ $('Workflow Trigger').first().json.conversation_id || $('Switch1').first().json.lead.id_conversa_chatwoot }}","origem":"={{ $('Workflow Trigger').first().json.origem }}","resposta":"={{ $('Call WF_Link_Pagamento Homologacao1').isExecuted ? $('Call WF_Link_Pagamento Homologacao1').first().json.mensagem : $('Extract_JSON1').first().json.resposta || $('Switch1').first().json.resposta }}","tipo_fluxo":"={{ $('Workflow Trigger').first().json.tipo_fluxo }}","tabela_whatsapp":"={{ $('Workflow Trigger').first().json.tabela_whatsapp }}"," enviar_foto_cabine":"={{ $json.acoes.enviar_foto_cabine }}","asset_url":"={{ $json.acoes.asset_url }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"accountid","displayName":"accountid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatwooturl","displayName":"chatwooturl","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"conversationid","displayName":"conversationid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"resposta","displayName":"resposta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":" enviar_foto_cabine","displayName":" enviar_foto_cabine","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"asset_url","displayName":"asset_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-880,1520],"id":"9362deed-78c6-4e20-9f41-d91bce3dde0d","name":"Enviar Mensagem1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Extract_JSON1').item.json.acoes.handoff || false }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"1e275fa7-38c0-44dc-9f59-d099117f1eb8"}],"combinator":"and"},"renameOutput":true,"outputKey":"handoff"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f7760635-090e-4a65-a3eb-9baa017f6d51","leftValue":"={{ $('Extract_JSON1').item.json.acoes.pausar_atendimento || false }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"pausar_atendimento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cd962ed9-6926-4b1f-90a2-24f59633325f","leftValue":"={{ $('Extract_JSON1').item.json.acoes.enviar_video || false }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"eniar_video"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"004f46ee-0b13-4455-828d-9de4f957a46f","leftValue":"={{$('Extract_JSON1').first().json.enviar_link_reserva || false }}","rightValue":"false","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"enviar_link_reserva"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1328,1328],"id":"19469e41-4837-48f7-90d0-f6a508b0f7ca","name":"Switch1"},{"parameters":{"workflowId":{"__rl":true,"value":"ptzn5xkccnYfL7Wq","mode":"list","cachedResultUrl":"/workflow/ptzn5xkccnYfL7Wq","cachedResultName":"[video inicial]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Workflow Trigger').first().json.chatid }}","accountid":"={{ $('Workflow Trigger').first().json.account_id }}","chatwooturl":"={{ $('Workflow Trigger').first().json.urlchatwoot }}","chatwoottoken":"={{ $('Workflow Trigger').first().json.chatwoottoken }}","conversationid":"={{ $('Workflow Trigger').first().json.conversation_id }}","origem":"={{ $('Workflow Trigger').first().json.origem }}","resposta":"={{ $('Extract_JSON1').first().json.resposta }}","tipo_fluxo":"={{ $('Workflow Trigger').first().json.tipo_fluxo }}","tabela_whatsapp":"={{ $('Workflow Trigger').first().json.tabela_whatsapp }}"},"matchingColumns":[],"schema":[{"id":"cruzeiroInteressado","displayName":"cruzeiroInteressado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"accountid","displayName":"accountid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwooturl","displayName":"chatwooturl","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversationid","displayName":"conversationid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resposta","displayName":"resposta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1104,1664],"id":"88e5c552-bdc2-40b2-947e-9301d8ed77e5","name":"Exec Video Inicial1"},{"parameters":{"workflowId":{"__rl":true,"value":"DhJx82Syv81AzAaW","mode":"list","cachedResultUrl":"/workflow/DhJx82Syv81AzAaW","cachedResultName":"WF_HANDOFF"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phoneNumber":"={{ $('Workflow Trigger').first().json.chatid }}","resumoConversa":"={{ $('Extract_JSON1').first().json.acoes_resumo_handoff || 'Lead qualificado para atendimento.' }}","sessionId":"={{ $('Workflow Trigger').first().json.chatid }}","contactId":"={{ $('Workflow Trigger').first().json.contact_id }}","urlChatwoot":"={{ $('Workflow Trigger').first().json.urlchatwoot }}","tokenChatwoot":"={{ $('Workflow Trigger').first().json.chatwoottoken }}","accountId":"={{ $('Workflow Trigger').first().json.account_id }}","conversationId":"={{ $('Workflow Trigger').first().json.conversation_id }}","origem":"={{ $('Workflow Trigger').first().json.origem }}","tipo_fluxo":"={{ $('Workflow Trigger').first().json.tipo_fluxo }}","tabela_whatsapp":"={{ $('Workflow Trigger').first().json.tabela_whatsapp }}"},"matchingColumns":[],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resumoConversa","displayName":"resumoConversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"urlChatwoot","displayName":"urlChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"qtdPessoas","displayName":"qtdPessoas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"navio","displayName":"navio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"estilo","displayName":"estilo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"qualificacao","displayName":"qualificacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"campanha","displayName":"campanha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"nomeCompleto","displayName":"nomeCompleto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1104,992],"id":"12ea9fa2-5f6b-4318-9a62-f6845aef75f2","name":"Exec WF_HANDOFF1"},{"parameters":{"operation":"get","tableId":"={{ $('Workflow Trigger').item.json.tabela_whatsapp }}","filters":{"conditions":[{"keyName":"Telefone","keyValue":"={{ $('Workflow Trigger').item.json.chatid }}"}]}},"id":"c5fde809-d035-48a5-8f94-08be9bb60640","name":"Get Lead State1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3488,1376],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"workflowId":{"__rl":true,"value":"eIdnT9ggaC-9MtYHmW-fp","mode":"list","cachedResultUrl":"/workflow/eIdnT9ggaC-9MtYHmW-fp","cachedResultName":"WF_MontarPrompt Forms"},"workflowInputs":{"mappingMode":"defineBelow","value":{"context":"={{ $json.context }}","etapa":"={{ $json.etapa }}","tipo_fluxo":"={{ $json.tipo_fluxo }}"},"matchingColumns":[],"schema":[{"id":"context","displayName":"context","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object"},{"id":"etapa","displayName":"etapa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"de719743-87fc-4ca4-8c80-69bc6a8ca5d1","name":"Exec_WF_MontarPrompt1","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-3040,1376],"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"responseFormat":"json_object","temperature":0.8,"timeout":60000,"topP":1}},"id":"ac552f46-c7ab-49b3-b310-f85b763233dd","name":"OpenAI_Chat_Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2816,1600],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1500,"credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $('Workflow Trigger').item.json.mensagem }}","options":{"systemMessage":"={{ $('Exec_WF_MontarPrompt1').item.json.systemMessage }}","maxIterations":6,"returnIntermediateSteps":false}},"id":"3b75ce9a-da4a-46f8-a5d4-f985589d42e0","name":"AI_Agent_Qualificacao1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-2704,1376],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1500,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"let raw = $input.first().json.output || $input.first().json.text ||\n    '';\nif (typeof raw === 'object') raw = JSON.stringify(raw);\nraw = String(raw).replace(/```json|```/g, '').trim();\n\n// Extrai TODOS os objetos JSON top-level balanceando {} (respeita strings).\nfunction parseAllJson(s) {\n    const out = [];\n    let depth = 0,\n        start = -1,\n        inStr = false,\n        esc = false;\n    for (let i = 0; i < s.length; i++) {\n        const c = s[i];\n        if (inStr) {\n            if (esc) {\n                esc = false;\n                continue;\n            }\n            if (c === '\\\\') {\n                esc = true;\n                continue;\n            }\n            if (c === '\"') inStr = false;\n            continue;\n        }\n        if (c === '\"') {\n            inStr = true;\n            continue;\n        }\n        if (c === '{') {\n            if (depth === 0) start = i;\n            depth++;\n        } else if (c === '}') {\n            depth--;\n            if (depth === 0 && start >= 0) {\n                try {\n                    out.push(JSON.parse(s.slice(start, i + 1)));\n                } catch (_) {}\n                start = -1;\n            }\n        }\n    }\n    return out;\n}\n\nlet obj = null;\ntry {\n    obj = JSON.parse(raw);\n} catch (_) {}\nif (!obj || typeof obj !== 'object') {\n    const all = parseAllJson(raw);\n    // Último JSON com \"resposta\" preenchida é o turno final do agent. \n    obj = [...all].reverse().find(o => o && o.resposta) || all[all.length - 1] || null;\n}\n\nif (!obj || typeof obj !== 'object') {\n    obj = {\n        resposta: 'Deixa eu chamar um consultor pra te atender melhor.',\n        acoes: {\n            handoff: true\n        }\n    };\n}\n\nconst acoes = obj.acoes || {};\nconst salvar = acoes.salvar_lead || acoes.acoes_salvar_lead || {};\nreturn [{\n    json: {\n        resposta: obj.resposta || '',\n        acoes,\n        salvar_lead: salvar,\n        handoff: !!acoes.handoff,\n        pausar_atendimento: !!acoes.pausar_atendimento,\n        etapa_saida: salvar.Etapa || 'qualificacao',\n        pontuacao: salvar.Pontuacao || 0\n    }\n}];"},"id":"c580c9be-ad01-4cbe-ba5e-c953a59e573e","name":"Extract_JSON1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2224,1376],"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"MlEIWkRbc5zuGNOkw_b-o","mode":"list","cachedResultUrl":"/workflow/MlEIWkRbc5zuGNOkw_b-o","cachedResultName":"WF_Salvar_Lead"},"workflowInputs":{"mappingMode":"defineBelow","value":{"resposta":"={{ $json.resposta }}","origem":"={{ $('Workflow Trigger').first().json.origem }}","tabela_whatsapp":"={{ $('Workflow Trigger').item.json.tabela_whatsapp }}","Telefone":"={{ $('Extract_JSON1').first().json.acoes.salvar_lead.Telefone || $('Workflow Trigger').first().json.chatid  }}","materiais_enviados":"={{ $('Extract_JSON1').first().json.materiais_enviados || false }}","tipo_fluxo":"={{ $('Workflow Trigger').first().json.tipo_fluxo }}","em_qual_etapa":"={{ $('Promote_Etapa').first().json.em_qual_etapa_saida }}","Pontuacao":"={{ String($('Extract_JSON1').first().json.acoes.salvar_lead.Pontuacao) }}","etapa":"={{ $('Promote_Etapa').first().json.etapa_saida }}","chatwoottoken":"={{ $('Workflow Trigger').first().json.chatwoottoken }}","urlchatwoot":"={{ $('Workflow Trigger').first().json.urlchatwoot }}","account_id":"={{ $('Workflow Trigger').first().json.account_id }}","conversation_id":"={{ $('Workflow Trigger').first().json.conversation_id }}","contact_id":"={{ $('Workflow Trigger').first().json.contact_id }}","Status":"={{ $('Extract_JSON1').first().json.acoes.salvar_lead.Status || 'BAIXA' }}","QtdPessoas":"={{ ((v) => (v != null && String(v).trim().toLowerCase() !== 'null' && String(v).trim() !== '') ? String(v) : null)($('Extract_JSON1').first().json.acoes.salvar_lead.QtdPessoas ?? $('Get Lead State1').first().json.QtdPessoas) }}","Orcamento":"={{ $('Extract_JSON1').first().json.acoes.salvar_lead.Orcamento || $('Get Lead State1').first().json.Orcamento || null }}","Navio":"={{ $('Extract_JSON1').first().json.acoes.salvar_lead.Navio || $('Get Lead State1').first().json.Navio || null  }}","Estilo":"={{ $('Extract_JSON1').first().json.acoes.salvar_lead.Estilo || $('Get Lead State1').first().json.estilo || null }}","CPF":"={{ $('Extract_JSON1').first().json.acoes.salvar_lead.CPF || $('Get Lead State1').first().json.CPF || null }}","Email":"={{ $('Extract_JSON1').first().json.acoes.salvar_lead.Email || $('Get Lead State1').first().json.Email || null }}","Nome":"={{ $('Extract_JSON1').first().json.acoes.salvar_lead.Nome || $('Get Lead State1').first().json.Nome || \"\" }}"},"matchingColumns":[],"schema":[{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Estilo","displayName":"Estilo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Navio","displayName":"Navio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Orcamento","displayName":"Orcamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"QtdPessoas","displayName":"QtdPessoas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contact_id","displayName":"contact_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"urlchatwoot","displayName":"urlchatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"etapa","displayName":"etapa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resposta","displayName":"resposta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Pontuacao","displayName":"Pontuacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"em_qual_etapa","displayName":"em_qual_etapa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"materiais_enviados","displayName":"materiais_enviados","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"95c50da5-1a42-402e-91ed-42045522b7b9","name":"Exec_WF_SalvarLead1","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1776,1376],"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000,"notesInFlow":false,"onError":"continueRegularOutput","notes":"[EXEC_SALVAR_FIXES_V1] 20260425-204050\n[EXEC_SALVAR_FIXES_V2] 20260425-213039"},{"parameters":{"assignments":{"assignments":[{"id":"189b8956-d29b-4582-bc94-f9e6a00e024b","name":"resposta","type":"string","value":"={{ $('Extract_JSON1').item.json.resposta }}"},{"id":"52f7c6f9-a2bb-4b7a-8ec4-1d0bc06a18b0","name":"acoes","type":"object","value":"={{ $('Promote_Etapa').item.json.acoes }}"},{"id":"ac8853e7-c285-4f9e-8a94-4dcf1b47997e","name":"etapa","type":"string","value":"={{ $('Promote_Etapa').item.json.etapa_saida }}"},{"id":"fc9afa77-ab12-4c7f-a20a-a0c9d4051b06","name":"handoff","type":"boolean","value":"={{ $('Extract_JSON1').item.json.handoff }}"}]},"options":{}},"id":"d8d3425e-9311-49c0-98bc-a6d5002200d9","name":"Set_Response1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1552,1376]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Workflow Trigger').first().json.chatid }}_{{ $('Workflow Trigger').first().json.tipo_fluxo }}","tableName":"promo","contextWindowLength":15},"id":"5acfc786-cffe-4e33-92de-0610a8f4ea6e","name":"Memory Postgres","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-2688,1600],"executeOnce":true,"credentials":{"postgres":{"id":"TTrqj0rnakiukRd7","name":"Postgres account"}}},{"parameters":{"description":"=Busca metadados de mídia de uma experience resource MSC Divina na tabela cabin_media e retorna { encontrado, asset_url, whatsapp_id, label, categoria, variante }. O campo asset_url é a URL pública da foto da experience resource.\nQUANDO USAR: sempre que você for emitir enviar_foto_cabine=true (o lead pediu foto/imagem da experience resource nesta mensagem — \"me manda a foto\", \"posso ver a experience resource?\", \"tem imagem?\"). Chamar ANTES de montar a resposta para popular o campo asset_url do JSON de saída. \n\nENTRADA:\n  - categoria (string, obrigatório): um dos 9 valores — cabines__interna, cabines__interna_superior,  cabines__janela, cabines__varanda, cabines__varanda_superior, cabines__varanda_experience, cabines__suite_janela_experience, cabines__suite_varanda_experience, cabines__yacht_club. \n  - variante (string, obrigatório): experience | premium | superior | null. Use experience para experience resource *_experience; superior para *_superior; null para as demais (interna, janela, varanda, yacht_club).\n  - conta (string, obrigatório): injetada automaticamente pelo sistema ($('Workflow Trigger').first().json.mensagem }}) — NÃO inventar. Valores válidos: _whatsapp | _formulario | bdr.\n\nNÃO chamar: quando enviar_foto_cabine=false ou quando o lead não pediu foto explicitamente.","workflowId":{"__rl":true,"value":"qtNIPt2NHtH3oj7viT2Rq","mode":"list","cachedResultUrl":"/workflow/qtNIPt2NHtH3oj7viT2Rq","cachedResultName":"WF_Get_Cabin_Media"},"workflowInputs":{"mappingMode":"defineBelow","value":{"categoria":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('categoria', ``, 'string') }}","variante":"={{ $fromAI('variante', ``, 'string',\"\") }}","conta":"=_{{ $('Workflow Trigger').first().json.origem }}"},"matchingColumns":[],"schema":[{"id":"categoria","displayName":"categoria","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"variante","displayName":"variante","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conta","displayName":"conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-2560,1600],"id":"3a37e16c-2b4b-4d38-b293-75d196aa59bf","name":"buscar_midia_cabine"},{"parameters":{"jsCode":"// Monta payload no contrato do WF_MontarPrompt real:\n// { context: { lead_data, mensagem, chatid, origem, ... }, etapa, tipo_fluxo }\nconst data =  $('Get Lead State1').first().json;\nconst t = (Object.keys(data).length !== 0) ? data : $('Workflow Trigger').first().json;\n\nreturn [{ json: {\n  telefone: t.Telefone,\n  sessionId: t.id,\n  mensagem: $('Workflow Trigger').first().json.mensagem,\n  origem: t.origem,\n  tipo_fluxo: t.tipo_fluxo || 'producao',\n  tabela_whatsapp: t.tabela_whatsapp,\n  etapa: 'qualificacao',\n  context: {\n    lead_data: {\n      Telefone: t.Telefone || t.chatid,\n      Nome: t.Nome || t.nome || null,\n      Email: t.Email || t.email || null,\n      CPF: t.CPF || t.cpf || null,\n      Navio: t.Navio || t.navio || null,\n      QtdPessoas: t.QtdPessoas || t.qtd_pessoas || null,\n      Estilo: t.estilo || t.Estilo || null,\n      Status: t.status || t.Status || null,\n      Pontuacao: t.Pontuacao || t.pontuacao || 0,\n      etapa: t.etapa || 'qualificacao',\n      em_qual_etapa: t.em_qual_etapa || 'e1',\n      materiais_enviados: !!t.materiais_enviados,\n      valores_enviados: !!t.valores_enviados\n    },\n    mensagem: $('Workflow Trigger').first().json.mensagem || '',\n    chatid: t.sessionId,\n    origem: t.origem,\n    tipo_fluxo: t.tipo_fluxo || 'producao'\n  }\n} }];"},"id":"693d3314-eea7-44d2-9a29-8b8a661d9949","name":"Prepare_Context1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3264,1376]},{"parameters":{"description":"Busca na base de conhecimento DomainAssistant (RAG híbrido: pgvector + BM25 + rerank).\n  Use SEMPRE antes de afirmar qualquer fato sobre navio, experience resource, pacote,\n  pagamento, FAQ, roteiro ou objeção. Retorna trechos curados com title,\n  content, topic, subtopic e score. Se tem_resultado=false, NÃO invente —\n  responda com uma pergunta de qualificação.","workflowId":{"__rl":true,"value":"Pl7vzyo55h7KCHHeKZyE2","mode":"list","cachedResultUrl":"/workflow/Pl7vzyo55h7KCHHeKZyE2","cachedResultName":"WF_Busca_KB"},"workflowInputs":{"mappingMode":"defineBelow","value":{"top_k":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('top_k', `quantos chunks retornar (padrão 3)`, 'number') }}","query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `texto da pergunta do lead`, 'string') }}","filters":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('filters', `filtros opcionais de busca`, 'json') }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"filters","displayName":"filters","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"top_k","displayName":"top_k","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"id":"f084954f-ece1-4b13-a06c-f745059f51a6","name":"consultar_base_conhecimento","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-2432,1600]},{"parameters":{"jsCode":"// [PROMOTE_ETAPA_V1] v3 — derivacao deterministica de Etapa com GATE FACTUAL + preservacao\n// Decisao Paulo 2026-04-25:\n//   - Semantica GLOBAL (e1..e7 regua unica).\n//   - ANTI_REGRESSAO_ESTRITA (persistido > derivado preserva ambos).\n//   - GATE FACTUAL: e4 (negociacao) so dispara se Navio + QtdPessoas presentes (obrigatorios).\n//     Se TODOS os 4 (Nome+Navio+QtdPessoas+jaFezCruzeiro) preenchidos, ELEVA para (negociacao, e4)\n//     mesmo que LLM tenha emitido sub-estado regressivo (ex.: par (negociacao, e3)).\n//     Se obrigatorios faltam, CAP em qualificacao independente do que LLM mandar.\n//   - v3: PRESERVACAO. Quando o LLM emite null/'null'/'' em campo que o leadData tem com valor real,\n//     o Promotor injeta o valor persistido de volta no acoes.salvar_lead. Defesa contra alucinacao\n//     por omissao (LLM \"esquece\" de copiar QtdPessoas mas o lead ja informou).\n//     hasValue() e pick() ignoram strings lixo (\"null\",\"undefined\",vazio).\n\nconst SUB_TO_ETAPA = Object.freeze({\n  e1: 'qualificacao', e2: 'qualificacao', e3: 'qualificacao',\n  e35: 'qualificacao', 'e3.5': 'qualificacao',\n  e4: 'negociacao',\n  e5: 'pagamento', e6: 'pagamento', e7: 'pagamento',\n});\nconst RANK = Object.freeze({ qualificacao: 1, negociacao: 2, pagamento: 3, handoff: 4 });\n\n// extracted = output do node imediatamente anterior (Extract_JSON*); evita\n// referencia por nome que falha em n8n quando ha variantes (Extract JSON / Extract_JSON / Extract_JSON1).\nconst extracted = ($input && $input.first && $input.first().json) || {};\n\n// leadData = Get Lead State (existe como 'Get Lead State' ou 'Get Lead State1' dependendo do caller).\n// Fallback silencioso quando o nome nao bate, sem quebrar o fluxo.\nfunction safeNode(name) {\n  try {\n    const ref = $(name);\n    if (ref && ref.first && ref.first().json) return ref.first().json;\n  } catch (e) { /* node nao existe neste contexto */ }\n  return null;\n}\nconst leadData = safeNode('Get Lead State') || safeNode('Get Lead State1') || {};\n\nconst salvarLead = (extracted.acoes && extracted.acoes.salvar_lead) || {};\n\n// ── helpers ────────────────────────────────────────────────────────────────\nfunction isJunkValue(v) {\n  if (v === null || v === undefined) return true;\n  if (typeof v === 'string') {\n    const t = v.trim().toLowerCase();\n    return t === '' || t === 'null' || t === 'undefined' || t === 'nan';\n  }\n  return false;\n}\nfunction hasValue(v) {\n  if (isJunkValue(v)) return false;\n  if (typeof v === 'number') return !Number.isNaN(v) && v > 0;\n  if (typeof v === 'boolean') return true;\n  return !!v;\n}\n// pick: retorna o primeiro valor REAL (nao-junk). Robusto contra strings \"null\",\"undefined\" do banco.\nfunction pick(...vals) { for (const v of vals) if (!isJunkValue(v)) return v; return undefined; }\nconst ETAPA_MIN_SUB = { qualificacao: 'e1', negociacao: 'e4', pagamento: 'e5', handoff: null };\n\nlet subProposto = String(salvarLead.em_qual_etapa ?? '').trim().toLowerCase();\nif (subProposto === 'e3.5') subProposto = 'e35';\nconst subPersistido = String(leadData.em_qual_etapa ?? '').trim().toLowerCase();\nconst subFinal = SUB_TO_ETAPA[subProposto] !== undefined ? subProposto : subPersistido;\n\nconst etapaLlm     = String(salvarLead.Etapa ?? salvarLead.etapa ?? '').trim().toLowerCase();\nconst etapaPersist = String(leadData.Etapa   ?? leadData.etapa   ?? '').trim().toLowerCase();\n\n// ── checklist de qualificacao (extrai dos 2 lados, salvar_lead vence) ──────\nconst navio = pick(salvarLead.Navio, salvarLead.navio, leadData.Navio, leadData.navio);\nconst qtd   = pick(salvarLead.QtdPessoas, salvarLead.qtd_pessoas, salvarLead.qtdPessoas, leadData.QtdPessoas, leadData.qtd_pessoas);\nconst nome  = pick(salvarLead.Nome, salvarLead.nome, leadData.Nome, leadData.nome);\nconst jaFez = pick(salvarLead.ja_fez_cruzeiro, salvarLead.jaFezCruzeiro, leadData.ja_fez_cruzeiro, leadData.jaFezCruzeiro);\n\nconst obrigatoriosOk = hasValue(navio) && hasValue(qtd);\n// jaFez aceita true/false explicito (nao confunde com missing); rejeita strings \"null\"/\"undefined\"\nconst jaFezDefinido = !isJunkValue(jaFez);\nconst todosOk = obrigatoriosOk && hasValue(nome) && jaFezDefinido;\n\nlet etapaFinal, motivo, subOut;\nif (etapaLlm === 'handoff') {\n  etapaFinal = 'handoff';\n  subOut = subFinal || subPersistido || 'e1';\n  motivo = 'LLM_HANDOFF_DECLARADO';\n} else {\n  const etapaDerivada = SUB_TO_ETAPA[subFinal] || SUB_TO_ETAPA[subPersistido] || 'qualificacao';\n\n  // GATE 1: Anti-regressao estrita (persistido > derivado/LLM)\n  const rankPersist = RANK[etapaPersist] || 0;\n  const rankDeriv   = RANK[etapaDerivada] || 0;\n  const rankLlm     = RANK[etapaLlm] || 0;\n  if (etapaPersist !== 'handoff' && rankPersist > Math.max(rankDeriv, rankLlm)) {\n    etapaFinal = etapaPersist;\n    subOut = subPersistido || subFinal || 'e1';\n    motivo = `ANTI_REGRESSAO_ESTRITA (persistida=${etapaPersist}/${subPersistido} > derivada=${etapaDerivada}/${subFinal}, LLM=${etapaLlm})`;\n  } else if (!obrigatoriosOk) {\n    // GATE 2: Bloqueio factual — sem Navio+QtdPessoas, nada avanca alem de qualificacao.\n    etapaFinal = 'qualificacao';\n    // Limita sub-estado a {e1..e3,e35,e3.5}; se LLM/derivada quis subir, mantem em e3 como teto.\n    const subParaQualif = SUB_TO_ETAPA[subFinal] === 'qualificacao' ? subFinal : 'e3';\n    subOut = subParaQualif || 'e1';\n    const faltam = [];\n    if (!hasValue(navio)) faltam.push('Navio');\n    if (!hasValue(qtd))   faltam.push('QtdPessoas');\n    motivo = `GATE_FACTUAL_BLOQUEIO (obrigatorios ausentes: ${faltam.join(',')})`;\n  } else if (todosOk) {\n    // GATE 3: Promocao factual — todos os campos OK eleva para (negociacao, e4)\n    // Excecao: se persistido ja esta em pagamento (ou superior), mantem.\n    const etapaCandidata = (rankPersist > 2) ? etapaPersist : 'negociacao';\n    etapaFinal = etapaCandidata;\n    subOut = (rankPersist > 2)\n      ? (subPersistido || ETAPA_MIN_SUB[etapaPersist] || 'e5')\n      : 'e4';\n    motivo = `GATE_FACTUAL_PROMOCAO (todos campos OK -> ${etapaFinal}/${subOut} | LLM=${etapaLlm}/${subProposto})`;\n  } else {\n    // FLUXO PADRAO: max-ascending entre Etapa LLM e etapa derivada do sub-estado\n    const etapaTopo = (rankLlm > rankDeriv) ? etapaLlm : etapaDerivada;\n    etapaFinal = etapaTopo;\n    if (etapaTopo === etapaDerivada) {\n      subOut = subFinal || 'e1';\n    } else {\n      // LLM avancou Etapa, sub-estado regressivo: eleva sub para minimo da etapa LLM\n      subOut = ETAPA_MIN_SUB[etapaTopo] || subFinal || 'e1';\n    }\n    if (etapaLlm && etapaLlm !== etapaFinal) {\n      motivo = `LLM_DIVERGENCIA (LLM=${etapaLlm}/${subProposto} -> final=${etapaFinal}/${subOut})`;\n    } else if (subFinal !== subOut) {\n      motivo = `MAX_ASCENDING (LLM Etapa=${etapaLlm} venceu sub=${subProposto} -> ${etapaFinal}/${subOut})`;\n    } else {\n      motivo = 'CANONICO';\n    }\n  }\n}\n\n// PRESERVACAO v3: para cada campo do checklist, se LLM mandou junk mas leadData tem valor REAL, injeta.\n// Defende contra alucinacao por omissao.\nfunction preserve(slv, ldv) {\n  if (isJunkValue(slv) && !isJunkValue(ldv)) return ldv;\n  return slv;\n}\nconst slPreservado = {\n  ...salvarLead,\n  Nome:               preserve(salvarLead.Nome,                leadData.Nome),\n  Navio:              preserve(salvarLead.Navio,               leadData.Navio),\n  QtdPessoas:         preserve(salvarLead.QtdPessoas,          leadData.QtdPessoas),\n  Email:              preserve(salvarLead.Email,               leadData.Email),\n  Estilo:             preserve(salvarLead.Estilo,              leadData.estilo ?? leadData.Estilo),\n  ja_fez_cruzeiro:    isJunkValue(salvarLead.ja_fez_cruzeiro) ? leadData.ja_fez_cruzeiro : salvarLead.ja_fez_cruzeiro,\n  Etapa: etapaFinal,\n  em_qual_etapa: subOut,\n};\nconst acoesCorrigido = {\n  ...(extracted.acoes || {}),\n  salvar_lead: slPreservado,\n};\n\nconsole.log(`[PROMOTE_ETAPA] motivo=${motivo} | LLM=${etapaLlm}/${subProposto} | persist=${etapaPersist}/${subPersistido} | final=${etapaFinal}/${subOut}`);\n\nreturn [{\n  json: {\n    ...extracted,\n    acoes: acoesCorrigido,\n    etapa_saida: etapaFinal,\n    em_qual_etapa_saida: subOut,\n    promote_motivo: motivo,\n  },\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2000,1376],"id":"b182d6f9-ccf2-4e5f-927f-5f3d0b51140a","name":"Promote_Etapa"},{"parameters":{"workflowId":{"__rl":true,"value":"c1jfeLzNspDc17-n1lwGd","mode":"list","cachedResultUrl":"/workflow/c1jfeLzNspDc17-n1lwGd","cachedResultName":"[sem_interesse] homologacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"urlChatwoot":"={{ $('Workflow Trigger').first().json.urlchatwoot }}","tabela_whatsapp":"={{ $('Workflow Trigger').first().json.tabela_whatsapp }}","tipo_fluxo":"={{ $('Workflow Trigger').first().json.tipo_fluxo }}","origem":"={{ $('Workflow Trigger').first().json.origem }}","contactId":"={{ $('Workflow Trigger').first().json.contact_id }}","accountId":"={{ $('Workflow Trigger').first().json.account_id }}","tokenChatwoot":"={{ $('Workflow Trigger').first().json.chatwoottoken }}"},"matchingColumns":[],"schema":[{"id":"urlChatwoot","displayName":"urlChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1104,1184],"id":"1a6fd6ed-6d70-4afe-ae9c-b07ceb59ab15","name":"Call '[sem_interesse] homologacao'"}],"connections":{"Workflow Trigger":{"main":[[{"node":"Clear Redis Memory on Reset","type":"main","index":0}]]},"Call WF_Link_Pagamento Homologacao1":{"main":[[{"node":"Enviar Mensagem1","type":"main","index":0}]]},"Clear Redis Memory on Reset":{"main":[[{"node":"Get Lead State1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Exec WF_HANDOFF1","type":"main","index":0}],[{"node":"Call '[sem_interesse] homologacao'","type":"main","index":0}],[{"node":"Exec Video Inicial1","type":"main","index":0}],[{"node":"Call WF_Link_Pagamento Homologacao1","type":"main","index":0}],[{"node":"Enviar Mensagem1","type":"main","index":0}]]},"Exec Video Inicial1":{"main":[[{"node":"Enviar Mensagem1","type":"main","index":0}]]},"Get Lead State1":{"main":[[{"node":"Prepare_Context1","type":"main","index":0}]]},"Exec_WF_MontarPrompt1":{"main":[[{"node":"AI_Agent_Qualificacao1","type":"main","index":0}]]},"OpenAI_Chat_Model1":{"ai_languageModel":[[{"node":"AI_Agent_Qualificacao1","type":"ai_languageModel","index":0}]]},"AI_Agent_Qualificacao1":{"main":[[{"node":"Extract_JSON1","type":"main","index":0}]]},"Extract_JSON1":{"main":[[{"node":"Promote_Etapa","type":"main","index":0}]]},"Exec_WF_SalvarLead1":{"main":[[{"node":"Set_Response1","type":"main","index":0}]]},"Memory Postgres":{"ai_memory":[[{"node":"AI_Agent_Qualificacao1","type":"ai_memory","index":0}]]},"Set_Response1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"buscar_midia_cabine":{"ai_tool":[[{"node":"AI_Agent_Qualificacao1","type":"ai_tool","index":0}]]},"Prepare_Context1":{"main":[[{"node":"Exec_WF_MontarPrompt1","type":"main","index":0}]]},"consultar_base_conhecimento":{"ai_tool":[[{"node":"AI_Agent_Qualificacao1","type":"ai_tool","index":0}]]},"Promote_Etapa":{"main":[[{"node":"Exec_WF_SalvarLead1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":180},"staticData":null,"meta":null,"pinData":{"Workflow Trigger":[{"json":{"chatid":"+1 555-0100","mensagem":"Olá! Tenho interesse e queria mais informações sobre o Navio Cabaré, por favor.\nQual valor que está ?","urlchatwoot":"https://chatwoot.demo-events.com.br","account_id":"1","conversation_id":"30499","chatwoottoken":"${CHATWOOT_TOKEN}","contact_id":"64791","tipo_fluxo":"producao","tabela_whatsapp":"sdr_whatsapp","origem":"whatsapp"}}],"Get Lead State1":[{"json":{"id":4731,"Nome":"Paulo","Telefone":"+1 555-0100","Email":"null","CPF":null,"Pontuacao":0,"Navio":"MSC Divina","QtdPessoas":"2","estilo":"SERTANEJO","Orcamento":"undefined","status":"BAIXA","DataEntrada":null,"hora_mensagem":"quinta-feira, 23 de abril de 2026, 17:06","mensagem_lead":false,"pausado":null,"fup":null,"vendedor":null,"campanha":null,"conjunto_anuncios":null,"anuncio":null,"resumo_conversa":null,"id_contato_chatwoot":"77854","id_conversa_chatwoot":"42844","UltimaMensagem":"2026-04-23T17:06:38.805","origem":"whatsapp","etapa":"negociacao","em_qual_etapa":"e3.5","video_inicial_enviado":"nao","ja_fez_cruzeiro":null,"envia_link_pagamento":false,"materiais_enviados":true,"interagiu":true,"sem_interesse":false}}],"Prepare_Context1":[{"json":{"telefone":"+1 555-0100","sessionId":4731,"mensagem":"quanto custa?","origem":"whatsapp","tipo_fluxo":"producao","etapa":"qualificacao","context":{"lead_data":{"Telefone":"+1 555-0100","Nome":"Paulo","Email":"null","CPF":null,"Navio":"MSC Divina","QtdPessoas":"2","Estilo":"SERTANEJO","Status":"BAIXA","Pontuacao":0,"etapa":"negociacao","em_qual_etapa":"e3.5","materiais_enviados":true,"valores_enviados":false},"mensagem":"quero foto da experience resource varanda","origem":"whatsapp","tipo_fluxo":"producao"}}}]},"versionId":"4ffa118f-cb7a-4c4e-be84-e88eb6ffa44e","activeVersionId":"4ffa118f-cb7a-4c4e-be84-e88eb6ffa44e","versionCounter":206,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-16T21:00:17.167Z","createdAt":"2026-03-16T21:00:17.167Z","role":"workflow:owner","workflowId":"-av9rPDHpONklVhcG8iOg","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}