workflows_extracted/-LpqfQBqn6YD2f-YhEC5b.json
{"updatedAt":"2026-03-23T04:40:58.968Z","createdAt":"2026-03-05T17:27:55.336Z","id":"-LpqfQBqn6YD2f-YhEC5b","name":"[video inicial] homologacao","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"cruzeiroInteressado"},{"name":"telefone"},{"name":"accountid"},{"name":"chatwooturl"},{"name":"chatwoottoken"},{"name":"conversationid"},{"name":"origem"},{"name":"resposta"},{"name":"tipo_fluxo"},{"name":"tabela_whatsapp"}]}},"id":"0f209613-247e-4f69-941e-8853af0595e5","typeVersion":1.1,"name":"start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[800,416]},{"parameters":{"operation":"set","key":"={{ $('start').first().json.telefone }}_video_inicial_{{ $('start').first().json.tipo_fluxo }}","value":"enviado","expire":true,"ttl":86400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2592,608],"id":"9b0e4525-5a2a-44e2-807e-eded7382e948","name":"Redis","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"enviado?","key":"={{ $('start').first().json.telefone }}_video_inicial_{{ $('start').first().json.tipo_fluxo }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1248,416],"id":"461411ec-9219-4597-8c98-82498b19b1c4","name":"Redis1","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf164d3b-77a8-476b-b37c-2658fc7b846d","leftValue":"={{ $json['enviado?'] }}","rightValue":"enviado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1472,416],"id":"da3185a5-53ca-4c28-8bd9-e0e70ee3dca5","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"aa83b47b-b46b-4512-9e46-77de41b57b83","name":"resposta","value":"O video já foi enviado, não há necessidade de enviar novamente. Também não há necessidade de avisar que já foi enviado, apenas ignore.","type":"string"},{"id":"77cf5377-c5f5-486c-87a6-46720cd41c90","name":"telefone","value":"={{ $('start').first().json.telefone }}","type":"string"},{"id":"d1a3cf71-d4db-47b1-a523-487d53c4e2d8","name":"accountid","value":"={{ $('start').first().json.accountid }}","type":"string"},{"id":"70848aae-9660-4593-81a0-99b9ca100060","name":"chatwooturl","value":"={{ $('start').first().json.chatwooturl }}","type":"string"},{"id":"80fe9d8d-0625-4064-9c96-4847564e567a","name":"chatwoottoken","value":"={{ $('start').first().json.chatwoottoken }}","type":"string"},{"id":"5ac21b44-53d8-4df1-9972-3c77aed77aef","name":"id_conversa_chatwoot","value":"={{ $('start').first().json.conversationid }}","type":"string"},{"id":"878db806-4f48-4519-9e31-dd3616383cc2","name":"resposta","value":"={{ $('start').first().json.resposta }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2816,608],"id":"75f483bc-bcff-4e90-8d16-cd47ce877f93","name":"Edit Fields1"},{"parameters":{"url":"https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/sign/Demo Events Co_bucket/material_marketing/VideoInicial.mp4?token=${JWT_TOKEN}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1696,512],"id":"99a68006-d03d-4928-b1d1-b0e8bf37f444","name":"HTTP Request"},{"parameters":{"method":"POST","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/conversations/{{ $('Atualiza Tabela Formulario').first().json.id_conversa_chatwoot }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').first().json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content","value":"Ótimo. Para iniciar a nossa conversa, veja esse vídeo pra você conhecer um pouco mais da Demo Events Co."},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1920,512],"id":"82a4ea6c-c368-49d3-b70b-8388590580e6","name":"HTTP Request1"},{"parameters":{"operation":"get","tableId":"={{ $('start').first().json.tabela_whatsapp }}","filters":{"conditions":[{"keyName":"Telefone","keyValue":"={{ $json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1024,416],"id":"2944c24d-5b3f-4a71-889a-d33e326a3ac2","name":"Atualiza Tabela Formulario","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').first().json.telefone }}","messageType":"video","mediaLink":"https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/sign/Demo Events Co_bucket/material_marketing/VideoInicial.mp4?token=${JWT_TOKEN}","additionalFields":{"mediaCaption":"Ótimo. Para iniciar a nossa conversa, veja esse vídeo pra você conhecer um pouco mais da Demo Events Co."}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[2368,320],"id":"773592fd-fe4f-428d-999c-0f6f791d2593","name":"Send message","webhookId":"3e70eec4-3ebe-4b4b-a69b-d549af4d8d9a","credentials":{"whatsAppApi":{"id":"7p03rSaYxzUJ6l9f","name":"WhatsApp Formulario"}}},{"parameters":{"assignments":{"assignments":[{"id":"aa83b47b-b46b-4512-9e46-77de41b57b83","name":"resposta","value":"O video já foi enviado anteriormente, não há necessidade de enviar novamente. Também não há necessidade de avisar que já foi enviado, apenas ignore.","type":"string"},{"id":"77cf5377-c5f5-486c-87a6-46720cd41c90","name":"telefone","value":"={{ $('start').first().json.telefone }}","type":"string"},{"id":"d1a3cf71-d4db-47b1-a523-487d53c4e2d8","name":"accountid","value":"={{ $('start').first().json.accountid }}","type":"string"},{"id":"70848aae-9660-4593-81a0-99b9ca100060","name":"chatwooturl","value":"={{ $('start').first().json.chatwooturl }}","type":"string"},{"id":"80fe9d8d-0625-4064-9c96-4847564e567a","name":"chatwoottoken","value":"={{ $('start').first().json.chatwoottoken }}","type":"string"},{"id":"5ac21b44-53d8-4df1-9972-3c77aed77aef","name":"conversationid","value":"={{ $('start').first().json.conversationid }}","type":"string"},{"id":"878db806-4f48-4519-9e31-dd3616383cc2","name":"resposta","value":"={{ $('start').first().json.resposta }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,320],"id":"6f481697-d4cd-47a2-a096-2051e2546680","name":"Edit Fields"},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').first().json.telefone }}","messageType":"video","mediaLink":"https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/sign/Demo Events Co_bucket/material_marketing/VideoInicial.mp4?token=${JWT_TOKEN}","additionalFields":{"mediaCaption":"Ótimo. Para iniciar a nossa conversa, veja esse vídeo pra você conhecer um pouco mais da Demo Events Co."}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[2368,512],"id":"b8a56ca9-c7af-4c8c-9d31-60a303775885","name":"Send message1","webhookId":"3e70eec4-3ebe-4b4b-a69b-d549af4d8d9a","credentials":{"whatsAppApi":{"id":"tKuBajzyPd344LxI","name":"Whatsapp Account - Whastapp ADS"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('start').first().json.origem }}","rightValue":"formulario","operator":{"type":"string","operation":"equals"},"id":"f0cfe2f4-d04c-413a-af49-c82ea2dffaf3"}],"combinator":"and"},"renameOutput":true,"outputKey":"Formulario"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"093f992b-9dfb-4c24-9444-21c2048241f8","leftValue":"={{ $('start').first().json.origem }}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Whatsapp"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1c93f0a6-c068-4507-a71d-e04e86969334","leftValue":"={{ $('start').first().json.origem }}","rightValue":"bdr","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"BDR"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[2144,496],"id":"1de953d4-1e14-429c-8a19-19a9c4fb0f36","name":"Switch"},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').first().json.telefone }}","messageType":"video","mediaLink":"https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/sign/Demo Events Co_bucket/material_marketing/VideoInicial.mp4?token=${JWT_TOKEN}","additionalFields":{"mediaCaption":"Ótimo. Para iniciar a nossa conversa, veja esse vídeo pra você conhecer um pouco mais da Demo Events Co."}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[2368,704],"id":"c14d5ada-d512-4677-aa7a-64e5b0b81fd8","name":"Send message2","webhookId":"3e70eec4-3ebe-4b4b-a69b-d549af4d8d9a","credentials":{"whatsAppApi":{"id":"tKuBajzyPd344LxI","name":"Whatsapp Account - Whastapp ADS"}}}],"connections":{"start":{"main":[[{"node":"Atualiza Tabela Formulario","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Atualiza Tabela Formulario":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Send message":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Send message1":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Send message","type":"main","index":0}],[{"node":"Send message1","type":"main","index":0}],[{"node":"Send message2","type":"main","index":0}]]},"Send message2":{"main":[[{"node":"Redis","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"start":[{"json":{"cruzeiroInteressado":null,"telefone":"+1 555-0100","accountid":"1","chatwooturl":"https://chatwoot.demo-events.com.br","chatwoottoken":"${CHATWOOT_TOKEN}","conversationid":"4971","origem":"whatsapp","resposta":"Oi, Paulo! Agora sim, bora fazer isso ficar com a sua cara, do jeitinho que você imaginou? Me conta, você já fez cruzeiro antes?","tipo_fluxo":"homologacao","tabela_whatsapp":"sdr_whatsapp"}}]},"versionId":"4e65556b-3142-46b6-a77f-96664e36c288","activeVersionId":"4e65556b-3142-46b6-a77f-96664e36c288","versionCounter":73,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-05T17:27:55.336Z","createdAt":"2026-03-05T17:27:55.336Z","role":"workflow:owner","workflowId":"-LpqfQBqn6YD2f-YhEC5b","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}