workflows_extracted/0FsjckEY7X5YCYca.json
{"updatedAt":"2026-04-10T15:26:18.788Z","createdAt":"2026-04-09T21:33:46.423Z","id":"0FsjckEY7X5YCYca","name":"corrije_tabela_bdr","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"batchSize":50,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[592,-64],"id":"8c0e2722-0315-4fbe-a310-e1fa8edd0683","name":"Loop Over Items"},{"parameters":{"operation":"update","tableId":"whatsapp_bdr","matchType":"allFilters","filters":{"conditions":[{"keyName":"Telefone","condition":"eq","keyValue":"={{ $json.phone_number }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"id_contato_chatwoot","fieldValue":"={{ $json.contact_id }}"},{"fieldId":"id_conversa_chatwoot","fieldValue":"={{ $json.conversation_id }}"},{"fieldId":"sem_interesse","fieldValue":"={{ true }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[816,-128],"id":"fa938c6b-66b8-40a6-a708-64c802dd9e68","name":"Update a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1040,32],"id":"900a669e-428d-4ddc-affc-790dd3671f13","name":"Wait","webhookId":"385bf283-8b08-435a-998d-d8d35b53baf0"},{"parameters":{"useCustomSchema":true,"operation":"getAll","tableId":"whatsapp_bdr","returnAll":true,"matchType":"allFilters"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[320,-304],"id":"c8cbbac6-cb72-4c16-8399-ba47efef50eb","name":"Get many rows","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"select distinct con.\"name\" nome, con.phone_number, me.inbox_id, con.id contact_id, co.display_id conversation_id, meo.cont\n  from public.messages me\n  join (SELECT me.conversation_id, me.inbox_id, count(1) cont\n\t\t  from public.messages me\n\t\t where me.message_type in ('0','1')\n\t\t group by me.conversation_id, me.inbox_id) meo\n    on me.conversation_id = meo.conversation_id\n   and me.inbox_id = meo.inbox_id\n  join conversations co \n    on me.conversation_id = co.id\n  join contacts con\n    on con.id = co.contact_id\n  where me.message_type = 1\n\tand me.\"content\"  is not null\n\tand me.inbox_id in (38)\n\tand (co.cached_label_list like '%sem_interesse%' or me.content = 'Não tenho interesse' )\n\t--and meo.cont = 1\n    --and me.created_at < '2026-04-09T18:50:34.393Z'\n    --and con.phone_number = '{{ $json.Telefone }}'\n","options":{"connectionTimeout":30}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[336,-64],"id":"9dc6a57c-f3e9-48f1-87a7-7fa4f8143d0c","name":"chatwoot","credentials":{"postgres":{"id":"uSdxNemJ9RfhxUg0","name":"Postgres - Chatwoot"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":39}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[112,-64],"id":"620c7cdc-f356-4760-8272-0372b0992abf","name":"Schedule Trigger"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Update a row","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get many rows":{"main":[[]]},"chatwoot":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"chatwoot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":-1},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2c59aacc-67bc-4fdc-8f96-3e58916c3f80","activeVersionId":null,"versionCounter":158,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-09T21:33:46.423Z","createdAt":"2026-04-09T21:33:46.423Z","role":"workflow:owner","workflowId":"0FsjckEY7X5YCYca","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}