workflows_extracted/4mYcv5TOvlEm1OeZ.json
{"updatedAt":"2026-04-09T21:33:34.688Z","createdAt":"2026-04-09T21:00:24.700Z","id":"4mYcv5TOvlEm1OeZ","name":"corrije_tabela_form","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"select con.\"name\" nome ,me.id, me.inbox_id, con.id contact_id, co.display_id conversation_id, me.\"content\", me.created_at, me.updated_at,\n       meo.cont\n  from public.messages me\n  join (SELECT me.conversation_id, me.inbox_id, count(1) cont\n\t\t  from public.messages me\n\t\t where me.message_type in ('0','1')\n\t\t group by me.conversation_id, me.inbox_id) meo\n    on me.conversation_id = meo.conversation_id\n   and me.inbox_id = meo.inbox_id\n  join conversations co \n    on me.conversation_id = co.id\n  join contacts con\n    on con.id = co.contact_id\n  where me.message_type = 1\n\tand me.\"content\"  is not null\n\tand me.inbox_id in (34)\n\tand (co.cached_label_list not like '%sem_interesse%' and me.content <> 'Não tenho interesse' )\n\tand meo.cont > 1\n    and me.created_at < '2026-02-23T18:50:34.393Z'\n  order by me.created_at desc","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,128],"id":"bb163623-6b62-4a4e-8be7-b61ae3a03d76","name":"chatwoot","credentials":{"postgres":{"id":"uSdxNemJ9RfhxUg0","name":"Postgres - Chatwoot"}}},{"parameters":{"batchSize":25,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[464,128],"id":"d5f44f20-213a-450b-a1a4-976f981ebf7f","name":"Loop Over Items"},{"parameters":{"operation":"update","tableId":"sdr_whatsapp_forms","matchType":"allFilters","filters":{"conditions":[{"keyName":"id_contato_chatwoot","condition":"eq","keyValue":"={{ $json.contact_id }}"},{"keyName":"id_conversa_chatwoot","condition":"eq","keyValue":"={{ $json.conversation_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"interagiu","fieldValue":"={{ true }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[736,48],"id":"6b1cbb05-08fd-4971-8920-0734c0b976ee","name":"Update a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[992,144],"id":"e4110704-d90d-428f-b99f-b418968c8f46","name":"Wait","webhookId":"6e53f6ff-2281-404b-aca1-4a124a91f095"},{"parameters":{"rule":{"interval":[{"triggerAtHour":18,"triggerAtMinute":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[16,128],"id":"bae0f704-4ffe-4ac9-ba96-161bfa77a119","name":"Schedule Trigger"}],"connections":{"chatwoot":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Update a row","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"chatwoot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":-1},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6d778ecd-0c8e-4666-a5ff-68510d05114b","activeVersionId":null,"versionCounter":13,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-09T21:00:24.700Z","createdAt":"2026-04-09T21:00:24.700Z","role":"workflow:owner","workflowId":"4mYcv5TOvlEm1OeZ","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}