workflows_extracted/71DPNrJ4J0TB-6PvmGUzx.json
{"updatedAt":"2026-03-12T16:30:26.215Z","createdAt":"2026-02-17T05:30:18.711Z","id":"71DPNrJ4J0TB-6PvmGUzx","name":"WF_Negociacao","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"chatid"},{"name":"mensagem"},{"name":"urlchatwoot"},{"name":"account_id"},{"name":"conversation_id"},{"name":"chatwoottoken"},{"name":"contact_id"},{"name":"tipo_fluxo"},{"name":"tabela_whatsapp"}]}},"id":"1f354b93-a307-45ae-82f3-9bf587d2a96b","name":"Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[2656,432]},{"parameters":{"operation":"get","tableId":"={{ $('Workflow Trigger').item.json.tabela_whatsapp }}","filters":{"conditions":[{"keyName":"Telefone","keyValue":"={{ $('Workflow Trigger').item.json.chatid }}"}]}},"id":"e2636069-caae-470c-ae0a-b679611ac699","name":"Get Lead State","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3104,432],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"jsCode":"\nconst trigger = $('Workflow Trigger').first().json;\nconst leadDb  = $input.first().json || {};\n\nconst leadData = {\n  Nome       : leadDb.Nome       || leadDb.nome       || null,\n  Email      : leadDb.Email      || leadDb.email      || null,\n  CPF        : leadDb.CPF        || leadDb.cpf        || null,\n  Telefone   : leadDb.Telefone   || trigger.chatid,\n  QtdPessoas : leadDb.QtdPessoas || leadDb.qtd_pessoas || null,\n  Navio      : leadDb.Navio      || leadDb.navio       || null,\n  Estilo     : leadDb.Estilo     || leadDb.estilo      || null,\n  Orcamento  : leadDb.Orcamento  || leadDb.orcamento   || null,\n  Pontuacao  : parseInt(leadDb.Pontuacao || leadDb.pontuacao || 0),\n  Status     : leadDb.Status     || leadDb.status       || 'BAIXA',\n  Etapa      : leadDb.Etapa      || leadDb.etapa       || 'negociacao',\n  ja_fez_cruzeiro   : leadDb.ja_fez_cruzeiro   !== undefined ? leadDb.ja_fez_cruzeiro   : null,\n  valores_enviados  : leadDb.valores_enviados   || false,\n  tentativas_valor  : parseInt(leadDb.tentativas_valor || 0),\n  em_qual_etapa     : leadDb.em_qual_etapa || 'e1'\n};\n\nconst context = {\n  chatid          : trigger.chatid,\n  mensagem        : trigger.mensagem,\n  urlchatwoot     : trigger.urlchatwoot,\n  account_id      : trigger.account_id,\n  conversation_id : trigger.conversation_id,\n  chatwoottoken   : trigger.chatwoottoken,\n  contact_id      : trigger.contact_id,\n  lead_data       : leadData\n};\n\nreturn [{ json: { context, leadData, trigger } }];"},"id":"6f73905a-c9ee-47fd-b7f0-8662385db161","name":"Prepare Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[3328,432]},{"parameters":{"jsCode":"const trigger      = $('Workflow Trigger').first().json;\nconst promptResult = $('Call WF_MontarPrompt1').first().json;\nconst kbResult     = $input.first().json;\n\nconst kbContext = kbResult.textoFormatado || '';\nconst systemMessage = promptResult.systemMessage\n  + (kbContext\n      ? '\\n\\n# CONTEXTO DA BASE DE CONHECIMENTO (use estas informações para responder)\\n' + kbContext\n      : '');\n\nreturn [{ json: {\n  systemMessage,\n  userMessage : trigger.mensagem,\n  etapa       : promptResult.etapa,\n  chatid      : trigger.chatid,\n  urlchatwoot : trigger.urlchatwoot,\n  account_id  : trigger.account_id,\n  conversation_id : trigger.conversation_id,\n  chatwoottoken   : trigger.chatwoottoken,\n  contact_id      : trigger.contact_id\n} }];"},"id":"cef323c4-2cf4-44b9-b550-5b8827719316","name":"Combine Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[3104,960],"disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.userMessage }}","options":{"systemMessage":"={{ $json.systemMessage }}"}},"id":"24d0ead8-4bd7-46e8-af40-a5bf28699f5e","name":"AI Agent Negociacao","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[3840,432]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Workflow Trigger').item.json.chatid }}_{{ $('Workflow Trigger').item.json.tipo_fluxo }}","tableName":"promo","contextWindowLength":100},"id":"f2ef4e55-adad-4bc7-910f-ce2316f9b0d4","name":"Memory Postgres","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3904,656],"credentials":{"postgres":{"id":"TTrqj0rnakiukRd7","name":"Postgres account"}}},{"parameters":{"jsCode":"const trigger   = $('Workflow Trigger').first().json;\nlet rawText = ($input.first().json.output || $input.first().json.text || '');\n\nlet parsed = {};\ntry {\n  const cleaned = rawText\n    .replace(/```json\\n?/g, '')\n    .replace(/```\\n?/g, '')\n    .trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = {\n    resposta: rawText,\n    acoes: {\n      salvar_lead       : null,\n      enviar_video      : false,\n      pausar_atendimento: false,\n      handoff           : false,\n      resumo_handoff    : null\n    }\n  };\n}\n\nconst acoes   = parsed.acoes || {};\nconst resposta = parsed.resposta || rawText;\n\nreturn [{\n  json: {\n    resposta,\n    acoes_salvar_lead       : acoes.salvar_lead        || null,\n    acoes_enviar_video      : acoes.enviar_video       === true,\n    acoes_pausar            : acoes.pausar_atendimento === true,\n    acoes_handoff           : acoes.handoff            === true,\n    acoes_resumo_handoff    : acoes.resumo_handoff     || null,\n    chatid                  : trigger.chatid,\n    urlchatwoot             : trigger.urlchatwoot,\n    account_id              : trigger.account_id,\n    conversation_id         : trigger.conversation_id,\n    chatwoottoken           : trigger.chatwoottoken,\n    contact_id              : trigger.contact_id,\n    enviar_materiais        : acoes.enviar_materiais || false\n              \n  }\n}];"},"id":"9d8f6c7b-43c2-4062-9ef9-38d9a4daee7e","name":"Extract JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[4752,432]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if-handoff","leftValue":"={{ $('Extract JSON').first().json.acoes_handoff }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"6daff51e-e89f-486e-900a-099c350bd541","name":"IF Handoff?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5200,432]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if-pausar","leftValue":"={{ $('Extract JSON').first().json.acoes.pausar_atendimento }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"8acdec49-eb2a-4aa2-9099-998d9748b2e5","name":"IF Pausar?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5424,496]},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"builtInTools":{},"options":{"temperature":0.7,"topP":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3776,656],"id":"b1ce2b96-09e2-4f51-a664-4bbb1d936265","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"V6KXtm34XKIltVzc","name":"OpenAi account"}}},{"parameters":{"jsCode":"const trigger  = $('Workflow Trigger').first().json;\nconst leadData = $('Prepare Context').first().json.leadData || {};\nconst mensagem = (trigger.mensagem || '').toLowerCase()\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n\nconst kwCruzeiros = [\n  'navio','artista','show','musica','camarote','experience resource','suite','varanda','interior',\n  'preco','valor','quanto','custa','parcela','entrada','sinal','reserva','disponivel',\n  'data','quando sai','quando vai','destino','rota','itinerario',\n  'noite','dia','duracao','cancun','miami','bahamas','caribe','mediterran',\n  'oceanview','balcao','janela'\n];\n\nconst kwConhecimento = [\n  'inclui','incluso','inclusa','o que tem','o que esta','o que vem',\n  'bebida','alcool','refrigerante','suco','alimentacao','refeicao','cafe','almoco','jantar',\n  'boleto','pix','cartao','credito','debito','forma de pagamento','parcelamento','como pago',\n  'como funciona','processo','como faz','documento','rg','passaporte','cpf',\n  'crianca','menor','idoso','acessibilidade',\n  'transfer','onibus','chegada','check-in','check-out','porto','santos',\n  'seguro','cancelamento','devolucao','reembolso','politica',\n  'wifi','internet','spa','academia','piscina','restaurante',\n  'contato','telefone','whatsapp','email','simone','consultora','falar com',\n  'duvida','pergunta','informacao','mais detalhes'\n];\n\nlet ptsCruzeiros = 0;\nlet ptsConhecimento = 0;\n\nfor (const kw of kwCruzeiros)    { if (mensagem.includes(kw)) ptsCruzeiros++; }\nfor (const kw of kwConhecimento) { if (mensagem.includes(kw)) ptsConhecimento++; }\n\n// Se lead já tem navio definido e mensagem tem keyword de cruzeiro → peso extra\nif (leadData.Navio && ptsCruzeiros > 0) ptsCruzeiros += 2;\n\n// Empate → no contexto de pagamento prioriza 'conhecimento' (FAQ de pagamento)\nconst tipo_kb = ptsCruzeiros > ptsConhecimento ? 'cruzeiros' : 'conhecimento';\n\n// Propagar tudo que veio do Call WF_MontarPrompt + o tipo decidido\nconst promptData = $('Call WF_MontarPrompt1').first().json;\n\nreturn [{\n  json: {\n    ...promptData,\n    tipo_kb,\n    _classify_debug: { ptsCruzeiros, ptsConhecimento, decisao: tipo_kb }\n  }\n}];"},"id":"124da6c7-60b8-4e24-96bf-a4380723005b","name":"Classify Query Type","type":"n8n-nodes-base.code","typeVersion":2,"position":[2656,960],"disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"QoWQ5vLJaIH4YnnoHe89l","mode":"list","cachedResultUrl":"/workflow/QoWQ5vLJaIH4YnnoHe89l","cachedResultName":"WF_Busca_KB"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $('Workflow Trigger').item.json.mensagem }}","tipo":"={{ $json.tipo_kb }}","top_k":"10"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"top_k","displayName":"top_k","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2880,960],"id":"8f31a87c-181f-4342-9ab7-164bc2af6188","name":"Call 'WF_Busca_KB'","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"57KcjE7oMBc0ryeqvzZPt","mode":"list","cachedResultUrl":"/workflow/57KcjE7oMBc0ryeqvzZPt","cachedResultName":"WF_MontarPrompt"},"workflowInputs":{"mappingMode":"defineBelow","value":{"context":"={{ $json.context }}","etapa":"negociacao","tipo_fluxo":"={{ $('Workflow Trigger').item.json.tipo_fluxo }}"},"matchingColumns":[],"schema":[{"id":"context","displayName":"context","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"etapa","displayName":"etapa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"2640f5ce-3bdc-4a33-a517-fe401d7e7a42","name":"Call WF_MontarPrompt1","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3552,432]},{"parameters":{"workflowId":{"__rl":true,"value":"MlEIWkRbc5zuGNOkw_b-o","mode":"list","cachedResultUrl":"/workflow/MlEIWkRbc5zuGNOkw_b-o","cachedResultName":"WF_Salvar_Lead"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Telefone":"={{ $('Workflow Trigger').first().json.chatid }}","etapa":"={{ $('Extract JSON').first().json.acoes_salvar_lead.Etapa || null }}","origem":"=whatsapp","chatwoottoken":"={{ $('Workflow Trigger').first().json.chatwoottoken }}","urlchatwoot":"={{ $('Workflow Trigger').first().json.urlchatwoot }}","account_id":"={{ $('Workflow Trigger').first().json.account_id }}","conversation_id":"={{ $('Workflow Trigger').first().json.conversation_id }}","contact_id":"={{ $('Workflow Trigger').first().json.contact_id }}","Status":"={{ $('Extract JSON').first().json.acoes_salvar_lead.Status || 'BAIXA' }}","QtdPessoas":"={{ String($('Extract JSON').first().json.acoes_salvar_lead.QtdPessoas) || null }}","Orcamento":"={{ String($('Extract JSON').first().json.acoes_salvar_lead.Orcamento) || null }}","Navio":"={{ $('Extract JSON').first().json.acoes_salvar_lead.Navio || null }}","Estilo":"={{ $('Extract JSON').first().json.acoes_salvar_lead.Estilo || null }}","CPF":"={{ $('Extract JSON').first().json.acoes_salvar_lead.CPF || null }}","Email":"={{ $('Extract JSON').first().json.acoes_salvar_lead.Email || null }}","Nome":"={{ $('Extract JSON').first().json.acoes_salvar_lead.Nome || null }}","resposta":"={{ $('Workflow Trigger').first().json.mensagem }}","Pontuacao":"={{ String($('Extract JSON').first().json.acoes_salvar_lead.Pontuacao || 0) }}","em_qual_etapa":"={{ $('Extract JSON').first().json.acoes_salvar_lead.em_qual_etapa }}","tipo_fluxo":"={{ $('Workflow Trigger').first().json.tipo_fluxo }}","tabela_whatsapp":"={{ $('Workflow Trigger').first().json.tabela_whatsapp }}"},"matchingColumns":[],"schema":[{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Estilo","displayName":"Estilo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Navio","displayName":"Navio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Orcamento","displayName":"Orcamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"QtdPessoas","displayName":"QtdPessoas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contact_id","displayName":"contact_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"urlchatwoot","displayName":"urlchatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa","displayName":"etapa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resposta","displayName":"resposta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Pontuacao","displayName":"Pontuacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"em_qual_etapa","displayName":"em_qual_etapa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[4976,432],"id":"fbcd85e2-9947-40ce-b3f3-cfc46897aadd","name":"Exec WF_Salvar_Lead"},{"parameters":{"workflowId":{"__rl":true,"value":"DhJx82Syv81AzAaW","mode":"list","cachedResultUrl":"/workflow/DhJx82Syv81AzAaW","cachedResultName":"WF_HANDOFF"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phoneNumber":"={{ $('Workflow Trigger').first().json.chatid }}","resumoConversa":"={{ $('Extract JSON').first().json.acoes_resumo_handoff }} || 'Lead qualificado para atendimento.' }}","sessionId":"={{ $('Workflow Trigger').first().json.chatid }}","contactId":"={{ $('Workflow Trigger').first().json.contact_id }}","urlChatwoot":"={{ $('Workflow Trigger').first().json.urlchatwoot }}","tokenChatwoot":"={{ $('Workflow Trigger').first().json.chatwoottoken }}","accountId":"={{ $('Workflow Trigger').first().json.account_id }}","conversationId":"={{ $('Workflow Trigger').first().json.conversation_id }}","origem":"whatsapp","tipo_fluxo":"={{ $('Workflow Trigger').first().json.tipo_fluxo }}","tabela_whatsapp":"={{ $('Workflow Trigger').first().json.tabela_whatsapp }}","navio":"={{ $('Get Lead State').first().json.Navio }}"},"matchingColumns":[],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resumoConversa","displayName":"resumoConversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"urlChatwoot","displayName":"urlChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"qtdPessoas","displayName":"qtdPessoas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"navio","displayName":"navio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"estilo","displayName":"estilo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"qualificacao","displayName":"qualificacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"campanha","displayName":"campanha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"nomeCompleto","displayName":"nomeCompleto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[5872,256],"id":"7eacaeb3-38a4-4173-881c-057fc71261cc","name":"Exec WF_HANDOFF"},{"parameters":{"workflowId":{"__rl":true,"value":"TIy-YJepMR4ox2Z6pCVZv","mode":"list","cachedResultUrl":"/workflow/TIy-YJepMR4ox2Z6pCVZv","cachedResultName":"[sem_interesse]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"urlChatwoot":"={{ $('Workflow Trigger').first().json.urlchatwoot }}","tokenChatwoot":"={{ $('Workflow Trigger').first().json.chatwoottoken }}","accountId":"={{ $('Workflow Trigger').first().json.account_id }}","contactId":"={{ $('Workflow Trigger').first().json.contact_id }}","origem":"whatsapp","tipo_fluxo":"={{ $('Workflow Trigger').first().json.tipo_fluxo }}","tabela_whatsapp":"={{ $('Workflow Trigger').first().json.tabela_whatsapp }}"},"matchingColumns":[],"schema":[{"id":"urlChatwoot","displayName":"urlChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[5648,400],"id":"93ae673d-7369-49b1-81fb-109473c6a81f","name":"Exec Pausar Atendimento"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[4224,1072],"id":"7dc0e541-4924-47fe-a349-7a3de4d695fe","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"V6KXtm34XKIltVzc","name":"OpenAi account"}}},{"parameters":{"model":"gpt-4.1","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[4256,864],"id":"a58c5f68-bf1c-471d-bb52-b4fa44adb641","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"V6KXtm34XKIltVzc","name":"OpenAi account"}}},{"parameters":{"tableName":"basedeconhecimento","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[4384,864],"id":"938017dd-b079-43d8-8c78-0cb88004865a","name":"base vetorial de conhecimento promo","credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}}},{"parameters":{"name":"consultar_base_conhecimento","description":"=# Ferramenta: `consultar_base_conhecimento`\n\nData de hoje: {{ $now.format('dd-MM-yyyy') }}\n\n---\n\n## O que ela faz\nConsulta um índice vetorial (Simple Vector Store) com a **base de conhecimento geral** da Demo Events Co: informações sobre a **empresa**, **navio MSC Divina**, **experience resource**, **pacotes**, **rota/embarque**, **transfer**, **FAQs** e **quebra de objeções**.  \nCada documento do índice representa **um único tópico atômico** (ex.: \"Empresa - Credibilidade\", \"experience resource - Varanda Experience\", \"FAQ - É golpe?\"), maximizando precisão na recuperação.\n\n## Quando usar\n- Perguntas sobre a **empresa** (credibilidade, CNPJ, histórico, modelo de operação).\n- Perguntas sobre o **navio MSC Divina** (estrutura, destaques, Yacht Club).\n- Perguntas sobre **experience resource** (tipos, tamanhos, benefícios, diferenças).\n- Perguntas sobre **pacotes** (o que inclui, o que não inclui, bebidas Experience).\n- Perguntas sobre **rota/percurso** (trajeto padrão, Réveillon especial).\n- Perguntas sobre **embarque** (local, horários).\n- Perguntas sobre **transfer** (valor, pontos de saída).\n- Perguntas frequentes (**FAQs**) de leads.\n- **Quebra de objeções** (respostas sugeridas com técnicas de venda).\n- **Diferenciais de venda** (argumentos matadores para conversão).\n\n## Quando NÃO usar\n- **Preços específicos** de cruzeiros → usar `consulta_cruzeiros`\n- **Datas de embarque** → usar `consulta_cruzeiros`\n- **Disponibilidade de experience resource** → usar `consulta_cruzeiros`\n- **Artistas confirmados** por cruzeiro → usar `consulta_cruzeiros`\n- **Formas de pagamento** → usar bloco `pagamento` do prompt (inline)\n\n## Entradas (parâmetros)\n- `query` *(string, obrigatório)*: texto livre da pergunta do lead ou intenção de busca.\n- `top_k` *(int, opcional; padrão = 3)*: número de documentos a retornar.\n- `filters` *(objeto, opcional)*:\n  - `topic` *(enum)*: filtrar por categoria específica.\n  - `subtopic` *(string)*: filtrar por subcategoria.\n  - `faq_type` *(string)*: filtrar FAQs por tipo.\n  - `objecao_tipo` *(string)*: filtrar objeções por categoria.\n\n## Tópicos disponíveis (enum `topic`)\n| Topic | Conteúdo |\n|-------|----------|\n| `empresa` | Dados institucionais, credibilidade, modelo de operação |\n| `navio` | MSC Divina, estrutura, destaques, Yacht Club |\n| `experience resource` | Todas as categorias (Interna até Yacht Club) |\n| `pacotes` | O que inclui, não inclui, bebidas Experience |\n| `rota` | Trajeto padrão, Réveillon especial |\n| `embarque` | Local (Santos), horários |\n| `transfer` | Valor, pontos de saída |\n| `faq` | Perguntas frequentes com respostas |\n| `objecoes` | Respostas sugeridas + técnicas de venda |\n| `vendas` | Diferenciais matadores para conversão |\n\n## Normalizações & Regras de negócio\n- **Aliases**: aceita variações de termos:\n  - \"golpe\", \"fake\", \"confiável\" → `faq` (confiança)\n  - \"percurso\", \"trajeto\", \"rota\", \"por onde passa\" → `rota`\n  - \"o que vem\", \"incluso\", \"incluído\" → `pacotes`\n  - \"caro\", \"muito caro\", \"não tenho dinheiro\" → `objecoes` (preço)\n  - \"pensar\", \"vou pensar\", \"consultar esposa\" → `objecoes` (decisão)\n- **Keywords**: cada documento tem palavras-chave para matching.\n- **Entities**: documentos podem ter entidades associadas (ex.: \"MSC Divina\", \"Sophia Loren\").\n- **Prioridade de busca**:\n  1. Match exato de `topic` + `keywords`\n  2. Match por `aliases`\n  3. Similaridade semântica geral\n\n## Saída (formato determinístico)\nArray ordenado por relevância. Cada item:\n\n```json\n{\n  \"doc_id\": \"faq_confianca_golpe\",\n  \"topic\": \"faq\",\n  \"subtopic\": \"confianca\",\n  \"title\": \"FAQ: É golpe? É confiável?\",\n  \"content\": \"A Demo Events Co é 100% confiável:\\n- 20 anos de mercado (desde 2006)\\n- CNPJ ativo: 08.035.509/0001-81\\n- 300.000+ passageiros já embarcados...\",\n  \"keywords\": [\"golpe\", \"confiável\", \"seguro\", \"verdade\", \"fake\", \"fraude\"],\n  \"aliases\": [\"é golpe\", \"é confiável\", \"posso confiar\", \"é verdade\", \"é fake\"],\n  \"score\": 0.92\n}\n```\n\n**Campos:**\n- `doc_id`: identificador único do documento.\n- `topic`: categoria principal.\n- `subtopic`: subcategoria (se aplicável).\n- `title`: título descritivo.\n- `content`: conteúdo textual para resposta.\n- `keywords`: palavras-chave associadas.\n- `aliases`: variações de perguntas que matcheiam este documento.\n- `score`: similaridade/relevância (0–1).\n\n## Saída especial para objeções\nQuando `topic = objecoes`, a saída inclui campos extras:\n\n```json\n{\n  \"doc_id\": \"objecao_caro\",\n  \"topic\": \"objecoes\",\n  \"subtopic\": \"preco\",\n  \"objecao\": \"Tá caro / Muito caro / Não tenho dinheiro\",\n  \"respostas_sugeridas\": [\n    \"Entendo que é um investimento! Mas pensa: são 3-4 dias com hospedagem, alimentação completa 24h, shows de artistas...\",\n    \"Posso te mostrar a experience resource interna que é mais acessível? E ainda parcela em até 12x sem juros.\"\n  ],\n  \"tecnica_venda\": \"Ancoragem de valor + comparativo + parcelamento + downsell\",\n  \"keywords\": [\"caro\", \"muito caro\", \"não tenho\", \"preço alto\"],\n  \"score\": 0.88\n}\n```\n\n## Estratégia de recuperação e ranqueamento\n1. **Filtro por `topic`** (se fornecido) → reduz universo de busca.\n2. **Match de `keywords`** e `aliases` → bônus alto para match exato.\n3. **Embedding similarity** da `query` contra `text` dos documentos.\n4. **Ordenação final** por score composto.\n\n## Comportamento em falhas/ausências\n- **Sem resultados**: retornar vazio e sugerir reformulação:\n  - \"Não encontrei informação específica sobre isso. Pode reformular a pergunta?\"\n- **Query ambígua**: retornar `top_k` diversos com explicação:\n  - \"Encontrei informações sobre [X] e [Y]. Qual delas te interessa?\"\n- **Fora do escopo**: informar que não temos a informação e redirecionar:\n  - \"Essa informação não está na nossa base. Posso te ajudar com algo sobre nossos cruzeiros temáticos?\"\n\n## Exemplos (few-shots)\n\n**Entrada**\n```json\n{\n  \"query\": \"isso é golpe?\",\n  \"top_k\": 1\n}\n```\n**Saída (resumo)**\n- Top-1: `faq_confianca_golpe` — \"A Demo Events Co é 100% confiável: 20 anos de mercado, CNPJ ativo...\"\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"qual o percurso do navio?\",\n  \"top_k\": 1\n}\n```\n**Saída (resumo)**\n- Top-1: `rota_trajeto` — \"Santos → Búzios → Angra dos Reis → Santos. Nem sempre é exatamente essa rota, mas quase sempre segue esse trajeto!\"\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"tá muito caro\",\n  \"filters\": { \"topic\": \"objecoes\" },\n  \"top_k\": 1\n}\n```\n**Saída (resumo)**\n- Top-1: `objecao_caro` — Respostas sugeridas + técnica \"Ancoragem de valor + comparativo + parcelamento\"\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"diferença entre varanda e varanda experience\",\n  \"top_k\": 2\n}\n```\n**Saída (resumo)**\n- Top-1: `faq_varanda_vs_experience` — \"A experience resource física é similar. A diferença é o pacote de benefícios!\"\n- Top-2: `cabine_varanda_experience` — Detalhes dos benefícios Experience\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"o que está incluso no pacote?\",\n  \"top_k\": 1\n}\n```\n**Saída (resumo)**\n- Top-1: `pacotes_incluso` — \"Shows, alimentação completa (café, almoço, jantar, madrugada), acomodação, serviço 24h...\"\n\n## Restrições & Garantias\n- **Não inventar** informações: só retornar o que está no índice.\n- **Não usar para preços**: preços vêm de `consulta_cruzeiros`.\n- **Não usar para pagamento**: formas de pagamento estão inline no prompt.\n- **Formato fixo**: sempre retornar array de objetos conforme especificação.\n- **Atualização**: base reflete informações da temporada 2026/2027 com MSC Divina.\n\n## Observação de implementação\nO índice foi construído com documentos **atômicos por tópico** (texto + metadados) seguindo a estrutura:\n```json\n{\n  \"data\": [\n    {\n      \"text\": \"conteúdo...\",\n      \"metadata\": {\n        \"doc_id\": \"...\",\n        \"topic\": \"...\",\n        \"keywords\": [...],\n        \"aliases\": [...]\n      }\n    }\n  ]\n}\n```\nEmbeddings compatíveis com OpenAI (`text-embedding-3-small`). Para **persistência**, usar **pgvector/Pinecone/Qdrant** mantendo o mesmo contrato.","topK":100},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[4384,656],"id":"cbe90043-a496-4566-a39a-ac058e91e59b","name":"consultar_base_conhecimento"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"125d23fd-a4b2-41fb-ad49-aa914b9ce823","leftValue":"={{ $('Extract JSON').item.json.enviar_materiais }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[5648,592],"id":"0d89d9ca-ad89-4464-8567-41182c20fea5","name":"Enviar Material Marketing"},{"parameters":{"operation":"delete","key":"={{ $json.chatid }}_{{ $json.tipo_fluxo }}"},"id":"e7c15d4f-06f7-4b5b-b455-f04439afa7f5","name":"Clear Redis Memory on Reset1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2880,432],"credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"0RzDPFar6zDMX7f5IcDI6","mode":"list","cachedResultUrl":"/workflow/0RzDPFar6zDMX7f5IcDI6","cachedResultName":"Enviar Mensagem - Novo Fluxo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Workflow Trigger').first().json.chatid }}","resposta":"={{ $('Extract JSON').first().json.resposta }}","accountid":"={{ $('Workflow Trigger').first().json.account_id }}","chatwooturl":"={{ $('Workflow Trigger').first().json.urlchatwoot }}","chatwoottoken":"={{ $('Workflow Trigger').first().json.chatwoottoken }}","conversationid":"={{ $('Workflow Trigger').first().json.conversation_id }}","origem":"whatsapp","tipo_fluxo":"={{ $('Workflow Trigger').first().json.tipo_fluxo }}","tabela_whatsapp":"={{ $('Workflow Trigger').first().json.tabela_whatsapp }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"accountid","displayName":"accountid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwooturl","displayName":"chatwooturl","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversationid","displayName":"conversationid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resposta","displayName":"resposta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[6096,528],"id":"f5aef446-15e4-4b2f-ab74-8a0d64572489","name":"Call 'Enviar Mensagem - Novo Fluxo'"},{"parameters":{"description":"=# Ferramenta: `consulta_cruzeiros`\n\nData de hoje: {{ $now.format('dd-MM-yyyy') }}\n\nREGRA DE DATA (DURA)\n- Considere a data de início como `metadata.metadata.departure_date` (formato YYYY-MM-DD).\n- Se `departure_date` for anterior a HOJE, IGNORE completamente o item (não retorne no array).\n- Se existirem dois eventos do mesmo artista (um passado e um futuro), retorne SOMENTE o futuro.\n\nOBJETIVO\nVocê responde perguntas sobre cruzeiros temáticos consultando um índice vetorial com documentos atômicos por experience resource.\nVocê deve retornar APENAS um JSON (array) com itens normalizados, incluindo SEMPRE as informações do navio/cruzeiro disponíveis no metadata, com destaque para `attractions`.\n\nQUANDO USAR\n- Perguntas de preço (por pessoa) e total por nº de pessoas.\n- Perguntas sobre NAVIO, datas/noites, embarque, experience resource, ocupação.\n- Perguntas sobre ATRAÇÕES / artistas / lineup (neste caso, SEMPRE preencher `attractions`).\n\nENTRADA\nVocê recebe uma intenção em texto (pergunta do lead). Use isso para montar `query` e filtros.\n\nREGRAS DE EXTRAÇÃO (MUITO IMPORTANTE)\nPara cada documento retornado pelo índice:\n1) Fonte primária dos campos: `metadata.metadata` (objeto interno).\n2) Fallback (somente se o campo NÃO existir no metadata): parsear `pageContent`.\n3) NUNCA inventar valores. Se não existir, usar `null` (ou array vazio para listas).\n\nATRAÇÕES (REGRA DURA)\n- `attractions` deve vir de `metadata.metadata.attractions` quando existir.\n- Se `metadata.metadata.attractions` não existir, usar `metadata.metadata.headliners`.\n- Se também não existir, extrair de `pageContent` na linha que começa com \"Atrações:\" separando por vírgula (quando possível).\n- O retorno deve incluir `attractions` sempre (array; pode ser vazio).\n\nNORMALIZAÇÕES\n- `cabins` deve vir de `metadata.metadata.cabins` quando existir.\n- `cabins.cabin_type` deve vir de `metadata.cabins.cabin_type` quando existir.\n- `cabins.price_pp_brl` deve vir de `metadata.cabins.price_pp_brl` quando existir.\n- `cabins` é um objeto que contem todas as experience resource disponiveis.\n\n- experience resource (sinônimos):\n  - “suíte”, “suite” → `suite`\n  - “varanda”, “sacada”, “balcão” → `varanda`\n  - “externa”, “janela”, “vista mar” → `externa`\n  - “interna”, “standard” → `interna`\n- Preços: `price_pp_brl` é por pessoa e com taxas; total = `pessoas * price_pp_brl` quando `pessoas` existir.\n- Moeda: BRL (não converter).\n- Disponibilidade: assumir que o índice já contém apenas experience resource disponíveis.\n\nDEDUPE (REGRA DE NEGÓCIO)\n- Se múltiplos resultados forem do MESMO cruzeiro (`slug` igual) e o lead perguntar apenas “atrações/artistas/lineup” (sem experience resource),\n  retorne apenas 1 item por `slug` (escolha o de maior relevância; em empate, menor `price_pp_brl`).\n\nORÇAMENTO (SE INFORMADO)\n- Se houver `orcamento_max_pp` e/ou `orcamento_max_total`, marque `within_budget`:\n  - `within_budget = true` se respeitar o teto; senão `false`.\n\nFORMATO DE SAÍDA (DETERMINÍSTICO)\nRetorne APENAS um array JSON ordenado por relevância.\nCada item deve ter EXATAMENTE estes campos (mesmo que alguns sejam null/[]):\n\n[\n  {\n    \"cruise_name\": \"<string|null>\",\n    \"display_name\": \"<string|null>\",\n    \"slug\": \"<string|null>\",\n    \"ship\": \"<string|null>\",\n    \"theme\": \"<string|null>\",\n\n    \"departure_date\": \"<YYYY-MM-DD|null>\",\n    \"return_date\": \"<YYYY-MM-DD|null>\",\n    \"date_nights\": \"<string|null>\",\n    \"nights\": \"<int|null>\",\n\n    \"embark\": \"<string|null>\",\n    \"embark_state\": \"<string|null>\",\n    \"embark_country\": \"<string|null>\",\n\n    \"cabin_type\": \"<interna|externa|varanda|suite|yacht_club|null>\",\n    \"cabin_display\": \"<string|null>\",\n    \"occupancy\": \"<string|null>\",\n\n    \"currency\": \"BRL\",\n    \"price_pp_brl\": \"<number|null>\",\n    \"pessoas\": \"<int|null>\",\n    \"total_price_brl\": \"<number|null>\",\n    \"price_cabin_total_brl\": \"<number|null>\",\n    \"price_per_night\": \"<number|null>\",\n    \"port_fee_per_person\": \"<number|null>\",\n    \"fees_included\": \"<boolean|null>\",\n\n    \"headliners\": \"<string[]|[]>\",\n    \"attractions\": \"<string[]|[]>\",\n    \"normalized_artists\": \"<string[]|[]>\",\n    \"search_keywords\": \"<string[]|[]>\",\n\n    \"within_budget\": \"<boolean|null>\",\n    \"score\": \"<number|null>\",\n    \"source_preview\": \"<string>\"\n  }\n]\n\nMAPEAMENTO (COMO PREENCHER)\n- Preferir sempre `metadata.metadata`:\n  - cruise_name        = metadata.metadata.cruise_name\n  - display_name       = metadata.metadata.display_name\n  - slug               = metadata.metadata.slug\n  - ship               = metadata.metadata.cruise_name\n  - theme              = metadata.metadata.theme\n  - embark             = metadata.metadata.embark\n  - embark_state       = metadata.metadata.embark_state\n  - embark_country     = metadata.metadata.embark_country\n  - departure_date     = metadata.metadata.departure_date\n  - return_date        = metadata.metadata.return_date\n  - date_nights        = metadata.metadata.date_nights\n  - nights             = metadata.metadata.nights\n  - cabin_type         = metadata.metadata.cabin_type (após normalização quando aplicável)\n  - cabin_display      = metadata.metadata.cabin_display\n  - occupancy          = metadata.metadata.occupancy\n  - currency           = metadata.metadata.currency (mas force \"BRL\" se vier vazio)\n  - price_pp_brl       = metadata.metadata.price_pp_brl\n  - price_cabin_total_brl = metadata.metadata.price_cabin_total_brl\n  - price_per_night    = metadata.metadata.price_per_night\n  - port_fee_per_person= metadata.metadata.port_fee_per_person\n  - fees_included      = metadata.metadata.fees_included\n  - headliners         = metadata.metadata.headliners (array)\n  - attractions        = metadata.metadata.attractions (array) [REGRA DURA]\n  - normalized_artists = metadata.metadata.normalized_artists\n  - search_keywords    = metadata.metadata.search_keywords\n\n- `source_preview`: usar um trecho curto de `pageContent` (máx. ~300 chars) contendo Cruzeiro, Data/Noites, Embarque, Atrações, experience resource e Preço.\n\nCOMPORTAMENTO EM AUSÊNCIA\n- Se não houver resultados válidos (após filtro de data), retorne [].\n- Se o lead não informar experience resource/navio/pessoas, ainda assim retorne os top_k mais relevantes, mas mantendo o formato fixo.\n\nIMPORTANTE\n- Retorne SOMENTE o JSON do array, sem explicações, sem texto extra, sem markdown.","workflowId":{"__rl":true,"value":"pnC8WKlZtrV9VY28","mode":"list","cachedResultUrl":"/workflow/pnC8WKlZtrV9VY28","cachedResultName":"WF_consulta_cruzeiros_v2"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $fromAI('query', ``, 'string') }}","top_k":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('top_k', ``, 'string') }}","strict":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('strict', ``, 'string') }}","filters":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('filters', `aqui irão os filtros da consulta, caso ele for vazio ou nulo não enviar esse campo.`, 'json') }}","today_iso":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('today_iso', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"top_k","displayName":"top_k","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"strict","displayName":"strict","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"filters","displayName":"filters","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"today_iso","displayName":"today_iso","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4144,640],"id":"bd04b34d-7d42-4e81-a44a-dc82464b20d5","name":"consulta_cruzeiros"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[4048,784],"id":"d748e409-c443-432a-a710-84ffaea7270a","name":"Calculator"},{"parameters":{"workflowId":{"__rl":true,"value":"3DNfVxt56Z8ccTKL","mode":"list","cachedResultUrl":"/workflow/3DNfVxt56Z8ccTKL","cachedResultName":"[Demo Events Co] [materiais marketing] - Whatsapp"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cruzeiroInteressado":"={{ $('Extract JSON').first().json.acoes_salvar_lead.Navio }}","telefone":"={{ $('Extract JSON').first().json.acoes_salvar_lead.Telefone }}","chatwooturl":"={{ $('Extract JSON').first().json.urlchatwoot }}","chatwoottoken":"={{ $('Extract JSON').first().json.chatwoottoken }}","accountid":"1","conversasionid":"={{ $('Get Lead State').first().json.id_conversa_chatwoot }}","resposta":"={{ $('Extract JSON').first().json.resposta }}"},"matchingColumns":[],"schema":[{"id":"cruzeiroInteressado","displayName":"cruzeiroInteressado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwooturl","displayName":"chatwooturl","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"accountid","displayName":"accountid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversasionid","displayName":"conversasionid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resposta","displayName":"resposta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[5856,544],"id":"f0227811-30cb-42b8-810c-a66e359a493c","name":"Call '[Demo Events Co] [materiais marketing] - Whatsapp'"}],"connections":{"Workflow Trigger":{"main":[[{"node":"Clear Redis Memory on Reset1","type":"main","index":0}]]},"Get Lead State":{"main":[[{"node":"Prepare Context","type":"main","index":0}]]},"Prepare Context":{"main":[[{"node":"Call WF_MontarPrompt1","type":"main","index":0}]]},"Combine Prompt":{"main":[[]]},"Memory Postgres":{"ai_memory":[[{"node":"AI Agent Negociacao","type":"ai_memory","index":0}]]},"AI Agent Negociacao":{"main":[[{"node":"Extract JSON","type":"main","index":0}]]},"Extract JSON":{"main":[[{"node":"Exec WF_Salvar_Lead","type":"main","index":0}]]},"IF Handoff?":{"main":[[{"node":"Exec WF_HANDOFF","type":"main","index":0}],[{"node":"IF Pausar?","type":"main","index":0}]]},"IF Pausar?":{"main":[[{"node":"Exec Pausar Atendimento","type":"main","index":0}],[{"node":"Enviar Material Marketing","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent Negociacao","type":"ai_languageModel","index":0}]]},"Classify Query Type":{"main":[[{"node":"Call 'WF_Busca_KB'","type":"main","index":0}]]},"Call 'WF_Busca_KB'":{"main":[[{"node":"Combine Prompt","type":"main","index":0}]]},"Call WF_MontarPrompt1":{"main":[[{"node":"AI Agent Negociacao","type":"main","index":0}]]},"Exec WF_Salvar_Lead":{"main":[[{"node":"IF Handoff?","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"base vetorial de conhecimento promo","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"consultar_base_conhecimento","type":"ai_languageModel","index":0}]]},"base vetorial de conhecimento promo":{"ai_vectorStore":[[{"node":"consultar_base_conhecimento","type":"ai_vectorStore","index":0}]]},"consultar_base_conhecimento":{"ai_tool":[[{"node":"AI Agent Negociacao","type":"ai_tool","index":0}]]},"Enviar Material Marketing":{"main":[[{"node":"Call '[Demo Events Co] [materiais marketing] - Whatsapp'","type":"main","index":0}],[{"node":"Call 'Enviar Mensagem - Novo Fluxo'","type":"main","index":0}]]},"Clear Redis Memory on Reset1":{"main":[[{"node":"Get Lead State","type":"main","index":0}]]},"Call 'Enviar Mensagem - Novo Fluxo'":{"main":[[]]},"Exec WF_HANDOFF":{"main":[[{"node":"Call 'Enviar Mensagem - Novo Fluxo'","type":"main","index":0}]]},"consulta_cruzeiros":{"ai_tool":[[{"node":"AI Agent Negociacao","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent Negociacao","type":"ai_tool","index":0}]]},"Call '[Demo Events Co] [materiais marketing] - Whatsapp'":{"main":[[{"node":"Call 'Enviar Mensagem - Novo Fluxo'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":180},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Workflow Trigger":[{"json":{"chatid":"+1 555-0100","mensagem":"Ok","urlchatwoot":"https://chatwoot.demo-events.com.br","account_id":"1","conversation_id":"7363","chatwoottoken":"${CHATWOOT_TOKEN}","contact_id":"42671","tipo_fluxo":"producao","tabela_whatsapp":"sdr_whatsapp"},"pairedItem":{"item":0}}]},"versionId":"5c776b57-e7b2-41e1-bd1f-0650b7b1a980","activeVersionId":"5c776b57-e7b2-41e1-bd1f-0650b7b1a980","versionCounter":966,"triggerCount":0,"tags":[{"updatedAt":"2026-02-22T23:32:19.599Z","createdAt":"2026-02-22T23:32:19.599Z","id":"B76Egm1CIQNftCew","name":"negociacao"},{"updatedAt":"2026-02-22T23:26:39.783Z","createdAt":"2026-02-22T23:26:39.783Z","id":"n57LehUJ3ysDp82B","name":"SDR"}],"shared":[{"updatedAt":"2026-02-17T05:30:18.711Z","createdAt":"2026-02-17T05:30:18.711Z","role":"workflow:owner","workflowId":"71DPNrJ4J0TB-6PvmGUzx","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}