workflows_extracted/780m5uGPJyMFbseIbh_hH.json
{"updatedAt":"2026-04-17T15:23:40.627Z","createdAt":"2026-03-09T15:38:14.892Z","id":"780m5uGPJyMFbseIbh_hH","name":"FUP WHATSAPP MEDIA QUALIFICACAO 1 HORA","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-528,-96],"id":"36b78916-2cec-40af-b88b-4e4e305c0380","name":"Schedule Trigger"},{"parameters":{"operation":"getAll","tableId":"sdr_whatsapp_forms","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-80,-96],"id":"653fff5a-d840-4ec1-8c0a-9b32553563d7","name":"Get many rows1","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"836f7675-e2dc-4d19-bcf6-ad116d7a8d6a","leftValue":"={{ $json.origem }}","rightValue":"formulario","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[144,-64],"id":"8bd78cc9-f34e-41f4-a078-15751e4cbbbe","name":"If6"},{"parameters":{"assignments":{"assignments":[{"id":"e8a984ac-68f2-4e01-819f-18342f854340","name":"chatwooturl","value":"https://chatwoot.demo-events.com.br","type":"string"},{"id":"b3de1e03-865f-4a07-b10a-54db6728672e","name":"accountid","value":"1","type":"string"},{"id":"29ea5b6e-9276-4734-a858-2a5efc343bed","name":"chatwoottoken","value":"${CHATWOOT_TOKEN}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,-96],"id":"00dd3b1f-70c9-4106-ba69-3e45b6c7d617","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78d17282-761b-4921-b9fe-bbaada47c94f","leftValue":"={{ $json.status }}","rightValue":"MEDIA","operator":{"type":"string","operation":"equals"}},{"id":"86b33a9a-1412-4cd0-8f56-1070fa7ebd94","leftValue":"={{ $json.vendedor }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[368,-96],"id":"ac05b2b2-47d2-43e1-8dd0-5544853ca059","name":"SePausadoEMediaQualificacao"},{"parameters":{"jsCode":"// Este código retorna todos os dados das 10 primeiras linhas\nreturn items.slice(0, 20);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,-96],"id":"92e1e021-220e-4ecc-89f4-007aaf2f2e45","name":"Pega os 10 Primeiros da Lista1"},{"parameters":{"jsCode":"return items.map(item => {\n  const j = item.json || {};\n\n  const horaMensagemRaw = j[\"Hora Mensagem\"] ?? j[\"HoraMensagem\"] ?? j[\"horaMensagem\"] ?? null;\n  const tempoAtualRaw   = j[\"Tempo atual\"]   ?? j[\"TempoAtual\"]   ?? j[\"tempoAtual\"]   ?? null;\n\n  const horaMensagemStr = typeof horaMensagemRaw === \"string\" ? horaMensagemRaw.trim() : horaMensagemRaw;\n  const tempoAtualStr   = typeof tempoAtualRaw   === \"string\" ? tempoAtualRaw.trim()   : tempoAtualRaw;\n\n  const base = {\n    Nome:               j[\"Nome\"]               ?? null,\n    Id:                 j[\"Id\"]                 ?? null,\n    Telefone:           j[\"Telefone\"]           ?? null,\n    Email:              j[\"Email\"]              ?? null,\n    CPF:                j[\"CPF\"]                ?? null,\n    Idcontatochatwoot:  j[\"Idcontatochatwoot\"]  ?? null,\n    Idconversachatwoot: j[\"Idconversachatwoot\"] ?? null,\n    Navio:              j[\"Navio\"]              ?? null,\n    QtdPessoas:         j[\"QtdPessoas\"]         ?? null,\n    Orcamento:          j[\"Orcamento\"]          ?? null,\n    estilo:             j[\"estilo\"]             ?? null,\n    campanha:           j[\"campanha\"]           ?? null,\n    origem:             j[\"origem\"]             ?? null,\n    tipo_fluxo:         j[\"tipo_fluxo\"]         ?? null,\n    tabela_whatsapp:    j[\"tabela_whatsapp\"]    ?? null,\n    \"Hora Mensagem\":    horaMensagemStr         ?? null,\n    \"Tempo atual\":      tempoAtualStr           ?? null\n  };\n\n  if (!horaMensagemStr || !tempoAtualStr) {\n    return {\n      json: {\n        ...base,\n        error: \"Um dos campos de data está vazio\",\n        _debug: {\n          temHoraMensagem:   Boolean(horaMensagemStr),\n          temTempoAtual:     Boolean(tempoAtualStr),\n          chavesDisponiveis: Object.keys(j)\n        }\n      }\n    };\n  }\n\n  // ── Parser 1: ISO 8601 → extrai hora local, ignora offset de fuso\n  // Ex: \"2026-03-04T12:53:44.188-03:00\" → 12h53\n  function parseISO(str) {\n    if (!/^\\d{4}-\\d{2}-\\d{2}T/.test(str)) return null;\n    const m = str.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, yyyy, MM, dd, HH, mm] = m;\n    return new Date(parseInt(yyyy), parseInt(MM) - 1, parseInt(dd), parseInt(HH), parseInt(mm));\n  }\n\n  // ── Parser 2: PT-BR → \"sexta-feira, 06 de março de 2026, 11:50\"\n  function parsePtBr(str) {\n    const meses = {\n      janeiro: 0, fevereiro: 1, março: 2, marco: 2,\n      abril: 3, maio: 4, junho: 5, julho: 6,\n      agosto: 7, setembro: 8, outubro: 9, novembro: 10, dezembro: 11\n    };\n    const clean = str.replace(/^[^,]+,\\s*/, \"\");\n    const m = clean.match(/(\\d{1,2}) de ([^\\s]+) de (\\d{4}), (\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, dd, mesStr, yyyy, HH, MM] = m;\n    const mes = meses[mesStr.toLowerCase()];\n    if (mes === undefined) return null;\n    return new Date(parseInt(yyyy), mes, parseInt(dd), parseInt(HH), parseInt(MM));\n  }\n\n  // ── Tenta ISO primeiro, depois PT-BR\n  function parseData(str) {\n    return parseISO(str) ?? parsePtBr(str);\n  }\n\n  const dataMensagem = parseData(horaMensagemStr);\n  const dataAtual    = parseData(tempoAtualStr);\n\n  if (!dataMensagem || !dataAtual) {\n    return {\n      json: {\n        ...base,\n        error: \"Erro ao interpretar datas\",\n        _debug: {\n          horaMensagemStr,\n          tempoAtualStr,\n          parsedMensagem: String(dataMensagem),\n          parsedAtual:    String(dataAtual)\n        }\n      }\n    };\n  }\n\n  const diffMs      = dataAtual.getTime() - dataMensagem.getTime();\n  const diffHoras   = Math.floor(diffMs / (1000 * 60 * 60));\n  const diffMinutos = Math.floor(diffMs / (1000 * 60)) % 60;\n\n  return {\n    json: {\n      ...base,\n      diferencaHoras:   diffHoras,\n      diferencaMinutos: diffMinutos\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,-96],"id":"5f225799-7f2f-4975-af14-8e8d5467e7bf","name":"Diferença de Horas1"},{"parameters":{"assignments":{"assignments":[{"id":"8cd29fb8-ef7b-4aa4-a8ac-b6e0d9f24955","name":"Hora Mensagem","value":"={{ $json.hora_mensagem }}","type":"string"},{"id":"bec4660e-4923-4978-9c33-21ce4ac67c05","name":"Nome","value":"={{ $json.Nome }}","type":"string"},{"id":"7df1b195-f875-4607-b559-65c9c01deef3","name":"Id","value":"={{ $json.id }}","type":"number"},{"id":"12f65e25-6153-4c0c-89a2-10641f96bb1b","name":"Telefone","value":"={{ $json.Telefone }}","type":"string"},{"id":"dea8acb3-4920-4d63-b13c-20087c084b6c","name":"Navio","value":"={{ $json.Navio }}","type":"string"},{"id":"24044a3e-a502-4954-84d0-a701b9f6f715","name":"Tempo atual","value":"={{ $now.setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}","type":"string"},{"id":"9fdba900-f879-4c33-aab9-3c50fc5aff55","name":"Idcontatochatwoot","value":"={{ $json.id_contato_chatwoot }}","type":"string"},{"id":"2debc26a-881d-4e9e-9292-4b4ec55f214d","name":"Idconversachatwoot","value":"={{ $json.id_conversa_chatwoot || 0 }}","type":"string"},{"id":"67b4cf52-7bb7-49ba-8d90-1c6e6176eb1f","name":"QtdPessoas","value":"={{ $json.QtdPessoas || 0 }}","type":"string"},{"id":"51c45a95-f97a-4410-9909-5e8fc8b64d0a","name":"Orcamento","value":"={{ $json.Orcamento || \"R$[X]\" }}","type":"string"},{"id":"0f52a7a7-c15f-4cbc-bd24-4ca50f66b5e6","name":"Email","value":"={{ $json.Email || null }}","type":"string"},{"id":"41ad1b71-9206-4fb3-bbb4-62292fbff933","name":"CPF","value":"={{ $json.CPF || null }}","type":"string"},{"id":"d3ae1099-5c7c-4954-a223-98f9a5834941","name":"campanha","value":"={{ $json.campanha }}","type":"string"},{"id":"824f7077-a5b3-4196-90f6-cb806b5d2df4","name":"estilo","value":"={{ $json.estilo || null }}","type":"string"},{"id":"d2770dcc-ab12-42f6-be1b-31d3937b5bca","name":"Nome","value":"={{ $json.Nome || null }}","type":"string"},{"id":"41e5d47b-fdd0-4803-83ec-3154d6862c4d","name":"origem","value":"={{ $json.origem || null }}","type":"string"},{"id":"0f39af23-9af9-4be0-8b35-790a0ffea192","name":"tipo_fluxo","value":"producao","type":"string"},{"id":"5fd78837-6d27-4677-9255-baa6ea6070dc","name":"tabela_whatsapp","value":"sdr_whatsapp_forms","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,-96],"id":"e582a8ad-8754-4565-860c-4d4eb5433b1a","name":"Pega Time Mensagem1"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1472,48],"id":"b294abaf-d44b-47f4-8cfc-dc01eec4e606","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59d71979-05d8-4d71-980f-28581fd939bd","leftValue":"={{ $json.diferencaHoras }}","rightValue":0.9,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1264,-96],"id":"814110c5-0f62-4968-ac05-f731dd4123d9","name":"maior que 1 hora"},{"parameters":{"workflowId":{"__rl":true,"value":"DhJx82Syv81AzAaW","mode":"list","cachedResultUrl":"/workflow/DhJx82Syv81AzAaW","cachedResultName":"WF_HANDOFF"},"workflowInputs":{"mappingMode":"defineBelow","value":{"resumoConversa":"=Nome: {{ $json.Nome }} | Navio: {{ $json.Navio }} | Qtd: 2 | Orçamento: {{ $json.Orcamento }} | Interesse: Declarou orçamento compatível ou próximo | Telefone: {{ $json.Telefone }}  || 'Lead qualificado para atendimento.' }}","phoneNumber":"={{ $json.Telefone }}","sessionId":"={{ $json.Telefone }}","contactId":"={{ $json.Idcontatochatwoot }}","urlChatwoot":"={{ $('Edit Fields').item.json.chatwooturl }}","tokenChatwoot":"={{ $('Edit Fields').item.json.chatwoottoken }}","accountId":"={{ $('Edit Fields').item.json.accountid }}","conversationId":"={{ $json.Idconversachatwoot }}","cpf":"={{ $json.CPF }}","email":"={{ $json.Email }}","qtdPessoas":"={{ $json.QtdPessoas }}","navio":"={{ $json.Navio }}","estilo":"={{ $json.estilo }}","campanha":"={{ $json.campanha }}","nomeCompleto":"={{ $json.Nome }}","origem":"={{ $json.origem }}","tipo_fluxo":"={{ $json.tipo_fluxo }}","tabela_whatsapp":"={{ $json.tabela_whatsapp }}"},"matchingColumns":[],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resumoConversa","displayName":"resumoConversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"urlChatwoot","displayName":"urlChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"qtdPessoas","displayName":"qtdPessoas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"navio","displayName":"navio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"estilo","displayName":"estilo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"qualificacao","displayName":"qualificacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"campanha","displayName":"campanha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nomeCompleto","displayName":"nomeCompleto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1824,96],"id":"0fa04337-d4ca-47c8-9323-29e949ddf863","name":"Call 'WF_HANDOFF'"},{"parameters":{"operation":"getAll","tableId":"sdr_whatsapp","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[16,432],"id":"1f923e75-5c94-4ac3-afa3-a75bfcff4a72","name":"Get many rows","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"836f7675-e2dc-4d19-bcf6-ad116d7a8d6a","leftValue":"={{ $json.origem }}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[240,432],"id":"d805fabb-641b-4b9f-a155-dfb98d8d2111","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78d17282-761b-4921-b9fe-bbaada47c94f","leftValue":"={{ $json.status }}","rightValue":"MEDIA","operator":{"type":"string","operation":"equals"}},{"id":"86b33a9a-1412-4cd0-8f56-1070fa7ebd94","leftValue":"={{ $json.vendedor }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[464,432],"id":"6aac4cf9-3ca3-4368-81e5-059f024bdde3","name":"SePausadoEMediaQualificacao1"},{"parameters":{"jsCode":"// Este código retorna todos os dados das 10 primeiras linhas\nreturn items.slice(0, 20);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,432],"id":"81d5a5d7-1dc8-47da-a5b2-9d9fbd9bb5d6","name":"Pega os 10 Primeiros da Lista"},{"parameters":{"jsCode":"return items.map(item => {\n  const j = item.json || {};\n\n  const horaMensagemRaw = j[\"Hora Mensagem\"] ?? j[\"HoraMensagem\"] ?? j[\"horaMensagem\"] ?? null;\n  const tempoAtualRaw   = j[\"Tempo atual\"]   ?? j[\"TempoAtual\"]   ?? j[\"tempoAtual\"]   ?? null;\n\n  const horaMensagemStr = typeof horaMensagemRaw === \"string\" ? horaMensagemRaw.trim() : horaMensagemRaw;\n  const tempoAtualStr   = typeof tempoAtualRaw   === \"string\" ? tempoAtualRaw.trim()   : tempoAtualRaw;\n\n  const base = {\n    Nome:               j[\"Nome\"]               ?? null,\n    Id:                 j[\"Id\"]                 ?? null,\n    Telefone:           j[\"Telefone\"]           ?? null,\n    Email:              j[\"Email\"]              ?? null,\n    CPF:                j[\"CPF\"]                ?? null,\n    Idcontatochatwoot:  j[\"Idcontatochatwoot\"]  ?? null,\n    Idconversachatwoot: j[\"Idconversachatwoot\"] ?? null,\n    Navio:              j[\"Navio\"]              ?? null,\n    QtdPessoas:         j[\"QtdPessoas\"]         ?? null,\n    Orcamento:          j[\"Orcamento\"]          ?? null,\n    estilo:             j[\"estilo\"]             ?? null,\n    campanha:           j[\"campanha\"]           ?? null,\n    origem:             j[\"origem\"]             ?? null,\n    tipo_fluxo:         j[\"tipo_fluxo\"]         ?? null,\n    tabela_whatsapp:    j[\"tabela_whatsapp\"]    ?? null,\n    \"Hora Mensagem\":    horaMensagemStr         ?? null,\n    \"Tempo atual\":      tempoAtualStr           ?? null\n  };\n\n  if (!horaMensagemStr || !tempoAtualStr) {\n    return {\n      json: {\n        ...base,\n        error: \"Um dos campos de data está vazio\",\n        _debug: {\n          temHoraMensagem:   Boolean(horaMensagemStr),\n          temTempoAtual:     Boolean(tempoAtualStr),\n          chavesDisponiveis: Object.keys(j)\n        }\n      }\n    };\n  }\n\n  // ── Parser 1: ISO 8601 → extrai hora local, ignora offset de fuso\n  // Ex: \"2026-03-04T12:53:44.188-03:00\" → 12h53\n  function parseISO(str) {\n    if (!/^\\d{4}-\\d{2}-\\d{2}T/.test(str)) return null;\n    const m = str.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, yyyy, MM, dd, HH, mm] = m;\n    return new Date(parseInt(yyyy), parseInt(MM) - 1, parseInt(dd), parseInt(HH), parseInt(mm));\n  }\n\n  // ── Parser 2: PT-BR → \"sexta-feira, 06 de março de 2026, 11:50\"\n  function parsePtBr(str) {\n    const meses = {\n      janeiro: 0, fevereiro: 1, março: 2, marco: 2,\n      abril: 3, maio: 4, junho: 5, julho: 6,\n      agosto: 7, setembro: 8, outubro: 9, novembro: 10, dezembro: 11\n    };\n    const clean = str.replace(/^[^,]+,\\s*/, \"\");\n    const m = clean.match(/(\\d{1,2}) de ([^\\s]+) de (\\d{4}), (\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, dd, mesStr, yyyy, HH, MM] = m;\n    const mes = meses[mesStr.toLowerCase()];\n    if (mes === undefined) return null;\n    return new Date(parseInt(yyyy), mes, parseInt(dd), parseInt(HH), parseInt(MM));\n  }\n\n  // ── Tenta ISO primeiro, depois PT-BR\n  function parseData(str) {\n    return parseISO(str) ?? parsePtBr(str);\n  }\n\n  const dataMensagem = parseData(horaMensagemStr);\n  const dataAtual    = parseData(tempoAtualStr);\n\n  if (!dataMensagem || !dataAtual) {\n    return {\n      json: {\n        ...base,\n        error: \"Erro ao interpretar datas\",\n        _debug: {\n          horaMensagemStr,\n          tempoAtualStr,\n          parsedMensagem: String(dataMensagem),\n          parsedAtual:    String(dataAtual)\n        }\n      }\n    };\n  }\n\n  const diffMs      = dataAtual.getTime() - dataMensagem.getTime();\n  const diffHoras   = Math.floor(diffMs / (1000 * 60 * 60));\n  const diffMinutos = Math.floor(diffMs / (1000 * 60)) % 60;\n\n  return {\n    json: {\n      ...base,\n      diferencaHoras:   diffHoras,\n      diferencaMinutos: diffMinutos\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,432],"id":"230bf01f-f0d4-4004-a166-7dd0d366c047","name":"Diferença de Horas"},{"parameters":{"assignments":{"assignments":[{"id":"8cd29fb8-ef7b-4aa4-a8ac-b6e0d9f24955","name":"Hora Mensagem","value":"={{ $json.hora_mensagem }}","type":"string"},{"id":"bec4660e-4923-4978-9c33-21ce4ac67c05","name":"Nome","value":"={{ $json.Nome }}","type":"string"},{"id":"7df1b195-f875-4607-b559-65c9c01deef3","name":"Id","value":"={{ $json.id }}","type":"number"},{"id":"12f65e25-6153-4c0c-89a2-10641f96bb1b","name":"Telefone","value":"={{ $json.Telefone }}","type":"string"},{"id":"dea8acb3-4920-4d63-b13c-20087c084b6c","name":"Navio","value":"={{ $json.Navio }}","type":"string"},{"id":"24044a3e-a502-4954-84d0-a701b9f6f715","name":"Tempo atual","value":"={{ $now.setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}","type":"string"},{"id":"9fdba900-f879-4c33-aab9-3c50fc5aff55","name":"Idcontatochatwoot","value":"={{ $json.id_contato_chatwoot }}","type":"string"},{"id":"2debc26a-881d-4e9e-9292-4b4ec55f214d","name":"Idconversachatwoot","value":"={{ $json.id_conversa_chatwoot || 0 }}","type":"string"},{"id":"67b4cf52-7bb7-49ba-8d90-1c6e6176eb1f","name":"QtdPessoas","value":"={{ $json.QtdPessoas || 0 }}","type":"string"},{"id":"51c45a95-f97a-4410-9909-5e8fc8b64d0a","name":"Orcamento","value":"={{ $json.Orcamento || \"R$[X]\" }}","type":"string"},{"id":"0f52a7a7-c15f-4cbc-bd24-4ca50f66b5e6","name":"Email","value":"={{ $json.Email || null }}","type":"string"},{"id":"41ad1b71-9206-4fb3-bbb4-62292fbff933","name":"CPF","value":"={{ $json.CPF || null }}","type":"string"},{"id":"d3ae1099-5c7c-4954-a223-98f9a5834941","name":"campanha","value":"={{ $json.campanha }}","type":"string"},{"id":"824f7077-a5b3-4196-90f6-cb806b5d2df4","name":"estilo","value":"={{ $json.estilo || null }}","type":"string"},{"id":"d2770dcc-ab12-42f6-be1b-31d3937b5bca","name":"Nome","value":"={{ $json.Nome || null }}","type":"string"},{"id":"41e5d47b-fdd0-4803-83ec-3154d6862c4d","name":"origem","value":"={{ $json.origem || null }}","type":"string"},{"id":"0f39af23-9af9-4be0-8b35-790a0ffea192","name":"tipo_fluxo","value":"producao","type":"string"},{"id":"5fd78837-6d27-4677-9255-baa6ea6070dc","name":"tabela_whatsapp","value":"sdr_whatsapp","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,432],"id":"f90dc0b6-1edb-4855-83ff-cb871505d3df","name":"Pega Time Mensagem"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1568,576],"id":"adc2dd7b-eec8-46f7-9780-1ddbfc7c27fb","name":"Loop Over Items1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59d71979-05d8-4d71-980f-28581fd939bd","leftValue":"={{ $json.diferencaHoras }}","rightValue":0.9,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1360,432],"id":"e370f0b6-7a89-47bc-b722-ffde50758a4d","name":"maior que 1 hora1"},{"parameters":{"workflowId":{"__rl":true,"value":"DhJx82Syv81AzAaW","mode":"list","cachedResultUrl":"/workflow/DhJx82Syv81AzAaW","cachedResultName":"WF_HANDOFF"},"workflowInputs":{"mappingMode":"defineBelow","value":{"resumoConversa":"=Nome: {{ $json.Nome }} | Navio: {{ $json.Navio }} | Qtd: 2 | Orçamento: {{ $json.Orcamento }} | Interesse: Declarou orçamento compatível ou próximo | Telefone: {{ $json.Telefone }}  || 'Lead qualificado para atendimento.' }}","phoneNumber":"={{ $json.Telefone }}","sessionId":"={{ $json.Telefone }}","contactId":"={{ $json.Idcontatochatwoot }}","urlChatwoot":"={{ $('Edit Fields').item.json.chatwooturl }}","tokenChatwoot":"={{ $('Edit Fields').item.json.chatwoottoken }}","accountId":"={{ $('Edit Fields').item.json.accountid }}","conversationId":"={{ $json.Idconversachatwoot }}","cpf":"={{ $json.CPF }}","email":"={{ $json.Email }}","qtdPessoas":"={{ $json.QtdPessoas }}","navio":"={{ $json.Navio }}","estilo":"={{ $json.estilo }}","campanha":"={{ $json.campanha }}","nomeCompleto":"={{ $json.Nome }}","origem":"={{ $json.origem }}","tipo_fluxo":"={{ $json.tipo_fluxo }}","tabela_whatsapp":"={{ $json.tabela_whatsapp }}"},"matchingColumns":[],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resumoConversa","displayName":"resumoConversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"urlChatwoot","displayName":"urlChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"qtdPessoas","displayName":"qtdPessoas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"navio","displayName":"navio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"estilo","displayName":"estilo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"qualificacao","displayName":"qualificacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"campanha","displayName":"campanha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nomeCompleto","displayName":"nomeCompleto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1920,624],"id":"b2fa186c-e584-4721-9639-0d8355ca9917","name":"Call 'WF_HANDOFF'1"},{"parameters":{"operation":"getAll","tableId":"whatsapp_bdr","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[208,1072],"id":"d229755e-313f-45ce-9842-c63e8c991539","name":"Get many rows2","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"836f7675-e2dc-4d19-bcf6-ad116d7a8d6a","leftValue":"={{ $json.origem }}","rightValue":"BDR","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[432,1072],"id":"654ebeeb-fb30-4e3b-bb6c-0dbf5ac271b2","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78d17282-761b-4921-b9fe-bbaada47c94f","leftValue":"={{ $json.status }}","rightValue":"MEDIA","operator":{"type":"string","operation":"equals"}},{"id":"86b33a9a-1412-4cd0-8f56-1070fa7ebd94","leftValue":"={{ $json.vendedor }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[656,1072],"id":"b20d3fb5-4b78-400d-9065-12695552bfbc","name":"SePausadoEMediaQualificacao2"},{"parameters":{"jsCode":"// Este código retorna todos os dados das 10 primeiras linhas\nreturn items.slice(0, 20);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,1072],"id":"0aff9284-f662-431b-bc69-878852d2aff3","name":"Pega os 10 Primeiros da Lista2"},{"parameters":{"jsCode":"return items.map(item => {\n  const j = item.json || {};\n\n  const horaMensagemRaw = j[\"Hora Mensagem\"] ?? j[\"HoraMensagem\"] ?? j[\"horaMensagem\"] ?? null;\n  const tempoAtualRaw   = j[\"Tempo atual\"]   ?? j[\"TempoAtual\"]   ?? j[\"tempoAtual\"]   ?? null;\n\n  const horaMensagemStr = typeof horaMensagemRaw === \"string\" ? horaMensagemRaw.trim() : horaMensagemRaw;\n  const tempoAtualStr   = typeof tempoAtualRaw   === \"string\" ? tempoAtualRaw.trim()   : tempoAtualRaw;\n\n  const base = {\n    Nome:               j[\"Nome\"]               ?? null,\n    Id:                 j[\"Id\"]                 ?? null,\n    Telefone:           j[\"Telefone\"]           ?? null,\n    Email:              j[\"Email\"]              ?? null,\n    CPF:                j[\"CPF\"]                ?? null,\n    Idcontatochatwoot:  j[\"Idcontatochatwoot\"]  ?? null,\n    Idconversachatwoot: j[\"Idconversachatwoot\"] ?? null,\n    Navio:              j[\"Navio\"]              ?? null,\n    QtdPessoas:         j[\"QtdPessoas\"]         ?? null,\n    Orcamento:          j[\"Orcamento\"]          ?? null,\n    estilo:             j[\"estilo\"]             ?? null,\n    campanha:           j[\"campanha\"]           ?? null,\n    origem:             j[\"origem\"]             ?? null,\n    tipo_fluxo:         j[\"tipo_fluxo\"]         ?? null,\n    tabela_whatsapp:    j[\"tabela_whatsapp\"]    ?? null,\n    \"Hora Mensagem\":    horaMensagemStr         ?? null,\n    \"Tempo atual\":      tempoAtualStr           ?? null\n  };\n\n  if (!horaMensagemStr || !tempoAtualStr) {\n    return {\n      json: {\n        ...base,\n        error: \"Um dos campos de data está vazio\",\n        _debug: {\n          temHoraMensagem:   Boolean(horaMensagemStr),\n          temTempoAtual:     Boolean(tempoAtualStr),\n          chavesDisponiveis: Object.keys(j)\n        }\n      }\n    };\n  }\n\n  // ── Parser 1: ISO 8601 → extrai hora local, ignora offset de fuso\n  // Ex: \"2026-03-04T12:53:44.188-03:00\" → 12h53\n  function parseISO(str) {\n    if (!/^\\d{4}-\\d{2}-\\d{2}T/.test(str)) return null;\n    const m = str.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, yyyy, MM, dd, HH, mm] = m;\n    return new Date(parseInt(yyyy), parseInt(MM) - 1, parseInt(dd), parseInt(HH), parseInt(mm));\n  }\n\n  // ── Parser 2: PT-BR → \"sexta-feira, 06 de março de 2026, 11:50\"\n  function parsePtBr(str) {\n    const meses = {\n      janeiro: 0, fevereiro: 1, março: 2, marco: 2,\n      abril: 3, maio: 4, junho: 5, julho: 6,\n      agosto: 7, setembro: 8, outubro: 9, novembro: 10, dezembro: 11\n    };\n    const clean = str.replace(/^[^,]+,\\s*/, \"\");\n    const m = clean.match(/(\\d{1,2}) de ([^\\s]+) de (\\d{4}), (\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, dd, mesStr, yyyy, HH, MM] = m;\n    const mes = meses[mesStr.toLowerCase()];\n    if (mes === undefined) return null;\n    return new Date(parseInt(yyyy), mes, parseInt(dd), parseInt(HH), parseInt(MM));\n  }\n\n  // ── Tenta ISO primeiro, depois PT-BR\n  function parseData(str) {\n    return parseISO(str) ?? parsePtBr(str);\n  }\n\n  const dataMensagem = parseData(horaMensagemStr);\n  const dataAtual    = parseData(tempoAtualStr);\n\n  if (!dataMensagem || !dataAtual) {\n    return {\n      json: {\n        ...base,\n        error: \"Erro ao interpretar datas\",\n        _debug: {\n          horaMensagemStr,\n          tempoAtualStr,\n          parsedMensagem: String(dataMensagem),\n          parsedAtual:    String(dataAtual)\n        }\n      }\n    };\n  }\n\n  const diffMs      = dataAtual.getTime() - dataMensagem.getTime();\n  const diffHoras   = Math.floor(diffMs / (1000 * 60 * 60));\n  const diffMinutos = Math.floor(diffMs / (1000 * 60)) % 60;\n\n  return {\n    json: {\n      ...base,\n      diferencaHoras:   diffHoras,\n      diferencaMinutos: diffMinutos\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,1072],"id":"50ac3c8d-b99e-449e-9b88-5c61bf68f7b8","name":"Diferença de Horas2"},{"parameters":{"assignments":{"assignments":[{"id":"8cd29fb8-ef7b-4aa4-a8ac-b6e0d9f24955","name":"Hora Mensagem","value":"={{ $json.hora_mensagem }}","type":"string"},{"id":"bec4660e-4923-4978-9c33-21ce4ac67c05","name":"Nome","value":"={{ $json.Nome }}","type":"string"},{"id":"7df1b195-f875-4607-b559-65c9c01deef3","name":"Id","value":"={{ $json.id }}","type":"number"},{"id":"12f65e25-6153-4c0c-89a2-10641f96bb1b","name":"Telefone","value":"={{ $json.Telefone }}","type":"string"},{"id":"dea8acb3-4920-4d63-b13c-20087c084b6c","name":"Navio","value":"={{ $json.Navio }}","type":"string"},{"id":"24044a3e-a502-4954-84d0-a701b9f6f715","name":"Tempo atual","value":"={{ $now.setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}","type":"string"},{"id":"9fdba900-f879-4c33-aab9-3c50fc5aff55","name":"Idcontatochatwoot","value":"={{ $json.id_contato_chatwoot }}","type":"string"},{"id":"2debc26a-881d-4e9e-9292-4b4ec55f214d","name":"Idconversachatwoot","value":"={{ $json.id_conversa_chatwoot || 0 }}","type":"string"},{"id":"67b4cf52-7bb7-49ba-8d90-1c6e6176eb1f","name":"QtdPessoas","value":"={{ $json.QtdPessoas || 0 }}","type":"string"},{"id":"51c45a95-f97a-4410-9909-5e8fc8b64d0a","name":"Orcamento","value":"={{ $json.Orcamento || \"R$[X]\" }}","type":"string"},{"id":"0f52a7a7-c15f-4cbc-bd24-4ca50f66b5e6","name":"Email","value":"={{ $json.Email || null }}","type":"string"},{"id":"41ad1b71-9206-4fb3-bbb4-62292fbff933","name":"CPF","value":"={{ $json.CPF || null }}","type":"string"},{"id":"d3ae1099-5c7c-4954-a223-98f9a5834941","name":"campanha","value":"={{ $json.campanha }}","type":"string"},{"id":"824f7077-a5b3-4196-90f6-cb806b5d2df4","name":"estilo","value":"={{ $json.estilo || null }}","type":"string"},{"id":"d2770dcc-ab12-42f6-be1b-31d3937b5bca","name":"Nome","value":"={{ $json.Nome || null }}","type":"string"},{"id":"41e5d47b-fdd0-4803-83ec-3154d6862c4d","name":"origem","value":"={{ $json.origem || null }}","type":"string"},{"id":"0f39af23-9af9-4be0-8b35-790a0ffea192","name":"tipo_fluxo","value":"producao","type":"string"},{"id":"5fd78837-6d27-4677-9255-baa6ea6070dc","name":"tabela_whatsapp","value":"sdr_whatsapp","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,1072],"id":"701ec4f4-ce6b-45a3-9bdb-a3755a9df237","name":"Pega Time Mensagem2"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1760,1216],"id":"945fab1e-5dd4-4b33-a396-787ebe83b86d","name":"Loop Over Items2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59d71979-05d8-4d71-980f-28581fd939bd","leftValue":"={{ $json.diferencaHoras }}","rightValue":0.9,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1552,1072],"id":"4274cc51-0ea9-4de0-9523-d21628603604","name":"maior que 1 hora2"},{"parameters":{"workflowId":{"__rl":true,"value":"DhJx82Syv81AzAaW","mode":"list","cachedResultUrl":"/workflow/DhJx82Syv81AzAaW","cachedResultName":"WF_HANDOFF"},"workflowInputs":{"mappingMode":"defineBelow","value":{"resumoConversa":"=Nome: {{ $json.Nome }} | Navio: {{ $json.Navio }} | Qtd: 2 | Orçamento: {{ $json.Orcamento }} | Interesse: Declarou orçamento compatível ou próximo | Telefone: {{ $json.Telefone }}  || 'Lead qualificado para atendimento.' }}","phoneNumber":"={{ $json.Telefone }}","sessionId":"={{ $json.Telefone }}","contactId":"={{ $json.Idcontatochatwoot }}","urlChatwoot":"={{ $('Edit Fields').item.json.chatwooturl }}","tokenChatwoot":"={{ $('Edit Fields').item.json.chatwoottoken }}","accountId":"={{ $('Edit Fields').item.json.accountid }}","conversationId":"={{ $json.Idconversachatwoot }}","cpf":"={{ $json.CPF }}","email":"={{ $json.Email }}","qtdPessoas":"={{ $json.QtdPessoas }}","navio":"={{ $json.Navio }}","estilo":"={{ $json.estilo }}","campanha":"={{ $json.campanha }}","nomeCompleto":"={{ $json.Nome }}","origem":"={{ $json.origem }}","tipo_fluxo":"={{ $json.tipo_fluxo }}","tabela_whatsapp":"=whatsapp_bdr"},"matchingColumns":[],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resumoConversa","displayName":"resumoConversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"urlChatwoot","displayName":"urlChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"qtdPessoas","displayName":"qtdPessoas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"navio","displayName":"navio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"estilo","displayName":"estilo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"qualificacao","displayName":"qualificacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"campanha","displayName":"campanha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nomeCompleto","displayName":"nomeCompleto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2112,1264],"id":"730dab0a-c9e6-43e6-9672-571ddeac056c","name":"Call 'WF_HANDOFF'2"},{"parameters":{"method":"POST","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/conversations/{{ $('Get many rows').item.json.id_conversa_chatwoot }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"=${CHATWOOT_TOKEN}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.resposta }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2176,624],"id":"0fc1d38c-600f-47b8-99b1-3cee2f017aeb","name":"HTTP Request19"},{"parameters":{"method":"POST","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/conversations/{{ $('Get many rows1').item.json.id_conversa_chatwoot }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"=${CHATWOOT_TOKEN}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.resposta }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2144,176],"id":"0d647afc-bf4c-4929-b4db-755d4d034d04","name":"HTTP Request"},{"parameters":{"method":"POST","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/conversations/{{ $('Get many rows2').item.json.id_conversa_chatwoot }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"=${CHATWOOT_TOKEN}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.resposta }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2112,1584],"id":"6ccbbe62-9ae5-4156-b71e-d97ed6046005","name":"HTTP Request20"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get many rows1":{"main":[[{"node":"If6","type":"main","index":0}]]},"If6":{"main":[[{"node":"SePausadoEMediaQualificacao","type":"main","index":0}],[]]},"Edit Fields":{"main":[[{"node":"Get many rows1","type":"main","index":0},{"node":"Get many rows","type":"main","index":0},{"node":"Get many rows2","type":"main","index":0}]]},"Pega os 10 Primeiros da Lista1":{"main":[[{"node":"Pega Time Mensagem1","type":"main","index":0}]]},"Diferença de Horas1":{"main":[[{"node":"maior que 1 hora","type":"main","index":0}]]},"Pega Time Mensagem1":{"main":[[{"node":"Diferença de Horas1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Call 'WF_HANDOFF'","type":"main","index":0}]]},"maior que 1 hora":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[]]},"SePausadoEMediaQualificacao":{"main":[[{"node":"Pega os 10 Primeiros da Lista1","type":"main","index":0}]]},"Call 'WF_HANDOFF'":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"SePausadoEMediaQualificacao1","type":"main","index":0}]]},"SePausadoEMediaQualificacao1":{"main":[[{"node":"Pega os 10 Primeiros da Lista","type":"main","index":0}]]},"Pega os 10 Primeiros da Lista":{"main":[[{"node":"Pega Time Mensagem","type":"main","index":0}]]},"Diferença de Horas":{"main":[[{"node":"maior que 1 hora1","type":"main","index":0}]]},"Pega Time Mensagem":{"main":[[{"node":"Diferença de Horas","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Call 'WF_HANDOFF'1","type":"main","index":0}]]},"maior que 1 hora1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Call 'WF_HANDOFF'1":{"main":[[{"node":"HTTP Request19","type":"main","index":0}]]},"Get many rows2":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"SePausadoEMediaQualificacao2","type":"main","index":0}]]},"SePausadoEMediaQualificacao2":{"main":[[{"node":"Pega os 10 Primeiros da Lista2","type":"main","index":0}]]},"Pega os 10 Primeiros da Lista2":{"main":[[{"node":"Pega Time Mensagem2","type":"main","index":0}]]},"Diferença de Horas2":{"main":[[{"node":"maior que 1 hora2","type":"main","index":0}]]},"Pega Time Mensagem2":{"main":[[{"node":"Diferença de Horas2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Call 'WF_HANDOFF'2","type":"main","index":0}]]},"maior que 1 hora2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Call 'WF_HANDOFF'2":{"main":[[{"node":"HTTP Request20","type":"main","index":0}]]},"HTTP Request19":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request20":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2026-04-17T11:20:50.085-03:00","Readable date":"April 17th 2026, 11:20:50 am","Readable time":"11:20:50 am","Day of week":"Friday","Year":"2026","Month":"April","Day of month":"17","Hour":"11","Minute":"20","Second":"50","Timezone":"America/Sao_Paulo (UTC-03:00)"},"pairedItem":{"item":0}}]},"versionId":"3c258159-6356-48c2-8471-adf586d7bd28","activeVersionId":"3c258159-6356-48c2-8471-adf586d7bd28","versionCounter":358,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-09T15:38:14.892Z","createdAt":"2026-03-09T15:38:14.892Z","role":"workflow:owner","workflowId":"780m5uGPJyMFbseIbh_hH","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}