workflows_extracted/ACyQi59sJR6wIX8uOtezY.json
{"updatedAt":"2026-04-16T20:41:26.601Z","createdAt":"2026-04-13T14:49:14.688Z","id":"ACyQi59sJR6wIX8uOtezY","name":"WF_WEBHOOK_BDR","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"relatorio/bdr","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-608,-16],"id":"bc5aa109-bcb8-475c-9806-fe685d6e03b4","name":"Webhook","webhookId":"d6091391-36bb-4677-90ee-0aade456429d"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html"},{"name":"Access-Control-Allow-Origin","value":"null"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[752,-112],"id":"4a98a10b-006a-4a47-846f-a8bfb17de56f","name":"Respond to Webhook"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ \n   (() => {\n    const queryNavio = $('Webhook').first().json\n                       .query?.navio?.trim() ?? ''\n   if (queryNavio == '')\n      return true\n    const queryCampanha = $('Webhook').first().json\n                          .query?.campanha?.trim() ?? ''\n    if (queryCampanha == '')\n      return true\n    const navios = $('Edit Fields').first().json.navios\n    const campanhasNavio = navios[queryNavio]\n    if (campanhasNavio == null)\n       return true\n    return !campanhasNavio.includes(queryCampanha)\n   })()\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"5923aed1-5ec6-4e11-a6a3-43c7eddcbd65"}],"combinator":"and"},"renameOutput":true,"outputKey":"sem_navio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b1297dc3-fc2f-4d51-8ff0-d8197512ae9f","leftValue":"={{ true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"else"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-240,-16],"id":"2234e4eb-134f-49b9-9996-3b7643dd57e2","name":"Switch"},{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n  <style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n</head>\n<body>\n  <div class=\"container\">\n    <body>\n        <form method=\"GET\" action=\"\">\n        <label for=\"navio\">Navio:</label>\n        <select id=\"navio\" name=\"navio\" required>\n            <option value=\"\">Selecione um navio</option>\n            {{ (() => {\n              const navioCampanhaMap = $('Edit Fields').first().json.navios\n              \n              const navios = Object.keys(navioCampanhaMap)\n              const options = navios.map(navio => `<option value=\"${navio}\"> ${navio} </option>`)\n              return options.join('\\n')\n            })() }}\n        </select>\n        <br><br>\n        <label for=\"campanha\">Campanha:</label>\n        <select id=\"campanha\" name=\"campanha\" required>\n            <option value=\"\">Selecione uma campanha</option>\n        </select>\n        <br><br>\n        <button type=\"submit\">Enviar</button>\n    </form>\n\n    <script>\n        const navioCampanhaMap = {{ JSON.stringify($('Edit Fields').first().json.navios) }}\n        console.log('navioCampanhaMap', navioCampanhaMap)\n        const navioSelect = document.getElementById('navio');\n        const campanhaSelect = document.getElementById('campanha');\n\n        function updateCampanhas() {\n            const selectedNavio = navioSelect.value;\n            console.log('selectedNavio', selectedNavio)\n            \n            // Clear current options\n            campanhaSelect.innerHTML = '<option value=\"\">Selecione uma campanha</option>';\n            \n            if (selectedNavio && navioCampanhaMap[selectedNavio]) {\n                const campanhas = navioCampanhaMap[selectedNavio];\n                campanhas.forEach(campanha => {\n                    const option = document.createElement('option');\n                    option.value = campanha;\n                    option.textContent = campanha;\n                    campanhaSelect.appendChild(option);\n                });\n            }\n        }\n\n        navioSelect.addEventListener('change', updateCampanhas);\n    </script>\n</body>\n  </div>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[432,-336],"id":"91fcbe3e-9131-4b33-ad81-cfbb14de1787","name":"FormularioTipoRelatorioBdr"},{"parameters":{"assignments":{"assignments":[{"id":"1aa6fc3c-ccf1-4d68-9e27-d95e76a5d454","name":"navios","value":"={{ \n   { \n       'Vumbora': ['Pré Venda'], \n       'Dominguinho': ['Pré Venda']\n   } \n}}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-416,-16],"id":"c6f22316-f767-4efe-b952-d4fea448d4c7","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"436ff4b2-a985-4f74-9405-58f231cf6e85","leftValue":"={{ $('RedisCachedReport').first().json.html != null }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"cached report"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ \n   (() => {\n    const queryStream = $('Webhook').first().json\n                       .query?.stream?.trim() ?? ''\n    return queryStream != 'true'\n   })()\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"5337bacb-768e-43c8-90f7-4c6f450f15b6"}],"combinator":"and"},"renameOutput":true,"outputKey":"reportWait"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"92fee709-c6ed-4aa3-9ec8-a823e112ce05","leftValue":"={{ true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"generateReport"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[96,-16],"id":"fd83494a-ad31-4b57-a17c-93ebf56f8b56","name":"Switch1"},{"parameters":{"respondWith":"text","responseBody":"={{ (() => {\n  return `event: servercallback\\r\\ndata: reload\\r\\n\\r\\n` \n})() }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":" text/event-stream"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[480,320],"id":"66af7935-5c8d-420f-b3d4-ef9c6502795d","name":"ServerEventRelod"},{"parameters":{"operation":"get","propertyName":"html","key":"=reportBdr{{ $('Webhook').first().json.query.navio.trim() }}{{ $('Webhook').first().json.query.campanha.trim() }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-64,0],"id":"302336f0-bf05-4352-81db-37e959b37bab","name":"RedisCachedReport","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"html":"{{ $('RedisCachedReport').first().json.html }}"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[432,-112],"id":"831c8a8a-781f-4069-8b21-dd107f9d9a84","name":"ReportCacheado"},{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n  <style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Relatorio {{ $('Webhook').first().json.query.navio }} {{ $('Webhook').first().json.query.campanha  }}</h1>\n\n    <main id='relatorio'>\n      gerando relatorio, por favor aguarde\n    </main>\n  </div>\n  <script>\n      const navio = encodeURIComponent(\"{{ $('Webhook').first().json.query.navio }}\");\n      const campanha = encodeURIComponent(\"{{ $('Webhook').first().json.query.campanha }}\");\n      const url = `https://n8nh.demo-events.com.br/webhook/relatorio/bdr?stream=true&navio=${navio}&campanha=${campanha}`;\n\n      const evtSource = new EventSource(url);\n\n      evtSource.addEventListener(\"servercallback\", (event) => {\n          console.log('servercallback event', event.data);\n          const relatorio = document.getElementById(\"relatorio\");\n          try {\n              evtSource.close()\n              location.reload();\n          } catch(e) {\n              console.error('Erro ao parsear JSON:', e);\n              evtSource.close();\n              document.getElementById('relatorio').innerHtml = '<p> Falha ao receber relatorio do servidor </p>'\n          }\n      });\n\n      evtSource.onerror = (error) => {\n          console.error('EventSource failed:', error);\n          evtSource.close();\n      };\n  </script>\n</body>\n</html>\n\n\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[432,96],"id":"c576de7a-aabe-4963-b440-bd25845efeda","name":"EsperaReport"},{"parameters":{"workflowId":{"__rl":true,"value":"fbHre1QnMRPx0iLlyKqbd","mode":"list","cachedResultUrl":"/workflow/fbHre1QnMRPx0iLlyKqbd","cachedResultName":"WF_RELATORIO_BDR"},"workflowInputs":{"mappingMode":"defineBelow","value":{"navio":"={{ $('Webhook').first().json.query.navio.trim() }}","campanha":"={{ $('Webhook').first().json.query.campanha.trim() }}"},"matchingColumns":[],"schema":[{"id":"navio","displayName":"navio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"campanha","displayName":"campanha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":"={{ true }}"}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[32,320],"id":"3a823eb2-1189-4f3b-bc25-59452682a3e7","name":"Call 'WF_RELATORIO_BDR'"},{"parameters":{"operation":"delete","key":"={{ $('Code in JavaScript').item.json.key }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-336,304],"id":"dc346e50-c73b-4349-88d7-f1dcf334ec6c","name":"RedisDeleteCache","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"operation":"keys","keyPattern":"reportBdr*"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-784,304],"id":"4300de1f-140a-416e-ae29-b54e9e269c43","name":"RedisGetCachedBdrReports","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"jsCode":"const keys = Object.keys($('RedisGetCachedBdrReports').first().json).map(r => { return {key: r}})\n\nreturn keys"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,304],"id":"17a82db4-3a02-497a-a6ee-bb20230248c5","name":"Code in JavaScript","executeOnce":true},{"parameters":{"operation":"keys","keyPattern":"*9_producao"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-816,528],"id":"3a9a2e79-519b-4e66-bb34-4aaec9a0df72","name":"RedisGetCachedBdrReports1","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Switch":{"main":[[{"node":"FormularioTipoRelatorioBdr","type":"main","index":0}],[{"node":"RedisCachedReport","type":"main","index":0}]]},"FormularioTipoRelatorioBdr":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"ReportCacheado","type":"main","index":0}],[{"node":"EsperaReport","type":"main","index":0}],[{"node":"Call 'WF_RELATORIO_BDR'","type":"main","index":0}]]},"ServerEventRelod":{"main":[[]]},"RedisCachedReport":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"ReportCacheado":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"EsperaReport":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Call 'WF_RELATORIO_BDR'":{"main":[[{"node":"ServerEventRelod","type":"main","index":0}]]},"RedisGetCachedBdrReports":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"RedisDeleteCache","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2f8fe20a-8a1e-456c-a204-864a52b2b7aa","activeVersionId":"2f8fe20a-8a1e-456c-a204-864a52b2b7aa","versionCounter":1299,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-13T14:49:14.688Z","createdAt":"2026-04-13T14:49:14.688Z","role":"workflow:owner","workflowId":"ACyQi59sJR6wIX8uOtezY","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}