workflows_extracted/asb9bmPfbOSxJhvX.json
{"updatedAt":"2026-04-14T02:41:43.599Z","createdAt":"2026-03-19T16:37:01.811Z","id":"asb9bmPfbOSxJhvX","name":"FUP_BDR","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Este código retorna todos os dados das 10 primeiras linhas\nreturn items.slice(0, 30);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3472,1664],"id":"2fe0f65a-8d5d-4f60-a8d6-0c3f53bbe089","name":"Pega os 10 Primeiros da Lista1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88ea99f4-6803-4f9c-b0e3-7835171c8eb2","leftValue":"={{ $json.mensagem_lead }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3696,1664],"id":"f6abb2c4-abbb-4884-97bb-df5e286862ab","name":"If23"},{"parameters":{"jsCode":"let arrayLeads = items.map(item => {\n  const j = item.json || {};\n\n  const horaMensagemRaw = j[\"Hora Mensagem\"] ?? j[\"HoraMensagem\"] ?? j[\"horaMensagem\"] ?? null;\n  const tempoAtualRaw   = j[\"Tempo atual\"]   ?? j[\"TempoAtual\"]   ?? j[\"tempoAtual\"]   ?? null;\n\n  const horaMensagemStr = typeof horaMensagemRaw === \"string\" ? horaMensagemRaw.trim() : horaMensagemRaw;\n  const tempoAtualStr   = typeof tempoAtualRaw   === \"string\" ? tempoAtualRaw.trim()   : tempoAtualRaw;\n\n  const base = {\n    Nome:               j[\"Nome\"]               ?? null,\n    Id:                 j[\"Id\"]                 ?? null,\n    Telefone:           j[\"Telefone\"]           ?? null,\n    Email:              j[\"Email\"]              ?? null,\n    Idcontatochatwoot:  j[\"Idcontatochatwoot\"]  ?? null,\n    Idconversachatwoot: j[\"Idconversachatwoot\"] ?? null,\n    \"Hora Mensagem\":    horaMensagemStr         ?? null,\n    \"Tempo atual\":      tempoAtualStr           ?? null\n  };\n\n  if (!horaMensagemStr || !tempoAtualStr) {\n    return {\n      json: {\n        ...base,\n        error: \"Um dos campos de data está vazio\",\n        _debug: {\n          temHoraMensagem:   Boolean(horaMensagemStr),\n          temTempoAtual:     Boolean(tempoAtualStr),\n          chavesDisponiveis: Object.keys(j)\n        }\n      }\n    };\n  }\n\n  // ── Parser 1: ISO 8601 → extrai hora local, ignora offset de fuso\n  // Ex: \"2026-03-04T12:53:44.188-03:00\" → 12h53\n  function parseISO(str) {\n    if (!/^\\d{4}-\\d{2}-\\d{2}T/.test(str)) return null;\n    const m = str.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, yyyy, MM, dd, HH, mm] = m;\n    return new Date(parseInt(yyyy), parseInt(MM) - 1, parseInt(dd), parseInt(HH), parseInt(mm));\n  }\n\n  // ── Parser 2: PT-BR → \"sexta-feira, 06 de março de 2026, 11:50\"\n  function parsePtBr(str) {\n    const meses = {\n      janeiro: 0, fevereiro: 1, março: 2, marco: 2,\n      abril: 3, maio: 4, junho: 5, julho: 6,\n      agosto: 7, setembro: 8, outubro: 9, novembro: 10, dezembro: 11\n    };\n    const clean = str.replace(/^[^,]+,\\s*/, \"\");\n    const m = clean.match(/(\\d{1,2}) de ([^\\s]+) de (\\d{4}), (\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, dd, mesStr, yyyy, HH, MM] = m;\n    const mes = meses[mesStr.toLowerCase()];\n    if (mes === undefined) return null;\n    return new Date(parseInt(yyyy), mes, parseInt(dd), parseInt(HH), parseInt(MM));\n  }\n\n  // ── Tenta ISO primeiro, depois PT-BR\n  function parseData(str) {\n    return parseISO(str) ?? parsePtBr(str);\n  }\n\n  const dataMensagem = parseData(horaMensagemStr);\n  const dataAtual    = parseData(tempoAtualStr);\n\n  if (!dataMensagem || !dataAtual) {\n    return {\n      json: {\n        ...base,\n        error: \"Erro ao interpretar datas\",\n        _debug: {\n          horaMensagemStr,\n          tempoAtualStr,\n          parsedMensagem: String(dataMensagem),\n          parsedAtual:    String(dataAtual)\n        }\n      }\n    };\n  }\n\n  const diffMs      = dataAtual.getTime() - dataMensagem.getTime();\n  const diffHoras   = Math.floor(diffMs / (1000 * 60 * 60));\n  const diffMinutos = Math.floor(diffMs / (1000 * 60)) % 60;\n\n  return {\n    json: {\n      ...base,\n      diferencaHoras:   diffHoras,\n      diferencaMinutos: diffMinutos\n    }\n  };\n});\n\nreturn arrayLeads.sort((b,a) => b.json.diferencaHoras - a.json.diferencaHoras);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3024,1664],"id":"87656ac2-4fc4-4c5e-986e-1b26c6a02f77","name":"Diferença de Horas1"},{"parameters":{"assignments":{"assignments":[{"id":"8cd29fb8-ef7b-4aa4-a8ac-b6e0d9f24955","name":"Hora Mensagem","value":"={{ $json.hora_mensagem }}","type":"string"},{"id":"bec4660e-4923-4978-9c33-21ce4ac67c05","name":"Nome","value":"={{ $json.Nome }}","type":"string"},{"id":"7df1b195-f875-4607-b559-65c9c01deef3","name":"Id","value":"={{ $json.id }}","type":"number"},{"id":"12f65e25-6153-4c0c-89a2-10641f96bb1b","name":"Telefone","value":"={{ $json.Telefone }}","type":"string"},{"id":"24044a3e-a502-4954-84d0-a701b9f6f715","name":"Tempo atual","value":"={{ $now.setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}","type":"string"},{"id":"9fdba900-f879-4c33-aab9-3c50fc5aff55","name":"Idcontatochatwoot","value":"={{ $json.id_contato_chatwoot }}","type":"string"},{"id":"2debc26a-881d-4e9e-9292-4b4ec55f214d","name":"Idconversachatwoot","value":"={{ $json.id_conversa_chatwoot }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3248,1664],"id":"71e66ab1-724a-41c2-9355-0a95151e2a2c","name":"Pega Time Mensagem1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d06b6bf-498a-493f-8a78-bc518627a95e","leftValue":"={{ $json.fup }}","rightValue":"1","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3920,1664],"id":"3442f91a-2cc1-4ea2-9e8d-5a30dca214ea","name":"FollowUpStatus = 0"},{"parameters":{"jsCode":"return items.map(item => {\n  const timeZone = \"America/Sao_Paulo\";\n\n  // Hora atual em São Paulo\n  const nowSP = new Date(\n    new Date().toLocaleString(\"en-US\", { timeZone })\n  );\n  const hour = nowSP.getHours(); // 0–23\n\n  // Janela permitida: 08:00 <= agora < 22:00\n  const withinAllowedTime = hour >= 8 && hour < 22;\n\n  return {\n    json: {\n      ...item.json,\n      currentTime: nowSP.toLocaleString(\"pt-BR\", { timeZone }),\n      withinAllowedTime\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2576,1664],"id":"96874e0a-9892-46c0-8564-265f7e38a6b7","name":"8 as 22 horas"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"92f73086-dc73-4a79-934f-73df426ef77c","leftValue":"={{ $json.withinAllowedTime }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2352,1664],"id":"e740e183-81d7-40d4-a0c1-dc0ec0c5eeb0","name":"Se horário é das 08 as 22"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2128,1664],"id":"8ceb4597-7901-4189-909f-b4a8030704a8","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-5184,1904],"id":"e4c7d56f-2ba9-42f0-a37b-623c0efd0f1a","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59d71979-05d8-4d71-980f-28581fd939bd","leftValue":"={{ $json.diferencaHoras }}","rightValue":0.9,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2800,1664],"id":"c4429b03-5434-4a35-bcc4-f390245c3e02","name":"maior que 1 hora"},{"parameters":{"jsCode":"// Este código retorna todos os dados das 10 primeiras linhas\nreturn items.slice(0, 30);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3472,2032],"id":"2fddf366-31b9-42be-9bef-8f482f7b122c","name":"Pega os 10 Primeiros da Lista"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88ea99f4-6803-4f9c-b0e3-7835171c8eb2","leftValue":"={{ $json['Mensagem Lead'] }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3696,2032],"id":"63f875c4-fbab-412c-a1d5-f05e87985077","name":"If"},{"parameters":{"jsCode":"return items.map(item => {\n  const j = item.json || {};\n\n  const horaMensagemRaw = j[\"Hora Mensagem\"] ?? j[\"HoraMensagem\"] ?? j[\"horaMensagem\"] ?? null;\n  const tempoAtualRaw   = j[\"Tempo atual\"]   ?? j[\"TempoAtual\"]   ?? j[\"tempoAtual\"]   ?? null;\n\n  const horaMensagemStr = typeof horaMensagemRaw === \"string\" ? horaMensagemRaw.trim() : horaMensagemRaw;\n  const tempoAtualStr   = typeof tempoAtualRaw   === \"string\" ? tempoAtualRaw.trim()   : tempoAtualRaw;\n\n  const base = {\n    Nome:               j[\"Nome\"]               ?? null,\n    Id:                 j[\"Id\"]                 ?? null,\n    Telefone:           j[\"Telefone\"]           ?? null,\n    Email:              j[\"Email\"]              ?? null,\n    Idcontatochatwoot:  j[\"Idcontatochatwoot\"]  ?? null,\n    Idconversachatwoot: j[\"Idconversachatwoot\"] ?? null,\n    \"Hora Mensagem\":    horaMensagemStr         ?? null,\n    \"Tempo atual\":      tempoAtualStr           ?? null\n  };\n\n  if (!horaMensagemStr || !tempoAtualStr) {\n    return {\n      json: {\n        ...base,\n        error: \"Um dos campos de data está vazio\",\n        _debug: {\n          temHoraMensagem:   Boolean(horaMensagemStr),\n          temTempoAtual:     Boolean(tempoAtualStr),\n          chavesDisponiveis: Object.keys(j)\n        }\n      }\n    };\n  }\n\n  // ── Parser 1: ISO 8601 → extrai hora local, ignora offset de fuso\n  // Ex: \"2026-03-04T12:53:44.188-03:00\" → 12h53\n  function parseISO(str) {\n    if (!/^\\d{4}-\\d{2}-\\d{2}T/.test(str)) return null;\n    const m = str.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, yyyy, MM, dd, HH, mm] = m;\n    return new Date(parseInt(yyyy), parseInt(MM) - 1, parseInt(dd), parseInt(HH), parseInt(mm));\n  }\n\n  // ── Parser 2: PT-BR → \"sexta-feira, 06 de março de 2026, 11:50\"\n  function parsePtBr(str) {\n    const meses = {\n      janeiro: 0, fevereiro: 1, março: 2, marco: 2,\n      abril: 3, maio: 4, junho: 5, julho: 6,\n      agosto: 7, setembro: 8, outubro: 9, novembro: 10, dezembro: 11\n    };\n    const clean = str.replace(/^[^,]+,\\s*/, \"\");\n    const m = clean.match(/(\\d{1,2}) de ([^\\s]+) de (\\d{4}), (\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, dd, mesStr, yyyy, HH, MM] = m;\n    const mes = meses[mesStr.toLowerCase()];\n    if (mes === undefined) return null;\n    return new Date(parseInt(yyyy), mes, parseInt(dd), parseInt(HH), parseInt(MM));\n  }\n\n  // ── Tenta ISO primeiro, depois PT-BR\n  function parseData(str) {\n    return parseISO(str) ?? parsePtBr(str);\n  }\n\n  const dataMensagem = parseData(horaMensagemStr);\n  const dataAtual    = parseData(tempoAtualStr);\n\n  if (!dataMensagem || !dataAtual) {\n    return {\n      json: {\n        ...base,\n        error: \"Erro ao interpretar datas\",\n        _debug: {\n          horaMensagemStr,\n          tempoAtualStr,\n          parsedMensagem: String(dataMensagem),\n          parsedAtual:    String(dataAtual)\n        }\n      }\n    };\n  }\n\n  const diffMs      = dataAtual.getTime() - dataMensagem.getTime();\n  const diffHoras   = Math.floor(diffMs / (1000 * 60 * 60));\n  const diffMinutos = Math.floor(diffMs / (1000 * 60)) % 60;\n\n  return {\n    json: {\n      ...base,\n      diferencaHoras:   diffHoras,\n      diferencaMinutos: diffMinutos\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3024,2032],"id":"b289b75b-c6a0-4539-91a8-3134171cf660","name":"Diferença de Horas"},{"parameters":{"jsCode":"return items.map(item => {\n  const timeZone = \"America/Sao_Paulo\";\n\n  // Hora atual em São Paulo\n  const nowSP = new Date(\n    new Date().toLocaleString(\"en-US\", { timeZone })\n  );\n  const hour = nowSP.getHours(); // 0–23\n\n  // Janela permitida: 08:00 <= agora < 22:00\n  const withinAllowedTime = hour >= 8 && hour < 22;\n\n  return {\n    json: {\n      ...item.json,\n      currentTime: nowSP.toLocaleString(\"pt-BR\", { timeZone }),\n      withinAllowedTime\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2576,2032],"id":"4d995016-e0c4-4641-89b5-01001019a28a","name":"8 as 22 horas1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"92f73086-dc73-4a79-934f-73df426ef77c","leftValue":"={{ $json.withinAllowedTime }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2352,2032],"id":"6490e0cb-441f-4baa-88fc-2b2136745cd6","name":"Se horário é das 08 as "},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2128,2032],"id":"98c70452-dccc-4664-b5fd-3eef446eadb6","name":"Loop Over Items1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d06b6bf-498a-493f-8a78-bc518627a95e","leftValue":"={{ $json.fup }}","rightValue":"1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3920,2032],"id":"2d9754f0-3eaa-4511-a6cd-739012b77cef","name":"FollowUpStatus =1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94168bb8-6766-4363-ba6c-92c41c6466d5","leftValue":"={{ $json.pausado }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"e70d4266-53ce-4469-a042-dfdb5c5f6ce7","leftValue":"={{ $json.vendedor }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4144,1904],"id":"8d60a51c-274a-439a-9f4a-bbba624cd8f6","name":"Se Agendado/Reagendado/Compareceu5"},{"parameters":{"operation":"update","tableId":"whatsapp_bdr","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items').item.json.Id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"hora_mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").toFormat(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"fup","fieldValue":"1"},{"fieldId":"mensagem_lead","fieldValue":"={{false}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-784,1424],"id":"504b2d3d-38eb-4c9c-8327-bc97d4307571","name":"Update a row6","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"operation":"update","tableId":"whatsapp_bdr","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items1').item.json.Id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"hora_mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").toFormat(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"fup","fieldValue":"concluido"},{"fieldId":"mensagem_lead","fieldValue":"={{false}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1008,1952],"id":"66ffe671-c8e1-44d3-98a0-2f24b1576e2f","name":"Update a row","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"operation":"getAll","tableId":"whatsapp_bdr","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"interagiu","condition":"is","keyValue":"={{ true }}"},{"keyName":"id_contato_chatwoot","condition":"neq","keyValue":"={{ null }}"},{"keyName":"id_conversa_chatwoot","condition":"neq","keyValue":"={{ null }}"},{"keyName":"sem_interesse","condition":"is","keyValue":"={{ false }}"},{"keyName":"Navio","condition":"eq","keyValue":"DOMINGUINHO EM ALTO MAR"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4736,1904],"id":"7f819fcc-88c7-40a7-8615-306b356ee13b","name":"Get many rows1","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"836f7675-e2dc-4d19-bcf6-ad116d7a8d6a","leftValue":"={{ $json.origem.toLowerCase() }}","rightValue":"formulario","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4368,1904],"id":"5c4ea0ef-a15e-4c74-a649-83c4c3982f6e","name":"If6"},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"=69bc2d88ada09500137ed50f"},{"name":"amount","value":"3000"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,1520],"id":"1b1c94a2-2fac-47fd-b369-c8be9243ad8f","name":"Funil - FUP1","executeOnce":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Loop Over Items').first().json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-560,1424],"id":"4ac0ee45-c629-40a3-b27d-0158585d02fc","name":"Pega id do contato4","executeOnce":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $('Pega id do contato5').item.json.contacts[0].deals[0].id || $('Criar a Negociação1').item.json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"=69bc2d88ada09500137ed510"},{"name":"amount","value":"3000"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-336,2048],"id":"2495edfa-6cd8-47ad-953a-d800db474547","name":"Funil - FUP2","onError":"continueRegularOutput"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-784,1952],"id":"39f819d7-42dd-4da8-918a-39f68d1437cc","name":"Pega id do contato5","onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-112,2048],"id":"f37ddbdf-39e7-477c-9293-ebb5b554ce24","name":"Wait","webhookId":"e71635b7-8e76-4624-bb3e-ffbec39b2068"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[112,1520],"id":"28beed0b-a82b-4207-9b35-cc4256633a84","name":"Wait1","webhookId":"de168b78-1660-4391-bd80-883abd80105f"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').first().json.chatwooturl }}/api/v1/accounts/{{ $('Edit Fields').first().json.accountid }}/conversations/{{ $('Loop Over Items1').item.json.Idconversachatwoot }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').first().json.chatwoottoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Enquanto isso, deixa eu te apresentar o Dominguinho Em Alto Mar 🎸\n\nUm encontro especial com João Gomes, Jota Pê, Mestrinho e grandes nomes da música brasileira, navegando pelo oceano a bordo do MSC Divina.\n\n🚢 *MSC Divina* — um dos maiores navios do Brasil\n📅 12 a 15 de dezembro · 3 noites no oceano\n🎪 Saída de Santos – SP\n\n🎵 João Gomes · Mestrinho · Jota.Pê\n🎶 Ney Matogrosso · Elba Ramalho · Seu Jorge\n🎶 Saulo Fernandes · Vanessa da Mata · Os Paralamas\n✨ Gilsons · Mariana Aydar · Bruna Black\n\n*Gastronomia e entretenimento completo a bordo* (varia por tipo de experience resource)\n\nVamos seguir com a reserva da sua experience resource?"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1232,1952],"id":"a42504b8-0b0b-46b4-9e43-467fd208fdf4","name":"HTTP Request19","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"e8a984ac-68f2-4e01-819f-18342f854340","name":"chatwooturl","value":"https://chatwoot.demo-events.com.br","type":"string"},{"id":"b3de1e03-865f-4a07-b10a-54db6728672e","name":"accountid","value":"1","type":"string"},{"id":"29ea5b6e-9276-4734-a858-2a5efc343bed","name":"chatwoottoken","value":"${CHATWOOT_TOKEN}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4960,1904],"id":"db29239c-1dda-4689-b635-29f6f1577726","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e592c35e-79f3-4728-a6a1-99234808c5d2","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-336,1424],"id":"c7b14358-2457-4890-92c1-5881bd7491ee","name":"If11"},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"69bc2d88ada09500137ed50f\",\n    \"name\": \"{{ $('Loop Over Items').first().json.Nome }} - MUDAR\",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5d5b72bd1e0013392272\",\n        \"value\": \"BDR IA\"\n      }\n    ]\n  },\n  \"contacts\": [\n    {\n      \"name\": \"{{ $('Loop Over Items').first().json.Nome }}\",\n      \"phones\": [\n        {\n          \"phone\": \"{{ $('Loop Over Items').first().json.Telefone }}\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,1328],"id":"13c606ad-5e76-43f0-ba89-f3b794cf44a8","name":"Criar a Negociação"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e592c35e-79f3-4728-a6a1-99234808c5d2","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-560,1952],"id":"c6908002-0d71-4745-aab7-95aa90ba6125","name":"If12"},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"69bc2d88ada09500137ed510\",\n    \"name\": \"{{ $('Loop Over Items1').item.json.Nome }}\",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5d5b72bd1e0013392272\",\n        \"value\": \"SDR IA\"\n      }\n    ]\n  },\n  \"contacts\": [\n    {\n      \"name\": \"{{ $('Loop Over Items1').item.json.Nome }}\",\n      \"phones\": [\n        {\n          \"phone\": \"{{ $('Loop Over Items1').item.json.Telefone }}\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-336,1856],"id":"15cf3061-b591-491e-9f58-56b4b7194afe","name":"Criar a Negociação1","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"8cd29fb8-ef7b-4aa4-a8ac-b6e0d9f24955","name":"Hora Mensagem","value":"={{ $json.hora_mensagem }}","type":"string"},{"id":"bec4660e-4923-4978-9c33-21ce4ac67c05","name":"Nome","value":"={{ $json.Nome }}","type":"string"},{"id":"7df1b195-f875-4607-b559-65c9c01deef3","name":"Id","value":"={{ $json.id }}","type":"number"},{"id":"12f65e25-6153-4c0c-89a2-10641f96bb1b","name":"Telefone","value":"={{ $json.Telefone }}","type":"string"},{"id":"24044a3e-a502-4954-84d0-a701b9f6f715","name":"Tempo atual","value":"={{ $now.setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}","type":"string"},{"id":"9fdba900-f879-4c33-aab9-3c50fc5aff55","name":"Idcontatochatwoot","value":"={{ $json.id_contato_chatwoot }}","type":"string"},{"id":"2debc26a-881d-4e9e-9292-4b4ec55f214d","name":"Idconversachatwoot","value":"={{ $json.id_conversa_chatwoot }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3248,2032],"id":"f6a0a6cc-62c6-4bd1-9da4-4e3e8c78ad9c","name":"Pega Time Mensagem"},{"parameters":{"url":"=https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/bdr/bdr_lancamento_dominguinho001.png","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1904,1424],"id":"2a92ca6f-b647-4bcc-8f7f-e3014ad72cdf","name":"HTTP Request24"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').first().json.chatwooturl }}/api/v1/accounts/{{ $('Edit Fields').first().json.accountid }}/conversations/{{ $json.Idconversachatwoot }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').first().json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1680,1424],"id":"affcb218-4021-48f6-86cd-8cf9e560a42f","name":"HTTP Request25","onError":"continueErrorOutput"},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"=  {{ $('Loop Over Items').item.json.Telefone }}","messageType":"image","mediaLink":"=https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/bdr/bdr_lancamento_dominguinho001.png","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-1456,1424],"id":"05bc1f81-57a5-41c9-bcd4-4980a1c3a02b","name":"Send message40","webhookId":"9427b1cd-503b-4652-9111-95c15d94dc1e","credentials":{"whatsAppApi":{"id":"To1THhGiIOHC6BDc","name":"BDR"}}},{"parameters":{"url":"=https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/bdr/BDR_Lancamento_Navio%20Daminguinho_Banner002.png","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1904,1952],"id":"5909f931-e4d2-4dba-839e-7e1d1dfb3a20","name":"HTTP Request27"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').first().json.chatwooturl }}/api/v1/accounts/{{ $('Edit Fields').first().json.accountid }}/conversations/{{ $('Loop Over Items1').item.json.Idconversachatwoot }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').first().json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1680,1952],"id":"3dad91da-c912-41a4-bb07-50af676186ea","name":"HTTP Request28"},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('Loop Over Items1').item.json.Telefone }}","messageType":"image","mediaLink":"=https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/bdr/BDR_Lancamento_Navio%20Daminguinho_Banner002.png","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-1456,1952],"id":"51eb99ed-5f85-41bd-b848-7b8b928c6edb","name":"Send message","webhookId":"9427b1cd-503b-4652-9111-95c15d94dc1e","credentials":{"whatsAppApi":{"id":"To1THhGiIOHC6BDc","name":"BDR"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59d71979-05d8-4d71-980f-28581fd939bd","leftValue":"={{ $json.diferencaHoras }}","rightValue":11,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2800,2032],"id":"b1fec38f-3fa7-4e3e-9df7-120db4d85f49","name":"maior que 11 horas"},{"parameters":{"jsCode":"let arrayLeadsFUP = $('Get many rows1').all();\n\narrayLeadsFUP = arrayLeadsFUP.filter(i => i.json.fup !== \"concluido\");\n\nreturn arrayLeadsFUP;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4528,1904],"id":"3633df02-1724-49b5-8b5e-1c8543b16b30","name":"Code in JavaScript"},{"parameters":{"jsCode":"// Este código retorna todos os dados das 10 primeiras linhas\nreturn items.slice(0, 30);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3632,3296],"id":"78094d34-c44a-4dbd-a27f-2507a421077b","name":"Pega os 10 Primeiros da Lista2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88ea99f4-6803-4f9c-b0e3-7835171c8eb2","leftValue":"={{ $json.mensagem_lead }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3856,3296],"id":"058472f3-3958-419f-b624-c83d8533d1ef","name":"If24"},{"parameters":{"jsCode":"let arrayLeads = items.map(item => {\n  const j = item.json || {};\n\n  const horaMensagemRaw = j[\"Hora Mensagem\"] ?? j[\"HoraMensagem\"] ?? j[\"horaMensagem\"] ?? null;\n  const tempoAtualRaw   = j[\"Tempo atual\"]   ?? j[\"TempoAtual\"]   ?? j[\"tempoAtual\"]   ?? null;\n\n  const horaMensagemStr = typeof horaMensagemRaw === \"string\" ? horaMensagemRaw.trim() : horaMensagemRaw;\n  const tempoAtualStr   = typeof tempoAtualRaw   === \"string\" ? tempoAtualRaw.trim()   : tempoAtualRaw;\n\n  const base = {\n    Nome:               j[\"Nome\"]               ?? null,\n    Id:                 j[\"Id\"]                 ?? null,\n    Telefone:           j[\"Telefone\"]           ?? null,\n    Email:              j[\"Email\"]              ?? null,\n    Idcontatochatwoot:  j[\"Idcontatochatwoot\"]  ?? null,\n    Idconversachatwoot: j[\"Idconversachatwoot\"] ?? null,\n    \"Hora Mensagem\":    horaMensagemStr         ?? null,\n    \"Tempo atual\":      tempoAtualStr           ?? null\n  };\n\n  if (!horaMensagemStr || !tempoAtualStr) {\n    return {\n      json: {\n        ...base,\n        error: \"Um dos campos de data está vazio\",\n        _debug: {\n          temHoraMensagem:   Boolean(horaMensagemStr),\n          temTempoAtual:     Boolean(tempoAtualStr),\n          chavesDisponiveis: Object.keys(j)\n        }\n      }\n    };\n  }\n\n  // ── Parser 1: ISO 8601 → extrai hora local, ignora offset de fuso\n  // Ex: \"2026-03-04T12:53:44.188-03:00\" → 12h53\n  function parseISO(str) {\n    if (!/^\\d{4}-\\d{2}-\\d{2}T/.test(str)) return null;\n    const m = str.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, yyyy, MM, dd, HH, mm] = m;\n    return new Date(parseInt(yyyy), parseInt(MM) - 1, parseInt(dd), parseInt(HH), parseInt(mm));\n  }\n\n  // ── Parser 2: PT-BR → \"sexta-feira, 06 de março de 2026, 11:50\"\n  function parsePtBr(str) {\n    const meses = {\n      janeiro: 0, fevereiro: 1, março: 2, marco: 2,\n      abril: 3, maio: 4, junho: 5, julho: 6,\n      agosto: 7, setembro: 8, outubro: 9, novembro: 10, dezembro: 11\n    };\n    const clean = str.replace(/^[^,]+,\\s*/, \"\");\n    const m = clean.match(/(\\d{1,2}) de ([^\\s]+) de (\\d{4}), (\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, dd, mesStr, yyyy, HH, MM] = m;\n    const mes = meses[mesStr.toLowerCase()];\n    if (mes === undefined) return null;\n    return new Date(parseInt(yyyy), mes, parseInt(dd), parseInt(HH), parseInt(MM));\n  }\n\n  // ── Tenta ISO primeiro, depois PT-BR\n  function parseData(str) {\n    return parseISO(str) ?? parsePtBr(str);\n  }\n\n  const dataMensagem = parseData(horaMensagemStr);\n  const dataAtual    = parseData(tempoAtualStr);\n\n  if (!dataMensagem || !dataAtual) {\n    return {\n      json: {\n        ...base,\n        error: \"Erro ao interpretar datas\",\n        _debug: {\n          horaMensagemStr,\n          tempoAtualStr,\n          parsedMensagem: String(dataMensagem),\n          parsedAtual:    String(dataAtual)\n        }\n      }\n    };\n  }\n\n  const diffMs      = dataAtual.getTime() - dataMensagem.getTime();\n  const diffHoras   = Math.floor(diffMs / (1000 * 60 * 60));\n  const diffMinutos = Math.floor(diffMs / (1000 * 60)) % 60;\n\n  return {\n    json: {\n      ...base,\n      diferencaHoras:   diffHoras,\n      diferencaMinutos: diffMinutos\n    }\n  };\n});\n\nreturn arrayLeads.sort((b,a) => b.json.diferencaHoras - a.json.diferencaHoras);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3184,3296],"id":"0fce2fa7-83a8-40a5-a45f-d56d324cc990","name":"Diferença de Horas2"},{"parameters":{"assignments":{"assignments":[{"id":"8cd29fb8-ef7b-4aa4-a8ac-b6e0d9f24955","name":"Hora Mensagem","value":"={{ $json.hora_mensagem }}","type":"string"},{"id":"bec4660e-4923-4978-9c33-21ce4ac67c05","name":"Nome","value":"={{ $json.Nome }}","type":"string"},{"id":"7df1b195-f875-4607-b559-65c9c01deef3","name":"Id","value":"={{ $json.id }}","type":"number"},{"id":"12f65e25-6153-4c0c-89a2-10641f96bb1b","name":"Telefone","value":"={{ $json.Telefone }}","type":"string"},{"id":"24044a3e-a502-4954-84d0-a701b9f6f715","name":"Tempo atual","value":"={{ $now.setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}","type":"string"},{"id":"9fdba900-f879-4c33-aab9-3c50fc5aff55","name":"Idcontatochatwoot","value":"={{ $json.id_contato_chatwoot }}","type":"string"},{"id":"2debc26a-881d-4e9e-9292-4b4ec55f214d","name":"Idconversachatwoot","value":"={{ $json.id_conversa_chatwoot }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3408,3296],"id":"946246c2-685d-4b70-9c80-31e6bd56dc21","name":"Pega Time Mensagem2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d06b6bf-498a-493f-8a78-bc518627a95e","leftValue":"={{ $json.fup }}","rightValue":"1","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4080,3296],"id":"05b37c35-f31e-40b9-87bb-c9206391e4e5","name":"FollowUpStatus = "},{"parameters":{"jsCode":"return items.map(item => {\n  const timeZone = \"America/Sao_Paulo\";\n\n  // Hora atual em São Paulo\n  const nowSP = new Date(\n    new Date().toLocaleString(\"en-US\", { timeZone })\n  );\n  const hour = nowSP.getHours(); // 0–23\n\n  // Janela permitida: 08:00 <= agora < 22:00\n  const withinAllowedTime = hour >= 8 && hour < 22;\n\n  return {\n    json: {\n      ...item.json,\n      currentTime: nowSP.toLocaleString(\"pt-BR\", { timeZone }),\n      withinAllowedTime\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2736,3296],"id":"ede7bc1f-4e18-4c11-8e7c-7ed298791026","name":"8 as 22 horas2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"92f73086-dc73-4a79-934f-73df426ef77c","leftValue":"={{ $json.withinAllowedTime }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2512,3296],"id":"050eca55-180f-4276-b145-68904ca9ca79","name":"Se horário é das 08 as 23"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2288,3296],"id":"847c2ab0-617e-43b3-8f98-e1b25aa8b526","name":"Loop Over Items2"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-5344,3536],"id":"00da9198-a22e-4e1e-a4ef-868f5ac37a23","name":"Schedule Trigger1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59d71979-05d8-4d71-980f-28581fd939bd","leftValue":"={{ $json.diferencaHoras }}","rightValue":0.9,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2960,3296],"id":"741d3355-898c-460b-8f3f-d5470799a282","name":"maior que 1 hora1"},{"parameters":{"jsCode":"// Este código retorna todos os dados das 10 primeiras linhas\nreturn items.slice(0, 30);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3632,3664],"id":"4cdcff80-c5e5-4591-b927-82c16eebe6f1","name":"Pega os 10 Primeiros da Lista3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88ea99f4-6803-4f9c-b0e3-7835171c8eb2","leftValue":"={{ $json['Mensagem Lead'] }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3856,3664],"id":"53d672b2-01fb-4492-af62-eafc67d43156","name":"If1"},{"parameters":{"jsCode":"return items.map(item => {\n  const j = item.json || {};\n\n  const horaMensagemRaw = j[\"Hora Mensagem\"] ?? j[\"HoraMensagem\"] ?? j[\"horaMensagem\"] ?? null;\n  const tempoAtualRaw   = j[\"Tempo atual\"]   ?? j[\"TempoAtual\"]   ?? j[\"tempoAtual\"]   ?? null;\n\n  const horaMensagemStr = typeof horaMensagemRaw === \"string\" ? horaMensagemRaw.trim() : horaMensagemRaw;\n  const tempoAtualStr   = typeof tempoAtualRaw   === \"string\" ? tempoAtualRaw.trim()   : tempoAtualRaw;\n\n  const base = {\n    Nome:               j[\"Nome\"]               ?? null,\n    Id:                 j[\"Id\"]                 ?? null,\n    Telefone:           j[\"Telefone\"]           ?? null,\n    Email:              j[\"Email\"]              ?? null,\n    Idcontatochatwoot:  j[\"Idcontatochatwoot\"]  ?? null,\n    Idconversachatwoot: j[\"Idconversachatwoot\"] ?? null,\n    \"Hora Mensagem\":    horaMensagemStr         ?? null,\n    \"Tempo atual\":      tempoAtualStr           ?? null\n  };\n\n  if (!horaMensagemStr || !tempoAtualStr) {\n    return {\n      json: {\n        ...base,\n        error: \"Um dos campos de data está vazio\",\n        _debug: {\n          temHoraMensagem:   Boolean(horaMensagemStr),\n          temTempoAtual:     Boolean(tempoAtualStr),\n          chavesDisponiveis: Object.keys(j)\n        }\n      }\n    };\n  }\n\n  // ── Parser 1: ISO 8601 → extrai hora local, ignora offset de fuso\n  // Ex: \"2026-03-04T12:53:44.188-03:00\" → 12h53\n  function parseISO(str) {\n    if (!/^\\d{4}-\\d{2}-\\d{2}T/.test(str)) return null;\n    const m = str.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, yyyy, MM, dd, HH, mm] = m;\n    return new Date(parseInt(yyyy), parseInt(MM) - 1, parseInt(dd), parseInt(HH), parseInt(mm));\n  }\n\n  // ── Parser 2: PT-BR → \"sexta-feira, 06 de março de 2026, 11:50\"\n  function parsePtBr(str) {\n    const meses = {\n      janeiro: 0, fevereiro: 1, março: 2, marco: 2,\n      abril: 3, maio: 4, junho: 5, julho: 6,\n      agosto: 7, setembro: 8, outubro: 9, novembro: 10, dezembro: 11\n    };\n    const clean = str.replace(/^[^,]+,\\s*/, \"\");\n    const m = clean.match(/(\\d{1,2}) de ([^\\s]+) de (\\d{4}), (\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, dd, mesStr, yyyy, HH, MM] = m;\n    const mes = meses[mesStr.toLowerCase()];\n    if (mes === undefined) return null;\n    return new Date(parseInt(yyyy), mes, parseInt(dd), parseInt(HH), parseInt(MM));\n  }\n\n  // ── Tenta ISO primeiro, depois PT-BR\n  function parseData(str) {\n    return parseISO(str) ?? parsePtBr(str);\n  }\n\n  const dataMensagem = parseData(horaMensagemStr);\n  const dataAtual    = parseData(tempoAtualStr);\n\n  if (!dataMensagem || !dataAtual) {\n    return {\n      json: {\n        ...base,\n        error: \"Erro ao interpretar datas\",\n        _debug: {\n          horaMensagemStr,\n          tempoAtualStr,\n          parsedMensagem: String(dataMensagem),\n          parsedAtual:    String(dataAtual)\n        }\n      }\n    };\n  }\n\n  const diffMs      = dataAtual.getTime() - dataMensagem.getTime();\n  const diffHoras   = Math.floor(diffMs / (1000 * 60 * 60));\n  const diffMinutos = Math.floor(diffMs / (1000 * 60)) % 60;\n\n  return {\n    json: {\n      ...base,\n      diferencaHoras:   diffHoras,\n      diferencaMinutos: diffMinutos\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3184,3664],"id":"a9d3197e-a917-4f06-a5fe-f687ad50d06a","name":"Diferença de Horas3"},{"parameters":{"jsCode":"return items.map(item => {\n  const timeZone = \"America/Sao_Paulo\";\n\n  // Hora atual em São Paulo\n  const nowSP = new Date(\n    new Date().toLocaleString(\"en-US\", { timeZone })\n  );\n  const hour = nowSP.getHours(); // 0–23\n\n  // Janela permitida: 08:00 <= agora < 22:00\n  const withinAllowedTime = hour >= 8 && hour < 22;\n\n  return {\n    json: {\n      ...item.json,\n      currentTime: nowSP.toLocaleString(\"pt-BR\", { timeZone }),\n      withinAllowedTime\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2736,3664],"id":"4a125f71-4ef6-461e-b638-9289a83050ff","name":"8 as 22 horas3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"92f73086-dc73-4a79-934f-73df426ef77c","leftValue":"={{ $json.withinAllowedTime }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2512,3664],"id":"2059cc58-6fbf-4398-ba10-acb86ec2aa14","name":"Se horário é das 08 as 1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2288,3664],"id":"d0bb11ea-7ed7-4767-bef5-bc346b88f00e","name":"Loop Over Items3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d06b6bf-498a-493f-8a78-bc518627a95e","leftValue":"={{ $json.fup }}","rightValue":"1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4080,3664],"id":"2078b7d4-3850-4744-ac1c-a12d4a1b3d15","name":"FollowUpStatus ="},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94168bb8-6766-4363-ba6c-92c41c6466d5","leftValue":"={{ $json.pausado }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4304,3536],"id":"1c565c24-c0ae-43e9-b8e8-1caf29b52c64","name":"Se Agendado/Reagendado/Compareceu"},{"parameters":{"operation":"update","tableId":"whatsapp_bdr","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items2').item.json.Id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"hora_mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").toFormat(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"fup","fieldValue":"1"},{"fieldId":"mensagem_lead","fieldValue":"={{false}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-944,3056],"id":"6d3c0ec1-7f3f-43d5-9bbf-8efb5d65f5bf","name":"Update a row7","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"operation":"update","tableId":"whatsapp_bdr","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items3').item.json.Id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"hora_mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").toFormat(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"fup","fieldValue":"concluido"},{"fieldId":"mensagem_lead","fieldValue":"={{false}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1168,3584],"id":"3d082011-f0d8-4c5c-95b6-ca195932dce4","name":"Update a row1","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"operation":"getAll","tableId":"whatsapp_bdr","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"interagiu","condition":"is","keyValue":"={{ true }}"},{"keyName":"id_contato_chatwoot","condition":"neq","keyValue":"={{ null }}"},{"keyName":"id_conversa_chatwoot","condition":"neq","keyValue":"={{ null }}"},{"keyName":"sem_interesse","condition":"is","keyValue":"={{ false }}"},{"keyName":"Navio","condition":"eq","keyValue":"Navio VumBora Pro Mar"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4896,3536],"id":"f3ca365e-6508-48d1-a67a-e59a2e2a4a94","name":"Get many rows","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"836f7675-e2dc-4d19-bcf6-ad116d7a8d6a","leftValue":"={{ $json.origem.toLowerCase() }}","rightValue":"formulario","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4528,3536],"id":"45f687aa-bf74-4f84-93d6-aeefe22a7788","name":"If7"},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"=69bc2d88ada09500137ed50f"},{"name":"amount","value":"3000"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-272,3152],"id":"ddac19cd-048c-4f61-a69f-7f93c894dea1","name":"Funil - FUP","executeOnce":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Loop Over Items2').first().json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-720,3056],"id":"12e38316-a76a-404f-979f-ddcc9dac03d6","name":"Pega id do contato","executeOnce":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $('Pega id do contato6').item.json.contacts[0].deals[0].id || $('Criar a Negociação3').item.json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"=69bc2d88ada09500137ed510"},{"name":"amount","value":"3000"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-496,3680],"id":"c0149fab-3148-45c5-a381-447b23dd13bc","name":"Funil - FUP3","onError":"continueRegularOutput"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-944,3584],"id":"d5381dfe-f0c2-45de-b13a-3dcbdab88349","name":"Pega id do contato6","onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-272,3680],"id":"4dd40e9c-0dbb-467a-87de-ba6e7eb5fe4a","name":"Wait2","webhookId":"e71635b7-8e76-4624-bb3e-ffbec39b2068"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-48,3152],"id":"09dc81bf-1aea-438f-b3fe-7c08a227845c","name":"Wait3","webhookId":"de168b78-1660-4391-bd80-883abd80105f"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields1').first().json.chatwooturl }}/api/v1/accounts/{{ $('Edit Fields1').first().json.accountid }}/conversations/{{ $('Loop Over Items3').item.json.Idconversachatwoot }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields1').first().json.chatwoottoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Oi! Aqui está a sua proposta para o Vumbora Pro Mar\n\nBell Marques · Durval Lelys · Xand Avião · Timbalada\nXanddy Harmonia · E o Tchan! · Rafa & Pipo Marques\nMSC Divina · Santos, SP · 20 a 23 de novembro — 3 noites\n\n✅experience resource\n✅Todos os shows e festas a bordo inclusos\n✅Hospedagem e gastronomia completa\n✅Piscina infinity · Teatro Broadway · Cassino · Parque aquático\n\nFaz sentido pra você?\n"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1392,3584],"id":"1e5f6b94-6d3b-4ee9-a108-79d60a9c6a2b","name":"HTTP Request","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"e8a984ac-68f2-4e01-819f-18342f854340","name":"chatwooturl","value":"https://chatwoot.demo-events.com.br","type":"string"},{"id":"b3de1e03-865f-4a07-b10a-54db6728672e","name":"accountid","value":"1","type":"string"},{"id":"29ea5b6e-9276-4734-a858-2a5efc343bed","name":"chatwoottoken","value":"${CHATWOOT_TOKEN}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5120,3536],"id":"53e514a3-fbd7-4a9c-a355-0389d22c73ec","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e592c35e-79f3-4728-a6a1-99234808c5d2","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-496,3056],"id":"ba8c42b6-9e59-425c-b377-dcedf96b7f75","name":"If13"},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"69bc2d88ada09500137ed50f\",\n    \"name\": \"{{ $('Loop Over Items2').first().json.Nome }} - MUDAR\",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5d5b72bd1e0013392272\",\n        \"value\": \"BDR IA\"\n      }\n    ]\n  },\n  \"contacts\": [\n    {\n      \"name\": \"{{ $('Loop Over Items2').first().json.Nome }}\",\n      \"phones\": [\n        {\n          \"phone\": \"{{ $('Loop Over Items2').first().json.Telefone }}\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-272,2960],"id":"cb17f00a-36b8-413e-876b-013812136a27","name":"Criar a Negociação2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e592c35e-79f3-4728-a6a1-99234808c5d2","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-720,3584],"id":"11c0dbc0-d93d-4741-8808-f320ff93dc85","name":"If14"},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"69bc2d88ada09500137ed510\",\n    \"name\": \"{{ $('Loop Over Items3').item.json.Nome }}\",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5d5b72bd1e0013392272\",\n        \"value\": \"SDR IA\"\n      }\n    ]\n  },\n  \"contacts\": [\n    {\n      \"name\": \"{{ $('Loop Over Items3').item.json.Nome }}\",\n      \"phones\": [\n        {\n          \"phone\": \"{{ $('Loop Over Items3').item.json.Telefone }}\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-496,3488],"id":"117398a1-d376-493f-bdaa-2773fa1dd259","name":"Criar a Negociação3","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"8cd29fb8-ef7b-4aa4-a8ac-b6e0d9f24955","name":"Hora Mensagem","value":"={{ $json.hora_mensagem }}","type":"string"},{"id":"bec4660e-4923-4978-9c33-21ce4ac67c05","name":"Nome","value":"={{ $json.Nome }}","type":"string"},{"id":"7df1b195-f875-4607-b559-65c9c01deef3","name":"Id","value":"={{ $json.id }}","type":"number"},{"id":"12f65e25-6153-4c0c-89a2-10641f96bb1b","name":"Telefone","value":"={{ $json.Telefone }}","type":"string"},{"id":"24044a3e-a502-4954-84d0-a701b9f6f715","name":"Tempo atual","value":"={{ $now.setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}","type":"string"},{"id":"9fdba900-f879-4c33-aab9-3c50fc5aff55","name":"Idcontatochatwoot","value":"={{ $json.id_contato_chatwoot }}","type":"string"},{"id":"2debc26a-881d-4e9e-9292-4b4ec55f214d","name":"Idconversachatwoot","value":"={{ $json.id_conversa_chatwoot }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3408,3664],"id":"d9f11ded-5b01-484a-a2f1-c92c17167ef8","name":"Pega Time Mensagem3"},{"parameters":{"url":"=https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/material_marketing/NavioVumBoraProMar_Banner_Fup_001.jpg","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2064,3056],"id":"6bce00a3-415a-4aa4-9b38-04cf352a9fea","name":"HTTP Request26"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields1').first().json.chatwooturl }}/api/v1/accounts/{{ $('Edit Fields1').first().json.accountid }}/conversations/{{ $json.Idconversachatwoot }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields1').first().json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1840,3056],"id":"aa659f49-9317-402f-ac43-2f84680c62cf","name":"HTTP Request29","onError":"continueErrorOutput"},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"=  {{ $('Loop Over Items2').item.json.Telefone }}","messageType":"image","mediaLink":"=https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/material_marketing/NavioVumBoraProMar_Banner_Fup_001.jpg","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-1616,3056],"id":"f4aee3d6-20ac-45cc-b874-37e1af60ff49","name":"Send message41","webhookId":"9427b1cd-503b-4652-9111-95c15d94dc1e","credentials":{"whatsAppApi":{"id":"To1THhGiIOHC6BDc","name":"BDR"}}},{"parameters":{"url":"=https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/material_marketing/NavioVumBoraProMar_Banner_Fup_002.jpg","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2064,3584],"id":"2152ade1-4408-455f-95d9-560f8f6c9650","name":"HTTP Request30"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields1').first().json.chatwooturl }}/api/v1/accounts/{{ $('Edit Fields1').first().json.accountid }}/conversations/{{ $('Loop Over Items3').item.json.id_conversa_chatwoot }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields1').first().json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1840,3584],"id":"5d897f33-5e4f-4ce4-ab1c-2523fb3e3980","name":"HTTP Request31"},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('Loop Over Items3').item.json.Telefone }}","messageType":"image","mediaLink":"=https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/material_marketing/NavioVumBoraProMar_Banner_Fup_002.jpg","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-1616,3584],"id":"1cd1d803-ee8a-4ca5-91d0-3a938c27b289","name":"Send message1","webhookId":"9427b1cd-503b-4652-9111-95c15d94dc1e","credentials":{"whatsAppApi":{"id":"To1THhGiIOHC6BDc","name":"BDR"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59d71979-05d8-4d71-980f-28581fd939bd","leftValue":"={{ $json.diferencaHoras }}","rightValue":11,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2960,3664],"id":"856da055-01ce-454a-a30e-b6fbea0aea75","name":"maior que 11 horas1"},{"parameters":{"jsCode":"let arrayLeadsFUP = $('Get many rows').all();\n\narrayLeadsFUP = arrayLeadsFUP.filter(i => i.json.fup !== \"concluido\");\n\nreturn arrayLeadsFUP;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4688,3536],"id":"6faacd57-05b5-455c-b523-9fe1faf317a5","name":"Code in JavaScript1"},{"parameters":{"content":"## DOMINGUINHO EM ALTO MAR","height":1104,"width":5552},"type":"n8n-nodes-base.stickyNote","position":[-5248,1344],"typeVersion":1,"id":"f65a3785-1aa5-47f5-8ef9-76a84f2abedc","name":"Sticky Note1"},{"parameters":{"content":"## VUMBORA PRO MAR","height":1424,"width":6128},"type":"n8n-nodes-base.stickyNote","position":[-5616,2768],"typeVersion":1,"id":"d99ebf78-05fd-429f-aeaf-708d7f255135","name":"Sticky Note"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').first().json.chatwooturl }}/api/v1/accounts/{{ $('Edit Fields').first().json.accountid }}/conversations/{{ $('Loop Over Items').item.json.Idconversachatwoot }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').first().json.chatwoottoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Olá! Que ótimo ter você aqui! Sou a DomainAssistant, da Demo Events Co Cruzeiros. Fico feliz que tenha respondido. \n\nVou te explicar tudo sobre o Dominguinho Em Alto Mar, uma experiência incrível em dezembro com um line-up que realmente surpreende. \n\nMe conta: Você está pensando em viajar sozinho, em casal ou em grupo?\n"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1136,1408],"id":"135178e2-b5bf-453c-8b90-e56a390f59e4","name":"HTTP Request23"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields1').first().json.chatwooturl }}/api/v1/accounts/{{ $('Edit Fields1').first().json.accountid }}/conversations/{{ $('Loop Over Items2').item.json.Idconversachatwoot }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields1').first().json.chatwoottoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Oi! Que ótimo que você respondeu! \n\nAqui é a DomainAssistant, da Demo Events Co Cruzeiros. \n\nEstou aqui pra te ajudar a garantir sua experience resource no Vumbora Pro Mar — Bell Marques, Xand Avião, Timbalada e mais atrações incríveis, tudo no MSC Divina em Novembro. \n\nSó pra eu montar a melhor opção: você viajaria sozinho, em casal ou em grupo? \n\nE tem preferência de experience resource?\n"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1344,3056],"id":"4bc6e97e-7b96-4678-9861-ec63a6a34705","name":"HTTP Request32"}],"connections":{"Pega os 10 Primeiros da Lista1":{"main":[[{"node":"Pega Time Mensagem1","type":"main","index":0}]]},"If23":{"main":[[{"node":"Pega os 10 Primeiros da Lista1","type":"main","index":0}]]},"Diferença de Horas1":{"main":[[{"node":"maior que 1 hora","type":"main","index":0}]]},"Pega Time Mensagem1":{"main":[[{"node":"Diferença de Horas1","type":"main","index":0}]]},"FollowUpStatus = 0":{"main":[[{"node":"If23","type":"main","index":0}],[]]},"8 as 22 horas":{"main":[[{"node":"Se horário é das 08 as 22","type":"main","index":0}]]},"Se horário é das 08 as 22":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request24","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"maior que 1 hora":{"main":[[{"node":"8 as 22 horas","type":"main","index":0}]]},"Pega os 10 Primeiros da Lista":{"main":[[{"node":"Pega Time Mensagem","type":"main","index":0}]]},"If":{"main":[[{"node":"Pega os 10 Primeiros da Lista","type":"main","index":0}]]},"Diferença de Horas":{"main":[[{"node":"maior que 11 horas","type":"main","index":0}]]},"8 as 22 horas1":{"main":[[{"node":"Se horário é das 08 as ","type":"main","index":0}]]},"Se horário é das 08 as ":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"HTTP Request27","type":"main","index":0}]]},"FollowUpStatus =1":{"main":[[{"node":"If","type":"main","index":0}],[]]},"Se Agendado/Reagendado/Compareceu5":{"main":[[],[{"node":"FollowUpStatus =1","type":"main","index":0},{"node":"FollowUpStatus = 0","type":"main","index":0}]]},"Update a row6":{"main":[[{"node":"Pega id do contato4","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Pega id do contato5","type":"main","index":0}]]},"Get many rows1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"If6":{"main":[[],[{"node":"Se Agendado/Reagendado/Compareceu5","type":"main","index":0}]]},"Funil - FUP1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Pega id do contato4":{"main":[[{"node":"If11","type":"main","index":0}]]},"Funil - FUP2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Pega id do contato5":{"main":[[{"node":"If12","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request19":{"main":[[{"node":"Update a row","type":"main","index":0}],[]]},"Edit Fields":{"main":[[{"node":"Get many rows1","type":"main","index":0}]]},"If11":{"main":[[{"node":"Criar a Negociação","type":"main","index":0}],[{"node":"Funil - FUP1","type":"main","index":0}]]},"Criar a Negociação":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If12":{"main":[[{"node":"Criar a Negociação1","type":"main","index":0}],[{"node":"Funil - FUP2","type":"main","index":0}]]},"Criar a Negociação1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Pega Time Mensagem":{"main":[[{"node":"Diferença de Horas","type":"main","index":0}]]},"HTTP Request24":{"main":[[{"node":"HTTP Request25","type":"main","index":0}]]},"HTTP Request25":{"main":[[{"node":"Send message40","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Send message40":{"main":[[{"node":"HTTP Request23","type":"main","index":0}]]},"HTTP Request27":{"main":[[{"node":"HTTP Request28","type":"main","index":0}]]},"HTTP Request28":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Send message":{"main":[[{"node":"HTTP Request19","type":"main","index":0}]]},"maior que 11 horas":{"main":[[{"node":"8 as 22 horas1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If6","type":"main","index":0}]]},"Pega os 10 Primeiros da Lista2":{"main":[[{"node":"Pega Time Mensagem2","type":"main","index":0}]]},"If24":{"main":[[{"node":"Pega os 10 Primeiros da Lista2","type":"main","index":0}]]},"Diferença de Horas2":{"main":[[{"node":"maior que 1 hora1","type":"main","index":0}]]},"Pega Time Mensagem2":{"main":[[{"node":"Diferença de Horas2","type":"main","index":0}]]},"FollowUpStatus = ":{"main":[[{"node":"If24","type":"main","index":0}]]},"8 as 22 horas2":{"main":[[{"node":"Se horário é das 08 as 23","type":"main","index":0}]]},"Se horário é das 08 as 23":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"HTTP Request26","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"maior que 1 hora1":{"main":[[{"node":"8 as 22 horas2","type":"main","index":0}]]},"Pega os 10 Primeiros da Lista3":{"main":[[{"node":"Pega Time Mensagem3","type":"main","index":0}]]},"If1":{"main":[[{"node":"Pega os 10 Primeiros da Lista3","type":"main","index":0}]]},"Diferença de Horas3":{"main":[[{"node":"maior que 11 horas1","type":"main","index":0}]]},"8 as 22 horas3":{"main":[[{"node":"Se horário é das 08 as 1","type":"main","index":0}]]},"Se horário é das 08 as 1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"HTTP Request30","type":"main","index":0}]]},"FollowUpStatus =":{"main":[[{"node":"If1","type":"main","index":0}]]},"Se Agendado/Reagendado/Compareceu":{"main":[[],[{"node":"FollowUpStatus =","type":"main","index":0},{"node":"FollowUpStatus = ","type":"main","index":0}]]},"Update a row7":{"main":[[{"node":"Pega id do contato","type":"main","index":0}]]},"Update a row1":{"main":[[{"node":"Pega id do contato6","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"If7":{"main":[[],[{"node":"Se Agendado/Reagendado/Compareceu","type":"main","index":0}]]},"Funil - FUP":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Pega id do contato":{"main":[[{"node":"If13","type":"main","index":0}]]},"Funil - FUP3":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Pega id do contato6":{"main":[[{"node":"If14","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Update a row1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"If13":{"main":[[{"node":"Criar a Negociação2","type":"main","index":0}],[{"node":"Funil - FUP","type":"main","index":0}]]},"Criar a Negociação2":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"If14":{"main":[[{"node":"Criar a Negociação3","type":"main","index":0}],[{"node":"Funil - FUP3","type":"main","index":0}]]},"Criar a Negociação3":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Pega Time Mensagem3":{"main":[[{"node":"Diferença de Horas3","type":"main","index":0}]]},"HTTP Request26":{"main":[[{"node":"HTTP Request29","type":"main","index":0}]]},"HTTP Request29":{"main":[[{"node":"Send message41","type":"main","index":0}],[{"node":"Loop Over Items2","type":"main","index":0}]]},"Send message41":{"main":[[{"node":"HTTP Request32","type":"main","index":0}]]},"HTTP Request30":{"main":[[{"node":"HTTP Request31","type":"main","index":0}]]},"HTTP Request31":{"main":[[{"node":"Send message1","type":"main","index":0}]]},"Send message1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"maior que 11 horas1":{"main":[[{"node":"8 as 22 horas3","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"If7","type":"main","index":0}]]},"HTTP Request23":{"main":[[{"node":"Update a row6","type":"main","index":0}]]},"HTTP Request32":{"main":[[{"node":"Update a row7","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2026-03-27T09:20:57.005-03:00","Readable date":"March 27th 2026, 9:20:57 am","Readable time":"9:20:57 am","Day of week":"Friday","Year":"2026","Month":"March","Day of month":"27","Hour":"09","Minute":"20","Second":"57","Timezone":"America/Sao_Paulo (UTC-03:00)"},"pairedItem":{"item":0}}],"Schedule Trigger1":[{"json":{"timestamp":"2026-04-01T17:30:41.011-03:00","Readable date":"April 1st 2026, 5:30:41 pm","Readable time":"5:30:41 pm","Day of week":"Wednesday","Year":"2026","Month":"April","Day of month":"01","Hour":"17","Minute":"30","Second":"41","Timezone":"America/Sao_Paulo (UTC-03:00)"},"pairedItem":{"item":0}}]},"versionId":"d7664b41-131f-4762-b2ff-2339e8c70df4","activeVersionId":null,"versionCounter":952,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-03-19T16:37:01.811Z","createdAt":"2026-03-19T16:37:01.811Z","role":"workflow:owner","workflowId":"asb9bmPfbOSxJhvX","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}