workflows_extracted/CDvIF6_vkJlcfqYBo_Kn4.json
{"updatedAt":"2026-04-11T01:04:58.207Z","createdAt":"2026-04-07T14:17:29.177Z","id":"CDvIF6_vkJlcfqYBo_Kn4","name":"Envio_Template_2_Navio Dominguinhos","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[640,64],"id":"d94b0564-7500-4920-bc29-2671f6d8045d","name":"Loop Over Items"},{"parameters":{"operation":"update","tableId":"whatsapp_bdr","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"hora_mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").toFormat(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"template_2","fieldValue":"={{ true }}"},{"fieldId":"mensagem_lead","fieldValue":"={{false}}"},{"fieldId":"id_contato_chatwoot","fieldValue":"={{ $('Edit Fields1').item.json.conversation_id }}"},{"fieldId":"id_conversa_chatwoot","fieldValue":"={{ $('Edit Fields1').item.json.conversation_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2208,-16],"id":"f513bb3e-117f-4954-8de0-ebcc2321a472","name":"Update a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}},"onError":"continueErrorOutput"},{"parameters":{"amount":50},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2432,64],"id":"8fe4e707-0a15-44f8-a815-7bb447ac4283","name":"Wait2","webhookId":"2d79f022-2185-4939-ab60-d545c4f0492d"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').first().json.url_chatwoot }}/api/v1/accounts/{{ $('Edit Fields').first().json.account_id }}/conversations/{{ $('Edit Fields1').item.json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').first().json.chatwoottoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Olá, {{ $('Loop Over Items').item.json.Nome }}.\n\nAqui é a DomainAssistant, Especialista em Cruzeiros Temáticos.\n\nVocê já viu quem vai estar a bordo do Dominguinho Em Alto Mar? Não perca a oportunidade de participar de shows exclusivos com esses grandes nomes da música Brasileira\n\n🎵 HEADLINERS\n★ João Gomes\n★ Mestrinho\n★ Jota.Pê\n🎶 ELENCO COMPLETO\nNey Matogrosso · Elba Ramalho · Seu Jorge\nSaulo Fernandes · Vanessa da Mata\nOs Paralamas · Gilsons\nMariana Aydar · Bruna Black\n*12 artistas. 3 noites. Um navio.*\n🚢 MSC Divina · Santos – SP · Dezembro 2026\n\nQuer que eu verifique a disponibilidade de experience resource e as condições?\n"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1984,-16],"id":"6e2be57a-b22a-4528-89ee-869861254d5c","name":"HTTP Request19","onError":"continueErrorOutput"},{"parameters":{"phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('Loop Over Items').item.json.Telefone }}","template":"template_2_dominguinho|pt_BR","components":{"component":[{"bodyParameters":{"parameter":[{"text":"={{ $('Loop Over Items').item.json.Nome }}"}]}}]}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1760,-16],"id":"05da7884-f696-485b-b017-a2103656ee69","name":"Send template1","webhookId":"86ad2ab7-9620-4fc7-af22-5bf63548d969","alwaysOutputData":true,"credentials":{"whatsAppApi":{"id":"To1THhGiIOHC6BDc","name":"BDR"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"dcaf7bce-e5d4-4e58-883f-c2f7492d01e8","name":"url_chatwoot","value":"https://chatwoot.demo-events.com.br","type":"string"},{"id":"ffca24a1-c344-4abb-b3bf-b20e1d743127","name":"account_id","value":"1","type":"string"},{"id":"da8d53f8-a2e9-4157-be5c-f9f876fdfb0e","name":"chatwoottoken","value":"${CHATWOOT_TOKEN}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,64],"id":"ad47294b-0434-4dd2-977c-a8e0497acf55","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":"select *\n  from whatsapp_bdr bdr\nwhere bdr.interagiu = FALSE\n  and bdr.\"Navio\" = 'Navio Dominguinho em Alto Mar'\n  and COALESCE(bdr.id_contato_chatwoot,'') <> ''\n  and COALESCE(bdr.id_conversa_chatwoot, '') <> ''\n  and converter_data_mista(\"hora_mensagem\") < '2026-04-06'\n  and bdr.interagiu = FALSE\n  and (COALESCE(template_2, FALSE) = FALSE)\n--limit 1200;","options":{"replaceEmptyStrings":true}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[416,64],"id":"597574f3-8db0-49cc-9a73-8624fd906024","name":"Execute a SQL query","credentials":{"postgres":{"id":"eE0yF7lt0M8N5a3W","name":"Postgres Supabase"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-32,64],"id":"e514d3d0-5731-4d72-917f-13be96f044a5","name":"Schedule Trigger"},{"parameters":{"url":"={{ $('Edit Fields').first().json.url_chatwoot }}/api/v1/accounts/{{ $('Edit Fields').first().json.account_id }}/contacts/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Loop Over Items').item.json.Telefone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').first().json.chatwoottoken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[864,-16],"id":"b73042ed-44c1-4e6c-9cc5-de7eb3db9e52","name":"Busca contato chatwoot","retryOnFail":true,"maxTries":5,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"url":"={{ $('Edit Fields').first().json.url_chatwoot }}/api/v1/accounts/{{ $('Edit Fields').first().json.account_id }}/contacts/{{ $('Busca contato chatwoot').first().json.payload[0].id }}/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').first().json.chatwoottoken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,-16],"id":"2920d3c8-e8ba-469c-9021-f98d8056c77e","name":"Busca conversa","retryOnFail":true,"maxTries":2,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"let payloads = $('Busca conversa').first().json.payload.filter(p => p.inbox_id === 38);\n\nreturn payloads;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,-16],"id":"3dd4afa8-7d71-4206-9f64-2ea6f1f18480","name":"Code in JavaScript","alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"98533303-afdb-407b-a0b5-5b71405fc162","name":"contact_id","value":"={{ $json.meta.sender.id }}","type":"number"},{"id":"113ad6ef-1b37-40a5-a8f4-9f0b57de7edc","name":"conversation_id","value":"={{ $json.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1536,-16],"id":"59627ea4-f456-4c9b-a0e7-2b186733a4bc","name":"Edit Fields1"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Busca contato chatwoot","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Wait2","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request19":{"main":[[{"node":"Update a row","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Send template1":{"main":[[{"node":"HTTP Request19","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Busca contato chatwoot":{"main":[[{"node":"Busca conversa","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Busca conversa":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Send template1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":-1},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5a8a52a4-0d40-47ac-89d3-024501dd747f","activeVersionId":"5a8a52a4-0d40-47ac-89d3-024501dd747f","versionCounter":644,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-07T14:17:29.177Z","createdAt":"2026-04-07T14:17:29.177Z","role":"workflow:owner","workflowId":"CDvIF6_vkJlcfqYBo_Kn4","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}