workflows_extracted/cFgoyiObmP9g7LoR.json
{"updatedAt":"2026-04-09T12:14:32.310Z","createdAt":"2026-04-06T22:28:06.218Z","id":"cFgoyiObmP9g7LoR","name":"Disparo form Dominguinho","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[4560,1040],"id":"cdfb6d05-823b-474b-8bfe-ae626dab1dda","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1YsTxbfOVge9Dn0VlhSwNVfrlsfVNDAjKDskCn10eD-E","mode":"list","cachedResultName":"2026_formulario_navio-cabare_completo-IA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YsTxbfOVge9Dn0VlhSwNVfrlsfVNDAjKDskCn10eD-E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YsTxbfOVge9Dn0VlhSwNVfrlsfVNDAjKDskCn10eD-E/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4784,1040],"id":"9beaea09-0874-49bc-a9e7-67ea54d1d4bf","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Fblg1R5XxHh6GWy1","name":"Google Sheets account"}}},{"parameters":{"tableId":"sdr_whatsapp_forms","fieldsUi":{"fieldValues":[{"fieldId":"Nome","fieldValue":"={{ $('Edit Fields').item.json.Nome }}"},{"fieldId":"Telefone","fieldValue":"={{ $('Edit Fields').item.json.telefone }}"},{"fieldId":"Email","fieldValue":"={{ $('Edit Fields').item.json.Email }}"},{"fieldId":"QtdPessoas","fieldValue":"={{ $('Edit Fields').item.json['Quantidade de Pessoas'] }}"},{"fieldId":"hora_mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"DataEntrada","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"mensagem_lead","fieldValue":"={{false}}"},{"fieldId":"origem","fieldValue":"formulario"},{"fieldId":"Navio","fieldValue":"={{ $('Aggregate2').item.json.cruise_name[0] }}"},{"fieldId":"estilo","fieldValue":"={{ $('Edit Fields').item.json.Estilo }}"},{"fieldId":"Pontuacao","fieldValue":"2"},{"fieldId":"etapa","fieldValue":"qualificacao"},{"fieldId":"em_qual_etapa","fieldValue":"e3.7"},{"fieldId":"ja_fez_cruzeiro","fieldValue":"={{ $('Edit Fields').item.json.ja_fez_cruzeiro }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6576,800],"id":"4bfb2658-624a-4bb1-8d03-f3e598c11c74","name":"Create a row","executeOnce":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').first().json.urlchatwoot }}/api/v1/accounts/1/contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').first().json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $('Loop Over Items').item.json.Nome }}\",\n  \"identifier\": \"{{ $('Loop Over Items').item.json.telefone }}\",\n  \"email\": \"{{ $('Loop Over Items').item.json.Email }}\",\n  \"phone_number\": \"{{ $('Loop Over Items').item.json.telefone }}\",\n  \"custom_attributes\": {\n    \"estilo\":\"{{ $('Loop Over Items').item.json.Estilo }}\",\n    \"navio\":\"{{ $('Loop Over Items').item.json.Navio }}\",\n    \"temporada\": \"2026/2027\",\n    \"origem\": \"formulario\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,576],"id":"3c6e40f4-72e2-45f6-9b57-76ba8376624b","name":"HTTP Request","executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').first().json.urlchatwoot }}/api/v1/accounts/1/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').first().json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inbox_id","value":"={{ $('Edit Fields').first().json.inbox }}"},{"name":"contact_id","value":"={{ $('Busca contato chatwoot2').isExecuted ? $('Busca contato chatwoot2').item.json.payload[0].id : $('Busca contato chatwoot1').isExecuted ?  $('Busca contato chatwoot1').item.json.payload.contact.id : $json.payload.contact.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2016,352],"id":"3fbe80fe-16c7-4e18-b69e-6a8da4b670b1","name":"HTTP Request1","executeOnce":true},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').first().json.urlchatwoot }}/api/v1/accounts/1/conversations/{{ $('HTTP Request1').isExecuted ? $('HTTP Request1').item.json.id : $('Recupera Conversa Canal').item.json.id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').first().json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Olá, {{ $('Loop Over Items').item.json.Nome }}.\n\nRecebemos seu interesse para o Navio {{ $('Create a row').isExecuted ? $('Create a row').first().json.Navio.replace('Navio ', '') : $('Get a row').first().json.Navio.replace('Navio ', '') }}\n\nTelefone informado: {{ $('Edit Fields').item.json.telefone }}\nE-mail informado: {{ $('Edit Fields').item.json.Email }}\nPode confirmar se os dados estão corretos?"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"name":"content_type","value":"text"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2464,192],"id":"b543f5ff-e86b-48c5-a7c0-34cb4e2b4818","name":"HTTP Request2","executeOnce":true},{"parameters":{"operation":"update","tableId":"sdr_whatsapp_forms","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Create a row').isExecuted ? $('Create a row').first().json.id : $('Get a row').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"id_contato_chatwoot","fieldValue":"={{ $('Busca contato chatwoot1').isExecuted ? $('Busca contato chatwoot1').first().json.payload[0].id : $('Busca contato chatwoot2').isExecuted ? $('Busca contato chatwoot2').first().json.payload[0].id : $node[\"HTTP Request\"].json[\"payload\"][\"contact\"][\"id\"] }}"},{"fieldId":"id_conversa_chatwoot","fieldValue":"={{ $('Recupera Conversa Canal').isExecuted ? $('Recupera Conversa Canal').first().json.id : $('HTTP Request1').first().json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2912,192],"id":"e4fd72c9-40d4-4d13-a73a-ef020bae6e2b","name":"Update a row","executeOnce":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"697fdd8d392cb40014ae6876"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"691635bac3aa230014102ff8\",\n    \"name\": \"{{ $('Edit Fields').first().json.Nome }} - {{ $('Edit Fields').first().json.Navio }} \",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5d5b72bd1e0013392272\",\n        \"value\": \"BDR IA\"\n      }\n    ]\n  },\n  \"contacts\": [\n    {\n      \"name\": \"{{ $('Edit Fields').first().json.Nome }}\",\n      \"phones\": [\n        {\n          \"phone\": \"{{ $('Edit Fields').first().json.telefone }}\"\n        }\n      ],\n      \"emails\": [\n        {\n          \"email\": \"{{ $('Edit Fields').first().json.Email }}\"\n        }\n      ]\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2688,192],"id":"e86b5078-8952-4c5d-b640-d5e7e6a3ecf0","name":"Criar a Negociação1","executeOnce":true},{"parameters":{"promptType":"define","text":"=Navio/Cruzeiro que o cliente quer: {{ $('Update a row').item.json.Navio }}","options":{"systemMessage":"=Sua função é identificar qual navio/cruzeiro o cliente está interessado e retornar a TAG correspondente.\n\n---\n**Navio de interesse do cliente**: {{ $('Update a row').item.json.Navio }}\n\n**Tags disponíveis**: \n{{ $json.title }}\n(Ignore tags de qualificação ou identificação do usuário. Foque apenas nas tags de navios.)\n\n---\n**IMPORTANTE - Processo de identificação**:\n\n1. Se o nome do navio em {{ $('Update a row').item.json.Navio }} corresponder EXATAMENTE a uma das tags disponíveis → retorne diretamente a tag\n\n2. Se o nome for DIFERENTE ou usar apelidos/nomes alternativos (ex: \"Gustavo Lima\", \"Luan Santana\", \"Embaixador\") → você DEVE usar a tool `consulta_cruzeiros` ANTES de responder para:\n   - Buscar informações sobre o cruzeiro mencionado\n   - Identificar o nome oficial do navio\n   - Fazer o match correto com a tag disponível\n\n3. Após consultar (se necessário), identifique a tag correspondente\n\n---\n**Formato de resposta**:\nSua resposta deve ser estritamente um objeto JSON válido, sem markdown (```json), sem explicações. \n\nFormato exato: \n{ \"tag_identificada\": \"nome_da_tag_aqui\" }\n\nSe não identificar nada após consultar, retorne:\n{ \"tag_identificada\": null }"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[3616,192],"id":"b2a68a65-db1a-4e3b-90d6-027f4d457cac","name":"AI Agent"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').first().json.urlchatwoot }}/api/v1/accounts/1/conversations/{{ $('Recupera Conversa Canal').isExecuted ? $('Recupera Conversa Canal').item.json.id : $('HTTP Request1').item.json.id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').first().json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"labels\": [\"{{ $('Code in JavaScript2').item.json.tag_identificada }}\",\"baixa_qualificacao\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[4560,192],"id":"6c509b70-4423-4f84-9c42-08858bd6f25c","name":"Atribui tag1","onError":"continueRegularOutput"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"labels","mode":"list","cachedResultName":"labels"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3136,192],"id":"7fa0962f-fb01-4eb5-9aa2-b382d8eb0cdb","name":"Puxa as tags1","executeOnce":true,"credentials":{"postgres":{"id":"uSdxNemJ9RfhxUg0","name":"Postgres - Chatwoot"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"title"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3360,192],"id":"ea2a0270-4073-4dbb-9e62-e5ccef1a582b","name":"Aggregate1","executeOnce":false},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3584,416],"id":"46551cab-cf5f-4474-9bb2-c49b1615dc8d","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"url":"={{ $('Edit Fields').first().json.urlchatwoot }}/api/v1/accounts/1/contacts/{{ $('Busca contato chatwoot1').isExecuted ? $('Busca contato chatwoot1').first().json.payload[0].id : $('Busca contato chatwoot2').isExecuted ? $('Busca contato chatwoot2').first().json.payload[0].id : $node[\"HTTP Request\"].json[\"payload\"][\"contact\"][\"id\"] }}/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').first().json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4336,192],"id":"acc4a086-11e5-4923-b11f-8f7d05e8526b","name":"Busca conversa1","retryOnFail":true,"maxTries":2},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[3696,832],"id":"a5752fc7-d251-4a36-b461-a9e0e2a7cdbc","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"name":"consulta_cruzeiros","description":"=# Ferramenta: `consulta_cruzeiros`\n\nData de hoje: {{ $now.format('dd-MM-yyyy') }} > Se a data de **INICIO** do cruzeiro for anterior a **HOJE**, ignore completamente esse cruzeiro e passe apenas os próximos.\n\nSe encontrar dois eventos do mesmo artista (um que já passou e um que ainda vai ocorrer, passe apenas o que irá acontecer).\n---\n\n## O que ela faz\nConsulta um índice vetorial (Simple Vector Store) com descrições **atômicas** de **experience resource de cruzeiros temáticos** e retorna **preço por pessoa** e metadados do **navio**, **tipo de experience resource**, **datas/noites**, **porto de embarque** e **atrações**.  \nCada documento do índice representa **uma única experience resource disponível** (ex.: “Navio do Zezé 2026 — experience resource: varanda — R$ 5.538,00 por pessoa”), maximizando precisão na recuperação.\n\n## Quando usar\n- Pedidos de **preço** informando **navio** e **experience resource** (ex.: “varanda no Navio do Zezé 2026 para 3 pessoas”).  \n- **Comparar** preços entre navios/experience resource.  \n- **Calcular total** por quantidade de pessoas (preço é **por pessoa**).  \n- **Sugerir alternativas** quando não houver match exato (mesma experience resource noutro navio próximo, ou experience resource similar no mesmo navio).\n\n## Entradas (parâmetros)\n- `query` *(string, obrigatório)*: texto livre da intenção do usuário (navio, experience resource, pessoas, orçamento, preferências).  \n- `top_k` *(int, opcional; padrão = 5)*: número de candidatos a retornar.  \n- `strict` *(bool, opcional; padrão = true)*: se `true`, prioriza match exato; se `false`, permite aproximações.  \n- `filters` *(objeto, opcional)*:\n  - `navio` *(string)*: nome parcial/slug/ano (ex.: “do Zezé 2026”, “gil tempo rei 2025”).  \n  - `experience resource` *(enum: interna | externa | varanda | suite)*.  \n  - `pessoas` *(int ≥ 1)*: usado para `total_price_brl = pessoas * price_pp_brl`.  \n  - `orcamento_max_pp` *(float)*: teto por pessoa.  \n  - `orcamento_max_total` *(float)*: teto total (após multiplicação pelas pessoas).\n\n## Normalizações & Regras de negócio\n- **experience resource (sinônimos):**\n  - “suíte”, “suite” → `suite`  \n  - “varanda”, “sacada”, “balcão” → `varanda`  \n  - “externa”, “janela”, “vista mar” → `externa`  \n  - “interna”, “standard” → `interna`\n- **Preços**: sempre **por pessoa** e **com taxas**; total = `pessoas * price_pp_brl`.  \n- **Disponibilidade**: índice só contém experience resource **disponíveis** (linhas “Esgotado” foram excluídas).  \n- **Correspondência de navio**: aceita variações de nome/ano; prioriza match exato.  \n- **Moeda**: `BRL` (não converter).  \n- **Critério de desempate**: (1) mesma experience resource + mesmo navio; (2) mesma experience resource + navio mais próximo; (3) experience resource mais próxima no mesmo navio.\n\n## Saída (formato determinístico)\nArray ordenado por relevância/adequação. Cada item:\n\n```json\n{\n  \"cruise_name\": \"Jorge e Mateus\",\n  \"slug\": \"jorge-e-mateus\",\n  \"cabin_type\": \"varanda\",\n  \"price_pp_brl\": 7098.0,\n  \"pessoas\": 2,\n  \"total_price_brl\": 14196.0,\n  \"date_nights\": \"08/01/2026 - 03 noites\",\n  \"embark\": \"Santos\",\n  \"attractions\": [\"Bell Marques\",\"Jota Quest\",\"Gustavo Mioto\",\"Valyton&Romário\",\"Pedro Libe\",\"Muito Mais\"],\n  \"score\": 0.83,\n  \"source_preview\": \"Cruzeiro: Jorge e Mateus\\n... experience resource: varanda\\nPreço por pessoa: R$ 7098.0 ...\"\n}\n```\n\n**Campos:**\n- `score`: similaridade/relevância (0–1).  \n- `source_preview`: trecho curto do documento para auditoria.  \n- `pessoas` e `total_price_brl`: presentes se `filters.pessoas` for informado ou inferido da `query`.\n\n## Estratégia de recuperação e ranqueamento\n1. **Embedding similarity** da `query` contra `text` dos documentos.  \n2. **Bônus/Penalidades** por match exato de:\n   - `experience resource` (peso alto)\n   - `navio`/`slug`/ano (peso alto)\n   - orçamento (`<=` teto por pessoa/total, se fornecido)  \n3. **Ordenação final** por score composto; em empate, menor `price_pp_brl`.\n\n## Comportamento em falhas/ausências\n- **Sem resultados estritos** (`strict=true`): retornar vazio **e** sugerir fallback (mesma experience resource em edição próxima / experience resource similar).  \n- **Sem filtros claros** (experience resource/navio não inferidos): retornar `top_k` diversos **com** explicação de como refinar:\n  - “Informe navio, experience resource e nº de pessoas. Ex.: ‘Varanda no Navio do Zezé 2026 para 3 pessoas’.”  \n- **Acima do orçamento**: retornar matches mais próximos e incluir `within_budget=false` em cada item.\n\n## Exemplos (few-shots)\n\n**Entrada**\n```json\n{\n  \"query\": \"Belo em Alto Mar, experience resource interna para 2 pessoas\",\n  \"top_k\": 3\n}\n```\n**Saída (resumo)**\n- Top-1: `Belo em Alto Mar` — `interna` — `price_pp_brl=5058` — `total=10116`.\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"Quero varanda no Navio do Zezé 2026 até 6 mil por pessoa\",\n  \"filters\": { \"orcamento_max_pp\": 6000 },\n  \"top_k\": 3\n}\n```\n**Saída (resumo)**\n- Top-1: `do Zezé 2026` — `varanda` — `price_pp_brl=5538` (dentro do orçamento).\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"Suite no Gil Tempo Rei 2025 para 4 pessoas\",\n  \"top_k\": 1\n}\n```\n**Saída (resumo)**\n- Top-1: `Gil - Tempo Rei` — `suite` — `price_pp_brl=14418` — `total=57672`.\n\n## Restrições & Garantias\n- **Não inventar** valores: só retornar o que está no índice.  \n- **Não converter moeda**: manter `BRL`.  \n- **Formato fixo**: sempre retornar o array de objetos conforme especificação.  \n- **Privacidade**: não expor chaves internas além de `slug`/`source_preview`.\n\n## Observação de implementação\nO índice foi construído com documentos **atômicos por experience resource** (texto curto + metadados) e embeddings OpenAI (`text-embedding-3-small`). Para **persistência**, trocar o Simple Vector Store por **pgvector/Pinecone/Qdrant** mantendo o mesmo contrato da ferramenta.","topK":100},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[3712,416],"id":"772ec0bb-38f5-4a17-a60d-55181fa097cc","name":"consulta_cruzeiros1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3904,624],"id":"daf43cdf-3654-4089-a8cd-a79aa34ebd13","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Supondo que a resposta da IA venha num campo chamado 'content' ou 'response'\n// Ajuste 'output' para o nome exato do campo que sai do seu nó de IA\nconst respostaIA = $input.first().json.output || $('input').first().json.response;\n\n// Remove possíveis formatações de código que a IA coloca (```json ...)\nconst jsonLimpo = respostaIA.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\ntry {\n  const objeto = JSON.parse(jsonLimpo);\n  return { json: objeto };\n} catch (e) {\n  return { json: { error: \"Não foi possível ler o JSON da IA\", raw: respostaIA } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4112,192],"id":"0475c336-cc21-4229-8836-b8898b26a0f5","name":"Code in JavaScript2"},{"parameters":{"tableName":"cruzeiros","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[3616,624],"id":"a6208502-2d61-4ff6-9905-b3e0eb14115e","name":"Postgres PGVector Store1","credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}}},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Edit Fields').first().json.telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4784,192],"id":"869cdd00-127a-48f4-8942-01565d4d352b","name":"Pega id do contato1"},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5dcd4a9a040013d4a583\",\n        \"value\": \"{{ $('Update a row').item.json.QtdPessoas }}\"\n      },\n      {\n        \"custom_field_id\": \"67117527ffea83001af2245f\",\n        \"value\": \"{{ $('Update a row').item.json.Navio }}\"\n      },\n      {\n        \"custom_field_id\": \"691f5db5748bdd001841ebec\",\n        \"value\": \"{{ $('Update a row').item.json.estilo }}\"\n      },\n      {\n        \"custom_field_id\": \"691f5d5b72bd1e0013392272\",\n        \"value\": \"SDRIA - FORMULÁRIO\"\n      },\n      {\n        \"custom_field_id\": \"69835cf46f560f0016f42ae4\",\n        \"value\": \"{{ $('Update a row').item.json.anuncio }}\"\n      },\n      {\n        \"custom_field_id\": \"69835d019aa89c0015026252\",\n        \"value\": \"{{ $('Update a row').item.json.conjunto_anuncios }}\"\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5008,192],"id":"317ab113-3f22-4de1-9105-5665fd24ca28","name":"ATUALIZA CRM1","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('Edit Fields').first().json.telefone }}","template":"template_1_1_multinavios_v3|pt_BR","components":{"component":[{"bodyParameters":{"parameter":[{"text":"={{ $('Edit Fields').first().json.Nome }}"},{"text":"={{ $('Create a row').isExecuted ? $('Create a row').first().json.Navio.replace('Navio ', '') : $('Get a row').first().json.Navio.replace('Navio ', '') }}"},{"text":"={{ $('Loop Over Items').item.json.telefone }}"},{"text":"={{ $('Loop Over Items').item.json.Email }}"}]}}]}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[2240,192],"id":"5d0ef198-1844-43e0-b431-8c3054c4199d","name":"Send template1","webhookId":"3e525976-564a-48c5-8b6d-e0c80ef416bf","executeOnce":true,"credentials":{"whatsAppApi":{"id":"7p03rSaYxzUJ6l9f","name":"WhatsApp Formulario"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2fac97ec-955f-466c-a3cd-2a763aad5dc2","leftValue":"={{ $json.error.message }}","rightValue":"=422 - \"{\\\"message\\\":\\\"Phone number has already been taken","operator":{"type":"string","operation":"contains"}},{"id":"a0ef1134-8718-43e1-9566-b570c1e49d0d","leftValue":"={{ $json.error.message }}","rightValue":"422 - \"{\\\"message\\\":\\\"Email has already been taken, Identifier has already been taken, Phone number has already been taken\\\",\\\"attributes\\\":[\\\"email\\\",\\\"identifier\\\",\\\"phone_number\\\"]}\"","operator":{"type":"string","operation":"contains"}},{"id":"58f7320b-23c8-43ed-ab3c-bebcda6c13ea","leftValue":"={{ $json.error.message }}","rightValue":"422 - \"{\\\"message\\\":\\\"Email has already been taken\\\",\\\"attributes\\\":[\\\"email\\\"]}\"","operator":{"type":"string","operation":"contains"}},{"id":"3ba6c491-f736-4c4a-aa51-7e0b0243777a","leftValue":"={{ $json.error.message }}","rightValue":"422 - \"{\\\"message\\\":\\\"Identifier has already been taken, Phone number has already been taken\\\",\\\"attributes\\\":[\\\"identifier\\\",\\\"phone_number\\\"]}\"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[672,496],"id":"685ae47b-22fc-4af4-8c31-dcfaa44563bc","name":"If","executeOnce":true},{"parameters":{"url":"={{ $('Edit Fields').item.json.urlchatwoot }}/api/v1/accounts/1/contacts/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Loop Over Items').item.json.telefone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').item.json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,432],"id":"db578de0-4fff-4c8d-89df-34b41ea67f58","name":"Busca contato chatwoot1","retryOnFail":true,"maxTries":5,"executeOnce":true},{"parameters":{"url":"={{ $('Edit Fields').item.json.urlchatwoot }}/api/v1/accounts/1/contacts/{{ $('Busca contato chatwoot1').item.json.payload[0].id }}/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').item.json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1344,192],"id":"27282f81-1ea1-4011-834a-7441f8986999","name":"Busca Conversa No chatwoot1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"cruise_name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[6352,608],"id":"1003fabf-2b45-4710-ba99-cc8febc9b5e6","name":"Aggregate2","executeOnce":true},{"parameters":{"workflowId":{"__rl":true,"value":"pnC8WKlZtrV9VY28","mode":"list","cachedResultUrl":"/workflow/pnC8WKlZtrV9VY28","cachedResultName":"WF_consulta_cruzeiros_v2"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $('Edit Fields').item.json.Navio }}","top_k":"6","strict":"true","today_iso":"={{ $now.format('yyyy-MM-dd') }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"top_k","displayName":"top_k","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"strict","displayName":"strict","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"filters","displayName":"filters","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":true},{"id":"today_iso","displayName":"today_iso","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[6128,608],"id":"4a0a98df-7157-493a-9c00-f89019f12b28","name":"Call WF_consulta_cruzeiros_v2","executeOnce":true},{"parameters":{"jsCode":"let payloads = $('Busca Conversa No chatwoot1').first().json.payload.filter(p => p.inbox_id === 34);\nreturn payloads;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,96],"id":"e452b32d-46e5-4296-bb21-9ff940336286","name":"Recupera Conversa Canal"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6ad20841-a546-4809-9067-24ae5e947d5b","leftValue":"={{ $json.inbox_id }}","rightValue":"={{ $('Edit Fields').item.json.inbox.toNumber() }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1792,192],"id":"7b9dd764-4d48-4fdb-9063-d8f6f6f62c3a","name":"If1"},{"parameters":{"method":"PUT","url":"={{ $('Edit Fields').item.json.urlchatwoot }}/api/v1/accounts/1/contacts/{{ $json.payload[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Create a row').item.json.Telefone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').item.json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $('Create a row').item.json.Nome }}\",\n  \"identifier\": \"{{ $('Create a row').item.json.Telefone }}\",\n  \"email\": \"{{ $('Create a row').item.json.Email }}\",\n  \"phone_number\": \"{{ $('Create a row').item.json.Telefone }}\",\n  \"custom_attributes\": {\n    \"anuncio\": \"{{ $('Create a row').item.json['anuncio'] }}\",\n    \"conjunto_de_anuncios\": \"{{ $('Create a row').item.json['conjunto_anuncios'] }}\",\n    \"campanha\": \"{{ $('Create a row').item.json.campanha }}\",\n    \"qtd_pessoas\": \"{{ $('Create a row').item.json['QtdPessoas'] }}\",\n    \"estilo\":\"{{ $('Create a row').item.json.estilo }}\",\n    \"navio\":\"{{ $('Create a row').item.json.Navio }}\",\n    \"temporada\": \"2026/2027\",\n    \"origem\": \"formulario\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,432],"id":"e94ec52e-4a7c-41e6-8535-2467e64998c9","name":"Atualiza contato chatwoot","retryOnFail":true,"maxTries":5,"executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"3a409820-20bc-4e7d-8bee-b20a7a9e9da8","name":"inbox_id","value":"={{ $json.payload.filter(item => item.inbox_id ===34).first().inbox_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1568,192],"id":"6de3238f-f951-4a18-8099-66712a2de996","name":"Edit Fields1"},{"parameters":{"url":"={{ $('Edit Fields').item.json.urlchatwoot }}/api/v1/accounts/1/contacts/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Get a row').item.json.Telefone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').item.json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,640],"id":"8397e99e-2b75-4655-9498-67f4db430c54","name":"Busca contato chatwoot2","retryOnFail":true,"maxTries":5,"executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5f741b16-f222-4d54-93de-1cb7fa4df413","leftValue":"={{ $('Busca contato chatwoot2').item.json.payload[0].id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[224,640],"id":"bbae14ad-4fe6-445b-811e-1e74845acf08","name":"If6"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5232,192],"id":"5946a385-9850-4b32-ac14-90187657c6f1","name":"Wait","webhookId":"4701c025-d6c9-4ec6-88e1-224cbd197bf9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b0d33c42-ac20-4a25-a4b7-b3ba9bc2980c","leftValue":"={{ $json.Telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5904,608],"id":"05f944e5-ea20-4c76-b20e-04b299fc93c9","name":"If11"},{"parameters":{"operation":"get","tableId":"sdr_whatsapp_forms","filters":{"conditions":[{"keyName":"Telefone","keyValue":"={{ $('Edit Fields').item.json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5680,464],"id":"e1cd8cbb-68d6-4a02-818b-3c5222369af4","name":"Get a row1","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"jsCode":"return $input.all().map(({ json: raw }) => {\n  const item = {};\n  for (const [key, value] of Object.entries(raw)) {\n    item[key.toLowerCase()] = value;\n  }\n\n  function formatPhone(phone) {\n    if (!phone) return '';\n    let cleaned = phone.toString().trim().replace(/\\D/g, '');\n    if (cleaned.startsWith('55')) return '+' + cleaned;\n    return '+55' + cleaned;\n  }\n\n  function identificarNavioEstilo(utmCampaign, utmContent, utmTerm, formulario) {\n    const texto = (utmCampaign + ' ' + utmContent + ' ' + utmTerm + ' ' + formulario).toLowerCase();\n    const navios = [\n      { keywords: ['gusttavo', 'gustavo', 'embaixador'], navio: 'NAVIO DO EMBAIXADOR', estilo: 'SERTANEJO' },\n      { keywords: ['leonardo', 'cabare', 'cabaré'], navio: 'NAVIO CABARÉ', estilo: 'SERTANEJO' },\n      { keywords: ['chitaozinho', 'chitãozinho', 'xororo', 'xororó', 'ch&x', 'chx'], navio: 'NAVIO CH&X', estilo: 'SERTANEJO' },\n      { keywords: ['joao-gomes', 'joão-gomes', 'dominguinho'], navio: 'NAVIO DOMINGUINHO EM ALTO MAR', estilo: 'FORRÓ' },\n      { keywords: ['reveillon', 'réveillon', 'ano-novo'], navio: 'NAVIO REVEILLON EM ALTO MAR', estilo: 'VARIADO' },\n      { keywords: ['bell-marques', 'vumbora'], navio: 'NAVIO VUMBORA PRO MAR', estilo: 'AXÉ/FORRÓ' },\n      { keywords: ['89-rock', '89rock', 'rock-boat'], navio: 'NAVIO 89 ROCK BOAT', estilo: 'ROCK' },\n      { keywords: ['daniel', 'amor-que-nao-tem-fim', 'navio-daniel'], navio: 'NAVIO DANIEL O AMOR QUE NÃO TEM FIM', estilo: 'SERTANEJO/ROMÂNTICO' },\n      { keywords: ['wesley', 'safadao', 'safadão', 'ws-on-board', 'wsonboard', 'muido', 'navio-ws'], navio: 'NAVIO WESLEY SAFADÃO WS ON BOARD', estilo: 'FORRÓ/FESTA' }\n    ];\n    for (const config of navios) {\n      if (config.keywords.some(kw => texto.includes(kw))) {\n        return { navio: config.navio, estilo: config.estilo };\n      }\n    }\n    return { navio: 'NÃO IDENTIFICADO', estilo: 'NÃO IDENTIFICADO' };\n  }\n\n  let telefone = formatPhone(item.telefone || '');\n  const { navio, estilo } = identificarNavioEstilo(\n    item.utm_campaign || '',\n    item.utm_content || '',\n    item.utm_term || '',\n    item['formulário'] || item.formulario || ''\n  );\n\n  let quantasPessoas = item.cabine_pessoas || item.quantas_pessoas || '';\n  if (quantasPessoas && typeof quantasPessoas === 'string') {\n    const match = quantasPessoas.match(/(\\d+)/);\n    quantasPessoas = match ? match[1] : quantasPessoas;\n  }\n\n  return {\n    json: {\n      nome: item.nome || '',\n      telefone: telefone,\n      email: item.email || '',\n      quantas_pessoas: quantasPessoas,\n      campanha: item.utm_campaign || '',\n      conjunto_de_anuncio: item.utm_content || '',\n      anuncio: item.utm_term || '',\n      navio_interessado: navio,\n      estilo: estilo,\n      tipo_cabine: item['qual tipo de experience resource você deseja?'] || '',\n      ja_fez_cruzeiro: item['já fez um cruzeiro?'] || '',\n      utm_source: item.utm_source || '',\n      fonte: item.fonte || '',\n      formulario: item['formulário'] || item.formulario || '',\n      canal: item.canal || '',\n      estagio: item['estágio'] || item.estagio || ''\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5008,1040],"id":"8af213c4-150a-4ea6-9589-2ed85edd0545","name":"Code in JavaScript1"},{"parameters":{"assignments":{"assignments":[{"id":"3ac3a7a0-f822-4968-a147-382f501c4d0b","name":"Nome","value":"={{ $json.nome }}","type":"string"},{"id":"d10c164b-511e-4252-9fea-785e9b6299c0","name":"Email","value":"={{ $json.email }}","type":"string"},{"id":"33609a4f-5aae-4fa3-971a-e854380cffea","name":"Quantidade de Pessoas","value":"={{ $json.quantas_pessoas }}","type":"string"},{"id":"7f5f22b2-912b-4050-ac42-06fdda3b6deb","name":"Anúncio","value":"={{ $json.anuncio }}","type":"string"},{"id":"109cc23a-40ea-4492-a931-ca8a3d9b66d5","name":"Campanha","value":"={{ $json.campanha }}","type":"string"},{"id":"21bc3f7b-cf59-48b8-9afa-653ffe732d1d","name":"Conjunto de Anúncios","value":"={{ $json.conjunto_de_anuncio }}","type":"string"},{"id":"b0a123b7-c187-4464-a231-c12d6d5e08c8","name":"urlchatwoot","value":"https://chatwoot.demo-events.com.br","type":"string"},{"id":"57bbba31-17d7-4dcd-8699-11b361591cfc","name":"token","value":"${CHATWOOT_TOKEN}","type":"string"},{"id":"8e655799-b1f9-4979-9699-1fd978bc4e03","name":"Navio","value":"={{ $json.navio_interessado }}","type":"string"},{"id":"dffe8c12-4a6f-4c30-a81c-a334b585784a","name":"Estilo","value":"={{ $json.estilo }}","type":"string"},{"id":"1bbe3a6b-b6c1-46ad-a313-a1beffa7f5e1","name":"telefone","value":"={{ $json.telefone }}","type":"string"},{"id":"397cd90d-035a-42c1-a36a-fbe04e8b0640","name":"tipo_fluxo","value":"formulario","type":"string"},{"id":"5b8011cd-796e-4eb4-a4d3-1e9dec502b77","name":"origem","value":"formulario","type":"string"},{"id":"7c0b5e1a-039e-4155-87f7-172e091d0002","name":"tabela_whatsapp","value":"sdr_whatsapp_forms","type":"string"},{"id":"783293c0-aede-4f48-b224-7042c907ad46","name":"ja_fez_cruzeiro","value":"={{ $json.ja_fez_cruzeiro }}","type":"string"},{"id":"c09f31bc-bed4-43f9-acd2-4da4c9ea25f5","name":"inbox","value":"34","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5232,1040],"id":"7b3c90fb-e66e-439f-9372-e0a589c0b3ef","name":"Edit Fields","executeOnce":false},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5456,608],"id":"6319acb6-b27f-41b1-aca1-b522ca5026ab","name":"Loop Over Items"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Send template1","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Criar a Negociação1","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Puxa as tags1","type":"main","index":0}]]},"Criar a Negociação1":{"main":[[{"node":"Update a row","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Atribui tag1":{"main":[[{"node":"Pega id do contato1","type":"main","index":0}]]},"Puxa as tags1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Busca conversa1":{"main":[[{"node":"Atribui tag1","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store1","type":"ai_embedding","index":0}]]},"consulta_cruzeiros1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"consulta_cruzeiros1","type":"ai_languageModel","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Busca conversa1","type":"main","index":0}]]},"Postgres PGVector Store1":{"ai_vectorStore":[[{"node":"consulta_cruzeiros1","type":"ai_vectorStore","index":0}]]},"Pega id do contato1":{"main":[[{"node":"ATUALIZA CRM1","type":"main","index":0}]]},"Send template1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"If":{"main":[[{"node":"Busca contato chatwoot1","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"Busca contato chatwoot1":{"main":[[{"node":"Atualiza contato chatwoot","type":"main","index":0}]]},"Busca Conversa No chatwoot1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Call WF_consulta_cruzeiros_v2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Recupera Conversa Canal":{"main":[[{"node":"Send template1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Recupera Conversa Canal","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"Atualiza contato chatwoot":{"main":[[{"node":"Busca Conversa No chatwoot1","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Busca contato chatwoot2":{"main":[[{"node":"If6","type":"main","index":0}]]},"If6":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"ATUALIZA CRM1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get a row1":{"main":[[{"node":"If11","type":"main","index":0}]]},"If11":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Call WF_consulta_cruzeiros_v2","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get a row1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5acc59fa-8ee2-4f24-a25a-2e1cb9f141ae","activeVersionId":null,"versionCounter":11,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-06T22:28:06.218Z","createdAt":"2026-04-06T22:28:06.218Z","role":"workflow:owner","workflowId":"cFgoyiObmP9g7LoR","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}