workflows_extracted/CGT5Kt44uUfQHbIY.json
{"updatedAt":"2026-02-27T19:56:45.864Z","createdAt":"2026-02-27T15:37:52.528Z","id":"CGT5Kt44uUfQHbIY","name":"WF_Negociacao Form","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"chatid"},{"name":"mensagem"},{"name":"urlchatwoot"},{"name":"account_id"},{"name":"conversation_id"},{"name":"chatwoottoken"},{"name":"contact_id"}]}},"id":"43b45dd3-bff1-40cf-b5d6-1ee52d0ac707","name":"Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[2656,352]},{"parameters":{"operation":"get","tableId":"sdr_whatsapp","filters":{"conditions":[{"keyName":"Telefone","keyValue":"={{ $('Workflow Trigger').item.json.chatid }}"}]}},"id":"bcad6233-8eda-4d0d-a5bd-9382db87d633","name":"Get Lead State","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3088,352],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"wA6nfQ3y2reEgxQp","name":"Supabase Demo Events Co"}}},{"parameters":{"jsCode":"\nconst trigger = $('Workflow Trigger').first().json;\nconst leadDb  = $input.first().json || {};\n\nconst leadData = {\n  Nome       : leadDb.Nome       || leadDb.nome       || null,\n  Email      : leadDb.Email      || leadDb.email      || null,\n  CPF        : leadDb.CPF        || leadDb.cpf        || null,\n  Telefone   : leadDb.Telefone   || trigger.chatid,\n  QtdPessoas : leadDb.QtdPessoas || leadDb.qtd_pessoas || null,\n  Navio      : leadDb.Navio      || leadDb.navio       || null,\n  Estilo     : leadDb.Estilo     || leadDb.estilo      || null,\n  Orcamento  : leadDb.Orcamento  || leadDb.orcamento   || null,\n  Pontuacao  : parseInt(leadDb.Pontuacao || leadDb.pontuacao || 0),\n  Status     : leadDb.Status     || leadDb.status       || 'BAIXA',\n  Etapa      : leadDb.Etapa      || leadDb.etapa       || 'negociacao',\n  ja_fez_cruzeiro   : leadDb.ja_fez_cruzeiro   !== undefined ? leadDb.ja_fez_cruzeiro   : null,\n  valores_enviados  : leadDb.valores_enviados   || false,\n  tentativas_valor  : parseInt(leadDb.tentativas_valor || 0),\n  em_qual_etapa     : leadDb.em_qual_etapa || 'e1'\n};\n\nconst context = {\n  chatid          : trigger.chatid,\n  mensagem        : trigger.mensagem,\n  urlchatwoot     : trigger.urlchatwoot,\n  account_id      : trigger.account_id,\n  conversation_id : trigger.conversation_id,\n  chatwoottoken   : trigger.chatwoottoken,\n  contact_id      : trigger.contact_id,\n  lead_data       : leadData\n};\n\nreturn [{ json: { context, leadData, trigger } }];"},"id":"d93143b2-1c70-46ad-9686-5765b0e873bc","name":"Prepare Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[3312,352]},{"parameters":{"jsCode":"const trigger      = $('Workflow Trigger').first().json;\nconst promptResult = $('Call WF_MontarPrompt1').first().json;\nconst kbResult     = $input.first().json;\n\nconst kbContext = kbResult.textoFormatado || '';\nconst systemMessage = promptResult.systemMessage\n  + (kbContext\n      ? '\\n\\n# CONTEXTO DA BASE DE CONHECIMENTO (use estas informações para responder)\\n' + kbContext\n      : '');\n\nreturn [{ json: {\n  systemMessage,\n  userMessage : trigger.mensagem,\n  etapa       : promptResult.etapa,\n  chatid      : trigger.chatid,\n  urlchatwoot : trigger.urlchatwoot,\n  account_id  : trigger.account_id,\n  conversation_id : trigger.conversation_id,\n  chatwoottoken   : trigger.chatwoottoken,\n  contact_id      : trigger.contact_id\n} }];"},"id":"0f7c42e5-0522-4322-b8b5-3110f3763dda","name":"Combine Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[4208,352],"disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.userMessage }}","options":{"systemMessage":"={{ $json.systemMessage }}"}},"id":"c6b02302-998d-4fe7-a1e9-16770a3f0b75","name":"AI Agent Negociacao","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[4496,352]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Workflow Trigger').item.json.chatid }}_homologacao","tableName":"promo","contextWindowLength":100},"id":"afbd678f-cd61-41d7-85d1-1680dd24eb29","name":"Memory Postgres","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4560,576],"credentials":{"postgres":{"id":"TTrqj0rnakiukRd7","name":"Postgres account"}}},{"parameters":{"jsCode":"const trigger   = $('Workflow Trigger').first().json;\nlet rawText = ($input.first().json.output || $input.first().json.text || '');\n\nlet parsed = {};\ntry {\n  const cleaned = rawText\n    .replace(/```json\\n?/g, '')\n    .replace(/```\\n?/g, '')\n    .trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = {\n    resposta: rawText,\n    acoes: {\n      salvar_lead       : null,\n      enviar_video      : false,\n      pausar_atendimento: false,\n      handoff           : false,\n      resumo_handoff    : null\n    }\n  };\n}\n\nconst acoes   = parsed.acoes || {};\nconst resposta = parsed.resposta || rawText;\n\nreturn [{\n  json: {\n    resposta,\n    acoes_salvar_lead       : acoes.salvar_lead        || null,\n    acoes_enviar_video      : acoes.enviar_video       === true,\n    acoes_pausar            : acoes.pausar_atendimento === true,\n    acoes_handoff           : acoes.handoff            === true,\n    acoes_resumo_handoff    : acoes.resumo_handoff     || null,\n    chatid                  : trigger.chatid,\n    urlchatwoot             : trigger.urlchatwoot,\n    account_id              : trigger.account_id,\n    conversation_id         : trigger.conversation_id,\n    chatwoottoken           : trigger.chatwoottoken,\n    contact_id              : trigger.contact_id,\n    enviar_materiais        : acoes.enviar_materiais || false\n  }\n}];"},"id":"2c21e6be-c116-4513-a275-af6a42ed0c88","name":"Extract JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[5408,352]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if-handoff","leftValue":"={{ $('Extract JSON').item.json.acoes.handoff }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"df89c126-38d5-4898-8a83-02b6d9dc5e4b","name":"IF Handoff?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5856,352]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if-pausar","leftValue":"={{ $('Extract JSON').item.json.acoes.pausar_atendimento }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"09e4fe11-fb4b-499f-8f38-36da273f4936","name":"IF Pausar?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6080,448]},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"builtInTools":{},"options":{"temperature":0.7,"topP":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[4432,576],"id":"4239725e-3c4e-4d3f-b377-59e67626a03a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"V80Z0Ht4U1FeCavj","name":"OpenAi account Teste"}}},{"parameters":{"jsCode":"const trigger  = $('Workflow Trigger').first().json;\nconst leadData = $('Prepare Context').first().json.leadData || {};\nconst mensagem = (trigger.mensagem || '').toLowerCase()\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n\nconst kwCruzeiros = [\n  'navio','artista','show','musica','camarote','experience resource','suite','varanda','interior',\n  'preco','valor','quanto','custa','parcela','entrada','sinal','reserva','disponivel',\n  'data','quando sai','quando vai','destino','rota','itinerario',\n  'noite','dia','duracao','cancun','miami','bahamas','caribe','mediterran',\n  'oceanview','balcao','janela'\n];\n\nconst kwConhecimento = [\n  'inclui','incluso','inclusa','o que tem','o que esta','o que vem',\n  'bebida','alcool','refrigerante','suco','alimentacao','refeicao','cafe','almoco','jantar',\n  'boleto','pix','cartao','credito','debito','forma de pagamento','parcelamento','como pago',\n  'como funciona','processo','como faz','documento','rg','passaporte','cpf',\n  'crianca','menor','idoso','acessibilidade',\n  'transfer','onibus','chegada','check-in','check-out','porto','santos',\n  'seguro','cancelamento','devolucao','reembolso','politica',\n  'wifi','internet','spa','academia','piscina','restaurante',\n  'contato','telefone','whatsapp','email','simone','consultora','falar com',\n  'duvida','pergunta','informacao','mais detalhes'\n];\n\nlet ptsCruzeiros = 0;\nlet ptsConhecimento = 0;\n\nfor (const kw of kwCruzeiros)    { if (mensagem.includes(kw)) ptsCruzeiros++; }\nfor (const kw of kwConhecimento) { if (mensagem.includes(kw)) ptsConhecimento++; }\n\n// Se lead já tem navio definido e mensagem tem keyword de cruzeiro → peso extra\nif (leadData.Navio && ptsCruzeiros > 0) ptsCruzeiros += 2;\n\n// Empate → no contexto de pagamento prioriza 'conhecimento' (FAQ de pagamento)\nconst tipo_kb = ptsCruzeiros > ptsConhecimento ? 'cruzeiros' : 'conhecimento';\n\n// Propagar tudo que veio do Call WF_MontarPrompt + o tipo decidido\nconst promptData = $('Call WF_MontarPrompt1').first().json;\n\nreturn [{\n  json: {\n    ...promptData,\n    tipo_kb,\n    _classify_debug: { ptsCruzeiros, ptsConhecimento, decisao: tipo_kb }\n  }\n}];"},"id":"dab4b6f9-0cd6-4ad4-a841-4ba168b067cc","name":"Classify Query Type","type":"n8n-nodes-base.code","typeVersion":2,"position":[3760,352],"disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"QoWQ5vLJaIH4YnnoHe89l","mode":"list","cachedResultUrl":"/workflow/QoWQ5vLJaIH4YnnoHe89l","cachedResultName":"WF_Busca_KB"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $('Workflow Trigger').item.json.mensagem }}","tipo":"={{ $json.tipo_kb }}","top_k":"10"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"top_k","displayName":"top_k","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3984,352],"id":"91443c00-19ac-4f32-afbb-1a1c62cd3590","name":"Call 'WF_Busca_KB'","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"57KcjE7oMBc0ryeqvzZPt","mode":"list","cachedResultUrl":"/workflow/57KcjE7oMBc0ryeqvzZPt","cachedResultName":"WF_MontarPrompt"},"workflowInputs":{"mappingMode":"defineBelow","value":{"context":"={{ $json.context }}","etapa":"negociacao"},"matchingColumns":[],"schema":[{"id":"context","displayName":"context","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"etapa","displayName":"etapa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"2735c15f-41df-40bd-934f-c54a86a10efa","name":"Call WF_MontarPrompt1","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3536,352]},{"parameters":{"workflowId":{"__rl":true,"value":"MlEIWkRbc5zuGNOkw_b-o","mode":"list","cachedResultUrl":"/workflow/MlEIWkRbc5zuGNOkw_b-o","cachedResultName":"WF_Salvar_Lead"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Telefone":"={{ $('Workflow Trigger').item.json.chatid }}","etapa":"={{ $json.acoes_salvar_lead.Etapa || null }}","origem":"=whatsapp","chatwoottoken":"={{ $('Workflow Trigger').item.json.chatwoottoken }}","urlchatwoot":"={{ $('Workflow Trigger').item.json.urlchatwoot }}","account_id":"={{ $('Workflow Trigger').item.json.account_id }}","conversation_id":"={{ $('Workflow Trigger').item.json.conversation_id }}","contact_id":"={{ $('Workflow Trigger').item.json.contact_id }}","Status":"={{ $json.acoes_salvar_lead.Status || 'BAIXA' }}","QtdPessoas":"={{ String($json.acoes_salvar_lead.QtdPessoas) || null }}","Orcamento":"={{ $json.acoes_salvar_lead.Orcamento || null }}","Navio":"={{ $json.acoes_salvar_lead.Navio || null }}","Estilo":"={{ $json.acoes_salvar_lead.Estilo || null }}","CPF":"={{ $json.acoes_salvar_lead.CPF || null }}","Email":"={{ $json.acoes_salvar_lead.Email || null }}","Nome":"={{ $json.acoes_salvar_lead.Nome || null }}","resposta":"={{ $json.resposta }}","Pontuacao":"={{ String($('Extract JSON').item.json.acoes_salvar_lead.Pontuacao || 0) }}","em_qual_etapa":"={{ $json.acoes.salvar_lead.em_qual_etapa }}"},"matchingColumns":[],"schema":[{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Estilo","displayName":"Estilo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Navio","displayName":"Navio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Orcamento","displayName":"Orcamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"QtdPessoas","displayName":"QtdPessoas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contact_id","displayName":"contact_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"urlchatwoot","displayName":"urlchatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa","displayName":"etapa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resposta","displayName":"resposta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Pontuacao","displayName":"Pontuacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"em_qual_etapa","displayName":"em_qual_etapa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[5632,352],"id":"8ae1ee3e-f523-4df4-8204-84a50c8eaa5d","name":"Exec WF_Salvar_Lead"},{"parameters":{"workflowId":{"__rl":true,"value":"DhJx82Syv81AzAaW","mode":"list","cachedResultUrl":"/workflow/DhJx82Syv81AzAaW","cachedResultName":"WF_HANDOFF"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phoneNumber":"={{ $('Workflow Trigger').first().json.chatid }}","resumoConversa":"={{ $json.acoes_resumo_handoff || 'Lead qualificado para atendimento.' }}","sessionId":"={{ $('Workflow Trigger').first().json.chatid }}","contactId":"={{ $('Workflow Trigger').first().json.contact_id }}","urlChatwoot":"={{ $('Workflow Trigger').first().json.urlchatwoot }}","tokenChatwoot":"={{ $('Workflow Trigger').first().json.chatwoottoken }}","accountId":"={{ $('Workflow Trigger').first().json.account_id }}","conversationId":"={{ $('Workflow Trigger').first().json.conversation_id }}","origem":"whatsapp"},"matchingColumns":[],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resumoConversa","displayName":"resumoConversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"urlChatwoot","displayName":"urlChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"qtdPessoas","displayName":"qtdPessoas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"navio","displayName":"navio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"estilo","displayName":"estilo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"qualificacao","displayName":"qualificacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"campanha","displayName":"campanha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"nomeCompleto","displayName":"nomeCompleto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[6080,256],"id":"393b372e-b93b-4cee-a7b5-73ce6bf89e08","name":"Exec WF_HANDOFF"},{"parameters":{"workflowId":{"__rl":true,"value":"TIy-YJepMR4ox2Z6pCVZv","mode":"list","cachedResultUrl":"/workflow/TIy-YJepMR4ox2Z6pCVZv","cachedResultName":"[sem_interesse]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"urlChatwoot":"={{ $('Workflow Trigger').first().json.urlchatwoot }}","tokenChatwoot":"={{ $('Workflow Trigger').first().json.chatwoottoken }}","accountId":"={{ $('Workflow Trigger').first().json.account_id }}","contactId":"={{ $('Workflow Trigger').first().json.contact_id }}","origem":"whatsapp"},"matchingColumns":[],"schema":[{"id":"urlChatwoot","displayName":"urlChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[6304,352],"id":"a4d2f033-b180-4359-b687-bc7e2de67a09","name":"Exec Pausar Atendimento"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[4880,992],"id":"31bd1b03-081f-4f68-9ce4-7590d4e108f7","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"V80Z0Ht4U1FeCavj","name":"OpenAi account Teste"}}},{"parameters":{"name":"consulta_cruzeiros","description":"=# Ferramenta: `consulta_cruzeiros`\n\nData de hoje: {{ $now.format('dd-MM-yyyy') }} > Se a data de **INICIO** do cruzeiro for anterior a **HOJE**, ignore completamente esse cruzeiro e passe apenas os próximos.\n\nSe encontrar dois eventos do mesmo artista (um que já passou e um que ainda vai ocorrer, passe apenas o que irá acontecer).\n---\n\n## O que ela faz\nConsulta um índice vetorial (Simple Vector Store) com descrições **atômicas** de **experience resource de cruzeiros temáticos** e retorna **preço por pessoa** e metadados do **navio**, **tipo de experience resource**, **datas/noites**, **porto de embarque** e **atrações**.  \nCada documento do índice representa **uma única experience resource disponível** (ex.: “Navio do Zezé 2026 — experience resource: varanda — R$ 5.538,00 por pessoa”), maximizando precisão na recuperação.\n\n## Quando usar\n- Pedidos de **preço** informando **navio** e **experience resource** (ex.: “varanda no Navio do Zezé 2026 para 3 pessoas”).  \n- **Comparar** preços entre navios/experience resource.  \n- **Calcular total** por quantidade de pessoas (preço é **por pessoa**).  \n- **Sugerir alternativas** quando não houver match exato (mesma experience resource noutro navio próximo, ou experience resource similar no mesmo navio).\n\n## Entradas (parâmetros)\n- `query` *(string, obrigatório)*: texto livre da intenção do usuário (navio, experience resource, pessoas, orçamento, preferências).  \n- `top_k` *(int, opcional; padrão = 5)*: número de candidatos a retornar.  \n- `strict` *(bool, opcional; padrão = true)*: se `true`, prioriza match exato; se `false`, permite aproximações.  \n- `filters` *(objeto, opcional)*:\n  - `navio` *(string)*: nome parcial/slug/ano (ex.: “do Zezé 2026”, “gil tempo rei 2025”).  \n  - `experience resource` *(enum: interna | externa | varanda | suite)*.  \n  - `pessoas` *(int ≥ 1)*: usado para `total_price_brl = pessoas * price_pp_brl`.  \n  - `orcamento_max_pp` *(float)*: teto por pessoa.  \n  - `orcamento_max_total` *(float)*: teto total (após multiplicação pelas pessoas).\n\n## Normalizações & Regras de negócio\n- **experience resource (sinônimos):**\n  - “suíte”, “suite” → `suite`  \n  - “varanda”, “sacada”, “balcão” → `varanda`  \n  - “externa”, “janela”, “vista mar” → `externa`  \n  - “interna”, “standard” → `interna`\n- **Preços**: sempre **por pessoa** e **com taxas**; total = `pessoas * price_pp_brl`.  \n- **Disponibilidade**: índice só contém experience resource **disponíveis** (linhas “Esgotado” foram excluídas).  \n- **Correspondência de navio**: aceita variações de nome/ano; prioriza match exato.  \n- **Moeda**: `BRL` (não converter).  \n- **Critério de desempate**: (1) mesma experience resource + mesmo navio; (2) mesma experience resource + navio mais próximo; (3) experience resource mais próxima no mesmo navio.\n\n## Saída (formato determinístico)\nArray ordenado por relevância/adequação. Cada item:\n\n```json\n{\n  \"cruise_name\": \"Jorge e Mateus\",\n  \"slug\": \"jorge-e-mateus\",\n  \"cabin_type\": \"varanda\",\n  \"price_pp_brl\": 7098.0,\n  \"pessoas\": 2,\n  \"total_price_brl\": 14196.0,\n  \"date_nights\": \"08/01/2026 - 03 noites\",\n  \"embark\": \"Santos\",\n  \"attractions\": [\"Bell Marques\",\"Jota Quest\",\"Gustavo Mioto\",\"Valyton&Romário\",\"Pedro Libe\",\"Muito Mais\"],\n  \"score\": 0.83,\n  \"source_preview\": \"Cruzeiro: Jorge e Mateus\\n... experience resource: varanda\\nPreço por pessoa: R$ 7098.0 ...\"\n}\n```\n\n**Campos:**\n- `score`: similaridade/relevância (0–1).  \n- `source_preview`: trecho curto do documento para auditoria.  \n- `pessoas` e `total_price_brl`: presentes se `filters.pessoas` for informado ou inferido da `query`.\n\n## Estratégia de recuperação e ranqueamento\n1. **Embedding similarity** da `query` contra `text` dos documentos.  \n2. **Bônus/Penalidades** por match exato de:\n   - `experience resource` (peso alto)\n   - `navio`/`slug`/ano (peso alto)\n   - orçamento (`<=` teto por pessoa/total, se fornecido)  \n3. **Ordenação final** por score composto; em empate, menor `price_pp_brl`.\n\n## Comportamento em falhas/ausências\n- **Sem resultados estritos** (`strict=true`): retornar vazio **e** sugerir fallback (mesma experience resource em edição próxima / experience resource similar).  \n- **Sem filtros claros** (experience resource/navio não inferidos): retornar `top_k` diversos **com** explicação de como refinar:\n  - “Informe navio, experience resource e nº de pessoas. Ex.: ‘Varanda no Navio do Zezé 2026 para 3 pessoas’.”  \n- **Acima do orçamento**: retornar matches mais próximos e incluir `within_budget=false` em cada item.\n\n## Exemplos (few-shots)\n\n**Entrada**\n```json\n{\n  \"query\": \"Belo em Alto Mar, experience resource interna para 2 pessoas\",\n  \"top_k\": 3\n}\n```\n**Saída (resumo)**\n- Top-1: `Belo em Alto Mar` — `interna` — `price_pp_brl=5058` — `total=10116`.\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"Quero varanda no Navio do Zezé 2026 até 6 mil por pessoa\",\n  \"filters\": { \"orcamento_max_pp\": 6000 },\n  \"top_k\": 3\n}\n```\n**Saída (resumo)**\n- Top-1: `do Zezé 2026` — `varanda` — `price_pp_brl=5538` (dentro do orçamento).\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"Suite no Gil Tempo Rei 2025 para 4 pessoas\",\n  \"top_k\": 1\n}\n```\n**Saída (resumo)**\n- Top-1: `Gil - Tempo Rei` — `suite` — `price_pp_brl=14418` — `total=57672`.\n\n## Restrições & Garantias\n- **Não inventar** valores: só retornar o que está no índice.  \n- **Não converter moeda**: manter `BRL`.  \n- **Formato fixo**: sempre retornar o array de objetos conforme especificação.  \n- **Privacidade**: não expor chaves internas além de `slug`/`source_preview`.\n\n## Observação de implementação\nO índice foi construído com documentos **atômicos por experience resource** (texto curto + metadados) e embeddings OpenAI (`text-embedding-3-small`). Para **persistência**, trocar o Simple Vector Store por **pgvector/Pinecone/Qdrant** mantendo o mesmo contrato da ferramenta.","topK":100},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[4688,576],"id":"d1d95156-8208-4f85-8d9f-2cff1057540d","name":"consulta_cruzeiros"},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[4912,784],"id":"a6268c87-05c3-4017-8526-e901ec11af31","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"V80Z0Ht4U1FeCavj","name":"OpenAi account Teste"}}},{"parameters":{"tableName":"basedeconhecimento","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[5040,784],"id":"a60090ad-5193-4828-9657-c5a608edba7b","name":"base vetorial de conhecimento promo","credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}}},{"parameters":{"name":"consultar_base_conhecimento","description":"=# Ferramenta: `consultar_base_conhecimento`\n\nData de hoje: {{ $now.format('dd-MM-yyyy') }}\n\n---\n\n## O que ela faz\nConsulta um índice vetorial (Simple Vector Store) com a **base de conhecimento geral** da Demo Events Co: informações sobre a **empresa**, **navio MSC Divina**, **experience resource**, **pacotes**, **rota/embarque**, **transfer**, **FAQs** e **quebra de objeções**.  \nCada documento do índice representa **um único tópico atômico** (ex.: \"Empresa - Credibilidade\", \"experience resource - Varanda Experience\", \"FAQ - É golpe?\"), maximizando precisão na recuperação.\n\n## Quando usar\n- Perguntas sobre a **empresa** (credibilidade, CNPJ, histórico, modelo de operação).\n- Perguntas sobre o **navio MSC Divina** (estrutura, destaques, Yacht Club).\n- Perguntas sobre **experience resource** (tipos, tamanhos, benefícios, diferenças).\n- Perguntas sobre **pacotes** (o que inclui, o que não inclui, bebidas Experience).\n- Perguntas sobre **rota/percurso** (trajeto padrão, Réveillon especial).\n- Perguntas sobre **embarque** (local, horários).\n- Perguntas sobre **transfer** (valor, pontos de saída).\n- Perguntas frequentes (**FAQs**) de leads.\n- **Quebra de objeções** (respostas sugeridas com técnicas de venda).\n- **Diferenciais de venda** (argumentos matadores para conversão).\n\n## Quando NÃO usar\n- **Preços específicos** de cruzeiros → usar `consulta_cruzeiros`\n- **Datas de embarque** → usar `consulta_cruzeiros`\n- **Disponibilidade de experience resource** → usar `consulta_cruzeiros`\n- **Artistas confirmados** por cruzeiro → usar `consulta_cruzeiros`\n- **Formas de pagamento** → usar bloco `pagamento` do prompt (inline)\n\n## Entradas (parâmetros)\n- `query` *(string, obrigatório)*: texto livre da pergunta do lead ou intenção de busca.\n- `top_k` *(int, opcional; padrão = 3)*: número de documentos a retornar.\n- `filters` *(objeto, opcional)*:\n  - `topic` *(enum)*: filtrar por categoria específica.\n  - `subtopic` *(string)*: filtrar por subcategoria.\n  - `faq_type` *(string)*: filtrar FAQs por tipo.\n  - `objecao_tipo` *(string)*: filtrar objeções por categoria.\n\n## Tópicos disponíveis (enum `topic`)\n| Topic | Conteúdo |\n|-------|----------|\n| `empresa` | Dados institucionais, credibilidade, modelo de operação |\n| `navio` | MSC Divina, estrutura, destaques, Yacht Club |\n| `experience resource` | Todas as categorias (Interna até Yacht Club) |\n| `pacotes` | O que inclui, não inclui, bebidas Experience |\n| `rota` | Trajeto padrão, Réveillon especial |\n| `embarque` | Local (Santos), horários |\n| `transfer` | Valor, pontos de saída |\n| `faq` | Perguntas frequentes com respostas |\n| `objecoes` | Respostas sugeridas + técnicas de venda |\n| `vendas` | Diferenciais matadores para conversão |\n\n## Normalizações & Regras de negócio\n- **Aliases**: aceita variações de termos:\n  - \"golpe\", \"fake\", \"confiável\" → `faq` (confiança)\n  - \"percurso\", \"trajeto\", \"rota\", \"por onde passa\" → `rota`\n  - \"o que vem\", \"incluso\", \"incluído\" → `pacotes`\n  - \"caro\", \"muito caro\", \"não tenho dinheiro\" → `objecoes` (preço)\n  - \"pensar\", \"vou pensar\", \"consultar esposa\" → `objecoes` (decisão)\n- **Keywords**: cada documento tem palavras-chave para matching.\n- **Entities**: documentos podem ter entidades associadas (ex.: \"MSC Divina\", \"Sophia Loren\").\n- **Prioridade de busca**:\n  1. Match exato de `topic` + `keywords`\n  2. Match por `aliases`\n  3. Similaridade semântica geral\n\n## Saída (formato determinístico)\nArray ordenado por relevância. Cada item:\n\n```json\n{\n  \"doc_id\": \"faq_confianca_golpe\",\n  \"topic\": \"faq\",\n  \"subtopic\": \"confianca\",\n  \"title\": \"FAQ: É golpe? É confiável?\",\n  \"content\": \"A Demo Events Co é 100% confiável:\\n- 20 anos de mercado (desde 2006)\\n- CNPJ ativo: 08.035.509/0001-81\\n- 300.000+ passageiros já embarcados...\",\n  \"keywords\": [\"golpe\", \"confiável\", \"seguro\", \"verdade\", \"fake\", \"fraude\"],\n  \"aliases\": [\"é golpe\", \"é confiável\", \"posso confiar\", \"é verdade\", \"é fake\"],\n  \"score\": 0.92\n}\n```\n\n**Campos:**\n- `doc_id`: identificador único do documento.\n- `topic`: categoria principal.\n- `subtopic`: subcategoria (se aplicável).\n- `title`: título descritivo.\n- `content`: conteúdo textual para resposta.\n- `keywords`: palavras-chave associadas.\n- `aliases`: variações de perguntas que matcheiam este documento.\n- `score`: similaridade/relevância (0–1).\n\n## Saída especial para objeções\nQuando `topic = objecoes`, a saída inclui campos extras:\n\n```json\n{\n  \"doc_id\": \"objecao_caro\",\n  \"topic\": \"objecoes\",\n  \"subtopic\": \"preco\",\n  \"objecao\": \"Tá caro / Muito caro / Não tenho dinheiro\",\n  \"respostas_sugeridas\": [\n    \"Entendo que é um investimento! Mas pensa: são 3-4 dias com hospedagem, alimentação completa 24h, shows de artistas...\",\n    \"Posso te mostrar a experience resource interna que é mais acessível? E ainda parcela em até 12x sem juros.\"\n  ],\n  \"tecnica_venda\": \"Ancoragem de valor + comparativo + parcelamento + downsell\",\n  \"keywords\": [\"caro\", \"muito caro\", \"não tenho\", \"preço alto\"],\n  \"score\": 0.88\n}\n```\n\n## Estratégia de recuperação e ranqueamento\n1. **Filtro por `topic`** (se fornecido) → reduz universo de busca.\n2. **Match de `keywords`** e `aliases` → bônus alto para match exato.\n3. **Embedding similarity** da `query` contra `text` dos documentos.\n4. **Ordenação final** por score composto.\n\n## Comportamento em falhas/ausências\n- **Sem resultados**: retornar vazio e sugerir reformulação:\n  - \"Não encontrei informação específica sobre isso. Pode reformular a pergunta?\"\n- **Query ambígua**: retornar `top_k` diversos com explicação:\n  - \"Encontrei informações sobre [X] e [Y]. Qual delas te interessa?\"\n- **Fora do escopo**: informar que não temos a informação e redirecionar:\n  - \"Essa informação não está na nossa base. Posso te ajudar com algo sobre nossos cruzeiros temáticos?\"\n\n## Exemplos (few-shots)\n\n**Entrada**\n```json\n{\n  \"query\": \"isso é golpe?\",\n  \"top_k\": 1\n}\n```\n**Saída (resumo)**\n- Top-1: `faq_confianca_golpe` — \"A Demo Events Co é 100% confiável: 20 anos de mercado, CNPJ ativo...\"\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"qual o percurso do navio?\",\n  \"top_k\": 1\n}\n```\n**Saída (resumo)**\n- Top-1: `rota_trajeto` — \"Santos → Búzios → Angra dos Reis → Santos. Nem sempre é exatamente essa rota, mas quase sempre segue esse trajeto!\"\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"tá muito caro\",\n  \"filters\": { \"topic\": \"objecoes\" },\n  \"top_k\": 1\n}\n```\n**Saída (resumo)**\n- Top-1: `objecao_caro` — Respostas sugeridas + técnica \"Ancoragem de valor + comparativo + parcelamento\"\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"diferença entre varanda e varanda experience\",\n  \"top_k\": 2\n}\n```\n**Saída (resumo)**\n- Top-1: `faq_varanda_vs_experience` — \"A experience resource física é similar. A diferença é o pacote de benefícios!\"\n- Top-2: `cabine_varanda_experience` — Detalhes dos benefícios Experience\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"o que está incluso no pacote?\",\n  \"top_k\": 1\n}\n```\n**Saída (resumo)**\n- Top-1: `pacotes_incluso` — \"Shows, alimentação completa (café, almoço, jantar, madrugada), acomodação, serviço 24h...\"\n\n## Restrições & Garantias\n- **Não inventar** informações: só retornar o que está no índice.\n- **Não usar para preços**: preços vêm de `consulta_cruzeiros`.\n- **Não usar para pagamento**: formas de pagamento estão inline no prompt.\n- **Formato fixo**: sempre retornar array de objetos conforme especificação.\n- **Atualização**: base reflete informações da temporada 2026/2027 com MSC Divina.\n\n## Observação de implementação\nO índice foi construído com documentos **atômicos por tópico** (texto + metadados) seguindo a estrutura:\n```json\n{\n  \"data\": [\n    {\n      \"text\": \"conteúdo...\",\n      \"metadata\": {\n        \"doc_id\": \"...\",\n        \"topic\": \"...\",\n        \"keywords\": [...],\n        \"aliases\": [...]\n      }\n    }\n  ]\n}\n```\nEmbeddings compatíveis com OpenAI (`text-embedding-3-small`). Para **persistência**, usar **pgvector/Pinecone/Qdrant** mantendo o mesmo contrato.","topK":100},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[5040,576],"id":"ece43f29-ec8c-4042-9185-f91dd858578b","name":"consultar_base_conhecimento"},{"parameters":{"tableName":"cruzeiros","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[4592,784],"id":"92a4b32f-14f2-4a40-bd9a-828fdedde270","name":"Postgres PGVector Store1","credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"125d23fd-a4b2-41fb-ad49-aa914b9ce823","leftValue":"={{ $('Extract JSON').item.json.enviar_materiais }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[6304,544],"id":"9448d5f3-bb68-4395-84f3-7495da292fd3","name":"Enviar Material Marketing"},{"parameters":{"workflowId":{"__rl":true,"value":"3DNfVxt56Z8ccTKL","mode":"list","cachedResultUrl":"/workflow/3DNfVxt56Z8ccTKL","cachedResultName":"[Demo Events Co] [materiais marketing] - Whatsapp homologacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cruzeiroInteressado":"={{ $('Exec WF_Salvar_Lead').first().json.lead.Navio }}","telefone":"={{ $('Exec WF_Salvar_Lead').first().json.lead.Telefone }}","chatwooturl":"={{ $('Exec WF_Salvar_Lead').first().json.urlchatwoot }}","chatwoottoken":"={{ $('Exec WF_Salvar_Lead').first().json.chatwoottoken }}","accountid":"1","conversasionid":"={{ $('Exec WF_Salvar_Lead').first().json.lead.id_conversa_chatwoot }}","resposta":"={{ $('Exec WF_Salvar_Lead').first().json.resposta }}"},"matchingColumns":[],"schema":[{"id":"cruzeiroInteressado","displayName":"cruzeiroInteressado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwooturl","displayName":"chatwooturl","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"accountid","displayName":"accountid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversasionid","displayName":"conversasionid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resposta","displayName":"resposta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[6528,480],"id":"3769fcd2-74e7-410a-a186-b9b77fa72413","name":"Call '[Demo Events Co] [materiais marketing] - Whatsapp homologacao'"},{"parameters":{"operation":"delete","key":"={{ $json.chatid }}_homologacao"},"id":"7c15d772-af3f-4fe9-8fc9-5d0397f9aaba","name":"Clear Redis Memory on Reset1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2864,352],"credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"0RzDPFar6zDMX7f5IcDI6","mode":"list","cachedResultUrl":"/workflow/0RzDPFar6zDMX7f5IcDI6","cachedResultName":"Enviar Mensagem - Novo Fluxo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Workflow Trigger').first().json.chatid }}","resposta":"={{ $('Extract JSON').first().json.resposta }}","accountid":"={{ $('Workflow Trigger').first().json.account_id }}","chatwooturl":"={{ $('Workflow Trigger').first().json.urlchatwoot }}","chatwoottoken":"={{ $('Workflow Trigger').first().json.chatwoottoken }}","conversationid":"={{ $('Workflow Trigger').first().json.conversation_id }}","origem":"whatsapp"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"accountid","displayName":"accountid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwooturl","displayName":"chatwooturl","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversationid","displayName":"conversationid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resposta","displayName":"resposta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[6752,608],"id":"6864e9cd-6beb-4e6b-a006-9e71fec7840f","name":"Call 'Enviar Mensagem - Novo Fluxo'"}],"connections":{"Workflow Trigger":{"main":[[{"node":"Clear Redis Memory on Reset1","type":"main","index":0}]]},"Get Lead State":{"main":[[{"node":"Prepare Context","type":"main","index":0}]]},"Prepare Context":{"main":[[{"node":"Call WF_MontarPrompt1","type":"main","index":0}]]},"Combine Prompt":{"main":[[{"node":"AI Agent Negociacao","type":"main","index":0}]]},"Memory Postgres":{"ai_memory":[[{"node":"AI Agent Negociacao","type":"ai_memory","index":0}]]},"AI Agent Negociacao":{"main":[[{"node":"Extract JSON","type":"main","index":0}]]},"Extract JSON":{"main":[[{"node":"Exec WF_Salvar_Lead","type":"main","index":0}]]},"IF Handoff?":{"main":[[{"node":"Exec WF_HANDOFF","type":"main","index":0}],[{"node":"IF Pausar?","type":"main","index":0}]]},"IF Pausar?":{"main":[[{"node":"Exec Pausar Atendimento","type":"main","index":0}],[{"node":"Enviar Material Marketing","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent Negociacao","type":"ai_languageModel","index":0}]]},"Classify Query Type":{"main":[[{"node":"Call 'WF_Busca_KB'","type":"main","index":0}]]},"Call 'WF_Busca_KB'":{"main":[[{"node":"Combine Prompt","type":"main","index":0}]]},"Call WF_MontarPrompt1":{"main":[[{"node":"Classify Query Type","type":"main","index":0}]]},"Exec WF_Salvar_Lead":{"main":[[{"node":"IF Handoff?","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"base vetorial de conhecimento promo","type":"ai_embedding","index":0},{"node":"Postgres PGVector Store1","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"consulta_cruzeiros","type":"ai_languageModel","index":0},{"node":"consultar_base_conhecimento","type":"ai_languageModel","index":0}]]},"base vetorial de conhecimento promo":{"ai_vectorStore":[[{"node":"consultar_base_conhecimento","type":"ai_vectorStore","index":0}]]},"Postgres PGVector Store1":{"ai_vectorStore":[[{"node":"consulta_cruzeiros","type":"ai_vectorStore","index":0}]]},"consulta_cruzeiros":{"ai_tool":[[{"node":"AI Agent Negociacao","type":"ai_tool","index":0}]]},"consultar_base_conhecimento":{"ai_tool":[[{"node":"AI Agent Negociacao","type":"ai_tool","index":0}]]},"Enviar Material Marketing":{"main":[[{"node":"Call '[Demo Events Co] [materiais marketing] - Whatsapp homologacao'","type":"main","index":0}],[{"node":"Call 'Enviar Mensagem - Novo Fluxo'","type":"main","index":0}]]},"Call '[Demo Events Co] [materiais marketing] - Whatsapp homologacao'":{"main":[[{"node":"Call 'Enviar Mensagem - Novo Fluxo'","type":"main","index":0}]]},"Clear Redis Memory on Reset1":{"main":[[{"node":"Get Lead State","type":"main","index":0}]]},"Call 'Enviar Mensagem - Novo Fluxo'":{"main":[[]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Workflow Trigger":[{"json":{"chatid":"+1 555-0100","mensagem":"?","urlchatwoot":"https://chatwoot.demo-events.com.br","account_id":"1","conversation_id":"6632","chatwoottoken":"${CHATWOOT_TOKEN}","contact_id":"38359"},"pairedItem":{"item":0}}]},"versionId":"13550101-7bb8-480a-b27e-d6c242406652","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[{"updatedAt":"2026-02-22T23:32:19.599Z","createdAt":"2026-02-22T23:32:19.599Z","id":"B76Egm1CIQNftCew","name":"negociacao"},{"updatedAt":"2026-02-22T23:26:39.783Z","createdAt":"2026-02-22T23:26:39.783Z","id":"n57LehUJ3ysDp82B","name":"SDR"}],"shared":[{"updatedAt":"2026-02-27T15:37:52.528Z","createdAt":"2026-02-27T15:37:52.528Z","role":"workflow:owner","workflowId":"CGT5Kt44uUfQHbIY","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}