workflows_extracted/csSdX8WDObDSuf9deJQLC.json
{"updatedAt":"2026-02-14T05:09:57.392Z","createdAt":"2026-02-14T05:09:57.392Z","id":"csSdX8WDObDSuf9deJQLC","name":"[Desativa IA]","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"desativar-ia","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"6edb0625-9ee0-4c8b-88cf-12570d64f7fb","name":"Webhook","webhookId":"0b463d89-1869-4059-b8a4-3ee06db0a856"},{"parameters":{"method":"PUT","url":"={{ $json.urlChatwoot }}api/v1/accounts/{{ $json.accountId }}/contacts/{{ $json.contactId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.tokenChatwoot }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"custom_attributes\": {\n    \"inteligencia_artificial\": \"Desativada\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,0],"id":"9b475ee3-a78d-4de2-a37c-05412d7998f3","name":"Atualiza Chatwoot"},{"parameters":{"assignments":{"assignments":[{"id":"aca4b590-17ca-48c0-a904-0ada13e8eb64","name":"urlChatwoot","value":"https://promo-chatwoot.demo.example.com/","type":"string"},{"id":"160f69a6-8529-496b-8ff8-df44323d2ebd","name":"tokenChatwoot","value":"${CHATWOOT_TOKEN}","type":"string"},{"id":"478bfd5d-fdb6-4612-bbf6-75f3467cd8fa","name":"accountId","value":"={{ $json.body.messages[0].account_id }}","type":"string"},{"id":"1f94cd13-80f2-4688-bdae-a5d2b33bf56c","name":"contactId","value":"={{ $json.body.contact_inbox.contact_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"aeb1632d-0c1e-488b-ac6b-ce1d531fee93","name":"Trata dados"}],"connections":{"Webhook":{"main":[[{"node":"Trata dados","type":"main","index":0}]]},"Trata dados":{"main":[[{"node":"Atualiza Chatwoot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"promo-n8n.demo.example.com","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34","content-length":"2376","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"0.0.0.0","x-forwarded-host":"promo-n8n.demo.example.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"1d358df64bb0","x-real-ip":"0.0.0.0"},"params":{},"query":{},"body":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Api","contact_inbox":{"id":85,"contact_id":35920,"inbox_id":11,"source_id":"de2bc1cd-8513-4acd-832a-31322b3734fd","created_at":"2025-11-25T21:11:55.383Z","updated_at":"2025-11-25T21:11:55.383Z","hmac_verified":false,"pubsub_token":"${PUBSUB_TOKEN}"},"id":56,"inbox_id":11,"messages":[{"id":7017,"content":"testes","account_id":1,"inbox_id":11,"conversation_id":56,"message_type":1,"created_at":1764167528,"updated_at":"2025-11-26T14:32:08.574Z","private":false,"status":"sent","source_id":null,"content_type":"text","content_attributes":{},"sender_type":"User","sender_id":1,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"testes","sentiment":{},"conversation":{"assignee_id":14,"unread_count":0,"last_activity_at":1764167528,"contact_inbox":{"source_id":"de2bc1cd-8513-4acd-832a-31322b3734fd"}},"sender":{"id":1,"name":"Demo Events Co","available_name":"Demo Events Co","avatar_url":"","type":"user","availability_status":null,"thumbnail":""}}],"labels":["em_contato"],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{"email":"user@example.com","inteligencia_artificial":"Ativada"},"email":null,"id":35920,"identifier":"554588234604@s.whatsapp.net","name":"~Emerson Ody","phone_number":"+1 555-0100","thumbnail":"https://promo-chatwoot.demo.example.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBblFDIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--9e2eb5751e3b23870afccd2cdf57cc7cc4889d9b/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--21d3e51bf63dcd0d7dd936c29d328afbedba8948/554796632345-554588234604.jpg","blocked":false,"type":"contact"},"assignee":{"id":14,"name":"Taynara Rodrigues","available_name":"Taynara Rodrigues","avatar_url":"","type":"user","availability_status":null,"thumbnail":""},"team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":0,"first_reply_created_at":"2025-11-25T21:28:31.861Z","priority":null,"waiting_since":0,"agent_last_seen_at":1764167528,"contact_last_seen_at":0,"last_activity_at":1764167528,"timestamp":1764167528,"created_at":1764105115,"updated_at":1764167528.5793989,"event":"automation_event.message_created"},"webhookUrl":"https://promo-n8n.demo.example.com/webhook/desativar-ia","executionMode":"production"}}]},"versionId":"2e012f6b-747f-4052-9edb-215d8d78121e","activeVersionId":"2e012f6b-747f-4052-9edb-215d8d78121e","versionCounter":47,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-14T05:09:57.392Z","createdAt":"2026-02-14T05:09:57.392Z","role":"workflow:owner","workflowId":"csSdX8WDObDSuf9deJQLC","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}