workflows_extracted/fbHre1QnMRPx0iLlyKqbd.json
{"updatedAt":"2026-05-04T17:59:42.491Z","createdAt":"2026-04-13T20:04:23.613Z","id":"fbHre1QnMRPx0iLlyKqbd","name":"WF_RELATORIO_BDR","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"navio"},{"name":"campanha"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2560,224],"id":"6250e9e6-b72e-45ae-99ab-29a43440328e","name":"When Executed by Another Workflow"},{"parameters":{"operation":"set","key":"=reportBdr{{ $('Code in JavaScript').first().json.navio.trim() }}{{ $('Code in JavaScript').first().json.campanha.trim() }}","value":"={{ $('Report2').first().json.html }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-896,16],"id":"e639caaa-6d97-4404-ab77-14c2c48859cb","name":"RedisStoreReport","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"model":"gpt-oss:120b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-1648,256],"id":"d17ba741-c845-4614-bdff-f95f08a7c368","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"qrMQBidfdMsxUTub","name":"Ollama account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"A summary text\"\n    },\n    \"cssClass\": {\n      \"type\": \"string\",\n      \"enum\": [\"success\", \"warning\", \"danger\"],\n      \"description\": \"CSS class indicating the severity or type of message\"\n    },\n    \"recommendations\": {\n      \"type\": \"string\",\n      \"description\": \"Optional recommendation or suggested action\"\n    }\n  },\n  \"required\": [\"summary\", \"cssClass\"],\n  \"additionalProperties\": false\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1504,256],"id":"57cd5d96-53a9-4418-84dd-d6820ee86051","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Você é um agente especializado em marketing e vendas com a tarefa de fazer a analise dos números de um relatorio de SDR (Sales Development Representative).\nO objetivo é produzir um texto curto em portugues para ser incluído na parte de sumarização do relatório.\nAo analisar as interações leve como parametro principal a média de interações até qualificação,\nleads qualificados são transferidos para outra conversa de fechamento de negócio\n\nsegue abaixo os números relevantes.\n\nuse formatação numérica em pt-br (ex: 1.012,34 = mil e doze unidades e trinta e quatro centésimos)\n\n{{ JSON.stringify($('MessagesDataBdr').all()) }}\n\nformate o output da forma requisitada no schema. segue dois exemplo de output\n\n{\n  \"summary\": \"<um texto de sumarização dos dados apresentados>\",\n  \"cssClass\": \"danger\",\n  \"recommendations\": \"<um texto de recomendações baseado nos dados e na sumarização>\"\n}\n\n{\n  \"summary\": \"<um texto de sumarização dos dados apresentados>\",\n  \"cssClass\": \"success\"\n}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-1648,16],"id":"b35c59ab-4258-4177-827e-933100ea5c17","name":"AiAnalysisGeneraReport","executeOnce":true,"retryOnFail":true,"waitBetweenTries":2000},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2544,16],"id":"c2a9bf60-0a15-437e-95bd-1cab963849dc","name":"When clicking ‘Execute workflow’"},{"parameters":{"html":"<section id='relatorio-bdr'>\n    <div class=\"page\">\n      <article class=\"content\">\n        <header id='relatorio-geral-title'>\n        <h3 class=\"section-title\" style=\"margin-top: 15px;\">\n          Analise Atendimento Geral\n          <span class='section-subtitle'>Periodo: {{ $('MessagesDataBdr').first().json.period_action.period_short }}</span>\n        </h3> \n      </header>  \n              \n        <section id='metricasAtendimentoGeral' class=\"metrics-grid\">\n                <div class=\"metric-card\"\n                  title='Total de leads atendidos no período'>\n              <div class=\"metric-label\">ATENDIDOS</div>\n                    <div class=\"metric-value\">\n                      {{ $('DataExtraBdr').first().json.total_conversations.formatPtBr }}\n                    </div>\n                </div>\n                <div class=\"metric-card\"\n                     title=\"Total de leads engajados, aqueles que responderam ao menos uma vez ao nosso agente sdr\">\n                  <div class=\"metric-label\">ENGAJADOS</div>\n                  <div class=\"metric-value\">\n                      {{ $('DataExtraBdr').first().json.engaged_leads.formatPtBr }}\n                    </div>\n                    <div class=\"progress-container\">\n                        <div class=\"progress-bar\">\n                            <div class=\"progress-fill info\" style=\"width:  {{ $('DataExtraBdr').first().json.percent_engaged_of_total_conversations.number }}%\"></div>\n                        </div>\n                        <div class=\"progress-label\">  {{ $('DataExtraBdr').first().json.percent_engaged_of_total_conversations.formatPtBr }}% dos leads atendidos</div>\n                    </div>\n                    \n                </div>\n\n               \n\n                \n\n                \n                <div class=\"metric-card\"\n                  title='Total de links enviados para os leads durante o atendimento sdr'>\n                  <div class=\"metric-label\">ENVIOS DE LINK</div>\n                  <div class=\"metric-value\">\n                      {{ $('DataExtraBdr').first().json.total_sent_links.formatPtBr}}\n                    </div>\n                  <div class=\"progress-container\">\n                        <div class=\"progress-bar\">\n                            <div class=\"progress-fill info\" style=\"width:  {{ $('DataExtraBdr').first().json.percent_sent_links_of_engaged_leads.number }}%\"></div>\n                        </div>\n                        <div class=\"progress-label\">  {{ $('DataExtraBdr').first().json.percent_sent_links_of_engaged_leads.formatPtBr }}% dos leads engajados</div>\n                    </div>\n                  \n                </div>\n\n                <div class=\"metric-card\"\n                  title='Leads que foram transferidos para o time de vendas'>\n                  <div class=\"metric-label\">QUALIFICADOS</div>\n                  <div class=\"metric-value\">\n                      {{ $('DataExtraBdr').first().json.total_qualified_leads.formatPtBr }}\n                    </div>\n                  <div class=\"progress-container\">\n                        <div class=\"progress-bar\">\n                            <div class=\"progress-fill info\" style=\"width:  {{ $('DataExtraBdr').first().json.percent_qualified_leads_of_engaged_leads.number }}%\"></div>\n                        </div>\n                        <div class=\"progress-label\">  {{ $('DataExtraBdr').first().json.percent_qualified_leads_of_engaged_leads.formatPtBr }}% dos leads engajados</div>\n                    </div>\n                </div>\n\n\n                <div class=\"metric-card\"\n                  title='Total de leads que converteram com o time de vendas'>\n                    <div class=\"metric-label\">CONVERSÕES</div>\n              \n                    <div class=\"metric-value\">-</div>\n                    <div class=\"metric-subtitle ${cssClass}\">-</div>\n                    \n                </div>\n\n              <div class=\"metric-card\"\n                   title='Proporção de leads convertidos por leads atendidos'>\n                   \n                    <div class=\"metric-label\">TAXA DE CONVERSÃO</div>\n                    \n                    <div class=\"metric-value\">-</div>\n                    <div class=\"metric-subtitle ${cssClass}\">-</div>\n                    \n                </div>\n            </section>\n         \n        <section id='graficoRankingQuali'>\n          <div class='section-subtitle'>Ranking Qualificação Conversas</div>\n          <div class=\"chart-container\" style='position: relative; width:100%'>\n           \n            <canvas id='chartRankingQuali'></canvas>\n            <noscript>\n              <img src=\"https://quickchart.io/chart?c={{\n\t\t\t(() => {\n\t\t\tlet chartObj = $('DataExtraBdr').first().json.chart;\n\t\t\treturn encodeURIComponent(JSON.stringify(chartObj))})()\n\t\t\t}}\" alt=\"Gráfico Qualificações\">\n            </noscript>\n            <script>\n\t      {\n          \n\t\t  const dataRaw = JSON.parse(`{{ JSON.stringify($('DataExtraBdr').first().json.bdrLabelsQualificacao) }}`);\n\t\t  const entries = Object.entries(dataRaw);\n\t\t  const labels = entries.map(e => e[0]);\n\t\t  const data = entries.map(item => item[1]);\n\t\t  const chartRankingQualiContext = chartRankingQuali.getContext('2d')\n          function getAspectRatio() {\n            if (window.innerWidth < 650) {\n                return 15.0/16;\n            } else if (window.innerWidth < 900) {\n                return 15.0/12; \n            } else if (window.innerWidth < 1200) {\n                return 15.0/8; \n            } else if (window.innerWidth < 1400) {\n                return 15.0/8; \n            } else if (window.innerWidth < 1800) {\n                return 15.0/7; \n            } else {\n                return 15.0/6; \n            }\n        }\n        chartRankingQuali.parentElement.style.aspectRatio = getAspectRatio();\n\t\t  const rankingQualiChart = new Chart(chartRankingQualiContext, {\n              type: 'bar',\n              data: {\n\t\t\t      labels: labels,\n\t\t\t      datasets: [{\n                      label: 'Ranking Qualificações Conversas Ativas',\n                      data: data,\n                      backgroundColor: 'rgba(110, 69, 226, 0.7)',\n                      borderColor: 'rgb(110, 69, 226)',\n                      borderWidth: 2,\n                      borderRadius: 6\n\t\t\t      }],\n              },\n              options: {      \n                 animation: {\n                     onComplete: function() {\n                        const ctx = this.ctx;\n                        ctx.save();\n                        ctx.font = 'bold 1.5em Arial';\n                        ctx.fillStyle = getComputedStyle(document.body).getPropertyValue('--text-muted');\n                        ctx.textAlign = 'center';\n                          \n                        this.data.datasets.forEach((dataset, datasetIndex) => {\n                            const meta = this.getDatasetMeta(datasetIndex);\n                            meta.data.forEach((bar, index) => {\n                                const dataValue = dataset.data[index].toLocaleString('pt-br', {\n                                            minimumFractionDigits: 0,\n                                            maximumFractionDigits: 0\n                                });\n                                ctx.fillText(dataValue, bar.x, bar.y - 20);\n                            });\n                        });\n                        ctx.restore();\n                     }\n                },\n                responsive: true,\n                aspectRatio: getAspectRatio(), // width per height\n                scales: {\n                    y: {\n                        beginAtZero: true,\n                        title: {\n                            display: true,\n                            text: 'Leads'\n                        }\n                    }\n                }\n            } // options\n            \n\t\t  });\n            window.addEventListener('resize', function() {\n              chartRankingQuali.parentElement.style.aspectRatio = getAspectRatio();\n              rankingQualiChart.update();\n            });\n\t      }\n            </script>\n          </div>\n        </section> \n         \n        <section id='detalhamentoRespostas'>\n           <div class=\"section-subtitle\" style=\"margin-top: 25px;\">\n                📊 Detalhamento de Respostas SDR\n            </div>\n            \n            <div class=\"metrics-grid\">\n                <div class=\"metric-card\"\n                  title=\"Vendedor não respondeu o primeiro turno de interação do usuário do período atual\">\n                    <div class=\"metric-label\">SEM 1ª RESPOSTA IA</div>\n                    <div class=\"metric-value\">{{ $('DataExtraBdr').first().json.agent_count_missed_first_response.formatPtBr }} </div>\n                    <div class=\"progress-container\">\n                        <div class=\"progress-bar\">\n                            <div class=\"progress-fill info\" style=\"width:  {{ $('DataExtraBdr').first().json.percent_agent_missed_first_response_of_total_conversations.number }}%\"></div>\n                        </div>\n                        <div class=\"progress-label\">  {{ $('DataExtraBdr').first().json.percent_agent_missed_first_response_of_total_conversations.formatPtBr }}% dos leads atendiso</div>\n                    </div>\n                </div>\n                \n                <div class=\"metric-card\"\n                  title=\"O lead não respondeu o primeiro turno de interação da vendedor do período atual\">\n                    <div class=\"metric-label\">SEM 1ª RESPOSTA LEAD</div>\n                    <div class=\"metric-value\">{{ $('DataExtraBdr').first().json.lead_count_missed_first_response.formatPtBr }}</div>\n                    <div class=\"progress-container\">\n                        <div class=\"progress-bar\">\n                            <div class=\"progress-fill info\" style=\"width: {{ $('DataExtraBdr').first().json.percent_lead_missed_first_response_of_total_conversations.number }}%\"></div>\n                        </div>\n                        <div class=\"progress-label\"> {{ $('DataExtraBdr').first().json.percent_lead_missed_first_response_of_total_conversations.formatPtBr }}% dos leads atendidos</div>\n                    </div>\n                </div>\n                \n                <div class=\"metric-card\"\n                  title=\"Total de conversas nas caixas dos vendedores marcadas com etiqueta de sem interesse\">\n                    <div class=\"metric-label\">TOTAL LEADS SEM INTERESSE</div>\n                    <div class=\"metric-value\">{{ $('DataExtraBdr').first().json.total_without_interest.formatPtBr }}</div>\n                    <div class=\"progress-container\">\n                        <div class=\"progress-bar\">\n                            <div class=\"progress-fill info\" style=\"width: {{ $('DataExtraBdr').first().json.percent_total_without_interest_of_engaged_leads.number }}%\"></div>\n                        </div>\n                        <div class=\"progress-label\"> {{ $('DataExtraBdr').first().json.percent_total_without_interest_of_engaged_leads.formatPtBr }}% dos leads engajados</div>\n                    </div>\n                </div>\n\n                <div class=\"metric-card\"\n                  title='Total de leads que responderam alguma mensagens do vendedor no período'>\n                    <div class=\"metric-label\">TAXA ENGAJAMENTO</div>\n                    <div class=\"metric-value\">{{ $('DataExtraBdr').first().json.percent_engaged_of_total_conversations.formatPtBr }}%</div>\n                    <div class=\"metric-subtitle \">dos leads atendidos</div>\n                </div>   \n              \n                \n          </div> <!-- metrics-grid  -->\n         </section>\n         \n        <section id='tabelaInteracoesResposta'>\n              <table class=\"metrics-table\">\n                <thead>\n                  <tr>\n                    <th title=\"\"> </th>\n                    <th title=\"Uma interação inclui dois turnos alternando lead e sdr cada turno contendo uma ou mais mensagens em sequência\">Interações</th>\n                    <th title=\"Leads recebidos no período\">Mensagens</th>\n                    <th title=\"Tempo de Resposta Médio excluindo respostas maiores que 60m\">Tempo Resposta Normalizado</th>\n                    <th title=\"Tempo médio para primeira resposta excluindo respostas maiores que 30m\">Tempo 1ᵃ Normalizado</th>\n                  </tr>\n                </thead>\n                <tbody>\n                  <tr>\n                    <th>Agente Sdr</th>\n                     {{ (()=> {\n                      const dados = $('DataExtraBdr').first().json\n                      const interacoes = dados.total_interactions.formatPtBr\n                      const mensagens = dados.agent_total_messages.formatPtBr\n                      const tempoRespostaNorm = dados.agent_avg_response_time_norm.formatPtBr\n                      const tempoPrimeiraResposta = dados.agent_avg_first_response_time.formatPtBr\n                      const tempoPrimeiraRespostaNorm = dados.agent_avg_first_response_time_norm.formatPtBr\n                      return `\n                    <td>${interacoes}</td>\n                    <td>${mensagens}</td>\n                    <td>${tempoRespostaNorm}</td>\n                    <td>${tempoPrimeiraRespostaNorm}</td>\n                    `\n                    })() }}\n                  </tr>\n                  <tr>\n                    <th>Lead</th>\n                    {{ (()=> {\n                      const dados = $('DataExtraBdr').first().json\n                      const interacoes = dados.total_interactions.formatPtBr\n                      const mensagens = dados.lead_total_messages.formatPtBr\n                      const tempoRespostaNorm = dados.lead_avg_response_time_norm.formatPtBr\n                      const tempoPrimeiraRespostaNorm = dados.lead_avg_first_response_time_norm.formatPtBr\n                      return `\n                    <td>${interacoes}</td>\n                    <td>${mensagens}</td>\n                    <td>${tempoRespostaNorm}</td>\n                    <td>${tempoPrimeiraRespostaNorm}</td>\n                    `\n                    })() }}\n                  </tr>          \n                </tbody>\n              </table>\n         </section>\n\n        <section id='graficosInteracao' style=\"display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 20px; margin-top: 20px;\"> \n                   <div id='graficoInteracaoSdr'>\n          <div class='section-subtitle'>Evolução Campanha Sdr</div>\n          <div class=\"chart-container\" style='position: relative; width:100%'>\n           \n            <canvas id='chartInteracaoSdr'></canvas>\n            <noscript>\n              <img src=\"https://quickchart.io/chart?c={{\n\t\t\t(() => {\n\t\t\tlet chartObj = $('DataExtraBdr').first().json.chart;\n\t\t\treturn encodeURIComponent(JSON.stringify(chartObj))})()\n\t\t\t}}\" alt=\"Gráfico Qualificações\">\n            </noscript>\n            <script>\n\t      {\n          \n\t\t  const dataSdr = JSON.parse(`{{ JSON.stringify($('DataExtraBdr').first().json.time_stats) }}`);\n          //const dataSales = JSON.parse(`{{ JSON.stringify($('DataExtraBdr').last().json.time_stats) }}`);\n\t\t  const labels = dataSdr.map(e => e.date.slice(5));\n\t\t  \n          const datasets = [\n    {\n      label: 'Interações',\n      data: dataSdr.map(e => e.total_interactions),\n      borderColor: \"#FF0000\",\n      backgroundColor: '#FF0000',\n      yAxisID: 'ySdrInteracoes',\n    },\n    {\n      label: 'Novas Conversas',\n      data: dataSdr.map(e => e.total_conversations_created),\n      borderColor: \"#00FF00\",\n      backgroundColor: '#00FF00',\n      yAxisID: 'ySdrConversas',\n    },\n    {\n      label: 'Conversas Ativas',\n      data: dataSdr.map(e => e.active_conversations),\n      borderColor: \"#0000FF\",\n      backgroundColor: '#0000FF',\n      yAxisID: 'ySdrConversas',\n    },\n  ];\n         \n\t\t  const chartInteracaoSdrContext = chartInteracaoSdr.getContext('2d')\n          function getAspectRatio() {\n            if (window.innerWidth < 650) {\n                return 15.0/20;\n            } else if (window.innerWidth < 900) {\n                return 15.0/18; \n            } else if (window.innerWidth < 1200) {\n                return 15.0/15; \n            } else if (window.innerWidth < 1400) {\n                return 15.0/12; \n            } else if (window.innerWidth < 1800) {\n                return 15.0/11; \n            } else {\n                return 15.0/10; \n            }\n        }\n        chartInteracaoSdr.parentElement.style.aspectRatio = getAspectRatio();\n\t\t  const interacaoChart = new Chart(chartInteracaoSdrContext, {\n              type: 'line',\n              data: {\n\t\t\t      labels: labels,\n\t\t\t      datasets: datasets,\n              },\n              options: {\n                responsive: true,\n                aspectRatio: getAspectRatio(), // width per height\n                scales: {\n                  ySdrInteracoes: {\n                    \n                    type: 'linear',\n                    display: true,\n                    position: 'right',\n                    title: {\n                        display: true,\n                        text: 'Interações',\n                        font: {\n                            size: 12,\n                            weight: 'bold'\n                        }\n                    }\n                  },\n                  ySdrConversas: {\n                    \n                    type: 'linear',\n                    display: true,\n                    position: 'left',\n                    title: {\n                        display: true,\n                        text: 'Conversas',\n                        font: {\n                            size: 12,\n                            weight: 'bold'\n                        }\n                    },\n                    // grid line settings\n                    grid: {\n                      drawOnChartArea: false, // only want the grid lines for one axis to show up\n                    },\n                  },\n                }\n                  \n              } //options\n\t\t  });\n            window.addEventListener('resize', function() {\n              chartInteracaoSdr.parentElement.style.aspectRatio = getAspectRatio();\n              interacaoChart.update();\n            });\n\t      }\n            </script>\n          </div>\n        </div> \n\n          <div id='graficoInteracaoVendas'>\n          <div class='section-subtitle'>Evolução Campanha Vendas</div>\n          <div class=\"chart-container\" style='position: relative; width:100%'>\n           \n            <canvas id='chartInteracaoVendas'></canvas>\n            <noscript>\n              <img src=\"https://quickchart.io/chart?c={{\n\t\t\t(() => {\n\t\t\tlet chartObj = $('DataExtraBdr').first().json.chart;\n\t\t\treturn encodeURIComponent(JSON.stringify(chartObj))})()\n\t\t\t}}\" alt=\"Gráfico Qualificações\">\n            </noscript>\n            <script>\n\t      {\n          const dataSales = JSON.parse(`{{ JSON.stringify($('DataExtraBdr').last().json.time_stats) }}`);\n\t\t  const labels = dataSales.map(e => e.date.slice(5));\n\t\t  \n          const datasets = [\n    {\n      label: 'Interações',\n      data: dataSales.map(e => e.total_interactions),\n      borderColor: \"#AA00AA\",\n      backgroundColor: '#FF0000',\n      yAxisID: 'ySalesInteracoes',\n    },\n    {\n      label: 'Conversas Novas',\n      data: dataSales.map(e => e.total_conversations_created),\n      borderColor: \"#00FF00\",\n      backgroundColor: '#00FF00',\n      yAxisID: 'ySalesConversas',\n    },\n    {\n      label: 'Conversas Ativas',\n      data: dataSales.map(e => e.active_conversations),\n      borderColor: \"#0000FF\",\n      backgroundColor: '#0000FF',\n      yAxisID: 'ySalesConversas',\n    },\n  ];\n         \n\t\t  const chartInteracaoVendasContext = chartInteracaoVendas.getContext('2d')\n          function getAspectRatio() {\n            if (window.innerWidth < 650) {\n                return 15.0/20;\n            } else if (window.innerWidth < 900) {\n                return 15.0/18; \n            } else if (window.innerWidth < 1200) {\n                return 15.0/15; \n            } else if (window.innerWidth < 1400) {\n                return 15.0/12; \n            } else if (window.innerWidth < 1800) {\n                return 15.0/11; \n            } else {\n                return 15.0/10; \n            }\n        }\n        chartInteracaoVendas.parentElement.style.aspectRatio = getAspectRatio();\n\t\t  const interacaoChart = new Chart(chartInteracaoVendasContext, {\n              type: 'line',\n              data: {\n\t\t\t      labels: labels,\n\t\t\t      datasets: datasets\n              },\n              options: {\n                responsive: true,\n                aspectRatio: getAspectRatio(), // width per height\n                scales: {\n                  ySalesInteracoes: {\n                    \n                    type: 'linear',\n                    display: true,\n                    position: 'right',\n                    title: {\n                        display: true,\n                        text: 'Interações',\n                        font: {\n                            size: 12,\n                            weight: 'bold'\n                        }\n                    }\n                  },\n                  ySalesConversas: {\n                    \n                    type: 'linear',\n                    display: true,\n                    position: 'left',\n                    title: {\n                        display: true,\n                        text: 'Conversas',\n                        font: {\n                            size: 12,\n                            weight: 'bold'\n                        }\n                    },\n                    // grid line settings\n                    grid: {\n                      drawOnChartArea: false, // only want the grid lines for one axis to show up\n                    },\n                  },\n                }\n              }\n\t\t  });\n            window.addEventListener('resize', function() {\n              chartInteracaoVendas.parentElement.style.aspectRatio = getAspectRatio();\n              interacaoChart.update();\n            });\n\t      }\n            </script>\n          </div>\n        </div>\n        </section>\n  \n          \n        <section id='detalhamentoQualificacao'>\n           <div class=\"section-subtitle\" style=\"margin-top: 25px;\">\n                📊 Detalhamento Qualificação\n            </div>\n            \n            <div class=\"metrics-grid\">\n                <div class=\"metric-card\"\n                  title='Leads que foram transferidos para o time de vendas'>\n                  <div class=\"metric-label\">TEMPO MÉDIO QUALI</div>\n                  <div class=\"metric-value\">\n                      {{ $('DataExtraBdr').first().json.avg_qualifying_time_seconds.formatPtBr }}\n                    </div>\n                </div>\n                \n                <div class=\"metric-card\"\n                  title='Leads que foram transferidos para o time de vendas'>\n                  <div class=\"metric-label\">MÉDIA DE INTERAÇÔES QUALI</div>\n                  <div class=\"metric-value\">\n                      {{ $('DataExtraBdr').first().json.qualified_avg_interactions.formatPtBr }}\n                    </div>\n                  <div class=\"metric-subtitle \">media geral: {{ $('DataExtraBdr').first().json.avg_interactions.formatPtBr }}</div>\n                </div>\n                \n                \n          </div> <!-- metrics-grid  -->\n         </section>\n         \n        <section id='metricasAtendimentoVendas' >\n            <header id='vendedores-title'>\n                <h3 class=\"section-title\" style=\"margin-top: 15px;\">\n                     Analise Time Vendas\n                <span class='section-subtitle'>Periodo: {{ $('MessagesDataBdr').first().json.period_action.period_short }}</span>\n                 </h3> \n            </header>  \n            <div class=\"metrics-grid\">\n                <div class=\"metric-card\"\n                  title='Total de leads transferidos para o time de vendas'>\n              <div class=\"metric-label\">QUALIFICADOS</div>\n                    <div class=\"metric-value\">\n                      {{ $('DataExtraBdr').last().json.total_conversations.formatPtBr }}\n                    </div>\n                </div>\n                <div class=\"metric-card\"\n                     title=\"Total de leads engajados, aqueles que responderam ao menos uma vez ao nosso agente sdr\">\n                  <div class=\"metric-label\">ENGAJADOS</div>\n                  <div class=\"metric-value\">\n                      {{ $('DataExtraBdr').last().json.engaged_leads.formatPtBr }}\n                    </div>\n                    <div class=\"progress-container\">\n                        <div class=\"progress-bar\">\n                            <div class=\"progress-fill info\" style=\"width:  {{ $('DataExtraBdr').last().json.percent_engaged_of_total_conversations.number }}%\"></div>\n                        </div>\n                        <div class=\"progress-label\">  {{ $('DataExtraBdr').last().json.percent_engaged_of_total_conversations.formatPtBr }}% dos leads atendidos</div>\n                    </div>\n                    \n                </div>\n\n               \n                \n                <div class=\"metric-card\"\n                  title='Total de links enviados para os leads durante o atendimento sdr'>\n                  <div class=\"metric-label\">ENVIOS DE LINK</div>\n                  <div class=\"metric-value\">\n                      {{ $('DataExtraBdr').last().json.total_sent_links.formatPtBr}}\n                    </div>\n                  <div class=\"progress-container\">\n                        <div class=\"progress-bar\">\n                            <div class=\"progress-fill info\" style=\"width:  {{ $('DataExtraBdr').last().json.percent_sent_links_of_engaged_leads.number }}%\"></div>\n                        </div>\n                        <div class=\"progress-label\">  {{ $('DataExtraBdr').last().json.percent_sent_links_of_engaged_leads.formatPtBr }}% dos leads engajados</div>\n                    </div>\n                  \n                </div>\n\n\n                <div class=\"metric-card\"\n                  title='Total de leads que converteram com o time de vendas'>\n                    <div class=\"metric-label\">CONVERSÕES</div>\n              \n                    <div class=\"metric-value\">-</div>\n                    <div class=\"metric-subtitle ${cssClass}\">-</div>\n                    \n                </div>\n\n              <div class=\"metric-card\"\n                   title='Proporção de leads convertidos por leads atendidos'>\n                   \n                    <div class=\"metric-label\">TAXA DE CONVERSÃO</div>\n                    \n                    <div class=\"metric-value\">-</div>\n                    <div class=\"metric-subtitle ${cssClass}\">-</div>\n                    \n                </div>\n            \n             <div class=\"metric-card\"\n                  title=\"Vendedor não respondeu o primeiro turno de interação do usuário do período atual\">\n                    <div class=\"metric-label\">SEM 1ª RESPOSTA VENDEDOR</div>\n                    <div class=\"metric-value\">{{ $('DataExtraBdr').last().json.agent_count_missed_first_response.formatPtBr }} </div>\n                    <div class=\"progress-container\">\n                        <div class=\"progress-bar\">\n                            <div class=\"progress-fill info\" style=\"width:  {{ $('DataExtraBdr').last().json.percent_agent_missed_first_response_of_total_conversations.number }}%\"></div>\n                        </div>\n                        <div class=\"progress-label\">  {{ $('DataExtraBdr').last().json.percent_agent_missed_first_response_of_total_conversations.formatPtBr }}% dos leads atendidos</div>\n                    </div>\n                </div>\n              <div class=\"metric-card\"\n                  title=\"Vendedor não respondeu o primeiro turno de interação do usuário do período atual\">\n                    <div class=\"metric-label\">SEM 1ª RESPOSTA LEAD</div>\n                    <div class=\"metric-value\">{{ $('DataExtraBdr').last().json.lead_count_missed_first_response.formatPtBr }} </div>\n                    <div class=\"progress-container\">\n                        <div class=\"progress-bar\">\n                            <div class=\"progress-fill info\" style=\"width:  {{ $('DataExtraBdr').last().json.percent_lead_missed_first_response_of_total_conversations.number }}%\"></div>\n                        </div>\n                        <div class=\"progress-label\">  {{ $('DataExtraBdr').last().json.percent_lead_missed_first_response_of_total_conversations.formatPtBr }}% dos leads atendidos</div>\n                    </div>\n                </div>\n                <div class=\"metric-card\"\n                   title='Leads que foram transferidos para o time de vendas'>\n                   <div class=\"metric-label\">MÉDIA DE INTERAÇÔES</div>\n                   <div class=\"metric-value\">\n                      {{ $('DataExtraBdr').last().json.avg_interactions.formatPtBr }}\n                    </div>\n                </div>\n             </div>\n            </section>\n\n        <section id='graficoTemplates'>\n          <div class='section-subtitle'>Envio De Templates</div>\n          <div class=\"chart-container\" style='position: relative; width:100%'>\n           \n            <canvas id='chartTemplates'></canvas>\n            <noscript>\n              <img src=\"https://quickchart.io/chart?c={{\n\t\t\t(() => {\n\t\t\tlet chartObj = $('DataExtraBdr').first().json.chart;\n\t\t\treturn encodeURIComponent(JSON.stringify(chartObj))})()\n\t\t\t}}\" alt=\"Gráfico Templates\">\n            </noscript>\n            <script>\n\t      {\n          \n\t\t  \n\t\t  const labels = ['Template1', 'Template2', 'Template3'];\n\t\t  const data = [ \n            {{ $('DataExtraBdr').first().json.total_template1.number }}, \n            {{ $('DataExtraBdr').first().json.total_template2.number }},\n            {{ $('DataExtraBdr').first().json.total_template3.number }}\n          ];\n\t\t  const chartTemplatesContext = chartTemplates.getContext('2d')\n          function getAspectRatio() {\n            if (window.innerWidth < 650) {\n                return 15.0/16;\n            } else if (window.innerWidth < 900) {\n                return 15.0/12; \n            } else if (window.innerWidth < 1200) {\n                return 15.0/8; \n            } else if (window.innerWidth < 1400) {\n                return 15.0/8; \n            } else if (window.innerWidth < 1800) {\n                return 15.0/7; \n            } else {\n                return 15.0/6; \n            }\n        }\n        chartTemplates.parentElement.style.aspectRatio = getAspectRatio();\n\t\t  const templatesChart = new Chart(chartTemplatesContext, {\n              type: 'bar',\n              data: {\n\t\t\t      labels: labels,\n\t\t\t      datasets: [{\n                      label: 'Envio de templates',\n                      data: data,\n                      backgroundColor: 'rgba(110, 69, 226, 0.7)',\n                      borderColor: 'rgb(110, 69, 226)',\n                      borderWidth: 2,\n                      borderRadius: 6\n\t\t\t      }]\n              },\n              options: {      \n                   animation: {\n                        onComplete: function() {\n                            const ctx = this.ctx;\n                            ctx.save();\n                            ctx.font = 'bold 1.5em Arial';\n                            ctx.fillStyle = getComputedStyle(document.body).getPropertyValue('--text-muted');\n                            ctx.textAlign = 'center';\n                            \n                            this.data.datasets.forEach((dataset, datasetIndex) => {\n                                const meta = this.getDatasetMeta(datasetIndex);\n                                meta.data.forEach((bar, index) => {\n                                    const dataValue = dataset.data[index].toLocaleString('pt-br', {\n                                            minimumFractionDigits: 0,\n                                            maximumFractionDigits: 0\n                                    });\n                                    ctx.fillText(dataValue, bar.x, bar.y - 20);\n                                });\n                            });\n                            ctx.restore();\n                        }\n                    },\n                  responsive: true,\n                  aspectRatio: getAspectRatio(), // width per height\n                  scales: {\n                      y: {\n                          beginAtZero: true,\n                          title: {\n                              display: true,\n                              text: 'Leads'\n                          }\n                      }\n                  }\n              } //options\n            \n\t\t  });\n            window.addEventListener('resize', function() {\n              chartTemplates.parentElement.style.aspectRatio = getAspectRatio();\n              templatesChart.update();\n            });\n\t      }\n            </script>\n          </div>\n        </section> \n         \n        <section id='sumarioFinalIa' class=\"alert-box {{ $('AiAnalysisGeneraReport').first().json.output.cssClass }}\">\n                <div class=\"alert-header\">\n                  <span class=\"alert-icon\">\n          \t\t  \n\t\t           {{ (() => {\n                          if($('AiAnalysisGeneraReport').first().json.output.cssClass == 'danger') {\n                              return '⚠️';\n                          } else if($('AiAnalysisGeneraReport').first().json.output.cssClass == 'warning') {\n                              return '📊';\n                          } else {\n                              return '✅';\n                          }\n                      })()\n                    }}  \n                  </span>\n                    <h3 class=\"alert-title\">Sumário</h3>\n                </div>\n                \n                <div class=\"alert-content\">\n                    <p class=\"summary-text\">\n                      <strong>Analise:</strong>\n                      {{ $('AiAnalysisGeneraReport').first().json.output.summary }}</p>\n                    {{ (() => {\n\t\t                if ($('AiAnalysisGeneraReport').first().json.output.recommendations) {\n\t\t                    const recomendation = $('AiAnalysisGeneraReport').first().json.output.recommendations\n\t\t                    return `<div class=\"recommendations-section\">\n                                         <strong>Recomendações:</strong>\n                                         <p>${recomendation}</p>\n                                    </div>`\n\t\t                }\n\t\t                return ``\n\t\t               })()\n\t\t            }}\n                </div>\n            </section>\n\n            \n      </article> <!-- /content -->\n    </div> <!-- /page -->\n</section>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1248,16],"id":"8992be94-c6c5-4790-b9b9-234d20f5991b","name":"HTML","executeOnce":false},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n  <head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <script src=\"https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0/dist/chartjs-plugin-datalabels.min.js\"></script>\n    <title>Análise IA SDR DomainAssistant - Demo Events Co</title>\n    <style>\n      * {\n          margin: 0;\n          padding: 0;\n          box-sizing: border-box;\n      }\n\n      :root {\n          --background: #1A1D3A;\n          --background-dark: #151830;\n          --background-light: #20233E;\n\n          --surface: #252842;\n          --surface-dark: #181835;\n          --surface-light: #2D2F4F;\n\n          --primary: #3B82F0;\n          --primary-dark: #3074F0;\n          --primary-light: #4392FF;\n\n          --danger: #EF4444;\n          --warning: #F59E0B;\n          --success: #34D399;\n\n          --gradient-header: linear-gradient(135deg, #6B6FE8 0%, #8F6FE8 100%);\n          --gradient-secondary: linear-gradient(135deg,\n                                                var(--primary) 0%,\n                                                var(--primary-dark) 100%);\n          --on-background: #E5E7EB;\n          --on-surface: #D1D5DB;\n          --on-surface-accent: #60A5FA;\n          --text-muted: rgb(from var(--on-background) r g b / 0.2);\n          --text-muted-strong: rgb(from var(--on-background) r g b / 0.7);\n\n          --header-title: white;\n          --header-subtitle: rgb(from var(--header-title) r g b / 0.95);\n          --header-p: rgb(from var(--header-title) r g b / 0.85);\n      }\n\n      html {\n          font-size: clamp(12px, 16px, 20px);\n      }\n\n      body {\n          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;\n          background: var(--background);\n          color: var(--on-background);\n          line-height: 1.6;\n      }\n\n      .page {\n          max-width: 80vw;\n          margin: 0 auto;\n          background: var(--background);\n          page-break-after: always;\n      }\n\n      body > header {\n          padding: 48px;\n      }\n\n      .header {\n          background: var(--gradient-header);\n          max-width: 800px;\n          padding: 24px;\n          border-radius: 16px;\n          margin: 24px 24px 0 24px;\n          margin: auto;\n      }\n\n      .header-icon {\n          font-size: 2rem;\n          margin-bottom: 8px;\n      }\n\n      .header h1 {\n          font-size: 2rem;\n          font-weight: 700;\n          color: var(--header-title);\n          margin: 8px auto 0 auto;\n      }\n\n      .header p {\n          font-size: 0.8em;\n          font-weight: 200;\n          color: var(--header-p);\n          font-style: italic;\n      }\n\n      .header .subtitle {\n          font-size: 1rem;\n          color: var(--header-subtitle);\n          margin-bottom: 6px;\n      }\n\n      .header .period {\n          font-size: 0.75rem;\n          color: var(--header-p);\n      }\n\n      .methodology {\n          max-width: 80vw;\n          background: #4a3010;\n          border-left: 6px solid #f59e0b;\n          padding: 16px 20px;\n          margin: 32px auto;\n          border-radius: 6px;\n      }\n\n      .methodology-icon {\n          font-size: 1rem;\n          margin-right: 6px;\n      }\n\n      .methodology strong {\n          color: #fbbf24;\n          font-weight: 700;\n          font-size: 0.75rem;\n      }\n\n      .methodology-text {\n          font-size: 0.75rem;\n          color: #fde68a;\n          line-height: 1.65;\n          margin-top: 6px;\n      }\n\n      .content {\n          padding: 32px 48px;\n      }\n\n      .content > section {\n        margin-top: 80px;\n      }\n\n      .section-title {\n          font-size: 1.5rem;\n          font-weight: 700;\n          color: #fbbf24;\n          margin: 16px 0 8px 0;\n          display: flex;\n          align-items: center;\n          gap: 8px;\n          border-bottom: 2px solid #2d3348;\n          padding-bottom: 8px;\n      }\n\n      .section-subtitle {\n          font-size: 1rem;\n          font-weight: 600;\n          color: #93c5fd;\n      }\n\n\n\n      /* .metrics-grid {\n          display: grid;\n          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)));\n          gap: 16px;\n          margin: 20px 0;\n      } */\n\n      .metrics-grid {\n          display: grid;\n          grid-template-columns: repeat(auto-fill,minmax(250px,1fr));\n          gap: 1rem;\n          margin-top: 1.5rem;\n      }\n\n      .metric-card {\n          background: var(--surface);\n          border-radius: 10px;\n          padding: 20px;\n          position: relative;\n      }\n\n      .metric-card:hover {\n    \t  transform: translateY(-2px);\n          box-shadow: 0 8px 25px rgb(from var(--on-surface-accent) r g b / 0.4);\n\t      border-color: rgb(from var(--on-surface-accent) r g b / 0.2);\n      }\n\n      /*\n.metric-card:hover::after {\n    content: attr(title);\n    position: absolute;\n    bottom: 100%;\n    left: 50%;\n    transform: translateX(-50%);\n    background: var(--background-dark);\n    color: #e5e7eb;\n    padding: 8px 12px;\n    border-radius: 6px;\n    font-size: 0.75rem;\n    white-space: nowrap;\n    border: 1px solid #4c5fd5;\n    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);\n    z-index: 1000;\n    margin-bottom: 8px;\n    font-weight: normal;\n    letter-spacing: normal;\n    text-transform: none;\n    pointer-events: none;\n      }\n\n.metric-card:hover::before {\n    content: '';\n    position: absolute;\n    bottom: 100%;\n    left: 50%;\n    transform: translateX(-50%);\n    border-width: 6px;\n    border-style: solid;\n    border-color: #4c5fd5 transparent transparent transparent;\n    margin-bottom: 2px;\n    z-index: 1000;\n    pointer-events: none;\n}\n*/\n\n\n      .metric-label {\n          font-size: 0.75rem;\n          text-transform: uppercase;\n          color: var(--on-surface);\n          letter-spacing: 0.5px;\n          margin-bottom: 8px;\n      }\n\n      .metric-value {\n          font-size: 2rem;\n          font-weight: 800;\n          color: var(--on-surface-accent);\n          line-height: 1;\n      }\n\n      .metric-subtitle {\n          font-size: 0.75rem;\n          color: #9ca3af;\n          margin-top: 6px;\n      }\n\n      .alert-box {\n          background: var(--surface);\n          border-left: 4px solid var(--on-surface-accent);\n          border-radius: 8px;\n          margin: 24px 0;\n          overflow: hidden;\n          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);\n      }\n\n      .alert-header {\n          display: flex;\n          align-items: baseline;\n          gap: 10px;\n          padding: 16px 20px;\n          background: rgb(from var(--primary) r g b / 0.3);\n          border-bottom: 1px solid rgba(255, 255, 255, 0.1);\n          justify-content: center;\n      }\n\n      .alert-icon {\n          font-size: 1.25rem;\n          line-height: 1;\n      }\n\n      .alert-title {\n          font-size: 1rem;\n          font-weight: 600;\n          margin: 0;\n          color: #e5e7eb;\n          text-transform: uppercase;\n          letter-spacing: 0.5px;\n      }\n\n      .alert-content {\n          padding: 20px;\n      }\n\n      /* Progress Bar */\n      .progress-container {\n          margin-top: 8px;\n      }\n        \n      .progress-bar {\n          height: 6px;\n          background: var(--background);\n          border-radius: 3px;\n          overflow: hidden;\n      }\n        \n      .progress-fill {\n          height: 100%;\n          border-radius: 3px;\n          transition: width 0.5s ease;\n      }\n        \n      .progress-fill.info { background: var(--on-surface-accent); }\n      .progress-fill.green { background: green; }\n      .progress-fill.yellow { background: yellow }\n      .progress-fill.red { background: red; }\n        \n      .progress-label {\n          font-size: 0.75em;\n          color: var(--on-surface);\n          margin-top: 4px;\n      }\n\n      .summary-text strong {\n          display: block;\n          font-size: 0.75rem;\n          color: #fbbf24;\n          margin-bottom: 8px;\n          text-transform: uppercase;\n          letter-spacing: 0.5px;\n      }\n\n      .summary-text {\n          font-size: 1rem;\n          line-height: 1.6;\n          color: var(--on-surface);\n          margin-bottom: 16px;\n      }\n\n      .recommendations-section {\n          margin-top: 16px;\n          padding-top: 16px;\n          border-top: 1px solid rgba(255, 255, 255, 0.1);\n      }\n\n      .recommendations-section strong {\n          display: block;\n          font-size: 0.75rem;\n          color: #fbbf24;\n          margin-bottom: 8px;\n          text-transform: uppercase;\n          letter-spacing: 0.5px;\n      }\n\n      .recommendations-section p {\n          font-size: 1rem;\n          line-height: 1.6;\n          color: var(--on-surface);\n          margin: 0;\n      }\n\n      /* Danger/Warning Variant */\n      .alert-box.danger {\n          border-left-color: var(--danger);\n      }\n\n      .alert-box.danger .alert-header {\n          background: rgb(from var(--danger) r g b / 0.15);\n      }\n\n      .alert-box.danger .alert-title {\n          color: var(--danger);\n      }\n\n      .alert-box.warning {\n          border-left-color: var(--warning);\n      }\n\n      .alert-box.warning .alert-header {\n          background: rgb(from var(--warning) r g b / 0.15);\n      }\n\n      .alert-box.warning .alert-title {\n          color: var(--warning);\n      }\n\n      .alert-box.success {\n          border-left-color: var(--success);\n      }\n\n      .alert-box.success .alert-header {\n          background: rgb(from var(--success) r g b / 0.15);\n      }\n\n      .alert-box.success .alert-title {\n          color: var(--success);\n      }\n\n      .alert-title {\n          font-size: 1rem;\n          font-weight: 700;\n          margin-bottom: 8px;\n          display: flex;\n          align-items: center;\n          gap: 8px;\n      }\n\n      .alert-text {\n          font-size: 0.75rem;\n          line-height: 1.7;\n          color: var(--on-surface);\n      }\n\n      .alert-text ul {\n          margin: 8px 0 0 16px;\n      }\n\n      .alert-text li {\n          margin: 6px 0;\n      }\n\n      .text-warning {\n          color: var(--warning);\n      }\n\n      .text-danger {\n          color: var(--danger);\n      }\n\n      .text-success {\n          color: var(--success);\n      }\n\n      .metrics-table {\n          width: 100%;\n          border-collapse: collapse;\n          margin: 16px 0;\n          background: var(--surface);\n          border-radius: 8px;\n          overflow: hidden;\n      }\n\n      .metrics-table thead {\n          background: var(--gradient-secondary);\n      }\n\n      .metrics-table th {\n          padding: 12px;\n          text-align: left;\n          font-size: 0.75rem;\n          font-weight: 700;\n          text-transform: uppercase;\n          color: white;\n          letter-spacing: 0.5px;\n          overflow-wrap: word-wrap;\n      }\n\n      .metrics-table td {\n          padding: 12px;\n          border-bottom: 1px solid var(--surface-light);\n          font-size: 0.75rem;\n          color: var(--on-surface);\n      }\n\n      .metrics-table tbody tr:hover {\n          background: var(--surface-dark);\n      }\n\n      .metrics-table tbody tr:last-child td {\n          border-bottom: none;\n      }\n\n      .metrics-table tbody .text-warning {\n          color: var(--warning);\n      }\n\n      .metrics-table tbody .text-danger {\n          color: var(--danger);\n      }\n\n      .metrics-table tbody .text-success {\n          color: var(--success);\n      }\n\n      .chart-container {\n          max-width: 80vw;\n          width: 100%;\n          margin: 16px auto;\n          background: var(--surface);\n          border-radius: 8px;\n          overflow: hidden;\n          padding: 12px;\n      }\n\n      .chart-container img {\n          width: 100%;\n          height: auto;\n          display: block;\n      }\n\n      body footer {\n          padding: 24px 48px;\n          text-align: center;\n          color: var(--text-muted);\n          font-size: 0.75rem;\n          line-height: 1.6;\n          border-top: solid 1px var(--surface);\n      }\n\n      body footer strong {\n          color: var(--text-muted-strong);\n          font-weight: 700;\n      }\n\n      @media screen and (max-width: 900px) {\n       .metrics-table th  {\n           padding: 8px;\n        }\n      }\n\n      @media screen and (max-width: 800px) {\n       .metrics-table th  {\n           padding: 6px;\n           font-size: 0.675rem;\n        }\n      }\n      \n      @media screen and (max-width: 700px) {\n       .metrics-table th  {\n           padding: 4px;\n           overflow-wrap: anywhere;\n        }\n      }\n\n/* @media print {\n      body {\n      background: white;\n      }\n\n      .page {\n      margin: 0;\n      box-shadow: none;\n      }\n} */\n\n    </style>\n  </head>\n  <body>\n\n    <header>\n      <div class=\"header\">\n\n        <h1> <span class=\"header-icon\">🤖</span> Análise IA SDR - DomainAssistant</h1>\n        <header id='sub-header'>\n          <h3 class=\"section-title\" \">\n            Navio {{ $('Code in JavaScript').first().json.navio }} \n            <span class=\"section-subtitle\">\n            Ação {{ $('Code in JavaScript').first().json.campanha }} \n            \n            </span>\n          </h3>\n          \n          \n        </header>  \n        \n        \n        \n        <p>atualizado em: {{ $now.format('dd/MM/yyyy HH:mm') }}</p>\n      </div>\n\n      <!-- <div class=\"methodology\">\n           <div>\n             <span class=\"methodology-icon\">🔒</span>\n             <strong>Metodologia:</strong>\n           </div>\n           <p class=\"methodology-text\">\n             Análise completa do desempenho da IA SDR \"DomainAssistant\" no primeiro atendimento e qualificação de leads via WhatsApp Business API. Métricas calculadas incluem tempo de resposta, taxa de engajamento e efetividade na coleta de dados para handoff aos vendedores humanos.\n           </p>\n      </div> -->\n    </header>\n\n    \n\n    {{ $('HTML').first().json.html }}\n\n    <footer>\n      <div>\n        <strong>Relatório de Desempenho da IA SDR DomainAssistant</strong> · Gerado pelo sistema de analytics interno\n      </div>\n      <div>\n        Dados processados em: {{ $now.format('dd/MM/yyyy HH:mm') }} · Demo Events Co Cruzeiros\n      </div>\n    </footer>\n  </body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1056,16],"id":"cb63b92b-020e-4ea3-8166-f51793158b05","name":"Report2","executeOnce":false},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// variaveis de nós anteriores\nconst dados = $json;\n\nfunction percentOfNumber(part, total) {\n  return ((100 * part) / total);\n}\n\nfunction formatNumber(number, minPrecision = 1, maxPrecision = 2) {\n  number = number ? number : 0;\n  return {number, formatPtBr: number.toLocaleString('pt-br', {\n      minimumFractionDigits: minPrecision,\n      maximumFractionDigits: maxPrecision\n    })\n  };\n}\n\nfunction formatTime(seconds) {\n   \n\n    // Round to handle decimal inputs\n    seconds = Math.round(Number(seconds));\n\n    // Less than 60 seconds\n    if (seconds < 60) {\n        return seconds === 1 ? '1 second' : `${seconds}s`;\n    }\n    \n    // Between 60 seconds and 1 hour (less than 3600 seconds)\n    else if (seconds < 3600) {\n        const minutes = Math.floor(seconds / 60);\n        const remainingSeconds = seconds % 60;\n        \n        if (remainingSeconds === 0) {\n            return minutes === 1 ? '1 minute' : `${minutes} minutes`;\n        } else {\n            const minuteStr = `${minutes}m`;\n            const secondStr = `${remainingSeconds}s`;\n            return `${minuteStr} ${secondStr}`;\n        }\n    }\n    \n    // 1 hour or more\n    else {\n        const hours = Math.floor(seconds / 3600);\n        const remainingMinutes = Math.floor((seconds % 3600) / 60);\n        \n        let result = `${hours}h`;\n        \n        if (remainingMinutes > 0) {\n            const minuteStr = `${remainingMinutes}m`;\n            result += ` ${minuteStr}`;\n        }\n        \n        return result;\n    }\n}\n\n\nconst objectsIgnore = [\n  'bdr_conversation_labels'\n  , 'period_action'\n  , 'time_stats'\n]\nconst formatToTime = [\n  'avg_qualifying_time_seconds'\n  , 'agent_avg_response_time'\n  , 'agent_avg_response_time_norm'\n  , 'agent_avg_first_response_time'\n  , 'agent_avg_first_response_time_norm'\n  , 'lead_avg_response_time'\n  , 'lead_avg_response_time_norm'\n  , 'lead_avg_first_response_time'\n  , 'lead_avg_first_response_time_norm'\n  \n] \n\nconst formatToFloat = [\n  'avg_interactions'\n  , 'qualified_avg_interactions'\n  , 'percent_engaged_of_total_conversations'\n  , 'percent_sent_links_of_engaged_leads'\n  , 'percent_qualified_leads_of_engaged_leads'\n  , 'percent_agent_missed_first_response_of_total_conversations'\n  , 'percent_lead_missed_first_response_of_total_conversations'\n  , 'percent_total_without_interest_of_engaged_leads'\n  \n] \n\nconst formattedMessagesData = {};\nfor (let key in dados) {\n  if (objectsIgnore.includes(key)) {\n    formattedMessagesData[key] = dados[key]\n    continue\n  }\n\n  if (formatToFloat.includes(key)) {\n    formattedMessagesData[key] = dados[key] != null \n      ? formatNumber(Number(dados[key]), 1, 2)\n      : null;\n  } else {\n    formattedMessagesData[key] = dados[key] != null \n      ? formatNumber(Number(dados[key]), 0, 0)\n      : null;\n  }\n\n  if (dados[key] != null \n      && (formatToTime.includes(key)\n  )) {     \n      formattedMessagesData[key].formatPtBr =\n        formatTime(formattedMessagesData[key].number);\n  }\n}\n\nconst bdrLabels = dados.bdr_conversation_labels\nconst bdrLabelsQualificacao = {\n    'baixa qualificacao': 0,\n    'media qualificacao': 0,\n    'alta qualificacao': 0,\n    'sem interesse': 0,\n  }\nif (bdrLabels != null) {\n  \n  for (let i = 0; i < bdrLabels.length; ++i) {\n     const labelCountPair = bdrLabels[i]\n    \n    const labelNorm = labelCountPair.label.replaceAll(\"_\", \" \");\n    \n    if (bdrLabelsQualificacao[labelNorm] != null) {\n      bdrLabelsQualificacao[labelNorm] = labelCountPair.count;\n    } \n  }\n}\n\n\nreturn {\n  ...formattedMessagesData\n  , bdrLabelsQualificacao\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1808,16],"id":"4e4f4b9c-f8ad-4d2b-a8ef-a342273c0a09","name":"DataExtraBdr"},{"parameters":{"operation":"executeQuery","query":"WITH\n\nnavio AS (VALUES('{{ $('Code in JavaScript').first().json.navio }}'))\n, campanha AS (VALUES('{{ $('Code in JavaScript').first().json.campanha.replaceAll(' ', '%') }}'))\n\n,bdr_inboxes AS(\n    SELECT inboxes.id FROM inboxes WHERE inboxes.name LIKE '%BDR%'\n)\n\n,sales_inboxes AS(\n    SELECT inboxes.id FROM inboxes\n        WHERE inboxes.name NOT LIKE '%SDR%'\n            AND inboxes.name NOT LIKE '%BDR%'\n            AND inboxes.name NOT like '%Test%'\n)\n\n,test_contact_id AS(VALUES (42065),(42066),(42067),(42068),(42048),(43637),(43904),(44756),(44757),(49052), (42787))\n\n,active_bdr_contacts AS (\nSELECT\n    contact_id\n\t,contacts.custom_attributes->>'navio'\n\tAS navio\n\t, COALESCE(contacts.custom_attributes->>'acao_bdr', 'Pré Venda (Default)')\n\tAS campanha\nFROM messages \n  JOIN conversations on conversation_id = conversations.id\n  JOIN contacts on conversations.contact_id = contacts.id\nWHERE conversations.inbox_id in (table bdr_inboxes)\n  AND conversations.contact_id not in (table test_contact_id)\n  AND contacts.custom_attributes->>'navio' ILIKE CONCAT('%', CONCAT((table navio), '%'))\n  AND COALESCE(contacts.custom_attributes->>'acao_bdr', 'Pré Venda (Default)') ILIKE CONCAT('%', CONCAT((table campanha), '%'))\n  GROUP BY contact_id, navio, campanha \n)\n\n,active_bdr_sales_conversations AS (\nSELECT\n   navio\n   , campanha\n   , conversations.contact_id\n   , conversations.id\n   AS conversation_id\n   , conversations.inbox_id\n   AS inbox_id\n   , conversations.created_at\n   AS conversation_created_at\n   , display_id\n   , conversations.cached_label_list\n   AS conversation_labels\nFROM conversations\n    INNER JOIN active_bdr_contacts ON active_bdr_contacts.contact_id = conversations.contact_id\nWHERE (conversations.inbox_id IN (table sales_inboxes) OR conversations.inbox_id IN (table bdr_inboxes))\n)\n\n,messages_bdr_sales_conversations AS (\nSELECT\n    active_bdr_sales_conversations.*\n\t, messages.id \n\tAS message_id\n\t, content\n\t, message_type\n\t, messages.created_at\n\tAS message_created_at\n\t, private\n\t, CASE WHEN messages.private AND messages.content LIKE '🧾 RESUMO DA CONVERSA%'\n              THEN  'Contact'\n         ELSE messages.sender_type\n     END AS sender_type\n  , {{ $('Code in JavaScript').item.json.templatesQueryFilters.template1 }}\n  AS has_template1\n  , {{ $('Code in JavaScript').item.json.templatesQueryFilters.template2 }}\n  AS has_template2\n  , {{ $('Code in JavaScript').item.json.templatesQueryFilters.template3 }}\n  AS has_template3\n\t\nFROM active_bdr_sales_conversations\n    INNER JOIN messages\n        ON active_bdr_sales_conversations.conversation_id = messages.conversation_id\n)\n\n, messages_bdr_sales_conversations_with_previous_sender AS (\nSELECT\n    LAST_VALUE(sender_type) \n\t    OVER(PARTITION BY conversation_id \n\t         ORDER BY \n                 CASE WHEN sender_type is not NULL THEN 1 END NULLS FIRST\n\t\t                   , message_created_at ASC\n\t\t\t ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING)\n\tAS previous_sender_type\n\t, *\nFROM messages_bdr_sales_conversations\n)\n\n, messages_bdr_sales_conversations_with_is_interaction_turn AS (\nSELECT \n\t\n\t(CASE\n           WHEN \n\t\t       sender_type IS NOT NULL \n\t\t\t   AND (previous_sender_type != sender_type OR previous_sender_type IS NULL)\n           THEN 1\n           ELSE 0\n       END)::int \n\tAS is_interaction_turn\n\t, *\nFROM messages_bdr_sales_conversations_with_previous_sender\n)\n\n,messages_bdr_sales_conversations_with_interaction_turn AS (\nSELECT\n    (SUM(is_interaction_turn) \n\t    OVER (PARTITION BY conversation_id \n\t\t      ORDER BY message_created_at \n\t\t\t  ROWS UNBOUNDED PRECEDING))::int\n    AS interaction_turn\n\t, *\nFROM messages_bdr_sales_conversations_with_is_interaction_turn AS messages\n)\n\n,interaction_groups AS (\nSELECT\n    MIN(message_created_at) \n\t    FILTER (WHERE sender_type IS NOT NULL) \n\t\tOVER (PARTITION BY conversation_id, interaction_turn) \n\tAS interaction_turn_begin_time\n\n    , MAX(message_created_at) \n\t      FILTER (WHERE sender_type IS NOT NULL) \n\t\t  OVER (PARTITION BY conversation_id, interaction_turn)\n    AS interaction_turn_end_time\n\n    , ((interaction_turn) / 2)::int \n    AS interactions\n    , MAX((interaction_turn / 2)::int) OVER (PARTITION BY conversation_id)\n    AS last_interaction\n\n    , FIRST_VALUE(message_id) \n\t    OVER (PARTITION BY conversation_id, interaction_turn\n              ORDER BY CASE WHEN interaction_turn > 0 AND sender_type IS NOT NULL THEN message_created_at END NULLS LAST\n\t          ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING)\n    AS interaction_first_message_id\n\t, (conversation_labels IS NOT NULL AND conversation_labels LIKE '%sem_interesse%') \n\tAS without_interest\n\t, MAX(interaction_turn)\n        FILTER (WHERE sender_type IS NOT NULL)\n        OVER(PARTITION BY conversation_id)\n     AS total_interaction_turns\n     , CASE WHEN inbox_id IN (table bdr_inboxes) \n\t       THEN 'BDR'\n\t\t   ELSE 'SALES'\n\t  END\n\tAS inbox_group\n    , *\nFROM messages_bdr_sales_conversations_with_interaction_turn\nORDER BY conversation_id, message_created_at\n)\n\n,interaction_groups_with_previous_interaction_end_time AS (\nSELECT\n    *\n    , LAG(interaction_turn_end_time)\n        OVER (PARTITION BY conversation_id ORDER BY message_created_at ASC)\n    AS previous_interaction_end_time\nFROM interaction_groups\n)\n\n,interaction_groups_with_response_time AS (\nSELECT\n    CASE\n        WHEN is_interaction_turn = 1\n        THEN EXTRACT(EPOCH FROM (interaction_turn_begin_time\n                                  - previous_interaction_end_time))\n    END \n\tAS response_time_seconds\n    , *\nFROM interaction_groups_with_previous_interaction_end_time\n)\n\n,conversations_stats AS (\nSELECT\n     contact_id\n    , conversation_id\n    , conversation_created_at\n    , inbox_id\n    , total_interaction_turns\n\t, conversation_labels\n    , inbox_group\n\t, MAX(interactions) \n\tAS total_interactions\n\t, (COUNT(1) FILTER (WHERE without_interest)) > 0 \n\tAS without_interest\n    , COUNT(message_id)\n\t    FILTER(WHERE sender_type IS NOT NULL)\n\tAS total_messages_excluding_labels\n    , SUM(response_time_seconds)\n\tAS sum_response_time_seconds\n\t, COUNT(response_time_seconds)\n\tAS count_response_time_seconds\n\t, MAX(message_created_at)\n\tAS max_mesages_created_at\n    , COUNT(has_template1) FILTER(WHERE has_template1)\n    AS total_template1\n    , COUNT(has_template2) FILTER(WHERE has_template2)\n    AS total_template2\n    , COUNT(has_template3) FILTER(WHERE has_template3)\n    AS total_template3\n\t\n\t-- AGENT    \n\t, COUNT(message_id) \n\t    FILTER (WHERE sender_type = 'User')\n\tAS agent_total_messages\n\t    -- RESPONSE_TIME\n\t, SUM(response_time_seconds)\n\t    FILTER(WHERE sender_type = 'User')\n\tAS agent_sum_response_time_seconds\n\t, COUNT(response_time_seconds)\n\t    FILTER(WHERE sender_type = 'User')\n\tAS agent_count_response_time_seconds\n\t, SUM(response_time_seconds)\n\t    FILTER(WHERE sender_type = 'User'\n\t\t       AND response_time_seconds < (60 * 60))\n\tAS agent_sum_response_time_seconds_norm\n\t, COUNT(response_time_seconds)\n\t    FILTER(WHERE sender_type = 'User'\n\t\t       AND response_time_seconds < (60 * 60))\n\tAS agent_count_response_time_seconds_norm\n\t    --FIRST_RESPONSE_TIME\n\t, SUM(response_time_seconds)\n\t    FILTER(WHERE sender_type = 'User'\n\t\t       AND (interaction_turn = 2 OR interaction_turn = 3))\n\tAS agent_sum_first_response_time_seconds\n\t, COUNT(response_time_seconds)\n\t    FILTER(WHERE sender_type = 'User'\n\t\t       AND (interaction_turn = 2 OR interaction_turn = 3))\n\tAS agent_count_first_response_time_seconds\n    , SUM(response_time_seconds)\n\t    FILTER(WHERE sender_type = 'User'\n\t\t       AND (interaction_turn = 2 OR interaction_turn = 3)\n\t\t       AND response_time_seconds < (30 * 60))\n\tAS agent_sum_first_response_time_seconds_norm\n\t, COUNT(response_time_seconds)\n\t    FILTER(WHERE sender_type = 'User'\n\t\t       AND (interaction_turn = 2 OR interaction_turn = 3)\n\t\t       AND response_time_seconds < (30 * 60))\n\tAS agent_count_first_response_time_seconds_norm\n    -- LEAD\n\t, COUNT(message_id) \n\t    FILTER (WHERE sender_type = 'Contact')\n\tAS lead_total_messages\n\t    --RESPONSE_TIME\n\t, SUM(response_time_seconds)\n\t    FILTER(WHERE sender_type = 'Contact')\n\tAS lead_sum_response_time_seconds\n\t, COUNT(response_time_seconds)\n\t    FILTER(WHERE sender_type = 'Contact')\n\tAS lead_count_response_time_seconds\n\t, SUM(response_time_seconds)\n\t    FILTER(WHERE sender_type = 'Contact'\n\t\t       AND response_time_seconds < (60 * 60))\n\tAS lead_sum_response_time_seconds_norm\n\t, COUNT(response_time_seconds)\n\t    FILTER(WHERE sender_type = 'Contact'\n\t\t       AND response_time_seconds < (60 * 60))\n\tAS lead_count_response_time_seconds_norm\n\t    --FIRST_RESPONSE_TIME\n\t, SUM(response_time_seconds)\n\t    FILTER(WHERE sender_type = 'Contact'\n\t\t       AND (interaction_turn = 2 OR interaction_turn = 3))\n\tAS lead_sum_first_response_time_seconds\n\t, COUNT(response_time_seconds)\n\t    FILTER(WHERE sender_type = 'Contact'\n\t\t       AND (interaction_turn = 2 OR interaction_turn = 3))\n\tAS lead_count_first_response_time_seconds\n    , SUM(response_time_seconds)\n\t    FILTER(WHERE sender_type = 'Contact'\n\t\t       AND (interaction_turn = 2 OR interaction_turn = 3)\n\t\t       AND response_time_seconds < (30 * 60))\n\tAS lead_sum_first_response_time_seconds_norm\n\t, COUNT(response_time_seconds)\n\t    FILTER(WHERE sender_type = 'Contact'\n\t\t       AND (interaction_turn = 2 OR interaction_turn = 3)\n\t\t       AND response_time_seconds < (30 * 60))\n\tAS lead_count_first_response_time_seconds_norm\n\n    , COUNT(is_interaction_turn) \n\t    FILTER(WHERE sender_type = 'Contact'\n\t\t           AND is_interaction_turn = 1\n                   AND ((interaction_turn = 1 AND total_interaction_turns = 1)\n\t\t\t\t         OR(interaction_turn = 2 AND total_interaction_turns = 2))\n                   AND NOT without_interest) \n\tAS agent_count_missed_first_response\n\n\t, COUNT(is_interaction_turn) \n\t    FILTER(WHERE sender_type = 'User'\n\t\t           AND is_interaction_turn = 1\n                   AND ((interaction_turn = 1 AND total_interaction_turns = 1)\n\t\t\t\t         OR(interaction_turn = 2 AND total_interaction_turns = 2))\n                   AND NOT without_interest) \n\tAS lead_count_missed_first_response\n\n    , bool_or(inbox_id IN (TABLE bdr_inboxes))\n            OVER (PARTITION BY contact_id)\n        AND bool_or(inbox_id IN (TABLE sales_inboxes))\n            OVER (PARTITION BY contact_id)\n    AS is_qualified_lead\n\t, MIN(CASE WHEN content ILIKE '%https://reservas.demo-events.com.br/%' THEN content END) \n\tas sent_link\n    , jsonb_agg(to_jsonb(interaction_groups_with_response_time) \n\t              ORDER BY message_created_at) \n\tAS conversation_messages\n\t, MIN(conversation_created_at)\n        FILTER (WHERE inbox_id IN (TABLE bdr_inboxes))\n        OVER (PARTITION BY contact_id)\n    AS bdr_conversation_created_at\n    , MIN(conversation_created_at)\n        FILTER (WHERE inbox_id IN (TABLE sales_inboxes))\n        OVER (PARTITION BY contact_id)\n    AS sales_conversation_created_at\n\nFROM interaction_groups_with_response_time\nGROUP BY \n\tconversation_id\n\t    , display_id\n\t\t, conversation_created_at\n\t\t, inbox_id\n\t\t, contact_id\n\t\t, total_interaction_turns\n\t\t, conversation_labels\n        , inbox_group\n)\n\n, conversations_stats_with_qualifying_time AS (\n    SELECT \n\t*\n\t, EXTRACT(EPOCH FROM (sales_conversation_created_at - bdr_conversation_created_at)) \n\tAS qualifying_time_seconds\n\tFROM conversations_stats\n)\n\n, inbox_group_stats AS (\n\n\tSELECT \n\t    inbox_group\n\t\t, COUNT(DISTINCT contact_id)\n\t\tAS total_conversations\n\t\t, (COUNT(DISTINCT contact_id) - SUM(lead_count_missed_first_response))\n\t\tAS engaged_leads\n\t\t, COUNT (DISTINCT contact_id)\n\t\t    FILTER(WHERE is_qualified_lead)\n\t\tAS total_qualified_leads\n\t\t, (COUNT(sent_link))\n\t\tAS total_sent_links\n\t\t, SUM(total_interaction_turns)\n\t\tAS total_interaction_turns\n\t\t, SUM(total_interactions)\n\t\tAS total_interactions\n\t\t, COALESCE(SUM(1) FILTER (WHERE without_interest), 0)\n\t\tAS total_without_interest\n\t\t, SUM(total_messages_excluding_labels)\n\t\tAS total_messages_excluding_labels\n        , SUM(total_template1)\n        AS total_template1\n        , SUM(total_template2)\n        AS total_template2\n        , SUM(total_template3)\n        AS total_template3\n\t\t, AVG(qualifying_time_seconds)\n\t\t    FILTER(WHERE is_qualified_lead)\n\t\tAS avg_qualifying_time_seconds\n\t\t, AVG(total_interactions)\n\t\tAS avg_interactions\n\t\t, AVG(total_interactions)\n\t\t\tFILTER(WHERE is_qualified_lead)\n\t\tAS qualified_avg_interactions\n\n\t\t-- AGENT \n\t\t, SUM (agent_total_messages)\n\t\tAS agent_total_messages\n\t\t    --RESPONSE_TIME\n\t\t, (SUM(agent_sum_response_time_seconds) / SUM(agent_count_response_time_seconds))\n        AS agent_avg_response_time\n\t\t, (SUM(agent_sum_response_time_seconds_norm) / SUM(agent_count_response_time_seconds_norm))\n        AS agent_avg_response_time_norm\n\t\t    --FIRST_RESPONSE_TIME\n\t\t, (SUM(agent_sum_first_response_time_seconds) / SUM(agent_count_first_response_time_seconds))\n        AS agent_avg_first_response_time\n\t\t, (SUM(agent_sum_first_response_time_seconds_norm) / SUM(agent_count_first_response_time_seconds_norm))\n        AS agent_avg_first_response_time_norm\n\t\t    -- MISSED_FIRST_RESPONSE\n\t\t, SUM(agent_count_missed_first_response)\n\t\tAS agent_count_missed_first_response\n\t\t-- LEAD \n\t\t, SUM (lead_total_messages)\n\t\tAS lead_total_messages\n\t\t    --RESPONSE_TIME\n\t\t, (SUM(lead_sum_response_time_seconds) / SUM(lead_count_response_time_seconds))\n        AS lead_avg_response_time\n\t\t, (SUM(lead_sum_response_time_seconds_norm) / SUM(lead_count_response_time_seconds_norm))\n        AS lead_avg_response_time_norm\n\t\t    --FIRST_RESPONSE_TIME\n\t\t, (SUM(lead_sum_first_response_time_seconds) / SUM(lead_count_first_response_time_seconds))\n        AS lead_avg_first_response_time\n\t\t, (SUM(lead_sum_first_response_time_seconds_norm) / SUM(lead_count_first_response_time_seconds_norm))\n        AS lead_avg_first_response_time_norm\n\t\t    -- MISSED_FIRST_RESPONSE\n\t\t, SUM(lead_count_missed_first_response)\n\t\tAS lead_count_missed_first_response\n\t\n\tFROM conversations_stats_with_qualifying_time\n\tGROUP BY inbox_group\n\n)\n\n, bdr_conversation_labels AS(\nSELECT\n    TRIM(label) AS label,\n    COUNT(label) AS COUNT\nFROM conversations_stats \n    CROSS JOIN LATERAL unnest(string_to_array(conversation_labels, ',')) AS label\nWHERE conversation_labels IS NOT NULL\n    AND TRIM(label) != ''\n    AND inbox_id IN (TABLE bdr_inboxes)\nGROUP BY TRIM(label)\nORDER BY COUNT DESC\n)\n\n, period_action AS (\nSELECT \n    CONCAT(\n        TO_CHAR(MIN(conversation_created_at)::timestamp, 'DD/MM - '),\n        TO_CHAR(MAX(max_mesages_created_at)::timestamp, 'DD/MM/YYYY'))\n\tAS period_short\n\t, TO_CHAR(MIN(conversation_created_at)::timestamp, 'YYYY-MM-DD')\n\tAS period_begin\n\t, TO_CHAR(MAX(max_mesages_created_at)::timestamp, 'YYYY-MM-DD')\n\tAS period_end\nFROM \n\tconversations_stats\n) \n\n, date_series AS (\n    SELECT \n        generate_series(\n            (SELECT period_begin FROM period_action)::timestamp,\n            (SELECT period_end FROM period_action)::timestamp,\n            '1 day'::interval\n        )::date AS serial_date\n)\n\n, interactions_created_by_date AS (\n    SELECT \n\t    serial_date\n        , inbox_groups.inbox_group\n        , COALESCE(COUNT(DISTINCT conversation_id), 0)\n        AS active_conversations\n        , COALESCE(SUM(last_interaction), 0)\n        AS total_interactions\n        , COALESCE(COUNT(DISTINCT message_id) FILTER (WHERE sender_type IS NOT NULL), 0)\n        AS total_messages\n    FROM date_series\n\t    CROSS JOIN (SELECT DISTINCT inbox_group FROM interaction_groups_with_response_time) inbox_groups\n\t    LEFT JOIN interaction_groups_with_response_time \n\t\t    ON message_created_at::date = serial_date::date\n\t\t\tAND interaction_groups_with_response_time.inbox_group = inbox_groups.inbox_group\n    GROUP BY serial_date, inbox_groups.inbox_group\n)\n\n, conversations_created_by_date AS (\n  SELECT \n        serial_date\n\t    , interactions_created_by_date.inbox_group\n\t\t, interactions_created_by_date.active_conversations\n\t\t, interactions_created_by_date.total_interactions\n\t\t, interactions_created_by_date.total_messages\n\t\t, COUNT (DISTINCT conversation_id)\n\t\tAS total_conversations_created\n        \n    FROM interactions_created_by_date\n\t    FULL JOIN conversations_stats_with_qualifying_time \n           ON conversation_created_at::date = serial_date::date\n\t\t   AND interactions_created_by_date.inbox_group = conversations_stats_with_qualifying_time.inbox_group\n    GROUP BY\n\t    interactions_created_by_date.serial_date\n\t        , interactions_created_by_date.inbox_group\n\t\t    , interactions_created_by_date.active_conversations\n\t\t    , interactions_created_by_date.total_interactions\n\t\t    , interactions_created_by_date.total_messages\n)\n\n, inbox_group_conversations_created_by_date AS (\n    SELECT \n        inbox_group\n\t\t, jsonb_agg(jsonb_build_object(\n\t\t\t'date' ,serial_date\n\t\t\t, 'active_conversations' ,active_conversations\n\t\t\t, 'total_interactions' ,total_interactions\n            , 'total_conversations_created' ,total_conversations_created\n\t\t\t, 'total_messages' ,total_messages\n\t\t) ORDER BY serial_date)\n\t\tAS time_stats\n    FROM conversations_created_by_date\n    GROUP BY inbox_group\n)\n\nSELECT \n\t*\n\t,  (engaged_leads / total_conversations) * 100\n\tAS percent_engaged_of_total_conversations\n\t,  (total_sent_links / engaged_leads) * 100\n\tAS percent_sent_links_of_engaged_leads\n\t,  (total_qualified_leads / engaged_leads) * 100\n\tAS percent_qualified_leads_of_engaged_leads\n\t,  (agent_count_missed_first_response / total_conversations) * 100\n\tAS percent_agent_missed_first_response_of_total_conversations\n\t,  (lead_count_missed_first_response / total_conversations) * 100\n\tAS percent_lead_missed_first_response_of_total_conversations\n\t,  (total_without_interest / engaged_leads) * 100\n\tAS percent_total_without_interest_of_engaged_leads\n\t, CASE WHEN inbox_group_stats.inbox_group = 'BDR' \n\t       THEN (SELECT jsonb_agg(to_jsonb(bdr_conversation_labels)) FROM bdr_conversation_labels)\n\t\t   END\n\tAS bdr_conversation_labels\n\t, (SELECT to_jsonb(period_action) FROM period_action)\n\tAS period_action\nFROM inbox_group_stats\n    JOIN inbox_group_conversations_created_by_date \n\t    ON inbox_group_stats.inbox_group = inbox_group_conversations_created_by_date.inbox_group","options":{"largeNumbersOutput":"numbers"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1968,16],"id":"896f4a57-ef5d-47b5-a704-46bfc94e16d5","name":"MessagesDataBdr","executeOnce":false,"credentials":{"postgres":{"id":"uSdxNemJ9RfhxUg0","name":"Postgres - Chatwoot"}}},{"parameters":{"mode":"raw","jsonOutput":"{\n  \n  \n\"navio\": \"Vumbora\",\n  \n  \n\"campanha\": \"Pré Venda\"\n  \n}\n","options":{"dotNotation":false}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2336,16],"id":"c596a393-7af4-4015-b6e2-48eb1acf5ad6","name":"NavioCampanha","executeOnce":false},{"parameters":{"jsCode":"\nconst navio = $json.navio\nconst campanha = $json.campanha\n\n\n/**\n * @typedef {Object} Templates\n * @property {string[]} templates1 - List of template strings\n * @property {string[]} templates2 - List of template strings\n * @property {string[]} templates3 - List of template strings\n */\n\n/** @type {Templates} */\nconst templates = {\n  templates1: [],\n  templates2: [],\n  templates3: []\n}\n\nif (navio == 'Vumbora' && campanha == 'Pré Venda') {\n\n  templates.templates1.push(`Oi, %\n%Recebemos seu interesse para o Navio %${navio}%.\n%Telefone informado: %\nE-mail informado: %`);\n\n  templates.templates2.push(`Oi %, o Navio %${navio}% não é só um cruzeiro.\n\nQuatro edições. Mais de 5 mil passageiros na última. Esgotado.%\n%Quem conhece, volta. Quem ainda não foi, só se arrepende de não ter ido antes.\n\nQuer garantir a sua vaga?%`);\n\n  templates.templates3.push(`Oi %, imagina isso:\n%\n*Programação oficial é definida próximo ao embarque\n%\nAs últimas experience resource estão aqui.%`)\n  \n} else if (navio == 'Dominguinho' && campanha == 'Pré Venda') {\n  templates.templates1.push(`Oi,%! Aqui é a Demo Events Co Cruzeiros 🏖\n%Vimos que demonstrou interesse no Navio %${navio}% — e ficamos felizes que você queira fazer parte dessa experiência incrível! Estamos aqui para te passar tudo que você precisa saber e tirar suas dúvidas antes de garantir a sua vaga.\n%\nPosso te enviar os detalhes completos e as condições disponíveis?%`);\n\n  templates.templates1.push(`Olá%Aqui é a DomainAssistant, Especialista em Cruzeiros Temáticos.\n\nRecebemos seu interesse para o %${navio}%.\n\nTelefone informado: %\nE-mail informado: %\n\nPode confirmar se os dados estão corretos?%`);\n\n  templates.templates2.push(`%Aqui é a DomainAssistant, Especialista em Cruzeiros Temáticos.\n%\nVocê já viu quem vai estar a bordo do %${navio}%? Não perca a oportunidade de participar de shows exclusivos com esses grandes nomes da música Brasileira\n%\nQuer que eu verifique a disponibilidade de experience resource e as condições%`);\n\n  templates.templates3.push(`Ola%Passando aqui para te trazer uma atualização muito importante sobre %.\n\nAs experience resource estão esgotando e quem confirmar agora garante:\n✅ Valor do lote de pré-venda — sem reajuste\n%\n✅ Condições especiais de pagamento\n\nIsso mesmo, após a virada de lote os valores serão reajustados.\n%\nPosso te confirmar as condições agora?%`)\n}\n\n\nconst templatesQueryFilters = {\n  template1: templates.templates1.map(t => `content ILIKE '${t}'`).join('\\n\\tOR '),\n  template2: templates.templates2.map(t => `content ILIKE '${t}'`).join('\\n\\tOR'),\n  template3: templates.templates3.map(t => `content ILIKE '${t}'`).join('\\n\\tOR')\n}\n\n\nreturn [\n  {\n    templatesQueryFilters,\n    navio,\n    campanha,\n  }\n]\n\n\n\n\n\n\n\n\n\n\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2128,16],"id":"680e4ac6-3e24-46fb-a6aa-e539666008d6","name":"Code in JavaScript"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AiAnalysisGeneraReport","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AiAnalysisGeneraReport","type":"ai_outputParser","index":0}]]},"AiAnalysisGeneraReport":{"main":[[{"node":"HTML","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"NavioCampanha","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Report2","type":"main","index":0}]]},"Report2":{"main":[[{"node":"RedisStoreReport","type":"main","index":0}]]},"DataExtraBdr":{"main":[[{"node":"AiAnalysisGeneraReport","type":"main","index":0}]]},"MessagesDataBdr":{"main":[[{"node":"DataExtraBdr","type":"main","index":0}]]},"NavioCampanha":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"MessagesDataBdr","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c9b2d665-0f88-4ed8-ab03-ee2ac9b51466","activeVersionId":"c9b2d665-0f88-4ed8-ab03-ee2ac9b51466","versionCounter":2623,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-13T20:04:23.613Z","createdAt":"2026-04-13T20:04:23.613Z","role":"workflow:owner","workflowId":"fbHre1QnMRPx0iLlyKqbd","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}