workflows_extracted/FtVpVLtvO-fEyQ087brGc.json
{"updatedAt":"2026-03-29T15:32:55.318Z","createdAt":"2026-01-30T18:39:10.382Z","id":"FtVpVLtvO-fEyQ087brGc","name":"Fluxo de Disparo - Formulário","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"forms","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-864],"id":"f9b45bd3-4662-4e18-a37a-016b2344a387","name":"Webhook","webhookId":"d777ab0f-dc76-4f83-a3e6-4b6ba551380e"},{"parameters":{"assignments":{"assignments":[{"id":"3ac3a7a0-f822-4968-a147-382f501c4d0b","name":"Nome","value":"={{ $json.nome }}","type":"string"},{"id":"3302155b-9320-485a-ad26-105286194bc2","name":"Telefone","value":"={{ $json.telefone }}","type":"string"},{"id":"d10c164b-511e-4252-9fea-785e9b6299c0","name":"Email","value":"={{ $json.email }}","type":"string"},{"id":"33609a4f-5aae-4fa3-971a-e854380cffea","name":"Quantidade de Pessoas","value":"={{ $json.quantas_pessoas }}","type":"string"},{"id":"7f5f22b2-912b-4050-ac42-06fdda3b6deb","name":"Anúncio","value":"={{ $json.anuncio }}","type":"string"},{"id":"109cc23a-40ea-4492-a931-ca8a3d9b66d5","name":"Campanha","value":"={{ $json.campanha }}","type":"string"},{"id":"21bc3f7b-cf59-48b8-9afa-653ffe732d1d","name":"Conjunto de Anúncios","value":"={{ $json.conjunto_de_anuncio }}","type":"string"},{"id":"b0a123b7-c187-4464-a231-c12d6d5e08c8","name":"urlchatwoot","value":"https://chatwoot.demo-events.com.br","type":"string"},{"id":"57bbba31-17d7-4dcd-8699-11b361591cfc","name":"token","value":"${CHATWOOT_TOKEN}","type":"string"},{"id":"8e655799-b1f9-4979-9699-1fd978bc4e03","name":"Navio","value":"={{ $json.navio_interessado }}","type":"string"},{"id":"dffe8c12-4a6f-4c30-a81c-a334b585784a","name":"Estilo","value":"={{ $json.estilo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,-864],"id":"af801567-b46a-4474-9afa-ed3f1c7b5e85","name":"Edit Fields"},{"parameters":{"operation":"get","tableId":"sdr_whatsapp_forms","filters":{"conditions":[{"keyName":"Telefone","keyValue":"={{ $json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[672,-864],"id":"88254087-7939-4f0a-a225-952a45b3525b","name":"Get a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b0d33c42-ac20-4a25-a4b7-b3ba9bc2980c","leftValue":"={{ $json.Telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,-864],"id":"6bae986a-9472-4042-b7f7-e79c6be59549","name":"If10"},{"parameters":{"tableId":"sdr_whatsapp_forms","fieldsUi":{"fieldValues":[{"fieldId":"Nome","fieldValue":"={{ $('Edit Fields').item.json.Nome }}"},{"fieldId":"Telefone","fieldValue":"={{ $('Edit Fields').item.json.Telefone }}"},{"fieldId":"Email","fieldValue":"={{ $('Edit Fields').item.json.Email }}"},{"fieldId":"QtdPessoas","fieldValue":"={{ $('Edit Fields').item.json['Quantidade de Pessoas'] }}"},{"fieldId":"anuncio","fieldValue":"={{ $('Edit Fields').item.json['Anúncio'] }}"},{"fieldId":"conjunto_anuncios","fieldValue":"={{ $('Edit Fields').item.json['Conjunto de Anúncios'] }}"},{"fieldId":"campanha","fieldValue":"={{ $('Edit Fields').item.json.Campanha }}"},{"fieldId":"hora_mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"DataEntrada","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"mensagem_lead","fieldValue":"={{false}}"},{"fieldId":"origem","fieldValue":"Formulário"},{"fieldId":"Navio","fieldValue":"={{ $('Edit Fields').item.json.Navio }}"},{"fieldId":"estilo","fieldValue":"={{ $('Edit Fields').item.json.Estilo }}"},{"fieldId":"Pontuacao","fieldValue":"2"},{"fieldId":"etapa","fieldValue":"negociacao"},{"fieldId":"em_qual_etapa","fieldValue":"e4"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,-608],"id":"a6fdfc15-2d32-4620-ba5b-e187d796e427","name":"Create a row","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').item.json.urlchatwoot }}/api/v1/accounts/1/contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').item.json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $json.Nome }}\",\n  \"identifier\": \"{{ $json.Telefone }}\",\n  \"email\": \"{{ $json.Email }}\",\n  \"phone_number\": \"{{ $json.Telefone }}\",\n  \"custom_attributes\": {\n    \"anuncio\": \"{{ $json['Anúncio'] }}\",\n    \"conjunto_de_anuncios\": \"{{ $json['Conjunto de Anúncios'] }}\",\n    \"campanha\": \"{{ $json.Campanha }}\",\n    \"qtd_pessoas\": \"{{ $json['Quantidade de Pessoas'] }}\",\n    \"estilo\":\"{{ $json.Estilo }}\",\n    \"navio\":\"{{ $json.Navio }}\",\n    \"temporada\": \"2026/2027\",\n    \"origem\": \"Formulário\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1344,-608],"id":"aa367e8d-dad6-4b8f-8a35-3112bd9c0b3d","name":"HTTP Request"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').item.json.urlchatwoot }}/api/v1/accounts/1/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inbox_id","value":"34"},{"name":"contact_id","value":"={{ $json.payload.contact.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1568,-608],"id":"681dbe98-fa7d-46e9-94ab-31c39fe0ee4c","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').item.json.urlchatwoot }}/api/v1/accounts/1/conversations/{{ $('HTTP Request1').item.json.id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Olá {{$('Edit Fields').item.json.Nome}}! Prazer, sou a DomainAssistant 😊 Especialista em cruzeiros temáticos da Demo Events Co.  \n\nVi que você se interessou pelo {{$('Edit Fields').item.json.Navio}} \n\nSerão {{ $('Edit Fields').item.json['Quantidade de Pessoas'] }} pessoas que irão embarcar correto?"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"name":"content_type","value":"text"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2016,-608],"id":"51480abe-7b88-4432-a5ef-2888f21f2762","name":"HTTP Request2"},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"697fdd8d392cb40014ae6876"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"691635bac3aa230014102ff8\",\n    \"name\": \"{{ $('Edit Fields').item.json.Nome }} - {{ $('Edit Fields').item.json.Navio }} \",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5d5b72bd1e0013392272\",\n        \"value\": \"SDR IA\"\n      }\n    ]\n  },\n  \"contacts\": [\n    {\n      \"name\": \"{{ $('Edit Fields').item.json.Nome }}\",\n      \"phones\": [\n        {\n          \"phone\": \"{{ $('Edit Fields').item.json.Telefone }}\"\n        }\n      ],\n      \"emails\": [\n        {\n          \"email\": \"{{ $('Edit Fields').item.json.Email }}\"\n        }\n      ]\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,-1120],"id":"190afbf1-b4ee-4cde-8a5b-2d17421e4167","name":"Criar a Negociação"},{"parameters":{"operation":"update","tableId":"sdr_whatsapp_forms","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Create a row').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"id_contato_chatwoot","fieldValue":"={{ $('HTTP Request').item.json.payload.contact.id }}"},{"fieldId":"id_conversa_chatwoot","fieldValue":"={{ $('HTTP Request1').item.json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2464,-608],"id":"3055e13e-99de-4481-8b17-5724eec35acf","name":"Update a row","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"promptType":"define","text":"=Navio/Cruzeiro que o cliente quer: {{ $('Edit Fields').item.json.Navio }}","options":{"systemMessage":"=Sua função é identificar qual navio/cruzeiro o cliente está interessado e retornar a TAG correspondente.\n\n---\n**Navio de interesse do cliente**: {{ $('Edit Fields').item.json.Navio }}\n\n**Tags disponíveis**: \n{{ $json.title }}\n(Ignore tags de qualificação ou identificação do usuário. Foque apenas nas tags de navios.)\n\n---\n**IMPORTANTE - Processo de identificação**:\n\n1. Se o nome do navio em {{ $('Edit Fields').item.json.Navio }} corresponder EXATAMENTE a uma das tags disponíveis → retorne diretamente a tag\n\n2. Se o nome for DIFERENTE ou usar apelidos/nomes alternativos (ex: \"Gustavo Lima\", \"Luan Santana\", \"Embaixador\") → você DEVE usar a tool `consulta_cruzeiros` ANTES de responder para:\n   - Buscar informações sobre o cruzeiro mencionado\n   - Identificar o nome oficial do navio\n   - Fazer o match correto com a tag disponível\n\n3. Após consultar (se necessário), identifique a tag correspondente\n\n---\n**Formato de resposta**:\nSua resposta deve ser estritamente um objeto JSON válido, sem markdown (```json), sem explicações. \n\nFormato exato: \n{ \"tag_identificada\": \"nome_da_tag_aqui\" }\n\nSe não identificar nada após consultar, retorne:\n{ \"tag_identificada\": null }"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2944,-1424],"id":"4bec40d9-f7b6-4d81-8df7-2d1c5f3c0ed4","name":"AI Agent1"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').item.json.urlchatwoot }}/api/v1/accounts/1/conversations/{{ $json.payload[0].id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').item.json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"labels\": [\"{{ $('Code in JavaScript1').item.json.tag_identificada }}\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[4176,-1120],"id":"adf7120e-53c6-469f-a0ae-d87ca39e20af","name":"Atribui tag","onError":"continueRegularOutput"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"labels","mode":"list","cachedResultName":"labels"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2464,-1120],"id":"9190d43a-534b-476f-96e5-6518d6d9fad4","name":"Puxa as tags","credentials":{"postgres":{"id":"uSdxNemJ9RfhxUg0","name":"Postgres - Chatwoot"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"title"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2688,-1120],"id":"c11659b2-7c9d-4e57-abb9-da8769eb1557","name":"Aggregate"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2912,-1200],"id":"1a49efed-bb59-4b07-ab65-96367cf1ec41","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"url":"={{ $('Edit Fields').item.json.urlchatwoot }}/api/v1/accounts/1/contacts/{{ $('Busca contato chatwoot').item.json.payload[0].id }}/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').item.json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3952,-1120],"id":"ebec1af9-11a4-4564-9577-92691fd980c6","name":"Busca conversa","retryOnFail":true,"maxTries":2},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[3024,-784],"id":"113b3ac8-7818-4a21-a9ac-f675d882b100","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"name":"consulta_cruzeiros","description":"=# Ferramenta: `consulta_cruzeiros`\n\nData de hoje: {{ $now.format('dd-MM-yyyy') }} > Se a data de **INICIO** do cruzeiro for anterior a **HOJE**, ignore completamente esse cruzeiro e passe apenas os próximos.\n\nSe encontrar dois eventos do mesmo artista (um que já passou e um que ainda vai ocorrer, passe apenas o que irá acontecer).\n---\n\n## O que ela faz\nConsulta um índice vetorial (Simple Vector Store) com descrições **atômicas** de **experience resource de cruzeiros temáticos** e retorna **preço por pessoa** e metadados do **navio**, **tipo de experience resource**, **datas/noites**, **porto de embarque** e **atrações**.  \nCada documento do índice representa **uma única experience resource disponível** (ex.: “Navio do Zezé 2026 — experience resource: varanda — R$ 5.538,00 por pessoa”), maximizando precisão na recuperação.\n\n## Quando usar\n- Pedidos de **preço** informando **navio** e **experience resource** (ex.: “varanda no Navio do Zezé 2026 para 3 pessoas”).  \n- **Comparar** preços entre navios/experience resource.  \n- **Calcular total** por quantidade de pessoas (preço é **por pessoa**).  \n- **Sugerir alternativas** quando não houver match exato (mesma experience resource noutro navio próximo, ou experience resource similar no mesmo navio).\n\n## Entradas (parâmetros)\n- `query` *(string, obrigatório)*: texto livre da intenção do usuário (navio, experience resource, pessoas, orçamento, preferências).  \n- `top_k` *(int, opcional; padrão = 5)*: número de candidatos a retornar.  \n- `strict` *(bool, opcional; padrão = true)*: se `true`, prioriza match exato; se `false`, permite aproximações.  \n- `filters` *(objeto, opcional)*:\n  - `navio` *(string)*: nome parcial/slug/ano (ex.: “do Zezé 2026”, “gil tempo rei 2025”).  \n  - `experience resource` *(enum: interna | externa | varanda | suite)*.  \n  - `pessoas` *(int ≥ 1)*: usado para `total_price_brl = pessoas * price_pp_brl`.  \n  - `orcamento_max_pp` *(float)*: teto por pessoa.  \n  - `orcamento_max_total` *(float)*: teto total (após multiplicação pelas pessoas).\n\n## Normalizações & Regras de negócio\n- **experience resource (sinônimos):**\n  - “suíte”, “suite” → `suite`  \n  - “varanda”, “sacada”, “balcão” → `varanda`  \n  - “externa”, “janela”, “vista mar” → `externa`  \n  - “interna”, “standard” → `interna`\n- **Preços**: sempre **por pessoa** e **com taxas**; total = `pessoas * price_pp_brl`.  \n- **Disponibilidade**: índice só contém experience resource **disponíveis** (linhas “Esgotado” foram excluídas).  \n- **Correspondência de navio**: aceita variações de nome/ano; prioriza match exato.  \n- **Moeda**: `BRL` (não converter).  \n- **Critério de desempate**: (1) mesma experience resource + mesmo navio; (2) mesma experience resource + navio mais próximo; (3) experience resource mais próxima no mesmo navio.\n\n## Saída (formato determinístico)\nArray ordenado por relevância/adequação. Cada item:\n\n```json\n{\n  \"cruise_name\": \"Jorge e Mateus\",\n  \"slug\": \"jorge-e-mateus\",\n  \"cabin_type\": \"varanda\",\n  \"price_pp_brl\": 7098.0,\n  \"pessoas\": 2,\n  \"total_price_brl\": 14196.0,\n  \"date_nights\": \"08/01/2026 - 03 noites\",\n  \"embark\": \"Santos\",\n  \"attractions\": [\"Bell Marques\",\"Jota Quest\",\"Gustavo Mioto\",\"Valyton&Romário\",\"Pedro Libe\",\"Muito Mais\"],\n  \"score\": 0.83,\n  \"source_preview\": \"Cruzeiro: Jorge e Mateus\\n... experience resource: varanda\\nPreço por pessoa: R$ 7098.0 ...\"\n}\n```\n\n**Campos:**\n- `score`: similaridade/relevância (0–1).  \n- `source_preview`: trecho curto do documento para auditoria.  \n- `pessoas` e `total_price_brl`: presentes se `filters.pessoas` for informado ou inferido da `query`.\n\n## Estratégia de recuperação e ranqueamento\n1. **Embedding similarity** da `query` contra `text` dos documentos.  \n2. **Bônus/Penalidades** por match exato de:\n   - `experience resource` (peso alto)\n   - `navio`/`slug`/ano (peso alto)\n   - orçamento (`<=` teto por pessoa/total, se fornecido)  \n3. **Ordenação final** por score composto; em empate, menor `price_pp_brl`.\n\n## Comportamento em falhas/ausências\n- **Sem resultados estritos** (`strict=true`): retornar vazio **e** sugerir fallback (mesma experience resource em edição próxima / experience resource similar).  \n- **Sem filtros claros** (experience resource/navio não inferidos): retornar `top_k` diversos **com** explicação de como refinar:\n  - “Informe navio, experience resource e nº de pessoas. Ex.: ‘Varanda no Navio do Zezé 2026 para 3 pessoas’.”  \n- **Acima do orçamento**: retornar matches mais próximos e incluir `within_budget=false` em cada item.\n\n## Exemplos (few-shots)\n\n**Entrada**\n```json\n{\n  \"query\": \"Belo em Alto Mar, experience resource interna para 2 pessoas\",\n  \"top_k\": 3\n}\n```\n**Saída (resumo)**\n- Top-1: `Belo em Alto Mar` — `interna` — `price_pp_brl=5058` — `total=10116`.\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"Quero varanda no Navio do Zezé 2026 até 6 mil por pessoa\",\n  \"filters\": { \"orcamento_max_pp\": 6000 },\n  \"top_k\": 3\n}\n```\n**Saída (resumo)**\n- Top-1: `do Zezé 2026` — `varanda` — `price_pp_brl=5538` (dentro do orçamento).\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"Suite no Gil Tempo Rei 2025 para 4 pessoas\",\n  \"top_k\": 1\n}\n```\n**Saída (resumo)**\n- Top-1: `Gil - Tempo Rei` — `suite` — `price_pp_brl=14418` — `total=57672`.\n\n## Restrições & Garantias\n- **Não inventar** valores: só retornar o que está no índice.  \n- **Não converter moeda**: manter `BRL`.  \n- **Formato fixo**: sempre retornar o array de objetos conforme especificação.  \n- **Privacidade**: não expor chaves internas além de `slug`/`source_preview`.\n\n## Observação de implementação\nO índice foi construído com documentos **atômicos por experience resource** (texto curto + metadados) e embeddings OpenAI (`text-embedding-3-small`). Para **persistência**, trocar o Simple Vector Store por **pgvector/Pinecone/Qdrant** mantendo o mesmo contrato da ferramenta.","topK":100},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[3040,-1200],"id":"57e809ca-b702-4f91-bbf6-46f83b7c04ae","name":"consulta_cruzeiros"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3232,-992],"id":"941f7f52-5a13-439e-9659-31e69213e97f","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Supondo que a resposta da IA venha num campo chamado 'content' ou 'response'\n// Ajuste 'output' para o nome exato do campo que sai do seu nó de IA\nconst respostaIA = $input.first().json.output || $('input').first().json.response;\n\n// Remove possíveis formatações de código que a IA coloca (```json ...)\nconst jsonLimpo = respostaIA.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\ntry {\n  const objeto = JSON.parse(jsonLimpo);\n  return { json: objeto };\n} catch (e) {\n  return { json: { error: \"Não foi possível ler o JSON da IA\", raw: respostaIA } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3584,-1120],"id":"44d0d4cc-83f5-484f-918c-0f18bbf8eaee","name":"Code in JavaScript1"},{"parameters":{"tableName":"cruzeiros","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[2944,-992],"id":"d12ccb5d-0ab1-49b9-806f-959ac5a0f4a5","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}}},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Code in JavaScript').item.json.telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4400,-1120],"id":"f6863471-9ad1-4e5c-a6af-1213f0d3f28b","name":"Pega id do contato"},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5dcd4a9a040013d4a583\",\n        \"value\": \"{{ $('Code in JavaScript').item.json.quantas_pessoas }}\"\n      },\n      {\n        \"custom_field_id\": \"67117527ffea83001af2245f\",\n        \"value\": \"{{ $('Code in JavaScript').item.json.navio_interessado }}\"\n      },\n      {\n        \"custom_field_id\": \"691f5db5748bdd001841ebec\",\n        \"value\": \"{{ $('Code in JavaScript').item.json.estilo }}\"\n      },\n      {\n        \"custom_field_id\": \"691f5d5b72bd1e0013392272\",\n        \"value\": \"SDRIA - FORMULÁRIO\"\n      },\n      {\n        \"custom_field_id\": \"69835cf46f560f0016f42ae4\",\n        \"value\": \"{{ $('Code in JavaScript').item.json.anuncio }}\"\n      },\n      {\n        \"custom_field_id\": \"69835d019aa89c0015026252\",\n        \"value\": \"{{ $('Code in JavaScript').item.json.conjunto_de_anuncio }}\"\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4624,-1120],"id":"58540b88-f50c-42c4-828f-8e8eba8856da","name":"ATUALIZA CRM","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v18.0/${WABA_PHONE_NUMBER_ID}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ${WHATSAPP_CLOUD_API_TOKEN}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"55555-0100\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"sdrformulario\",\n    \"language\": {\n      \"code\": \"pt_BR\"\n    },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          {\n            \"type\": \"text\",\n            \"text\": \"Luiz\"\n          },\n          {\n            \"type\": \"text\",\n            \"text\": \"Navio Embaixador\"\n          },\n          {\n            \"type\": \"text\",\n            \"text\": \"2\"\n          }\n        ]\n      }\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[0,-1648],"id":"fa1e9d9f-eeec-43e4-a5fc-288d2bebb748","name":"HTTP Request3"},{"parameters":{"url":"={{ $('Edit Fields').item.json.urlchatwoot }}/api/v1/accounts/1/contacts/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Edit Fields').item.json.Telefone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').item.json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,-1120],"id":"87671747-c5f8-4e75-91d8-ef008c356bb8","name":"Busca contato chatwoot","retryOnFail":true,"maxTries":5,"executeOnce":true},{"parameters":{"url":"={{ $('Edit Fields').item.json.urlchatwoot }}/api/v1/accounts/1/contacts/{{ $json.payload[0].id }}/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').item.json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1568,-1120],"id":"c562b4e0-80b2-423c-b93f-c51e4781e309","name":"Busca Conversa No chatwoot"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').item.json.urlchatwoot }}/api/v1/accounts/1/conversations/{{ $json.payload[0].id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').item.json.token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Olá {{$('Edit Fields').item.json.Nome}}! Prazer, sou a DomainAssistant 😊 Especialista em cruzeiros temáticos da Demo Events Co.  \n\nVi que você se interessou pelo {{$('Edit Fields').item.json.Navio}} \n\nSerão {{ $('Edit Fields').item.json['Quantidade de Pessoas'] }} pessoas que irão embarcar correto?"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"name":"content_type","value":"text"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1792,-1120],"id":"07720a82-a084-421c-b9f8-2f3bb294af5d","name":"HTTP Request4"},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"697fdd8d392cb40014ae6876"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"691635bac3aa230014102ff8\",\n    \"name\": \"{{ $('Edit Fields').item.json.Nome }} - {{ $('Edit Fields').item.json.Navio }} \",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5d5b72bd1e0013392272\",\n        \"value\": \"SDR IA\"\n      }\n    ]\n  },\n  \"contacts\": [\n    {\n      \"name\": \"{{ $('Edit Fields').item.json.Nome }}\",\n      \"phones\": [\n        {\n          \"phone\": \"{{ $('Edit Fields').item.json.Telefone }}\"\n        }\n      ],\n      \"emails\": [\n        {\n          \"email\": \"{{ $('Edit Fields').item.json.Email }}\"\n        }\n      ]\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,-608],"id":"e41f6110-590d-4abb-9261-0c7c9010b0db","name":"Criar a Negociação1"},{"parameters":{"promptType":"define","text":"=Navio/Cruzeiro que o cliente quer: {{ $('Edit Fields').item.json.Navio }}","options":{"systemMessage":"=Sua função é identificar qual navio/cruzeiro o cliente está interessado e retornar a TAG correspondente.\n\n---\n**Navio de interesse do cliente**: {{ $('Edit Fields').item.json.Navio }}\n\n**Tags disponíveis**: \n{{ $json.title }}\n(Ignore tags de qualificação ou identificação do usuário. Foque apenas nas tags de navios.)\n\n---\n**IMPORTANTE - Processo de identificação**:\n\n1. Se o nome do navio em {{ $('Edit Fields').item.json.Navio }} corresponder EXATAMENTE a uma das tags disponíveis → retorne diretamente a tag\n\n2. Se o nome for DIFERENTE ou usar apelidos/nomes alternativos (ex: \"Gustavo Lima\", \"Luan Santana\", \"Embaixador\") → você DEVE usar a tool `consulta_cruzeiros` ANTES de responder para:\n   - Buscar informações sobre o cruzeiro mencionado\n   - Identificar o nome oficial do navio\n   - Fazer o match correto com a tag disponível\n\n3. Após consultar (se necessário), identifique a tag correspondente\n\n---\n**Formato de resposta**:\nSua resposta deve ser estritamente um objeto JSON válido, sem markdown (```json), sem explicações. \n\nFormato exato: \n{ \"tag_identificada\": \"nome_da_tag_aqui\" }\n\nSe não identificar nada após consultar, retorne:\n{ \"tag_identificada\": null }"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[3472,-608],"id":"f6915158-5d3a-4c44-ba62-179b164ab8a9","name":"AI Agent"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').item.json.urlchatwoot }}/api/v1/accounts/1/conversations/{{ $json.payload[0].id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').item.json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"labels\": [\"{{ $('Code in JavaScript2').item.json.tag_identificada }}\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[4400,-608],"id":"1135829b-c2d4-49b3-ace7-dc9ea0ca213d","name":"Atribui tag1","onError":"continueRegularOutput"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"labels","mode":"list","cachedResultName":"labels"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2688,-608],"id":"414b570a-de3b-42ab-8527-4fb5838e8ee5","name":"Puxa as tags1","credentials":{"postgres":{"id":"uSdxNemJ9RfhxUg0","name":"Postgres - Chatwoot"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"title"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3072,-608],"id":"83cf2dee-36a6-482c-89d8-145d9fbf2943","name":"Aggregate1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3440,-384],"id":"0f5a65be-751a-49e8-900b-bcc1b3d5c1fc","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"url":"={{ $('Edit Fields').item.json.urlchatwoot }}/api/v1/accounts/1/contacts/{{ $('HTTP Request').item.json.payload.contact.id }}/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').item.json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4176,-608],"id":"9e3df59e-bd1b-41d4-adc4-b53af460bf59","name":"Busca conversa1","retryOnFail":true,"maxTries":2},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[3536,32],"id":"25ccc21a-6201-4072-82ed-33cd63b9ce6a","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"name":"consulta_cruzeiros","description":"=# Ferramenta: `consulta_cruzeiros`\n\nData de hoje: {{ $now.format('dd-MM-yyyy') }} > Se a data de **INICIO** do cruzeiro for anterior a **HOJE**, ignore completamente esse cruzeiro e passe apenas os próximos.\n\nSe encontrar dois eventos do mesmo artista (um que já passou e um que ainda vai ocorrer, passe apenas o que irá acontecer).\n---\n\n## O que ela faz\nConsulta um índice vetorial (Simple Vector Store) com descrições **atômicas** de **experience resource de cruzeiros temáticos** e retorna **preço por pessoa** e metadados do **navio**, **tipo de experience resource**, **datas/noites**, **porto de embarque** e **atrações**.  \nCada documento do índice representa **uma única experience resource disponível** (ex.: “Navio do Zezé 2026 — experience resource: varanda — R$ 5.538,00 por pessoa”), maximizando precisão na recuperação.\n\n## Quando usar\n- Pedidos de **preço** informando **navio** e **experience resource** (ex.: “varanda no Navio do Zezé 2026 para 3 pessoas”).  \n- **Comparar** preços entre navios/experience resource.  \n- **Calcular total** por quantidade de pessoas (preço é **por pessoa**).  \n- **Sugerir alternativas** quando não houver match exato (mesma experience resource noutro navio próximo, ou experience resource similar no mesmo navio).\n\n## Entradas (parâmetros)\n- `query` *(string, obrigatório)*: texto livre da intenção do usuário (navio, experience resource, pessoas, orçamento, preferências).  \n- `top_k` *(int, opcional; padrão = 5)*: número de candidatos a retornar.  \n- `strict` *(bool, opcional; padrão = true)*: se `true`, prioriza match exato; se `false`, permite aproximações.  \n- `filters` *(objeto, opcional)*:\n  - `navio` *(string)*: nome parcial/slug/ano (ex.: “do Zezé 2026”, “gil tempo rei 2025”).  \n  - `experience resource` *(enum: interna | externa | varanda | suite)*.  \n  - `pessoas` *(int ≥ 1)*: usado para `total_price_brl = pessoas * price_pp_brl`.  \n  - `orcamento_max_pp` *(float)*: teto por pessoa.  \n  - `orcamento_max_total` *(float)*: teto total (após multiplicação pelas pessoas).\n\n## Normalizações & Regras de negócio\n- **experience resource (sinônimos):**\n  - “suíte”, “suite” → `suite`  \n  - “varanda”, “sacada”, “balcão” → `varanda`  \n  - “externa”, “janela”, “vista mar” → `externa`  \n  - “interna”, “standard” → `interna`\n- **Preços**: sempre **por pessoa** e **com taxas**; total = `pessoas * price_pp_brl`.  \n- **Disponibilidade**: índice só contém experience resource **disponíveis** (linhas “Esgotado” foram excluídas).  \n- **Correspondência de navio**: aceita variações de nome/ano; prioriza match exato.  \n- **Moeda**: `BRL` (não converter).  \n- **Critério de desempate**: (1) mesma experience resource + mesmo navio; (2) mesma experience resource + navio mais próximo; (3) experience resource mais próxima no mesmo navio.\n\n## Saída (formato determinístico)\nArray ordenado por relevância/adequação. Cada item:\n\n```json\n{\n  \"cruise_name\": \"Jorge e Mateus\",\n  \"slug\": \"jorge-e-mateus\",\n  \"cabin_type\": \"varanda\",\n  \"price_pp_brl\": 7098.0,\n  \"pessoas\": 2,\n  \"total_price_brl\": 14196.0,\n  \"date_nights\": \"08/01/2026 - 03 noites\",\n  \"embark\": \"Santos\",\n  \"attractions\": [\"Bell Marques\",\"Jota Quest\",\"Gustavo Mioto\",\"Valyton&Romário\",\"Pedro Libe\",\"Muito Mais\"],\n  \"score\": 0.83,\n  \"source_preview\": \"Cruzeiro: Jorge e Mateus\\n... experience resource: varanda\\nPreço por pessoa: R$ 7098.0 ...\"\n}\n```\n\n**Campos:**\n- `score`: similaridade/relevância (0–1).  \n- `source_preview`: trecho curto do documento para auditoria.  \n- `pessoas` e `total_price_brl`: presentes se `filters.pessoas` for informado ou inferido da `query`.\n\n## Estratégia de recuperação e ranqueamento\n1. **Embedding similarity** da `query` contra `text` dos documentos.  \n2. **Bônus/Penalidades** por match exato de:\n   - `experience resource` (peso alto)\n   - `navio`/`slug`/ano (peso alto)\n   - orçamento (`<=` teto por pessoa/total, se fornecido)  \n3. **Ordenação final** por score composto; em empate, menor `price_pp_brl`.\n\n## Comportamento em falhas/ausências\n- **Sem resultados estritos** (`strict=true`): retornar vazio **e** sugerir fallback (mesma experience resource em edição próxima / experience resource similar).  \n- **Sem filtros claros** (experience resource/navio não inferidos): retornar `top_k` diversos **com** explicação de como refinar:\n  - “Informe navio, experience resource e nº de pessoas. Ex.: ‘Varanda no Navio do Zezé 2026 para 3 pessoas’.”  \n- **Acima do orçamento**: retornar matches mais próximos e incluir `within_budget=false` em cada item.\n\n## Exemplos (few-shots)\n\n**Entrada**\n```json\n{\n  \"query\": \"Belo em Alto Mar, experience resource interna para 2 pessoas\",\n  \"top_k\": 3\n}\n```\n**Saída (resumo)**\n- Top-1: `Belo em Alto Mar` — `interna` — `price_pp_brl=5058` — `total=10116`.\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"Quero varanda no Navio do Zezé 2026 até 6 mil por pessoa\",\n  \"filters\": { \"orcamento_max_pp\": 6000 },\n  \"top_k\": 3\n}\n```\n**Saída (resumo)**\n- Top-1: `do Zezé 2026` — `varanda` — `price_pp_brl=5538` (dentro do orçamento).\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"Suite no Gil Tempo Rei 2025 para 4 pessoas\",\n  \"top_k\": 1\n}\n```\n**Saída (resumo)**\n- Top-1: `Gil - Tempo Rei` — `suite` — `price_pp_brl=14418` — `total=57672`.\n\n## Restrições & Garantias\n- **Não inventar** valores: só retornar o que está no índice.  \n- **Não converter moeda**: manter `BRL`.  \n- **Formato fixo**: sempre retornar o array de objetos conforme especificação.  \n- **Privacidade**: não expor chaves internas além de `slug`/`source_preview`.\n\n## Observação de implementação\nO índice foi construído com documentos **atômicos por experience resource** (texto curto + metadados) e embeddings OpenAI (`text-embedding-3-small`). Para **persistência**, trocar o Simple Vector Store por **pgvector/Pinecone/Qdrant** mantendo o mesmo contrato da ferramenta.","topK":100},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[3568,-384],"id":"1cf6558f-37db-4304-b15e-23971e88ad2e","name":"consulta_cruzeiros1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3744,-176],"id":"7c761718-f565-4586-8c2d-8a910d1796ed","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Supondo que a resposta da IA venha num campo chamado 'content' ou 'response'\n// Ajuste 'output' para o nome exato do campo que sai do seu nó de IA\nconst respostaIA = $input.first().json.output || $('input').first().json.response;\n\n// Remove possíveis formatações de código que a IA coloca (```json ...)\nconst jsonLimpo = respostaIA.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\ntry {\n  const objeto = JSON.parse(jsonLimpo);\n  return { json: objeto };\n} catch (e) {\n  return { json: { error: \"Não foi possível ler o JSON da IA\", raw: respostaIA } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3952,-608],"id":"ddbd6ca1-31b8-459d-b92a-c782a2e548b2","name":"Code in JavaScript2"},{"parameters":{"tableName":"cruzeiros","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[3456,-176],"id":"c2739bcb-0553-40c4-a586-aef79eb1457e","name":"Postgres PGVector Store1","credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}}},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Code in JavaScript').item.json.telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4624,-608],"id":"98f13569-24d3-4094-bcf3-9768d655b956","name":"Pega id do contato1"},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5dcd4a9a040013d4a583\",\n        \"value\": \"{{ $('Code in JavaScript').item.json.quantas_pessoas }}\"\n      },\n      {\n        \"custom_field_id\": \"67117527ffea83001af2245f\",\n        \"value\": \"{{ $('Code in JavaScript').item.json.navio_interessado }}\"\n      },\n      {\n        \"custom_field_id\": \"691f5db5748bdd001841ebec\",\n        \"value\": \"{{ $('Code in JavaScript').item.json.estilo }}\"\n      },\n      {\n        \"custom_field_id\": \"691f5d5b72bd1e0013392272\",\n        \"value\": \"SDRIA - FORMULÁRIO\"\n      },\n      {\n        \"custom_field_id\": \"69835cf46f560f0016f42ae4\",\n        \"value\": \"{{ $('Code in JavaScript').item.json.anuncio }}\"\n      },\n      {\n        \"custom_field_id\": \"69835d019aa89c0015026252\",\n        \"value\": \"{{ $('Code in JavaScript').item.json.conjunto_de_anuncio }}\"\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4848,-608],"id":"4a5f557e-9a58-4a90-9668-685d2a85a166","name":"ATUALIZA CRM1","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('Edit Fields').item.json.Telefone }}","template":"sdrformulario|pt_BR","components":{"component":[{"bodyParameters":{"parameter":[{"text":"={{ $('Edit Fields').item.json.Nome }}"},{"text":"={{ $('Edit Fields').item.json.Navio }}"},{"text":"={{ $('Edit Fields').item.json[\"Quantidade de Pessoas\"] }}"}]}}]}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1776,-608],"id":"dca0c1bd-7b24-4a87-ba45-6349b3958ed0","name":"Send template1","webhookId":"8976243a-487f-4f56-bc25-6effd4a098c3","credentials":{"whatsAppApi":{"id":"7p03rSaYxzUJ6l9f","name":"WhatsApp Formulario"}}},{"parameters":{"phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('Edit Fields').item.json.Telefone }}","template":"sdrformulario|pt_BR","components":{"component":[{"bodyParameters":{"parameter":[{"text":"={{ $('Edit Fields').item.json.Nome }}"},{"text":"={{ $('Edit Fields').item.json.Navio }}"},{"text":"={{ $('Edit Fields').item.json[\"Quantidade de Pessoas\"] }}"}]}}]}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1072,-992],"id":"de159c97-847a-4ef4-a903-42ec36886bc6","name":"Send template","webhookId":"8976243a-487f-4f56-bc25-6effd4a098c3","credentials":{"whatsAppApi":{"id":"7p03rSaYxzUJ6l9f","name":"WhatsApp Formulario"}}},{"parameters":{"operation":"update","tableId":"sdr_whatsapp_forms","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Get a row').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"id_conversa_chatwoot","fieldValue":"={{ $('Busca Conversa No chatwoot').item.json.payload[0].id }}"},{"fieldId":"id_contato_chatwoot","fieldValue":"={{ $('Busca contato chatwoot').item.json.payload[0].id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2240,-1120],"id":"c3c69f02-be33-449b-b516-930b0100f6c6","name":"Update a row1","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"jsCode":"// Processa TODOS os itens do webhook\nconst items = $input.all();\n\n// Função para garantir +55 no telefone\nfunction formatPhone(phone) {\n  if (!phone) return '';\n  let cleaned = phone.toString().trim().replace(/\\D/g, ''); // Remove tudo que não é número\n  \n  // Se já tem 55 no início, mantém\n  if (cleaned.startsWith('55')) {\n    return `+${cleaned}`;\n  }\n  \n  // Se não tem 55, adiciona +55\n  return `+55${cleaned}`;\n}\n\n// Função para identificar navio e estilo\nfunction identificarNavioEstilo(utmCampaign, utmContent, utmTerm) {\n  const texto = `${utmCampaign} ${utmContent} ${utmTerm}`.toLowerCase();\n  \n  const navios = [\n    { keywords: ['gusttavo', 'gustavo', 'embaixador'], navio: 'NAVIO DO EMBAIXADOR', estilo: 'SERTANEJO' },\n    { keywords: ['leonardo', 'cabare', 'cabaré'], navio: 'NAVIO CABARÉ', estilo: 'SERTANEJO' },\n    { keywords: ['chitaozinho', 'chitãozinho', 'xororo', 'xororó', 'ch&x', 'chx'], navio: 'NAVIO CH&X', estilo: 'SERTANEJO' },\n    { keywords: ['joao-gomes', 'joão-gomes', 'dominguinho'], navio: 'NAVIO DOMINGUINHO EM ALTO MAR', estilo: 'FORRÓ' },\n    { keywords: ['reveillon', 'réveillon', 'ano-novo'], navio: 'NAVIO REVEILLON EM ALTO MAR', estilo: 'VARIADO' },\n    { keywords: ['bell-marques', 'vumbora'], navio: 'NAVIO VUMBORA PRO MAR', estilo: 'AXÉ/FORRÓ' },\n    { keywords: ['89-rock', '89rock', 'rock-boat'], navio: 'NAVIO 89 ROCK BOAT', estilo: 'ROCK' }\n  ];\n  \n  for (const config of navios) {\n    if (config.keywords.some(kw => texto.includes(kw))) {\n      return { navio: config.navio, estilo: config.estilo };\n    }\n  }\n  \n  return { navio: 'NÃO IDENTIFICADO', estilo: 'NÃO IDENTIFICADO' };\n}\n\n// Processa cada item\nreturn items.map(inputItem => {\n  const item = inputItem.json.body;\n  \n  // Processa telefone - tenta várias fontes\n  let telefone = '';\n  \n  // 1. Tenta pegar do campo telefone direto\n  if (item.telefone) {\n    telefone = item.telefone;\n  }\n  // 2. Tenta pegar do campo com nome longo (Pluga)\n  else if (item['Qual seu whatsapp? Enviaremos um Orçamento por lá']) {\n    const campoWhats = item['Qual seu whatsapp? Enviaremos um Orçamento por lá'];\n    if (typeof campoWhats === 'object' && campoWhats['\\t']) {\n      telefone = campoWhats['\\t'];\n    } else if (typeof campoWhats === 'string') {\n      telefone = campoWhats;\n    }\n  }\n  \n  telefone = formatPhone(telefone);\n  \n  // Identifica navio e estilo\n  const { navio, estilo } = identificarNavioEstilo(\n    item.utm_campaign || '',\n    item.utm_content || '',\n    item.utm_term || ''\n  );\n  \n  // Extrai quantidade de pessoas\n  let quantasPessoas = item.cabine_pessoas || item.quantas_pessoas || '';\n  if (quantasPessoas && typeof quantasPessoas === 'string') {\n    const match = quantasPessoas.match(/(\\d+)/);\n    quantasPessoas = match ? match[1] : quantasPessoas;\n  }\n  \n  // Retorna o objeto processado\n  return {\n    json: {\n      nome: item.nome || '',\n      telefone: telefone,\n      email: item.email || '',\n      quantas_pessoas: quantasPessoas,\n      \n      // Estrutura correta do Meta Ads\n      campanha: item.utm_campaign || '',\n      conjunto_de_anuncio: item.utm_content || '',\n      anuncio: item.utm_term || '',\n      \n      // Navio e estilo identificados\n      navio_interessado: navio,\n      estilo: estilo,\n      \n      // Dados extras\n      tipo_cabine: item['Qual tipo de experience resource você deseja?'] || '',\n      ja_fez_cruzeiro: item['Já fez um cruzeiro?'] || '',\n      utm_source: item.utm_source || ''\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,-832],"id":"f3e01808-bf98-4f86-b3b3-8f6035b31cfb","name":"Code in JavaScript"}],"connections":{"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"If10":{"main":[[{"node":"Send template","type":"main","index":0}],[{"node":"Create a row","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"If10","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Send template1","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Criar a Negociação1","type":"main","index":0}]]},"Criar a Negociação":{"main":[[{"node":"Update a row1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Atribui tag":{"main":[[{"node":"Pega id do contato","type":"main","index":0}]]},"Puxa as tags":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Busca conversa":{"main":[[{"node":"Atribui tag","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"consulta_cruzeiros":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"consulta_cruzeiros","type":"ai_languageModel","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Busca conversa","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Puxa as tags1","type":"main","index":0}]]},"Postgres PGVector Store":{"ai_vectorStore":[[{"node":"consulta_cruzeiros","type":"ai_vectorStore","index":0}]]},"Pega id do contato":{"main":[[{"node":"ATUALIZA CRM","type":"main","index":0}]]},"Busca contato chatwoot":{"main":[[{"node":"Busca Conversa No chatwoot","type":"main","index":0}]]},"Busca Conversa No chatwoot":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Criar a Negociação","type":"main","index":0}]]},"Criar a Negociação1":{"main":[[{"node":"Update a row","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Atribui tag1":{"main":[[{"node":"Pega id do contato1","type":"main","index":0}]]},"Puxa as tags1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Busca conversa1":{"main":[[{"node":"Atribui tag1","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store1","type":"ai_embedding","index":0}]]},"consulta_cruzeiros1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"consulta_cruzeiros1","type":"ai_languageModel","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Busca conversa1","type":"main","index":0}]]},"Postgres PGVector Store1":{"ai_vectorStore":[[{"node":"consulta_cruzeiros1","type":"ai_vectorStore","index":0}]]},"Pega id do contato1":{"main":[[{"node":"ATUALIZA CRM1","type":"main","index":0}]]},"Send template1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Send template":{"main":[[{"node":"Busca contato chatwoot","type":"main","index":0}]]},"Update a row1":{"main":[[{"node":"Puxa as tags","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8nh.demo-events.com.br","user-agent":"Pluga/1.0","content-length":"567","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"0.0.0.0","x-forwarded-host":"n8nh.demo-events.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f825d0165a8e","x-real-ip":"0.0.0.0"},"params":{},"query":{},"body":{"nome":"Neury-Mendes","email":"user@example.com","telefone":"+1 555-0100","utm_source":"ig","utm_campaign":"facebook_conversao_lead-ad_navio-gusttavo-lima-2026_formulario_sdria","utm_content":"navio-gusttavo-lima-2026_interesses-alto-valor_sdria_01","utm_term":"estatico_navio-gusttavo-lima-2026_consideracao","cabine_pessoas":"2 pessoas","Já fez um cruzeiro?":"Não","Qual tipo de experience resource você deseja?":"Varanda All Inclusive","Deseja receber um orçamento?\t":"Sim","Qual seu whatsapp? Enviaremos um Orçamento por lá":{"\t":"user@example.com"}},"webhookUrl":"https://n8nh.demo-events.com.br/webhook/forms","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"f183db1b-dc39-46d7-9159-7ff0211c8d18","activeVersionId":null,"versionCounter":744,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-30T18:39:10.382Z","createdAt":"2026-01-30T18:39:10.382Z","role":"workflow:owner","workflowId":"FtVpVLtvO-fEyQ087brGc","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}