workflows_extracted/fz3EO4IoFX8jWZgYRAHLE.json
{"updatedAt":"2026-03-05T19:59:10.427Z","createdAt":"2026-03-05T14:54:10.532Z","id":"fz3EO4IoFX8jWZgYRAHLE","name":"WF_Orquestrador_Audio_Transcription_dev","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chatwoot-domain_assistant","options":{}},"id":"f21e91cd-60b4-4ef3-ae99-6812e6cad348","name":"Webhook Chatwoot","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1104,32],"webhookId":"sdr-chatwoot-main"},{"parameters":{"assignments":{"assignments":[{"id":"em-01","name":"chatid","value":"={{ $json.body.messages[0].sender.phone_number }}","type":"string"},{"id":"em-02","name":"mensagem","value":"={{ $json.body.messages[0].content }}","type":"string"},{"id":"em-03","name":"name","value":"={{ $json.body.messages[0].sender.name }}","type":"string"},{"id":"em-04","name":"conversation_id","value":"={{ $json.body.messages[0].conversation_id }}","type":"number"},{"id":"em-05","name":"account_id","value":"={{ $json.body.messages[0].account_id }}","type":"number"},{"id":"em-06","name":"contact_id","value":"={{ $json.body.messages[0].sender.id }}","type":"number"},{"id":"em-07","name":"inbox_id","value":"={{ $json.body.contact_inbox.inbox_id }}","type":"number"},{"id":"em-08","name":"message_type","value":"={{ $json.body.messages[0].attachments[0].file_type }}","type":"string"},{"id":"em-09","name":"urlchatwoot","value":"https://chatwoot.demo-events.com.br","type":"string"},{"id":"em-10","name":"chatwoottoken","value":"${CHATWOOT_TOKEN}","type":"string"},{"id":"e0c48828-44f2-48c1-b389-571ae6ac8b56","name":"tabela_whatsapp","value":"sdr_whatsapp","type":"string"},{"id":"b50a63d7-768f-44d6-9c39-0274a7788903","name":"tipo_fluxo","value":"homologacao","type":"string"}]},"options":{}},"id":"80fbb645-48b6-43ef-b6ff-1499f80aee05","name":"Extract Message Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,32]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"vm-02","leftValue":"={{ $json.chatid }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"vm-03","leftValue":"={{ $json.inbox_id }}","rightValue":35,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"5ea2fcac-820d-4833-bcc1-3e6d3a60b7c9","name":"Validate Message","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-656,32]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"rc-01","leftValue":"={{ $json.mensagem }}","rightValue":"#reset","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"4461a1ae-a122-44c0-970c-b4178390c3fd","name":"Check Reset Command","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-432,32]},{"parameters":{"operation":"get","tableId":"={{ $('Extract Message Data').item.json.tabela_whatsapp }}","filters":{"conditions":[{"keyName":"=Telefone","keyValue":"={{ $json.chatid }}"}]}},"id":"91b84e6e-48a4-476a-9877-c1e6cbdb7994","name":"Get Lead Status","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-208,224],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"operation":"delete","tableId":"={{ $('Extract Message Data').item.json.tabela_whatsapp }}","matchType":"allFilters","filters":{"conditions":[{"keyName":"=Telefone","condition":"eq","keyValue":"={{ $('Extract Message Data').item.json.chatid }}"}]}},"id":"5c94a4d0-7196-464a-826e-399c589f02f3","name":"Reset Lead Data","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-208,-64],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"operation":"delete","key":"={{ $('Extract Message Data').item.json.chatid }}_video_inicial_{{ $('Extract Message Data').item.json.tipo_fluxo }}"},"id":"1a66b047-11cf-41b3-93f6-15d705cdaa0e","name":"Clear Redis Memory on Reset","type":"n8n-nodes-base.redis","typeVersion":1,"position":[16,-64],"credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"promo","mode":"list","cachedResultName":"promo"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"={{ $('Extract Message Data').item.json.chatid }}_{{ $('Extract Message Data').item.json.tipo_fluxo }}"}]},"options":{}},"id":"2a9446c8-d839-4609-b133-fbd935e0df74","name":"Deleta conversas","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,-64],"credentials":{"postgres":{"id":"TTrqj0rnakiukRd7","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"cr-01","name":"status","value":"reset concluído","type":"string"}]},"options":{}},"id":"f2a84f97-78a1-44ec-b867-4b75a5da0651","name":"Confirm Reset","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,-64]},{"parameters":{"jsCode":"const trigger = $('Extract Message Data').first().json;\nconst leadDb  = $('Get Lead Status').first().json || {};\n\nconst pausado = leadDb.pausado || leadDb.Pausado || false;\nif (pausado === true) {\n  return [{ json: { etapa: 'pausado', pausado: true, lead_data: leadDb, trigger } }];\n}\n\nlet etapa = (leadDb.Etapa || leadDb.etapa || 'qualificacao').toLowerCase().trim();\nconst validas = ['qualificacao','negociacao','pagamento','handoff'];\nif (!validas.includes(etapa)) etapa = 'qualificacao';\n\n// \"nova\" e ausência → qualificacao\nif (etapa === 'nova') etapa = 'qualificacao';\n\nreturn [{ json: {\n  etapa,\n  pausado: false,\n  lead_data: leadDb,\n  trigger,\n  chatid:          trigger.chatid,\n  mensagem:        trigger.mensagem,\n  urlchatwoot:     trigger.urlchatwoot,\n  account_id:      trigger.account_id,\n  conversation_id: trigger.conversation_id,\n  chatwoottoken:   trigger.chatwoottoken,\n  contact_id:      trigger.contact_id\n} }];"},"id":"8eb42035-a941-4e3f-be1c-8d4b7e690524","name":"Determine Route","type":"n8n-nodes-base.code","typeVersion":2,"position":[2928,320]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.lead_data.etapa || $json.etapa }}","rightValue":"qualificacao","operator":{"type":"string","operation":"equals"},"id":"r-q"}],"combinator":"or"},"renameOutput":true,"outputKey":"Qualificacao"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.lead_data.etapa || $json.etapa }}","rightValue":"negociacao","operator":{"type":"string","operation":"equals"},"id":"r-n"}],"combinator":"or"},"renameOutput":true,"outputKey":"Negociacao"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.lead_data.etapa || $json.etapa }}","rightValue":"pagamento","operator":{"type":"string","operation":"equals"},"id":"r-p"}],"combinator":"or"},"renameOutput":true,"outputKey":"Pagamento"}]},"options":{"fallbackOutput":"extra"}},"id":"b98629cb-8ebc-480c-9c28-dec64a1bf6d3","name":"Route by Status","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[3152,288]},{"parameters":{"workflowId":{"__rl":true,"value":"CCy8RhSqcWXc56zaZQGiX","mode":"list","cachedResultUrl":"/workflow/CCy8RhSqcWXc56zaZQGiX","cachedResultName":"WF_Qualificacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chatid":"={{ $json.trigger.chatid }}","contact_id":"={{ String($json.trigger.contact_id) }}","chatwoottoken":"={{ $json.trigger.chatwoottoken }}","conversation_id":"={{ String($json.trigger.conversation_id) }}","account_id":"={{ String($json.trigger.account_id) }}","urlchatwoot":"={{ $json.trigger.urlchatwoot }}","mensagem":"={{ $('Code in JavaScript').item.json.mensagem }}","tabela_whatsapp":"={{ $('Extract Message Data').item.json.tabela_whatsapp }}","tipo_fluxo":"={{ $('Extract Message Data').item.json.tipo_fluxo }}"},"matchingColumns":[],"schema":[{"id":"chatid","displayName":"chatid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"urlchatwoot","displayName":"urlchatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contact_id","displayName":"contact_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3376,32],"id":"446f9fa1-6fa5-41c7-9271-0e5b6ba11588","name":"Call WF Qualificacao"},{"parameters":{"workflowId":{"__rl":true,"value":"71DPNrJ4J0TB-6PvmGUzx","mode":"list","cachedResultUrl":"/workflow/71DPNrJ4J0TB-6PvmGUzx","cachedResultName":"WF_Negociacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chatid":"={{ $json.trigger.chatid }}","contact_id":"={{ String($json.trigger.contact_id) }}","chatwoottoken":"={{ $json.trigger.chatwoottoken }}","conversation_id":"={{ String($json.trigger.conversation_id) }}","account_id":"={{ String($json.trigger.account_id) }}","urlchatwoot":"={{ $json.trigger.urlchatwoot }}","mensagem":"={{ $('Code in JavaScript').item.json.mensagem }}","tabela_whatsapp":"={{ $('Extract Message Data').item.json.tabela_whatsapp }}","tipo_fluxo":"={{ $('Extract Message Data').item.json.tipo_fluxo }}"},"matchingColumns":[],"schema":[{"id":"chatid","displayName":"chatid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"urlchatwoot","displayName":"urlchatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contact_id","displayName":"contact_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3376,224],"id":"f1d30112-343b-4abd-8703-c5b73a3364f4","name":"Call WF Negociacao"},{"parameters":{"workflowId":{"__rl":true,"value":"B1CzCJ4vIpcoe4WxkfsZ5","mode":"list","cachedResultUrl":"/workflow/B1CzCJ4vIpcoe4WxkfsZ5","cachedResultName":"WF_Pagamento"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chatid":"={{ String($json.trigger.chatid) }}","contact_id":"={{ String($json.trigger.contact_id) }}","chatwoottoken":"={{ $json.trigger.chatwoottoken }}","conversation_id":"={{ String($json.trigger.conversation_id) }}","account_id":"={{ String($json.trigger.account_id) }}","urlchatwoot":"={{ $json.trigger.urlchatwoot }}","mensagem":"={{ $('Code in JavaScript').item.json.mensagem }}","tabela_whatsapp":"={{ $('Extract Message Data').item.json.tabela_whatsapp }}","tipo_fluxo":"={{ $('Extract Message Data').item.json.tipo_fluxo }}"},"matchingColumns":[],"schema":[{"id":"chatid","displayName":"chatid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"urlchatwoot","displayName":"urlchatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contact_id","displayName":"contact_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"em_qual_etapa","displayName":"em_qual_etapa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3376,416],"id":"85cac7ad-1d90-489a-975d-67785e4653df","name":"Call WF Pagamento"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ba033595-af4b-48b4-bd51-ab9d5537de48","leftValue":"={{ $json.pausado }}","rightValue":"Ativada","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-544,512],"id":"ff717bca-677d-4a94-ab19-cc8560352d56","name":"Lead Pausado?","disabled":true},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[688,320],"id":"12bab589-c1f4-403f-882a-f0f094697713","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"V6KXtm34XKIltVzc","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Extract Message Data').item.json.mensagem }}","rightValue":"text","operator":{"type":"string","operation":"exists","singleValue":true},"id":"175286c8-574c-4e4d-8be1-459cb46ab491"}],"combinator":"and"},"renameOutput":true,"outputKey":"TEXT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3fb552d6-be7d-405b-8195-d22a6748b937","leftValue":"={{ $('Extract Message Data').item.json.message_type }}","rightValue":"=audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AUDIO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fb5a8b6a-789f-4131-9867-399aae556762","leftValue":"={{ $('Extract Message Data').item.json.message_type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[240,208],"id":"73c5ca27-5961-4655-8f85-b9c15e1cd5cc","name":"Switch","alwaysOutputData":false},{"parameters":{"operation":"push","list":"={{ $('Extract Message Data').item.json.chatid }}_{{ $('Extract Message Data').item.json.tipo_fluxo }}","messageData":"={{ $json.text }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[912,320],"id":"c68b2145-9081-4618-a09c-34e08d5cc7b5","name":"AUDIO MEMORY1","alwaysOutputData":true,"credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"O que está na imagem?","inputType":"base64","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[688,512],"id":"1da11703-bbfd-4c4e-8329-1f2a4b181d73","name":"Analyze image1","credentials":{"openAiApi":{"id":"V6KXtm34XKIltVzc","name":"OpenAi account"}}},{"parameters":{"operation":"push","list":"={{ $('Extract Message Data').item.json.chatid }}_{{ $('Extract Message Data').item.json.tipo_fluxo }}","messageData":"={{ $('Extract Message Data').item.json.mensagem }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[912,128],"id":"27e35528-750c-4829-8f67-ab351206877f","name":"TEXT MEMORY","alwaysOutputData":true,"credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('Extract Message Data').item.json.chatid }}_{{ $('Extract Message Data').item.json.tipo_fluxo }}","messageData":"={{ $json.output[0].content[0].text }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[912,512],"id":"5bc52fa4-af26-4827-b049-ac977f537b30","name":"IMAGE MEMORY1","alwaysOutputData":true,"credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"url":"={{ $('Webhook Chatwoot').item.json.body.messages[0].attachments[0].data_url }}","options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[464,320],"id":"39fe4a0a-86f9-43b2-9baa-e5be9e0a099a","name":"HTTP Request"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1360,320],"id":"bd22b959-5400-48e1-88c6-db6fa5b1372a","name":"Wait","webhookId":"a15b5aea-b552-47ed-aeab-219b975d2107"},{"parameters":{"operation":"get","propertyName":"Message1","key":"={{ $('Extract Message Data').item.json.chatid }}_{{ $('Extract Message Data').item.json.tipo_fluxo }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1136,320],"id":"28b902ee-f383-4e25-9868-7b69283d19e7","name":"Get Memory1","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"url":"={{ $('Webhook1').item.json.body.messages[0].attachments[0].data_url }}","options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[464,512],"id":"55097bcd-ef90-41c7-8701-9011c3d7078a","name":"HTTP Request4"},{"parameters":{"assignments":{"assignments":[{"id":"c5ede0a9-9667-4a4e-8580-2eb5c3bb5f22","name":"Message2","value":"={{ $json.Message2 }}","type":"array"},{"id":"8ce7a270-ae08-431b-9856-4a71672ca304","name":"Message1","value":"={{ $('Get Memory1').item.json.Message1 }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1808,320],"id":"bdbf6ab0-65f5-4dc2-98f7-48acb9566272","name":"Edit Fields"},{"parameters":{"jsCode":"const message1 = $json.Message1;\nconst message2 = $json.Message2;\n\n// Se Message2 for null/vazio, pode seguir\nif (!message2) {\n  const mensagemCompleta = [...message1].reverse().join(\"\\n\");\n  return [{\n    json: {\n      mensagem: mensagemCompleta,\n      resultado: true\n    }\n  }];\n}\n\nconst saoIguais = JSON.stringify(message1) === JSON.stringify(message2);\n\nif (!saoIguais) {\n  return [{\n    json: {\n      resultado: false\n    }\n  }];\n}\n\nconst mensagemCompleta = [...message1].reverse().join(\"\\n\");\nreturn [{\n  json: {\n    mensagem: mensagemCompleta,\n    resultado: true\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2032,320],"id":"15c709d6-1ac2-4bd8-ae8b-a2d142b251c2","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8b968ca1-a12f-40db-9997-3bf852d4c1ed","leftValue":"={{ $json.resultado }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2256,320],"id":"9dc589fc-8aab-421f-96f5-ecf012edaba8","name":"If"},{"parameters":{"operation":"get","propertyName":"Message2","key":"={{ $('Extract Message Data').item.json.chatid }}_{{ $('Extract Message Data').item.json.tipo_fluxo }}","options":{"dotNotation":true}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1584,320],"id":"5fbf8486-2c19-4b68-8926-13a66b150fe0","name":"Get Memory2","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $('Extract Message Data').item.json.chatid }}_{{ $('Extract Message Data').item.json.tipo_fluxo }}"},"id":"c70cc17a-750b-44cb-aa0d-caee23f0d5f1","name":"Clear Redis Memory on Reset1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[240,-64],"credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $('Extract Message Data').item.json.chatid }}_audio_{{ $('Extract Message Data').item.json.tipo_fluxo }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[464,-64],"id":"197bae25-ba9c-4d86-b9a4-d6c363c47103","name":"Redis","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"operation":"executeQuery","query":"-- SELECT \n--   * \n-- FROM pg_catalog.pg_tables\n-- WHERE schemaname = 'public'\n--   ;\n\nSELECT\n      column_name\nFROM\n      information_schema.columns\nWHERE\n      table_name = 'sdr_chatwoot_message_info';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1024,-544],"id":"38a34367-d230-49ee-b999-c8d19f324712","name":"Execute a SQL query","credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}}},{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n</head>\n<body>\n  <div>\n    <pre><code>{{ JSON.stringify($('Extract Message Data').all(), null, 4) }}</code></pre>\n    <pre><code>{{ JSON.stringify($json, null, 4) }}</code></pre>\n    <pre><code>{{ JSON.stringify($('Webhook Chatwoot').all(), null, 4) }}</code></pre>\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-144,400],"id":"e56cdc74-082a-4611-8165-37f61fc438c0","name":"DEBUG_LOG"},{"parameters":{"operation":"executeQuery","query":"-- CREATE TABLE sdr_chatwoot_message_info (\n--     message_id INT PRIMARY KEY,\n--     conversation_id INT,\n--     account_id INT,\n--     contact_id INT,\n--     inbox_id INT,\n--     chatid VARCHAR(20),\n--     name VARCHAR(100),\n--     tipo_mensagem VARCHAR(20),\n--     urlchatwoot VARCHAR(255),\n--     chatwoottoken VARCHAR(100),\n--     tabela_whatsapp VARCHAR(50),\n--     tipo_fluxo VARCHAR(50),\n--     mensagem TEXT\n-- );\n\nSELECT * FROM sdr_chatwoot_message_info;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-656,-480],"id":"20c7d353-f3eb-4279-8e26-29b5f0ff2151","name":"Table Creation Query","credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO sdr_chatwoot_message_info (\n    message_id,\n    conversation_id,\n    account_id,\n    contact_id,\n    inbox_id,\n    chatid,\n    name,\n    tipo_mensagem,\n    urlchatwoot,\n    chatwoottoken,\n    tabela_whatsapp,\n    tipo_fluxo,\n    mensagem\n) VALUES (\n    {{ $('Webhook Chatwoot').first().json.body.messages.first().id }},  -- message_id\n    {{ $('Extract Message Data').first().json.conversation_id }},    -- conversation_id\n    {{ $('Extract Message Data').first().json.account_id }},       -- account_id\n    {{ $('Extract Message Data').first().json.contact_id }},   -- contact_id\n    {{ $('Extract Message Data').first().json.inbox_id }},      -- inbox_id\n    '{{ $('Extract Message Data').first().json.chatid }}', --chatid\n    '{{ $('Extract Message Data').first().json.name }}', --name\n    '{{ $('Extract Message Data').first().json.message_type }}', --tipo_mensagem\n    '{{ $('Extract Message Data').first().json.urlchatwoot }}', --urlchatwoot\n    '{{ $('Extract Message Data').first().json.chatwoottoken }}', --chatwoottoken\n    '{{ $('Extract Message Data').first().json.tabela_whatsapp }}', --tabela_whatsapp\n    '{{ $('Extract Message Data').first().json.tipo_fluxo }}', -- tipo_fluxo\n    '{{ $('Transcribe a recording').first().json.text }}'     -- mensagem\n)\nON CONFLICT (message_id) DO UPDATE SET\n    conversation_id = EXCLUDED.conversation_id,\n    account_id = EXCLUDED.account_id,\n    contact_id = EXCLUDED.contact_id,\n    inbox_id = EXCLUDED.inbox_id,\n    chatid = EXCLUDED.chatid,\n    name = EXCLUDED.name,\n    tipo_mensagem = EXCLUDED.tipo_mensagem,\n    urlchatwoot = EXCLUDED.urlchatwoot,\n    chatwoottoken = EXCLUDED.chatwoottoken,\n    tabela_whatsapp = EXCLUDED.tabela_whatsapp,\n    tipo_fluxo = EXCLUDED.tipo_fluxo,\n    mensagem = EXCLUDED.mensagem;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[64,400],"id":"5a3cfa24-6081-4c24-87a6-2a40608b01d5","name":"Insert transcription on message info","credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}}}],"connections":{"Webhook Chatwoot":{"main":[[{"node":"Extract Message Data","type":"main","index":0}]]},"Extract Message Data":{"main":[[{"node":"Validate Message","type":"main","index":0}]]},"Validate Message":{"main":[[{"node":"Check Reset Command","type":"main","index":0}]]},"Check Reset Command":{"main":[[],[{"node":"Get Lead Status","type":"main","index":0}]]},"Get Lead Status":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Reset Lead Data":{"main":[[{"node":"Clear Redis Memory on Reset","type":"main","index":0}]]},"Clear Redis Memory on Reset":{"main":[[{"node":"Clear Redis Memory on Reset1","type":"main","index":0}]]},"Deleta conversas":{"main":[[{"node":"Confirm Reset","type":"main","index":0}]]},"Determine Route":{"main":[[{"node":"Route by Status","type":"main","index":0}]]},"Route by Status":{"main":[[{"node":"Call WF Qualificacao","type":"main","index":0}],[{"node":"Call WF Negociacao","type":"main","index":0}],[{"node":"Call WF Pagamento","type":"main","index":0}],[{"node":"Call WF Pagamento","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"DEBUG_LOG","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}],[]]},"AUDIO MEMORY1":{"main":[[{"node":"Get Memory1","type":"main","index":0}]]},"Analyze image1":{"main":[[{"node":"IMAGE MEMORY1","type":"main","index":0}]]},"TEXT MEMORY":{"main":[[{"node":"Get Memory1","type":"main","index":0}]]},"IMAGE MEMORY1":{"main":[[{"node":"Get Memory1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Memory2","type":"main","index":0}]]},"Get Memory1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Analyze image1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Determine Route","type":"main","index":0}]]},"Get Memory2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Clear Redis Memory on Reset1":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Deleta conversas","type":"main","index":0}]]},"DEBUG_LOG":{"main":[[{"node":"Insert transcription on message info","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook Chatwoot":[{"json":{"headers":{"host":"n8nh.demo-events.com.br","user-agent":"axios/1.12.0","content-length":"6565","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"0.0.0.0","x-forwarded-host":"n8nh.demo-events.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f825d0165a8e","x-real-ip":"0.0.0.0"},"params":{},"query":{},"body":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Whatsapp","contact_inbox":{"id":8439,"contact_id":42068,"inbox_id":35,"source_id":"55555-0100","created_at":"2026-02-26T20:18:41.898Z","updated_at":"2026-02-26T20:18:41.898Z","hmac_verified":false,"pubsub_token":"${PUBSUB_TOKEN}"},"id":6642,"inbox_id":35,"messages":[{"id":148113,"content":null,"account_id":1,"inbox_id":35,"conversation_id":6642,"message_type":0,"created_at":1772735814,"updated_at":"2026-03-05T18:36:54.321Z","private":false,"status":"sent","source_id":"wamid.HBgNNTUxMTk1NTg5MjE2NBUCABIYIEE1NzQzNTFDQzlCN0NDNDE3RkU4MzEyMUNCQjlFNzFDAA==","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":42068,"external_source_ids":{},"additional_attributes":{},"processed_message_content":null,"sentiment":{},"conversation":{"assignee_id":21,"unread_count":1,"last_activity_at":1772735814,"contact_inbox":{"source_id":"55555-0100"}},"attachments":[{"id":25565,"message_id":148113,"file_type":"audio","account_id":1,"extension":null,"data_url":"https://chatwoot.demo-events.com.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaGVuIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2f30e820df30534dc0a8a605449c667efa35ad8b/File.ogg","thumb_url":"","file_size":12811,"width":null,"height":null,"transcribed_text":""}],"sender":{"additional_attributes":{},"custom_attributes":{"cpf":"","navio":"","estilo":"","oramento":"","qualificao":"BAIXA","qtd_pessoas":"","resumo_conversa":"🧾 RESUMO DA CONVERSA — PAULO  Nome: Paulo   Telefone: +1 555-0100   Perfil: Casal, primeira viagem de cruzeiro   Status: Lead interessado (quente)  👤 PERFIL DO LEAD  - Nunca fez cruzeiro antes   - Interesse em cruzeiro temático sertanejo   - Grupo: 2 pessoas (Paulo e esposa)  🚢 CRUZEIRO DE INTERESSE  - Navio: Navio CH&X 2026 – Chitãozinho & Xororó   - Data: 03 a 06 de dezembro de 2026   - Embarque: Santos   - Duração: 3 noites  👥 COMPOSIÇÃO DO GRUPO  - 2 pessoas (casal)   - Ocupação: experience resource dupla (interesse em experience resource interna)  💰 VALORES APRESENTADOS (por pessoa)  - Interna: 12x R$ 452 ou R$ 5.418 à vista   - Janela/Externa: 12x R$ 502 ou R$ 6.018 à vista   - Varanda: 12x R$ 561 ou R$ 6.738 à vista   - Suíte Experience e Yacht Club: opções premium disponíveis    📌 Parcelamento em até 12x sem juros   📌 Bebidas alcoólicas e especiais não inclusas no pacote, com opção de aquisição à parte   📌 Inclusos: hospedagem, refeições principais, shows, entretenimento e áreas comuns  ❓ OBJETIVOS E INTERESSES  - Curtição da experiência temática sertaneja com shows da dupla Chitãozinho & Xororó e outros artistas   - Expectativa de exploração da experiência imersiva e custo-benefício do pacote  📌 STATUS ATUAL  🟢 Lead qualificado para atendimento  Próximo passo: atendimento humano para fechamento e negociação  Atenciosamente,   [Seu nome ou equipe Demo Events Co]","vendedor_responsavel":"Fabyanne Amaral","inteligencia_artificial":"Desativada"},"email":null,"id":42068,"identifier":"55555-0100@s.whatsapp.net","name":"Paulo","phone_number":"+1 555-0100","thumbnail":"https://chatwoot.demo-events.com.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcUNrIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--1d3023778fa03aaeff731118405207b99c4922d8/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--63c6038b1899698ee0aa58e3f03681a1010d1bc0/55555-0100-55555-0100.jpg","blocked":false,"type":"contact"}}],"labels":["baixa_qualificacao"],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{"cpf":"","navio":"","estilo":"","oramento":"","qualificao":"BAIXA","qtd_pessoas":"","resumo_conversa":"🧾 RESUMO DA CONVERSA — PAULO  Nome: Paulo   Telefone: +1 555-0100   Perfil: Casal, primeira viagem de cruzeiro   Status: Lead interessado (quente)  👤 PERFIL DO LEAD  - Nunca fez cruzeiro antes   - Interesse em cruzeiro temático sertanejo   - Grupo: 2 pessoas (Paulo e esposa)  🚢 CRUZEIRO DE INTERESSE  - Navio: Navio CH&X 2026 – Chitãozinho & Xororó   - Data: 03 a 06 de dezembro de 2026   - Embarque: Santos   - Duração: 3 noites  👥 COMPOSIÇÃO DO GRUPO  - 2 pessoas (casal)   - Ocupação: experience resource dupla (interesse em experience resource interna)  💰 VALORES APRESENTADOS (por pessoa)  - Interna: 12x R$ 452 ou R$ 5.418 à vista   - Janela/Externa: 12x R$ 502 ou R$ 6.018 à vista   - Varanda: 12x R$ 561 ou R$ 6.738 à vista   - Suíte Experience e Yacht Club: opções premium disponíveis    📌 Parcelamento em até 12x sem juros   📌 Bebidas alcoólicas e especiais não inclusas no pacote, com opção de aquisição à parte   📌 Inclusos: hospedagem, refeições principais, shows, entretenimento e áreas comuns  ❓ OBJETIVOS E INTERESSES  - Curtição da experiência temática sertaneja com shows da dupla Chitãozinho & Xororó e outros artistas   - Expectativa de exploração da experiência imersiva e custo-benefício do pacote  📌 STATUS ATUAL  🟢 Lead qualificado para atendimento  Próximo passo: atendimento humano para fechamento e negociação  Atenciosamente,   [Seu nome ou equipe Demo Events Co]","vendedor_responsavel":"Fabyanne Amaral","inteligencia_artificial":"Desativada"},"email":null,"id":42068,"identifier":"55555-0100@s.whatsapp.net","name":"Paulo","phone_number":"+1 555-0100","thumbnail":"https://chatwoot.demo-events.com.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcUNrIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--1d3023778fa03aaeff731118405207b99c4922d8/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--63c6038b1899698ee0aa58e3f03681a1010d1bc0/55555-0100-55555-0100.jpg","blocked":false,"type":"contact"},"assignee":{"id":21,"name":"Fabyanne Amaral","available_name":"Fabyanne Amaral","avatar_url":"","type":"user","availability_status":null,"thumbnail":""},"assignee_type":"User","team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":1,"first_reply_created_at":"2026-02-26T20:21:36.854Z","priority":null,"waiting_since":1772735814,"agent_last_seen_at":1772724271,"contact_last_seen_at":0,"last_activity_at":1772735814,"timestamp":1772735814,"created_at":1772137121,"updated_at":1772735814.380526,"event":"automation_event.message_created"},"webhookUrl":"https://n8nh.demo-events.com.br/webhook/chatwoot-domain_assistant","executionMode":"production"}}],"Determine Route":[{"json":{"etapa":"negociacao","pausado":false,"lead_data":{"id":12,"Nome":"Thiago","Telefone":"+1 555-0100","Email":"","CPF":"","Pontuacao":0,"Navio":"89 Rock Boat | 40 Anos de 89FM","QtdPessoas":"4","estilo":"ROCK","Orcamento":null,"status":"","DataEntrada":"2026-03-02T20:24:32.710-03:00","hora_mensagem":"segunda-feira, 02 de março de 2026, 20:27","mensagem_lead":false,"pausado":false,"fup":null,"vendedor":null,"campanha":null,"conjunto_anuncios":null,"anuncio":null,"resumo_conversa":null,"id_contato_chatwoot":"42065","id_conversa_chatwoot":"6624","UltimaMensagem":"2026-03-02T20:27:39.418","origem":"whatsapp","etapa":"negociacao","em_qual_etapa":"e4"},"trigger":{"chatid":"+1 555-0100","mensagem":"Quero saber mais detalhes","name":"Thiago","conversation_id":6624,"account_id":1,"contact_id":42065,"inbox_id":35,"message_type":null,"urlchatwoot":"https://chatwoot.demo-events.com.br","chatwoottoken":"${CHATWOOT_TOKEN}","tabela_whatsapp":"sdr_whatsapp","tipo_fluxo":"homologacao"},"chatid":"+1 555-0100","mensagem":"Quero saber mais detalhes","urlchatwoot":"https://chatwoot.demo-events.com.br","account_id":1,"conversation_id":6624,"chatwoottoken":"${CHATWOOT_TOKEN}","contact_id":42065}}],"DEBUG_LOG":[{"json":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n</head>\n<body>\n  <div>\n    <pre><code>[\n    {\n        \"json\": {\n            \"chatid\": \"+1 555-0100\",\n            \"mensagem\": null,\n            \"name\": \"Paulo\",\n            \"conversation_id\": 6642,\n            \"account_id\": 1,\n            \"contact_id\": 42068,\n            \"inbox_id\": 35,\n            \"message_type\": \"audio\",\n            \"urlchatwoot\": \"https://chatwoot.demo-events.com.br\",\n            \"chatwoottoken\": \"${CHATWOOT_TOKEN}\",\n            \"tabela_whatsapp\": \"sdr_whatsapp\",\n            \"tipo_fluxo\": \"homologacao\"\n        },\n        \"pairedItem\": {\n            \"item\": 0\n        }\n    }\n]</code></pre>\n    <pre><code>{\n    \"text\": \"Olá DomainAssistant, eu queria saber mais informações sobre o navio do Chitãozinho-Xororó.\",\n    \"usage\": {\n        \"type\": \"duration\",\n        \"seconds\": 6\n    }\n}</code></pre>\n    <pre><code>[\n    {\n        \"json\": {\n            \"headers\": {\n                \"host\": \"n8nh.demo-events.com.br\",\n                \"user-agent\": \"axios/1.12.0\",\n                \"content-length\": \"6565\",\n                \"accept\": \"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7\",\n                \"accept-encoding\": \"gzip, compress, deflate, br\",\n                \"content-type\": \"application/json\",\n                \"x-forwarded-for\": \"0.0.0.0\",\n                \"x-forwarded-host\": \"n8nh.demo-events.com.br\",\n                \"x-forwarded-port\": \"443\",\n                \"x-forwarded-proto\": \"https\",\n                \"x-forwarded-server\": \"f825d0165a8e\",\n                \"x-real-ip\": \"0.0.0.0\"\n            },\n            \"params\": {},\n            \"query\": {},\n            \"body\": {\n                \"additional_attributes\": {},\n                \"can_reply\": true,\n                \"channel\": \"Channel::Whatsapp\",\n                \"contact_inbox\": {\n                    \"id\": 8439,\n                    \"contact_id\": 42068,\n                    \"inbox_id\": 35,\n                    \"source_id\": \"55555-0100\",\n                    \"created_at\": \"2026-02-26T20:18:41.898Z\",\n                    \"updated_at\": \"2026-02-26T20:18:41.898Z\",\n                    \"hmac_verified\": false,\n                    \"pubsub_token\": \"BvEGXQj3Fb2CQLTinz7RhbKH\"\n                },\n                \"id\": 6642,\n                \"inbox_id\": 35,\n                \"messages\": [\n                    {\n                        \"id\": 148113,\n                        \"content\": null,\n                        \"account_id\": 1,\n                        \"inbox_id\": 35,\n                        \"conversation_id\": 6642,\n                        \"message_type\": 0,\n                        \"created_at\": 1772735814,\n                        \"updated_at\": \"2026-03-05T18:36:54.321Z\",\n                        \"private\": false,\n                        \"status\": \"sent\",\n                        \"source_id\": \"wamid.HBgNNTUxMTk1NTg5MjE2NBUCABIYIEE1NzQzNTFDQzlCN0NDNDE3RkU4MzEyMUNCQjlFNzFDAA==\",\n                        \"content_type\": \"text\",\n                        \"content_attributes\": {},\n                        \"sender_type\": \"Contact\",\n                        \"sender_id\": 42068,\n                        \"external_source_ids\": {},\n                        \"additional_attributes\": {},\n                        \"processed_message_content\": null,\n                        \"sentiment\": {},\n                        \"conversation\": {\n                            \"assignee_id\": 21,\n                            \"unread_count\": 1,\n                            \"last_activity_at\": 1772735814,\n                            \"contact_inbox\": {\n                                \"source_id\": \"55555-0100\"\n                            }\n                        },\n                        \"attachments\": [\n                            {\n                                \"id\": 25565,\n                                \"message_id\": 148113,\n                                \"file_type\": \"audio\",\n                                \"account_id\": 1,\n                                \"extension\": null,\n                                \"data_url\": \"https://chatwoot.demo-events.com.br/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaGVuIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2f30e820df30534dc0a8a605449c667efa35ad8b/File.ogg\",\n                                \"thumb_url\": \"\",\n                                \"file_size\": 12811,\n                                \"width\": null,\n                                \"height\": null,\n                                \"transcribed_text\": \"\"\n                            }\n                        ],\n                        \"sender\": {\n                            \"additional_attributes\": {},\n                            \"custom_attributes\": {\n                                \"cpf\": \"\",\n                                \"navio\": \"\",\n                                \"estilo\": \"\",\n                                \"oramento\": \"\",\n                                \"qualificao\": \"BAIXA\",\n                                \"qtd_pessoas\": \"\",\n                                \"resumo_conversa\": \"🧾 RESUMO DA CONVERSA — PAULO  Nome: Paulo   Telefone: +1 555-0100   Perfil: Casal, primeira viagem de cruzeiro   Status: Lead interessado (quente)  👤 PERFIL DO LEAD  - Nunca fez cruzeiro antes   - Interesse em cruzeiro temático sertanejo   - Grupo: 2 pessoas (Paulo e esposa)  🚢 CRUZEIRO DE INTERESSE  - Navio: Navio CH&X 2026 – Chitãozinho & Xororó   - Data: 03 a 06 de dezembro de 2026   - Embarque: Santos   - Duração: 3 noites  👥 COMPOSIÇÃO DO GRUPO  - 2 pessoas (casal)   - Ocupação: experience resource dupla (interesse em experience resource interna)  💰 VALORES APRESENTADOS (por pessoa)  - Interna: 12x R$ 452 ou R$ 5.418 à vista   - Janela/Externa: 12x R$ 502 ou R$ 6.018 à vista   - Varanda: 12x R$ 561 ou R$ 6.738 à vista   - Suíte Experience e Yacht Club: opções premium disponíveis    📌 Parcelamento em até 12x sem juros   📌 Bebidas alcoólicas e especiais não inclusas no pacote, com opção de aquisição à parte   📌 Inclusos: hospedagem, refeições principais, shows, entretenimento e áreas comuns  ❓ OBJETIVOS E INTERESSES  - Curtição da experiência temática sertaneja com shows da dupla Chitãozinho & Xororó e outros artistas   - Expectativa de exploração da experiência imersiva e custo-benefício do pacote  📌 STATUS ATUAL  🟢 Lead qualificado para atendimento  Próximo passo: atendimento humano para fechamento e negociação  Atenciosamente,   [Seu nome ou equipe Demo Events Co]\",\n                                \"vendedor_responsavel\": \"Fabyanne Amaral\",\n                                \"inteligencia_artificial\": \"Desativada\"\n                            },\n                            \"email\": null,\n                            \"id\": 42068,\n                            \"identifier\": \"55555-0100@s.whatsapp.net\",\n                            \"name\": \"Paulo\",\n                            \"phone_number\": \"+1 555-0100\",\n                            \"thumbnail\": \"https://chatwoot.demo-events.com.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcUNrIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--1d3023778fa03aaeff731118405207b99c4922d8/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--63c6038b1899698ee0aa58e3f03681a1010d1bc0/55555-0100-55555-0100.jpg\",\n                            \"blocked\": false,\n                            \"type\": \"contact\"\n                        }\n                    }\n                ],\n                \"labels\": [\n                    \"baixa_qualificacao\"\n                ],\n                \"meta\": {\n                    \"sender\": {\n                        \"additional_attributes\": {},\n                        \"custom_attributes\": {\n                            \"cpf\": \"\",\n                            \"navio\": \"\",\n                            \"estilo\": \"\",\n                            \"oramento\": \"\",\n                            \"qualificao\": \"BAIXA\",\n                            \"qtd_pessoas\": \"\",\n                            \"resumo_conversa\": \"🧾 RESUMO DA CONVERSA — PAULO  Nome: Paulo   Telefone: +1 555-0100   Perfil: Casal, primeira viagem de cruzeiro   Status: Lead interessado (quente)  👤 PERFIL DO LEAD  - Nunca fez cruzeiro antes   - Interesse em cruzeiro temático sertanejo   - Grupo: 2 pessoas (Paulo e esposa)  🚢 CRUZEIRO DE INTERESSE  - Navio: Navio CH&X 2026 – Chitãozinho & Xororó   - Data: 03 a 06 de dezembro de 2026   - Embarque: Santos   - Duração: 3 noites  👥 COMPOSIÇÃO DO GRUPO  - 2 pessoas (casal)   - Ocupação: experience resource dupla (interesse em experience resource interna)  💰 VALORES APRESENTADOS (por pessoa)  - Interna: 12x R$ 452 ou R$ 5.418 à vista   - Janela/Externa: 12x R$ 502 ou R$ 6.018 à vista   - Varanda: 12x R$ 561 ou R$ 6.738 à vista   - Suíte Experience e Yacht Club: opções premium disponíveis    📌 Parcelamento em até 12x sem juros   📌 Bebidas alcoólicas e especiais não inclusas no pacote, com opção de aquisição à parte   📌 Inclusos: hospedagem, refeições principais, shows, entretenimento e áreas comuns  ❓ OBJETIVOS E INTERESSES  - Curtição da experiência temática sertaneja com shows da dupla Chitãozinho & Xororó e outros artistas   - Expectativa de exploração da experiência imersiva e custo-benefício do pacote  📌 STATUS ATUAL  🟢 Lead qualificado para atendimento  Próximo passo: atendimento humano para fechamento e negociação  Atenciosamente,   [Seu nome ou equipe Demo Events Co]\",\n                            \"vendedor_responsavel\": \"Fabyanne Amaral\",\n                            \"inteligencia_artificial\": \"Desativada\"\n                        },\n                        \"email\": null,\n                        \"id\": 42068,\n                        \"identifier\": \"55555-0100@s.whatsapp.net\",\n                        \"name\": \"Paulo\",\n                        \"phone_number\": \"+1 555-0100\",\n                        \"thumbnail\": \"https://chatwoot.demo-events.com.br/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcUNrIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--1d3023778fa03aaeff731118405207b99c4922d8/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--63c6038b1899698ee0aa58e3f03681a1010d1bc0/55555-0100-55555-0100.jpg\",\n                        \"blocked\": false,\n                        \"type\": \"contact\"\n                    },\n                    \"assignee\": {\n                        \"id\": 21,\n                        \"name\": \"Fabyanne Amaral\",\n                        \"available_name\": \"Fabyanne Amaral\",\n                        \"avatar_url\": \"\",\n                        \"type\": \"user\",\n                        \"availability_status\": null,\n                        \"thumbnail\": \"\"\n                    },\n                    \"assignee_type\": \"User\",\n                    \"team\": null,\n                    \"hmac_verified\": false\n                },\n                \"status\": \"open\",\n                \"custom_attributes\": {},\n                \"snoozed_until\": null,\n                \"unread_count\": 1,\n                \"first_reply_created_at\": \"2026-02-26T20:21:36.854Z\",\n                \"priority\": null,\n                \"waiting_since\": 1772735814,\n                \"agent_last_seen_at\": 1772724271,\n                \"contact_last_seen_at\": 0,\n                \"last_activity_at\": 1772735814,\n                \"timestamp\": 1772735814,\n                \"created_at\": 1772137121,\n                \"updated_at\": 1772735814.380526,\n                \"event\": \"automation_event.message_created\"\n            },\n            \"webhookUrl\": \"https://n8nh.demo-events.com.br/webhook/chatwoot-domain_assistant\",\n            \"executionMode\": \"production\"\n        },\n        \"pairedItem\": {\n            \"item\": 0\n        }\n    }\n]</code></pre>\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"},"pairedItem":{"item":0}}]},"versionId":"382d7409-dead-4cb2-b7ca-f1b69b7c5726","activeVersionId":null,"versionCounter":348,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-05T14:54:10.532Z","createdAt":"2026-03-05T14:54:10.532Z","role":"workflow:owner","workflowId":"fz3EO4IoFX8jWZgYRAHLE","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}