workflows_extracted/GFZEeIFS4NOpG3Ni.json
{"updatedAt":"2026-05-08T20:20:12.305Z","createdAt":"2026-04-14T22:48:58.863Z","id":"GFZEeIFS4NOpG3Ni","name":"FUP_Unico_FreeStyle","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"\nconst mensagens = $input.first().json.mensagens || [];\nconst leadData  = $('Loop Over Items1').first().json;\n\n// ── Dados do lead ──\nconst nome   = leadData.Nome   || 'amigo(a)';\nconst navio  = leadData.Navio  || leadData.navio  || null;\nconst etapa  = leadData.Etapa  || leadData.etapa  || 'qualificacao';\nconst subEtapa = leadData.em_qual_etapa || null;\nconst qtd    = leadData.QtdPessoas || leadData.qtd_pessoas || null;\nconst orcamento = leadData.Orcamento || leadData.orcamento || null;\nconst estilo = leadData.Estilo || leadData.estilo || null;\nconst jaFez  = leadData.ja_fez_cruzeiro;\nconst pontuacao = leadData.Pontuacao || leadData.pontuacao || 0;\nconst valoresEnviados = !!leadData.valores_enviados;\nconst materiaisEnviados = !!leadData.materiais_enviados;\n\n// ── Formatar histórico ──\nconst historico = mensagens\n  .map(m => `[${m.messagem_de}] ${m.content}`)\n  .slice(-20)\n  .join('\\n');\n\n// ── Identificar ponto de abandono ──\nlet pontoAbandono = 'início da conversa';\nif (subEtapa === 'e1') pontoAbandono = 'coleta do nome';\nelse if (subEtapa === 'e2') pontoAbandono = 'pergunta sobre experiência com cruzeiro';\nelse if (subEtapa === 'e3') pontoAbandono = 'pergunta sobre quantidade de pessoas';\nelse if (subEtapa === 'e35' || subEtapa === 'e3.5') pontoAbandono = 'identificação do navio/artista de interesse';\nelse if (subEtapa === 'e37' || subEtapa === 'e3.7') pontoAbandono = 'confirmação do navio (lead de formulário)';\nelse if (subEtapa === 'e4') pontoAbandono = 'apresentação de valores e link de reserva';\nelse if (subEtapa === 'e5') pontoAbandono = 'confirmação de orçamento';\nelse if (subEtapa === 'e6') pontoAbandono = 'scoring e decisão final';\nelse if (etapa === 'pagamento') pontoAbandono = 'etapa de pagamento/fechamento';\nelse if (etapa === 'negociacao') pontoAbandono = 'etapa de negociação';\n\nconst systemMessage = `# IDENTIDADE\nVocê é DomainAssistant, especialista em pré-vendas da Demo Events Co — ORGANIZADORA de festival em alto mar temáticos.\nEmbarque APENAS em Santos/SP. Escopo EXCLUSIVO: cruzeiros temáticos da Demo Events Co.\n\n# MISSÃO\nGerar UMA ÚNICA mensagem de follow-up para reengajar o lead ${nome} que parou de responder.\nA mensagem deve ser natural, calorosa, curta (máx 4 frases) e terminar com UMA pergunta que incentive a resposta.\n\n# CONTEXTO DO LEAD\n- Nome: ${nome}\n- Navio de interesse: ${navio || 'não identificado'}\n- Estilo musical: ${estilo || 'não identificado'}\n- Etapa do funil: ${etapa} (sub-etapa: ${subEtapa || 'n/a'})\n- Ponto de abandono: ${pontoAbandono}\n- Qtd pessoas: ${qtd || 'não informado'}\n- Orçamento: ${orcamento || 'não informado'}\n- Já fez cruzeiro: ${jaFez === true ? 'sim' : jaFez === false ? 'não' : 'não informado'}\n- Valores já enviados: ${valoresEnviados ? 'sim' : 'não'}\n- Materiais já enviados: ${materiaisEnviados ? 'sim' : 'não'}\n- Pontuação: ${pontuacao}/14\n\n# HISTÓRICO DA CONVERSA (últimas mensagens)\n${historico || '(sem histórico disponível)'}\n\n# ESTRATÉGIA POR PONTO DE ABANDONO\n\n## Se parou na QUALIFICAÇÃO (e1/e2/e3):\n- Retomar com leveza, sem repetir perguntas que já foram feitas\n- Criar curiosidade sobre a experiência do cruzeiro\n- Perguntar algo simples para reengajar\n\n## Se parou na IDENTIFICAÇÃO DE NAVIO (e3.5/e3.7):\n- Se mencionou artista/estilo → referenciar isso\n- Se não → apresentar brevemente opções disponíveis de forma entusiasmante\n- \"Vi que você estava interessado(a) em [artista/estilo]...\"\n\n## Se parou na NEGOCIAÇÃO (e4/e5):\n- Se valores já enviados → perguntar se conseguiu ver\n- Se não → criar expectativa sobre os valores\n- Usar gatilho de urgência leve (vagas limitadas)\n- NÃO repetir valores no follow-up\n\n## Se parou no PAGAMENTO:\n- Lead quente — ser mais direto\n- Perguntar se ficou alguma dúvida sobre o processo\n- Mencionar que pode ajudar com qualquer detalhe\n\n# REGRAS ABSOLUTAS\n1. NUNCA inventar preços, datas, artistas ou nomes de cruzeiro\n2. NUNCA mencionar: open bar, bebidas inclusas, meet & greet\n3. NUNCA usar \"prezado(a)\" ou tom formal\n4. NUNCA repetir a apresentação inicial se já foi feita no histórico\n5. NUNCA mencionar Simone ou time comercial\n6. Máximo 1 emoji por mensagem\n7. Tom: caloroso, direto, empático — como uma amiga que lembra de você\n8. Se o navio é conhecido, SEMPRE personalize com o nome do navio/artista\n9. NUNCA pressionar — apenas criar desejo e facilitar o retorno\n10. A mensagem NÃO pode parecer genérica ou automática — deve soar como continuação natural\n\n# FORMATO\nResponda APENAS com a mensagem de texto pronta para enviar. Sem JSON, sem markdown, sem aspas.\nUma mensagem curta, natural, personalizada. Máximo 4 frases + 1 pergunta.`;\n\nconst userMessage = `Gere a mensagem de follow-up para ${nome}. O lead parou de responder na etapa: ${pontoAbandono}.`;\n\nreturn [{ json: { systemMessage, userMessage } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4592,3648],"id":"1413d853-fcf6-44e2-b517-8d2030c38801","name":"Montar Prompt FUP1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"id"},"options":{"maxTokens":500,"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-4352,3872],"id":"534ce5ba-2081-43f3-bb29-b69af60c521b","name":"OpenAI FUP1","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"operation":"executeQuery","query":"select case when me.message_type = 0 then 'Usuario' else 'IA' end messagem_de, me.created_at, me.\"content\"\n  from public.messages me\n  join (SELECT me.conversation_id, me.inbox_id, count(1) cont\n\t\t  from public.messages me\n\t\t where me.message_type in ('0','1')\n\t\t group by me.conversation_id, me.inbox_id) meo\n    on me.conversation_id = meo.conversation_id\n   and me.inbox_id = meo.inbox_id\n  join conversations co \n    on me.conversation_id = co.id\n  join contacts con\n    on con.id = co.contact_id\n  where (me.\"content\"  is not null and me.\"content\" <> '')\n\tand me.inbox_id in (35)\n\tand me.message_type in (0,1)\n    and con.id = $1\n    and co.display_id = $2\n  order by me.id asc","options":{"queryReplacement":"={{ $json.Idcontatochatwoot }}, {{ $json.Idconversachatwoot }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5328,4416],"id":"31ceb0f2-4e95-4bfb-bbc6-31f7d35a8cfb","name":"Buscar Historico FUP2","credentials":{"postgres":{"id":"uSdxNemJ9RfhxUg0","name":"Postgres - Chatwoot"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"mensagens","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-5104,4416],"id":"fe34e29c-37c1-4284-8784-ca533d473628","name":"Aggregate FUP2"},{"parameters":{"jsCode":"\nconst mensagens = $input.first().json.mensagens || [];\nconst leadData  = $('Loop Over Items4').first().json;\n\nconst nome   = leadData.Nome   || 'amigo(a)';\nconst navio  = leadData.Navio  || leadData.navio  || null;\nconst etapa  = leadData.Etapa  || leadData.etapa  || 'qualificacao';\nconst subEtapa = leadData.em_qual_etapa || null;\nconst qtd    = leadData.QtdPessoas || leadData.qtd_pessoas || null;\nconst orcamento = leadData.Orcamento || leadData.orcamento || null;\nconst estilo = leadData.Estilo || leadData.estilo || null;\nconst jaFez  = leadData.ja_fez_cruzeiro;\nconst pontuacao = leadData.Pontuacao || leadData.pontuacao || 0;\nconst valoresEnviados = !!leadData.valores_enviados;\n\nlet pontoAbandono = 'início da conversa';\nif (subEtapa === 'e1') pontoAbandono = 'coleta do nome';\nelse if (subEtapa === 'e2') pontoAbandono = 'experiência com cruzeiro';\nelse if (subEtapa === 'e3') pontoAbandono = 'quantidade de pessoas';\nelse if (subEtapa === 'e35' || subEtapa === 'e3.5') pontoAbandono = 'identificação do navio';\nelse if (subEtapa === 'e37' || subEtapa === 'e3.7') pontoAbandono = 'confirmação do navio';\nelse if (subEtapa === 'e4') pontoAbandono = 'valores e link de reserva';\nelse if (subEtapa === 'e5') pontoAbandono = 'orçamento';\nelse if (subEtapa === 'e6') pontoAbandono = 'decisão final';\nelse if (etapa === 'pagamento') pontoAbandono = 'pagamento/fechamento';\nelse if (etapa === 'negociacao') pontoAbandono = 'negociação';\n\nconst historico = mensagens\n  .map(m => `[${m.messagem_de}] ${m.content}`)\n  .slice(-20)\n  .join('\\n');\n\nconst systemMessage = `# IDENTIDADE\nVocê é DomainAssistant, especialista em pré-vendas da Demo Events Co — ORGANIZADORA de festival em alto mar temáticos.\nEmbarque APENAS em Santos/SP.\n\n# MISSÃO\nGerar a SEGUNDA e ÚLTIMA mensagem de follow-up para ${nome}. Já enviamos uma mensagem anterior (veja o histórico).\nO lead não respondeu à primeira tentativa. Esta é a última chance de reengajamento.\n\n# CONTEXTO DO LEAD\n- Nome: ${nome}\n- Navio: ${navio || 'não identificado'}\n- Estilo: ${estilo || 'não identificado'}\n- Etapa: ${etapa} (sub-etapa: ${subEtapa || 'n/a'})\n- Ponto de abandono: ${pontoAbandono}\n- Qtd pessoas: ${qtd || 'não informado'}\n- Orçamento: ${orcamento || 'não informado'}\n- Já fez cruzeiro: ${jaFez === true ? 'sim' : jaFez === false ? 'não' : 'não informado'}\n- Valores enviados: ${valoresEnviados ? 'sim' : 'não'}\n- Pontuação: ${pontuacao}/14\n\n# HISTÓRICO COMPLETO\n${historico || '(sem histórico)'}\n\n# ESTRATÉGIA — SEGUNDA TENTATIVA (ÚLTIMA)\nEsta mensagem precisa ser DIFERENTE da primeira. Analise o histórico para não repetir abordagem.\n\n## Abordagens recomendadas:\n1. **Gatilho de escassez suave**: \"As experience resource mais procuradas costumam esgotar rápido...\"\n2. **Prova social**: \"A Demo Events Co já levou mais de 300 mil passageiros, tem 20 anos de história...\"\n3. **Valor emocional**: Pintar a cena do cruzeiro de forma envolvente (show ao vivo, mar, festa)\n4. **Facilitação**: \"Se ficou alguma dúvida, estou aqui — sem compromisso!\"\n5. **Pergunta de baixo atrito**: Algo fácil de responder com sim/não\n\n## Personalização obrigatória:\n- Se sabe o navio → mencionar o artista/tema\n- Se sabe o orçamento → referenciar o custo-benefício\n- Se lead avançou até valores → perguntar se viu o link\n- Se lead estava no início → criar curiosidade sobre a experiência\n\n# REGRAS ABSOLUTAS\n1. NUNCA inventar preços, datas, artistas ou nomes de cruzeiro\n2. NUNCA mencionar: open bar, bebidas inclusas, meet & greet\n3. NUNCA usar \"prezado(a)\" ou tom formal\n4. NUNCA mencionar Simone ou time comercial\n5. NUNCA pressionar ou ser insistente — ser acolhedor\n6. NÃO repetir a mesma abordagem da primeira tentativa (analisar histórico)\n7. Máximo 1 emoji. Tom: amigo que quer ajudar, não vendedor insistente\n8. Se não tem navio identificado, mencionar brevemente a diversidade: forró, sertanejo, axé, pagode\n9. Fechar com pergunta aberta e leve\n\n# FORMATO\nResponda APENAS com a mensagem de texto pronta. Sem JSON, sem markdown, sem aspas.\nMáximo 4-5 frases. Deve soar natural e NÃO automática.`;\n\nconst userMessage = `Gere a segunda (e última) mensagem de follow-up para ${nome}. Ponto de abandono: ${pontoAbandono}. Analise o histórico para não repetir a abordagem anterior.`;\n\nreturn [{ json: { systemMessage, userMessage } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4880,4416],"id":"91f33983-bd04-4052-a806-7f73537740a9","name":"Montar Prompt FUP2"},{"parameters":{"promptType":"define","text":"={{ $json.userMessage }}","options":{"systemMessage":"={{ $json.systemMessage }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-4656,4416],"id":"6e5bd303-32ee-438d-aca0-d1cd6800c88c","name":"AI Agent FUP2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"id"},"options":{"maxTokens":500,"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-4736,4656],"id":"347baf5e-ac8a-4b50-a6d7-371f6c82ccd1","name":"OpenAI FUP2","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Este código retorna todos os dados das 10 primeiras linhas\nreturn items.slice(0, 800);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6896,4032],"id":"6aa57c35-73ac-4c7d-9d39-a6944a83eb3d","name":"Pega os 10 Primeiros da Lista"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88ea99f4-6803-4f9c-b0e3-7835171c8eb2","leftValue":"={{ $json.mensagem_lead }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7120,4032],"id":"0f7e3f0e-2adc-4102-95b9-31a721f7d752","name":"If"},{"parameters":{"jsCode":"return items.map(item => {\n  const j = item.json || {};\n\n  const horaMensagemRaw = j[\"Hora Mensagem\"] ?? j[\"HoraMensagem\"] ?? j[\"horaMensagem\"] ?? null;\n  const tempoAtualRaw   = j[\"Tempo atual\"]   ?? j[\"TempoAtual\"]   ?? j[\"tempoAtual\"]   ?? null;\n\n  const horaMensagemStr = typeof horaMensagemRaw === \"string\" ? horaMensagemRaw.trim() : horaMensagemRaw;\n  const tempoAtualStr   = typeof tempoAtualRaw   === \"string\" ? tempoAtualRaw.trim()   : tempoAtualRaw;\n\n  const base = {\n    Nome:               j[\"Nome\"]               ?? null,\n    Id:                 j[\"Id\"]                 ?? null,\n    Telefone:           j[\"Telefone\"]           ?? null,\n    Email:              j[\"Email\"]              ?? null,\n    Idcontatochatwoot:  j[\"Idcontatochatwoot\"]  ?? null,\n    Idconversachatwoot: j[\"Idconversachatwoot\"] ?? null,\n    Navio:              j[\"Navio\"]              ?? null,\n    etapa:              j[\"etapa\"]              ?? null,\n    em_qual_etapa:      j[\"em_qual_etapa\"]      ?? null,\n    QtdPessoas:         j[\"QtdPessoas\"]         ?? null,\n    Orcamento:          j[\"Orcamento\"]          ?? null,\n    ja_fez_cruzeiro:    j[\"ja_fez_cruzeiro\"]    ?? null,\n    materiaisEnviados:  j[\"materiaisEnviados\"]  ?? null,\n    valoresEnviados:    j[\"valoresEnviados\"]    ?? null,\n    \"Hora Mensagem\":    horaMensagemStr         ?? null,\n    \"Tempo atual\":      tempoAtualStr           ?? null\n  };\n\n  if (!horaMensagemStr || !tempoAtualStr) {\n    return {\n      json: {\n        ...base,\n        error: \"Um dos campos de data está vazio\",\n        _debug: {\n          temHoraMensagem:   Boolean(horaMensagemStr),\n          temTempoAtual:     Boolean(tempoAtualStr),\n          chavesDisponiveis: Object.keys(j)\n        }\n      }\n    };\n  }\n\n  // ── Parser 1: ISO 8601 → extrai hora local, ignora offset de fuso\n  // Ex: \"2026-03-04T12:53:44.188-03:00\" → 12h53\n  function parseISO(str) {\n    if (!/^\\d{4}-\\d{2}-\\d{2}T/.test(str)) return null;\n    const m = str.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, yyyy, MM, dd, HH, mm] = m;\n    return new Date(parseInt(yyyy), parseInt(MM) - 1, parseInt(dd), parseInt(HH), parseInt(mm));\n  }\n\n  // ── Parser 2: PT-BR → \"sexta-feira, 06 de março de 2026, 11:50\"\n  function parsePtBr(str) {\n    const meses = {\n      janeiro: 0, fevereiro: 1, março: 2, marco: 2,\n      abril: 3, maio: 4, junho: 5, julho: 6,\n      agosto: 7, setembro: 8, outubro: 9, novembro: 10, dezembro: 11\n    };\n    const clean = str.replace(/^[^,]+,\\s*/, \"\");\n    const m = clean.match(/(\\d{1,2}) de ([^\\s]+) de (\\d{4}), (\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, dd, mesStr, yyyy, HH, MM] = m;\n    const mes = meses[mesStr.toLowerCase()];\n    if (mes === undefined) return null;\n    return new Date(parseInt(yyyy), mes, parseInt(dd), parseInt(HH), parseInt(MM));\n  }\n\n  // ── Tenta ISO primeiro, depois PT-BR\n  function parseData(str) {\n    return parseISO(str) ?? parsePtBr(str);\n  }\n\n  const dataMensagem = parseData(horaMensagemStr);\n  const dataAtual    = parseData(tempoAtualStr);\n\n  if (!dataMensagem || !dataAtual) {\n    return {\n      json: {\n        ...base,\n        error: \"Erro ao interpretar datas\",\n        _debug: {\n          horaMensagemStr,\n          tempoAtualStr,\n          parsedMensagem: String(dataMensagem),\n          parsedAtual:    String(dataAtual)\n        }\n      }\n    };\n  }\n\n  const diffMs      = dataAtual.getTime() - dataMensagem.getTime();\n  const diffHoras   = Math.floor(diffMs / (1000 * 60 * 60));\n  const diffMinutos = Math.floor(diffMs / (1000 * 60)) % 60;\n\n  return {\n    json: {\n      ...base,\n      diferencaHoras:   diffHoras,\n      diferencaMinutos: diffMinutos\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6448,4032],"id":"c4b7b0a5-be65-4bc6-95ff-6971a929125c","name":"Diferença de Horas"},{"parameters":{"assignments":{"assignments":[{"id":"8cd29fb8-ef7b-4aa4-a8ac-b6e0d9f24955","name":"Hora Mensagem","value":"={{ $json.hora_mensagem }}","type":"string"},{"id":"bec4660e-4923-4978-9c33-21ce4ac67c05","name":"Nome","value":"={{ $json.Nome }}","type":"string"},{"id":"7df1b195-f875-4607-b559-65c9c01deef3","name":"Id","value":"={{ $json.id }}","type":"number"},{"id":"12f65e25-6153-4c0c-89a2-10641f96bb1b","name":"Telefone","value":"={{ $json.Telefone }}","type":"string"},{"id":"24044a3e-a502-4954-84d0-a701b9f6f715","name":"Tempo atual","value":"={{ $now.setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}","type":"string"},{"id":"9fdba900-f879-4c33-aab9-3c50fc5aff55","name":"Idcontatochatwoot","value":"={{ $json.id_contato_chatwoot }}","type":"string"},{"id":"2debc26a-881d-4e9e-9292-4b4ec55f214d","name":"Idconversachatwoot","value":"={{ $json.id_conversa_chatwoot }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6672,4032],"id":"4c9677ee-7359-426b-8c28-096951bf684f","name":"Pega Time Mensagem"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d06b6bf-498a-493f-8a78-bc518627a95e","leftValue":"={{ $json.fup }}","rightValue":"1","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7344,4032],"id":"9da29019-6e4a-47d3-8465-91c5e7ca4814","name":"FollowUpStatus = "},{"parameters":{"jsCode":"return items.map(item => {\n  const timeZone = \"America/Sao_Paulo\";\n\n  // Hora atual em São Paulo\n  const nowSP = new Date(\n    new Date().toLocaleString(\"en-US\", { timeZone })\n  );\n  const hour = nowSP.getHours(); // 0–23\n\n  // Janela permitida: 08:00 <= agora < 22:00\n  const withinAllowedTime = hour >= 8 && hour < 22;\n\n  return {\n    json: {\n      ...item.json,\n      currentTime: nowSP.toLocaleString(\"pt-BR\", { timeZone }),\n      withinAllowedTime\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6000,4032],"id":"8b99686b-e69b-4563-98cc-e2c46f56c764","name":"8 as 22 horas1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"92f73086-dc73-4a79-934f-73df426ef77c","leftValue":"={{ $json.withinAllowedTime }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5776,4032],"id":"e582f371-ec62-4eb9-98f9-39db069ba6d7","name":"Se horário é das 08 as "},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-5328,4032],"id":"a9b93768-1836-4d2a-bd2f-1d76d8b3f570","name":"Loop Over Items1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59d71979-05d8-4d71-980f-28581fd939bd","leftValue":"={{ $json.diferencaHoras }}","rightValue":0.9,"operator":{"type":"number","operation":"gt"}},{"id":"b3fc6e27-0b6e-4ee5-8f35-b02f06551e5d","leftValue":"={{ $json.diferencaHoras }}","rightValue":24,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6224,4032],"id":"d92ae267-9585-419f-902a-ef66fe84eab5","name":"maior que 1 hora1"},{"parameters":{"jsCode":"// Este código retorna todos os dados das 10 primeiras linhas\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6896,4800],"id":"5fdeea78-e561-4e4b-bd58-10664cc33506","name":"Pega os 10 Primeiros da Lista4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88ea99f4-6803-4f9c-b0e3-7835171c8eb2","leftValue":"={{ $json['Mensagem Lead'] }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7120,4800],"id":"b2a1b97b-8ea9-4178-b3a7-a1fa21c8a1ba","name":"If25"},{"parameters":{"jsCode":"return items.map(item => {\n  const j = item.json || {};\n\n  const horaMensagemRaw = j[\"Hora Mensagem\"] ?? j[\"HoraMensagem\"] ?? j[\"horaMensagem\"] ?? null;\n  const tempoAtualRaw   = j[\"Tempo atual\"]   ?? j[\"TempoAtual\"]   ?? j[\"tempoAtual\"]   ?? null;\n\n  const horaMensagemStr = typeof horaMensagemRaw === \"string\" ? horaMensagemRaw.trim() : horaMensagemRaw;\n  const tempoAtualStr   = typeof tempoAtualRaw   === \"string\" ? tempoAtualRaw.trim()   : tempoAtualRaw;\n\n  const base = {\n    Nome:               j[\"Nome\"]               ?? null,\n    Id:                 j[\"Id\"]                 ?? null,\n    Telefone:           j[\"Telefone\"]           ?? null,\n    Email:              j[\"Email\"]              ?? null,\n    Idcontatochatwoot:  j[\"Idcontatochatwoot\"]  ?? null,\n    Idconversachatwoot: j[\"Idconversachatwoot\"] ?? null,\n    Navio:              j[\"Navio\"]              ?? null,\n    etapa:              j[\"etapa\"]              ?? null,\n    em_qual_etapa:      j[\"em_qual_etapa\"]      ?? null,\n    QtdPessoas:         j[\"QtdPessoas\"]         ?? null,\n    Orcamento:          j[\"Orcamento\"]          ?? null,\n    ja_fez_cruzeiro:    j[\"ja_fez_cruzeiro\"]    ?? null,\n    materiaisEnviados:  j[\"materiaisEnviados\"]  ?? null,\n    valoresEnviados:    j[\"valoresEnviados\"]    ?? null,\n    \"Hora Mensagem\":    horaMensagemStr         ?? null,\n    \"Tempo atual\":      tempoAtualStr           ?? null\n  };\n\n  if (!horaMensagemStr || !tempoAtualStr) {\n    return {\n      json: {\n        ...base,\n        error: \"Um dos campos de data está vazio\",\n        _debug: {\n          temHoraMensagem:   Boolean(horaMensagemStr),\n          temTempoAtual:     Boolean(tempoAtualStr),\n          chavesDisponiveis: Object.keys(j)\n        }\n      }\n    };\n  }\n\n  // ── Parser 1: ISO 8601 → extrai hora local, ignora offset de fuso\n  // Ex: \"2026-03-04T12:53:44.188-03:00\" → 12h53\n  function parseISO(str) {\n    if (!/^\\d{4}-\\d{2}-\\d{2}T/.test(str)) return null;\n    const m = str.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, yyyy, MM, dd, HH, mm] = m;\n    return new Date(parseInt(yyyy), parseInt(MM) - 1, parseInt(dd), parseInt(HH), parseInt(mm));\n  }\n\n  // ── Parser 2: PT-BR → \"sexta-feira, 06 de março de 2026, 11:50\"\n  function parsePtBr(str) {\n    const meses = {\n      janeiro: 0, fevereiro: 1, março: 2, marco: 2,\n      abril: 3, maio: 4, junho: 5, julho: 6,\n      agosto: 7, setembro: 8, outubro: 9, novembro: 10, dezembro: 11\n    };\n    const clean = str.replace(/^[^,]+,\\s*/, \"\");\n    const m = clean.match(/(\\d{1,2}) de ([^\\s]+) de (\\d{4}), (\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, dd, mesStr, yyyy, HH, MM] = m;\n    const mes = meses[mesStr.toLowerCase()];\n    if (mes === undefined) return null;\n    return new Date(parseInt(yyyy), mes, parseInt(dd), parseInt(HH), parseInt(MM));\n  }\n\n  // ── Tenta ISO primeiro, depois PT-BR\n  function parseData(str) {\n    return parseISO(str) ?? parsePtBr(str);\n  }\n\n  const dataMensagem = parseData(horaMensagemStr);\n  const dataAtual    = parseData(tempoAtualStr);\n\n  if (!dataMensagem || !dataAtual) {\n    return {\n      json: {\n        ...base,\n        error: \"Erro ao interpretar datas\",\n        _debug: {\n          horaMensagemStr,\n          tempoAtualStr,\n          parsedMensagem: String(dataMensagem),\n          parsedAtual:    String(dataAtual)\n        }\n      }\n    };\n  }\n\n  const diffMs      = dataAtual.getTime() - dataMensagem.getTime();\n  const diffHoras   = Math.floor(diffMs / (1000 * 60 * 60));\n  const diffMinutos = Math.floor(diffMs / (1000 * 60)) % 60;\n\n  return {\n    json: {\n      ...base,\n      diferencaHoras:   diffHoras,\n      diferencaMinutos: diffMinutos\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6448,4800],"id":"6e592f0d-015d-4cc2-9004-54ae3bdcb74c","name":"Diferença de Horas4"},{"parameters":{"jsCode":"return items.map(item => {\n  const timeZone = \"America/Sao_Paulo\";\n\n  // Hora atual em São Paulo\n  const nowSP = new Date(\n    new Date().toLocaleString(\"en-US\", { timeZone })\n  );\n  const hour = nowSP.getHours(); // 0–23\n\n  // Janela permitida: 08:00 <= agora < 22:00\n  const withinAllowedTime = hour >= 8 && hour < 22;\n\n  return {\n    json: {\n      ...item.json,\n      currentTime: nowSP.toLocaleString(\"pt-BR\", { timeZone }),\n      withinAllowedTime\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6000,4656],"id":"53e5b9c5-aa5a-4588-a37b-fc412193cb7f","name":"8 as 22 horas4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"92f73086-dc73-4a79-934f-73df426ef77c","leftValue":"={{ $json.withinAllowedTime }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5776,4656],"id":"b4ad7c77-7ba9-400b-b2d4-1864758d0869","name":"Se horário é das 08 as 24"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-5552,4656],"id":"787455f6-cf92-471a-a0e7-4a46c4fb047a","name":"Loop Over Items4"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields1').item.json.chatwooturl }}/api/v1/accounts/{{ $('Edit Fields1').item.json.accountid }}/conversations/{{ $('Loop Over Items4').item.json.Idconversachatwoot }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"=${CHATWOOT_TOKEN}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('AI Agent FUP2').item.json.output }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4240,4416],"id":"c6c12314-03be-4dd6-82c4-24cf29ed7458","name":"HTTP Request","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d06b6bf-498a-493f-8a78-bc518627a95e","leftValue":"={{ $json.fup }}","rightValue":"3","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7344,4800],"id":"e6c70fd0-0726-4b65-8c76-bc39c95d6e87","name":"FollowUpStatus = 4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94168bb8-6766-4363-ba6c-92c41c6466d5","leftValue":"={{ $json.pausado }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"bc5b9d28-2d97-4940-9e7a-876693cbc321","leftValue":"={{ $json.vendedor }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7568,4416],"id":"213b8601-2808-4f35-9f07-14a823cfc624","name":"Se Agendado/Reagendado/Compareceu"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59d71979-05d8-4d71-980f-28581fd939bd","leftValue":"={{ $json.diferencaHoras }}","rightValue":11,"operator":{"type":"number","operation":"gte"}},{"id":"54b4495f-d81b-468f-b125-93e6e3bdf4a8","leftValue":"={{ $json.diferencaHoras }}","rightValue":24,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6224,4800],"id":"1e2e2385-64da-4d72-95c9-cdf712cbb3c4","name":"maior que 24 horas2"},{"parameters":{"operation":"update","tableId":"sdr_whatsapp","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items1').item.json.Id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"hora_mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").toFormat(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"fup","fieldValue":"3"},{"fieldId":"mensagem_lead","fieldValue":"={{false}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3728,3648],"id":"23247ce4-6a8f-4fbb-9ec9-02785191ece6","name":"Update a row","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"operation":"update","tableId":"sdr_whatsapp","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items4').item.json.Id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"hora_mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").toFormat(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"fup","fieldValue":"concluido"},{"fieldId":"mensagem_lead","fieldValue":"={{false}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3952,4416],"id":"92b329c4-f910-40d3-b505-b28efa61d4db","name":"Update a row3","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"=696a38a9f4b47c00132f6497"},{"name":"amount","value":"3000"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2832,3776],"id":"c0dc0b12-17e8-481d-9b28-834f45014ce5","name":"Funil - FUP","executeOnce":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Loop Over Items1').item.json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3504,3648],"id":"2427c46f-79d4-4aaf-832f-1b4c8b7b5de0","name":"Pega id do contato","executeOnce":true,"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $('Pega id do contato6').item.json.contacts[0].deals[0].id || $('Criar a Negociação3').item.json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"=691e211cb7a0b10013abde15"},{"name":"amount","value":"3000"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3056,4512],"id":"870e1759-32cd-4c02-872d-3b0ec6898c6e","name":"Funil - FUP3","onError":"continueRegularOutput"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3728,4416],"id":"c970e4cc-1e23-40b6-ad4a-8d0bde8fb6b0","name":"Pega id do contato6"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2832,4512],"id":"a3eda5b3-1f38-4f01-bd7e-d2743fca5b65","name":"Wait2","webhookId":"f2fb448d-918e-44bd-a9ce-b31e5f90a555"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2608,3744],"id":"dc34598a-17b7-4c5d-ad58-7a0a52391877","name":"Wait3","webhookId":"0deee13d-e638-4c76-ba4f-80125b75ff7d"},{"parameters":{"assignments":{"assignments":[{"id":"e8a984ac-68f2-4e01-819f-18342f854340","name":"chatwooturl","value":"https://chatwoot.demo-events.com.br","type":"string"},{"id":"b3de1e03-865f-4a07-b10a-54db6728672e","name":"accountid","value":"1","type":"string"},{"id":"29ea5b6e-9276-4734-a858-2a5efc343bed","name":"chatwoottoken","value":"${CHATWOOT_TOKEN}","type":"string"},{"id":"a13742c0-82a8-4326-88b2-fd6f41374f0e","name":"tipo_fluxo","value":"producao","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8240,4416],"id":"71883d15-e2e7-4aef-a927-d99b44211e35","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e592c35e-79f3-4728-a6a1-99234808c5d2","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3280,3648],"id":"0df0df22-1f3d-48fc-a5b3-0a1d0e787570","name":"If13"},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"691635bac3aa230014102ff8\",\n    \"name\": \"{{ $('Loop Over Items1').item.json.Nome }} - MUDAR\",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5d5b72bd1e0013392272\",\n        \"value\": \"SDR IA\"\n      }\n    ]\n  },\n  \"contacts\": [\n    {\n      \"name\": \"{{ $('Loop Over Items1').item.json.Nome }}\",\n      \"phones\": [\n        {\n          \"phone\": \"{{ $('Loop Over Items1').item.json.Telefone }}\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3056,3584],"id":"b7713287-8ada-4cad-8599-2a64239ef40c","name":"Criar a Negociação2","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e592c35e-79f3-4728-a6a1-99234808c5d2","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3504,4416],"id":"2435077f-d9bc-47af-9b5e-cd235c4406ee","name":"If14"},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"691635bac3aa230014102ff8\",\n    \"name\": \"{{ $('Loop Over Items4').item.json.Nome }}\",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5d5b72bd1e0013392272\",\n        \"value\": \"SDR IA\"\n      }\n    ]\n  },\n  \"contacts\": [\n    {\n      \"name\": \"{{ $('Loop Over Items4').item.json.Nome }}\",\n      \"phones\": [\n        {\n          \"phone\": \"{{ $('Loop Over Items4').item.json.Telefone }}\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3280,4320],"id":"0d622ff2-c668-4b31-ace8-bc096795a447","name":"Criar a Negociação3","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"8cd29fb8-ef7b-4aa4-a8ac-b6e0d9f24955","name":"Hora Mensagem","value":"={{ $json.hora_mensagem }}","type":"string"},{"id":"bec4660e-4923-4978-9c33-21ce4ac67c05","name":"Nome","value":"={{ $json.Nome }}","type":"string"},{"id":"7df1b195-f875-4607-b559-65c9c01deef3","name":"Id","value":"={{ $json.id }}","type":"number"},{"id":"12f65e25-6153-4c0c-89a2-10641f96bb1b","name":"Telefone","value":"={{ $json.Telefone }}","type":"string"},{"id":"24044a3e-a502-4954-84d0-a701b9f6f715","name":"Tempo atual","value":"={{ $now.setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}","type":"string"},{"id":"9fdba900-f879-4c33-aab9-3c50fc5aff55","name":"Idcontatochatwoot","value":"={{ $json.id_contato_chatwoot }}","type":"string"},{"id":"2debc26a-881d-4e9e-9292-4b4ec55f214d","name":"Idconversachatwoot","value":"={{ $json.id_conversa_chatwoot }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6672,4800],"id":"5f3d79e1-dc6a-4311-8b97-469bf51bf76f","name":"Pega Time Mensagem4"},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"=696a38a9f4b47c00132f6497"},{"name":"amount","value":"3000"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2832,3584],"id":"3878a2e9-255a-40d8-8c94-8f7f67978fb8","name":"Funil - FUP ","executeOnce":true,"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"=691e211cb7a0b10013abde15"},{"name":"amount","value":"3000"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3056,4320],"id":"f0c152a7-f8ff-4367-9111-87f345492881","name":"Funil - FUP 3","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Este código retorna todos os dados das 10 primeiras linhas\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5552,4032],"id":"5e4a07d0-9c15-4fc2-a50d-8692c3ab57a9","name":"Pega os 10 Primeiros da Lista7"},{"parameters":{"jsCode":"let arrayLeadsFUP = $('Get many rows1').all();\n\narrayLeadsFUP = arrayLeadsFUP.filter(i => i.json.fup !== \"concluido\");\n\nreturn arrayLeadsFUP;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-7792,4416],"id":"6545e9a5-9f2a-4743-913f-b67dee803bcd","name":"Code in JavaScript1"},{"parameters":{"operation":"getAll","tableId":"sdr_whatsapp","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"interagiu","condition":"is","keyValue":"={{ true }}"},{"keyName":"id_contato_chatwoot","condition":"neq","keyValue":"={{ null }}"},{"keyName":"id_conversa_chatwoot","condition":"neq","keyValue":"={{ null }}"},{"keyName":"sem_interesse","condition":"is","keyValue":"={{ false }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-8016,4416],"id":"d21b4c6e-2adc-4382-9ef2-c0574aca2cc5","name":"Get many rows1","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"method":"POST","url":"={{ $('Edit Fields1').item.json.chatwooturl }}/api/v1/accounts/{{ $('Edit Fields1').item.json.accountid }}/conversations/{{ $('Loop Over Items1').item.json.Idconversachatwoot }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"=${CHATWOOT_TOKEN}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('AI Agent1').item.json.output }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-3952,3648],"id":"4e4a222e-1a5c-4e1f-b40d-282926a4d35b","name":"HTTP Request22","alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"54b4495f-d81b-468f-b125-93e6e3bdf4a8","leftValue":"={{ $json.diferencaHoras }}","rightValue":24,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6016,4832],"id":"c712993d-4ddf-4066-b5e0-3f291b1bc111","name":"maior que 24 horas3"},{"parameters":{"batchSize":500,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-5776,4848],"id":"0377b8ad-2f7a-4f0c-9113-5c8551c3092a","name":"Loop Over Items7"},{"parameters":{"operation":"update","tableId":"sdr_whatsapp_forms","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items7').item.json.Id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"hora_mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").toFormat(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"fup","fieldValue":"concluido"},{"fieldId":"mensagem_lead","fieldValue":"={{false}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5552,4848],"id":"d264f63a-6abb-4e6f-a63e-6d3ec6132008","name":"Update a row7","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"operation":"executeQuery","query":"select case when me.message_type = 0 then 'Usuario' else 'IA' end messagem_de, me.created_at, me.\"content\"\n  from public.messages me\n  join (SELECT me.conversation_id, me.inbox_id, count(1) cont\n\t\t  from public.messages me\n\t\t where me.message_type in ('0','1')\n\t\t group by me.conversation_id, me.inbox_id) meo\n    on me.conversation_id = meo.conversation_id\n   and me.inbox_id = meo.inbox_id\n  join conversations co \n    on me.conversation_id = co.id\n  join contacts con\n    on con.id = co.contact_id\n  where (me.\"content\"  is not null and me.\"content\" <> '')\n\tand me.inbox_id in (35)\n\tand me.message_type in (0,1)\n    and con.id = $1\n    and co.display_id = $2\n  order by me.id asc","options":{"queryReplacement":"={{ $json.Idcontatochatwoot }}, {{ $json.Idconversachatwoot }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5104,3648],"id":"7e17d8b0-15bc-4727-9c41-b37b1d1a90d4","name":"Execute a SQL query1","credentials":{"postgres":{"id":"uSdxNemJ9RfhxUg0","name":"Postgres - Chatwoot"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"mensagens","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-4880,3648],"id":"45d68692-120a-4e13-ab37-1a3f50946643","name":"Aggregate1"},{"parameters":{"promptType":"define","text":"={{ $json.userMessage }}","options":{"systemMessage":"={{ $json.systemMessage }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-4304,3648],"id":"1fc5d4d5-30ff-4835-a102-b71e191ef130","name":"AI Agent1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Loop Over Items1').item.json.Telefone }}_{{ $('Edit Fields1').first().json.tipo_fluxo }}","tableName":"promo","contextWindowLength":100},"id":"c3675715-541d-42e4-8a0d-6b50abcefb23","name":"Memory Postgres1","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-4208,3872],"credentials":{"postgres":{"id":"TTrqj0rnakiukRd7","name":"Postgres account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Loop Over Items4').item.json.Telefone }}_{{ $('Edit Fields1').first().json.tipo_fluxo }}","tableName":"promo","contextWindowLength":100},"id":"a4b04150-0f2e-4862-b046-ee3a31a846db","name":"Memory Postgres","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-4544,4640],"credentials":{"postgres":{"id":"TTrqj0rnakiukRd7","name":"Postgres account"}}},{"parameters":{"content":"## FUP SDR Whatsapp","height":1600,"width":6208},"type":"n8n-nodes-base.stickyNote","position":[-8512,3456],"typeVersion":1,"id":"a5936474-10f4-4352-9d77-3b7b97f6311f","name":"Sticky Note1"},{"parameters":{"jsCode":"\nconst mensagens = $input.first().json.mensagens || [];\nconst leadData  = $('Loop Over Items2').first().json;\n\n// ── Dados do lead ──\nconst nome   = leadData.Nome   || 'amigo(a)';\nconst navio  = leadData.Navio  || leadData.navio  || null;\nconst etapa  = leadData.Etapa  || leadData.etapa  || 'qualificacao';\nconst subEtapa = leadData.em_qual_etapa || null;\nconst qtd    = leadData.QtdPessoas || leadData.qtd_pessoas || null;\nconst orcamento = leadData.Orcamento || leadData.orcamento || null;\nconst estilo = leadData.Estilo || leadData.estilo || null;\nconst jaFez  = leadData.ja_fez_cruzeiro;\nconst pontuacao = leadData.Pontuacao || leadData.pontuacao || 0;\nconst valoresEnviados = !!leadData.valores_enviados;\nconst materiaisEnviados = !!leadData.materiais_enviados;\n\n// ── Formatar histórico ──\nconst historico = mensagens\n  .map(m => `[${m.messagem_de}] ${m.content}`)\n  .slice(-20)\n  .join('\\n');\n\n// ── Identificar ponto de abandono ──\nlet pontoAbandono = 'início da conversa';\nif (subEtapa === 'e1') pontoAbandono = 'coleta do nome';\nelse if (subEtapa === 'e2') pontoAbandono = 'pergunta sobre experiência com cruzeiro';\nelse if (subEtapa === 'e3') pontoAbandono = 'pergunta sobre quantidade de pessoas';\nelse if (subEtapa === 'e35' || subEtapa === 'e3.5') pontoAbandono = 'identificação do navio/artista de interesse';\nelse if (subEtapa === 'e37' || subEtapa === 'e3.7') pontoAbandono = 'confirmação do navio (lead de formulário)';\nelse if (subEtapa === 'e4') pontoAbandono = 'apresentação de valores e link de reserva';\nelse if (subEtapa === 'e5') pontoAbandono = 'confirmação de orçamento';\nelse if (subEtapa === 'e6') pontoAbandono = 'scoring e decisão final';\nelse if (etapa === 'pagamento') pontoAbandono = 'etapa de pagamento/fechamento';\nelse if (etapa === 'negociacao') pontoAbandono = 'etapa de negociação';\n\nconst systemMessage = `# IDENTIDADE\nVocê é DomainAssistant, especialista em pré-vendas da Demo Events Co — ORGANIZADORA de festival em alto mar temáticos.\nEmbarque APENAS em Santos/SP. Escopo EXCLUSIVO: cruzeiros temáticos da Demo Events Co.\n\n# MISSÃO\nGerar UMA ÚNICA mensagem de follow-up para reengajar o lead ${nome} que parou de responder.\nA mensagem deve ser natural, calorosa, curta (máx 4 frases) e terminar com UMA pergunta que incentive a resposta.\n\n# CONTEXTO DO LEAD\n- Nome: ${nome}\n- Navio de interesse: ${navio || 'não identificado'}\n- Estilo musical: ${estilo || 'não identificado'}\n- Etapa do funil: ${etapa} (sub-etapa: ${subEtapa || 'n/a'})\n- Ponto de abandono: ${pontoAbandono}\n- Qtd pessoas: ${qtd || 'não informado'}\n- Orçamento: ${orcamento || 'não informado'}\n- Já fez cruzeiro: ${jaFez === true ? 'sim' : jaFez === false ? 'não' : 'não informado'}\n- Valores já enviados: ${valoresEnviados ? 'sim' : 'não'}\n- Materiais já enviados: ${materiaisEnviados ? 'sim' : 'não'}\n- Pontuação: ${pontuacao}/14\n\n# HISTÓRICO DA CONVERSA (últimas mensagens)\n${historico || '(sem histórico disponível)'}\n\n# ESTRATÉGIA POR PONTO DE ABANDONO\n\n## Se parou na QUALIFICAÇÃO (e1/e2/e3):\n- Retomar com leveza, sem repetir perguntas que já foram feitas\n- Criar curiosidade sobre a experiência do cruzeiro\n- Perguntar algo simples para reengajar\n\n## Se parou na IDENTIFICAÇÃO DE NAVIO (e3.5/e3.7):\n- Se mencionou artista/estilo → referenciar isso\n- Se não → apresentar brevemente opções disponíveis de forma entusiasmante\n- \"Vi que você estava interessado(a) em [artista/estilo]...\"\n\n## Se parou na NEGOCIAÇÃO (e4/e5):\n- Se valores já enviados → perguntar se conseguiu ver\n- Se não → criar expectativa sobre os valores\n- Usar gatilho de urgência leve (vagas limitadas)\n- NÃO repetir valores no follow-up\n\n## Se parou no PAGAMENTO:\n- Lead quente — ser mais direto\n- Perguntar se ficou alguma dúvida sobre o processo\n- Mencionar que pode ajudar com qualquer detalhe\n\n# REGRAS ABSOLUTAS\n1. NUNCA inventar preços, datas, artistas ou nomes de cruzeiro\n2. NUNCA mencionar: open bar, bebidas inclusas, meet & greet\n3. NUNCA usar \"prezado(a)\" ou tom formal\n4. NUNCA repetir a apresentação inicial se já foi feita no histórico\n5. NUNCA mencionar Simone ou time comercial\n6. Máximo 1 emoji por mensagem\n7. Tom: caloroso, direto, empático — como uma amiga que lembra de você\n8. Se o navio é conhecido, SEMPRE personalize com o nome do navio/artista\n9. NUNCA pressionar — apenas criar desejo e facilitar o retorno\n10. A mensagem NÃO pode parecer genérica ou automática — deve soar como continuação natural\n\n# FORMATO\nResponda APENAS com a mensagem de texto pronta para enviar. Sem JSON, sem markdown, sem aspas.\nUma mensagem curta, natural, personalizada. Máximo 4 frases + 1 pergunta.`;\n\nconst userMessage = `Gere a mensagem de follow-up para ${nome}. O lead parou de responder na etapa: ${pontoAbandono}.`;\n\nreturn [{ json: { systemMessage, userMessage } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4576,1872],"id":"5a409ab3-b161-45e6-a186-884242056d20","name":"Montar Prompt FUP"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"id"},"options":{"maxTokens":500,"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-4336,2096],"id":"00d14a1e-0e55-4a15-921f-dbad180ff658","name":"OpenAI FUP","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"operation":"executeQuery","query":"select case when me.message_type = 0 then 'Usuario' else 'IA' end messagem_de, me.created_at, me.\"content\"\n  from public.messages me\n  join (SELECT me.conversation_id, me.inbox_id, count(1) cont\n\t\t  from public.messages me\n\t\t where me.message_type in ('0','1')\n\t\t group by me.conversation_id, me.inbox_id) meo\n    on me.conversation_id = meo.conversation_id\n   and me.inbox_id = meo.inbox_id\n  join conversations co \n    on me.conversation_id = co.id\n  join contacts con\n    on con.id = co.contact_id\n  where (me.\"content\"  is not null and me.\"content\" <> '')\n\tand me.inbox_id in (34)\n\tand me.message_type in (0,1)\n    and con.id = $1\n    and co.display_id = $2\n  order by me.id asc","options":{"queryReplacement":"={{ $json.Idcontatochatwoot }}, {{ $json.Idconversachatwoot }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5312,2640],"id":"bb43c88d-17a7-42ff-aca7-444798d37f60","name":"Buscar Historico FUP","credentials":{"postgres":{"id":"uSdxNemJ9RfhxUg0","name":"Postgres - Chatwoot"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"mensagens","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-5088,2640],"id":"01006256-c333-419c-bde9-ba1b936ab019","name":"Aggregate FUP"},{"parameters":{"jsCode":"\nconst mensagens = $input.first().json.mensagens || [];\nconst leadData  = $('Loop Over Items5').first().json;\n\nconst nome   = leadData.Nome   || 'amigo(a)';\nconst navio  = leadData.Navio  || leadData.navio  || null;\nconst etapa  = leadData.Etapa  || leadData.etapa  || 'qualificacao';\nconst subEtapa = leadData.em_qual_etapa || null;\nconst qtd    = leadData.QtdPessoas || leadData.qtd_pessoas || null;\nconst orcamento = leadData.Orcamento || leadData.orcamento || null;\nconst estilo = leadData.Estilo || leadData.estilo || null;\nconst jaFez  = leadData.ja_fez_cruzeiro;\nconst pontuacao = leadData.Pontuacao || leadData.pontuacao || 0;\nconst valoresEnviados = !!leadData.valores_enviados;\n\nlet pontoAbandono = 'início da conversa';\nif (subEtapa === 'e1') pontoAbandono = 'coleta do nome';\nelse if (subEtapa === 'e2') pontoAbandono = 'experiência com cruzeiro';\nelse if (subEtapa === 'e3') pontoAbandono = 'quantidade de pessoas';\nelse if (subEtapa === 'e35' || subEtapa === 'e3.5') pontoAbandono = 'identificação do navio';\nelse if (subEtapa === 'e37' || subEtapa === 'e3.7') pontoAbandono = 'confirmação do navio';\nelse if (subEtapa === 'e4') pontoAbandono = 'valores e link de reserva';\nelse if (subEtapa === 'e5') pontoAbandono = 'orçamento';\nelse if (subEtapa === 'e6') pontoAbandono = 'decisão final';\nelse if (etapa === 'pagamento') pontoAbandono = 'pagamento/fechamento';\nelse if (etapa === 'negociacao') pontoAbandono = 'negociação';\n\nconst historico = mensagens\n  .map(m => `[${m.messagem_de}] ${m.content}`)\n  .slice(-20)\n  .join('\\n');\n\nconst systemMessage = `# IDENTIDADE\nVocê é DomainAssistant, especialista em pré-vendas da Demo Events Co — ORGANIZADORA de festival em alto mar temáticos.\nEmbarque APENAS em Santos/SP.\n\n# MISSÃO\nGerar a SEGUNDA e ÚLTIMA mensagem de follow-up para ${nome}. Já enviamos uma mensagem anterior (veja o histórico).\nO lead não respondeu à primeira tentativa. Esta é a última chance de reengajamento.\n\n# CONTEXTO DO LEAD\n- Nome: ${nome}\n- Navio: ${navio || 'não identificado'}\n- Estilo: ${estilo || 'não identificado'}\n- Etapa: ${etapa} (sub-etapa: ${subEtapa || 'n/a'})\n- Ponto de abandono: ${pontoAbandono}\n- Qtd pessoas: ${qtd || 'não informado'}\n- Orçamento: ${orcamento || 'não informado'}\n- Já fez cruzeiro: ${jaFez === true ? 'sim' : jaFez === false ? 'não' : 'não informado'}\n- Valores enviados: ${valoresEnviados ? 'sim' : 'não'}\n- Pontuação: ${pontuacao}/14\n\n# HISTÓRICO COMPLETO\n${historico || '(sem histórico)'}\n\n# ESTRATÉGIA — SEGUNDA TENTATIVA (ÚLTIMA)\nEsta mensagem precisa ser DIFERENTE da primeira. Analise o histórico para não repetir abordagem.\n\n## Abordagens recomendadas:\n1. **Gatilho de escassez suave**: \"As experience resource mais procuradas costumam esgotar rápido...\"\n2. **Prova social**: \"A Demo Events Co já levou mais de 300 mil passageiros, tem 20 anos de história...\"\n3. **Valor emocional**: Pintar a cena do cruzeiro de forma envolvente (show ao vivo, mar, festa)\n4. **Facilitação**: \"Se ficou alguma dúvida, estou aqui — sem compromisso!\"\n5. **Pergunta de baixo atrito**: Algo fácil de responder com sim/não\n\n## Personalização obrigatória:\n- Se sabe o navio → mencionar o artista/tema\n- Se sabe o orçamento → referenciar o custo-benefício\n- Se lead avançou até valores → perguntar se viu o link\n- Se lead estava no início → criar curiosidade sobre a experiência\n\n# REGRAS ABSOLUTAS\n1. NUNCA inventar preços, datas, artistas ou nomes de cruzeiro\n2. NUNCA mencionar: open bar, bebidas inclusas, meet & greet\n3. NUNCA usar \"prezado(a)\" ou tom formal\n4. NUNCA mencionar Simone ou time comercial\n5. NUNCA pressionar ou ser insistente — ser acolhedor\n6. NÃO repetir a mesma abordagem da primeira tentativa (analisar histórico)\n7. Máximo 1 emoji. Tom: amigo que quer ajudar, não vendedor insistente\n8. Se não tem navio identificado, mencionar brevemente a diversidade: forró, sertanejo, axé, pagode\n9. Fechar com pergunta aberta e leve\n\n# FORMATO\nResponda APENAS com a mensagem de texto pronta. Sem JSON, sem markdown, sem aspas.\nMáximo 4-5 frases. Deve soar natural e NÃO automática.`;\n\nconst userMessage = `Gere a segunda (e última) mensagem de follow-up para ${nome}. Ponto de abandono: ${pontoAbandono}. Analise o histórico para não repetir a abordagem anterior.`;\n\nreturn [{ json: { systemMessage, userMessage } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4864,2640],"id":"497b915c-08c4-425a-aa64-fb361ca704fb","name":"Montar Prompt FUP3"},{"parameters":{"promptType":"define","text":"={{ $json.userMessage }}","options":{"systemMessage":"={{ $json.systemMessage }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-4640,2640],"id":"2a1e0829-e560-4cc8-b82d-112f1020a278","name":"AI Agent FUP"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"id"},"options":{"maxTokens":500,"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-4720,2880],"id":"f9e8c96a-f073-4ac5-9eae-2ba8acdec93f","name":"OpenAI FUP3","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Este código retorna todos os dados das 10 primeiras linhas\nreturn items.slice(0, 800);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6880,2256],"id":"268077ac-d71e-4331-b96b-e36664600574","name":"Pega os 10 Primeiros da Lista2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88ea99f4-6803-4f9c-b0e3-7835171c8eb2","leftValue":"={{ $json.mensagem_lead }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7104,2256],"id":"1548dcef-c236-443e-a545-7f5bbc98b183","name":"If1"},{"parameters":{"jsCode":"return items.map(item => {\n  const j = item.json || {};\n\n  const horaMensagemRaw = j[\"Hora Mensagem\"] ?? j[\"HoraMensagem\"] ?? j[\"horaMensagem\"] ?? null;\n  const tempoAtualRaw   = j[\"Tempo atual\"]   ?? j[\"TempoAtual\"]   ?? j[\"tempoAtual\"]   ?? null;\n\n  const horaMensagemStr = typeof horaMensagemRaw === \"string\" ? horaMensagemRaw.trim() : horaMensagemRaw;\n  const tempoAtualStr   = typeof tempoAtualRaw   === \"string\" ? tempoAtualRaw.trim()   : tempoAtualRaw;\n\n  const base = {\n    Nome:               j[\"Nome\"]               ?? null,\n    Id:                 j[\"Id\"]                 ?? null,\n    Telefone:           j[\"Telefone\"]           ?? null,\n    Email:              j[\"Email\"]              ?? null,\n    Idcontatochatwoot:  j[\"Idcontatochatwoot\"]  ?? null,\n    Idconversachatwoot: j[\"Idconversachatwoot\"] ?? null,\n    Navio:              j[\"Navio\"]              ?? null,\n    etapa:              j[\"etapa\"]              ?? null,\n    em_qual_etapa:      j[\"em_qual_etapa\"]      ?? null,\n    QtdPessoas:         j[\"QtdPessoas\"]         ?? null,\n    Orcamento:          j[\"Orcamento\"]          ?? null,\n    ja_fez_cruzeiro:    j[\"ja_fez_cruzeiro\"]    ?? null,\n    materiaisEnviados:  j[\"materiaisEnviados\"]  ?? null,\n    valoresEnviados:    j[\"valoresEnviados\"]    ?? null,\n    \"Hora Mensagem\":    horaMensagemStr         ?? null,\n    \"Tempo atual\":      tempoAtualStr           ?? null\n  };\n\n  if (!horaMensagemStr || !tempoAtualStr) {\n    return {\n      json: {\n        ...base,\n        error: \"Um dos campos de data está vazio\",\n        _debug: {\n          temHoraMensagem:   Boolean(horaMensagemStr),\n          temTempoAtual:     Boolean(tempoAtualStr),\n          chavesDisponiveis: Object.keys(j)\n        }\n      }\n    };\n  }\n\n  // ── Parser 1: ISO 8601 → extrai hora local, ignora offset de fuso\n  // Ex: \"2026-03-04T12:53:44.188-03:00\" → 12h53\n  function parseISO(str) {\n    if (!/^\\d{4}-\\d{2}-\\d{2}T/.test(str)) return null;\n    const m = str.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, yyyy, MM, dd, HH, mm] = m;\n    return new Date(parseInt(yyyy), parseInt(MM) - 1, parseInt(dd), parseInt(HH), parseInt(mm));\n  }\n\n  // ── Parser 2: PT-BR → \"sexta-feira, 06 de março de 2026, 11:50\"\n  function parsePtBr(str) {\n    const meses = {\n      janeiro: 0, fevereiro: 1, março: 2, marco: 2,\n      abril: 3, maio: 4, junho: 5, julho: 6,\n      agosto: 7, setembro: 8, outubro: 9, novembro: 10, dezembro: 11\n    };\n    const clean = str.replace(/^[^,]+,\\s*/, \"\");\n    const m = clean.match(/(\\d{1,2}) de ([^\\s]+) de (\\d{4}), (\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, dd, mesStr, yyyy, HH, MM] = m;\n    const mes = meses[mesStr.toLowerCase()];\n    if (mes === undefined) return null;\n    return new Date(parseInt(yyyy), mes, parseInt(dd), parseInt(HH), parseInt(MM));\n  }\n\n  // ── Tenta ISO primeiro, depois PT-BR\n  function parseData(str) {\n    return parseISO(str) ?? parsePtBr(str);\n  }\n\n  const dataMensagem = parseData(horaMensagemStr);\n  const dataAtual    = parseData(tempoAtualStr);\n\n  if (!dataMensagem || !dataAtual) {\n    return {\n      json: {\n        ...base,\n        error: \"Erro ao interpretar datas\",\n        _debug: {\n          horaMensagemStr,\n          tempoAtualStr,\n          parsedMensagem: String(dataMensagem),\n          parsedAtual:    String(dataAtual)\n        }\n      }\n    };\n  }\n\n  const diffMs      = dataAtual.getTime() - dataMensagem.getTime();\n  const diffHoras   = Math.floor(diffMs / (1000 * 60 * 60));\n  const diffMinutos = Math.floor(diffMs / (1000 * 60)) % 60;\n\n  return {\n    json: {\n      ...base,\n      diferencaHoras:   diffHoras,\n      diferencaMinutos: diffMinutos\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6432,2256],"id":"f2ae75a0-b1bf-4bd2-bf71-bf986615d851","name":"Diferença de Horas2"},{"parameters":{"assignments":{"assignments":[{"id":"8cd29fb8-ef7b-4aa4-a8ac-b6e0d9f24955","name":"Hora Mensagem","value":"={{ $json.hora_mensagem }}","type":"string"},{"id":"bec4660e-4923-4978-9c33-21ce4ac67c05","name":"Nome","value":"={{ $json.Nome }}","type":"string"},{"id":"7df1b195-f875-4607-b559-65c9c01deef3","name":"Id","value":"={{ $json.id }}","type":"number"},{"id":"12f65e25-6153-4c0c-89a2-10641f96bb1b","name":"Telefone","value":"={{ $json.Telefone }}","type":"string"},{"id":"24044a3e-a502-4954-84d0-a701b9f6f715","name":"Tempo atual","value":"={{ $now.setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}","type":"string"},{"id":"9fdba900-f879-4c33-aab9-3c50fc5aff55","name":"Idcontatochatwoot","value":"={{ $json.id_contato_chatwoot }}","type":"string"},{"id":"2debc26a-881d-4e9e-9292-4b4ec55f214d","name":"Idconversachatwoot","value":"={{ $json.id_conversa_chatwoot }}","type":"string"},{"id":"59c235e2-7503-4078-aea0-aaf4a91eb584","name":"Navio","value":"={{ $json.Navio }}","type":"string"},{"id":"afe58c75-6003-4489-bec0-2cab01576fb0","name":"etapa","value":"={{ $json.etapa }}","type":"string"},{"id":"ba72ae16-66f6-4518-a192-3dd111a4373e","name":"em_qual_etapa","value":"={{ $json.em_qual_etapa }}","type":"string"},{"id":"475a10dd-217d-4b74-8bc5-789fc6b631c9","name":"QtdPessoas","value":"={{ $json.QtdPessoas }}","type":"string"},{"id":"74278a17-83c2-409e-b603-b0abf061f878","name":"Orcamento","value":"={{ $json.Orcamento }}","type":"string"},{"id":"7411a1ef-44aa-4b06-b05a-a3cd9a55f73f","name":"ja_fez_cruzeiro","value":"={{ $json.ja_fez_cruzeiro }}","type":"string"},{"id":"09bd84bb-87f3-49b8-80f7-c23763a62415","name":"materiaisEnviados","value":"={{ $json.materiais_enviados }}","type":"boolean"},{"id":"2f708da7-aa26-46f7-90da-1a480bfcc5a6","name":"valoresEnviados","value":"={{ $json.envia_link_pagamento }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6656,2256],"id":"eaec2b41-e78a-4a54-8f36-2fa96478d87b","name":"Pega Time Mensagem2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d06b6bf-498a-493f-8a78-bc518627a95e","leftValue":"={{ $json.fup }}","rightValue":"1","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7328,2256],"id":"55644f59-5483-45d8-83a4-b5d926033ead","name":"FollowUpStatus = 1"},{"parameters":{"jsCode":"return items.map(item => {\n  const timeZone = \"America/Sao_Paulo\";\n\n  // Hora atual em São Paulo\n  const nowSP = new Date(\n    new Date().toLocaleString(\"en-US\", { timeZone })\n  );\n  const hour = nowSP.getHours(); // 0–23\n\n  // Janela permitida: 08:00 <= agora < 22:00\n  const withinAllowedTime = hour >= 8 && hour < 22;\n\n  return {\n    json: {\n      ...item.json,\n      currentTime: nowSP.toLocaleString(\"pt-BR\", { timeZone }),\n      withinAllowedTime\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5984,2256],"id":"bde1fa4e-a71e-45d8-a59e-be725903381f","name":"8 as 22 horas2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"92f73086-dc73-4a79-934f-73df426ef77c","leftValue":"={{ $json.withinAllowedTime }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5760,2256],"id":"0fd2bd7f-09cb-48a2-9c49-723ed9d02e52","name":"Se horário é das 08 as 1"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-5312,2256],"id":"171ca4fa-a1ca-4d75-8491-05c1d8cdbd19","name":"Loop Over Items2"},{"parameters":{"rule":{"interval":[{"field":"hours","triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-9968,4432],"id":"c3b0c5be-4a87-40d4-82a8-faea6cc998af","name":"Schedule Trigger2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59d71979-05d8-4d71-980f-28581fd939bd","leftValue":"={{ $json.diferencaHoras }}","rightValue":0.9,"operator":{"type":"number","operation":"gt"}},{"id":"b3fc6e27-0b6e-4ee5-8f35-b02f06551e5d","leftValue":"={{ $json.diferencaHoras }}","rightValue":24,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6208,2256],"id":"a57f5ce0-2ea4-4c4f-9e3b-b25904b9dc6a","name":"maior que 1 hora2"},{"parameters":{"jsCode":"// Este código retorna todos os dados das 10 primeiras linhas\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6880,3024],"id":"361df385-8270-4b84-8259-a3a8ac951a7a","name":"Pega os 10 Primeiros da Lista5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88ea99f4-6803-4f9c-b0e3-7835171c8eb2","leftValue":"={{ $json['Mensagem Lead'] }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7104,3024],"id":"ade3a9e3-d2f6-4911-a572-dcd581a8e514","name":"If26"},{"parameters":{"jsCode":"return items.map(item => {\n  const j = item.json || {};\n\n  const horaMensagemRaw = j[\"Hora Mensagem\"] ?? j[\"HoraMensagem\"] ?? j[\"horaMensagem\"] ?? null;\n  const tempoAtualRaw   = j[\"Tempo atual\"]   ?? j[\"TempoAtual\"]   ?? j[\"tempoAtual\"]   ?? null;\n\n  const horaMensagemStr = typeof horaMensagemRaw === \"string\" ? horaMensagemRaw.trim() : horaMensagemRaw;\n  const tempoAtualStr   = typeof tempoAtualRaw   === \"string\" ? tempoAtualRaw.trim()   : tempoAtualRaw;\n\n  const base = {\n    Nome:               j[\"Nome\"]               ?? null,\n    Id:                 j[\"Id\"]                 ?? null,\n    Telefone:           j[\"Telefone\"]           ?? null,\n    Email:              j[\"Email\"]              ?? null,\n    Idcontatochatwoot:  j[\"Idcontatochatwoot\"]  ?? null,\n    Idconversachatwoot: j[\"Idconversachatwoot\"] ?? null,\n    Navio:              j[\"Navio\"]              ?? null,\n    etapa:              j[\"etapa\"]              ?? null,\n    em_qual_etapa:      j[\"em_qual_etapa\"]      ?? null,\n    QtdPessoas:         j[\"QtdPessoas\"]         ?? null,\n    Orcamento:          j[\"Orcamento\"]          ?? null,\n    ja_fez_cruzeiro:    j[\"ja_fez_cruzeiro\"]    ?? null,\n    materiaisEnviados:  j[\"materiaisEnviados\"]  ?? null,\n    valoresEnviados:    j[\"valoresEnviados\"]    ?? null,\n    \"Hora Mensagem\":    horaMensagemStr         ?? null,\n    \"Tempo atual\":      tempoAtualStr           ?? null\n  };\n\n  if (!horaMensagemStr || !tempoAtualStr) {\n    return {\n      json: {\n        ...base,\n        error: \"Um dos campos de data está vazio\",\n        _debug: {\n          temHoraMensagem:   Boolean(horaMensagemStr),\n          temTempoAtual:     Boolean(tempoAtualStr),\n          chavesDisponiveis: Object.keys(j)\n        }\n      }\n    };\n  }\n\n  // ── Parser 1: ISO 8601 → extrai hora local, ignora offset de fuso\n  // Ex: \"2026-03-04T12:53:44.188-03:00\" → 12h53\n  function parseISO(str) {\n    if (!/^\\d{4}-\\d{2}-\\d{2}T/.test(str)) return null;\n    const m = str.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, yyyy, MM, dd, HH, mm] = m;\n    return new Date(parseInt(yyyy), parseInt(MM) - 1, parseInt(dd), parseInt(HH), parseInt(mm));\n  }\n\n  // ── Parser 2: PT-BR → \"sexta-feira, 06 de março de 2026, 11:50\"\n  function parsePtBr(str) {\n    const meses = {\n      janeiro: 0, fevereiro: 1, março: 2, marco: 2,\n      abril: 3, maio: 4, junho: 5, julho: 6,\n      agosto: 7, setembro: 8, outubro: 9, novembro: 10, dezembro: 11\n    };\n    const clean = str.replace(/^[^,]+,\\s*/, \"\");\n    const m = clean.match(/(\\d{1,2}) de ([^\\s]+) de (\\d{4}), (\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, dd, mesStr, yyyy, HH, MM] = m;\n    const mes = meses[mesStr.toLowerCase()];\n    if (mes === undefined) return null;\n    return new Date(parseInt(yyyy), mes, parseInt(dd), parseInt(HH), parseInt(MM));\n  }\n\n  // ── Tenta ISO primeiro, depois PT-BR\n  function parseData(str) {\n    return parseISO(str) ?? parsePtBr(str);\n  }\n\n  const dataMensagem = parseData(horaMensagemStr);\n  const dataAtual    = parseData(tempoAtualStr);\n\n  if (!dataMensagem || !dataAtual) {\n    return {\n      json: {\n        ...base,\n        error: \"Erro ao interpretar datas\",\n        _debug: {\n          horaMensagemStr,\n          tempoAtualStr,\n          parsedMensagem: String(dataMensagem),\n          parsedAtual:    String(dataAtual)\n        }\n      }\n    };\n  }\n\n  const diffMs      = dataAtual.getTime() - dataMensagem.getTime();\n  const diffHoras   = Math.floor(diffMs / (1000 * 60 * 60));\n  const diffMinutos = Math.floor(diffMs / (1000 * 60)) % 60;\n\n  return {\n    json: {\n      ...base,\n      diferencaHoras:   diffHoras,\n      diferencaMinutos: diffMinutos\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6432,3024],"id":"e74ec4c6-a2f2-468c-b23d-32bb10b0d984","name":"Diferença de Horas5"},{"parameters":{"jsCode":"return items.map(item => {\n  const timeZone = \"America/Sao_Paulo\";\n\n  // Hora atual em São Paulo\n  const nowSP = new Date(\n    new Date().toLocaleString(\"en-US\", { timeZone })\n  );\n  const hour = nowSP.getHours(); // 0–23\n\n  // Janela permitida: 08:00 <= agora < 22:00\n  const withinAllowedTime = hour >= 8 && hour < 22;\n\n  return {\n    json: {\n      ...item.json,\n      currentTime: nowSP.toLocaleString(\"pt-BR\", { timeZone }),\n      withinAllowedTime\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5984,2880],"id":"c28373c1-85e2-47b4-b724-9e3755a345d8","name":"8 as 22 horas5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"92f73086-dc73-4a79-934f-73df426ef77c","leftValue":"={{ $json.withinAllowedTime }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5760,2880],"id":"b68fe7fe-3a28-42f9-863d-200cfe916eca","name":"Se horário é das 08 as 25"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-5536,2880],"id":"03100f42-2893-4e08-9210-9ce545f0f00d","name":"Loop Over Items5"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields2').item.json.chatwooturl }}/api/v1/accounts/{{ $('Edit Fields2').item.json.accountid }}/conversations/{{ $('Loop Over Items5').item.json.Idconversachatwoot }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"=${CHATWOOT_TOKEN}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('AI Agent FUP').item.json.output }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4224,2640],"id":"28f81e13-ec30-40bd-a191-063c1b586b9d","name":"HTTP Request1","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d06b6bf-498a-493f-8a78-bc518627a95e","leftValue":"={{ $json.fup }}","rightValue":"3","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7328,3024],"id":"13dc7e69-b399-4192-b81f-e9ca262e081a","name":"FollowUpStatus = 5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94168bb8-6766-4363-ba6c-92c41c6466d5","leftValue":"={{ $json.pausado }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"bc5b9d28-2d97-4940-9e7a-876693cbc321","leftValue":"={{ $json.vendedor }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7552,2640],"id":"5fdbf63f-1e0a-48e3-bac4-a56de6c510a7","name":"Se Agendado/Reagendado/Compareceu1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59d71979-05d8-4d71-980f-28581fd939bd","leftValue":"={{ $json.diferencaHoras }}","rightValue":11,"operator":{"type":"number","operation":"gte"}},{"id":"54b4495f-d81b-468f-b125-93e6e3bdf4a8","leftValue":"={{ $json.diferencaHoras }}","rightValue":24,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6208,3024],"id":"55b3ae29-e171-4dfe-a34c-532d35b045cb","name":"maior que 24 horas4"},{"parameters":{"operation":"update","tableId":"sdr_whatsapp_forms","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items2').item.json.Id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"hora_mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").toFormat(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"fup","fieldValue":"3"},{"fieldId":"mensagem_lead","fieldValue":"={{false}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3712,1872],"id":"eec1bce5-9f96-45ce-8d53-7bf11d1c6a67","name":"Update a row1","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"operation":"update","tableId":"sdr_whatsapp_forms","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items5').item.json.Id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"hora_mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").toFormat(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"fup","fieldValue":"concluido"},{"fieldId":"mensagem_lead","fieldValue":"={{false}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3936,2640],"id":"5613e174-3194-449a-bb79-8d0e9f8e422d","name":"Update a row4","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"=696a38a9f4b47c00132f6497"},{"name":"amount","value":"3000"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2816,2000],"id":"939cf168-e874-4f24-83bf-3197db74edf2","name":"Funil - FUP4","executeOnce":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Loop Over Items2').item.json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3488,1872],"id":"a283c5a7-0cab-4a07-9fb1-428769fd1224","name":"Pega id do contato1","executeOnce":true,"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $('Pega id do contato7').item.json.contacts[0].deals[0].id || $('Criar a Negociação5').item.json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"=691e211cb7a0b10013abde15"},{"name":"amount","value":"3000"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3040,2736],"id":"51b483c3-c38b-4cdb-89fa-8b3fa4d9f46e","name":"Funil - FUP5","onError":"continueRegularOutput"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3712,2640],"id":"eccdb5b5-b864-4bb1-8829-b061a00daf4b","name":"Pega id do contato7"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2816,2736],"id":"34554942-442e-4952-ac29-236e1230dc44","name":"Wait4","webhookId":"f2fb448d-918e-44bd-a9ce-b31e5f90a555"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2592,1968],"id":"409adbd7-e464-411f-87b4-ec75880fd1b8","name":"Wait5","webhookId":"0deee13d-e638-4c76-ba4f-80125b75ff7d"},{"parameters":{"assignments":{"assignments":[{"id":"e8a984ac-68f2-4e01-819f-18342f854340","name":"chatwooturl","value":"https://chatwoot.demo-events.com.br","type":"string"},{"id":"b3de1e03-865f-4a07-b10a-54db6728672e","name":"accountid","value":"1","type":"string"},{"id":"29ea5b6e-9276-4734-a858-2a5efc343bed","name":"chatwoottoken","value":"${CHATWOOT_TOKEN}","type":"string"},{"id":"a13742c0-82a8-4326-88b2-fd6f41374f0e","name":"tipo_fluxo","value":"producao","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8224,2640],"id":"20a6784e-e09e-4293-b273-9db60f388210","name":"Edit Fields2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e592c35e-79f3-4728-a6a1-99234808c5d2","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3264,1872],"id":"54acee6f-7369-4371-872b-8e7b6afede47","name":"If15"},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"691635bac3aa230014102ff8\",\n    \"name\": \"{{ $('Loop Over Items2').item.json.Nome }} - MUDAR\",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5d5b72bd1e0013392272\",\n        \"value\": \"SDR IA\"\n      }\n    ]\n  },\n  \"contacts\": [\n    {\n      \"name\": \"{{ $('Loop Over Items2').item.json.Nome }}\",\n      \"phones\": [\n        {\n          \"phone\": \"{{ $('Loop Over Items2').item.json.Telefone }}\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3040,1808],"id":"994e00f8-5edd-4710-b29e-c5ee425220c8","name":"Criar a Negociação4","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e592c35e-79f3-4728-a6a1-99234808c5d2","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3488,2640],"id":"0483b4c1-025c-4e12-b863-050a0ea608ba","name":"If16"},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"691635bac3aa230014102ff8\",\n    \"name\": \"{{ $('Loop Over Items5').item.json.Nome }}\",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5d5b72bd1e0013392272\",\n        \"value\": \"SDR IA\"\n      }\n    ]\n  },\n  \"contacts\": [\n    {\n      \"name\": \"{{ $('Loop Over Items5').item.json.Nome }}\",\n      \"phones\": [\n        {\n          \"phone\": \"{{ $('Loop Over Items5').item.json.Telefone }}\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3264,2544],"id":"da5b9c0a-58ba-47cf-9f6f-1496e6426aa2","name":"Criar a Negociação5","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"=696a38a9f4b47c00132f6497"},{"name":"amount","value":"3000"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2816,1808],"id":"319debd8-63eb-44cf-a3ee-f1fc2756d8f4","name":"Funil - FUP 4","executeOnce":true,"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"=691e211cb7a0b10013abde15"},{"name":"amount","value":"3000"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3040,2544],"id":"5c0f9126-aee0-4669-a23b-be3cb400d62a","name":"Funil - FUP 5","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Este código retorna todos os dados das 10 primeiras linhas\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5536,2256],"id":"87fa7ee6-69d9-4ffc-8d6d-6a8aa0f89df4","name":"Pega os 10 Primeiros da Lista8"},{"parameters":{"jsCode":"let arrayLeadsFUP = $('Get many rows2').all();\n\narrayLeadsFUP = arrayLeadsFUP.filter(i => i.json.fup !== \"concluido\");\n\nreturn arrayLeadsFUP;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-7776,2640],"id":"330bf513-513d-409e-ad8c-f04d7697317b","name":"Code in JavaScript2"},{"parameters":{"operation":"getAll","tableId":"sdr_whatsapp_forms","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"interagiu","condition":"is","keyValue":"={{ true }}"},{"keyName":"id_contato_chatwoot","condition":"neq","keyValue":"={{ null }}"},{"keyName":"id_conversa_chatwoot","condition":"neq","keyValue":"={{ null }}"},{"keyName":"sem_interesse","condition":"is","keyValue":"={{ false }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-8000,2640],"id":"a8a774d7-b707-4063-8e8d-0a00f69c8ec1","name":"Get many rows2","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"method":"POST","url":"={{ $('Edit Fields2').item.json.chatwooturl }}/api/v1/accounts/{{ $('Edit Fields2').item.json.accountid }}/conversations/{{ $('Loop Over Items2').item.json.Idconversachatwoot }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"=${CHATWOOT_TOKEN}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('AI Agent2').item.json.output }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-3936,1872],"id":"7bf7ad1f-f576-4693-a3ce-f03ce1d5be1c","name":"HTTP Request23","alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"54b4495f-d81b-468f-b125-93e6e3bdf4a8","leftValue":"={{ $json.diferencaHoras }}","rightValue":24,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6000,3056],"id":"8aa4af09-f4c3-4fe8-a846-a3f8de5ec448","name":"maior que 24 horas5"},{"parameters":{"batchSize":500,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-5760,3072],"id":"f1220030-6d92-461c-aa94-83856ae86776","name":"Loop Over Items8"},{"parameters":{"operation":"update","tableId":"sdr_whatsapp_forms","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items8').item.json.Id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"hora_mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").toFormat(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"fup","fieldValue":"concluido"},{"fieldId":"mensagem_lead","fieldValue":"={{false}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5536,3072],"id":"c2550e83-49d9-49a5-87b1-a0c24e322aba","name":"Update a row8","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"operation":"executeQuery","query":"select case when me.message_type = 0 then 'Usuario' else 'IA' end messagem_de, me.created_at, me.\"content\"\n  from public.messages me\n  join (SELECT me.conversation_id, me.inbox_id, count(1) cont\n\t\t  from public.messages me\n\t\t where me.message_type in ('0','1')\n\t\t group by me.conversation_id, me.inbox_id) meo\n    on me.conversation_id = meo.conversation_id\n   and me.inbox_id = meo.inbox_id\n  join conversations co \n    on me.conversation_id = co.id\n  join contacts con\n    on con.id = co.contact_id\n  where (me.\"content\"  is not null and me.\"content\" <> '')\n\tand me.inbox_id in (34)\n\tand me.message_type in (0,1)\n    and con.id = $1\n    and co.display_id = $2\n  order by me.id asc","options":{"queryReplacement":"={{ $json.Idcontatochatwoot }}, {{ $json.Idconversachatwoot }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5088,1872],"id":"3d55bf1f-179b-48b0-895c-63285cafcd9a","name":"Execute a SQL query2","credentials":{"postgres":{"id":"uSdxNemJ9RfhxUg0","name":"Postgres - Chatwoot"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"mensagens","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-4864,1872],"id":"168cbaa2-3db6-46b3-95e0-9a37b056dbc9","name":"Aggregate2"},{"parameters":{"promptType":"define","text":"={{ $json.userMessage }}","options":{"systemMessage":"={{ $json.systemMessage }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-4288,1872],"id":"d6917b60-0a8c-44b3-9672-6544c6c2449f","name":"AI Agent2"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Loop Over Items2').item.json.Telefone }}_{{ $('Edit Fields2').first().json.tipo_fluxo }}","tableName":"promo","contextWindowLength":100},"id":"bfa7f2e9-4009-4cae-ac00-c6936dc2681a","name":"Memory Postgres2","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-4192,2096],"credentials":{"postgres":{"id":"TTrqj0rnakiukRd7","name":"Postgres account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Loop Over Items5').item.json.Telefone }}_{{ $('Edit Fields2').first().json.tipo_fluxo }}","tableName":"promo","contextWindowLength":100},"id":"0e76ad97-b89f-4115-bdb9-e8941f12e1bf","name":"Memory Postgres3","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-4528,2864],"credentials":{"postgres":{"id":"TTrqj0rnakiukRd7","name":"Postgres account"}}},{"parameters":{"content":"## FUP SDR Forms","height":1600,"width":6192},"type":"n8n-nodes-base.stickyNote","position":[-8512,1696],"typeVersion":1,"id":"19004dcf-29ab-4858-9eae-200ee5852c8d","name":"Sticky Note2"},{"parameters":{"jsCode":"\nconst mensagens = $input.first().json.mensagens || [];\nconst leadData  = $('Loop Over Items').first().json;\n\n// ── Dados do lead ──\nconst nome   = leadData.Nome   || 'amigo(a)';\nconst navio  = leadData.Navio  || leadData.navio  || null;\nconst etapa  = leadData.Etapa  || leadData.etapa  || 'qualificacao';\nconst subEtapa = leadData.em_qual_etapa || null;\nconst qtd    = leadData.QtdPessoas || leadData.qtd_pessoas || null;\nconst orcamento = leadData.Orcamento || leadData.orcamento || null;\nconst estilo = leadData.Estilo || leadData.estilo || null;\nconst jaFez  = leadData.ja_fez_cruzeiro;\nconst pontuacao = leadData.Pontuacao || leadData.pontuacao || 0;\nconst valoresEnviados = !!leadData.valores_enviados;\nconst materiaisEnviados = !!leadData.materiais_enviados;\n\n// ── Formatar histórico ──\nconst historico = mensagens\n  .map(m => `[${m.messagem_de}] ${m.content}`)\n  .slice(-20)\n  .join('\\n');\n\n// ── Identificar ponto de abandono ──\nlet pontoAbandono = 'início da conversa';\nif (subEtapa === 'e1') pontoAbandono = 'coleta do nome';\nelse if (subEtapa === 'e2') pontoAbandono = 'pergunta sobre experiência com cruzeiro';\nelse if (subEtapa === 'e3') pontoAbandono = 'pergunta sobre quantidade de pessoas';\nelse if (subEtapa === 'e35' || subEtapa === 'e3.5') pontoAbandono = 'identificação do navio/artista de interesse';\nelse if (subEtapa === 'e37' || subEtapa === 'e3.7') pontoAbandono = 'confirmação do navio (lead de formulário)';\nelse if (subEtapa === 'e4') pontoAbandono = 'apresentação de valores e link de reserva';\nelse if (subEtapa === 'e5') pontoAbandono = 'confirmação de orçamento';\nelse if (subEtapa === 'e6') pontoAbandono = 'scoring e decisão final';\nelse if (etapa === 'pagamento') pontoAbandono = 'etapa de pagamento/fechamento';\nelse if (etapa === 'negociacao') pontoAbandono = 'etapa de negociação';\n\nconst systemMessage = `# IDENTIDADE\nVocê é DomainAssistant, especialista em pré-vendas da Demo Events Co — ORGANIZADORA de festival em alto mar temáticos.\nEmbarque APENAS em Santos/SP. Escopo EXCLUSIVO: cruzeiros temáticos da Demo Events Co.\n\n# MISSÃO\nGerar UMA ÚNICA mensagem de follow-up para reengajar o lead ${nome} que parou de responder.\nA mensagem deve ser natural, calorosa, curta (máx 4 frases) e terminar com UMA pergunta que incentive a resposta.\n\n# CONTEXTO DO LEAD\n- Nome: ${nome}\n- Navio de interesse: ${navio || 'não identificado'}\n- Estilo musical: ${estilo || 'não identificado'}\n- Etapa do funil: ${etapa} (sub-etapa: ${subEtapa || 'n/a'})\n- Ponto de abandono: ${pontoAbandono}\n- Qtd pessoas: ${qtd || 'não informado'}\n- Orçamento: ${orcamento || 'não informado'}\n- Já fez cruzeiro: ${jaFez === true ? 'sim' : jaFez === false ? 'não' : 'não informado'}\n- Valores já enviados: ${valoresEnviados ? 'sim' : 'não'}\n- Materiais já enviados: ${materiaisEnviados ? 'sim' : 'não'}\n- Pontuação: ${pontuacao}/14\n\n# HISTÓRICO DA CONVERSA (últimas mensagens)\n${historico || '(sem histórico disponível)'}\n\n# ESTRATÉGIA POR PONTO DE ABANDONO\n\n## Se parou na QUALIFICAÇÃO (e1/e2/e3):\n- Retomar com leveza, sem repetir perguntas que já foram feitas\n- Criar curiosidade sobre a experiência do cruzeiro\n- Perguntar algo simples para reengajar\n\n## Se parou na IDENTIFICAÇÃO DE NAVIO (e3.5/e3.7):\n- Se mencionou artista/estilo → referenciar isso\n- Se não → apresentar brevemente opções disponíveis de forma entusiasmante\n- \"Vi que você estava interessado(a) em [artista/estilo]...\"\n\n## Se parou na NEGOCIAÇÃO (e4/e5):\n- Se valores já enviados → perguntar se conseguiu ver\n- Se não → criar expectativa sobre os valores\n- Usar gatilho de urgência leve (vagas limitadas)\n- NÃO repetir valores no follow-up\n\n## Se parou no PAGAMENTO:\n- Lead quente — ser mais direto\n- Perguntar se ficou alguma dúvida sobre o processo\n- Mencionar que pode ajudar com qualquer detalhe\n\n# REGRAS ABSOLUTAS\n1. NUNCA inventar preços, datas, artistas ou nomes de cruzeiro\n2. NUNCA mencionar: open bar, bebidas inclusas, meet & greet\n3. NUNCA usar \"prezado(a)\" ou tom formal\n4. NUNCA repetir a apresentação inicial se já foi feita no histórico\n5. NUNCA mencionar Simone ou time comercial\n6. Máximo 1 emoji por mensagem\n7. Tom: caloroso, direto, empático — como uma amiga que lembra de você\n8. Se o navio é conhecido, SEMPRE personalize com o nome do navio/artista\n9. NUNCA pressionar — apenas criar desejo e facilitar o retorno\n10. A mensagem NÃO pode parecer genérica ou automática — deve soar como continuação natural\n\n# FORMATO\nResponda APENAS com a mensagem de texto pronta para enviar. Sem JSON, sem markdown, sem aspas.\nUma mensagem curta, natural, personalizada. Máximo 4 frases + 1 pergunta.`;\n\nconst userMessage = `Gere a mensagem de follow-up para ${nome}. O lead parou de responder na etapa: ${pontoAbandono}.`;\n\nreturn [{ json: { systemMessage, userMessage } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4560,5440],"id":"00fd8af7-65e5-4251-b351-1832cbadbfae","name":"Montar Prompt FUP4"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"id"},"options":{"maxTokens":500,"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-4320,5664],"id":"cf1dad29-7c86-4a1f-93ba-045322a86b9c","name":"OpenAI FUP4","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"operation":"executeQuery","query":"select case when me.message_type = 0 then 'Usuario' else 'IA' end messagem_de, me.created_at, me.\"content\"\n  from public.messages me\n  join (SELECT me.conversation_id, me.inbox_id, count(1) cont\n\t\t  from public.messages me\n\t\t where me.message_type in ('0','1')\n\t\t group by me.conversation_id, me.inbox_id) meo\n    on me.conversation_id = meo.conversation_id\n   and me.inbox_id = meo.inbox_id\n  join conversations co \n    on me.conversation_id = co.id\n  join contacts con\n    on con.id = co.contact_id\n  where (me.\"content\"  is not null and me.\"content\" <> '')\n\tand me.inbox_id in (38)\n\tand me.message_type in (0,1)\n    and con.id = $1\n    and co.display_id = $2\n  order by me.id asc","options":{"queryReplacement":"={{ $json.Idcontatochatwoot }}, {{ $json.Idconversachatwoot }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5296,6208],"id":"21d42816-b02a-443f-a7a1-39536973fb31","name":"Buscar Historico FUP3","credentials":{"postgres":{"id":"uSdxNemJ9RfhxUg0","name":"Postgres - Chatwoot"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"mensagens","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-5072,6208],"id":"38ec2af7-72cc-45cb-b712-3b07ae9815ec","name":"Aggregate FUP3"},{"parameters":{"jsCode":"\nconst mensagens = $input.first().json.mensagens || [];\nconst leadData  = $('Loop Over Items6').first().json;\n\nconst nome   = leadData.Nome   || 'amigo(a)';\nconst navio  = leadData.Navio  || leadData.navio  || null;\nconst etapa  = leadData.Etapa  || leadData.etapa  || 'qualificacao';\nconst subEtapa = leadData.em_qual_etapa || null;\nconst qtd    = leadData.QtdPessoas || leadData.qtd_pessoas || null;\nconst orcamento = leadData.Orcamento || leadData.orcamento || null;\nconst estilo = leadData.Estilo || leadData.estilo || null;\nconst jaFez  = leadData.ja_fez_cruzeiro;\nconst pontuacao = leadData.Pontuacao || leadData.pontuacao || 0;\nconst valoresEnviados = !!leadData.valores_enviados;\n\nlet pontoAbandono = 'início da conversa';\nif (subEtapa === 'e1') pontoAbandono = 'coleta do nome';\nelse if (subEtapa === 'e2') pontoAbandono = 'experiência com cruzeiro';\nelse if (subEtapa === 'e3') pontoAbandono = 'quantidade de pessoas';\nelse if (subEtapa === 'e35' || subEtapa === 'e3.5') pontoAbandono = 'identificação do navio';\nelse if (subEtapa === 'e37' || subEtapa === 'e3.7') pontoAbandono = 'confirmação do navio';\nelse if (subEtapa === 'e4') pontoAbandono = 'valores e link de reserva';\nelse if (subEtapa === 'e5') pontoAbandono = 'orçamento';\nelse if (subEtapa === 'e6') pontoAbandono = 'decisão final';\nelse if (etapa === 'pagamento') pontoAbandono = 'pagamento/fechamento';\nelse if (etapa === 'negociacao') pontoAbandono = 'negociação';\n\nconst historico = mensagens\n  .map(m => `[${m.messagem_de}] ${m.content}`)\n  .slice(-20)\n  .join('\\n');\n\nconst systemMessage = `# IDENTIDADE\nVocê é DomainAssistant, especialista em pré-vendas da Demo Events Co — ORGANIZADORA de festival em alto mar temáticos.\nEmbarque APENAS em Santos/SP.\n\n# MISSÃO\nGerar a SEGUNDA e ÚLTIMA mensagem de follow-up para ${nome}. Já enviamos uma mensagem anterior (veja o histórico).\nO lead não respondeu à primeira tentativa. Esta é a última chance de reengajamento.\n\n# CONTEXTO DO LEAD\n- Nome: ${nome}\n- Navio: ${navio || 'não identificado'}\n- Estilo: ${estilo || 'não identificado'}\n- Etapa: ${etapa} (sub-etapa: ${subEtapa || 'n/a'})\n- Ponto de abandono: ${pontoAbandono}\n- Qtd pessoas: ${qtd || 'não informado'}\n- Orçamento: ${orcamento || 'não informado'}\n- Já fez cruzeiro: ${jaFez === true ? 'sim' : jaFez === false ? 'não' : 'não informado'}\n- Valores enviados: ${valoresEnviados ? 'sim' : 'não'}\n- Pontuação: ${pontuacao}/14\n\n# HISTÓRICO COMPLETO\n${historico || '(sem histórico)'}\n\n# ESTRATÉGIA — SEGUNDA TENTATIVA (ÚLTIMA)\nEsta mensagem precisa ser DIFERENTE da primeira. Analise o histórico para não repetir abordagem.\n\n## Abordagens recomendadas:\n1. **Gatilho de escassez suave**: \"As experience resource mais procuradas costumam esgotar rápido...\"\n2. **Prova social**: \"A Demo Events Co já levou mais de 300 mil passageiros, tem 20 anos de história...\"\n3. **Valor emocional**: Pintar a cena do cruzeiro de forma envolvente (show ao vivo, mar, festa)\n4. **Facilitação**: \"Se ficou alguma dúvida, estou aqui — sem compromisso!\"\n5. **Pergunta de baixo atrito**: Algo fácil de responder com sim/não\n\n## Personalização obrigatória:\n- Se sabe o navio → mencionar o artista/tema\n- Se sabe o orçamento → referenciar o custo-benefício\n- Se lead avançou até valores → perguntar se viu o link\n- Se lead estava no início → criar curiosidade sobre a experiência\n\n# REGRAS ABSOLUTAS\n1. NUNCA inventar preços, datas, artistas ou nomes de cruzeiro\n2. NUNCA mencionar: open bar, bebidas inclusas, meet & greet\n3. NUNCA usar \"prezado(a)\" ou tom formal\n4. NUNCA mencionar Simone ou time comercial\n5. NUNCA pressionar ou ser insistente — ser acolhedor\n6. NÃO repetir a mesma abordagem da primeira tentativa (analisar histórico)\n7. Máximo 1 emoji. Tom: amigo que quer ajudar, não vendedor insistente\n8. Se não tem navio identificado, mencionar brevemente a diversidade: forró, sertanejo, axé, pagode\n9. Fechar com pergunta aberta e leve\n\n# FORMATO\nResponda APENAS com a mensagem de texto pronta. Sem JSON, sem markdown, sem aspas.\nMáximo 4-5 frases. Deve soar natural e NÃO automática.`;\n\nconst userMessage = `Gere a segunda (e última) mensagem de follow-up para ${nome}. Ponto de abandono: ${pontoAbandono}. Analise o histórico para não repetir a abordagem anterior.`;\n\nreturn [{ json: { systemMessage, userMessage } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4848,6208],"id":"c2c5dd01-cce7-405f-8d7f-49925da93a84","name":"Montar Prompt FUP5"},{"parameters":{"promptType":"define","text":"={{ $json.userMessage }}","options":{"systemMessage":"={{ $json.systemMessage }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-4624,6208],"id":"cca83909-16a2-49dd-827c-f51c94ea180c","name":"AI Agent FUP3"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"id"},"options":{"maxTokens":500,"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-4704,6448],"id":"13d928db-cae4-4704-b428-bab9e7aeedd6","name":"OpenAI FUP5","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Este código retorna todos os dados das 10 primeiras linhas\nreturn items.slice(0, 800);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6864,5824],"id":"10131471-ad13-4253-b12d-da8a28a14b20","name":"Pega os 10 Primeiros da Lista1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88ea99f4-6803-4f9c-b0e3-7835171c8eb2","leftValue":"={{ $json.mensagem_lead }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7088,5824],"id":"6f5aa3f0-1f52-4541-851f-46e05e5eab69","name":"If2"},{"parameters":{"jsCode":"return items.map(item => {\n  const j = item.json || {};\n\n  const horaMensagemRaw = j[\"Hora Mensagem\"] ?? j[\"HoraMensagem\"] ?? j[\"horaMensagem\"] ?? null;\n  const tempoAtualRaw   = j[\"Tempo atual\"]   ?? j[\"TempoAtual\"]   ?? j[\"tempoAtual\"]   ?? null;\n\n  const horaMensagemStr = typeof horaMensagemRaw === \"string\" ? horaMensagemRaw.trim() : horaMensagemRaw;\n  const tempoAtualStr   = typeof tempoAtualRaw   === \"string\" ? tempoAtualRaw.trim()   : tempoAtualRaw;\n\n  const base = {\n    Nome:               j[\"Nome\"]               ?? null,\n    Id:                 j[\"Id\"]                 ?? null,\n    Telefone:           j[\"Telefone\"]           ?? null,\n    Email:              j[\"Email\"]              ?? null,\n    Idcontatochatwoot:  j[\"Idcontatochatwoot\"]  ?? null,\n    Idconversachatwoot: j[\"Idconversachatwoot\"] ?? null,\n    Navio:              j[\"Navio\"]              ?? null,\n    etapa:              j[\"etapa\"]              ?? null,\n    em_qual_etapa:      j[\"em_qual_etapa\"]      ?? null,\n    QtdPessoas:         j[\"QtdPessoas\"]         ?? null,\n    Orcamento:          j[\"Orcamento\"]          ?? null,\n    ja_fez_cruzeiro:    j[\"ja_fez_cruzeiro\"]    ?? null,\n    materiaisEnviados:  j[\"materiaisEnviados\"]  ?? null,\n    valoresEnviados:    j[\"valoresEnviados\"]    ?? null,\n    \"Hora Mensagem\":    horaMensagemStr         ?? null,\n    \"Tempo atual\":      tempoAtualStr           ?? null\n  };\n\n  if (!horaMensagemStr || !tempoAtualStr) {\n    return {\n      json: {\n        ...base,\n        error: \"Um dos campos de data está vazio\",\n        _debug: {\n          temHoraMensagem:   Boolean(horaMensagemStr),\n          temTempoAtual:     Boolean(tempoAtualStr),\n          chavesDisponiveis: Object.keys(j)\n        }\n      }\n    };\n  }\n\n  // ── Parser 1: ISO 8601 → extrai hora local, ignora offset de fuso\n  // Ex: \"2026-03-04T12:53:44.188-03:00\" → 12h53\n  function parseISO(str) {\n    if (!/^\\d{4}-\\d{2}-\\d{2}T/.test(str)) return null;\n    const m = str.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, yyyy, MM, dd, HH, mm] = m;\n    return new Date(parseInt(yyyy), parseInt(MM) - 1, parseInt(dd), parseInt(HH), parseInt(mm));\n  }\n\n  // ── Parser 2: PT-BR → \"sexta-feira, 06 de março de 2026, 11:50\"\n  function parsePtBr(str) {\n    const meses = {\n      janeiro: 0, fevereiro: 1, março: 2, marco: 2,\n      abril: 3, maio: 4, junho: 5, julho: 6,\n      agosto: 7, setembro: 8, outubro: 9, novembro: 10, dezembro: 11\n    };\n    const clean = str.replace(/^[^,]+,\\s*/, \"\");\n    const m = clean.match(/(\\d{1,2}) de ([^\\s]+) de (\\d{4}), (\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, dd, mesStr, yyyy, HH, MM] = m;\n    const mes = meses[mesStr.toLowerCase()];\n    if (mes === undefined) return null;\n    return new Date(parseInt(yyyy), mes, parseInt(dd), parseInt(HH), parseInt(MM));\n  }\n\n  // ── Tenta ISO primeiro, depois PT-BR\n  function parseData(str) {\n    return parseISO(str) ?? parsePtBr(str);\n  }\n\n  const dataMensagem = parseData(horaMensagemStr);\n  const dataAtual    = parseData(tempoAtualStr);\n\n  if (!dataMensagem || !dataAtual) {\n    return {\n      json: {\n        ...base,\n        error: \"Erro ao interpretar datas\",\n        _debug: {\n          horaMensagemStr,\n          tempoAtualStr,\n          parsedMensagem: String(dataMensagem),\n          parsedAtual:    String(dataAtual)\n        }\n      }\n    };\n  }\n\n  const diffMs      = dataAtual.getTime() - dataMensagem.getTime();\n  const diffHoras   = Math.floor(diffMs / (1000 * 60 * 60));\n  const diffMinutos = Math.floor(diffMs / (1000 * 60)) % 60;\n\n  return {\n    json: {\n      ...base,\n      diferencaHoras:   diffHoras,\n      diferencaMinutos: diffMinutos\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6416,5824],"id":"4c348c84-44a3-46c7-8a19-039e25c8d0d7","name":"Diferença de Horas1"},{"parameters":{"assignments":{"assignments":[{"id":"8cd29fb8-ef7b-4aa4-a8ac-b6e0d9f24955","name":"Hora Mensagem","value":"={{ $json.hora_mensagem }}","type":"string"},{"id":"bec4660e-4923-4978-9c33-21ce4ac67c05","name":"Nome","value":"={{ $json.Nome }}","type":"string"},{"id":"7df1b195-f875-4607-b559-65c9c01deef3","name":"Id","value":"={{ $json.id }}","type":"number"},{"id":"12f65e25-6153-4c0c-89a2-10641f96bb1b","name":"Telefone","value":"={{ $json.Telefone }}","type":"string"},{"id":"24044a3e-a502-4954-84d0-a701b9f6f715","name":"Tempo atual","value":"={{ $now.setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}","type":"string"},{"id":"9fdba900-f879-4c33-aab9-3c50fc5aff55","name":"Idcontatochatwoot","value":"={{ $json.id_contato_chatwoot }}","type":"string"},{"id":"2debc26a-881d-4e9e-9292-4b4ec55f214d","name":"Idconversachatwoot","value":"={{ $json.id_conversa_chatwoot }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6640,5824],"id":"c8b9597d-532a-4fe7-bb24-135d2160ac64","name":"Pega Time Mensagem1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d06b6bf-498a-493f-8a78-bc518627a95e","leftValue":"={{ $json.fup }}","rightValue":"1","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7312,5824],"id":"634d5682-cef1-441b-87c0-38114ed10b31","name":"FollowUpStatus = 2"},{"parameters":{"jsCode":"return items.map(item => {\n  const timeZone = \"America/Sao_Paulo\";\n\n  // Hora atual em São Paulo\n  const nowSP = new Date(\n    new Date().toLocaleString(\"en-US\", { timeZone })\n  );\n  const hour = nowSP.getHours(); // 0–23\n\n  // Janela permitida: 08:00 <= agora < 22:00\n  const withinAllowedTime = hour >= 8 && hour < 22;\n\n  return {\n    json: {\n      ...item.json,\n      currentTime: nowSP.toLocaleString(\"pt-BR\", { timeZone }),\n      withinAllowedTime\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5968,5824],"id":"ef271e99-89ac-4e0e-8430-cdee0c146e34","name":"8 as 22 horas"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"92f73086-dc73-4a79-934f-73df426ef77c","leftValue":"={{ $json.withinAllowedTime }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5744,5824],"id":"a6b41c8c-e125-4865-b31c-bba4a6b8f16d","name":"Se horário é das 08 as 2"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-5296,5824],"id":"1978b32c-7e20-4127-b525-cbb3262de015","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59d71979-05d8-4d71-980f-28581fd939bd","leftValue":"={{ $json.diferencaHoras }}","rightValue":0.9,"operator":{"type":"number","operation":"gt"}},{"id":"b3fc6e27-0b6e-4ee5-8f35-b02f06551e5d","leftValue":"={{ $json.diferencaHoras }}","rightValue":24,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6192,5824],"id":"f0ba299a-7375-411c-b39d-232b84907d7b","name":"maior que 1 hora"},{"parameters":{"jsCode":"// Este código retorna todos os dados das 10 primeiras linhas\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6864,6592],"id":"60cdb938-72c4-406b-8a3d-7b61149f1efd","name":"Pega os 10 Primeiros da Lista6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88ea99f4-6803-4f9c-b0e3-7835171c8eb2","leftValue":"={{ $json['Mensagem Lead'] }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7088,6592],"id":"cf71a0f4-1cc0-402c-8d45-c78368b00d67","name":"If27"},{"parameters":{"jsCode":"return items.map(item => {\n  const j = item.json || {};\n\n  const horaMensagemRaw = j[\"Hora Mensagem\"] ?? j[\"HoraMensagem\"] ?? j[\"horaMensagem\"] ?? null;\n  const tempoAtualRaw   = j[\"Tempo atual\"]   ?? j[\"TempoAtual\"]   ?? j[\"tempoAtual\"]   ?? null;\n\n  const horaMensagemStr = typeof horaMensagemRaw === \"string\" ? horaMensagemRaw.trim() : horaMensagemRaw;\n  const tempoAtualStr   = typeof tempoAtualRaw   === \"string\" ? tempoAtualRaw.trim()   : tempoAtualRaw;\n\n  const base = {\n    Nome:               j[\"Nome\"]               ?? null,\n    Id:                 j[\"Id\"]                 ?? null,\n    Telefone:           j[\"Telefone\"]           ?? null,\n    Email:              j[\"Email\"]              ?? null,\n    Idcontatochatwoot:  j[\"Idcontatochatwoot\"]  ?? null,\n    Idconversachatwoot: j[\"Idconversachatwoot\"] ?? null,\n    Navio:              j[\"Navio\"]              ?? null,\n    etapa:              j[\"etapa\"]              ?? null,\n    em_qual_etapa:      j[\"em_qual_etapa\"]      ?? null,\n    QtdPessoas:         j[\"QtdPessoas\"]         ?? null,\n    Orcamento:          j[\"Orcamento\"]          ?? null,\n    ja_fez_cruzeiro:    j[\"ja_fez_cruzeiro\"]    ?? null,\n    materiaisEnviados:  j[\"materiaisEnviados\"]  ?? null,\n    valoresEnviados:    j[\"valoresEnviados\"]    ?? null,\n    \"Hora Mensagem\":    horaMensagemStr         ?? null,\n    \"Tempo atual\":      tempoAtualStr           ?? null\n  };\n\n  if (!horaMensagemStr || !tempoAtualStr) {\n    return {\n      json: {\n        ...base,\n        error: \"Um dos campos de data está vazio\",\n        _debug: {\n          temHoraMensagem:   Boolean(horaMensagemStr),\n          temTempoAtual:     Boolean(tempoAtualStr),\n          chavesDisponiveis: Object.keys(j)\n        }\n      }\n    };\n  }\n\n  // ── Parser 1: ISO 8601 → extrai hora local, ignora offset de fuso\n  // Ex: \"2026-03-04T12:53:44.188-03:00\" → 12h53\n  function parseISO(str) {\n    if (!/^\\d{4}-\\d{2}-\\d{2}T/.test(str)) return null;\n    const m = str.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, yyyy, MM, dd, HH, mm] = m;\n    return new Date(parseInt(yyyy), parseInt(MM) - 1, parseInt(dd), parseInt(HH), parseInt(mm));\n  }\n\n  // ── Parser 2: PT-BR → \"sexta-feira, 06 de março de 2026, 11:50\"\n  function parsePtBr(str) {\n    const meses = {\n      janeiro: 0, fevereiro: 1, março: 2, marco: 2,\n      abril: 3, maio: 4, junho: 5, julho: 6,\n      agosto: 7, setembro: 8, outubro: 9, novembro: 10, dezembro: 11\n    };\n    const clean = str.replace(/^[^,]+,\\s*/, \"\");\n    const m = clean.match(/(\\d{1,2}) de ([^\\s]+) de (\\d{4}), (\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, dd, mesStr, yyyy, HH, MM] = m;\n    const mes = meses[mesStr.toLowerCase()];\n    if (mes === undefined) return null;\n    return new Date(parseInt(yyyy), mes, parseInt(dd), parseInt(HH), parseInt(MM));\n  }\n\n  // ── Tenta ISO primeiro, depois PT-BR\n  function parseData(str) {\n    return parseISO(str) ?? parsePtBr(str);\n  }\n\n  const dataMensagem = parseData(horaMensagemStr);\n  const dataAtual    = parseData(tempoAtualStr);\n\n  if (!dataMensagem || !dataAtual) {\n    return {\n      json: {\n        ...base,\n        error: \"Erro ao interpretar datas\",\n        _debug: {\n          horaMensagemStr,\n          tempoAtualStr,\n          parsedMensagem: String(dataMensagem),\n          parsedAtual:    String(dataAtual)\n        }\n      }\n    };\n  }\n\n  const diffMs      = dataAtual.getTime() - dataMensagem.getTime();\n  const diffHoras   = Math.floor(diffMs / (1000 * 60 * 60));\n  const diffMinutos = Math.floor(diffMs / (1000 * 60)) % 60;\n\n  return {\n    json: {\n      ...base,\n      diferencaHoras:   diffHoras,\n      diferencaMinutos: diffMinutos\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6416,6592],"id":"a416d54e-fed1-4267-994d-b1a89d834da9","name":"Diferença de Horas6"},{"parameters":{"jsCode":"return items.map(item => {\n  const timeZone = \"America/Sao_Paulo\";\n\n  // Hora atual em São Paulo\n  const nowSP = new Date(\n    new Date().toLocaleString(\"en-US\", { timeZone })\n  );\n  const hour = nowSP.getHours(); // 0–23\n\n  // Janela permitida: 08:00 <= agora < 22:00\n  const withinAllowedTime = hour >= 8 && hour < 22;\n\n  return {\n    json: {\n      ...item.json,\n      currentTime: nowSP.toLocaleString(\"pt-BR\", { timeZone }),\n      withinAllowedTime\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5968,6448],"id":"5cc7124f-db8e-4200-9762-92c13326c471","name":"8 as 22 horas6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"92f73086-dc73-4a79-934f-73df426ef77c","leftValue":"={{ $json.withinAllowedTime }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5744,6448],"id":"6ceaead7-4277-462e-a886-96e316953109","name":"Se horário é das 08 as 26"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-5520,6448],"id":"d33e3bab-842d-4279-a31b-432d185da0dd","name":"Loop Over Items6"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').item.json.chatwooturl }}/api/v1/accounts/{{ $('Edit Fields').item.json.accountid }}/conversations/{{ $('Loop Over Items6').item.json.Idconversachatwoot }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"=${CHATWOOT_TOKEN}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('AI Agent FUP3').item.json.output }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4208,6208],"id":"3c99f532-a96e-435c-8b51-b270105ff88c","name":"HTTP Request2","executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d06b6bf-498a-493f-8a78-bc518627a95e","leftValue":"={{ $json.fup }}","rightValue":"3","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7312,6592],"id":"56a0d548-3915-4afa-9919-2ca2262994fe","name":"FollowUpStatus = 6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94168bb8-6766-4363-ba6c-92c41c6466d5","leftValue":"={{ $json.pausado }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"bc5b9d28-2d97-4940-9e7a-876693cbc321","leftValue":"={{ $json.vendedor }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7536,6208],"id":"b4cc72e0-f10e-4d11-be3a-4d5e8e6d3a6c","name":"Se Agendado/Reagendado/Compareceu2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59d71979-05d8-4d71-980f-28581fd939bd","leftValue":"={{ $json.diferencaHoras }}","rightValue":11,"operator":{"type":"number","operation":"gte"}},{"id":"54b4495f-d81b-468f-b125-93e6e3bdf4a8","leftValue":"={{ $json.diferencaHoras }}","rightValue":24,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6192,6592],"id":"f29345b5-acc2-44c8-8af8-449c181ad82f","name":"maior que 24 horas"},{"parameters":{"operation":"update","tableId":"whatsapp_bdr","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items').item.json.Id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"hora_mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").toFormat(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"fup","fieldValue":"3"},{"fieldId":"mensagem_lead","fieldValue":"={{false}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3696,5440],"id":"a6997a64-1af9-4f29-b518-8aed904f0beb","name":"Update a row2","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"operation":"update","tableId":"whatsapp_bdr","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items6').item.json.Id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"hora_mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").toFormat(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"fup","fieldValue":"concluido"},{"fieldId":"mensagem_lead","fieldValue":"={{false}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3920,6208],"id":"34237760-36fd-4adc-a013-ad1e7c134ef6","name":"Update a row5","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"=696a38a9f4b47c00132f6497"},{"name":"amount","value":"3000"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2800,5568],"id":"705011d5-1017-453b-91d1-e2346e132d35","name":"Funil - FUP1","executeOnce":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Loop Over Items').item.json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3472,5440],"id":"8369d829-2a4e-42d6-a134-6d3f1124c1c5","name":"Pega id do contato2","executeOnce":true,"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $('Pega id do contato8').item.json.contacts[0].deals[0].id || $('Criar a Negociação6').item.json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"=691e211cb7a0b10013abde15"},{"name":"amount","value":"3000"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3024,6304],"id":"fb5e6b33-eab0-4a8e-95ea-bdd71521a136","name":"Funil - FUP6","onError":"continueRegularOutput"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3696,6208],"id":"d55e2a80-94a8-4cde-ae4e-05fd73045fc1","name":"Pega id do contato8"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2800,6304],"id":"55294780-f908-429f-af72-bf1f6291de13","name":"Wait","webhookId":"f2fb448d-918e-44bd-a9ce-b31e5f90a555"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2576,5536],"id":"ba2b07b5-1ae5-4b94-bd14-d7dd6013e6b0","name":"Wait6","webhookId":"0deee13d-e638-4c76-ba4f-80125b75ff7d"},{"parameters":{"assignments":{"assignments":[{"id":"e8a984ac-68f2-4e01-819f-18342f854340","name":"chatwooturl","value":"https://chatwoot.demo-events.com.br","type":"string"},{"id":"b3de1e03-865f-4a07-b10a-54db6728672e","name":"accountid","value":"1","type":"string"},{"id":"29ea5b6e-9276-4734-a858-2a5efc343bed","name":"chatwoottoken","value":"${CHATWOOT_TOKEN}","type":"string"},{"id":"a13742c0-82a8-4326-88b2-fd6f41374f0e","name":"tipo_fluxo","value":"producao","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8208,6208],"id":"5cacdc93-3b92-4afe-b771-db1475ac6c6e","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e592c35e-79f3-4728-a6a1-99234808c5d2","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3248,5440],"id":"737c1be8-bd2f-421b-8290-739329823ac1","name":"If17"},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"691635bac3aa230014102ff8\",\n    \"name\": \"{{ $('Loop Over Items').item.json.Nome }} - MUDAR\",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5d5b72bd1e0013392272\",\n        \"value\": \"SDR IA\"\n      }\n    ]\n  },\n  \"contacts\": [\n    {\n      \"name\": \"{{ $('Loop Over Items').item.json.Nome }}\",\n      \"phones\": [\n        {\n          \"phone\": \"{{ $('Loop Over Items').item.json.Telefone }}\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3024,5376],"id":"1c9053e9-1bce-4d54-8b76-dd3a27ae85d9","name":"Criar a Negociação","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e592c35e-79f3-4728-a6a1-99234808c5d2","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3472,6208],"id":"7ae45486-7de7-46fb-8b69-fa8dd9fdb6c0","name":"If18"},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"691635bac3aa230014102ff8\",\n    \"name\": \"{{ $('Loop Over Items6').item.json.Nome }}\",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5d5b72bd1e0013392272\",\n        \"value\": \"SDR IA\"\n      }\n    ]\n  },\n  \"contacts\": [\n    {\n      \"name\": \"{{ $('Loop Over Items6').item.json.Nome }}\",\n      \"phones\": [\n        {\n          \"phone\": \"{{ $('Loop Over Items6').item.json.Telefone }}\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3248,6112],"id":"2273b6d4-ec5c-42c2-8d68-96d707163a97","name":"Criar a Negociação6","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"8cd29fb8-ef7b-4aa4-a8ac-b6e0d9f24955","name":"Hora Mensagem","value":"={{ $json.hora_mensagem }}","type":"string"},{"id":"bec4660e-4923-4978-9c33-21ce4ac67c05","name":"Nome","value":"={{ $json.Nome }}","type":"string"},{"id":"7df1b195-f875-4607-b559-65c9c01deef3","name":"Id","value":"={{ $json.id }}","type":"number"},{"id":"12f65e25-6153-4c0c-89a2-10641f96bb1b","name":"Telefone","value":"={{ $json.Telefone }}","type":"string"},{"id":"24044a3e-a502-4954-84d0-a701b9f6f715","name":"Tempo atual","value":"={{ $now.setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}","type":"string"},{"id":"9fdba900-f879-4c33-aab9-3c50fc5aff55","name":"Idcontatochatwoot","value":"={{ $json.id_contato_chatwoot }}","type":"string"},{"id":"2debc26a-881d-4e9e-9292-4b4ec55f214d","name":"Idconversachatwoot","value":"={{ $json.id_conversa_chatwoot }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6640,6592],"id":"68b07202-6dc7-4bf1-ac65-8b9e6463122e","name":"Pega Time Mensagem6"},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"=696a38a9f4b47c00132f6497"},{"name":"amount","value":"3000"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2800,5376],"id":"49ebd5d7-c7ae-43ef-8eaa-97ada8ba0854","name":"Funil - FUP 1","executeOnce":true,"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"deal_stage_id","value":"=691e211cb7a0b10013abde15"},{"name":"amount","value":"3000"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3024,6112],"id":"92a35642-a6f4-4b3d-8b70-071c29fd9723","name":"Funil - FUP 6","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Este código retorna todos os dados das 10 primeiras linhas\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5520,5824],"id":"c0fa2fd0-ffd5-4212-bf09-10ec85ba50d2","name":"Pega os 10 Primeiros da Lista9"},{"parameters":{"jsCode":"let arrayLeadsFUP = $('Get many rows').all();\n\narrayLeadsFUP = arrayLeadsFUP.filter(i => i.json.fup !== \"concluido\");\n\nreturn arrayLeadsFUP;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-7760,6208],"id":"552bfc1d-536c-43df-807b-5bbad6d92fc8","name":"Code in JavaScript"},{"parameters":{"operation":"getAll","tableId":"whatsapp_bdr","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"interagiu","condition":"is","keyValue":"={{ true }}"},{"keyName":"id_contato_chatwoot","condition":"neq","keyValue":"={{ null }}"},{"keyName":"id_conversa_chatwoot","condition":"neq","keyValue":"={{ null }}"},{"keyName":"sem_interesse","condition":"is","keyValue":"={{ false }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-7984,6208],"id":"ea06872b-da53-4688-b015-bf0f009d6e48","name":"Get many rows","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').item.json.chatwooturl }}/api/v1/accounts/{{ $('Edit Fields').item.json.accountid }}/conversations/{{ $('Loop Over Items').item.json.Idconversachatwoot }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"=${CHATWOOT_TOKEN}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('AI Agent').item.json.output }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-3920,5440],"id":"77cda41d-e06b-448b-b0ef-1311853c5ade","name":"HTTP Request24","alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"54b4495f-d81b-468f-b125-93e6e3bdf4a8","leftValue":"={{ $json.diferencaHoras }}","rightValue":24,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5984,6624],"id":"75227ab0-620a-488e-9233-98ef5bac3ade","name":"maior que 24 horas6"},{"parameters":{"batchSize":500,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-5744,6640],"id":"8d699643-50d7-4e90-8f18-eb03928b7390","name":"Loop Over Items9"},{"parameters":{"operation":"update","tableId":"sdr_whatsapp_forms","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items9').item.json.Id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"hora_mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").toFormat(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"fup","fieldValue":"concluido"},{"fieldId":"mensagem_lead","fieldValue":"={{false}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5520,6640],"id":"208afee0-9587-4584-96b7-f3e65f4c647a","name":"Update a row9","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"operation":"executeQuery","query":"select case when me.message_type = 0 then 'Usuario' else 'IA' end messagem_de, me.created_at, me.\"content\"\n  from public.messages me\n  join (SELECT me.conversation_id, me.inbox_id, count(1) cont\n\t\t  from public.messages me\n\t\t where me.message_type in ('0','1')\n\t\t group by me.conversation_id, me.inbox_id) meo\n    on me.conversation_id = meo.conversation_id\n   and me.inbox_id = meo.inbox_id\n  join conversations co \n    on me.conversation_id = co.id\n  join contacts con\n    on con.id = co.contact_id\n  where (me.\"content\"  is not null and me.\"content\" <> '')\n\tand me.inbox_id in (38)\n\tand me.message_type in (0,1)\n    and con.id = $1\n    and co.display_id = $2\n  order by me.id asc","options":{"queryReplacement":"={{ $json.Idcontatochatwoot }}, {{ $json.Idconversachatwoot }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5072,5440],"id":"7bceecce-cc15-4932-b20e-699e0b806834","name":"Execute a SQL query","credentials":{"postgres":{"id":"uSdxNemJ9RfhxUg0","name":"Postgres - Chatwoot"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"mensagens","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-4848,5440],"id":"2f12aed3-b8a1-444e-a724-cbe3b1b95653","name":"Aggregate"},{"parameters":{"promptType":"define","text":"={{ $json.userMessage }}","options":{"systemMessage":"={{ $json.systemMessage }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-4272,5440],"id":"33b169a0-75a5-4f4f-a6d4-681f413d6b44","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Loop Over Items').item.json.Telefone }}_{{ $('Edit Fields').first().json.tipo_fluxo }}","tableName":"promo","contextWindowLength":100},"id":"cb42831f-79e8-473c-80ec-1b9bd2f316af","name":"Memory Postgres4","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-4176,5664],"credentials":{"postgres":{"id":"TTrqj0rnakiukRd7","name":"Postgres account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Loop Over Items6').item.json.Telefone }}_{{ $('Edit Fields').first().json.tipo_fluxo }}","tableName":"promo","contextWindowLength":100},"id":"f80471c4-22c4-4305-9d2c-a1e6e1b7973c","name":"Memory Postgres5","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-4512,6432],"credentials":{"postgres":{"id":"TTrqj0rnakiukRd7","name":"Postgres account"}}},{"parameters":{"content":"## FUP BDR","height":1600,"width":6112},"type":"n8n-nodes-base.stickyNote","position":[-8496,5232],"typeVersion":1,"id":"1467b7b2-4d1c-446a-8be1-b97c72891c9b","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"8cd29fb8-ef7b-4aa4-a8ac-b6e0d9f24955","name":"Hora Mensagem","value":"={{ $json.hora_mensagem }}","type":"string"},{"id":"bec4660e-4923-4978-9c33-21ce4ac67c05","name":"Nome","value":"={{ $json.Nome }}","type":"string"},{"id":"7df1b195-f875-4607-b559-65c9c01deef3","name":"Id","value":"={{ $json.id }}","type":"number"},{"id":"12f65e25-6153-4c0c-89a2-10641f96bb1b","name":"Telefone","value":"={{ $json.Telefone }}","type":"string"},{"id":"24044a3e-a502-4954-84d0-a701b9f6f715","name":"Tempo atual","value":"={{ $now.setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}","type":"string"},{"id":"9fdba900-f879-4c33-aab9-3c50fc5aff55","name":"Idcontatochatwoot","value":"={{ $json.id_contato_chatwoot }}","type":"string"},{"id":"2debc26a-881d-4e9e-9292-4b4ec55f214d","name":"Idconversachatwoot","value":"={{ $json.id_conversa_chatwoot }}","type":"string"},{"id":"59c235e2-7503-4078-aea0-aaf4a91eb584","name":"Navio","value":"={{ $json.Navio }}","type":"string"},{"id":"afe58c75-6003-4489-bec0-2cab01576fb0","name":"etapa","value":"={{ $json.etapa }}","type":"string"},{"id":"ba72ae16-66f6-4518-a192-3dd111a4373e","name":"em_qual_etapa","value":"={{ $json.em_qual_etapa }}","type":"string"},{"id":"475a10dd-217d-4b74-8bc5-789fc6b631c9","name":"QtdPessoas","value":"={{ $json.QtdPessoas }}","type":"string"},{"id":"74278a17-83c2-409e-b603-b0abf061f878","name":"Orcamento","value":"={{ $json.Orcamento }}","type":"string"},{"id":"7411a1ef-44aa-4b06-b05a-a3cd9a55f73f","name":"ja_fez_cruzeiro","value":"={{ $json.ja_fez_cruzeiro }}","type":"string"},{"id":"09bd84bb-87f3-49b8-80f7-c23763a62415","name":"materiaisEnviados","value":"={{ $json.materiais_enviados }}","type":"boolean"},{"id":"2f708da7-aa26-46f7-90da-1a480bfcc5a6","name":"valoresEnviados","value":"={{ $json.envia_link_pagamento }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6624,3024],"id":"dd800585-2a69-4874-818f-043a2445583c","name":"Pega Time Mensagem3"}],"connections":{"Montar Prompt FUP1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"OpenAI FUP1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Buscar Historico FUP2":{"main":[[{"node":"Aggregate FUP2","type":"main","index":0}]]},"Aggregate FUP2":{"main":[[{"node":"Montar Prompt FUP2","type":"main","index":0}]]},"Montar Prompt FUP2":{"main":[[{"node":"AI Agent FUP2","type":"main","index":0}]]},"AI Agent FUP2":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"OpenAI FUP2":{"ai_languageModel":[[{"node":"AI Agent FUP2","type":"ai_languageModel","index":0}]]},"Pega os 10 Primeiros da Lista":{"main":[[{"node":"Pega Time Mensagem","type":"main","index":0}]]},"If":{"main":[[{"node":"Pega os 10 Primeiros da Lista","type":"main","index":0}]]},"Diferença de Horas":{"main":[[{"node":"maior que 1 hora1","type":"main","index":0}]]},"Pega Time Mensagem":{"main":[[{"node":"Diferença de Horas","type":"main","index":0}]]},"FollowUpStatus = ":{"main":[[{"node":"If","type":"main","index":0}],[]]},"8 as 22 horas1":{"main":[[{"node":"Se horário é das 08 as ","type":"main","index":0}]]},"Se horário é das 08 as ":{"main":[[{"node":"Pega os 10 Primeiros da Lista7","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Execute a SQL query1","type":"main","index":0}]]},"maior que 1 hora1":{"main":[[{"node":"8 as 22 horas1","type":"main","index":0}]]},"Pega os 10 Primeiros da Lista4":{"main":[[{"node":"Pega Time Mensagem4","type":"main","index":0}]]},"If25":{"main":[[{"node":"Pega os 10 Primeiros da Lista4","type":"main","index":0}]]},"Diferença de Horas4":{"main":[[{"node":"maior que 24 horas2","type":"main","index":0}]]},"8 as 22 horas4":{"main":[[{"node":"Se horário é das 08 as 24","type":"main","index":0}]]},"Se horário é das 08 as 24":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"Buscar Historico FUP2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Update a row3","type":"main","index":0}],[{"node":"Loop Over Items4","type":"main","index":0}]]},"FollowUpStatus = 4":{"main":[[{"node":"If25","type":"main","index":0}]]},"Se Agendado/Reagendado/Compareceu":{"main":[[],[{"node":"FollowUpStatus = ","type":"main","index":0},{"node":"FollowUpStatus = 4","type":"main","index":0}]]},"maior que 24 horas2":{"main":[[{"node":"8 as 22 horas4","type":"main","index":0}],[{"node":"maior que 24 horas3","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Pega id do contato","type":"main","index":0}]]},"Update a row3":{"main":[[{"node":"Pega id do contato6","type":"main","index":0}]]},"Funil - FUP":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Pega id do contato":{"main":[[{"node":"If13","type":"main","index":0}]]},"Funil - FUP3":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Pega id do contato6":{"main":[[{"node":"If14","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Get many rows1","type":"main","index":0}]]},"If13":{"main":[[{"node":"Criar a Negociação2","type":"main","index":0}],[{"node":"Funil - FUP","type":"main","index":0}]]},"Criar a Negociação2":{"main":[[{"node":"Funil - FUP ","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"If14":{"main":[[{"node":"Criar a Negociação3","type":"main","index":0}],[{"node":"Funil - FUP3","type":"main","index":0}]]},"Criar a Negociação3":{"main":[[{"node":"Funil - FUP 3","type":"main","index":0}]]},"Pega Time Mensagem4":{"main":[[{"node":"Diferença de Horas4","type":"main","index":0}]]},"Funil - FUP ":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Funil - FUP 3":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Pega os 10 Primeiros da Lista7":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Se Agendado/Reagendado/Compareceu","type":"main","index":0}]]},"Get many rows1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"HTTP Request22":{"main":[[{"node":"Update a row","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"maior que 24 horas3":{"main":[[{"node":"Loop Over Items7","type":"main","index":0}]]},"Loop Over Items7":{"main":[[],[{"node":"Update a row7","type":"main","index":0}]]},"Update a row7":{"main":[[{"node":"Loop Over Items7","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Montar Prompt FUP1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"HTTP Request22","type":"main","index":0}]]},"Memory Postgres1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Memory Postgres":{"ai_memory":[[{"node":"AI Agent FUP2","type":"ai_memory","index":0}]]},"Montar Prompt FUP":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"OpenAI FUP":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Buscar Historico FUP":{"main":[[{"node":"Aggregate FUP","type":"main","index":0}]]},"Aggregate FUP":{"main":[[{"node":"Montar Prompt FUP3","type":"main","index":0}]]},"Montar Prompt FUP3":{"main":[[{"node":"AI Agent FUP","type":"main","index":0}]]},"AI Agent FUP":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"OpenAI FUP3":{"ai_languageModel":[[{"node":"AI Agent FUP","type":"ai_languageModel","index":0}]]},"Pega os 10 Primeiros da Lista2":{"main":[[{"node":"Pega Time Mensagem2","type":"main","index":0}]]},"If1":{"main":[[{"node":"Pega os 10 Primeiros da Lista2","type":"main","index":0}]]},"Diferença de Horas2":{"main":[[{"node":"maior que 1 hora2","type":"main","index":0}]]},"Pega Time Mensagem2":{"main":[[{"node":"Diferença de Horas2","type":"main","index":0}]]},"FollowUpStatus = 1":{"main":[[{"node":"If1","type":"main","index":0}],[]]},"8 as 22 horas2":{"main":[[{"node":"Se horário é das 08 as 1","type":"main","index":0}]]},"Se horário é das 08 as 1":{"main":[[{"node":"Pega os 10 Primeiros da Lista8","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Execute a SQL query2","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Edit Fields2","type":"main","index":0},{"node":"Edit Fields1","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"maior que 1 hora2":{"main":[[{"node":"8 as 22 horas2","type":"main","index":0}]]},"Pega os 10 Primeiros da Lista5":{"main":[[{"node":"Pega Time Mensagem3","type":"main","index":0}]]},"If26":{"main":[[{"node":"Pega os 10 Primeiros da Lista5","type":"main","index":0}]]},"Diferença de Horas5":{"main":[[{"node":"maior que 24 horas4","type":"main","index":0}]]},"8 as 22 horas5":{"main":[[{"node":"Se horário é das 08 as 25","type":"main","index":0}]]},"Se horário é das 08 as 25":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Loop Over Items5":{"main":[[],[{"node":"Buscar Historico FUP","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Update a row4","type":"main","index":0}],[{"node":"Loop Over Items5","type":"main","index":0}]]},"FollowUpStatus = 5":{"main":[[{"node":"If26","type":"main","index":0}]]},"Se Agendado/Reagendado/Compareceu1":{"main":[[],[{"node":"FollowUpStatus = 1","type":"main","index":0},{"node":"FollowUpStatus = 5","type":"main","index":0}]]},"maior que 24 horas4":{"main":[[{"node":"8 as 22 horas5","type":"main","index":0}],[{"node":"maior que 24 horas5","type":"main","index":0}]]},"Update a row1":{"main":[[{"node":"Pega id do contato1","type":"main","index":0}]]},"Update a row4":{"main":[[{"node":"Pega id do contato7","type":"main","index":0}]]},"Funil - FUP4":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"Pega id do contato1":{"main":[[{"node":"If15","type":"main","index":0}]]},"Funil - FUP5":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Pega id do contato7":{"main":[[{"node":"If16","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Get many rows2","type":"main","index":0}]]},"If15":{"main":[[{"node":"Criar a Negociação4","type":"main","index":0}],[{"node":"Funil - FUP4","type":"main","index":0}]]},"Criar a Negociação4":{"main":[[{"node":"Funil - FUP 4","type":"main","index":0}],[{"node":"Loop Over Items2","type":"main","index":0}]]},"If16":{"main":[[{"node":"Criar a Negociação5","type":"main","index":0}],[{"node":"Funil - FUP5","type":"main","index":0}]]},"Criar a Negociação5":{"main":[[{"node":"Funil - FUP 5","type":"main","index":0}]]},"Funil - FUP 4":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"Funil - FUP 5":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Pega os 10 Primeiros da Lista8":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Se Agendado/Reagendado/Compareceu1","type":"main","index":0}]]},"Get many rows2":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"HTTP Request23":{"main":[[{"node":"Update a row1","type":"main","index":0}],[{"node":"Loop Over Items2","type":"main","index":0}]]},"maior que 24 horas5":{"main":[[{"node":"Loop Over Items8","type":"main","index":0}]]},"Loop Over Items8":{"main":[[],[{"node":"Update a row8","type":"main","index":0}]]},"Update a row8":{"main":[[{"node":"Loop Over Items8","type":"main","index":0}]]},"Execute a SQL query2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Montar Prompt FUP","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"HTTP Request23","type":"main","index":0}]]},"Memory Postgres2":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"Memory Postgres3":{"ai_memory":[[{"node":"AI Agent FUP","type":"ai_memory","index":0}]]},"Montar Prompt FUP4":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI FUP4":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Buscar Historico FUP3":{"main":[[{"node":"Aggregate FUP3","type":"main","index":0}]]},"Aggregate FUP3":{"main":[[{"node":"Montar Prompt FUP5","type":"main","index":0}]]},"Montar Prompt FUP5":{"main":[[{"node":"AI Agent FUP3","type":"main","index":0}]]},"AI Agent FUP3":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"OpenAI FUP5":{"ai_languageModel":[[{"node":"AI Agent FUP3","type":"ai_languageModel","index":0}]]},"Pega os 10 Primeiros da Lista1":{"main":[[{"node":"Pega Time Mensagem1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Pega os 10 Primeiros da Lista1","type":"main","index":0}]]},"Diferença de Horas1":{"main":[[{"node":"maior que 1 hora","type":"main","index":0}]]},"Pega Time Mensagem1":{"main":[[{"node":"Diferença de Horas1","type":"main","index":0}]]},"FollowUpStatus = 2":{"main":[[{"node":"If2","type":"main","index":0}]]},"8 as 22 horas":{"main":[[{"node":"Se horário é das 08 as 2","type":"main","index":0}]]},"Se horário é das 08 as 2":{"main":[[{"node":"Pega os 10 Primeiros da Lista9","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute a SQL query","type":"main","index":0}]]},"maior que 1 hora":{"main":[[{"node":"8 as 22 horas","type":"main","index":0}]]},"Pega os 10 Primeiros da Lista6":{"main":[[{"node":"Pega Time Mensagem6","type":"main","index":0}]]},"If27":{"main":[[{"node":"Pega os 10 Primeiros da Lista6","type":"main","index":0}]]},"Diferença de Horas6":{"main":[[{"node":"maior que 24 horas","type":"main","index":0}]]},"8 as 22 horas6":{"main":[[{"node":"Se horário é das 08 as 26","type":"main","index":0}]]},"Se horário é das 08 as 26":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"Loop Over Items6":{"main":[[],[{"node":"Buscar Historico FUP3","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Update a row5","type":"main","index":0}],[{"node":"Loop Over Items6","type":"main","index":0}]]},"FollowUpStatus = 6":{"main":[[{"node":"If27","type":"main","index":0}]]},"Se Agendado/Reagendado/Compareceu2":{"main":[[],[{"node":"FollowUpStatus = 2","type":"main","index":0},{"node":"FollowUpStatus = 6","type":"main","index":0}]]},"maior que 24 horas":{"main":[[{"node":"8 as 22 horas6","type":"main","index":0}],[{"node":"maior que 24 horas6","type":"main","index":0}]]},"Update a row2":{"main":[[{"node":"Pega id do contato2","type":"main","index":0}]]},"Update a row5":{"main":[[{"node":"Pega id do contato8","type":"main","index":0}]]},"Funil - FUP1":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"Pega id do contato2":{"main":[[{"node":"If17","type":"main","index":0}]]},"Funil - FUP6":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Pega id do contato8":{"main":[[{"node":"If18","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"If17":{"main":[[{"node":"Criar a Negociação","type":"main","index":0}],[{"node":"Funil - FUP1","type":"main","index":0}]]},"Criar a Negociação":{"main":[[{"node":"Funil - FUP 1","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"If18":{"main":[[{"node":"Criar a Negociação6","type":"main","index":0}],[{"node":"Funil - FUP6","type":"main","index":0}]]},"Criar a Negociação6":{"main":[[{"node":"Funil - FUP 6","type":"main","index":0}]]},"Pega Time Mensagem6":{"main":[[{"node":"Diferença de Horas6","type":"main","index":0}]]},"Funil - FUP 1":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"Funil - FUP 6":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Pega os 10 Primeiros da Lista9":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Se Agendado/Reagendado/Compareceu2","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"HTTP Request24":{"main":[[{"node":"Update a row2","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"maior que 24 horas6":{"main":[[{"node":"Loop Over Items9","type":"main","index":0}]]},"Loop Over Items9":{"main":[[],[{"node":"Update a row9","type":"main","index":0}]]},"Update a row9":{"main":[[{"node":"Loop Over Items9","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Montar Prompt FUP4","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request24","type":"main","index":0}]]},"Memory Postgres4":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Memory Postgres5":{"ai_memory":[[{"node":"AI Agent FUP3","type":"ai_memory","index":0}]]},"Pega Time Mensagem3":{"main":[[{"node":"Diferença de Horas5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":{"node:Schedule Trigger2":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1b2a230c-4325-4014-8b12-fbe580a4bc74","activeVersionId":"1b2a230c-4325-4014-8b12-fbe580a4bc74","versionCounter":332,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-14T22:48:58.863Z","createdAt":"2026-04-14T22:48:58.863Z","role":"workflow:owner","workflowId":"GFZEeIFS4NOpG3Ni","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}