workflows_extracted/gmtDbMkcIAUeE7M4X36ij.json
{"updatedAt":"2026-05-14T22:35:15.694Z","createdAt":"2026-03-05T17:31:38.248Z","id":"gmtDbMkcIAUeE7M4X36ij","name":"WF_Negociacao Forms Homologacao","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"chatid"},{"name":"mensagem"},{"name":"urlchatwoot"},{"name":"account_id"},{"name":"conversation_id"},{"name":"chatwoottoken"},{"name":"contact_id"},{"name":"tipo_fluxo"},{"name":"tabela_whatsapp"},{"name":"origem"},{"name":"navio_focal"},{"name":"navio_focal_origem"},{"name":"navio_focal_set_at"}]}},"id":"348f90d9-6b13-4320-a471-13ba390c890a","name":"Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-13024,2528]},{"parameters":{"operation":"get","tableId":"={{ $('Workflow Trigger').first().json.tabela_whatsapp }}","filters":{"conditions":[{"keyName":"Telefone","keyValue":"={{ $('Workflow Trigger').first().json.chatid }}"}]}},"id":"3c715b55-cffd-44d5-8028-a4868bff2e35","name":"Get Lead State","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-12576,2528],"alwaysOutputData":true,"retryOnFail":true,"maxTries":2,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if-handoff","leftValue":"={{ $('Extract JSON').first().json.acoes.handoff }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"89dea1ec-3b99-4bbb-888f-740744acf754","name":"IF Handoff?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-10416,2528]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if-pausar","leftValue":"={{ $('Extract JSON').first().json.acoes.pausar_atendimento }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"389fddcc-10a6-44d8-8e9e-e7cc5f23d3ff","name":"IF Pausar?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-10192,2592]},{"parameters":{"workflowId":{"__rl":true,"value":"qYk8zfxQHseu_n-4xqNID","mode":"list","cachedResultUrl":"/workflow/qYk8zfxQHseu_n-4xqNID","cachedResultName":"WF_HANDOFF Homologacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phoneNumber":"={{ $('Workflow Trigger').first().json.chatid }}","resumoConversa":"={{ $('Extract JSON').first().json.acoes.resumo_handoff }} || 'Lead qualificado para atendimento.' }}","sessionId":"={{ $('Workflow Trigger').first().json.chatid }}","contactId":"={{ $('Workflow Trigger').first().json.contact_id }}","urlChatwoot":"={{ $('Workflow Trigger').first().json.urlchatwoot }}","tokenChatwoot":"={{ $('Workflow Trigger').first().json.chatwoottoken }}","accountId":"={{ $('Workflow Trigger').first().json.account_id }}","conversationId":"={{ $('Workflow Trigger').first().json.conversation_id }}","origem":"whatsapp","tipo_fluxo":"={{ $('Workflow Trigger').first().json.tipo_fluxo }}","tabela_whatsapp":"={{ $('Workflow Trigger').first().json.tabela_whatsapp }}","navio":"={{ $('Get Lead State').first().json.Navio }}"},"matchingColumns":[],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resumoConversa","displayName":"resumoConversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"urlChatwoot","displayName":"urlChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"qtdPessoas","displayName":"qtdPessoas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"navio","displayName":"navio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"estilo","displayName":"estilo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"qualificacao","displayName":"qualificacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"campanha","displayName":"campanha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"nomeCompleto","displayName":"nomeCompleto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-9072,2304],"id":"d9154271-d507-4054-961a-dbb24cbb264e","name":"Exec WF_HANDOFF"},{"parameters":{"workflowId":{"__rl":true,"value":"c1jfeLzNspDc17-n1lwGd","mode":"list","cachedResultUrl":"/workflow/c1jfeLzNspDc17-n1lwGd","cachedResultName":"[sem_interesse] homologacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"tabela_whatsapp":"={{ $('Workflow Trigger').first().json.tabela_whatsapp }}","tipo_fluxo":"={{ $('Workflow Trigger').first().json.tipo_fluxo }}","origem":"={{ $('Workflow Trigger').first().json.origem }}","contactId":"={{ $('Workflow Trigger').first().json.contact_id }}","accountId":"={{ $('Workflow Trigger').first().json.account_id }}","tokenChatwoot":"={{ $('Workflow Trigger').first().json.chatwoottoken }}","urlChatwoot":"={{ $('Workflow Trigger').first().json.urlchatwoot }}"},"matchingColumns":[],"schema":[{"id":"urlChatwoot","displayName":"urlChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-9968,2448],"id":"6ad84b5e-126b-421a-84de-5df420d15e31","name":"Exec Pausar Atendimento"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"125d23fd-a4b2-41fb-ad49-aa914b9ce823","leftValue":"={{ $('Extract JSON').first().json.acoes.enviar_materiais }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-9968,2688],"id":"a66ae9d4-2d21-4c1d-a501-da4ef8ddc18e","name":"Enviar Material Marketing"},{"parameters":{"operation":"delete","key":"={{ $json.chatid }}_{{ $json.tipo_fluxo }}"},"id":"1e66cce8-dffe-4747-9bc0-77ee68ad5a90","name":"Clear Redis Memory on Reset1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-12800,2528],"credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if-pausar","leftValue":"={{ $('Extract JSON').first().json.acoes.enviar_link_reserva }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"bc55645c-5e81-45e0-b031-73332beaa8b6","name":"If Envia Link Pagamento","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-9296,2688]},{"parameters":{"workflowId":{"__rl":true,"value":"pDwi0jLOMpJlLVvC6DZRV","mode":"list","cachedResultUrl":"/workflow/pDwi0jLOMpJlLVvC6DZRV","cachedResultName":"WF_Link Reserva v2 - Multi-experience resource"},"workflowInputs":{"mappingMode":"defineBelow","value":{"navio":"={{ $('Extract JSON').first().json.acoes.salvar_lead.Navio || null }}","qtd_adultos":"={{ String($('Extract JSON').first().json.acoes.salvar_lead.QtdPessoas || 0) }}","qtd_criancas":"0"},"matchingColumns":[],"schema":[{"id":"navio","displayName":"navio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"qtd_adultos","displayName":"qtd_adultos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"qtd_criancas","displayName":"qtd_criancas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-9072,2768],"id":"01c55cd2-c232-43f7-924c-f4c5dfadf2ee","name":"Call WF_Link_Pagamento Homologacao"},{"parameters":{"workflowId":{"__rl":true,"value":"qacbJhgvuXw-qMZdKqWkH","mode":"list","cachedResultUrl":"/workflow/qacbJhgvuXw-qMZdKqWkH","cachedResultName":"Enviar Mensagem - Novo Fluxo Homologacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Workflow Trigger').first().json.chatid }}","resposta":"={{ $('Call WF_Link_Pagamento Homologacao').isExecuted ? $('Call WF_Link_Pagamento Homologacao').first().json.mensagem : \"\" }}\n{{ $('Extract JSON').first().json.resposta.replace('Simone',$('Exec WF_HANDOFF').isExecuted ? $('Exec WF_HANDOFF').first().json.resposta : \"\" || \"\") }}","accountid":"={{ $('Workflow Trigger').first().json.account_id }}","chatwooturl":"={{ $('Workflow Trigger').first().json.urlchatwoot }}","chatwoottoken":"={{ $('Workflow Trigger').first().json.chatwoottoken }}","conversationid":"={{ $('Workflow Trigger').first().json.conversation_id }}","origem":"={{ $('Workflow Trigger').first().json.origem }}","tipo_fluxo":"={{ $('Workflow Trigger').first().json.tipo_fluxo.replace() }}","tabela_whatsapp":"={{ $('Workflow Trigger').first().json.tabela_whatsapp }}","enviar_foto_cabine":"={{ $('Extract JSON').first().json.acoes.enviar_foto_cabine }}","asset_url":"={{ $('Extract JSON').first().json.acoes.asset_url }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"accountid","displayName":"accountid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwooturl","displayName":"chatwooturl","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversationid","displayName":"conversationid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resposta","displayName":"resposta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"enviar_foto_cabine","displayName":"enviar_foto_cabine","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"asset_url","displayName":"asset_url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-8848,2592],"id":"973caa71-e943-45c0-9a74-b9fe452706b2","name":"Call 'Enviar Mensagem - Novo Fluxo Homologacao'"},{"parameters":{"workflowId":{"__rl":true,"value":"Oai2Ma_13sGF9qelU1fD9","mode":"list","cachedResultUrl":"/workflow/Oai2Ma_13sGF9qelU1fD9","cachedResultName":"[Demo Events Co] [materiais marketing] - Whatsapp homologacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cruzeiroInteressado":"={{ $('Extract JSON').first().json.acoes.materiais_navio }}","telefone":"={{ $('Extract JSON').first().json.acoes.salvar_lead.Telefone || $('Workflow Trigger').item.json.chatid }}","chatwooturl":"={{ $('Workflow Trigger').first().json.urlchatwoot }}","chatwoottoken":"={{ $('Workflow Trigger').first().json.chatwoottoken }}","accountid":"={{ $('Workflow Trigger').first().json.account_id }}","conversasionid":"={{ $('Get Lead State').first().json.id_conversa_chatwoot }}","resposta":"={{ $('Extract JSON').first().json.resposta }}","origem":"={{ $('Workflow Trigger').first().json.origem }}","navio_focal":"={{ $('Workflow Trigger').first().json.navio_focal }}"},"matchingColumns":[],"schema":[{"id":"cruzeiroInteressado","displayName":"cruzeiroInteressado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwooturl","displayName":"chatwooturl","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"accountid","displayName":"accountid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversasionid","displayName":"conversasionid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resposta","displayName":"resposta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"navio_focal","displayName":"navio_focal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-9520,2544],"id":"b56b36fa-21b4-42f1-b7df-7fcec377a54a","name":"Call '[Demo Events Co] [materiais marketing] - Whatsapp homologacao'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e225c941-32d7-4c96-8820-15921ec3e6d2","leftValue":"={{ $('Get Lead State').item.json.materiais_navio }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-9744,2624],"id":"f128dcd7-cff5-4e5f-8cb9-dc41b148c587","name":"Verifica se Ja enviou o Video"},{"parameters":{"jsCode":"// Monta payload no contrato do WF_MontarPrompt real:\n// { context: { lead_data, mensagem, chatid, origem, ... }, etapa, tipo_fluxo }\nconst data =  $('Get Lead State').first().json;\nconst t = (Object.keys(data).length !== 0) ? data : $('Workflow Trigger').first().json;\n\nreturn [{ json: {\n  telefone: t.Telefone,\n  sessionId: t.id,\n  mensagem: $('Workflow Trigger').first().json.mensagem,\n  origem: t.origem,\n  tipo_fluxo: $('Workflow Trigger').first().json.tipo_fluxo,\n  tabela_whatsapp: t.tabela_whatsapp,\n  etapa: 'qualificacao',\n  context: {\n    lead_data: {\n      Telefone: t.Telefone || t.chatid,\n      Nome: t.Nome || t.nome || null,\n      Email: t.Email || t.email || null,\n      CPF: t.CPF || t.cpf || null,\n      Navio: t.Navio || t.navio || null,\n      QtdPessoas: t.QtdPessoas || t.qtd_pessoas || null,\n      Estilo: t.estilo || t.Estilo || null,\n      Status: t.status || t.Status || null,\n      Pontuacao: t.Pontuacao || t.pontuacao || 0,\n      etapa: t.etapa || 'novo',\n      em_qual_etapa: t.em_qual_etapa || 'e1',\n      materiais_enviados: !!t.materiais_enviados,\n      valores_enviados: !!t.valores_enviados\n    },\n    mensagem: $('Workflow Trigger').first().json.mensagem || '',\n    chatid: t.sessionId,\n    origem: t.origem,\n    tipo_fluxo: $('Workflow Trigger').first().json.tipo_fluxo\n  }\n} }];"},"id":"7d6c28bc-3bfc-4573-b9f3-b648e25e34bc","name":"Prepare_Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[-12352,2528]},{"parameters":{"workflowId":{"__rl":true,"value":"bEZFIICjCu-FHYB-c-AaZ","mode":"list","cachedResultUrl":"/workflow/bEZFIICjCu-FHYB-c-AaZ","cachedResultName":"WF_MontarPrompt Forms Homologacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"context":"={{ $json.context }}","etapa":"={{ $json.etapa }}","tipo_fluxo":"={{ $json.tipo_fluxo }}"},"matchingColumns":[],"schema":[{"id":"context","displayName":"context","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object"},{"id":"etapa","displayName":"etapa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"5957bfc7-d1b6-4f2d-8185-1ec26b0e193b","name":"Exec_WF_MontarPrompt","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-12128,2528],"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000,"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"={{ $('Workflow Trigger').item.json.mensagem }}","options":{"systemMessage":"={{ $('Exec_WF_MontarPrompt').item.json.systemMessage }}","maxIterations":6,"returnIntermediateSteps":false}},"id":"b0627a18-84ab-4170-b766-85fcbc5ebe81","name":"AI_Agent_Negociacao","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-11792,2528],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1500,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"53a3e3c8-c49a-4450-88c5-69171bbb0b5d","name":"resposta","type":"string","value":"={{ $('Extract JSON').item.json.resposta }}"},{"id":"a2ffa729-d45c-4d28-973b-933746a11081","name":"acoes","type":"object","value":"={{ $('Promote_Etapa').item.json.acoes }}"},{"id":"47c4f601-2477-4f68-9190-e27a39062a7d","name":"etapa","type":"string","value":"={{ $('Promote_Etapa').item.json.etapa_saida }}"},{"id":"a303d2a5-dc33-4ac6-a571-42b249d7ee17","name":"handoff","type":"boolean","value":"={{ $('Extract JSON').item.json.handoff }}"}]},"options":{}},"id":"ed6936b0-f125-461e-92fe-26ca46254a6f","name":"Set_Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-10640,2528]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Workflow Trigger').first().json.chatid }}_{{ $('Workflow Trigger').first().json.tipo_fluxo }}","tableName":"promo","contextWindowLength":100},"id":"36f9597b-1b9c-4429-9dcc-2c96328bd893","name":"Memory Postgres1","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-11776,2752],"credentials":{"postgres":{"id":"TTrqj0rnakiukRd7","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"wSc4hux6IrJaxOA3cawHT","mode":"list","cachedResultUrl":"/workflow/wSc4hux6IrJaxOA3cawHT","cachedResultName":"WF_Salvar_Lead Homologacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Telefone":"={{ $('Workflow Trigger').first().json.chatid }}","etapa":"={{ $('Promote_Etapa').first().json.etapa_saida }}","origem":"={{ $('Workflow Trigger').first().json.origem }}","chatwoottoken":"={{ $('Workflow Trigger').first().json.chatwoottoken }}","urlchatwoot":"={{ $('Workflow Trigger').first().json.urlchatwoot }}","account_id":"={{ $('Workflow Trigger').first().json.account_id }}","conversation_id":"={{ $('Workflow Trigger').first().json.conversation_id }}","contact_id":"={{ $('Workflow Trigger').first().json.contact_id }}","Status":"={{ $('Extract JSON').first().json.acoes.salvar_lead.Status || 'BAIXA' }}","QtdPessoas":"={{ ((v) => (v != null && String(v).trim().toLowerCase() !== 'null' && String(v).trim() !== '') ? String(v) : null)($('Extract JSON').first().json.acoes.salvar_lead.QtdPessoas) }}","Orcamento":"={{ ((v) => (v != null && String(v).trim().toLowerCase() !== 'null' && String(v).trim() !== '') ? String(v) : null)($('Extract JSON').first().json.acoes.salvar_lead.Orcamento) }}","Navio":"={{ $('Extract JSON').first().json.acoes.salvar_lead.Navio || null }}","Estilo":"={{ $('Extract JSON').first().json.acoes.salvar_lead.Estilo || null }}","CPF":"={{ $('Extract JSON').first().json.acoes.salvar_lead.CPF || null }}","Email":"={{ $('Extract JSON').first().json.acoes.salvar_lead.Email || null }}","Nome":"={{ $('Extract JSON').first().json.acoes.salvar_lead.Nome || null }}","resposta":"={{ $('Workflow Trigger').first().json.mensagem }}","Pontuacao":"={{ String($('Extract JSON').first().json.acoes.salvar_lead.Pontuacao || 0) }}","em_qual_etapa":"={{ $('Promote_Etapa').first().json.em_qual_etapa_saida }}","tipo_fluxo":"={{ $('Workflow Trigger').first().json.tipo_fluxo }}","tabela_whatsapp":"={{ $('Workflow Trigger').first().json.tabela_whatsapp }}","materiais_enviados":"={{ $('Extract JSON').first().json.acoes.enviar_materiais || false }}","navio_focal":"={{ $('Workflow Trigger').first().json.navio_focal }}","navio_focal_origem":"={{ $('Workflow Trigger').first().json.navio_focal_origem }}","navio_focal_set_at":"={{ $('Workflow Trigger').first().json.navio_focal_set_at }}"},"matchingColumns":[],"schema":[{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Estilo","displayName":"Estilo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Navio","displayName":"Navio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Orcamento","displayName":"Orcamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"QtdPessoas","displayName":"QtdPessoas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contact_id","displayName":"contact_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"urlchatwoot","displayName":"urlchatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa","displayName":"etapa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resposta","displayName":"resposta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Pontuacao","displayName":"Pontuacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"em_qual_etapa","displayName":"em_qual_etapa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"materiais_enviados","displayName":"materiais_enviados","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"navio_focal","displayName":"navio_focal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"navio_focal_origem","displayName":"navio_focal_origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"navio_focal_set_at","displayName":"navio_focal_set_at","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-10864,2528],"id":"03eb8e5d-5739-4f63-b7db-e30541df2da6","name":"Exec WF_Salvar_Lead1","notesInFlow":false,"notes":"[EXEC_SALVAR_FIXES_V1] 20260425-204050\n[EXEC_SALVAR_FIXES_V2] 20260425-213039"},{"parameters":{"jsCode":"let raw = $input.first().json.output || $input.first().json.text ||\n    '';\nif (typeof raw === 'object') raw = JSON.stringify(raw);\nraw = String(raw).replace(/```json|```/g, '').trim();\n\n// Extrai TODOS os objetos JSON top-level balanceando {} (respeita strings).\nfunction parseAllJson(s) {\n    const out = [];\n    let depth = 0,\n        start = -1,\n        inStr = false,\n        esc = false;\n    for (let i = 0; i < s.length; i++) {\n        const c = s[i];\n        if (inStr) {\n            if (esc) {\n                esc = false;\n                continue;\n            }\n            if (c === '\\\\') {\n                esc = true;\n                continue;\n            }\n            if (c === '\"') inStr = false;\n            continue;\n        }\n        if (c === '\"') {\n            inStr = true;\n            continue;\n        }\n        if (c === '{') {\n            if (depth === 0) start = i;\n            depth++;\n        } else if (c === '}') {\n            depth--;\n            if (depth === 0 && start >= 0) {\n                try {\n                    out.push(JSON.parse(s.slice(start, i + 1)));\n                } catch (_) {}\n                start = -1;\n            }\n        }\n    }\n    return out;\n}\n\nlet obj = null;\ntry {\n    obj = JSON.parse(raw);\n} catch (_) {}\nif (!obj || typeof obj !== 'object') {\n    const all = parseAllJson(raw);\n    // Último JSON com \"resposta\" preenchida é o turno final do agent. \n    obj = [...all].reverse().find(o => o && o.resposta) || all[all.length - 1] || null;\n}\n\nif (!obj || typeof obj !== 'object') {\n    obj = {\n        resposta: 'Deixa eu chamar um consultor pra te atender melhor.',\n        acoes: {\n            handoff: true\n        }\n    };\n}\n\nconst acoes = obj.acoes || {};\nconst salvar = acoes.salvar_lead || acoes.acoes_salvar_lead || {};\nreturn [{\n    json: {\n        resposta: obj.resposta || '',\n        acoes,\n        salvar_lead: salvar,\n        handoff: !!acoes.handoff,\n        pausar_atendimento: !!acoes.pausar_atendimento,\n        etapa_saida: salvar.Etapa || 'qualificacao',\n        pontuacao: salvar.Pontuacao || 0\n    }\n}];"},"id":"65fa98eb-72c8-4d72-a973-b05c08850806","name":"Extract JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[-11312,2528],"onError":"continueRegularOutput"},{"parameters":{"description":"Busca na base de conhecimento DomainAssistant (RAG híbrido: pgvector + BM25 + rerank).\n  Use SEMPRE antes de afirmar qualquer fato sobre navio, experience resource, pacote,\n  pagamento, FAQ, roteiro ou objeção. Retorna trechos curados com title,\n  content, topic, subtopic e score. Se tem_resultado=false, NÃO invente —\n  responda com uma pergunta de qualificação.","workflowId":{"__rl":true,"value":"Pl7vzyo55h7KCHHeKZyE2","mode":"list","cachedResultUrl":"/workflow/Pl7vzyo55h7KCHHeKZyE2","cachedResultName":"WF_Busca_KB"},"workflowInputs":{"mappingMode":"defineBelow","value":{"top_k":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('top_k', `quantos chunks retornar (padrão 3)`, 'number') }}","query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `texto da pergunta do lead`, 'string') }}","filters":"={{ $fromAI('filters', `filtros opcionais de busca`, 'json', { \"topic\": null}) }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"filters","displayName":"filters","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"top_k","displayName":"top_k","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"id":"38b11db5-ae85-4cbb-81e2-46cdc617eb64","name":"consultar_base_conhecimento","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-11648,2752]},{"parameters":{"description":"=Busca metadados de mídia de uma experience resource MSC Divina na tabela cabin_media e retorna { encontrado, asset_url, whatsapp_id, label, categoria, variante }. O campo asset_url é a URL pública da foto da experience resource.\nQUANDO USAR: sempre que você for emitir enviar_foto_cabine=true (o lead pediu foto/imagem da experience resource nesta mensagem — \"me manda a foto\", \"posso ver a experience resource?\", \"tem imagem?\"). Chamar ANTES de montar a resposta para popular o campo asset_url do JSON de saída. \n\nENTRADA:\n  - categoria (string, obrigatório): um dos 9 valores — cabines__interna, cabines__interna_superior,  cabines__janela, cabines__varanda, cabines__varanda_superior, cabines__varanda_experience, cabines__suite_janela_experience, cabines__suite_varanda_experience, cabines__yacht_club. \n  - variante (string, obrigatório): experience | premium | superior | null. Use experience para experience resource *_experience; superior para *_superior; null para as demais (interna, janela, varanda, yacht_club).\n  - conta (string, obrigatório): injetada automaticamente pelo sistema ({{ $('Workflow Trigger').first().json.origem }}) — NÃO inventar. Valores válidos: _whatsapp | _formulario | bdr.\n\nNÃO chamar: quando enviar_foto_cabine=false ou quando o lead não pediu foto explicitamente.","workflowId":{"__rl":true,"value":"qtNIPt2NHtH3oj7viT2Rq","mode":"list","cachedResultUrl":"/workflow/qtNIPt2NHtH3oj7viT2Rq","cachedResultName":"WF_Get_Cabin_Media"},"workflowInputs":{"mappingMode":"defineBelow","value":{"categoria":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('categoria', ``, 'string') }}","variante":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('variante', ``, 'string') }}","conta":"=_{{ $('Workflow Trigger').first().json.origem }}"},"matchingColumns":[],"schema":[{"id":"categoria","displayName":"categoria","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"variante","displayName":"variante","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conta","displayName":"conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-11520,2752],"id":"98864931-7676-458a-b2c8-17fe110f9081","name":"buscar_midia_cabine"},{"parameters":{"jsCode":"// [PROMOTE_ETAPA_V1] v3 — derivacao deterministica de Etapa com GATE FACTUAL + preservacao\n// Decisao Paulo 2026-04-25:\n//   - Semantica GLOBAL (e1..e7 regua unica).\n//   - ANTI_REGRESSAO_ESTRITA (persistido > derivado preserva ambos).\n//   - GATE FACTUAL: e4 (negociacao) so dispara se Navio + QtdPessoas presentes (obrigatorios).\n//     Se TODOS os 4 (Nome+Navio+QtdPessoas+jaFezCruzeiro) preenchidos, ELEVA para (negociacao, e4)\n//     mesmo que LLM tenha emitido sub-estado regressivo (ex.: par (negociacao, e3)).\n//     Se obrigatorios faltam, CAP em qualificacao independente do que LLM mandar.\n//   - v3: PRESERVACAO. Quando o LLM emite null/'null'/'' em campo que o leadData tem com valor real,\n//     o Promotor injeta o valor persistido de volta no acoes.salvar_lead. Defesa contra alucinacao\n//     por omissao (LLM \"esquece\" de copiar QtdPessoas mas o lead ja informou).\n//     hasValue() e pick() ignoram strings lixo (\"null\",\"undefined\",vazio).\n\nconst SUB_TO_ETAPA = Object.freeze({\n  e1: 'qualificacao', e2: 'qualificacao', e3: 'qualificacao',\n  e35: 'qualificacao', 'e3.5': 'qualificacao',\n  e4: 'negociacao',\n  e5: 'pagamento', e6: 'pagamento', e7: 'pagamento',\n});\nconst RANK = Object.freeze({ qualificacao: 1, negociacao: 2, pagamento: 3, handoff: 4 });\n\n// extracted = output do node imediatamente anterior (Extract_JSON*); evita\n// referencia por nome que falha em n8n quando ha variantes (Extract JSON / Extract_JSON / Extract_JSON1).\nconst extracted = ($input && $input.first && $input.first().json) || {};\n\n// leadData = Get Lead State (existe como 'Get Lead State' ou 'Get Lead State1' dependendo do caller).\n// Fallback silencioso quando o nome nao bate, sem quebrar o fluxo.\nfunction safeNode(name) {\n  try {\n    const ref = $(name);\n    if (ref && ref.first && ref.first().json) return ref.first().json;\n  } catch (e) { /* node nao existe neste contexto */ }\n  return null;\n}\nconst leadData = safeNode('Get Lead State') || safeNode('Get Lead State1') || {};\n\nconst salvarLead = (extracted.acoes && extracted.acoes.salvar_lead) || {};\n\n// ── helpers ────────────────────────────────────────────────────────────────\nfunction isJunkValue(v) {\n  if (v === null || v === undefined) return true;\n  if (typeof v === 'string') {\n    const t = v.trim().toLowerCase();\n    return t === '' || t === 'null' || t === 'undefined' || t === 'nan';\n  }\n  return false;\n}\nfunction hasValue(v) {\n  if (isJunkValue(v)) return false;\n  if (typeof v === 'number') return !Number.isNaN(v) && v > 0;\n  if (typeof v === 'boolean') return true;\n  return !!v;\n}\n// pick: retorna o primeiro valor REAL (nao-junk). Robusto contra strings \"null\",\"undefined\" do banco.\nfunction pick(...vals) { for (const v of vals) if (!isJunkValue(v)) return v; return undefined; }\nconst ETAPA_MIN_SUB = { qualificacao: 'e1', negociacao: 'e4', pagamento: 'e5', handoff: null };\n\nlet subProposto = String(salvarLead.em_qual_etapa ?? '').trim().toLowerCase();\nif (subProposto === 'e3.5') subProposto = 'e35';\nconst subPersistido = String(leadData.em_qual_etapa ?? '').trim().toLowerCase();\nconst subFinal = SUB_TO_ETAPA[subProposto] !== undefined ? subProposto : subPersistido;\n\nconst etapaLlm     = String(salvarLead.Etapa ?? salvarLead.etapa ?? '').trim().toLowerCase();\nconst etapaPersist = String(leadData.Etapa   ?? leadData.etapa   ?? '').trim().toLowerCase();\n\n// ── checklist de qualificacao (extrai dos 2 lados, salvar_lead vence) ──────\nconst navio = pick(salvarLead.Navio, salvarLead.navio, leadData.Navio, leadData.navio);\nconst qtd   = pick(salvarLead.QtdPessoas, salvarLead.qtd_pessoas, salvarLead.qtdPessoas, leadData.QtdPessoas, leadData.qtd_pessoas);\nconst nome  = pick(salvarLead.Nome, salvarLead.nome, leadData.Nome, leadData.nome);\nconst jaFez = pick(salvarLead.ja_fez_cruzeiro, salvarLead.jaFezCruzeiro, leadData.ja_fez_cruzeiro, leadData.jaFezCruzeiro);\n\nconst obrigatoriosOk = hasValue(navio) && hasValue(qtd);\n// jaFez aceita true/false explicito (nao confunde com missing); rejeita strings \"null\"/\"undefined\"\nconst jaFezDefinido = !isJunkValue(jaFez);\nconst todosOk = obrigatoriosOk && hasValue(nome) && jaFezDefinido;\n\nlet etapaFinal, motivo, subOut;\nif (etapaLlm === 'handoff') {\n  etapaFinal = 'handoff';\n  subOut = subFinal || subPersistido || 'e1';\n  motivo = 'LLM_HANDOFF_DECLARADO';\n} else {\n  const etapaDerivada = SUB_TO_ETAPA[subFinal] || SUB_TO_ETAPA[subPersistido] || 'qualificacao';\n\n  // GATE 1: Anti-regressao estrita (persistido > derivado/LLM)\n  const rankPersist = RANK[etapaPersist] || 0;\n  const rankDeriv   = RANK[etapaDerivada] || 0;\n  const rankLlm     = RANK[etapaLlm] || 0;\n  if (etapaPersist !== 'handoff' && rankPersist > Math.max(rankDeriv, rankLlm)) {\n    etapaFinal = etapaPersist;\n    subOut = subPersistido || subFinal || 'e1';\n    motivo = `ANTI_REGRESSAO_ESTRITA (persistida=${etapaPersist}/${subPersistido} > derivada=${etapaDerivada}/${subFinal}, LLM=${etapaLlm})`;\n  } else if (!obrigatoriosOk) {\n    // GATE 2: Bloqueio factual — sem Navio+QtdPessoas, nada avanca alem de qualificacao.\n    etapaFinal = 'qualificacao';\n    // Limita sub-estado a {e1..e3,e35,e3.5}; se LLM/derivada quis subir, mantem em e3 como teto.\n    const subParaQualif = SUB_TO_ETAPA[subFinal] === 'qualificacao' ? subFinal : 'e3';\n    subOut = subParaQualif || 'e1';\n    const faltam = [];\n    if (!hasValue(navio)) faltam.push('Navio');\n    if (!hasValue(qtd))   faltam.push('QtdPessoas');\n    motivo = `GATE_FACTUAL_BLOQUEIO (obrigatorios ausentes: ${faltam.join(',')})`;\n  } else if (todosOk) {\n    // GATE 3: Promocao factual — todos os campos OK eleva para (negociacao, e4).\n    // Excecoes em ordem de prioridade:\n    //   (i) persistido ja >= pagamento: preserva persistido (anti-regressao).\n    //   (ii) persistido <= negociacao e LLM quer pagamento: respeita LLM (avanco legitimo e4->e5).\n    if (rankPersist > 2) {\n      etapaFinal = etapaPersist;\n      subOut = subPersistido || ETAPA_MIN_SUB[etapaPersist] || 'e5';\n      motivo = `GATE_FACTUAL_PROMOCAO_PRESERVA (persist=${etapaPersist}/${subPersistido} | LLM=${etapaLlm}/${subProposto})`;\n    } else if (rankLlm === 3 && rankPersist <= 2) {\n      etapaFinal = 'pagamento';\n      subOut = (SUB_TO_ETAPA[subProposto] === 'pagamento') ? subProposto : 'e5';\n      motivo = `LLM_AVANCO_LEGITIMO (em ${etapaPersist || 'inicial'}, LLM=${etapaLlm}/${subProposto} -> ${etapaFinal}/${subOut})`;\n    } else {\n      etapaFinal = 'negociacao';\n      subOut = 'e4';\n      motivo = `GATE_FACTUAL_PROMOCAO (todos campos OK -> ${etapaFinal}/${subOut} | LLM=${etapaLlm}/${subProposto})`;\n    }\n  } else {\n    // FLUXO PADRAO: max-ascending entre Etapa LLM e etapa derivada do sub-estado\n    const etapaTopo = (rankLlm > rankDeriv) ? etapaLlm : etapaDerivada;\n    etapaFinal = etapaTopo;\n    if (etapaTopo === etapaDerivada) {\n      subOut = subFinal || 'e1';\n    } else {\n      // LLM avancou Etapa, sub-estado regressivo: eleva sub para minimo da etapa LLM\n      subOut = ETAPA_MIN_SUB[etapaTopo] || subFinal || 'e1';\n    }\n    if (etapaLlm && etapaLlm !== etapaFinal) {\n      motivo = `LLM_DIVERGENCIA (LLM=${etapaLlm}/${subProposto} -> final=${etapaFinal}/${subOut})`;\n    } else if (subFinal !== subOut) {\n      motivo = `MAX_ASCENDING (LLM Etapa=${etapaLlm} venceu sub=${subProposto} -> ${etapaFinal}/${subOut})`;\n    } else {\n      motivo = 'CANONICO';\n    }\n  }\n}\n\n// PRESERVACAO v3: para cada campo do checklist, se LLM mandou junk mas leadData tem valor REAL, injeta.\n// Defende contra alucinacao por omissao.\nfunction preserve(slv, ldv) {\n  if (isJunkValue(slv) && !isJunkValue(ldv)) return ldv;\n  return slv;\n}\nconst slPreservado = {\n  ...salvarLead,\n  Nome:               preserve(salvarLead.Nome,                leadData.Nome),\n  Navio:              preserve(salvarLead.Navio,               leadData.Navio),\n  QtdPessoas:         preserve(salvarLead.QtdPessoas,          leadData.QtdPessoas),\n  Email:              preserve(salvarLead.Email,               leadData.Email),\n  Estilo:             preserve(salvarLead.Estilo,              leadData.estilo ?? leadData.Estilo),\n  ja_fez_cruzeiro:    isJunkValue(salvarLead.ja_fez_cruzeiro) ? leadData.ja_fez_cruzeiro : salvarLead.ja_fez_cruzeiro,\n  Etapa: etapaFinal,\n  em_qual_etapa: subOut,\n};\nconst acoesCorrigido = {\n  ...(extracted.acoes || {}),\n  salvar_lead: slPreservado,\n};\n\nconsole.log(`[PROMOTE_ETAPA] motivo=${motivo} | LLM=${etapaLlm}/${subProposto} | persist=${etapaPersist}/${subPersistido} | final=${etapaFinal}/${subOut}`);\n\nreturn [{\n  json: {\n    ...extracted,\n    acoes: acoesCorrigido,\n    etapa_saida: etapaFinal,\n    em_qual_etapa_saida: subOut,\n    promote_motivo: motivo,\n  },\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-11088,2528],"id":"f1f1951c-71d8-4e4d-be76-26de3e4d0cf1","name":"Promote_Etapa"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"responseFormat":"json_object","temperature":0.8,"timeout":60000,"topP":1}},"id":"6812f770-35fd-4de1-badf-9118a1f95232","name":"OpenAI_Chat_Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-12016,2768],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1500,"credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}},"onError":"continueErrorOutput"}],"connections":{"Workflow Trigger":{"main":[[{"node":"Clear Redis Memory on Reset1","type":"main","index":0}]]},"Get Lead State":{"main":[[{"node":"Prepare_Context","type":"main","index":0}]]},"IF Handoff?":{"main":[[{"node":"Exec WF_HANDOFF","type":"main","index":0}],[{"node":"IF Pausar?","type":"main","index":0}]]},"IF Pausar?":{"main":[[{"node":"Exec Pausar Atendimento","type":"main","index":0}],[{"node":"Enviar Material Marketing","type":"main","index":0}]]},"Exec WF_HANDOFF":{"main":[[{"node":"Call 'Enviar Mensagem - Novo Fluxo Homologacao'","type":"main","index":0}]]},"Enviar Material Marketing":{"main":[[{"node":"Verifica se Ja enviou o Video","type":"main","index":0}],[{"node":"If Envia Link Pagamento","type":"main","index":0}]]},"Clear Redis Memory on Reset1":{"main":[[{"node":"Get Lead State","type":"main","index":0}]]},"If Envia Link Pagamento":{"main":[[{"node":"Call WF_Link_Pagamento Homologacao","type":"main","index":0}],[{"node":"Call 'Enviar Mensagem - Novo Fluxo Homologacao'","type":"main","index":0}]]},"Call WF_Link_Pagamento Homologacao":{"main":[[{"node":"Call 'Enviar Mensagem - Novo Fluxo Homologacao'","type":"main","index":0}]]},"Call '[Demo Events Co] [materiais marketing] - Whatsapp homologacao'":{"main":[[{"node":"If Envia Link Pagamento","type":"main","index":0}]]},"Verifica se Ja enviou o Video":{"main":[[{"node":"Call '[Demo Events Co] [materiais marketing] - Whatsapp homologacao'","type":"main","index":0}],[{"node":"If Envia Link Pagamento","type":"main","index":0}]]},"Prepare_Context":{"main":[[{"node":"Exec_WF_MontarPrompt","type":"main","index":0}]]},"Exec_WF_MontarPrompt":{"main":[[{"node":"AI_Agent_Negociacao","type":"main","index":0}]]},"AI_Agent_Negociacao":{"main":[[{"node":"Extract JSON","type":"main","index":0}]]},"Memory Postgres1":{"ai_memory":[[{"node":"AI_Agent_Negociacao","type":"ai_memory","index":0}]]},"Exec WF_Salvar_Lead1":{"main":[[{"node":"Set_Response","type":"main","index":0}]]},"Set_Response":{"main":[[{"node":"IF Handoff?","type":"main","index":0}]]},"Extract JSON":{"main":[[{"node":"Promote_Etapa","type":"main","index":0}]]},"consultar_base_conhecimento":{"ai_tool":[[{"node":"AI_Agent_Negociacao","type":"ai_tool","index":0}]]},"buscar_midia_cabine":{"ai_tool":[[{"node":"AI_Agent_Negociacao","type":"ai_tool","index":0}]]},"Promote_Etapa":{"main":[[{"node":"Exec WF_Salvar_Lead1","type":"main","index":0}]]},"OpenAI_Chat_Model1":{"ai_languageModel":[[{"node":"AI_Agent_Negociacao","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":180},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Workflow Trigger":[{"json":{"chatid":"+1 555-0100","mensagem":"é seguro a bordo?","urlchatwoot":"https://chatwoot.demo-events.com.br","account_id":"1","conversation_id":"40558","chatwoottoken":"${CHATWOOT_TOKEN}","contact_id":"75619","tipo_fluxo":"homologacao","tabela_whatsapp":"sdr_whatsapp_homologacao","origem":"whatsapp"}}]},"versionId":"e092e901-fee6-43da-941a-4e749f6b4d41","activeVersionId":"e092e901-fee6-43da-941a-4e749f6b4d41","versionCounter":736,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-05T17:31:38.248Z","createdAt":"2026-03-05T17:31:38.248Z","role":"workflow:owner","workflowId":"gmtDbMkcIAUeE7M4X36ij","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}