workflows_extracted/HI_Z95OzXhyA1-fDUzD7X.json
{"updatedAt":"2026-03-25T22:20:23.624Z","createdAt":"2026-03-25T17:28:36.295Z","id":"HI_Z95OzXhyA1-fDUzD7X","name":"My workflow 7","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,264],"id":"58d8d978-b6f5-45f0-bf80-8974c475cb77","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"getAll","tableId":"whatsapp_bdr","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,264],"id":"47a68b35-6e5f-40f3-ae48-f537ed4991cf","name":"Get many rows","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"url":"https://chatwoot.demo-events.com.br/api/v1/accounts/1/contacts/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.Telefone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"${CHATWOOT_TOKEN}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[496,-176],"id":"bc2426d7-6144-4626-8864-5dacaad6fbbc","name":"HTTP Request","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,264],"id":"bc5db300-08cb-45d2-b06e-4777fccf2b74","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f52118f3-1088-41e7-ac15-447af0f0f4da","leftValue":"={{ $json.meta.count }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[944,-224],"id":"3e0eabf3-862b-4d00-98ff-5b2c176dbe3f","name":"If"},{"parameters":{"method":"PUT","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/contacts/{{ $('HTTP Request').item.json.payload[0].id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"${CHATWOOT_TOKEN}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"custom_attributes\": {\n    \"acao_bdr\": \"Pré-venda navio\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1520,-208],"id":"65db8340-4ed1-47da-957f-8ea49a7288cc","name":"HTTP Request1","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1568,48],"id":"dfd70141-5ee0-493e-bfa8-3b52c5cbbca7","name":"Wait","webhookId":"478fbb49-b351-492b-86bf-9f667d38f1de"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"634ac1f5-3483-45b4-8ec6-5e49248a7245","leftValue":"={{ $json.payload[0].custom_attributes.acao_bdr }}","rightValue":"Pré-venda navio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1248,-272],"id":"42408d2c-2c55-4a2d-8b8c-768c970c978c","name":"If1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":-1},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cf17f681-fcd3-4ed6-a18e-66c80605ac2a","activeVersionId":null,"versionCounter":69,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-25T17:28:36.295Z","createdAt":"2026-03-25T17:28:36.295Z","role":"workflow:owner","workflowId":"HI_Z95OzXhyA1-fDUzD7X","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}