workflows_extracted/It7hakLlHAGwksaG.json
{"updatedAt":"2026-03-10T19:19:12.048Z","createdAt":"2026-03-01T03:15:15.607Z","id":"It7hakLlHAGwksaG","name":"KB_INGEST_WORKER","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"file_key"},{"name":"file_name"},{"name":"mime_type"},{"name":"etag"},{"name":"size_bytes"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"KB_INGEST_WORKER","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,464]},{"parameters":{"bucketName":"={{ $('Set: Configurações do Worker').item.json.bucket_name }}","fileKey":"={{ $('Set: Configurações do Worker').item.json.file_key }}"},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[944,464],"id":"5fb4c4d2-9640-4d18-ae1e-2d5d5efc7a52","name":"Download a file","credentials":{"s3":{"id":"9nj6hYGLN4jzm44a","name":"S3 account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $binary.data.mimeType }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"7acc723f-c979-4c57-a93a-fcfef68a0380"}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5ead19f3-be24-4b6a-a750-5f0bea6fae6d","leftValue":"={{ $binary.data.mimeType }}","rightValue":"text/plain","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"TXT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ae6274af-796b-4f70-a2fc-bf63b77812ea","leftValue":"={{ $binary.data.mimeType }}","rightValue":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"DOCX"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1168,448],"id":"7e907de5-c597-4347-b4dc-643091f057fe","name":"Switch"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO kb_ingest_state (file_key, file_name, mime_type, etag, size_bytes, status)\nVALUES ($1, $2, $3, $4, $5, 'processing')\nON CONFLICT (file_key)\nDO UPDATE SET\n  status           = 'processing',\n  etag             = EXCLUDED.etag,\n  last_ingested_at = now();","options":{"queryReplacement":"={{ $json.file_key }}, {{ $json.file_name }}, {{ $json.mime_type }}, {{ $json.etag }}, {{ $json.size_bytes }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[720,464],"id":"31e30de7-6d60-4495-884d-82acdd35603b","name":"Execute a SQL query","credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}}},{"parameters":{"assignments":{"assignments":[{"id":"6957e31b-c8b8-4c7b-bdcc-bf20e4a0cb18","name":"bucket_name","value":"Demo Events Co_bucket","type":"string"},{"id":"224ef5a5-a3a6-497d-ae48-5b137aa5b471","name":"file_key","value":"={{ $json.file_key }}","type":"string"},{"id":"e8f37cb3-7589-4524-8d52-a4de1a63a201","name":"file_name","value":"={{ $json.file_name }}","type":"string"},{"id":"19adf299-683b-4490-9d3a-699d30967abf","name":"mime_type","value":"={{ $json.mime_type }}","type":"string"},{"id":"c04f08c5-5643-49fc-9d25-b190dc6818a0","name":"etag","value":"={{ $json.etag }}","type":"string"},{"id":"4289c375-3649-41cc-ba4c-3cbd7661bb20","name":"size_bytes","value":"={{ $json.size_bytes }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,464],"id":"3155009f-1e0c-4119-a3f2-ca7d1cd8166b","name":"Set: Configurações do Worker"},{"parameters":{"jsCode":"// Normaliza texto e prepara metadados base para os chunks\nconst workerConfig = $('Set: Configurações do Worker').item.json;\nconst inputData = $input.item.json;\n\n// Coleta texto de qualquer ramo\nlet rawText = inputData.text\n  || inputData.extracted_text\n  || inputData.data\n  || '';\n\nif (!rawText || rawText.trim().length < 50) {\n  throw new Error(`[${workerConfig.file_name}] Texto extraído muito curto ou vazio: \"${rawText.substring(0, 100)}\"`);\n}\n\n// Normalização\nconst cleanText = rawText\n  .replace(/\\r\\n/g, '\\n')\n  .replace(/\\r/g, '\\n')\n  .replace(/\\t/g, ' ')\n  .replace(/ {3,}/g, '  ')\n  .replace(/\\n{5,}/g, '\\n\\n\\n')\n  .replace(/[^\\S\\n]+/g, ' ')  // espaços múltiplos (exceto newlines)\n  .trim();\n\nconst base_metadata = {\n  file_key:    workerConfig.file_key,\n  file_name:   workerConfig.file_name,\n  mime_type:   workerConfig.mime_type,\n  etag:        workerConfig.etag,\n  source:      'supabase_s3',\n  bucket:      workerConfig.bucket_name,\n  collection:  'Demo Events Co_cruzeiros',\n  ingested_at: new Date().toISOString()\n};\n\nconsole.log(`[NORMALIZAÇÃO] ${workerConfig.file_name}: ${cleanText.length} chars`);\n\nreturn [{\n  json: {\n    doc_text:      cleanText,\n    char_count:    cleanText.length,\n    base_metadata,\n    file_key:      workerConfig.file_key,\n    file_name:     workerConfig.file_name\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,464],"id":"5fbdc3b4-ee57-41d5-9ebc-96987b7e451d","name":"Code: Normalizar Texto"},{"parameters":{"method":"POST","url":"http://gotenberg:3000/forms/libreoffice/convert","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"files","inputDataFieldName":"data"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1392,656],"id":"23c6358a-a659-4fe0-82f1-576658017962","name":"HTTP Request: Converter DOCX"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1616,656],"id":"456157aa-5724-4745-a052-0a834c157d39","name":"Extract from File"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1616,272],"id":"625f1b48-88c7-4f18-9a89-a7b6c29dd95f","name":"Extract From File: PDF"},{"parameters":{"operation":"text","options":{"encoding":"utf8"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1616,464],"id":"0147191e-7477-48c7-95a3-2e76a07c53ce","name":"Extract From File: Text"},{"parameters":{"jsCode":"// Recursive Character Text Splitter\n// chunkSize: 1200 | overlap: 250\nconst { doc_text, base_metadata, file_key, file_name } = $input.item.json;\n\nconst CHUNK_SIZE    = 1200;\nconst CHUNK_OVERLAP = 250;\nconst SEPARATORS    = ['\\n\\n\\n', '\\n\\n', '\\n', '. ', '? ', '! ', '; ', ', ', ' ', ''];\n\nfunction recursiveSplit(text, seps, size, overlap) {\n  if (text.length <= size) return [text];\n  \n  // Encontra o melhor separador\n  let chosenSep = '';\n  for (const sep of seps) {\n    if (text.includes(sep)) { chosenSep = sep; break; }\n  }\n  \n  const splits = chosenSep ? text.split(chosenSep) : [text];\n  const chunks = [];\n  let current = '';\n  \n  for (let i = 0; i < splits.length; i++) {\n    const piece = splits[i] + (i < splits.length - 1 ? chosenSep : '');\n    \n    if ((current + piece).length > size && current.length > 0) {\n      if (current.trim().length > 0) chunks.push(current.trim());\n      // Overlap: mantém final do chunk anterior\n      current = current.length > overlap\n        ? current.slice(current.length - overlap) + piece\n        : current + piece;\n    } else {\n      current += piece;\n    }\n  }\n  if (current.trim().length > 0) chunks.push(current.trim());\n  return chunks;\n}\n\n// Hash simples determinístico (sem crypto)\nfunction strHash(s) {\n  let h = 2166136261;\n  for (let i = 0; i < Math.min(s.length, 500); i++) {\n    h ^= s.charCodeAt(i);\n    h = (h * 16777619) >>> 0;\n  }\n  return h.toString(16);\n}\n\nconst rawChunks = recursiveSplit(doc_text, SEPARATORS, CHUNK_SIZE, CHUNK_OVERLAP);\n\nconst validChunks = rawChunks\n  .filter(c => c.length >= 80)  // descarta chunks muito pequenos\n  .map((chunk, index) => {\n    const hash = strHash(chunk.substring(0, 300));\n    const chunk_id = `${file_key}::${index}::${hash}`;\n    return {\n      chunk_id,\n      chunk_text:  chunk,\n      chunk_index: index,\n      chunk_hash:  hash,\n      total_chunks: rawChunks.length,\n      metadata: {\n        ...base_metadata,\n        chunk_index: index,\n        chunk_hash:  hash,\n        chunk_chars: chunk.length\n      }\n    };\n  });\n\nconsole.log(`[CHUNKING] ${file_name}: ${validChunks.length} chunks válidos de ${rawChunks.length} brutos`);\n\nreturn validChunks.map(c => ({ json: c }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2064,464],"id":"9981b619-05a7-4700-a768-32cd9b9934d2","name":"Code: Chunking Recursivo"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2288,656],"id":"748b038f-167c-4f9e-8bd4-7fb4f1ab777b","name":"Split In Batches: Loop de Chunks"},{"parameters":{"jsCode":"// Combina dados do chunk (batch anterior) com embedding retornado\nconst chunkData = $('Split In Batches: Loop de Chunks').item.json;\nconst embResponse = $input.item.json;\n\nconst embedding = embResponse?.data?.[0]?.embedding;\nif (!embedding || !Array.isArray(embedding) || embedding.length !== 1536) {\n  throw new Error(`Embedding inválido para chunk ${chunkData.chunk_id}. Resposta: ${JSON.stringify(embResponse).substring(0, 200)}`);\n}\n\n// pgvector aceita formato [0.1, 0.2, ...] como string\nconst embeddingStr = '[' + embedding.join(',') + ']';\n\nreturn [{\n  json: {\n    chunk_id:    chunkData.chunk_id,\n    chunk_text:  chunkData.chunk_text,\n    metadata:    JSON.stringify(chunkData.metadata),\n    embedding:   embeddingStr\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,848],"id":"bbcb6564-da87-428e-8432-44b4969b0eec","name":"Code: Preparar Dados para UPSERT","disabled":true},{"parameters":{"operation":"executeQuery","query":"INSERT INTO kb_chunks (id, content, metadata, embedding)\nVALUES ($1, $2, $3::jsonb, $4::vector)\nON CONFLICT (id)\nDO UPDATE SET\n  content    = EXCLUDED.content,\n  metadata   = EXCLUDED.metadata,\n  embedding  = EXCLUDED.embedding,\n  created_at = now();","options":{"queryReplacement":"={{ $json.chunk_id }},{{ $json.chunk_text }},{{ $json.metadata }},{{ $json.embedding }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2064,848],"id":"bd9a89a6-dc3a-4c99-9eb7-d3a6ed99792a","name":"Postgres: UPSERT kb_chunks","credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}},"disabled":true},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"text-embedding-3-small"},{"name":"input","value":"={{ $json.chunk_text }}"},{"name":"dimensions","value":"={{ 1536 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1616,848],"id":"4ca0534c-3bac-4127-acc1-49c5fd1508d6","name":"HTTP Request: Gerar Embedding","credentials":{"openAiApi":{"id":"V6KXtm34XKIltVzc","name":"OpenAi account"}},"disabled":true},{"parameters":{"promptType":"define","text":"=Extraia as informações do documento abaixo e retorne um JSON com esta estrutura exata:\\n{\\n  \\\"ship_name\\\": \\\"nome do navio/cruzeiro\\\",\\n  \\\"theme\\\": \\\"tema do cruzeiro\\\",\\n  \\\"artist\\\": [\\\"lista de artistas\\\"],\\n  \\\"embark_port\\\": \\\"porto de embarque\\\",\\n  \\\"start_date\\\": \\\"YYYY-MM-DD ou null\\\",\\n  \\\"end_date\\\": \\\"YYYY-MM-DD ou null\\\",\\n  \\\"nights\\\": número ou null,\\n  \\\"price_from\\\": número ou null,\\n  \\\"highlights\\\": [\\\"lista de destaques\\\"],\\n  \\\"itinerary\\\": [\\\"lista de portos/destinos\\\"],\\n  \\\"testimonials\\\": [\\n    {\\n      \\\"speaker\\\": \\\"nome\\\",\\n      \\\"role\\\": \\\"passageiro/artista/organizador\\\",\\n      \\\"sentiment\\\": \\\"positive/neutral/negative\\\",\\n      \\\"key_points\\\": [\\\"pontos chave\\\"],\\n      \\\"quote\\\": \\\"trecho mais relevante do depoimento\\\"\\n    }\\n  ],\\n  \\\"confidence\\\": 0.0 a 1.0\\n}\\n\\nDOCUMENTO:\\n{{ $json.text_sample }}","messages":{"messageValues":[{"message":"=Você é um extrator de dados estruturados. Analise o documento sobre cruzeiros e retorne APENAS um JSON válido com os campos especificados. Se um campo não existir no documento, use null."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[2736,656],"id":"7b215a5a-5883-4a3a-961c-bd74d7ffae3f","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2808,880],"id":"4654df0d-83ce-4f3f-808e-ff1ef1491aac","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"V80Z0Ht4U1FeCavj","name":"OpenAi account Teste"}}},{"parameters":{"jsCode":"// Pega os primeiros 8000 chars do documento para extrair facts\n// (o LLM não precisa do doc inteiro para identificar metadados)\nconst fileData = $('Code: Normalizar Texto').item.json;\n\nconst textForExtraction = fileData.doc_text.substring(0, 8000);\n\nreturn [{\n  json: {\n    text_sample: textForExtraction,\n    file_key: fileData.base_metadata.file_key,\n    file_name: fileData.file_name,\n    full_length: fileData.doc_text.length\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2512,656],"id":"249a03a6-01e0-4cf0-9133-a56a6c59245f","name":"Code: Preparar Texto para Facts"},{"parameters":{"jsCode":"const llmResponse = $input.item.json;\nconst fileInfo = $('Code: Preparar Texto para Facts').item.json;\n// ─── Parse seguro: remove markdown fences antes de parsear ───\nlet facts = {};\ntry {\n  let content = llmResponse?.text || '{}';\n  \n  // Remove ```json ... ``` ou ``` ... ```\n  content = content\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```\\s*$/i, '')\n    .trim();\n  \n  facts = JSON.parse(content);\n} catch (e) {\n  console.error(`[FACTS] Erro ao parsear JSON para ${fileInfo.file_name}:`, e.message);\n  facts = { confidence: 0, testimonials: [] };\n}\n\n// Hash determinístico\nfunction strHash(s) {\n  let h = 2166136261;\n  for (let i = 0; i < Math.min(s.length, 300); i++) {\n    h ^= s.charCodeAt(i);\n    h = (h * 16777619) >>> 0;\n  }\n  return h.toString(16);\n}\n\nconst cruzeiro_id = `cruzeiro::${strHash(\n  (facts.ship_name  || '') + '::' +\n  (facts.start_date || '') + '::' +\n  (facts.theme      || '') + '::' +\n  fileInfo.file_key\n)}`;\n\nconst testimonials = Array.isArray(facts.testimonials) ? facts.testimonials : [];\nconst cruzeiro_data = { ...facts };\ndelete cruzeiro_data.testimonials;\n\nconsole.log(`[FACTS] ${fileInfo.file_name}: ship=\"${facts.ship_name}\", confidence=${facts.confidence}, depoimentos=${testimonials.length}`);\n\nreturn [{\n  json: {\n    cruzeiro_id,\n    cruzeiro_data: {\n      ...cruzeiro_data,\n      source_file: fileInfo.file_key,\n      artist:     Array.isArray(cruzeiro_data.artist)     ? cruzeiro_data.artist     : [],\n      highlights: Array.isArray(cruzeiro_data.highlights) ? cruzeiro_data.highlights : [],\n      itinerary:  Array.isArray(cruzeiro_data.itinerary)  ? cruzeiro_data.itinerary  : []\n    },\n    testimonials: testimonials.map((t, i) => ({\n      id:          `dep::${strHash(fileInfo.file_key + '::' + i + '::' + (t.quote || ''))}`,\n      cruzeiro_id,\n      source_file: fileInfo.file_key,\n      speaker:     t.speaker   || 'desconhecido',\n      role:        t.role      || 'desconhecido',\n      sentiment:   t.sentiment || 'neutral',\n      key_points:  Array.isArray(t.key_points) ? t.key_points : [],\n      quote:       (t.quote || '').substring(0, 500)\n    })),\n    confidence: facts.confidence || 0,\n    file_key:   fileInfo.file_key\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3088,656],"id":"60f7a322-cfb7-413f-9ff0-79f63a149d6a","name":"Code: Processar Facts Extraídos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4d58fc12-975c-4f1e-9950-9c74b2220063","leftValue":"={{ $json.cruzeiro_data.confidence }}","rightValue":0.3,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3312,656],"id":"f556c43f-548b-43c4-8355-df9d8781c7a2","name":"If"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO kb_cruzeiros (\n  id, ship_name, theme, artist, embark_port,\n  start_date, end_date, nights, price_from,\n  highlights, itinerary, source_file, confidence, raw_extract\n)\nVALUES (\n  $1, $2, $3, \n  ARRAY(SELECT jsonb_array_elements_text($4::jsonb)),\n  $5,\n  NULLIF($6, 'null')::date, -- Se for string 'null', vira NULL real\n  NULLIF($7, 'null')::date, -- Se for string 'null', vira NULL real\n  NULLIF($8, 'null')::int,\n  NULLIF($9, 'null')::numeric,\n  ARRAY(SELECT jsonb_array_elements_text($10::jsonb)),\n  ARRAY(SELECT jsonb_array_elements_text($11::jsonb)),\n  $12, $13::float, $14::jsonb\n)\nON CONFLICT (id)\nDO UPDATE SET\n  ship_name   = EXCLUDED.ship_name,\n  theme       = EXCLUDED.theme,\n  artist      = EXCLUDED.artist,\n  highlights  = EXCLUDED.highlights,\n  itinerary   = EXCLUDED.itinerary,\n  confidence  = EXCLUDED.confidence,\n  raw_extract = EXCLUDED.raw_extract;\n","options":{"queryReplacement":"={{ $json.cruzeiro_id }}, {{ $json.cruzeiro_data.ship_name }}, {{ $json.cruzeiro_data.theme }}, {{ JSON.stringify($json.cruzeiro_data.artist) }}, {{ $json.cruzeiro_data.embark_port }}, {{ $json.cruzeiro_data.start_date }}, {{ $json.cruzeiro_data.end_date }},  {{ $json.cruzeiro_data.nights }}, {{ $json.cruzeiro_data.price_from }}, {{ JSON.stringify($json.cruzeiro_data.highlights) }}, {{ JSON.stringify($json.cruzeiro_data.itinerary) }}, {{ $json.file_key }}, {{ $json.cruzeiro_data.confidence }}, {{ JSON.stringify($json.cruzeiro_data) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3536,656],"id":"abb69cfa-00e3-4333-bad1-2d6007aaee33","name":"Postgres: UPSERT kb_cruzeiros","alwaysOutputData":false,"credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7acf9f70-c249-4144-954e-506931d14500","leftValue":"={{ $('If').item.json.testimonials.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3760,656],"id":"cb8c73d5-af18-4a12-87d0-d0a92c4abbea","name":"If1"},{"parameters":{"fieldToSplitOut":"testimonials","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[4208,656],"id":"b587a71a-889a-43f3-a15b-baa9ed794b00","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"c7b9f62b-0232-48e2-a87d-4e4dc565d874","name":"testimonials","value":"={{ $('If').item.json.testimonials }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3984,656],"id":"0165470a-3516-46a2-95c3-9c0e695e5ceb","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO kb_depoimentos (id, speaker, role, sentiment, key_points, quote, source_file, cruzeiro_id)\nVALUES (\n  $1, $2, $3, $4, \n  ARRAY(SELECT jsonb_array_elements_text($5::jsonb)), -- Converte o JSON para Array nativo\n  $6, $7, $8\n)\nON CONFLICT (id)\nDO UPDATE SET\n  sentiment  = EXCLUDED.sentiment,\n  key_points = EXCLUDED.key_points,\n  quote      = EXCLUDED.quote;\n","options":{"queryReplacement":"={{ $json.id }}, {{ $json.speaker }}, {{ $json.role }}, {{ $json.sentiment }}, {{ JSON.stringify($json.key_points) }}, {{ $json.quote }}, {{ $json.source_file }}, {{ $json.cruzeiro_id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4416,656],"id":"94a8b61b-2263-463d-afe0-cc71f0eb8dc9","name":"Execute a SQL query1","credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO kb_ingest_state (file_key, file_name, mime_type, etag, status, last_ingested_at, chunk_count)\nVALUES ($1, $2, $3, $4, 'ok', now(), $5)\nON CONFLICT (file_key)\nDO UPDATE SET\n  status = 'ok',\n  etag = EXCLUDED.etag,\n  last_ingested_at = now(),\n  chunk_count = EXCLUDED.chunk_count;","options":{"queryReplacement":"={{ $('If').item.json.file_key }},{{ $('Code: Normalizar Texto').first().json.base_metadata.file_name }}, {{ $('Code: Normalizar Texto').first().json.base_metadata.mime_type }}, {{ $('Code: Normalizar Texto').first().json.base_metadata.etag }}, "}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4624,656],"id":"97da4fc4-3027-44ac-bd96-c608989a2322","name":"Execute a SQL query2","credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}}}],"connections":{"KB_INGEST_WORKER":{"main":[[{"node":"Set: Configurações do Worker","type":"main","index":0}]]},"Download a file":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract From File: PDF","type":"main","index":0}],[{"node":"Extract From File: Text","type":"main","index":0}],[{"node":"HTTP Request: Converter DOCX","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Download a file","type":"main","index":0}]]},"Set: Configurações do Worker":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Code: Normalizar Texto":{"main":[[{"node":"Code: Chunking Recursivo","type":"main","index":0}]]},"HTTP Request: Converter DOCX":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Code: Normalizar Texto","type":"main","index":0}]]},"Extract From File: Text":{"main":[[{"node":"Code: Normalizar Texto","type":"main","index":0}]]},"Extract From File: PDF":{"main":[[{"node":"Code: Normalizar Texto","type":"main","index":0}]]},"Code: Chunking Recursivo":{"main":[[{"node":"Split In Batches: Loop de Chunks","type":"main","index":0}]]},"Split In Batches: Loop de Chunks":{"main":[[{"node":"Code: Preparar Texto para Facts","type":"main","index":0}],[{"node":"Split In Batches: Loop de Chunks","type":"main","index":0}]]},"Code: Preparar Dados para UPSERT":{"main":[[{"node":"Postgres: UPSERT kb_chunks","type":"main","index":0}]]},"Postgres: UPSERT kb_chunks":{"main":[[{"node":"Split In Batches: Loop de Chunks","type":"main","index":0}]]},"HTTP Request: Gerar Embedding":{"main":[[{"node":"Code: Preparar Dados para UPSERT","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code: Processar Facts Extraídos","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Code: Preparar Texto para Facts":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Code: Processar Facts Extraídos":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Postgres: UPSERT kb_cruzeiros","type":"main","index":0}]]},"Postgres: UPSERT kb_cruzeiros":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"Execute a SQL query2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"KB_INGEST_WORKER":[{"json":{"file_key":"rag/Compilado Entrevistas e Cruzeiros Tematicos.docx","file_name":"Compilado Entrevistas e Cruzeiros Tematicos.docx","mime_type":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","etag":"fbee7269f9a1c3947a2aa9fbfb63d72d-1","size_bytes":"54010"}}],"Basic LLM Chain":[{"json":{"text":"```json\n{\n  \"ship_name\": \"MSC Seaside\",\n  \"theme\": \"cruzeiros temáticos\",\n  \"artist\": [\n    \"Wesley Safadão\",\n    \"Bell Marques\",\n    \"Chitãozinho e Xororó\"\n  ],\n  \"embark_port\": \"porto de Santos\",\n  \"start_date\": null,\n  \"end_date\": null,\n  \"nights\": null,\n  \"price_from\": null,\n  \"highlights\": [\n    \"shows ao vivo com artistas famosos\",\n    \"experiências em alto mar\",\n    \"estrutura de palco montada no navio\"\n  ],\n  \"itinerary\": [\n    \"Caribe\"\n  ],\n  \"testimonials\": [\n    {\n      \"speaker\": \"Rodrigo\",\n      \"role\": \"organizador\",\n      \"sentiment\": \"positive\",\n      \"key_points\": [\n        \"experiências divinas\",\n        \"retorno dos passageiros\",\n        \"estrutura incrível\"\n      ],\n      \"quote\": \"Quem já teve a experiência de estar a Bordo de uma das nossas saídas retorna na temporada seguinte.\"\n    },\n    {\n      \"speaker\": \"Levi\",\n      \"role\": \"organizador\",\n      \"sentiment\": \"positive\",\n      \"key_points\": [\n        \"suporte ao passageiro\",\n        \"diversidade musical\",\n        \"experiência única\"\n      ],\n      \"quote\": \"A promoção está aí para mais de 20 anos trazendo um produto único.\"\n    }\n  ],\n  \"confidence\": 0.9\n}\n```"},"pairedItem":{"item":0}}],"Postgres: UPSERT kb_cruzeiros":[{"json":{"success":true},"pairedItem":[{"item":0}]}]},"versionId":"f0c06f3f-4484-4a59-8142-9962e09491e4","activeVersionId":"47458bf9-cfbf-41a1-a52a-a4b9ee1684e5","versionCounter":702,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-01T03:15:15.607Z","createdAt":"2026-03-01T03:15:15.607Z","role":"workflow:owner","workflowId":"It7hakLlHAGwksaG","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}