workflows_extracted/jUpEUu8wgBqWqyIVZwuYl.json
{"updatedAt":"2026-02-18T20:53:12.479Z","createdAt":"2026-02-12T17:46:39.833Z","id":"jUpEUu8wgBqWqyIVZwuYl","name":"Verifica chatwoot","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"url":"={{ $('Start').item.json.urlChatwoot }}/api/v1/accounts/{{ $('Start').item.json.accountId }}/contacts/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Start').item.json.telefone.split('@')[0] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Start').item.json.tokenChatwoot }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,-48],"id":"368fedbe-e93d-4240-84de-483fca9ff1c7","name":"Busca contato chatwoot","retryOnFail":true,"maxTries":5},{"parameters":{"workflowInputs":{"values":[{"name":"urlChatwoot","type":"any"},{"name":"accountId","type":"any"},{"name":"telefone","type":"any"},{"name":"tokenChatwoot","type":"any"},{"name":"telefone_replace","type":"any"},{"name":"campanha"}]}},"id":"272739ce-4e5d-4e0e-b232-8e8b71c39700","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-224,-48]},{"parameters":{"promptType":"define","text":"=Navio/Cruzeiro que o cliente quer: {{ $('Start').item.json.campanha }}","hasOutputParser":true,"options":{"systemMessage":"=PAPEL\nVocê é um classificador de intenção para cruzeiros temáticos. Sua tarefa é identificar qual “navio/atração” o lead quer, com base no texto recebido.\n\nOBJETIVO\nDado um JSON de entrada (normalmente um array com 1 objeto), retornar APENAS um JSON no formato:\n{\"atracao\":\"<uma das 6 opções OU Não identificado>\"}\n\nENTRADA (o que você recebe)\nUm JSON (geralmente assim):\n[\n  {\n    \"urlChatwoot\": \"https://promo-chatwoot.demo.example.com\",\n    \"accountId\": 1,\n    \"telefone\": \"+1 555-0100\",\n    \"tokenChatwoot\": \"555-010099999999\",\n    \"telefone_replace\": null,\n    \"campanha\": \"Olá! Tenho interesse e queria mais informações sobre o Navio CHX, por favor.\"\n  }\n]\n\nREGRAS DURAS\n1) NÃO invente valores fora da lista abaixo.\n2) Saída deve ser SOMENTE o JSON final, sem explicações, sem texto extra, sem markdown.\n3) Se houver empate ou baixa confiança, use: {\"atracao\":\"Não identificado\"}.\n\nLISTA FIXA (6 opções)\n- \"embaixador\"\n- \"vumbora_promar\"\n- \"cabare\"\n- \"rockboat\"\n- \"reveillon\"\n- \"chex\"\n\nCOMO DECIDIR (procedimento)\nA) Monte o TEXTO_ALVO concatenando (na ordem) os campos disponíveis e não vazios:\ncampanha, mensagem, last_message, texto, pergunta.\nSe só existir campanha, use apenas ele.\n\nB) Normalize TEXTO_ALVO:\n- coloque em minúsculas\n- remova acentos\n- remova pontuação extra\n- reduza espaços múltiplos\n\nC) Faça matching por SCORE (pesos):\n- 3 pontos: frase/termo muito específico do navio (ex.: “rock boat”, “vumbora pro mar”, “embaixador em alto mar”, “navio cabare”, “navio ch&x”, “ch&x”)\n- 2 pontos: nome do artista/marca principal (ex.: “gustavo lima/gusttavo lima”, “bell marques/bel marques”, “leonardo”, “89 fm/89”, “reveillon”, “chitaozinho”, “xororo”)\n- 1 ponto: apelido comum (ex.: “gustavo”, “gusttavo”, “bel”, “bell”, “leo”, “rock”, “virada”, “fim de ano”)\n\nD) Se o maior score < 2 → \"Não identificado\"\nE) Se empate no maior score → \"Não identificado\"\nF) Caso contrário, retorne a atração correspondente ao maior score.\n\nDICIONÁRIO DE TERMOS (use estes gatilhos; considere variações e typos)\n1) embaixador\n- forte (3): \"navio do embaixador\", \"embaixador em alto mar\", \"embaixador em alto-mar\", \"cruzeiro do embaixador\"\n- médio (2): \"gustavo lima\", \"gusttavo lima\", \"embaixador\"\n- fraco (1): \"gustavo\", \"gusttavo\", \"lima\", \"embaixado\"\n\n2) vumbora_promar\n- forte (3): \"vumbora pro mar\", \"vumbora promar\", \"vumbora\"\n- médio (2): \"bell marques\", \"bel marques\", \"vumbora pro mar\"\n- fraco (1): \"bel\", \"bell\", \"vombora\", \"vumbora\"\n\n3) cabare\n- forte (3): \"navio cabare\", \"navio cabaré\", \"cabare em alto mar\", \"cabare em alto-mar\"\n- médio (2): \"leonardo\", \"cabare\", \"cabaré\"\n- fraco (1): \"leo\", \"cabaré\"\n\n4) rockboat\n- forte (3): \"89 rock boat\", \"rock boat\", \"a radio rock\", \"radio rock\"\n- médio (2): \"89fm\", \"89 fm\", \"89\", \"oitenta e nove\", \"radio rock\", \"rock boat\"\n- fraco (1): \"rock\", \"radio\", \"89\"\n\n5) reveillon\n- forte (3): \"reveillon em alto mar\", \"réveillon em alto mar\", \"virada em alto mar\"\n- médio (2): \"reveillon\", \"réveillon\", \"virada do ano\", \"ano novo\", \"fim de ano\"\n- fraco (1): \"virada\", \"new year\", \"fim de ano\"\n\n6) chex\n- forte (3): \"navio ch&x\", \"navio chx\", \"ch&x\", \"chx\"\n- médio (2): \"chitaozinho e xororo\", \"chitãozinho e xororó\", \"chitaozinho\", \"chitãozinho\", \"xororo\", \"xororó\"\n- fraco (1): \"chitao\", \"chitão\", \"xoro\"\n\nEXEMPLO\nEntrada:\n[\n  {\"campanha\":\"Navio do embaixador\"}\n]\nSaída:\n{\"etiqueta\":\"embaixador\"}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[672,-48],"id":"4df2db8a-5c8f-44f0-a25b-1eba4a83692f","name":"AI Agent1"},{"parameters":{"method":"POST","url":"={{ $('Start').item.json.urlChatwoot }}/api/v1/accounts/{{ $('Start').item.json.accountId }}/conversations/{{ $json.payload[0].id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Start').item.json.tokenChatwoot }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"labels\": [\"{{ $('AI Agent1').item.json.output.etiqueta }}\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1248,-48],"id":"49b13ce1-7c87-42af-afb4-29fbe9e688b8","name":"Atribui tag","onError":"continueRegularOutput"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"labels","mode":"list","cachedResultName":"labels"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,-48],"id":"72e5f14f-2979-412d-835a-3b47ab4d0926","name":"Puxa as tags","credentials":{"postgres":{"id":"uSdxNemJ9RfhxUg0","name":"Postgres - Chatwoot"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"title"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[448,-48],"id":"fd71ec6a-56cb-4a51-a76c-ed1daf64cea9","name":"Aggregate"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[688,176],"id":"ed8eea9a-946e-468f-a99b-cc9ab0fc041f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"V6KXtm34XKIltVzc","name":"OpenAi account"}}},{"parameters":{"url":"={{ $('Start').item.json.urlChatwoot }}/api/v1/accounts/{{ $('Start').item.json.accountId }}/contacts/{{ $('Busca contato chatwoot').item.json.payload[0].id }}/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Start').item.json.tokenChatwoot }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,-48],"id":"f85f7442-3114-4347-9414-8765de71d53a","name":"Busca conversa","retryOnFail":true,"maxTries":2},{"parameters":{"method":"PUT","url":"={{ $('Start').item.json.urlChatwoot }}/api/v1/accounts/{{ $('Start').item.json.accountId }}/contacts/{{ $('Busca contato chatwoot').item.json.payload[0].id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Start').item.json.tokenChatwoot }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"custom_attributes\": {\n    \"campanha\": [\"{{ $('AI Agent1').item.json.output.etiqueta }}\"],\n    \"temporada\": \"2026/2027\",\n    \"origem\": \"Whatsapp\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,-48],"id":"05f47284-5c6b-4c35-87b1-d875de66495c","name":"Atualiza Chatwoot","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"691635bac3aa230014102ff8\",\n    \"name\": \"{{ $('Atualiza Chatwoot').item.json.payload.name }}\",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5d5b72bd1e0013392272\",\n        \"value\": \"SDR IA\"\n      }\n    ]\n  },\n  \"contacts\": [\n    {\n      \"name\": \"{{ $('Atualiza Chatwoot').item.json.payload.name }}\",\n      \"phones\": [\n        {\n          \"phone\": \"{{ $('Atualiza Chatwoot').item.json.payload.phone_number }}\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2144,-48],"id":"807882d5-fc87-4c98-aafe-048a1fa22d1c","name":"Criar a Negociação"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $json.payload.phone_number }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1696,-48],"id":"08c00ada-99b4-4479-8caa-64c2f692ef7f","name":"Pega id do contato","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5464acd3-615d-4cb6-9757-c1f144bb4709","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1920,-48],"id":"03079301-9e8f-48bf-ac9d-839d21906102","name":"If"},{"parameters":{"jsonSchemaExample":"{\n  \"etiqueta\":\"embaixador_10-12-2025\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[816,176],"id":"b6cbbf49-cdf4-4d6f-88c5-afbbef3c6392","name":"Structured Output Parser"}],"connections":{"Busca contato chatwoot":{"main":[[{"node":"Puxa as tags","type":"main","index":0}]]},"Start":{"main":[[{"node":"Busca contato chatwoot","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Busca conversa","type":"main","index":0}]]},"Atribui tag":{"main":[[{"node":"Atualiza Chatwoot","type":"main","index":0}]]},"Puxa as tags":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Busca conversa":{"main":[[{"node":"Atribui tag","type":"main","index":0}]]},"Atualiza Chatwoot":{"main":[[{"node":"Pega id do contato","type":"main","index":0}]]},"Pega id do contato":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Criar a Negociação","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Start":[{"json":{"urlChatwoot":"https://chatwoot.demo-events.com.br","accountId":1,"telefone":"+1 555-0100","tokenChatwoot":"${CHATWOOT_TOKEN}","telefone_replace":null,"campanha":"ola, tudo bem?"}}]},"versionId":"bfa2bd11-247a-4ee8-9c72-550e17f81dbf","activeVersionId":"bfa2bd11-247a-4ee8-9c72-550e17f81dbf","versionCounter":64,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-12T17:46:39.833Z","createdAt":"2026-02-12T17:46:39.833Z","role":"workflow:owner","workflowId":"jUpEUu8wgBqWqyIVZwuYl","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}