workflows_extracted/KDgZ3S_ma9zBuAy0nV1lP.json
{"updatedAt":"2026-04-01T03:01:27.110Z","createdAt":"2026-03-19T19:45:49.538Z","id":"KDgZ3S_ma9zBuAy0nV1lP","name":"BDR_Dominguinhos_Disparo","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"7glmSQjejqgMs3B2","mode":"list","cachedResultName":"BDR_Dominguinhos_SemDuplicidade","cachedResultUrl":"/projects/UZuNnaPQrJNEgHCN/datatables/7glmSQjejqgMs3B2"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"Enviado","condition":"isFalse"}]},"limit":947},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[560,80],"id":"8e5d3850-95be-4795-aaa4-ac19e9ae9895","name":"Get row(s)"},{"parameters":{"method":"POST","url":"https://n8nh.demo-events.com.br/webhook/c339662d-4520-4da6-ae91-b0e7492936f1","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"id\": {{ $json.id}},\n  \"nome\": \"{{ $json.Nome }}\",\n  \"telefone\": \"+55{{ $json.telefone_padronizado }}\",\n  \"email\": \"{{ $json.Email }}\",\n  \"estado\": \"{{ $json.Estado }}\",\n  \"cidade\": \"{{ $json.Estado }}\",\n  \"sexo\": \"{{ $json.Sexo }}\",\n  \"faixa_etaria\": \"{{ $json.Idade_Passageiro_1 }}\",\n  \"tipo_de_cabine\": \"{{ $json.Cabine_interesse }}\",\n  \"tipo_template\": \"{{ $json.Campanha }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1312,0],"id":"a782728b-e4cc-428e-b518-fbc5cfbf4f35","name":"HTTP Request"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[864,80],"id":"31118d07-93ac-4bdf-88bb-7a5a43eda7b1","name":"Loop Over Items"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1760,80],"id":"cf295eb1-4633-4d24-914f-86ab8ebb3d8b","name":"Wait","webhookId":"640aac75-5622-46ab-b01b-5bf7b0fd30e5"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[112,112],"id":"fce5d4d8-c70e-4766-a774-d35278e38c48","name":"Schedule Trigger"}],"connections":{"Get row(s)":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":-1},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5e9c1b2b-2015-46be-9472-256f7a906455","activeVersionId":null,"versionCounter":717,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-19T19:45:49.538Z","createdAt":"2026-03-19T19:45:49.538Z","role":"workflow:owner","workflowId":"KDgZ3S_ma9zBuAy0nV1lP","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}