workflows_extracted/MkNX4aFZQu6eR5CM.json
{"updatedAt":"2026-04-17T20:23:57.293Z","createdAt":"2026-03-19T19:37:25.092Z","id":"MkNX4aFZQu6eR5CM","name":"FUP_Template_Forms","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Este código retorna todos os dados das 10 primeiras linhas\nreturn items.slice(0, 110);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3632,1264],"id":"809272e1-0692-44c6-8c97-eff49cccd3e4","name":"Pega os 10 Primeiros da Lista1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88ea99f4-6803-4f9c-b0e3-7835171c8eb2","leftValue":"={{ $json.mensagem_lead }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3856,1264],"id":"d71c0ca8-c429-4338-b993-6559ca6f580f","name":"If23"},{"parameters":{"jsCode":"return items.map(item => {\n  const j = item.json || {};\n\n  const horaMensagemRaw = j[\"Hora Mensagem\"] ?? j[\"HoraMensagem\"] ?? j[\"horaMensagem\"] ?? null;\n  const tempoAtualRaw   = j[\"Tempo atual\"]   ?? j[\"TempoAtual\"]   ?? j[\"tempoAtual\"]   ?? null;\n\n  const horaMensagemStr = typeof horaMensagemRaw === \"string\" ? horaMensagemRaw.trim() : horaMensagemRaw;\n  const tempoAtualStr   = typeof tempoAtualRaw   === \"string\" ? tempoAtualRaw.trim()   : tempoAtualRaw;\n\n  const base = {\n    Nome:               j[\"Nome\"]               ?? null,\n    Id:                 j[\"Id\"]                 ?? null,\n    Telefone:           j[\"Telefone\"]           ?? null,\n    Email:              j[\"Email\"]              ?? null,\n    Idcontatochatwoot:  j[\"Idcontatochatwoot\"]  ?? null,\n    Idconversachatwoot: j[\"Idconversachatwoot\"] ?? null,\n    Navio:              j[\"Navio\"]              ?? null,\n    QtdPessoas:         j[\"QtdPessoas\"]         ?? null,\n    \"Hora Mensagem\":    horaMensagemStr         ?? null,\n    \"Tempo atual\":      tempoAtualStr           ?? null\n  };\n\n  if (!horaMensagemStr || !tempoAtualStr) {\n    return {\n      json: {\n        ...base,\n        error: \"Um dos campos de data está vazio\",\n        _debug: {\n          temHoraMensagem:   Boolean(horaMensagemStr),\n          temTempoAtual:     Boolean(tempoAtualStr),\n          chavesDisponiveis: Object.keys(j)\n        }\n      }\n    };\n  }\n\n  // ── Parser 1: ISO 8601 → extrai hora local, ignora offset de fuso\n  // Ex: \"2026-03-04T12:53:44.188-03:00\" → 12h53\n  function parseISO(str) {\n    if (!/^\\d{4}-\\d{2}-\\d{2}T/.test(str)) return null;\n    const m = str.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, yyyy, MM, dd, HH, mm] = m;\n    return new Date(parseInt(yyyy), parseInt(MM) - 1, parseInt(dd), parseInt(HH), parseInt(mm));\n  }\n\n  // ── Parser 2: PT-BR → \"sexta-feira, 06 de março de 2026, 11:50\"\n  function parsePtBr(str) {\n    const meses = {\n      janeiro: 0, fevereiro: 1, março: 2, marco: 2,\n      abril: 3, maio: 4, junho: 5, julho: 6,\n      agosto: 7, setembro: 8, outubro: 9, novembro: 10, dezembro: 11\n    };\n    const clean = str.replace(/^[^,]+,\\s*/, \"\");\n    const m = clean.match(/(\\d{1,2}) de ([^\\s]+) de (\\d{4}), (\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, dd, mesStr, yyyy, HH, MM] = m;\n    const mes = meses[mesStr.toLowerCase()];\n    if (mes === undefined) return null;\n    return new Date(parseInt(yyyy), mes, parseInt(dd), parseInt(HH), parseInt(MM));\n  }\n\n  // ── Tenta ISO primeiro, depois PT-BR\n  function parseData(str) {\n    return parseISO(str) ?? parsePtBr(str);\n  }\n\n  const dataMensagem = parseData(horaMensagemStr);\n  const dataAtual    = parseData(tempoAtualStr);\n\n  if (!dataMensagem || !dataAtual) {\n    return {\n      json: {\n        ...base,\n        error: \"Erro ao interpretar datas\",\n        _debug: {\n          horaMensagemStr,\n          tempoAtualStr,\n          parsedMensagem: String(dataMensagem),\n          parsedAtual:    String(dataAtual)\n        }\n      }\n    };\n  }\n\n  const diffMs      = dataAtual.getTime() - dataMensagem.getTime();\n  const diffHoras   = Math.floor(diffMs / (1000 * 60 * 60));\n  const diffMinutos = Math.floor(diffMs / (1000 * 60)) % 60;\n\n  return {\n    json: {\n      ...base,\n      diferencaHoras:   diffHoras,\n      diferencaMinutos: diffMinutos\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3184,1264],"id":"f3b7b77c-b281-427f-8261-c8abcf43c5a5","name":"Diferença de Horas1"},{"parameters":{"assignments":{"assignments":[{"id":"8cd29fb8-ef7b-4aa4-a8ac-b6e0d9f24955","name":"Hora Mensagem","value":"={{ $json.hora_mensagem }}","type":"string"},{"id":"bec4660e-4923-4978-9c33-21ce4ac67c05","name":"Nome","value":"={{ $json.Nome }}","type":"string"},{"id":"7df1b195-f875-4607-b559-65c9c01deef3","name":"Id","value":"={{ $json.id }}","type":"number"},{"id":"12f65e25-6153-4c0c-89a2-10641f96bb1b","name":"Telefone","value":"={{ $json.Telefone }}","type":"string"},{"id":"24044a3e-a502-4954-84d0-a701b9f6f715","name":"Tempo atual","value":"={{ $now.setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}","type":"string"},{"id":"9fdba900-f879-4c33-aab9-3c50fc5aff55","name":"Idcontatochatwoot","value":"={{ $json.id_contato_chatwoot }}","type":"string"},{"id":"2debc26a-881d-4e9e-9292-4b4ec55f214d","name":"Idconversachatwoot","value":"={{ $json.id_conversa_chatwoot }}","type":"string"},{"id":"5ffbb0e0-0181-4a98-88b5-9521ede52db4","name":"Navio","value":"={{ $json.Navio }}","type":"string"},{"id":"cfe33452-0d30-4191-9f8e-c1b8b1252418","name":"QtdPessoas","value":"={{ $json.QtdPessoas }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3408,1264],"id":"555fd12e-d55f-4095-90d5-c95e9afd6953","name":"Pega Time Mensagem1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d06b6bf-498a-493f-8a78-bc518627a95e","leftValue":"={{ $json.template_2 }}","rightValue":"1","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4080,1264],"id":"d5bd89c1-b5ce-41ce-b8d8-d514ac04796c","name":"FollowUpStatus = 0"},{"parameters":{"jsCode":"return items.map(item => {\n  const timeZone = \"America/Sao_Paulo\";\n\n  // Hora atual em São Paulo\n  const nowSP = new Date(\n    new Date().toLocaleString(\"en-US\", { timeZone })\n  );\n  const hour = nowSP.getHours(); // 0–23\n\n  // Janela permitida: 08:00 <= agora < 22:00\n  const withinAllowedTime = hour >= 8 && hour < 22;\n\n  return {\n    json: {\n      ...item.json,\n      currentTime: nowSP.toLocaleString(\"pt-BR\", { timeZone }),\n      withinAllowedTime\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2736,1264],"id":"5cb837e2-dc4c-4f0c-88db-9ff985d203b2","name":"8 as 22 horas"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"92f73086-dc73-4a79-934f-73df426ef77c","leftValue":"={{ $json.withinAllowedTime }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2512,1264],"id":"0d1821a4-f077-4cf2-80be-97498f0cb51e","name":"Se horário é das 08 as 22"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2288,1264],"id":"ce09d9b6-5349-4105-abaf-087db305402b","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-5424,1440],"id":"6555-0100-4ee1-8bcf-afc8e306cb76","name":"Schedule Trigger"},{"parameters":{"jsCode":"// Este código retorna todos os dados das 10 primeiras linhas\nreturn items.slice(0, 110);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3632,1600],"id":"4eb531b2-1d32-4ec1-beda-3d8fefa06cb7","name":"Pega os 10 Primeiros da Lista"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88ea99f4-6803-4f9c-b0e3-7835171c8eb2","leftValue":"={{ $json.mensagem_lead }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3856,1600],"id":"0ab2e691-edb1-4f8b-ad4f-245dcca4fa8f","name":"If"},{"parameters":{"jsCode":"return items.map(item => {\n  const j = item.json || {};\n\n  const horaMensagemRaw = j[\"Hora Mensagem\"] ?? j[\"HoraMensagem\"] ?? j[\"horaMensagem\"] ?? null;\n  const tempoAtualRaw   = j[\"Tempo atual\"]   ?? j[\"TempoAtual\"]   ?? j[\"tempoAtual\"]   ?? null;\n\n  const horaMensagemStr = typeof horaMensagemRaw === \"string\" ? horaMensagemRaw.trim() : horaMensagemRaw;\n  const tempoAtualStr   = typeof tempoAtualRaw   === \"string\" ? tempoAtualRaw.trim()   : tempoAtualRaw;\n\n  const base = {\n    Nome:               j[\"Nome\"]               ?? null,\n    Id:                 j[\"Id\"]                 ?? null,\n    Telefone:           j[\"Telefone\"]           ?? null,\n    Email:              j[\"Email\"]              ?? null,\n    Idcontatochatwoot:  j[\"Idcontatochatwoot\"]  ?? null,\n    Idconversachatwoot: j[\"Idconversachatwoot\"] ?? null,\n    \"Hora Mensagem\":    horaMensagemStr         ?? null,\n    \"Tempo atual\":      tempoAtualStr           ?? null\n  };\n\n  if (!horaMensagemStr || !tempoAtualStr) {\n    return {\n      json: {\n        ...base,\n        error: \"Um dos campos de data está vazio\",\n        _debug: {\n          temHoraMensagem:   Boolean(horaMensagemStr),\n          temTempoAtual:     Boolean(tempoAtualStr),\n          chavesDisponiveis: Object.keys(j)\n        }\n      }\n    };\n  }\n\n  // ── Parser 1: ISO 8601 → extrai hora local, ignora offset de fuso\n  // Ex: \"2026-03-04T12:53:44.188-03:00\" → 12h53\n  function parseISO(str) {\n    if (!/^\\d{4}-\\d{2}-\\d{2}T/.test(str)) return null;\n    const m = str.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, yyyy, MM, dd, HH, mm] = m;\n    return new Date(parseInt(yyyy), parseInt(MM) - 1, parseInt(dd), parseInt(HH), parseInt(mm));\n  }\n\n  // ── Parser 2: PT-BR → \"sexta-feira, 06 de março de 2026, 11:50\"\n  function parsePtBr(str) {\n    const meses = {\n      janeiro: 0, fevereiro: 1, março: 2, marco: 2,\n      abril: 3, maio: 4, junho: 5, julho: 6,\n      agosto: 7, setembro: 8, outubro: 9, novembro: 10, dezembro: 11\n    };\n    const clean = str.replace(/^[^,]+,\\s*/, \"\");\n    const m = clean.match(/(\\d{1,2}) de ([^\\s]+) de (\\d{4}), (\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, dd, mesStr, yyyy, HH, MM] = m;\n    const mes = meses[mesStr.toLowerCase()];\n    if (mes === undefined) return null;\n    return new Date(parseInt(yyyy), mes, parseInt(dd), parseInt(HH), parseInt(MM));\n  }\n\n  // ── Tenta ISO primeiro, depois PT-BR\n  function parseData(str) {\n    return parseISO(str) ?? parsePtBr(str);\n  }\n\n  const dataMensagem = parseData(horaMensagemStr);\n  const dataAtual    = parseData(tempoAtualStr);\n\n  if (!dataMensagem || !dataAtual) {\n    return {\n      json: {\n        ...base,\n        error: \"Erro ao interpretar datas\",\n        _debug: {\n          horaMensagemStr,\n          tempoAtualStr,\n          parsedMensagem: String(dataMensagem),\n          parsedAtual:    String(dataAtual)\n        }\n      }\n    };\n  }\n\n  const diffMs      = dataAtual.getTime() - dataMensagem.getTime();\n  const diffHoras   = Math.floor(diffMs / (1000 * 60 * 60));\n  const diffMinutos = Math.floor(diffMs / (1000 * 60)) % 60;\n\n  return {\n    json: {\n      ...base,\n      diferencaHoras:   diffHoras,\n      diferencaMinutos: diffMinutos\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3184,1600],"id":"931285bb-2dee-49d7-9bf6-a9b56261ca90","name":"Diferença de Horas"},{"parameters":{"jsCode":"return items.map(item => {\n  const timeZone = \"America/Sao_Paulo\";\n\n  // Hora atual em São Paulo\n  const nowSP = new Date(\n    new Date().toLocaleString(\"en-US\", { timeZone })\n  );\n  const hour = nowSP.getHours(); // 0–23\n\n  // Janela permitida: 08:00 <= agora < 22:00\n  const withinAllowedTime = hour >= 8 && hour < 22;\n\n  return {\n    json: {\n      ...item.json,\n      currentTime: nowSP.toLocaleString(\"pt-BR\", { timeZone }),\n      withinAllowedTime\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2736,1600],"id":"3b0010b1-7a9c-430b-bd4d-6d2723b73029","name":"8 as 22 horas1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"92f73086-dc73-4a79-934f-73df426ef77c","leftValue":"={{ $json.withinAllowedTime }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2512,1600],"id":"9059d1e3-85e3-4ef4-bc5c-bc344bb9b2cd","name":"Se horário é das 08 as "},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2288,1600],"id":"08e0f27d-41a0-4f44-b85f-1ccde62d8681","name":"Loop Over Items1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d06b6bf-498a-493f-8a78-bc518627a95e","leftValue":"={{ $json.template_2 }}","rightValue":"1","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"6555-0100-4210-8566-73808a40e1eb","leftValue":"={{ $json.template_3 }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4080,1600],"id":"037be8f5-8010-44a1-b725-1578c414861d","name":"FollowUpStatus =1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94168bb8-6766-4363-ba6c-92c41c6466d5","leftValue":"={{ $json.pausado }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"cf80e386-06bf-4ed1-960b-8f4a09965e7b","leftValue":"={{ $json.vendedor }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4304,1440],"id":"d14e8eb3-b018-4727-8445-42f746961fec","name":"Se Agendado/Reagendado/Compareceu5"},{"parameters":{"operation":"update","tableId":"sdr_whatsapp_forms","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items').item.json.Id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"hora_mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").toFormat(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"template_2","fieldValue":"={{true}}"},{"fieldId":"mensagem_lead","fieldValue":"={{false}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1616,1120],"id":"061df533-9214-4b60-8c4b-916ef9f5ce8e","name":"Update a row6","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"operation":"update","tableId":"sdr_whatsapp_forms","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items1').item.json.Id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"hora_mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").toFormat(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"template_3","fieldValue":"={{ true }}"},{"fieldId":"mensagem_lead","fieldValue":"={{false}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1616,1456],"id":"a4b984be-bae9-4e27-8d2a-a6f21e850195","name":"Update a row","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1392,1200],"id":"12b2bd95-f476-4d85-a016-4b7e2b30670e","name":"Wait1","webhookId":"44dc6889-887a-4b45-8472-f41b5c33181a"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1392,1536],"id":"5aa8d381-f9dd-4db3-b7a7-ba14e08abca0","name":"Wait2","webhookId":"2d79f022-2185-4939-ab60-d545c4f0492d"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').first().json.chatwooturl }}/api/v1/accounts/{{ $('Edit Fields').first().json.accountid }}/conversations/{{ $('Loop Over Items1').item.json.Idconversachatwoot }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').first().json.chatwoottoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Loop Over Items1').item.json.Nome }}, estou te enviando essa última mensagem muito importante sobre o {{ $('Loop Over Items1').item.json.Navio }}.\nNão queria que você e as {{ $('Loop Over Items1').item.json.QtdPessoas }} pessoa(s) deixassem passar essa oportunidade única por falta de informações. A disponibilidade está reduzindo rapidamente, e eu não consigo garantir as mesmas opções e condições estejam disponíveis amanhã.\nAguardo sua resposta para poder tirar todas as dúvidas e darmos continuidade no seu atendimento."},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1840,1456],"id":"20fea052-7fad-4ce1-9bef-d821228018ee","name":"HTTP Request19","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"e8a984ac-68f2-4e01-819f-18342f854340","name":"chatwooturl","value":"https://chatwoot.demo-events.com.br","type":"string"},{"id":"b3de1e03-865f-4a07-b10a-54db6728672e","name":"accountid","value":"1","type":"string"},{"id":"29ea5b6e-9276-4734-a858-2a5efc343bed","name":"chatwoottoken","value":"${CHATWOOT_TOKEN}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5200,1440],"id":"02033dda-9436-4068-97eb-997fe1a4cf57","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"8cd29fb8-ef7b-4aa4-a8ac-b6e0d9f24955","name":"Hora Mensagem","value":"={{ $json.hora_mensagem }}","type":"string"},{"id":"bec4660e-4923-4978-9c33-21ce4ac67c05","name":"Nome","value":"={{ $json.Nome }}","type":"string"},{"id":"7df1b195-f875-4607-b559-65c9c01deef3","name":"Id","value":"={{ $json.id }}","type":"number"},{"id":"12f65e25-6153-4c0c-89a2-10641f96bb1b","name":"Telefone","value":"={{ $json.Telefone }}","type":"string"},{"id":"24044a3e-a502-4954-84d0-a701b9f6f715","name":"Tempo atual","value":"={{ $now.setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}","type":"string"},{"id":"9fdba900-f879-4c33-aab9-3c50fc5aff55","name":"Idcontatochatwoot","value":"={{ $json.id_contato_chatwoot }}","type":"string"},{"id":"2debc26a-881d-4e9e-9292-4b4ec55f214d","name":"Idconversachatwoot","value":"={{ $json.id_conversa_chatwoot }}","type":"string"},{"id":"4e5b185c-3145-49f2-886b-a5569c1db0d4","name":"Navio","value":"={{ $json.Navio }}","type":"string"},{"id":"38f3d28c-fa9b-4b07-84c3-f95366df4464","name":"QtdPessoas","value":"={{ $json.QtdPessoas }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3408,1600],"id":"44f453c1-bd61-4217-b894-122c50b86720","name":"Pega Time Mensagem"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59d71979-05d8-4d71-980f-28581fd939bd","leftValue":"={{ $json.diferencaHoras }}","rightValue":24,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2960,1264],"id":"b4db90bd-ad42-4e98-95d8-d08d859d53ee","name":"maior que 24 horas1"},{"parameters":{"phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('Loop Over Items').item.json.Telefone }}","template":"template_2_multinavios|pt_BR","components":{"component":[{"bodyParameters":{"parameter":[{"text":"={{ $json.Nome }}"},{"text":"={{ $('Loop Over Items').item.json.Navio }}"}]}}]}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-2064,1120],"id":"c5ccda3a-113a-46f1-9549-a61f99731907","name":"Send template","webhookId":"5fd6fa1f-27e8-4f05-9ca9-62bd691d8fce","retryOnFail":false,"credentials":{"whatsAppApi":{"id":"7p03rSaYxzUJ6l9f","name":"WhatsApp Formulario"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').first().json.chatwooturl }}/api/v1/accounts/{{ $('Edit Fields').first().json.accountid }}/conversations/{{ $('Loop Over Items').item.json.Idconversachatwoot }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').first().json.chatwoottoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=\nOi{{ $('Loop Over Items').item.json.Nome }} , imagina acordar com o oceano à sua frente, sem pressa, vivendo dias de música, entretenimento e momentos especiais a bordo do {{ $('Loop Over Items').item.json.Navio }}.\n\nE o que torna essa experiência única é unir o show de seu artista favorito com todo o conforto de um resort em alto mar. Música, entretenimento, gastronomia e muita diversão para você e seus convidados.\nVocês podem viver essa experiência inesquecível juntos.\nPosso te mostrar agora como tudo isso funciona?"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1840,1120],"id":"baf2dbdc-ed52-4909-873a-a095b679102d","name":"HTTP Request20","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"59d71979-05d8-4d71-980f-28581fd939bd","leftValue":"={{ $json.diferencaHoras }}","rightValue":48,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2960,1600],"id":"a494770e-34fc-4f58-8a8c-d0ff4a45519f","name":"maior que 48 horas1"},{"parameters":{"phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('Loop Over Items1').item.json.Telefone }}","template":"template_3_multinavios|pt_BR","components":{"component":[{"bodyParameters":{"parameter":[{"text":"={{ $('Loop Over Items1').item.json.Nome }}"},{"text":"={{ $('Loop Over Items1').item.json.Navio }}"},{"text":"={{ $('Loop Over Items1').item.json.QtdPessoas }}"}]}}]}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-2064,1456],"id":"0b198845-da29-4dc4-96aa-d948b62f8b59","name":"Send template1","webhookId":"86ad2ab7-9620-4fc7-af22-5bf63548d969","credentials":{"whatsAppApi":{"id":"7p03rSaYxzUJ6l9f","name":"WhatsApp Formulario"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"let arrayLeadsFUP = $('Get many rows').all();\n\narrayLeadsFUP = arrayLeadsFUP.filter(i => i.json.fup !== \"concluido\");\n\nreturn arrayLeadsFUP;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4528,1440],"id":"f1dd3484-e267-4e7e-90c0-4053d8be5693","name":"Code in JavaScript"},{"parameters":{"operation":"getAll","tableId":"sdr_whatsapp_forms","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"interagiu","condition":"is","keyValue":"={{ false }}"},{"keyName":"id_contato_chatwoot","condition":"neq","keyValue":"={{ null }}"},{"keyName":"id_conversa_chatwoot","condition":"neq","keyValue":"={{ null }}"},{"keyName":"sem_interesse","condition":"is","keyValue":"={{ false }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4976,1440],"id":"f16d99d3-a705-4218-800f-c112ca0d67f2","name":"Get many rows","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"jsCode":"let resultadoQuery = $(\"Get many rows\").all();\nresultadoQuery = resultadoQuery.filter(item => (item.json.pausado !== true));\nresultadoQuery = resultadoQuery.filter(item => item.json.vendedor === null);\nresultadoQuery = resultadoQuery.filter(item => item.json.template_3 === null);\n\nresultadoQuery = resultadoQuery.map(item => {\n  const j = item.json || {};\n  \n  const horaMensagemRaw = j[\"hora_mensagem\"] ?? j[\"HoraMensagem\"] ?? j[\"horaMensagem\"] ?? null;\n  const tempoAtualRaw   = $now.setLocale(\"pt-BR\").setZone().toFormat(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\");\n\n  const horaMensagemStr = typeof horaMensagemRaw === \"string\" ? horaMensagemRaw.trim() : horaMensagemRaw;\n  const tempoAtualStr   = typeof tempoAtualRaw   === \"string\" ? tempoAtualRaw.trim()   : tempoAtualRaw;\n  \n  function parseISO(str) {\n    if (!/^\\d{4}-\\d{2}-\\d{2}T/.test(str)) return null;\n    const m = str.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, yyyy, MM, dd, HH, mm] = m;\n    return new Date(parseInt(yyyy), parseInt(MM) - 1, parseInt(dd), parseInt(HH), parseInt(mm));\n  }\n  \n  function parsePtBr(str) {\n    const meses = {\n      janeiro: 0, fevereiro: 1, março: 2, marco: 2,\n      abril: 3, maio: 4, junho: 5, julho: 6,\n      agosto: 7, setembro: 8, outubro: 9, novembro: 10, dezembro: 11\n    };\n    const clean = str.replace(/^[^,]+,\\s*/, \"\");\n    const m = clean.match(/(\\d{1,2}) de ([^\\s]+) de (\\d{4}), (\\d{2}):(\\d{2})/);\n    if (!m) return null;\n    const [, dd, mesStr, yyyy, HH, MM] = m;\n    const mes = meses[mesStr.toLowerCase()];\n    if (mes === undefined) return null;\n    return new Date(parseInt(yyyy), mes, parseInt(dd), parseInt(HH), parseInt(MM));\n  }\n  \n  function parseData(str) {\n    return parseISO(str) ?? parsePtBr(str);\n  }\n\n  if (!horaMensagemStr || !tempoAtualStr) {\n    return {\n      json: {\n        ...j,\n        error: \"Um dos campos de data está vazio\",\n        _debug: {\n          temHoraMensagem:   Boolean(horaMensagemStr),\n          temTempoAtual:     Boolean(tempoAtualStr),\n          chavesDisponiveis: Object.keys(j)\n        }\n      }\n    };\n  }\n\n  const dataMensagem = parseData(horaMensagemStr);\n  const dataAtual    = parseData(tempoAtualStr);\n\n  if (!dataMensagem || !dataAtual) {\n    return {\n      json: {\n        ...j,\n        error: \"Erro ao interpretar datas\",\n        _debug: {\n          horaMensagemStr,\n          tempoAtualStr,\n          parsedMensagem: String(dataMensagem),\n          parsedAtual:    String(dataAtual)\n        }\n      }\n    };\n  }\n\n  const diffMs      = dataAtual.getTime() - dataMensagem.getTime();\n  const diffHoras   = Math.floor(diffMs / (1000 * 60 * 60));\n  const diffMinutos = Math.floor(diffMs / (1000 * 60)) % 60;\n  const tempoAtual = dataAtual;\n\n  return {\n    json: {\n      ...j,\n      diferencaHoras:   diffHoras,\n      diferencaMinutos: diffMinutos,\n      tempoAtual: tempoAtual,\n      \n    }\n  };\n  \n})\n\nreturn resultadoQuery.sort((a,b) => b.json.diferencaHoras - a.json.diferencaHoras);\n\n  "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4752,1440],"id":"429fc522-8ebe-4241-924c-5c82ad97e9bb","name":"Filtra leads com menos de 48 hroas e Ordena"}],"connections":{"Pega os 10 Primeiros da Lista1":{"main":[[{"node":"Pega Time Mensagem1","type":"main","index":0}]]},"If23":{"main":[[{"node":"Pega os 10 Primeiros da Lista1","type":"main","index":0}]]},"Diferença de Horas1":{"main":[[{"node":"maior que 24 horas1","type":"main","index":0}]]},"Pega Time Mensagem1":{"main":[[{"node":"Diferença de Horas1","type":"main","index":0}]]},"FollowUpStatus = 0":{"main":[[],[{"node":"If23","type":"main","index":0}]]},"8 as 22 horas":{"main":[[{"node":"Se horário é das 08 as 22","type":"main","index":0}]]},"Se horário é das 08 as 22":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Send template","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Pega os 10 Primeiros da Lista":{"main":[[{"node":"Pega Time Mensagem","type":"main","index":0}]]},"If":{"main":[[{"node":"Pega os 10 Primeiros da Lista","type":"main","index":0}]]},"Diferença de Horas":{"main":[[{"node":"maior que 48 horas1","type":"main","index":0}]]},"8 as 22 horas1":{"main":[[{"node":"Se horário é das 08 as ","type":"main","index":0}]]},"Se horário é das 08 as ":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Send template1","type":"main","index":0}]]},"FollowUpStatus =1":{"main":[[{"node":"If","type":"main","index":0}]]},"Se Agendado/Reagendado/Compareceu5":{"main":[[],[{"node":"FollowUpStatus =1","type":"main","index":0},{"node":"FollowUpStatus = 0","type":"main","index":0}]]},"Update a row6":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTTP Request19":{"main":[[{"node":"Update a row","type":"main","index":0}],[]]},"Edit Fields":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Pega Time Mensagem":{"main":[[{"node":"Diferença de Horas","type":"main","index":0}]]},"maior que 24 horas1":{"main":[[{"node":"8 as 22 horas","type":"main","index":0}]]},"Send template":{"main":[[{"node":"HTTP Request20","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request20":{"main":[[{"node":"Update a row6","type":"main","index":0}]]},"maior que 48 horas1":{"main":[[{"node":"8 as 22 horas1","type":"main","index":0}]]},"Send template1":{"main":[[{"node":"HTTP Request19","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Se Agendado/Reagendado/Compareceu5","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Filtra leads com menos de 48 hroas e Ordena","type":"main","index":0}]]},"Filtra leads com menos de 48 hroas e Ordena":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[8]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2026-03-20T12:20:27.004-03:00","Readable date":"March 20th 2026, 12:20:27 pm","Readable time":"12:20:27 pm","Day of week":"Friday","Year":"2026","Month":"March","Day of month":"20","Hour":"12","Minute":"20","Second":"27","Timezone":"America/Sao_Paulo (UTC-03:00)"},"pairedItem":{"item":0}}]},"versionId":"8b9e4651-17f0-4374-966b-2c2cc8b5c80a","activeVersionId":"8b9e4651-17f0-4374-966b-2c2cc8b5c80a","versionCounter":218,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-19T19:37:25.092Z","createdAt":"2026-03-19T19:37:25.092Z","role":"workflow:owner","workflowId":"MkNX4aFZQu6eR5CM","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}