workflows_extracted/MlEIWkRbc5zuGNOkw_b-o.json
{"updatedAt":"2026-04-30T20:32:46.701Z","createdAt":"2026-02-16T17:16:20.422Z","id":"MlEIWkRbc5zuGNOkw_b-o","name":"WF_Salvar_Lead","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Telefone"},{"name":"Nome"},{"name":"Email"},{"name":"CPF"},{"name":"Estilo"},{"name":"Navio"},{"name":"Orcamento"},{"name":"QtdPessoas"},{"name":"Status"},{"name":"contact_id"},{"name":"conversation_id"},{"name":"account_id"},{"name":"urlchatwoot"},{"name":"chatwoottoken"},{"name":"origem"},{"name":"etapa"},{"name":"resposta"},{"name":"Pontuacao"},{"name":"em_qual_etapa"},{"name":"tipo_fluxo"},{"name":"tabela_whatsapp"},{"name":"materiais_enviados","type":"boolean"}]}},"id":"4eb74764-413e-4d92-9b18-74e3fa372b76","name":"Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-944,608]},{"parameters":{"url":"={{ $('Workflow Trigger').item.json.urlchatwoot }}/api/v1/accounts/{{ $('Workflow Trigger').item.json.account_id }}/contacts/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Workflow Trigger').item.json.Telefone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Workflow Trigger').item.json.chatwoottoken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,608],"id":"2d0a443e-6f66-4299-8d20-2407a8eb7d21","name":"Busca contato chatwoot","retryOnFail":true,"maxTries":5},{"parameters":{"promptType":"define","text":"=Navio/Cruzeiro que o cliente quer: {{ $('Workflow Trigger').first().json.Navio || null }}\n\ntags:{{ $json.title }}\n\nNão use tags de navios que já aconteceram, estamos em 2026\nhoje: {{$now}}","hasOutputParser":true,"options":{"systemMessage":"=Você é um classificador de intenção para cruzeiros temáticos.\n\nSua tarefa é identificar qual atração o lead quer com base no texto recebido.\n\nRetorne SOMENTE um JSON válido no formato:\n{\"etiqueta\":\"<valor>\"}\n\nValores permitidos:\n- \"embaixador\"\n- \"vumbora_promar\"\n- \"cabare\"\n- \"rockboat\"\n- \"reveillon\"\n- \"chex\"\n- \"dominguinho\"\n- \"daniel\"\n- \"wesley_safadao\"\n- \"Não identificado\"\n\nImportante:\n- Tags históricas podem existir no sistema, como \"embaixador_10-12-2025\", mas elas nunca devem ser retornadas.\n- Se o texto mencionar \"Navio do Embaixador\", \"Embaixador em Alto Mar\", \"Gusttavo Lima\" ou \"Embaixador\", a saída correta é:\n{\"etiqueta\":\"embaixador\"}\n\nRegras:\n1. Retorne apenas o JSON.\n2. Não explique nada.\n3. Não use markdown.\n4. Em caso de dúvida ou empate, retorne:\n{\"etiqueta\":\"Não identificado\"}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[848,608],"id":"734b61c3-d433-423c-a277-7d962a0df03e","name":"AI Agent1"},{"parameters":{"method":"POST","url":"={{ $('Workflow Trigger').first().json.urlchatwoot }}/api/v1/accounts/{{ $('Workflow Trigger').first().json.account_id }}/conversations/{{ $('Busca conversa').first().json.payload[0].id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Workflow Trigger').first().json.chatwoottoken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"labels\": [\"{{ $json.labels }}\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1648,608],"id":"1458f331-ec80-4aaa-8c44-b1e1f41739b0","name":"Atribui tag","onError":"continueRegularOutput"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"labels","mode":"list","cachedResultName":"labels"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[400,608],"id":"f2df5b91-d3d2-4d2a-8e5a-b51504e3a471","name":"Puxa as tags","credentials":{"postgres":{"id":"uSdxNemJ9RfhxUg0","name":"Postgres - Chatwoot"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"title"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[624,608],"id":"0ddaf72d-33f2-4b2d-a6dc-f8ca0c1560d2","name":"Aggregate"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[864,832],"id":"e403f74b-48db-42a5-8213-0b02bb3f136f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"url":"={{ $('Workflow Trigger').first().json.urlchatwoot }}/api/v1/accounts/{{ $('Workflow Trigger').first().json.account_id }}/contacts/{{ $('Busca contato chatwoot').first().json.payload[0].id }}/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Workflow Trigger').first().json.chatwoottoken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,608],"id":"875fb1dc-6cf8-4063-a568-8943089deeca","name":"Busca conversa","retryOnFail":true,"maxTries":2},{"parameters":{"method":"PUT","url":"={{ $('Workflow Trigger').first().json.urlchatwoot }}/api/v1/accounts/{{ $('Workflow Trigger').first().json.account_id }}/contacts/{{ $('Busca contato chatwoot').first().json.payload[0].id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Workflow Trigger').first().json.chatwoottoken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"custom_attributes\": {\n    \"campanha\": \"{{ $('AI Agent1').first().json.output.etiqueta }}\",\n    \"temporada\": \"2026/2027\",\n    \"origem\": \"{{ $('Workflow Trigger').first().json.origem }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1872,608],"id":"5655eca1-4e65-40f0-a2e3-ad9f9226aa6a","name":"Atualiza Chatwoot","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"691635bac3aa230014102ff8\",\n    \"name\": \"{{ $('Atualiza Chatwoot').first().json.payload.name }}\",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5d5b72bd1e0013392272\",\n        \"value\": \"SDR IA\"\n      }\n    ]\n  },\n  \"contacts\": [\n    {\n      \"name\": \"{{ $('Atualiza Chatwoot').first().json.payload.name }}\",\n      \"phones\": [\n        {\n          \"phone\": \"{{ $('Atualiza Chatwoot').first().json.payload.phone_number }}\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2544,688],"id":"b9381b71-aabc-4496-aed2-20df4d21f394","name":"Criar a Negociação","onError":"continueRegularOutput"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $json.payload.phone_number }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2096,608],"id":"dc410a98-ed7e-4ea7-9f58-239a572aa8a3","name":"Pega id do contato","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5464acd3-615d-4cb6-9757-c1f144bb4709","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2320,608],"id":"320b4318-3a5a-41a5-ac35-a5a46c1e6ad5","name":"If"},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"etiqueta\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[992,832],"id":"18adc873-415f-44f7-93c3-f1c6915349f3","name":"Structured Output Parser"},{"parameters":{"jsCode":"const NODE_AI = 'AI Agent1';\nconst NODE_CONVERSA = 'Busca conversa';\n\n// pega etiqueta do classificador\nconst etiqueta = $(NODE_AI).first().json.output?.etiqueta;\n\n// pega json do webhook/chatwoot\nconst conversa = $(NODE_CONVERSA).first().json;\n\n// pega labels no caminho correto\nconst labelsAtuais = conversa.payload?.[0]?.labels || [];\n\n// trava fluxo se não identificou\nif (!etiqueta || etiqueta === 'Não identificado') {\n  throw new Error('Etiqueta não identificada. Fluxo interrompido.');\n}\n\n// limpa labels\nconst labelsLimpas = labelsAtuais\n  .filter(l => typeof l === 'string' && l.trim() !== '')\n  .map(l => l.trim());\n\n// junta sem duplicar\nconst labelsFinal = [...new Set([...labelsLimpas, etiqueta])];\n\nreturn [\n  {\n    json: {\n      etiqueta_escolhida: etiqueta,\n      labels_atuais: labelsLimpas,\n      labels_final: labelsFinal,\n      labels: labelsFinal\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,608],"id":"8cd5c118-9882-4671-b0d0-f7849d5bdf2d","name":"Code in JavaScript","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const t = $input.first().json;\n\nif (!t.Telefone) throw new Error('TELEFONE_OBRIGATORIO');\nif (!t.tabela_whatsapp) throw new Error('TABELA_WHATSAPP_OBRIGATORIA');\nconst p = t || {};\n// Aceita PascalCase (usado pelos agents) ou snake_case\nconst pick = (pa, sc) => p[pa] !== undefined ? p[pa] : p[sc];\n\nreturn [{ json: {\n  session_id: t.sessionId,\n  Telefone: t.Telefone,\n  tabela_whatsapp: t.tabela_whatsapp,\n  origem: t.origem || 'whatsapp',\n  Nome:               pick('Nome', 'nome')             ?? \"\",\n  Email:              pick('Email', 'email')           ?? null,\n  CPF:                pick('CPF', 'cpf')               ?? null,\n  Navio:              pick('Navio', 'navio')           ?? null,\n  Orcamento:          pick('Orcamento', 'orcamento')   ?? null,\n  QtdPessoas:         pick('QtdPessoas', 'qtd_pessoas')?? null,\n  Estilo:             pick('Estilo', 'estilo')         ?? null,\n  Status:             pick('Status', 'status')         ?? null,\n  Pontuacao:  Number(pick('Pontuacao', 'pontuacao')    ?? 0),\n  Etapa:              pick('Etapa', 'etapa')           ?? 'qualificacao',\n  em_qual_etapa:      pick('em_qual_etapa', 'em_qual_etapa') ?? null,\n  materiais_enviados: !!pick('materiais_enviados', 'materiais_enviados'),\n  valores_enviados:   !!pick('valores_enviados',   'valores_enviados')\n} }];"},"id":"2e088465-cb54-40c5-ae6d-3a7631fb9a09","name":"Validar_Campos","type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,608]},{"parameters":{"operation":"getAll","tableId":"={{ $('Workflow Trigger').item.json.tabela_whatsapp }}","limit":1,"filters":{"conditions":[{"keyName":"Telefone","condition":"eq","keyValue":"={{ $json.Telefone }}"}]}},"id":"c4a0f1b1-b9bf-4221-ba53-84b439788741","name":"Consultar_Lead_Existente","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-496,608],"alwaysOutputData":true,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bdd585a-b60a-4938-ba75-6f64e1b5f738","operator":{"type":"string","operation":"exists"},"leftValue":"={{ $json.Telefone || $json.telefone }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"0d00ecb7-3222-4205-b641-3946a6c54140","name":"IF_Lead_Existe","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-272,608]},{"parameters":{"operation":"update","tableId":"={{ $('Workflow Trigger').item.json.tabela_whatsapp }}","filters":{"conditions":[{"keyName":"Telefone","condition":"eq","keyValue":"={{ $('Workflow Trigger').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"Nome","fieldValue":"={{ $('Validar_Campos').item.json.Nome ?? $json['Nome'] ?? \"\" }}"},{"fieldId":"Email","fieldValue":"={{ $('Validar_Campos').item.json.Email ?? $json['Email'] ?? null }}"},{"fieldId":"CPF","fieldValue":"={{ $('Validar_Campos').item.json.CPF ?? $json['CPF'] ?? null }}"},{"fieldId":"Navio","fieldValue":"={{ $('Validar_Campos').item.json.Navio ?? $json['Navio'] ?? null }}"},{"fieldId":"Orcamento","fieldValue":"={{ $('Validar_Campos').item.json.Orcamento ?? $json['Orcamento'] ?? null }}"},{"fieldId":"estilo","fieldValue":"={{ $('Validar_Campos').item.json.Estilo ?? $json['estilo'] ?? null }}"},{"fieldId":"status","fieldValue":"={{ $('Validar_Campos').item.json.Status ?? $json['status'] ?? null }}"},{"fieldId":"Pontuacao","fieldValue":"=0"},{"fieldId":"etapa","fieldValue":"={{ $('Validar_Campos').item.json.Etapa ?? $json['etapa'] ?? null }}"},{"fieldId":"em_qual_etapa","fieldValue":"={{ $('Validar_Campos').item.json.em_qual_etapa ?? $json['em_qual_etapa'] ?? null }}"},{"fieldId":"materiais_enviados","fieldValue":"={{ !!$json.materiais_enviados || !!$('Validar_Campos').item.json.materiais_enviados }}"},{"fieldId":"UltimaMensagem","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"hora_mensagem","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"interagiu","fieldValue":"={{ true }}"}]}},"id":"56a4022f-b7e4-46be-a6b0-ad8a1565eb19","name":"Atualizar_Lead_Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-48,512],"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}},"onError":"continueRegularOutput"},{"parameters":{"tableId":"={{ $('Workflow Trigger').item.json.tabela_whatsapp }}","fieldsUi":{"fieldValues":[{"fieldId":"Telefone","fieldValue":"={{ $('Validar_Campos').item.json.Telefone }}"},{"fieldId":"Nome","fieldValue":"={{ $('Validar_Campos').item.json.Nome }}"},{"fieldId":"Email","fieldValue":"={{ $('Validar_Campos').item.json.Email }}"},{"fieldId":"CPF","fieldValue":"={{ $('Validar_Campos').item.json.CPF }}"},{"fieldId":"Navio","fieldValue":"={{ $('Validar_Campos').item.json.Navio }}"},{"fieldId":"Orcamento","fieldValue":"={{ $('Validar_Campos').item.json.Orcamento }}"},{"fieldId":"QtdPessoas","fieldValue":"={{ $('Validar_Campos').item.json.QtdPessoas }}"},{"fieldId":"estilo","fieldValue":"={{ $('Validar_Campos').item.json.Estilo }}"},{"fieldId":"status","fieldValue":"={{ $('Validar_Campos').item.json.Status }}"},{"fieldId":"Pontuacao","fieldValue":"={{ $('Validar_Campos').item.json.Pontuacao }}"},{"fieldId":"etapa","fieldValue":"={{ $('Validar_Campos').item.json.Etapa }}"},{"fieldId":"em_qual_etapa","fieldValue":"={{ $('Validar_Campos').item.json.em_qual_etapa }}"},{"fieldId":"materiais_enviados","fieldValue":"={{ $('Validar_Campos').item.json.materiais_enviados }}"},{"fieldId":"origem","fieldValue":"={{ $('Workflow Trigger').item.json.origem }}"},{"fieldId":"UltimaMensagem","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"hora_mensagem","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"interagiu","fieldValue":"={{ true }}"}]}},"id":"51ab3dd9-3e95-41b0-ae37-87a92ced9b95","name":"Criar_Lead_Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-48,704],"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"98519172-e726-4abf-85ca-cd14c2c5eb6f","name":"status","type":"string","value":"success"},{"id":"bb1ed075-63d0-4712-a0a0-87eca4475ffd","name":"Telefone","type":"string","value":"={{ $('Validar_Campos').first().json.Telefone }}"},{"id":"ec1e8130-7b74-44e7-87b1-6dffe747ffb1","name":"tabela_whatsapp","type":"string","value":"={{ $('Workflow Trigger').item.json.tabela_whatsapp }}"},{"id":"ea781f5e-cd62-4179-be8b-3c67deb77ab0","name":"etapa","type":"string","value":"={{ $('Validar_Campos').first().json.Etapa }}"},{"id":"ba83a21e-eb0d-4674-b5eb-d412b4b91e4f","name":"pontuacao","type":"number","value":"={{ $('Validar_Campos').first().json.Pontuacao }}"},{"id":"09d0c79b-ce0b-442a-bac4-fc0886cac816","name":"resposta","type":"string","value":"={{ $('Workflow Trigger').item.json.resposta }}"},{"id":"cb5830f7-27c3-4207-b7ae-943b3c0c15c6","name":"timestamp","type":"string","value":"={{ $now.toISO() }}"}]},"options":{}},"id":"80c407aa-fe02-450b-8fb4-23359123b35a","name":"Resposta_Final","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2992,608]},{"parameters":{"workflowId":{"__rl":true,"value":"O7PosMW9lvMnpcoq","mode":"list","cachedResultUrl":"/workflow/O7PosMW9lvMnpcoq","cachedResultName":"atualizar_lead"},"workflowInputs":{"mappingMode":"defineBelow","value":{"contactId":"={{ $('Workflow Trigger').first().json.contact_id }}","conversationId":"={{ $('Workflow Trigger').first().json.conversation_id }}","tabela_whatsapp":"={{ $('Workflow Trigger').first().json.tabela_whatsapp }}","tipo_fluxo":"={{ $('Workflow Trigger').first().json.tipo_fluxo }}","origem":"={{ $('Workflow Trigger').first().json.origem }}","Quantidade de Pessoas":"={{ $('Workflow Trigger').first().json.QtdPessoas || null }}","Orcamento":"0","Status":"={{ $('Workflow Trigger').first().json.Status }}","Navio":"={{ $('Workflow Trigger').first().json.Navio || null }}","Estilo":"={{ $('Workflow Trigger').first().json.Estilo || null }}","Email":"={{ $('Workflow Trigger').first().json.Email || null }}","Telefone":"={{ $('Workflow Trigger').first().json.Telefone  }}","Nome":"={{ $('Workflow Trigger').first().json.Nome || \"\" }}","CPF":"=0"},"matchingColumns":[],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Estilo","displayName":"Estilo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Navio","displayName":"Navio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Orcamento","displayName":"Orcamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Quantidade de Pessoas","displayName":"Quantidade de Pessoas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2768,608],"id":"cd30115c-1555-42a2-ac22-64511fcaee1a","name":"Call 'atualizar_lead'"}],"connections":{"Workflow Trigger":{"main":[[{"node":"Validar_Campos","type":"main","index":0}]]},"Busca contato chatwoot":{"main":[[{"node":"Puxa as tags","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Busca conversa","type":"main","index":0}]]},"Atribui tag":{"main":[[{"node":"Atualiza Chatwoot","type":"main","index":0}]]},"Puxa as tags":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Busca conversa":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Atualiza Chatwoot":{"main":[[{"node":"Pega id do contato","type":"main","index":0}]]},"Criar a Negociação":{"main":[[{"node":"Call 'atualizar_lead'","type":"main","index":0}]]},"Pega id do contato":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Criar a Negociação","type":"main","index":0}],[{"node":"Call 'atualizar_lead'","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Atribui tag","type":"main","index":0}]]},"Validar_Campos":{"main":[[{"node":"Consultar_Lead_Existente","type":"main","index":0}]]},"Consultar_Lead_Existente":{"main":[[{"node":"IF_Lead_Existe","type":"main","index":0}]]},"IF_Lead_Existe":{"main":[[{"node":"Atualizar_Lead_Supabase","type":"main","index":0}],[{"node":"Criar_Lead_Supabase","type":"main","index":0}]]},"Atualizar_Lead_Supabase":{"main":[[{"node":"Busca contato chatwoot","type":"main","index":0}]]},"Criar_Lead_Supabase":{"main":[[{"node":"Busca contato chatwoot","type":"main","index":0}]]},"Call 'atualizar_lead'":{"main":[[{"node":"Resposta_Final","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":180},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Workflow Trigger":[{"json":{"Telefone":"+1 555-0100","Email":"null","Navio":"Navio Ch&X","QtdPessoas":"null","Status":"BAIXA","contact_id":"68376","conversation_id":"33784","account_id":"1","urlchatwoot":"https://chatwoot.demo-events.com.br","chatwoottoken":"${CHATWOOT_TOKEN}","origem":"whatsapp","etapa":"qualificacao","resposta":"Olá! Tenho interesse e queria mais informações sobre o Navio CHX, por favor.","Pontuacao":"undefined","em_qual_etapa":"e1","tipo_fluxo":"producao","tabela_whatsapp":"sdr_whatsapp","materiais_enviados":false}}]},"versionId":"53588a66-00c5-41b1-a175-695ccccff569","activeVersionId":"53588a66-00c5-41b1-a175-695ccccff569","versionCounter":892,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-16T17:16:20.422Z","createdAt":"2026-02-16T17:16:20.422Z","role":"workflow:owner","workflowId":"MlEIWkRbc5zuGNOkw_b-o","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}