workflows_extracted/n3dSjuWorZ8DI34xv45Wp.json
{"updatedAt":"2026-02-05T19:42:37.536Z","createdAt":"2026-01-30T21:14:26.635Z","id":"n3dSjuWorZ8DI34xv45Wp","name":"Atualizar_lead","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"CPF"},{"name":"Telefone"},{"name":"Status"},{"name":"Orcamento"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-672,416],"id":"5df3b04c-1b47-4cc7-b547-3a5ec797cfa7","name":"When Executed by Another Workflow"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7d6cd64d-4d98-4ca2-bad0-250feaf8cb99","leftValue":"={{ $('Code in JavaScript').item.json.CPF }}","rightValue":"[empty]","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"=CPF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ad59a8cc-4c18-4a2b-9cec-654cdaa47839","leftValue":"={{ $('Code in JavaScript').item.json.Status }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Qualificação"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"244481bf-738a-4b5d-8f85-970f240fc61e","leftValue":"={{ $('Code in JavaScript').item.json.Orcamento }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Orçamento"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[224,400],"id":"18d9175f-6307-4799-8dad-65a37d35632b","name":"Switch"},{"parameters":{"url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/conversations/{{ $('Get a row1').item.json.Idconversachatwoot }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"ZpGtF9KYqKuwfPumTcfawxDs"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,32],"id":"b51af012-2434-40ab-aed9-16843187f9ad","name":"HTTP Request4"},{"parameters":{"method":"PUT","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/contacts/{{ $json.meta.sender.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"ZpGtF9KYqKuwfPumTcfawxDs"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"custom_attributes\": {\n    \"cpf\": \"{{ $('When Executed by Another Workflow').item.json.CPF }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[672,32],"id":"25ba1f77-2de6-4c70-a918-9219db0c0d4f","name":"HTTP Request5"},{"parameters":{"url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/conversations/{{ $('Get a row1').item.json.Idconversachatwoot }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"ZpGtF9KYqKuwfPumTcfawxDs"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,416],"id":"c8997de6-5bf2-4e28-b1df-4852616b28a6","name":"HTTP Request10"},{"parameters":{"method":"PUT","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/contacts/{{ $json.meta.sender.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"ZpGtF9KYqKuwfPumTcfawxDs"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"custom_attributes\": {\n    \"status\": \"{{ $('When Executed by Another Workflow').item.json.Status.toUpperCase() }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[672,416],"id":"3e826dec-f834-4686-ab45-fa389f2693c8","name":"HTTP Request11"},{"parameters":{"url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/conversations/{{ $('Get a row1').item.json.Idconversachatwoot }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"ZpGtF9KYqKuwfPumTcfawxDs"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,800],"id":"5c2991e2-5354-492e-86ea-62a08c73e80f","name":"HTTP Request12"},{"parameters":{"method":"PUT","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/contacts/{{ $json.meta.sender.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"ZpGtF9KYqKuwfPumTcfawxDs"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"custom_attributes\": {\n    \"orcamento\": \"{{ $('When Executed by Another Workflow').item.json.Orcamento }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[672,800],"id":"56369553-9dc6-40d1-b892-675a721d6e80","name":"HTTP Request13"},{"parameters":{"operation":"get","tableId":"SDR Formulário","filters":{"conditions":[{"keyName":"Telefone","keyValue":"={{ $json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-224,416],"id":"05150bc0-f765-49ea-9ca6-804ca78a68d4","name":"Get a row1","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"SDR Formulário","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"CPF","fieldValue":"={{ $('Code in JavaScript').item.json.CPF }}"},{"fieldId":"Status","fieldValue":"={{ $('Code in JavaScript').item.json.Status }}"},{"fieldId":"Orçamento","fieldValue":"={{ $('Code in JavaScript').item.json.Orcamento }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[0,416],"id":"71b16c3b-da72-4a7c-9ddd-1a1ab7ed48e0","name":"Update a row1","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('When Executed by Another Workflow').item.json.Status }}","rightValue":"MEDIA","operator":{"type":"string","operation":"equals"},"id":"1050d463-b1d9-4f7b-95ec-ea0f96c3bca3"}],"combinator":"and"},"renameOutput":true,"outputKey":"MEDIA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"eebe0324-c8c2-42ab-81db-a731be6413e0","leftValue":"={{ $('When Executed by Another Workflow').item.json.Status }}","rightValue":"ALTA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ALTA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6347b2a4-88e1-4dd2-8489-db45075919c1","leftValue":"={{ $('When Executed by Another Workflow').item.json.Status }}","rightValue":"BAIXA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"BAIXA"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[896,400],"id":"13e7d4e2-783f-4247-a77e-8df8cb15bdd3","name":"Switch1"},{"parameters":{"method":"POST","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/conversations/{{ $('Get a row1').item.json.Idconversachatwoot }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"=ZpGtF9KYqKuwfPumTcfawxDs"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"labels\": [\n    \"baixa_qualificacao\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1120,608],"id":"05324b9e-8d9a-4a88-a447-3d54bbcad2e4","name":"Atribui tag"},{"parameters":{"operation":"update","tableId":"SDR Formulário","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Get a row1').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"Pausado","fieldValue":"={{true}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1344,608],"id":"3ed05ed0-7548-4084-8062-efac2e4058c0","name":"Update a row","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/conversations/{{ $('Get a row1').item.json.Idconversachatwoot }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"=ZpGtF9KYqKuwfPumTcfawxDs"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"labels\": [\n    \"alta_qualificacao\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1120,416],"id":"0f8db83e-b394-4345-98ab-62e7124ef17f","name":"Atribui tag1"},{"parameters":{"method":"POST","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/conversations/{{ $('Get a row1').item.json.Idconversachatwoot }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"=ZpGtF9KYqKuwfPumTcfawxDs"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"labels\": [\n    \"media_qualificacao\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1120,224],"id":"e2381f48-723b-4ffa-8596-fe8c95fc82e7","name":"Atribui tag2"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Get a row1').item.json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,608],"id":"9105c05b-fa90-4d93-a8d4-dbc55a7612d4","name":"Pega id do contato4"},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"691e211cb7a0b10013abde14\",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5dfc3e4c8f0013f6459a\",\n        \"value\": \"{{ $('When Executed by Another Workflow').item.json.Status }}\"\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,608],"id":"e304e200-0230-4896-b7d1-c78e7c8285bf","name":"ATUALIZA NEGOCIAÇÃO CRM - BAIXA QUALIFICAÇÃO"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Get a row1').item.json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,416],"id":"f82e6790-2dfc-4627-b0ad-7bf2b04772e3","name":"Pega id do contato"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Get a row1').item.json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,224],"id":"da77a354-b9b3-4ef4-a73a-a1a6613bd7c4","name":"Pega id do contato5"},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"6977b66a80f476001c871bc0\",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5dfc3e4c8f0013f6459a\",\n        \"value\": \"{{ $('When Executed by Another Workflow').item.json.Status }}\"\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,416],"id":"cbfd7bc2-fa20-4867-9c6d-192ada1192c2","name":"ATUALIZA NEGOCIAÇÃO CRM - ALTA QUALIFICAÇÃO"},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"6977b66a80f476001c871bc0\",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5dfc3e4c8f0013f6459a\",\n        \"value\": \"{{ $('When Executed by Another Workflow').item.json.Status }}\"\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,224],"id":"f9fac581-b0c9-437e-91d2-424eeeccfbe9","name":"ATUALIZA NEGOCIAÇÃO CRM - MEDIA QUALIFICAÇÃO"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Get a row1').item.json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,800],"id":"753e3ecd-64c3-4634-a1c1-9db5c9c6e100","name":"Pega id do contato13","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"69834b5da3f7ec00166d6c0f\",\n        \"value\": \"{{ $('Update a row1').item.json.Orcamento }}\"\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,800],"id":"8b330413-5b0c-449b-8f74-6fa95218f579","name":"ATUALIZA NEGOCIAÇÃO - ORÇAMENTO","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"const items = $input.all();\n\nfunction isValid(value) {\n  if (value === null || value === undefined) return false;\n  if (typeof value === 'string') {\n    const v = value.trim();\n    if (v === '' || v === '??') return false;\n  }\n  return true;\n}\n\nreturn items.map(item => {\n  const data = item.json;\n  const cleaned = {};\n\n  for (const [key, value] of Object.entries(data)) {\n    if (isValid(value)) {\n      cleaned[key] = value;\n    }\n  }\n\n  return {\n    json: cleaned\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,416],"id":"df8c9677-c711-4802-a723-61a844d72eea","name":"Code in JavaScript"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Get a row1').item.json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[848,16],"id":"00d87a3a-4490-4499-80a5-94c9a60f4b93","name":"Pega id do contato9","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/contacts/{{ $json.contacts[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contact\": {\n    \"contact_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5cfc46baae00152d6d10\",\n        \"value\": \"{{ $('Code in JavaScript').item.json.CPF }}\"\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1024,16],"id":"10ed0fbd-3076-4884-aa53-e05b9f1d88bd","name":"ATUALIZA CPF","retryOnFail":true,"waitBetweenTries":5000}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request4","type":"main","index":0}],[{"node":"HTTP Request10","type":"main","index":0}],[{"node":"HTTP Request12","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"HTTP Request10":{"main":[[{"node":"HTTP Request11","type":"main","index":0}]]},"HTTP Request12":{"main":[[{"node":"HTTP Request13","type":"main","index":0}]]},"Get a row1":{"main":[[{"node":"Update a row1","type":"main","index":0}]]},"Update a row1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Atribui tag2","type":"main","index":0}],[{"node":"Atribui tag1","type":"main","index":0}],[{"node":"Atribui tag","type":"main","index":0}]]},"Atribui tag":{"main":[[{"node":"Update a row","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Pega id do contato4","type":"main","index":0}]]},"Atribui tag1":{"main":[[{"node":"Pega id do contato","type":"main","index":0}]]},"Atribui tag2":{"main":[[{"node":"Pega id do contato5","type":"main","index":0}]]},"Pega id do contato4":{"main":[[{"node":"ATUALIZA NEGOCIAÇÃO CRM - BAIXA QUALIFICAÇÃO","type":"main","index":0}]]},"Pega id do contato":{"main":[[{"node":"ATUALIZA NEGOCIAÇÃO CRM - ALTA QUALIFICAÇÃO","type":"main","index":0}]]},"Pega id do contato5":{"main":[[{"node":"ATUALIZA NEGOCIAÇÃO CRM - MEDIA QUALIFICAÇÃO","type":"main","index":0}]]},"HTTP Request11":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Pega id do contato13":{"main":[[{"node":"ATUALIZA NEGOCIAÇÃO - ORÇAMENTO","type":"main","index":0}]]},"HTTP Request13":{"main":[[{"node":"Pega id do contato13","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Pega id do contato9","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Get a row1","type":"main","index":0}]]},"Pega id do contato9":{"main":[[{"node":"ATUALIZA CPF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"Nome":null,"CPF":"","Telefone":"+1 555-0100","Email":null,"Estilo":null,"Navio":null,"Status":"MEDIA","Orcamento":"??","Quantidade de Pessoas":"2"},"pairedItem":{"item":0}}]},"versionId":"fbc3e5b5-117f-4c65-9e1d-108cdfa06fe7","activeVersionId":"fbc3e5b5-117f-4c65-9e1d-108cdfa06fe7","versionCounter":201,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-30T21:14:26.635Z","createdAt":"2026-01-30T21:14:26.635Z","role":"workflow:owner","workflowId":"n3dSjuWorZ8DI34xv45Wp","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}