workflows_extracted/Oai2Ma_13sGF9qelU1fD9.json
{"updatedAt":"2026-05-14T02:06:19.903Z","createdAt":"2026-03-05T17:22:22.242Z","id":"Oai2Ma_13sGF9qelU1fD9","name":"[Demo Events Co] [materiais marketing] - Whatsapp homologacao","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"cruzeiroInteressado"},{"name":"telefone"},{"name":"chatwooturl"},{"name":"chatwoottoken"},{"name":"accountid"},{"name":"conversasionid"},{"name":"resposta"},{"name":"origem"},{"name":"navio_focal"}]}},"id":"8f3cdb5b-364b-45a0-abb2-74e2c577ad18","typeVersion":1.1,"name":"start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[1440,4560]},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3408,4592],"id":"2593fdb5-4fcd-4dec-9243-d1d5bcebb6ba","name":"Wait","webhookId":"0b70c17c-5979-4f87-822f-e07f7507d6e4"},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').first().json.telefone }}","messageType":"image","mediaPath":"useMediaLink","additionalFields":{},"mediaLink":"={{ $json.asset_url }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[3184,4368],"id":"49f66f92-af55-4b9c-b018-933fe4818e64","name":"Send message4","webhookId":"34770275-fd1f-4330-8261-7210ba5a6930","credentials":{"whatsAppApi":{"id":"7p03rSaYxzUJ6l9f","name":"WhatsApp Formulario"}}},{"parameters":{"assignments":{"assignments":[{"id":"56e66223-77ef-4453-8397-3c70c1c53560","name":"resposta","value":"Foi enviado ao usuario o video e o banner. Siga com os próximos passos.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4960,4560],"id":"2f4f7e30-8447-4c0e-83f2-7c0e51e85698","name":"Resposta"},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').first().json.telefone }}","messageType":"image","mediaPath":"useMediaLink","additionalFields":{},"mediaLink":"={{ $json.asset_url }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[3184,4560],"id":"1d0cd3b6-0b1c-4d17-81bf-7e7261179c1a","name":"Send message12","webhookId":"34770275-fd1f-4330-8261-7210ba5a6930","credentials":{"whatsAppApi":{"id":"tKuBajzyPd344LxI","name":"Whatsapp Account - Whastapp ADS"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('start').first().json.origem }}","rightValue":"formulario","operator":{"type":"string","operation":"equals"},"id":"f35edcdb-f1f4-4163-9a7d-355669ffc08f"}],"combinator":"and"},"renameOutput":true,"outputKey":"Formulario"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bbef08c0-2e3f-493b-a966-68fcb886c66f","leftValue":"={{ $('start').first().json.origem }}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Whatsapp"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"67d36fc1-3c1f-4393-908a-48e1f65784ca","leftValue":"={{ $('start').first().json.origem }}","rightValue":"bdr","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"BDR"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[2288,4544],"id":"4e026c45-64e2-4cf4-a919-f51624a5a267","name":"Switch1"},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').first().json.telefone }}","messageType":"image","mediaPath":"useMediaLink","additionalFields":{},"mediaLink":"={{ $json.asset_url }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[3184,4752],"id":"ddc2c551-c896-4d44-869e-20fc4fea7752","name":"Send message28","webhookId":"34770275-fd1f-4330-8261-7210ba5a6930","credentials":{"whatsAppApi":{"id":"To1THhGiIOHC6BDc","name":"BDR"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('start').first().json.origem }}","rightValue":"formulario","operator":{"type":"string","operation":"equals"},"id":"f35edcdb-f1f4-4163-9a7d-355669ffc08f"}],"combinator":"and"},"renameOutput":true,"outputKey":"Formulario"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bbef08c0-2e3f-493b-a966-68fcb886c66f","leftValue":"={{ $('start').first().json.origem }}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Whatsapp"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"67d36fc1-3c1f-4393-908a-48e1f65784ca","leftValue":"={{ $('start').first().json.origem }}","rightValue":"bdr","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"BDR"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[3840,4544],"id":"2d7b0cc2-62b7-4037-80ad-41f8a7886a7c","name":"Switch2"},{"parameters":{"operation":"executeQuery","query":"SELECT id, categoria, variante, label, asset_url, whatsapp_id, created_at\n\tFROM public.cabin_media\nwhere categoria = 'material_marketing_formulario'\n  and variante = 'banner'\n  and tag_chatwoot = $1;","options":{"queryReplacement":"={{ $('MapearTagChatwoot').first().json.tag }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2960,4368],"id":"8833d495-1ffb-4932-a17a-dba9d3b9373f","name":"Execute a SQL query","credentials":{"postgres":{"id":"7l1NQXAZ96h0iB2h","name":"Postgres DomainAssistant KB"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, categoria, variante, label, asset_url, whatsapp_id, created_at\n\tFROM public.cabin_media\nwhere categoria = 'material_marketing_whatsapp'\n  and variante = 'banner'\n  and tag_chatwoot = $1;","options":{"queryReplacement":"={{ $('MapearTagChatwoot').first().json.tag }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2960,4560],"id":"99e9aa78-48e8-4a0d-9213-c68402abc997","name":"Execute a SQL query4","credentials":{"postgres":{"id":"7l1NQXAZ96h0iB2h","name":"Postgres DomainAssistant KB"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, categoria, variante, label, asset_url, whatsapp_id, created_at\n\tFROM public.cabin_media\nwhere categoria = 'material_marketing_bdr'\n  and variante = 'banner'\n  and tag_chatwoot = $1;","options":{"queryReplacement":"={{ $('MapearTagChatwoot').first().json.tag }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2960,4752],"id":"1a407731-a2fc-4623-8e6a-3dcf2d63a434","name":"Execute a SQL query5","credentials":{"postgres":{"id":"7l1NQXAZ96h0iB2h","name":"Postgres DomainAssistant KB"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, categoria, variante, label, asset_url, whatsapp_id, created_at\n\tFROM public.cabin_media\nwhere categoria = 'material_marketing_formulario'\n  and variante = 'banner'\n  and tag_chatwoot = $1;","options":{"queryReplacement":"={{ $('MapearTagChatwoot').first().json.tag }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2512,4368],"id":"72afb225-970e-465b-8edd-5eb1ebcccc4e","name":"Execute a SQL query6","credentials":{"postgres":{"id":"7l1NQXAZ96h0iB2h","name":"Postgres DomainAssistant KB"}}},{"parameters":{"method":"POST","url":"={{ $('start').first().json.chatwooturl }}/api/v1/accounts/{{ $('start').first().json.accountid }}/conversations/{{ $('start').first().json.conversasionid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').first().json.chatwoottoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ String(\"Enviado Imagem\" + \" \" +  $json.id).toUpperCase()  }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2736,4368],"id":"6e73e192-abe7-4b00-b3a1-02fd4336a899","name":"HTTP Request36"},{"parameters":{"operation":"executeQuery","query":"SELECT id, categoria, variante, label, asset_url, whatsapp_id, created_at\n\tFROM public.cabin_media\nwhere categoria = 'material_marketing_whatsapp'\n  and variante = 'banner'\n  and tag_chatwoot = $1;","options":{"queryReplacement":"={{ $('MapearTagChatwoot').first().json.tag }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2512,4560],"id":"f4045db5-ce15-4258-87b6-fb8034f7dda7","name":"Execute a SQL query12","credentials":{"postgres":{"id":"7l1NQXAZ96h0iB2h","name":"Postgres DomainAssistant KB"}}},{"parameters":{"method":"POST","url":"={{ $('start').first().json.chatwooturl }}/api/v1/accounts/{{ $('start').first().json.accountid }}/conversations/{{ $('start').first().json.conversasionid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').first().json.chatwoottoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ String(\"Enviado Imagem\" + \" \" +  $json.id).toUpperCase()  }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2736,4560],"id":"5dc73188-ac07-46a9-b526-0b02560048c3","name":"HTTP Request37"},{"parameters":{"operation":"executeQuery","query":"SELECT id, categoria, variante, label, asset_url, whatsapp_id, created_at\n\tFROM public.cabin_media\nwhere categoria = 'material_marketing_bdr'\n  and variante = 'banner'\n  and tag_chatwoot = $1;","options":{"queryReplacement":"={{ $('MapearTagChatwoot').first().json.tag }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2512,4752],"id":"87a0b21a-9324-4275-8a92-197d0ebf406b","name":"Execute a SQL query13","credentials":{"postgres":{"id":"7l1NQXAZ96h0iB2h","name":"Postgres DomainAssistant KB"}}},{"parameters":{"method":"POST","url":"={{ $('start').first().json.chatwooturl }}/api/v1/accounts/{{ $('start').first().json.accountid }}/conversations/{{ $('start').first().json.conversasionid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').first().json.chatwoottoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ String(\"Enviado Imagem\" + \" \" +  $json.id).toUpperCase()  }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2736,4752],"id":"bf7b7b7b-b204-4802-85a3-1d2799dea3dd","name":"HTTP Request38"},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').first().json.telefone }}","messageType":"video","mediaPath":"useMediaLink","additionalFields":{},"mediaLink":"={{ $json.asset_url }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[4736,4368],"id":"fbf8e820-0ef6-4d90-b31d-7c6e19db7cb8","name":"Send message7","webhookId":"34770275-fd1f-4330-8261-7210ba5a6930","credentials":{"whatsAppApi":{"id":"7p03rSaYxzUJ6l9f","name":"WhatsApp Formulario"}}},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').first().json.telefone }}","messageType":"video","mediaPath":"useMediaLink","additionalFields":{},"mediaLink":"={{ $json.asset_url }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[4736,4560],"id":"bc0763f1-4196-445c-982e-a84f38d230cf","name":"Send message18","webhookId":"34770275-fd1f-4330-8261-7210ba5a6930","credentials":{"whatsAppApi":{"id":"tKuBajzyPd344LxI","name":"Whatsapp Account - Whastapp ADS"}}},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').first().json.telefone }}","messageType":"video","mediaPath":"useMediaLink","additionalFields":{},"mediaLink":"={{ $json.asset_url }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[4736,4752],"id":"aff242a7-b06e-4294-8bae-c55f77e3a80d","name":"Send message29","webhookId":"34770275-fd1f-4330-8261-7210ba5a6930","credentials":{"whatsAppApi":{"id":"To1THhGiIOHC6BDc","name":"BDR"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, categoria, variante, label, asset_url, whatsapp_id, created_at\n\tFROM public.cabin_media\nwhere categoria = 'material_marketing_formulario'\n  and variante = 'video'\n  and tag_chatwoot = $1;","options":{"queryReplacement":"={{ $('MapearTagChatwoot').first().json.tag }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4512,4368],"id":"030ab855-c675-41d1-a228-cbd2e6b4be2c","name":"Execute a SQL query1","credentials":{"postgres":{"id":"7l1NQXAZ96h0iB2h","name":"Postgres DomainAssistant KB"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, categoria, variante, label, asset_url, whatsapp_id, created_at\n\tFROM public.cabin_media\nwhere categoria = 'material_marketing_whatsapp'\n  and variante = 'video'\n  and tag_chatwoot = $1;","options":{"queryReplacement":"={{ $('MapearTagChatwoot').first().json.tag }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4512,4560],"id":"a017c156-c8b8-4f20-a4a3-9cc3a6388f65","name":"Execute a SQL query16","credentials":{"postgres":{"id":"7l1NQXAZ96h0iB2h","name":"Postgres DomainAssistant KB"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, categoria, variante, label, asset_url, whatsapp_id, created_at\n\tFROM public.cabin_media\nwhere categoria = 'material_marketing_bdr'\n  and variante = 'video'\n  and tag_chatwoot = $1;","options":{"queryReplacement":"={{ $('MapearTagChatwoot').first().json.tag }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4512,4752],"id":"eb925954-9b38-4a00-8ba1-1c8b0265df4e","name":"Execute a SQL query17","credentials":{"postgres":{"id":"7l1NQXAZ96h0iB2h","name":"Postgres DomainAssistant KB"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, categoria, variante, label, asset_url, whatsapp_id, created_at\n\tFROM public.cabin_media\nwhere categoria = 'material_marketing_formulario'\n  and variante = 'video'\n  and tag_chatwoot = $1;","options":{"queryReplacement":"={{ $('MapearTagChatwoot').first().json.tag }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4064,4368],"id":"d29a0623-7eaf-437c-8520-cbdae034e3de","name":"Execute a SQL query18","credentials":{"postgres":{"id":"7l1NQXAZ96h0iB2h","name":"Postgres DomainAssistant KB"}}},{"parameters":{"method":"POST","url":"={{ $('start').first().json.chatwooturl }}/api/v1/accounts/{{ $('start').first().json.accountid }}/conversations/{{ $('start').first().json.conversasionid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').first().json.chatwoottoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ String(\"Enviado Video\" + \" \" +  $json.id).toUpperCase()  }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[4288,4368],"id":"b58e1745-032f-4626-977d-2e991288b30a","name":"HTTP Request41"},{"parameters":{"operation":"executeQuery","query":"SELECT id, categoria, variante, label, asset_url, whatsapp_id, created_at\n\tFROM public.cabin_media\nwhere categoria = 'material_marketing_whatsapp'\n  and variante = 'video'\n  and tag_chatwoot = $1;","options":{"queryReplacement":"={{ $('MapearTagChatwoot').first().json.tag }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4064,4560],"id":"f0bfde76-a459-461c-ac5b-e636c7b1d387","name":"Execute a SQL query19","credentials":{"postgres":{"id":"7l1NQXAZ96h0iB2h","name":"Postgres DomainAssistant KB"}}},{"parameters":{"method":"POST","url":"={{ $('start').first().json.chatwooturl }}/api/v1/accounts/{{ $('start').first().json.accountid }}/conversations/{{ $('start').first().json.conversasionid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').first().json.chatwoottoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ String(\"Enviado Video\" + \" \" +  $json.id).toUpperCase()  }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[4288,4560],"id":"c703e972-de13-4906-8fe7-959b6ce79750","name":"HTTP Request42"},{"parameters":{"operation":"executeQuery","query":"SELECT id, categoria, variante, label, asset_url, whatsapp_id, created_at\n\tFROM public.cabin_media\nwhere categoria = 'material_marketing_bdr'\n  and variante = 'video'\n  and tag_chatwoot = $1;","options":{"queryReplacement":"={{ $('MapearTagChatwoot').first().json.tag }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4064,4752],"id":"a1c7e250-cce1-4437-bfa7-7502505b27ac","name":"Execute a SQL query20","credentials":{"postgres":{"id":"7l1NQXAZ96h0iB2h","name":"Postgres DomainAssistant KB"}}},{"parameters":{"method":"POST","url":"={{ $('start').first().json.chatwooturl }}/api/v1/accounts/{{ $('start').first().json.accountid }}/conversations/{{ $('start').first().json.conversasionid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').first().json.chatwoottoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ String(\"Enviado Video\" + \" \" +  $json.id).toUpperCase()  }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[4288,4752],"id":"d9cdb007-3a0d-4260-a4da-2e756c459cad","name":"HTTP Request43"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0553b923-0a75-4380-97df-4310929d2a23","leftValue":"={{ $json.materiais_enviados }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1712,4560],"id":"37737690-1ae6-4910-a687-6fe86c859f91","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f3b1fafa-afd7-498a-ac0c-114ff5dfdc7c","leftValue":"={{ $('MapearTagChatwoot').first().json.tag }}","rightValue":"wesley_safadao","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3616,4720],"id":"2ba585d1-c731-4ac0-a017-d7e3520f257e","name":"If1"},{"parameters":{"jsCode":"// D7 — Lookup determinístico navio_focal → tag_chatwoot.\n// Substitui AI Agent fuzzy classifier (deletado). Mapping inline,\n// fail-fast se navio_focal não conhecido.\nconst FOCAL_TO_TAG = {\n  'roberto_carlos_2026':           'roberto_carlos',\n  'chitaozinho_xororo_2026':       'chex',\n  'vumbora_pro_mar_2026':          'vumbora_promar',\n  'cabare_2026':                   'cabare',\n  'reveillon_alto_mar':            'reveillon',\n  'embaixador_gusttavo_lima':      'embaixador',\n  '89_rock_boat':                  'rockboat',\n  'dominguinho_alto_mar':          'dominguinho',\n  'wesley_safadao_ws_on_board':    'wesley_safadao',\n  'daniel_o_amor_que_nao_tem_fim': 'daniel',\n};\n\nconst focal = $('start').first().json.navio_focal;\nif (!focal) {\n  throw new Error(`MAPEAR_TAG_CHATWOOT: navio_focal ausente — abortando envio de materiais. cruzeiroInteressado=${JSON.stringify($('start').first().json.cruzeiroInteressado)}`);\n}\nconst tag = FOCAL_TO_TAG[focal];\nif (!tag) {\n  throw new Error(`MAPEAR_TAG_CHATWOOT: navio_focal '${focal}' não mapeado para tag Chatwoot — atualize FOCAL_TO_TAG ou cabin_media.tag_chatwoot`);\n}\nreturn [{ json: { tag, navio_focal: focal, cruzeiroInteressado: $('start').first().json.cruzeiroInteressado } }];\n"},"id":"d7-mapeartagchatwoot-aaaa-bbbb-cccc-dddddddddddd","name":"MapearTagChatwoot","type":"n8n-nodes-base.code","typeVersion":2,"position":[1936,4560]}],"connections":{"start":{"main":[[{"node":"If","type":"main","index":0}]]},"Wait":{"main":[[{"node":"If1","type":"main","index":0}]]},"Send message4":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Send message12":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Execute a SQL query6","type":"main","index":0}],[{"node":"Execute a SQL query12","type":"main","index":0}],[{"node":"Execute a SQL query13","type":"main","index":0}]]},"Send message28":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Execute a SQL query18","type":"main","index":0}],[{"node":"Execute a SQL query19","type":"main","index":0}],[{"node":"Execute a SQL query20","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Send message4","type":"main","index":0}]]},"Execute a SQL query4":{"main":[[{"node":"Send message12","type":"main","index":0}]]},"Execute a SQL query5":{"main":[[{"node":"Send message28","type":"main","index":0}]]},"Execute a SQL query6":{"main":[[{"node":"HTTP Request36","type":"main","index":0}]]},"HTTP Request36":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query12":{"main":[[{"node":"HTTP Request37","type":"main","index":0}]]},"HTTP Request37":{"main":[[{"node":"Execute a SQL query4","type":"main","index":0}]]},"Execute a SQL query13":{"main":[[{"node":"HTTP Request38","type":"main","index":0}]]},"HTTP Request38":{"main":[[{"node":"Execute a SQL query5","type":"main","index":0}]]},"Send message7":{"main":[[{"node":"Resposta","type":"main","index":0}]]},"Send message18":{"main":[[{"node":"Resposta","type":"main","index":0}]]},"Send message29":{"main":[[{"node":"Resposta","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"Send message7","type":"main","index":0}]]},"Execute a SQL query16":{"main":[[{"node":"Send message18","type":"main","index":0}]]},"Execute a SQL query17":{"main":[[{"node":"Send message29","type":"main","index":0}]]},"Execute a SQL query18":{"main":[[{"node":"HTTP Request41","type":"main","index":0}]]},"HTTP Request41":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"Execute a SQL query19":{"main":[[{"node":"HTTP Request42","type":"main","index":0}]]},"HTTP Request42":{"main":[[{"node":"Execute a SQL query16","type":"main","index":0}]]},"Execute a SQL query20":{"main":[[{"node":"HTTP Request43","type":"main","index":0}]]},"HTTP Request43":{"main":[[{"node":"Execute a SQL query17","type":"main","index":0}]]},"If":{"main":[[{"node":"Resposta","type":"main","index":0}],[{"node":"MapearTagChatwoot","type":"main","index":0}]]},"If1":{"main":[[{"node":"Resposta","type":"main","index":0}],[{"node":"Switch2","type":"main","index":0}]]},"MapearTagChatwoot":{"main":[[{"node":"Switch1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"start":[{"json":{"cruzeiroInteressado":"Navio Roberto Carlos 2026","telefone":"+1 555-0100","chatwooturl":"https://chatwoot.demo-events.com.br","chatwoottoken":"${CHATWOOT_TOKEN}","accountid":"1","conversasionid":"44891","resposta":"Ótima escolha, Paulo! O Yacht Club é a categoria mais exclusiva do navio, com área privativa, mordomo 24h, restaurante e piscina exclusivos. Pra avançar, enquanto você dá uma olhada no material que vou te enviar, me conta: quer saber mais detalhes de como funciona essa experiência ou tem outro ponto do cruzeiro que é prioridade pra vocês agora?","origem":"whatsapp"},"pairedItem":{"item":0}}]},"versionId":"d7d9105b-9696-40e7-aa06-7b9fed2be82a","activeVersionId":"d7d9105b-9696-40e7-aa06-7b9fed2be82a","versionCounter":321,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-05T17:22:22.242Z","createdAt":"2026-03-05T17:22:22.242Z","role":"workflow:owner","workflowId":"Oai2Ma_13sGF9qelU1fD9","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}