workflows_extracted/oP2bXw2i9nB4Wchimogui.json
{"updatedAt":"2026-02-16T19:35:53.061Z","createdAt":"2026-02-16T02:43:27.914Z","id":"oP2bXw2i9nB4Wchimogui","name":"WF_Salvar_Lead","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"34c141a2-5c3c-4ccc-b036-272e3c8d206d","name":"Workflow Trigger","type":"n8n-nodes-base.workflowTrigger","typeVersion":1,"position":[-912,1552]},{"parameters":{"operation":"get","tableId":"sdr_whatsapp","filters":{"conditions":[{"keyName":"Telefone","keyValue":"={{ $json.chatid }}"}]}},"id":"9a4a8590-2b4c-4b16-a5c3-4739ab987e34","name":"Check Lead Exists","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-704,1552],"credentials":{"supabaseApi":{"id":"wA6nfQ3y2reEgxQp","name":"Supabase Demo Events Co"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"218681cd-25df-4702-9e2e-3d156fa5f85d","leftValue":"={{ Array.isArray($json) && $json.length > 0 }}","rightValue":true,"operator":{"type":"boolean","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"3cbc1af8-957d-4ddd-8792-2f8e988b33dd","name":"Lead Exists?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-480,1552]},{"parameters":{"operation":"update","tableId":"sdr_whatsapp","fieldsUi":{"fieldValues":[{"fieldId":"Nome","fieldValue":"={{ $json.nome || $('Check Lead Exists').item.json[0].Nome }}"},{"fieldId":"Email","fieldValue":"={{ $json.email || $('Check Lead Exists').item.json[0].Email || '' }}"},{"fieldId":"CPF","fieldValue":"={{ $json.cpf || $('Check Lead Exists').item.json[0].CPF || '' }}"},{"fieldId":"Pontuacao","fieldValue":"={{ $json.pontuacao || $('Check Lead Exists').item.json[0].Pontuacao || 0 }}"},{"fieldId":"status","fieldValue":"={{ $json.status || $('Check Lead Exists').item.json[0].status || 'nova' }}"},{"fieldId":"Navio","fieldValue":"={{ $json.navio || $('Check Lead Exists').item.json[0].Navio || '' }}"},{"fieldId":"QtdPessoas","fieldValue":"={{ $json.qtd_pessoas || $('Check Lead Exists').item.json[0].QtdPessoas || '1' }}"},{"fieldId":"Orcamento","fieldValue":"={{ $json.orcamento || $('Check Lead Exists').item.json[0].Orcamento || '' }}"},{"fieldId":"UltimaMensagem","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"hora_mensagem","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"mensagem_lead","fieldValue":false}]}},"id":"6475e793-66b7-4b75-945a-ab6f36146d48","name":"Update Lead","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-256,1440],"credentials":{"supabaseApi":{"id":"wA6nfQ3y2reEgxQp","name":"Supabase Demo Events Co"}}},{"parameters":{"tableId":"sdr_whatsapp","fieldsUi":{"fieldValues":[{"fieldId":"Nome","fieldValue":"={{ $json.nome || 'Lead Novo' }}"},{"fieldId":"Telefone","fieldValue":"={{ $json.chatid }}"},{"fieldId":"Email","fieldValue":"={{ $json.email || '' }}"},{"fieldId":"CPF","fieldValue":"={{ $json.cpf || '' }}"},{"fieldId":"Pontuacao","fieldValue":"={{ $json.pontuacao || 0 }}"},{"fieldId":"status","fieldValue":"={{ $json.status || 'nova' }}"},{"fieldId":"Navio","fieldValue":"={{ $json.navio || '' }}"},{"fieldId":"QtdPessoas","fieldValue":"={{ $json.qtd_pessoas || '1' }}"},{"fieldId":"estilo","fieldValue":"={{ $json.estilo || '' }}"},{"fieldId":"Orcamento","fieldValue":"={{ $json.orcamento || '' }}"},{"fieldId":"DataEntrada","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"UltimaMensagem","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"hora_mensagem","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"origem","fieldValue":"whatsapp"},{"fieldId":"mensagem_lead","fieldValue":true},{"fieldId":"pausado","fieldValue":false},{"fieldId":"id_contato_chatwoot","fieldValue":"={{ $json.contact_id || '' }}"},{"fieldId":"id_conversa_chatwoot","fieldValue":"={{ $json.conversation_id || '' }}"}]}},"id":"dd4f6c8c-4a4c-447f-ae3c-b0cb9a28c285","name":"Create Lead","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-256,1648],"credentials":{"supabaseApi":{"id":"wA6nfQ3y2reEgxQp","name":"Supabase Demo Events Co"}}},{"parameters":{"assignments":{"assignments":[{"id":"c5ede0a9-9667-4a4e-8580-2eb5c3bb5f22","name":"operation_status","value":"success","type":"string"},{"id":"8ce7a270-ae08-431b-9856-4a71672ca304","name":"lead_id","value":"={{ $json.id }}","type":"number"},{"id":"9ce7a270-ae08-431b-9856-4a71672ca305","name":"action","value":"={{ $('Check Lead Exists').item.json.length > 0 ? 'updated' : 'created' }}","type":"string"},{"id":"ace7a270-ae08-431b-9856-4a71672ca306","name":"telefone","value":"={{ $('Workflow Trigger').item.json.chatid }}","type":"string"},{"id":"bce7a270-ae08-431b-9856-4a71672ca307","name":"timestamp","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"id":"86f88988-846b-4e1d-b341-29733b2f881f","name":"Format Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,1552]}],"connections":{"Workflow Trigger":{"main":[[{"node":"Check Lead Exists","type":"main","index":0}]]},"Check Lead Exists":{"main":[[{"node":"Lead Exists?","type":"main","index":0}]]},"Lead Exists?":{"main":[[{"node":"Update Lead","type":"main","index":0}],[{"node":"Create Lead","type":"main","index":0}]]},"Update Lead":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Create Lead":{"main":[[{"node":"Format Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5350a280-69c9-45b4-88a4-93cf9555874f","activeVersionId":null,"versionCounter":69,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-16T02:43:27.914Z","createdAt":"2026-02-16T02:43:27.914Z","role":"workflow:owner","workflowId":"oP2bXw2i9nB4Wchimogui","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}