workflows_extracted/oP3g8ufNWFaLPSPX.json
{"updatedAt":"2026-02-27T18:52:18.531Z","createdAt":"2026-02-27T15:36:48.333Z","id":"oP3g8ufNWFaLPSPX","name":"WF_Qualificacao Form","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"chatid"},{"name":"mensagem"},{"name":"urlchatwoot"},{"name":"account_id"},{"name":"conversation_id"},{"name":"chatwoottoken"},{"name":"contact_id"}]}},"id":"756cd951-298e-466c-8a44-7590df970400","name":"Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1744,-48],"alwaysOutputData":false},{"parameters":{"operation":"get","tableId":"sdr_whatsapp","filters":{"conditions":[{"keyName":"Telefone","keyValue":"={{ $('Workflow Trigger').item.json.chatid }}"}]}},"id":"31ccc478-fb3d-4cb6-9160-f597d39d1c8b","name":"Get Lead State","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1296,-48],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"wA6nfQ3y2reEgxQp","name":"Supabase Demo Events Co"}}},{"parameters":{"jsCode":"\nconst trigger = $('Workflow Trigger').first().json;\nconst leadDb  = $input.first().json || {};\n\nconst leadData = {\n  Nome       : leadDb.Nome       || leadDb.nome       || null,\n  Email      : leadDb.Email      || leadDb.email      || null,\n  CPF        : leadDb.CPF        || leadDb.cpf        || null,\n  Telefone   : leadDb.Telefone   || trigger.chatid,\n  QtdPessoas : leadDb.QtdPessoas || leadDb.qtd_pessoas || null,\n  Navio      : leadDb.Navio      || leadDb.navio       || null,\n  Estilo     : leadDb.Estilo     || leadDb.estilo      || null,\n  Orcamento  : leadDb.Orcamento  || leadDb.orcamento   || null,\n  Status     : leadDb.Status     || leadDb.status       || 'BAIXA',\n  Pontuacao  : parseInt(leadDb.Pontuacao || leadDb.pontuacao || 0),\n  Etapa      : leadDb.Etapa      || leadDb.etapa       || 'qualificacao',\n  ja_fez_cruzeiro   : leadDb.ja_fez_cruzeiro   !== undefined ? leadDb.ja_fez_cruzeiro   : null,\n  valores_enviados  : leadDb.valores_enviados   || false,\n  tentativas_valor  : parseInt(leadDb.tentativas_valor || 0),\n  em_qual_etapa     : leadDb.em_qual_etapa || 'e1',\n  Status: leadDb.Status || leadDb.status || 'BAIXA'\n};\n\nconst context = {\n  chatid          : trigger.chatid,\n  mensagem        : trigger.mensagem,\n  urlchatwoot     : trigger.urlchatwoot,\n  account_id      : trigger.account_id,\n  conversation_id : trigger.conversation_id,\n  chatwoottoken   : trigger.chatwoottoken,\n  contact_id      : trigger.contact_id,\n  lead_data       : leadData\n};\n\nreturn [{ json: { context, leadData, trigger } }];"},"id":"ccbbc104-1b1d-4422-b885-1427fdcf53cc","name":"Prepare Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1072,-48]},{"parameters":{"jsCode":"const trigger      = $('Workflow Trigger').first().json;\nconst promptResult = $('Call WF_MontarPrompt').first().json;\nconst kbResult     = $input.first().json;\n\nconst kbContext = kbResult.textoFormatado || '';\nconst systemMessage = promptResult.systemMessage\n  + (kbContext\n      ? '\\n\\n# CONTEXTO DA BASE DE CONHECIMENTO (use estas informações para responder)\\n' + kbContext\n      : '');\n\nreturn [{ json: {\n  systemMessage,\n  userMessage : trigger.mensagem,\n  etapa       : promptResult.etapa,\n  Telefone      : trigger.chatid,\n  chatid      : trigger.chatid,\n  urlchatwoot : trigger.urlchatwoot,\n  account_id  : trigger.account_id,\n  conversation_id : trigger.conversation_id,\n  chatwoottoken   : trigger.chatwoottoken,\n  contact_id      : trigger.contact_id\n} }];"},"id":"c21f929d-da77-491e-a05f-f6d305f4fb21","name":"Combine Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,-48],"disabled":true},{"parameters":{"promptType":"define","text":"={{ $('Workflow Trigger').item.json.mensagem }}","options":{"systemMessage":"={{ $('Call WF_MontarPrompt').item.json.systemMessage }}"}},"id":"2f4002f9-ca5a-41d7-b43a-e12f68de9686","name":"AI Agent Qualificacao","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[48,-48],"executeOnce":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Workflow Trigger').item.json.chatid }}_homologacao","tableName":"promo","contextWindowLength":100},"id":"d462c6d5-a176-4864-b67a-1cac76c5a1a3","name":"Memory Postgres","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[192,176],"credentials":{"postgres":{"id":"TTrqj0rnakiukRd7","name":"Postgres account"}}},{"parameters":{"jsCode":"const trigger   = $('Workflow Trigger').first().json;\nlet rawText = ($input.first().json.output || $input.first().json.text || '');\n\nlet parsed = {};\ntry {\n  const cleaned = rawText\n    .replace(/```json\\n?/g, '')\n    .replace(/```\\n?/g, '')\n    .trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = {\n    resposta: rawText,\n    acoes: {\n      salvar_lead       : null,\n      enviar_video      : false,\n      pausar_atendimento: false,\n      handoff           : false,\n      resumo_handoff    : null\n    }\n  };\n}\nreturn parsed;\nconst acoes   = parsed.acoes || {};\nconst resposta = parsed.resposta || rawText;\n\nreturn [{\n  json: {\n    resposta,\n    acoes_salvar_lead       : acoes.salvar_lead        || null,\n    acoes_enviar_video      : acoes.enviar_video       === true,\n    acoes_pausar            : acoes.pausar_atendimento === true,\n    acoes_handoff           : acoes.handoff            === true,\n    acoes_resumo_handoff    : acoes.resumo_handoff     || null,\n    chatid                  : trigger.chatid,\n    urlchatwoot             : trigger.urlchatwoot,\n    account_id              : trigger.account_id,\n    conversation_id         : trigger.conversation_id,\n    chatwoottoken           : trigger.chatwoottoken,\n    contact_id              : trigger.contact_id\n  }\n}];"},"id":"5fdcf20a-4778-41a0-81df-031eab36fdb7","name":"Extract JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-48]},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"builtInTools":{},"options":{"temperature":0.7,"topP":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[64,176],"id":"d7ffa53c-cf47-4270-86b5-964b98c2d894","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"V80Z0Ht4U1FeCavj","name":"OpenAi account Teste"}}},{"parameters":{"jsCode":"const trigger  = $('Workflow Trigger').first().json;\nconst leadData = $('Prepare Context').first().json.leadData || {};\nconst mensagem = (trigger.mensagem || '').toLowerCase()\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n\nconst kwCruzeiros = [\n  'navio','artista','show','musica','camarote','experience resource','suite','varanda','interior',\n  'preco','valor','quanto','custa','parcela','entrada','sinal','reserva','disponivel',\n  'data','quando sai','quando vai','destino','rota','itinerario',\n  'noite','dia','duracao','cancun','miami','bahamas','caribe','mediterran',\n  'oceanview','balcao','janela'\n];\n\nconst kwConhecimento = [\n  'inclui','incluso','inclusa','o que tem','o que esta','o que vem',\n  'bebida','alcool','refrigerante','suco','alimentacao','refeicao','cafe','almoco','jantar',\n  'boleto','pix','cartao','credito','debito','forma de pagamento','parcelamento','como pago',\n  'como funciona','processo','como faz','documento','rg','passaporte','cpf',\n  'crianca','menor','idoso','acessibilidade',\n  'transfer','onibus','chegada','check-in','check-out','porto','santos',\n  'seguro','cancelamento','devolucao','reembolso','politica',\n  'wifi','internet','spa','academia','piscina','restaurante',\n  'contato','telefone','whatsapp','email','simone','consultora','falar com',\n  'duvida','pergunta','informacao','mais detalhes'\n];\n\nlet ptsCruzeiros = 0;\nlet ptsConhecimento = 0;\n\nfor (const kw of kwCruzeiros)    { if (mensagem.includes(kw)) ptsCruzeiros++; }\nfor (const kw of kwConhecimento) { if (mensagem.includes(kw)) ptsConhecimento++; }\n\n// Se lead já tem navio definido e mensagem tem keyword de cruzeiro → peso extra\nif (leadData.Navio && ptsCruzeiros > 0) ptsCruzeiros += 2;\n\n// Empate → no contexto de pagamento prioriza 'conhecimento' (FAQ de pagamento)\nconst tipo_kb = ptsCruzeiros > ptsConhecimento ? 'cruzeiros' : 'conhecimento';\n\n// Propagar tudo que veio do Call WF_MontarPrompt + o tipo decidido\nconst promptData = $('Call WF_MontarPrompt').first().json;\n\nreturn [{\n  json: {\n    ...promptData,\n    tipo_kb,\n    _classify_debug: { ptsCruzeiros, ptsConhecimento, decisao: tipo_kb }\n  }\n}];"},"id":"c2fdae29-7baa-4cc5-b4ff-3f9093ef06fa","name":"Classify Query Type","type":"n8n-nodes-base.code","typeVersion":2,"position":[-624,-48],"disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"QoWQ5vLJaIH4YnnoHe89l","mode":"list","cachedResultUrl":"/workflow/QoWQ5vLJaIH4YnnoHe89l","cachedResultName":"WF_Busca_KB"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $('Workflow Trigger').item.json.mensagem }}","tipo":"={{ $json.tipo_kb }}","top_k":"10"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"top_k","displayName":"top_k","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-400,-48],"id":"eb6e4082-05e6-4f85-8a0a-080a3b2f7dd3","name":"Call 'WF_Busca_KB'","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"57KcjE7oMBc0ryeqvzZPt","mode":"list","cachedResultUrl":"/workflow/57KcjE7oMBc0ryeqvzZPt","cachedResultName":"WF_MontarPrompt"},"workflowInputs":{"mappingMode":"defineBelow","value":{"context":"={{ $('Prepare Context').item.json.context }}","etapa":"qualificacao"},"matchingColumns":[],"schema":[{"id":"context","displayName":"context","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"etapa","displayName":"etapa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"id":"6a95ba2b-c8af-40e5-b67e-0124ea0a7fe3","name":"Call WF_MontarPrompt","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-848,-48]},{"parameters":{"workflowId":{"__rl":true,"value":"MlEIWkRbc5zuGNOkw_b-o","mode":"list","cachedResultUrl":"/workflow/MlEIWkRbc5zuGNOkw_b-o","cachedResultName":"WF_Salvar_Lead"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Telefone":"={{  $('Extract JSON').item.json.acoes.salvar_lead.Telefone }}","etapa":"={{ $('Extract JSON').item.json.acoes.salvar_lead.Etapa || null }}","origem":"=whatsapp","chatwoottoken":"={{ $('Workflow Trigger').item.json.chatwoottoken }}","urlchatwoot":"={{ $('Workflow Trigger').item.json.urlchatwoot }}","account_id":"={{ $('Workflow Trigger').item.json.account_id }}","conversation_id":"={{ $('Workflow Trigger').item.json.conversation_id }}","contact_id":"={{ $('Workflow Trigger').item.json.contact_id }}","Status":"={{ $('Extract JSON').item.json.acoes.salvar_lead.Status || 'BAIXA' }}","QtdPessoas":"={{ String($('Extract JSON').item.json.acoes.salvar_lead.QtdPessoas) || null }}","Orcamento":"={{ $('Extract JSON').item.json.acoes.salvar_lead.Orcamento || null }}","Navio":"={{ $('Extract JSON').item.json.acoes.salvar_lead.Navio || null }}","Estilo":"={{ $('Extract JSON').item.json.acoes.salvar_lead.Estilo || null }}","CPF":"={{ $('Extract JSON').item.json.acoes.salvar_lead.CPF || null }}","Email":"={{  $('Extract JSON').item.json.acoes.salvar_lead.Email || null }}","Nome":"={{ $('Extract JSON').item.json.acoes.salvar_lead.Nome || null }}","resposta":"={{ $json.resposta }}","Pontuacao":"={{ String($('Extract JSON').item.json.acoes.salvar_lead.Pontuacao) }}","em_qual_etapa":"={{ $json.acoes.salvar_lead.em_qual_etapa || 'e1' }}"},"matchingColumns":[],"schema":[{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Estilo","displayName":"Estilo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Navio","displayName":"Navio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Orcamento","displayName":"Orcamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"QtdPessoas","displayName":"QtdPessoas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contact_id","displayName":"contact_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"urlchatwoot","displayName":"urlchatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etapa","displayName":"etapa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resposta","displayName":"resposta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Pontuacao","displayName":"Pontuacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"em_qual_etapa","displayName":"em_qual_etapa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[624,-48],"id":"72235f93-c418-474d-a9ee-c2c65eba8c54","name":"Exec WF_Salvar_Lead"},{"parameters":{"workflowId":{"__rl":true,"value":"DhJx82Syv81AzAaW","mode":"list","cachedResultUrl":"/workflow/DhJx82Syv81AzAaW","cachedResultName":"WF_HANDOFF"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phoneNumber":"={{ $('Workflow Trigger').first().json.chatid }}","resumoConversa":"={{ $json.acoes_resumo_handoff || 'Lead qualificado para atendimento.' }}","sessionId":"={{ $('Workflow Trigger').first().json.chatid }}","contactId":"={{ $('Workflow Trigger').first().json.contact_id }}","urlChatwoot":"={{ $('Workflow Trigger').first().json.urlchatwoot }}","tokenChatwoot":"={{ $('Workflow Trigger').first().json.chatwoottoken }}","accountId":"={{ $('Workflow Trigger').first().json.account_id }}","conversationId":"={{ $('Workflow Trigger').first().json.conversation_id }}","origem":"whatsapp"},"matchingColumns":[],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resumoConversa","displayName":"resumoConversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"urlChatwoot","displayName":"urlChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"qtdPessoas","displayName":"qtdPessoas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"navio","displayName":"navio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"estilo","displayName":"estilo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"qualificacao","displayName":"qualificacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"campanha","displayName":"campanha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"nomeCompleto","displayName":"nomeCompleto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1072,-336],"id":"b92cc0c7-1a05-4ea2-845c-c309a3bbf2af","name":"Exec WF_HANDOFF"},{"parameters":{"workflowId":{"__rl":true,"value":"TIy-YJepMR4ox2Z6pCVZv","mode":"list","cachedResultUrl":"/workflow/TIy-YJepMR4ox2Z6pCVZv","cachedResultName":"[sem_interesse]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"urlChatwoot":"={{ $('Workflow Trigger').first().json.urlchatwoot }}","tokenChatwoot":"={{ $('Workflow Trigger').first().json.chatwoottoken }}","accountId":"={{ $('Workflow Trigger').first().json.account_id }}","contactId":"={{ $('Workflow Trigger').first().json.contact_id }}","origem":"whatsapp"},"matchingColumns":[],"schema":[{"id":"urlChatwoot","displayName":"urlChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1072,-144],"id":"7b2737a1-c9f0-497f-a2bf-e7abe138313d","name":"Call '[sem_interesse]'"},{"parameters":{"workflowId":{"__rl":true,"value":"ptzn5xkccnYfL7Wq","mode":"list","cachedResultUrl":"/workflow/ptzn5xkccnYfL7Wq","cachedResultName":"[video inicial] homologacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Workflow Trigger').first().json.chatid }}","accountid":"={{ $('Workflow Trigger').first().json.account_id }}","chatwooturl":"={{ $('Workflow Trigger').first().json.urlchatwoot }}","chatwoottoken":"={{ $('Workflow Trigger').first().json.chatwoottoken }}","conversationid":"={{ $('Exec WF_Salvar_Lead').first().json.lead.id_conversa_chatwoot }}","origem":"whatsapp","resposta":"={{ $('Exec WF_Salvar_Lead').first().json.resposta }}"},"matchingColumns":[],"schema":[{"id":"cruzeiroInteressado","displayName":"cruzeiroInteressado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"accountid","displayName":"accountid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwooturl","displayName":"chatwooturl","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversationid","displayName":"conversationid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resposta","displayName":"resposta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1072,48],"id":"06bdbb96-3992-4136-90bf-7a8f4276417d","name":"Exec Video Inicial"},{"parameters":{"method":"POST","url":"={{ $json.urlchatwoot || \"https://chatwoot.demo-events.com.br\" }}/api/v1/accounts/{{ $json.account_id || \"1\" }}/conversations/{{ $json.id_conversa_chatwoot || $json.lead.id_conversa_chatwoot }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.chatwoottoken || \"${CHATWOOT_TOKEN}\" }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $json.resposta.replace(/\\n/g, \"\\\\n\"); }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"content_type\": \"text\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1296,48],"id":"f113dc34-410c-4247-8194-7845728a8bfa","name":"HTTP Request"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Extract JSON').item.json.acoes.handoff || false }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"1e275fa7-38c0-44dc-9f59-d099117f1eb8"}],"combinator":"and"},"renameOutput":true,"outputKey":"handoff"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f7760635-090e-4a65-a3eb-9baa017f6d51","leftValue":"={{ $('Extract JSON').item.json.acoes.pausar_atendimento || false }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"pausar_atendimento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cd962ed9-6926-4b1f-90a2-24f59633325f","leftValue":"={{ $('Extract JSON').item.json.acoes.enviar_video || false }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"eniar_video"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[848,-80],"id":"fd2bcb3c-623b-40a4-92a6-725fc0892db4","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"0RzDPFar6zDMX7f5IcDI6","mode":"list","cachedResultUrl":"/workflow/0RzDPFar6zDMX7f5IcDI6","cachedResultName":"Enviar Mensagem - Novo Fluxo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Workflow Trigger').first().json.chatid || $json.lead.Telefone }}","accountid":"={{ $('Workflow Trigger').first().json.account_id || \"1\" }}","chatwooturl":"={{ $('Workflow Trigger').first().json.urlchatwoot || $('Switch').item.json.urlchatwoot }}","chatwoottoken":"={{ $('Workflow Trigger').first().json.chatwoottoken || $('Switch').item.json.chatwoottoken }}","conversationid":"={{ $('Workflow Trigger').first().json.conversation_id || $('Switch').item.json.lead.id_conversa_chatwoot }}","origem":"whatsapp","resposta":"={{ $('Extract JSON').first().json.resposta || $('Switch').item.json.resposta }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"accountid","displayName":"accountid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatwooturl","displayName":"chatwooturl","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"conversationid","displayName":"conversationid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"resposta","displayName":"resposta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1072,240],"id":"3dc6930e-a289-4325-87d5-7552a7e978fe","name":"Enviar Mensagem"},{"parameters":{"operation":"delete","key":"={{ $('Workflow Trigger').item.json.chatid }}_homologacao"},"id":"07f289d7-9b43-4d16-a2a2-e5f440de607a","name":"Clear Redis Memory on Reset1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1520,-48],"credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}}],"connections":{"Workflow Trigger":{"main":[[{"node":"Clear Redis Memory on Reset1","type":"main","index":0}]]},"Get Lead State":{"main":[[{"node":"Prepare Context","type":"main","index":0}]]},"Prepare Context":{"main":[[{"node":"Call WF_MontarPrompt","type":"main","index":0}]]},"Combine Prompt":{"main":[[{"node":"AI Agent Qualificacao","type":"main","index":0}]]},"Memory Postgres":{"ai_memory":[[{"node":"AI Agent Qualificacao","type":"ai_memory","index":0}]]},"AI Agent Qualificacao":{"main":[[{"node":"Extract JSON","type":"main","index":0}]]},"Extract JSON":{"main":[[{"node":"Exec WF_Salvar_Lead","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent Qualificacao","type":"ai_languageModel","index":0}]]},"Classify Query Type":{"main":[[{"node":"Call 'WF_Busca_KB'","type":"main","index":0}]]},"Call 'WF_Busca_KB'":{"main":[[{"node":"Combine Prompt","type":"main","index":0}]]},"Call WF_MontarPrompt":{"main":[[{"node":"Classify Query Type","type":"main","index":0}]]},"Exec WF_Salvar_Lead":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Exec Video Inicial":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Exec WF_HANDOFF","type":"main","index":0}],[{"node":"Call '[sem_interesse]'","type":"main","index":0}],[{"node":"Exec Video Inicial","type":"main","index":0}],[{"node":"Enviar Mensagem","type":"main","index":0}]]},"Clear Redis Memory on Reset1":{"main":[[{"node":"Get Lead State","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Workflow Trigger":[{"json":{"chatid":"+1 555-0100","mensagem":"Olá","urlchatwoot":"https://chatwoot.demo-events.com.br","account_id":"1","conversation_id":"6642","chatwoottoken":"${CHATWOOT_TOKEN}","contact_id":"42068"}}]},"versionId":"ebbcede5-2fb5-47db-840b-4bda9aae492f","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[{"updatedAt":"2026-02-22T23:30:01.789Z","createdAt":"2026-02-22T23:30:01.789Z","id":"VIQIXXrHpFrQkDFf","name":"qualificacao"},{"updatedAt":"2026-02-22T23:26:39.783Z","createdAt":"2026-02-22T23:26:39.783Z","id":"n57LehUJ3ysDp82B","name":"SDR"}],"shared":[{"updatedAt":"2026-02-27T15:36:48.333Z","createdAt":"2026-02-27T15:36:48.333Z","role":"workflow:owner","workflowId":"oP3g8ufNWFaLPSPX","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}