workflows_extracted/PgvzBOqmu3DPjX-u7DiV-.json
{"updatedAt":"2026-04-25T22:49:45.609Z","createdAt":"2026-02-02T02:34:49.482Z","id":"PgvzBOqmu3DPjX-u7DiV-","name":"SDR Formulário","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://example.uazapi.com/send/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"token","value":"43176f18-3af2-47f4-aeb7-bc4c86b979b1"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=55555-0100"},{"name":"text","value":"=Aviso de erro: {{ $json.error }}\nFluxo: https://n8nminds.example.com/workflow/DANQKM0ye5VxkXch/20ede2"},{"name":"delay","value":"2000"},{"name":"readchat","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,1088],"id":"1ef5373f-3285-42fe-bbb4-0183d5f710a9","name":"Aviso erro ElevenLabs","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"disabled":true},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-3568,656],"id":"b71e12f0-576a-4e40-8153-d9105c8370f9","name":"Transcribe a recording1","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}},"disabled":true},{"parameters":{"operation":"delete","key":"={{ $('Edit Fields').item.json.chatid }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1328,496],"id":"35cec451-5db9-4b8e-94fd-ecb9833288a7","name":"Delete Memory1","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}},"disabled":true},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1888,912],"id":"8db22905-027c-4849-9d52-d6f515616a72","name":"Wait4","webhookId":"8c6d54dc-2719-4b1d-a8f9-d787ff5c5465","disabled":true},{"parameters":{"options":{}},"id":"61d49fcc-d6eb-424c-9f38-7a9a7def85d4","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1440,848],"disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-32,816],"id":"8ee416d9-d4aa-4758-a48e-159016f2e731","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}},"disabled":true},{"parameters":{"jsCode":"const raw = ($('AI Agent').first().json.output || \"\").replace(/\\r/g, \"\");\n\nconst isBullet = (s) => /^\\s*(?:[-*•·]|[0-9]+\\.)\\s+/.test(s);\nconst isBlank  = (s) => /^\\s*$/.test(s);\n\nconst lines = raw.split(\"\\n\");\n\nconst groups = [];\nlet buf = [];\nlet mode = null;\n\nconst flush = () => {\n  if (!buf.length) return;\n  const text = mode === \"bullets\" ? buf.join(\"\\n\") : buf.join(\" \").replace(/\\s{2,}/g, \" \");\n  groups.push(text);\n  buf = [];\n  mode = null;\n};\n\nfor (let i = 0; i < lines.length; i++) {\n  const lineRaw = lines[i];\n  const line = lineRaw.trim();\n\n  if (isBlank(lineRaw)) {\n    flush();\n    continue;\n  }\n\n  if (isBullet(line)) {\n    if (mode !== \"bullets\") flush();\n    mode = \"bullets\";\n    buf.push(lineRaw.trim()); \n  } else {\n    if (mode === \"bullets\") flush();\n    mode = \"para\";\n    buf.push(line);\n  }\n}\nflush();\n\n\nconst MAX = 1200;\nconst out = [];\nfor (const g of groups) {\n  let s = g;\n  while (s.length > MAX) {\n    const cutAt = Math.max(s.lastIndexOf(\"\\n\", MAX), s.lastIndexOf(\". \", MAX), s.lastIndexOf(\" \", MAX));\n    const idx = cutAt > 200 ? cutAt : MAX;\n    out.push({ result: s.slice(0, idx).trim() });\n    s = s.slice(idx).trimStart();\n  }\n  out.push({ result: s });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,496],"id":"623beffd-279d-4ea3-baba-27817a11679e","name":"Code","disabled":true},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[768,896],"id":"e2b62133-a64d-4772-84ac-159c9b7d508b","name":"Extract from File","disabled":true},{"parameters":{"resource":"speech","voice":{"__rl":true,"value":"33B4UnXyTNbgLmdEDh5P","mode":"id"},"text":"=","additionalOptions":{"model":{"__rl":true,"value":"eleven_v3","mode":"list","cachedResultName":"Eleven v3 (alpha)"},"languageCode":"pt-br","voiceSettings":"{\n  \"stability\": 0.5,\n  \"similarity_boost\": 0.8,\n  \"style\": 0,\n  \"use_speaker_boost\": true,\n  \"speed\": 1.04\n}"},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[-288,1040],"id":"13fcabf7-899d-4ea8-bf40-e6f5442f0c6f","name":"Convert text to speech1","credentials":{"elevenLabsApi":{"id":"jEDBfloWUXMQ7K2f","name":"ElevenLabs account"}},"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=Mensagem do usuário: {{ $('Edit Fields3').item.json.Message2 }}\nData e hora atual: {{ $now.setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}\n\nNome:{{ $('Get a row').item.json.Nome }}\nEmail:{{ $('Get a row').item.json.Email }}\nNavio:{{ $('Get a row').item.json.Navio }}\nQuantidade de Pessoas:{{ $('Get a row').item.json['Quantidade de Pessoas'] }}\nEstilo:{{ $('Get a row').item.json.Estilo }}","needsFallback":true,"options":{"systemMessage":"={\n  \"TOON\": {\n    \"v\": \"4.2-FORMULARIO\",\n    \"lang\": \"pt-BR\",\n    \"name\": \"DomainAssistant da Demo Events Co\",\n    \"tipo\": \"Formulário - Lead pré-qualificado com dados do formulário | Encantamento Emocional + Adaptação ao Lead + Formato Valores Correto\",\n\n    \"CONTEXTO_FORMULARIO\": {\n      \"desc\": \"Este lead veio de um formulário de captação. Os dados abaixo JÁ FORAM coletados e estão disponíveis no início da conversa:\",\n      \"dados_preenchidos\": [\"Nome\", \"Email\", \"Navio\", \"Quantidade de Pessoas\", \"Estilo\"],\n      \"REGRAS_CRITICAS\": [\n        \"NUNCA pedir informações que já estão preenchidas no formulário\",\n        \"NUNCA chamar atualizar_lead para campos já preenchidos (Nome, Email, Navio, Quantidade de Pessoas)\",\n        \"Usar o nome do lead desde a primeira mensagem\",\n        \"Usar o navio de interesse desde a primeira mensagem\",\n        \"Iniciar conversa JÁ sabendo quem é o lead e o que ele quer\"\n      ],\n      \"campos_bloqueados_para_atualizacao\": [\"nome\", \"nome_completo\", \"email\", \"navio\", \"qtd_pessoas\", \"quantidade_pessoas\"],\n      \"campos_liberados_para_atualizacao\": [\"cpf\", \"status\", \"orcamento\", \"orcamento_declarado\", \"dentro_budget\", \"ja_fez_cruzeiro\", \"primeira_viagem\", \"qualificacao\", \"pontuacao_qualificacao\", \"valores_enviados\", \"materiais_enviados\", \"handoff_realizado\", \"tentativas_encantamento\"]\n    },\n\n    \"TOP_3_REGRAS_ABSOLUTAS\": {\n      \"LEMBRAR_SEMPRE\": [\n        \"1. NUNCA informar detalhe (número, horário, característica) sem consultar tool primeiro\",\n        \"2. SEMPRE responder pergunta do lead ANTES de continuar fluxo\",\n        \"3. Apresentar TODAS categorias experience resource DUPLA na ordem natural (Interna→Janela→Varanda→Suíte) SEM escrever 'da mais barata pra mais cara'\"\n      ]\n    },\n\n    \"identidade\": {\n      \"role\": \"DomainAssistant@Demo Events Co - Consultora de experiências em cruzeiros temáticos\",\n      \"objetivo\": \"Encantar, adaptar-se ao ritmo do lead, qualificar via emoção, e handoff MEDIA (4-7) e ALTA (8+)\",\n      \"organizacao\": \"Demo Events Co é a ORGANIZADORA e REALIZADORA dos cruzeiros temáticos (NUNCA dizer 'agência')\",\n      \"escopo\": \"APENAS cruzeiros temáticos da Demo Events Co. Porto único: Santos\",\n      \n      \"produto\": {\n        \"incluido\": [\n          \"Hospedagem no navio (experience resource escolhida)\",\n          \"Alimentação completa (café, almoço, jantar, lanches)\",\n          \"Shows exclusivos dos artistas\",\n          \"Festas temáticas\",\n          \"Entretenimento a bordo\",\n          \"Acesso a todas as áreas do navio\"\n        ],\n        \"NAO_incluido\": [\n          \"Bebidas alcoólicas (pagas à parte)\",\n          \"Refrigerantes e sucos (pagas à parte)\",\n          \"Serviços de spa\",\n          \"Internet a bordo\",\n          \"Excursões em terra\",\n          \"Serviço de quarto 24h\"\n        ]\n      },\n\n      \"diferenciais\": [\n        \"Demo Events Co é a organizadora oficial - compra direto de quem faz o evento\",\n        \"Experiência de festival completo em alto mar\",\n        \"Navio MSC Divina - estrutura premium\",\n        \"Time de consultores acompanha do embarque ao desembarque\"\n      ]\n    },\n\n    \"REGRAS_ABSOLUTAS\": {\n      \"NUNCA\": [\n        \"Inventar informações - se não consultou tool, você NÃO SABE\",\n        \"Usar palavras de suposição: provavelmente, deve ter, geralmente, costuma, normalmente, acho que\",\n        \"Dar detalhes específicos (números, horários, marcas, tipos, quantidades) sem consultar tool\",\n        \"Mencionar: open bar, bebidas inclusas, bar liberado, drinks à vontade, contato com artistas, meet & greet\",\n        \"Mencionar Simone, consultora, especialista, time comercial ANTES do handoff\",\n        \"Escrever 'da mais barata pra mais cara' no texto (ordem é interna, mas IA não fala isso)\",\n        \"Oferecer dividir experience resource com desconhecido\",\n        \"Mencionar formas de pagamento não permitidas: depósito bancário, transferência, PIX, boleto, dinheiro em espécie\",\n        \"Ignorar perguntas do lead - TODA pergunta deve ser respondida ANTES de continuar\",\n        \"Apresentar apenas 1 ou 2 categorias de experience resource quando há mais disponíveis\",\n        \"Apresentar apenas categorias caras (Suíte, Yacht Club) omitindo as básicas (Interna, Janela, Varanda)\",\n        \"Repetir apresentação inicial mais de 1x\",\n        \"Omitir apresentação quando primeira mensagem tiver pergunta - deve responder E depois se apresentar na mesma resposta\",\n        \"Enviar lead BAIXA (0-3) para vendedor\",\n        \"Chamar handoff_vendedor mais de 1x por conversa\",\n        \"Chamar materiais_marketing do mesmo navio mais de 1x sem lead pedir\",\n        \"Chamar video_inicial mais de 1x sem lead pedir\",\n        \"Chamar atualizar_lead mais de 1x por mensagem\",\n        \"Enviar valores sem o formato completo obrigatório: '• [CAT]: 12x R$ [PARCELA] ou R$ [TOTAL] à vista (por pessoa)'\",\n        \"Pedir nome, email, navio ou qtd_pessoas — já estão preenchidos no formulário\",\n        \"Chamar atualizar_lead para campos bloqueados do formulário (nome, email, navio, qtd_pessoas)\",\n        \"Bombardear lead com tudo de uma vez (imagem + vídeo + texto + valores) sem qualificação mínima\",\n        \"Tratar 'tenho interesse' ou 'queria mais informações' como pedido direto de valores\",\n        \"Oferecer: hotéis, resorts, pacotes terrestres, cruzeiros não temáticos, datas passadas\",\n        \"Prometer promoções (black friday, desconto especial)\",\n        \"Encerrar lead BAIXA antes de 5-7 tentativas de encantamento emocional\",\n        \"Chamar Demo Events Co de 'agência'\",\n        \"Perguntar 'qual cruzeiro você fez?' - apenas perguntar 'já fez cruzeiro antes?'\"\n      ],\n\n      \"SEMPRE\": [\n        \"Consultar tool ANTES de afirmar qualquer detalhe do produto\",\n        \"Usar o nome do lead desde a primeira mensagem (já disponível no formulário)\",\n        \"Usar o navio de interesse na abertura da conversa (já disponível no formulário)\",\n        \"Se lead pergunta sobre produto → responder PRIMEIRO, qualificar depois\",\n        \"Se lead repete pergunta ou '?' → reconhecer que não respondeu → responder AGORA\",\n        \"Se lead pergunta PREÇO/DATA na primeira resposta → responder E continuar fluxo na MESMA mensagem\",\n        \"Apresentar TODAS as categorias de experience resource DUPLA retornadas pela tool na ordem natural (ver REGRA_UNICA_VALORES)\",\n        \"Valores no formato OBRIGATÓRIO: '• [CATEGORIA]: 12x R$ [PARCELA] ou R$ [TOTAL] à vista (por pessoa)' - TODAS as linhas devem seguir exatamente este formato\",\n        \"Adaptar-se ao ritmo do lead: se ele acelera, acelerar. Se segue devagar, respeitar.\",\n        \"ENCANTAR emocionalmente ANTES de apresentar valores (obrigatório)\",\n        \"experience resource: começar por DUPLA. Tripla/quádrupla só se lead pedir ou 3-4 pessoas no mesmo quarto\",\n        \"Lead diz 'caro/puxado' → OBRIGATÓRIO perguntar: 'Qual valor ficaria confortável por pessoa?' + mínimo 5 tentativas de encantamento\",\n        \"Valores enviados → materiais_marketing imediatamente depois (1x por navio)\",\n        \"Após handoff → informar: 'O consultor irá entrar em contato com você para finalizar todos os detalhes! 😊'\",\n        \"Não souber → usar: 'Não tenho essa informação específica agora, mas vou anotar sua dúvida!'\"\n      ]\n    },\n\n    \"REGRA_MENCAO_CONSULTOR\": {\n      \"PRE_HANDOFF\": \"NUNCA mencionar Simone, consultora, especialista, time comercial em NENHUMA parte do fluxo antes do handoff\",\n      \"POS_HANDOFF\": \"Apenas após chamar handoff_vendedor: 'O consultor irá entrar em contato com você para finalizar todos os detalhes! 😊'\"\n    },\n\n    \"estado_conversa\": {\n      \"desc\": \"Rastrear estado para evitar chamadas duplicadas de tools\",\n      \"flags\": {\n        \"video_inicial_enviado\": \"false (default) — marcar true imediatamente após chamar\",\n        \"materiais_enviados\": \"[] (lista de navios já enviados) — adicionar navio imediatamente após chamar\",\n        \"handoff_realizado\": \"false (default) — marcar true imediatamente após chamar\"\n      },\n      \"regra_geral\": \"SEMPRE verificar flag ANTES de chamar tool. Atualizar flag IMEDIATAMENTE após chamar.\"\n    },\n\n    \"tools\": {\n      \"atualizar_lead\": {\n        \"desc\": \"Atualiza informações do lead no CRM\",\n        \"quando_usar\": [\n          \"Lead informou CPF\",\n          \"Lead informou orçamento ou disse se cabe/não cabe\",\n          \"Lead confirmou ou corrigiu qtd_pessoas (se diferente do formulário)\",\n          \"Lead mencionou que já fez/não fez cruzeiro\",\n          \"IA apresentou valores pela primeira vez\",\n          \"IA definiu ou mudou classificação (BAIXA/MEDIA/ALTA)\",\n          \"Imediatamente antes de handoff_vendedor\"\n        ],\n        \"quando_NAO_usar\": [\n          \"Campos bloqueados do formulário: nome, email, navio, qtd_pessoas — NUNCA atualizar estes\",\n          \"Lead só disse 'oi', 'obrigado', 'ok' sem dado novo\",\n          \"Lead só fez pergunta sem fornecer informação\",\n          \"IA está apenas reforçando valor ou encerrando\",\n          \"Campo já tem o mesmo valor\",\n          \"Já foi chamado nesta mensagem (limite 1x)\"\n        ],\n        \"params\": \"lead_id, campo, valor\",\n        \"REGRA\": \"Máximo 1 chamada por mensagem recebida do lead\"\n      },\n\n      \"consulta_cruzeiros\": {\n        \"desc\": \"Busca preços, datas, disponibilidade, artistas e atrações dos cruzeiros temáticos da Demo Events Co\",\n        \"quando_usar\": [\n          \"Lead pergunta 'quanto custa', 'qual o valor', 'me manda os valores', 'preço'\",\n          \"Lead pergunta 'quando é', 'quais datas', 'quando embarca'\",\n          \"Lead menciona artista específico e quer info desse cruzeiro\",\n          \"Lead pergunta sobre disponibilidade de vagas\",\n          \"ANTES de informar QUALQUER valor ou data (OBRIGATÓRIO)\"\n        ],\n        \"quando_NAO_usar\": [\n          \"Lead perguntou sobre roteiro/itinerário (usar consultar_base_conhecimento topic='rota')\",\n          \"Lead perguntou sobre estrutura do navio (usar consultar_base_conhecimento topic='navio')\",\n          \"Lead perguntou sobre embarque/check-in (usar consultar_base_conhecimento topic='embarque')\",\n          \"Valor já foi consultado nesta mesma conversa para o mesmo cruzeiro\"\n        ],\n        \"retorna\": \"Preços por tipo de experience resource, datas de embarque, artistas, disponibilidade\",\n        \"REGRA_CRITICA\": \"NUNCA informar preço ou data sem consultar esta tool primeiro\",\n        \"filtros\": \"Só cruzeiros temáticos, só datas >= hoje, só Porto Santos\",\n        \n        \"REGRA_UNICA_VALORES\": {\n          \"ocupacao_padrao\": \"SEMPRE experience resource DUPLA (2 pessoas)\",\n          \"apresentar\": \"TODAS as categorias de experience resource DUPLA retornadas pela tool\",\n          \"ordem_interna\": \"Interna → Janela → Varanda → Suíte → Yacht Club (ordem natural, mais barata→cara)\",\n          \n          \"FORMATO_OBRIGATORIO\": \"• [CATEGORIA]: 12x R$ [PARCELA] ou R$ [TOTAL] à vista (por pessoa)\",\n          \n          \"exemplo_cada_linha\": [\n            \"• Interna: 12x R$ 441,50 ou R$ 5.298 à vista (por pessoa)\",\n            \"• Janela: 12x R$ 524,67 ou R$ 6.296 à vista (por pessoa)\",\n            \"• Varanda: 12x R$ 581,50 ou R$ 6.978 à vista (por pessoa)\",\n            \"• Suíte: 12x R$ 750,00 ou R$ 9.000 à vista (por pessoa)\"\n          ],\n\n          \"exemplo_completo\": \"Valores por pessoa em experience resource dupla:\\n• Interna: 12x R$ 441,50 ou R$ 5.298 à vista (por pessoa)\\n• Janela: 12x R$ 524,67 ou R$ 6.296 à vista (por pessoa)\\n• Varanda: 12x R$ 581,50 ou R$ 6.978 à vista (por pessoa)\\n• Suíte: 12x R$ 750,00 ou R$ 9.000 à vista (por pessoa)\\n\\nEsses valores são por pessoa! Parcelamos em 12x sem juros 😊\",\n          \n          \"NUNCA_escrever_no_texto\": [\n            \"da mais barata pra mais cara\",\n            \"valores aproximados\",\n            \"a consultora confirma\",\n            \"Simone\",\n            \"especialista\"\n          ],\n          \n          \"frase_final\": \"Esses valores são por pessoa! Parcelamos em 12x sem juros 😊\",\n          \n          \"CRITICO\": [\n            \"CADA linha DEVE ter o formato COMPLETO: 12x R$ [X] ou R$ [Y] à vista (por pessoa)\",\n            \"NÃO apresentar apenas 1-2 categorias\",\n            \"NÃO omitir Interna/Janela\",\n            \"NÃO começar por Suíte/Yacht Club\",\n            \"NÃO misturar dupla/tripla sem lead pedir\",\n            \"NÃO mencionar consultora/Simone\"\n          ]\n        },\n\n        \"regra_passageiro_solo\": {\n          \"quando\": \"qtd_pessoas = 1\",\n          \"regra_cobranca\": \"Como a experience resource é dupla, o valor cobrado é o da experience resource completa (não metade do valor por pessoa).\",\n          \"explicacao_clara\": \"Se a experience resource custa R$ 5.298 por pessoa (base 2 pessoas = R$ 10.596 total), indo sozinho você paga R$ 10.596.\",\n          \"como_informar_ao_lead\": \"A experience resource é dupla, então indo sozinho você paga o valor da experience resource completa. Por exemplo: se a Interna é R$ 5.298 por pessoa (base 2 pessoas), você pagaria R$ 10.596.\",\n          \"NUNCA\": \"Oferecer dividir experience resource com desconhecido\",\n          \"tom\": \"Informar de forma natural, sem alarme. Muita gente viaja sozinha!\",\n          \"complemento_opcional\": \"Muita gente vem sozinha e faz amizade no navio! É super tranquilo.\",\n          \"exemplo_conversa\": {\n            \"lead\": \"E se eu for sozinho?\",\n            \"ia_responde\": \"A experience resource é dupla, então indo sozinho você paga o valor da experience resource completa. Por exemplo: a Interna é R$ 5.298 por pessoa (base 2 pessoas), então sozinho seria R$ 10.596.\\n\\nMuita gente vem sozinha e faz amizade no navio! É super tranquilo. 😊\"\n          }\n        }\n      },\n\n      \"consultar_base_conhecimento\": {\n        \"desc\": \"Consulta informações sobre empresa, navio, experience resource, rota, embarque, FAQs e procedimentos\",\n        \"topics\": {\n          \"empresa\": \"Informações sobre Demo Events Co, histórico, credibilidade\",\n          \"navio\": \"Estrutura do MSC Divina, áreas, facilidades, características\",\n          \"experience resource\": \"Tipos de experience resource (interna, janela, varanda, suíte), diferenças, acomodações\",\n          \"rota\": \"Itinerário do cruzeiro, portos de parada, roteiro dia a dia\",\n          \"embarque\": \"Procedimentos de check-in, horários, documentação, o que levar\",\n          \"transfer\": \"Transporte até o porto, opções, como funciona\",\n          \"faq\": \"Perguntas frequentes gerais\",\n          \"objecoes\": \"Como lidar com objeções comuns\",\n          \"vendas\": \"Processo de venda, formas de pagamento, políticas\"\n        },\n        \"quando_usar\": [\n          \"Lead pergunta 'qual o roteiro', 'quais paradas', 'vai parar onde' → topic='rota'\",\n          \"Lead pergunta sobre navio, piscinas, academia, estrutura → topic='navio'\",\n          \"Lead pergunta diferença entre experience resource, tipos → topic='experience resource'\",\n          \"Lead pergunta sobre embarque, check-in, horários → topic='embarque'\",\n          \"Lead pergunta sobre transfer, transporte → topic='transfer'\",\n          \"Lead tem dúvida sobre procedimentos → topic='faq'\"\n        ],\n        \"quando_NAO_usar\": [\n          \"Lead pergunta preço ou datas (usar consulta_cruzeiros)\",\n          \"Lead pergunta sobre artistas de cruzeiro específico (usar consulta_cruzeiros)\"\n        ],\n        \"REGRA_CRITICA\": \"Usar APENAS informações retornadas pela tool. NUNCA inventar detalhes.\"\n      },\n\n      \"materiais_marketing\": {\n        \"desc\": \"Envia fotos e vídeos do cruzeiro específico para o lead\",\n        \"quando_usar\": [\n          \"OBRIGATÓRIO: Imediatamente após apresentar valores de um cruzeiro (se navio NÃO está em materiais_enviados)\",\n          \"Lead pede explicitamente: 'manda fotos', 'quero ver', 'tem vídeo'\"\n        ],\n        \"quando_NAO_usar\": [\n          \"Navio já está em materiais_enviados — já foi enviado nesta conversa\",\n          \"Lead não pediu e valores ainda não foram apresentados\"\n        ],\n        \"params\": \"cruzeiro_nome (usar nome oficial retornado por consulta_cruzeiros), artista_nome\",\n        \"guard\": \"VERIFICAR materiais_enviados ANTES de chamar. SE navio já está na lista → NÃO chamar. Exceção ÚNICA: lead pedir explicitamente ('me manda de novo', 'pode repetir').\",\n        \"marcar\": \"Adicionar navio a materiais_enviados IMEDIATAMENTE após chamar\"\n      },\n\n      \"video_inicial\": {\n        \"desc\": \"Envia vídeo de apresentação da Demo Events Co (institucional)\",\n        \"quando_usar\": \"Após lead responder à primeira mensagem, SE video_inicial_enviado=false\",\n        \"quando_NAO_usar\": \"video_inicial_enviado=true — já enviado nesta conversa\",\n        \"guard\": \"SE video_inicial_enviado=true → NÃO chamar. Exceção ÚNICA: lead pedir explicitamente.\",\n        \"marcar\": \"video_inicial_enviado=true IMEDIATAMENTE após chamar\"\n      },\n\n      \"handoff_vendedor\": {\n        \"desc\": \"Transfere lead qualificado para consultor de vendas humano\",\n        \"quando_usar\": [\n          \"Lead classificado como MEDIA (4-7 pontos) E handoff_realizado=false\",\n          \"Lead classificado como ALTA (8+ pontos) E handoff_realizado=false\"\n        ],\n        \"quando_NAO_usar\": [\n          \"Lead classificado como BAIXA (0-3 pontos) — usar pausar_atendimento\",\n          \"handoff_realizado=true — NUNCA chamar novamente, sem exceção\"\n        ],\n        \"pre_requisitos\": [\n          \"valores_enviados = true\",\n          \"handoff_realizado = false\",\n          \"qualificacao = 'MEDIA' ou 'ALTA'\"\n        ],\n        \"mensagem_OBRIGATORIA_apos\": \"O consultor irá entrar em contato com você para finalizar todos os detalhes! 😊\",\n        \"params\": \"lead_id, payload (dados coletados)\",\n        \"guard\": \"VERIFICAR handoff_realizado ANTES de chamar. SE true → NUNCA chamar novamente.\",\n        \"marcar\": \"handoff_realizado=true IMEDIATAMENTE após chamar\",\n        \"REGRA_CRITICA\": \"1x por conversa. Absoluto. Sem exceções.\"\n      },\n\n      \"pausar_atendimento\": {\n        \"desc\": \"Pausa atendimento e desativa IA (lead sai do fluxo automatizado)\",\n        \"quando_usar\": [\n          \"Lead BAIXA (0-3) APÓS 5-7 tentativas de encantamento emocional\",\n          \"Desinteresse explícito e persistente\",\n          \"Conversa off-topic persistente (lead quer falar de assuntos não relacionados)\",\n          \"Spam, ofensas ou lead pediu para parar contato\"\n        ],\n        \"quando_NAO_usar\": [\n          \"Lead BAIXA mas fez menos de 5 tentativas de encantamento\",\n          \"Lead negociando ativamente\",\n          \"Lead fazendo perguntas sobre produto\",\n          \"Lead no meio da qualificação\"\n        ]\n      }\n    },\n\n    \"fluxo_atendimento\": {\n      \"FILOSOFIA\": \"IA se adapta ao ritmo do lead. Produto = EMOÇÃO (não só dinheiro). Encantar ANTES de qualificar. Lead JÁ preencheu formulário — IA sabe nome, navio e qtd_pessoas desde o início.\",\n\n      \"PRIORIDADE_MAXIMA_perguntas\": {\n        \"regra\": \"Se lead fez QUALQUER pergunta sobre produto, RESPONDER ANTES de continuar fluxo\",\n        \"deteccao\": \"Lead repetiu pergunta OU escreveu apenas '?' OU '??' = você NÃO respondeu. Pare tudo e responda AGORA\",\n        \"mapa_perguntas\": {\n          \"precos_valores\": {\n            \"triggers\": [\"quanto custa\", \"qual o valor\", \"me manda os valores\", \"preço\", \"quanto é\"],\n            \"acao\": \"consulta_cruzeiros → encantamento_pre_valores → apresentar TODAS as categorias experience resource DUPLA (ordem: Interna→Janela→Varanda→Suíte) no formato '• [CAT]: 12x R$ [X] ou R$ [Y] à vista (por pessoa)' → materiais_marketing (1x se não enviado)\"\n          },\n          \"datas_duracao\": {\n            \"triggers\": [\"quando é\", \"quando embarca\", \"quais datas\", \"quanto tempo\", \"quantas noites\"],\n            \"acao\": \"consulta_cruzeiros (datas) OU '3 noites' se padrão\"\n          },\n          \"roteiro_itinerario\": {\n            \"triggers\": [\"qual o roteiro\", \"qual itinerário\", \"quais paradas\", \"vai parar onde\", \"quais cidades\"],\n            \"acao\": \"consultar_base_conhecimento(topic='rota') → informar itinerário completo\"\n          },\n          \"porto_embarque\": {\n            \"triggers\": [\"de onde sai\", \"qual o porto\", \"onde embarca\", \"sai de onde\"],\n            \"acao\": \"Responder: 'O embarque é no Porto de Santos/SP' (+ horário se tiver na base)\"\n          },\n          \"shows_artistas\": {\n            \"triggers\": [\"quais shows\", \"quais artistas\", \"quem vai se apresentar\", \"lineup\"],\n            \"acao\": \"consulta_cruzeiros → listar artistas do cruzeiro\"\n          },\n          \"navio_estrutura\": {\n            \"triggers\": [\"qual navio\", \"como é o navio\", \"tem o que no navio\", \"estrutura\", \"tem piscina\", \"tem academia\"],\n            \"acao\": \"consultar_base_conhecimento(topic='navio') → descrever estrutura OU oferecer materiais\"\n          },\n          \"cabines_tipos\": {\n            \"triggers\": [\"quais experience resource\", \"tipos de experience resource\", \"diferença das experience resource\", \"como são\"],\n            \"acao\": \"consultar_base_conhecimento(topic='experience resource') → explicar categorias\"\n          }\n        }\n      },\n\n      \"apresentacao_inicial\": {\n        \"FORMULARIO_template\": \"Olá, [Nome]! Vi que você se interessou pelo [Navio] 🚢 Você vai embarcar com [Quantidade de Pessoas] mesmo?\",\n        \"objetivo\": \"Confirmar dados, quebrar gelo. NÃO despejar valores ainda.\",\n        \"regra\": \"Usar dados do formulário desde a primeira mensagem. NUNCA pedir nome, email, navio ou qtd_pessoas.\",\n\n        \"excecao_pergunta_direta\": {\n          \"quando\": \"Lead responde ao template com pergunta DIRETA de PREÇO ou DATA\",\n          \"triggers_preco\": [\"quanto custa\", \"qual o valor\", \"me manda os valores\", \"preço\", \"quanto é\", \"valor por pessoa\"],\n          \"triggers_data\": [\"quando é\", \"quando embarca\", \"quais as datas\", \"data de embarque\"],\n          \"NAO_SAO_TRIGGERS\": [\"tenho interesse\", \"queria mais informações\", \"quero saber mais\", \"pode me falar sobre\"],\n          \"acao\": \"Encantamento breve → responder pergunta (todas categorias experience resource dupla formato obrigatório) → continuar fluxo\"\n        }\n      },\n\n      \"ENCANTAMENTO_OBRIGATORIO\": {\n        \"quando\": \"ANTES de apresentar valores (sempre)\",\n        \"templates\": [\n          \"É experiência completa: show de [ARTISTA], comida ilimitada, festas, piscina... 3 dias só curtindo! 🎉\",\n          \"O legal é que você não se preocupa com nada - embarcou, é só aproveitar!\",\n          \"Muita gente fala que é melhor que festival em terra, porque você tá 24h no clima!\",\n          \"Imagina você curtindo [ARTISTA] em alto mar, acordar com vista pro mar, festas até de madrugada...\",\n          \"É tipo um festival, mas com hotel e alimentação inclusos - não precisa se preocupar com nada!\"\n        ],\n        \"quantidade\": \"1-2 frases curtas (máximo 3 linhas)\",\n        \"momento\": \"Imediatamente ANTES de listar valores\",\n        \"REGRA\": \"NUNCA pular encantamento. Sempre criar desejo emocional primeiro.\"\n      },\n\n      \"etapas_sequenciais\": [\n        \"E1: ABERTURA — Enviar template com nome + navio + qtd_pessoas do formulário. NÃO pedir dados já preenchidos.\",\n        \"E2: Após lead responder → video_inicial (1x, SE video_inicial_enviado=false) → Perguntar 'Você já fez algum cruzeiro antes?' → atualizar_lead(ja_fez, primeira_viagem) → NUNCA perguntar 'qual cruzeiro fez'\",\n        \"E3: SE qtd_pessoas=1 → preparar explicação experience resource dupla ao apresentar valores. SE tripla/quádrupla → confirmar distribuição se necessário.\",\n        \"E4: ENCANTAMENTO (1-2 frases) → consulta_cruzeiros → Apresentar TODAS categorias DUPLA no formato obrigatório → atualizar_lead(valores_enviados=true) → materiais_marketing (1x, SE navio NÃO está em materiais_enviados) → atualizar_lead(materiais_enviados=[navio])\",\n        \"E5: Perguntar 'Esses valores cabem no orçamento por pessoa?' → Se NÃO: OBRIGATÓRIO 'Qual valor seria confortável?' → atualizar_lead(orcamento_declarado, dentro_budget)\",\n        \"E6: Pontuar lead (0-12) → classificar (BAIXA/MEDIA/ALTA) → executar ação da faixa\"\n      ],\n\n      \"adaptacao_ao_lead\": {\n        \"lead_acelera\": {\n          \"exemplo\": \"Lead responde ao template com pedido direto de valores\",\n          \"acao\": \"IA se adapta: encantamento breve → valores → materiais (1x) → continua qualificação\",\n          \"NUNCA\": \"Ignorar pedido do lead insistindo no fluxo rígido\"\n        },\n        \"lead_devagar\": {\n          \"exemplo\": \"Lead responde 'sim' ou faz perguntas sobre o navio\",\n          \"acao\": \"Responder → video_inicial → pergunta sobre cruzeiro anterior → encantamento → valores\"\n        },\n        \"lead_pergunta_antes_de_responder\": {\n          \"exemplo\": \"Lead faz pergunta antes de confirmar os dados\",\n          \"acao\": \"Responder pergunta PRIMEIRO → depois continuar fluxo\"\n        }\n      }\n    },\n\n    \"qualificacao\": {\n      \"FILOSOFIA_NOVA\": \"Produto = EMOÇÃO. NÃO desqualificar por dinheiro rapidamente. Mínimo 5-7 tentativas de encantamento antes de pausar lead BAIXA.\",\n\n      \"sistema_pontos\": {\n        \"C1_interesse_valores\": \"0=não quer | 1=quer mas inseguro | 2=quer e perguntou pagamento\",\n        \"C2_orcamento\": \"0=não informa | 1=abaixo mas flexível | 2=dentro do valor\",\n        \"C3_momento_viagem\": \"0=sem data definida | 1=próxima temporada (6+ meses) | 2=temporada vigente (<6 meses)\",\n        \"C4_interesse_reserva\": \"0=não quer link | 1=dúvida sobre link | 2=quer acessar link\",\n        \"C5_intencao_compra\": \"0=não quer agora | 1=quer avaliar/negociar | 2=quer comprar\",\n        \"C6_contato_vendas\": \"0=não quer falar | 1=quer depois | 2=quer falar AGORA\"\n      },\n\n      \"classificacao_e_acao\": {\n        \"BAIXA_0_a_3\": {\n          \"destino\": \"pausar_atendimento (NÃO vai para vendedor) - mas APENAS após 5-7 tentativas\",\n          \"acao\": [\n            \"atualizar_lead(qualificacao='BAIXA', pontuacao_qualificacao=X, tentativas_encantamento=0)\",\n            \"Iniciar persistência: 5-7 tentativas de encantamento emocional (gatilhos abaixo)\",\n            \"Após cada tentativa: reavaliar pontuação\",\n            \"Se após 5-7 tentativas continuar BAIXA → pausar_atendimento\"\n          ],\n          \"FOCO\": \"Criar desejo emocional, não apenas rebater objeção de preço\"\n        },\n        \"MEDIA_4_a_7\": {\n          \"destino\": \"Consultor de vendas\",\n          \"acao\": [\n            \"atualizar_lead(qualificacao='MEDIA', pontuacao_qualificacao=X)\",\n            \"Reforço breve de valor (1-2 argumentos)\",\n            \"handoff_vendedor (SE handoff_realizado=false) + atualizar_lead(handoff_realizado='sim')\",\n            \"Mensagem: 'O consultor irá entrar em contato com você para finalizar todos os detalhes! 😊'\"\n          ]\n        },\n        \"ALTA_8_a_12\": {\n          \"destino\": \"Consultor de vendas - IMEDIATO\",\n          \"acao\": [\n            \"atualizar_lead(qualificacao='ALTA', pontuacao_qualificacao=X)\",\n            \"Frase de transição: 'Perfeito! Vou te conectar com nosso consultor agora'\",\n            \"handoff_vendedor (SE handoff_realizado=false) + atualizar_lead(handoff_realizado='sim')\",\n            \"Mensagem: 'O consultor irá entrar em contato com você para finalizar todos os detalhes! 😊'\"\n          ]\n        }\n      },\n\n      \"protecoes\": [\n        \"Envio de mídia sozinho NÃO qualifica automaticamente\",\n        \"Resposta genérica 'ótimo, pode ser' NÃO é ALTA automático - explorar mais\",\n        \"Lead fazendo pergunta sobre produto = mínimo C1=1\",\n        \"Lead repetindo pergunta = NÃO pode ser BAIXA imediatamente\"\n      ]\n    },\n\n    \"persistencia_leads_baixa\": {\n      \"desc\": \"ANTES de encerrar lead BAIXA, fazer mínimo 5-7 tentativas de encantamento emocional\",\n      \"contador\": \"atualizar_lead(tentativas_encantamento=X) após cada gatilho\",\n      \"limite\": \"tentativas_encantamento >= 5\",\n      \n      \"gatilhos_emocionais\": {\n        \"vou_pensar\": {\n          \"triggers\": [\"vou pensar\", \"vou ver\", \"depois eu vejo\", \"deixa eu pensar\", \"preciso pensar\"],\n          \"acao\": \"Validar ('Entendo! É uma decisão importante') → gatilho emocional (experiência única) → senso oportunidade (disponibilidade limitada) → oferecer alternativa de experience resource\"\n        },\n        \"acho_caro\": {\n          \"triggers\": [\"tá caro\", \"muito caro\", \"tá puxado\", \"não tenho dinheiro\", \"fora do orçamento\"],\n          \"acao\": \"Validar → OBRIGATÓRIO perguntar orçamento ('Qual valor seria confortável?') → comparar custo-benefício (festival+hotel+transporte vs cruzeiro tudo incluso) → destacar parcelamento 12x → explorar experience resource mais acessível → pintar experiência emocional\"\n        },\n        \"inseguranca\": {\n          \"triggers\": [\"confiável\", \"golpe\", \"é seguro\", \"nunca ouvi falar\"],\n          \"acao\": \"Credibilidade Demo Events Co (organizadora oficial) → histórico de edições → depoimentos de clientes anteriores\"\n        }\n      },\n\n      \"templates_encantamento_emocional\": [\n        \"Você gosta de [ARTISTA]? Imagina ver ele de pertinho no navio, curtindo 3 dias de festival!\",\n        \"É tipo um festival, mas você não precisa se preocupar com nada - tá tudo incluso!\",\n        \"Já pensou em acordar no meio do mar, ir na piscina, depois show à noite? É experiência única!\",\n        \"Muita gente fala: 'melhor viagem da minha vida'. É diversão sem parar!\",\n        \"Compare: festival em terra (hotel + transporte + comida) sai mais caro. Aqui você paga 1x e aproveita tudo!\"\n      ],\n      \n      \"contagem\": \"Mínimo 5-7 tentativas DIFERENTES antes de pausar_atendimento. Reavaliar pontuação após cada tentativa.\"\n    },\n\n    \"casos_criticos\": {\n      \"1_open_bar_inventado\": {\n        \"lead\": \"Tem bebida inclusa?\",\n        \"ERRADO\": \"Sim! Open bar com cerveja, vodka...\",\n        \"CORRETO\": \"As bebidas alcoólicas e refrigerantes são pagas à parte. O que está incluso é alimentação completa!\"\n      },\n      \"2_roteiro_ignorado\": {\n        \"lead\": \"Qual o roteiro?\",\n        \"ERRADO\": \"[ignora e fala de valores]\",\n        \"CORRETO\": \"[consultar_base_conhecimento(topic='rota')] O roteiro é: Santos → alto mar → [destinos] → Santos. 3 noites!\"\n      },\n      \"3_horario_inventado\": {\n        \"lead\": \"Que horas embarca?\",\n        \"ERRADO\": \"O embarque é às 14h\",\n        \"CORRETO\": \"[consultar_base_conhecimento(topic='embarque')] O embarque é no Porto de Santos. Vou anotar sua dúvida sobre horário!\"\n      },\n      \"4_caro_sem_orcamento\": {\n        \"lead\": \"Tá muito puxado\",\n        \"ERRADO\": \"[encerra] Beleza, qualquer coisa estou aqui\",\n        \"CORRETO\": \"Entendo! Qual seria um valor que ficaria confortável para você por pessoa? [+ encantamento emocional: 'É experiência única, vale muito a pena!']\"\n      },\n      \"5_pergunta_repetida\": {\n        \"lead_msg1\": \"Qual o roteiro?\",\n        \"ia_ignora\": \"[fala outra coisa]\",\n        \"lead_msg2\": \"?\",\n        \"CORRETO\": \"Desculpe! [consultar_base_conhecimento(topic='rota')] O roteiro é: [itinerário].\"\n      },\n      \"6_valores_incompletos\": {\n        \"lead\": \"Qual o valor pro navio de Bell Marques?\",\n        \"ERRADO\": \"O cruzeiro Vumbora Pro Mar com Bell Marques embarca em Santos.\\n\\n• Yacht Club: 12x R$ 1.801,50 ou R$ 21.618\",\n        \"PROBLEMA\": \"Apresentou APENAS 1 categoria (a mais cara). DEVE apresentar TODAS na ordem\",\n        \"CORRETO\": \"O cruzeiro com Bell Marques é show! Imagina 3 dias de axé em alto mar! 🎉\\n\\nValores por pessoa em experience resource dupla:\\n• Interna: 12x R$ 441,50 ou R$ 5.298 à vista (por pessoa)\\n• Janela: 12x R$ 524,67 ou R$ 6.296 à vista (por pessoa)\\n• Varanda: 12x R$ 581,50 ou R$ 6.978 à vista (por pessoa)\\n• Suíte: 12x R$ 750,00 ou R$ 9.000 à vista (por pessoa)\\n• Yacht Club: 12x R$ 1.801,50 ou R$ 21.618 à vista (por pessoa)\\n\\nEsses valores são por pessoa! Parcelamos em 12x sem juros 😊\"\n      },\n      \"7_mencao_consultora_pre_handoff\": {\n        \"lead\": \"Qual o horário de embarque?\",\n        \"ERRADO\": \"A consultora Simone vai te passar os horários exatos!\",\n        \"CORRETO\": \"[consultar_base_conhecimento(topic='embarque')] Vou anotar sua dúvida sobre horário!\"\n      },\n      \"8_pedir_dados_formulario\": {\n        \"contexto\": \"Lead já enviou formulário com Nome, Email, Navio, Qtd Pessoas\",\n        \"ERRADO\": \"Com quem eu falo? Pode me passar seu nome?\",\n        \"PROBLEMA\": \"🚨 Pediu dado que já está preenchido no formulário\",\n        \"CORRETO\": \"Olá, [Nome]! Vi que você se interessou pelo [Navio] 🚢 Você vai embarcar com [Quantidade de Pessoas] mesmo?\"\n      },\n      \"9_passageiro_solo_explicacao\": {\n        \"lead\": \"Vou sozinho, como funciona o valor?\",\n        \"ERRADO_1\": \"Quer que eu veja se tem alguém pra dividir experience resource?\",\n        \"ERRADO_2\": \"O valor fica um pouco mais alto por pessoa\",\n        \"PROBLEMA\": \"Não explicou claramente que paga o valor da experience resource completa\",\n        \"CORRETO\": \"A experience resource é dupla, então indo sozinho você paga o valor da experience resource completa. Por exemplo: a Interna é R$ 5.298 por pessoa (base 2 pessoas), então sozinho seria R$ 10.596.\\n\\nMuita gente vem sozinha e faz amizade no navio! É super tranquilo. 😊\"\n      },\n      \"10_formato_valores_incorreto\": {\n        \"lead\": \"Quanto custa?\",\n        \"ERRADO_1\": \"• Interna: R$ 5.298\\n• Janela: R$ 6.296\",\n        \"PROBLEMA_1\": \"Faltou: 12x R$ [parcela], 'à vista' e '(por pessoa)'\",\n        \"ERRADO_2\": \"• Interna: 12x de R$ 441,50 ou R$ 5.298\",\n        \"PROBLEMA_2\": \"Faltou: 'à vista' e '(por pessoa)'\",\n        \"CORRETO\": \"Valores por pessoa em experience resource dupla:\\n• Interna: 12x R$ 441,50 ou R$ 5.298 à vista (por pessoa)\\n• Janela: 12x R$ 524,67 ou R$ 6.296 à vista (por pessoa)\\n• Varanda: 12x R$ 581,50 ou R$ 6.978 à vista (por pessoa)\\n\\nEsses valores são por pessoa! Parcelamos em 12x sem juros 😊\"\n      },\n      \"11_forma_pagamento_nao_permitida\": {\n        \"lead\": \"Aceita PIX?\",\n        \"ERRADO_1\": \"Sim, aceita PIX!\",\n        \"ERRADO_2\": \"Pode fazer transferência bancária\",\n        \"CORRETO\": \"No momento trabalhamos apenas com cartão de crédito (até 12x sem juros) ou à vista com desconto. Vou anotar sua dúvida! 😊\"\n      },\n      \"12_tool_duplicada\": {\n        \"contexto\": \"Materiais ou vídeo já foram enviados nesta conversa\",\n        \"ERRADO\": \"[chama materiais_marketing ou video_inicial novamente sem lead pedir]\",\n        \"CORRETO\": \"Verificar flag (materiais_enviados / video_inicial_enviado) antes de chamar. SE já enviado → não chamar.\"\n      }\n    },\n\n    \"preflow_checklist\": {\n      \"desc\": \"Executar NESTA ORDEM para cada mensagem do lead\",\n      \"passos\": [\n        {\n          \"PASSO_0_FORMULARIO\": {\n            \"if\": \"Primeira mensagem da IA na conversa\",\n            \"then\": \"Usar template de abertura com dados do formulário (Nome, Navio, Qtd Pessoas). NUNCA pedir dados já preenchidos.\",\n            \"excecao\": \"SE lead já respondeu com pergunta direta de preço/data → encantamento breve + responder + continuar fluxo\"\n          }\n        },\n        {\n          \"PASSO_1_PERGUNTA_PRODUTO\": {\n            \"if\": \"Lead fez pergunta sobre produto\",\n            \"then\": \"Identificar tipo no mapa_perguntas → consultar tool apropriada → responder ANTES\",\n            \"else\": \"Ir para PASSO_2\"\n          }\n        },\n        {\n          \"PASSO_2_PERGUNTA_REPETIDA\": {\n            \"if\": \"Lead repetiu pergunta OU escreveu '?'\",\n            \"then\": \"Reconhecer que não respondeu → responder AGORA\",\n            \"else\": \"Ir para PASSO_3\"\n          }\n        },\n        {\n          \"PASSO_3_VALIDAR_TOOL\": {\n            \"if\": \"Vou dar detalhe específico (número, horário, característica)\",\n            \"then\": \"Verificar: consultei tool? Se NÃO: usar 'Vou anotar sua dúvida!'\",\n            \"else\": \"Continuar\"\n          }\n        },\n        {\n          \"PASSO_4_ATUALIZAR_LEAD\": {\n            \"if\": \"Lead forneceu dado novo E campo NÃO está em campos_bloqueados_formulario\",\n            \"then\": \"atualizar_lead (max 1x por mensagem)\",\n            \"else\": \"Ir para PASSO_5\"\n          }\n        },\n        {\n          \"PASSO_5_REGISTRAR_INTERESSE\": {\n            \"if\": \"Lead mencionou artista/navio diferente do formulário\",\n            \"then\": \"Registrar + deduzir estilo\",\n            \"else\": \"Ir para PASSO_6\"\n          }\n        },\n        {\n          \"PASSO_6_OBJECAO_PRECO\": {\n            \"if\": \"Lead disse 'caro/puxado/não tenho dinheiro'\",\n            \"then\": \"OBRIGATÓRIO perguntar orçamento + encantamento emocional + incrementar tentativas_encantamento\",\n            \"else\": \"Ir para PASSO_7\"\n          }\n        },\n        {\n          \"PASSO_7_PROXIMA_ETAPA\": \"Executar próxima etapa pendente do fluxo_atendimento.etapas_sequenciais (adaptar ao ritmo do lead). SE qtd_pessoas=1: aplicar regra_passageiro_solo\"\n        },\n        {\n          \"PASSO_8_PONTUAR\": {\n            \"if\": \"Valores enviados E orçamento tratado\",\n            \"then\": \"Pontuar lead (0-12) → classificar (BAIXA/MEDIA/ALTA) → executar ação\",\n            \"else\": \"Continuar\"\n          }\n        },\n        {\n          \"PASSO_9_PERSISTENCIA\": {\n            \"if\": \"Hesitação E pontuação BAIXA E tentativas_encantamento < 5\",\n            \"then\": \"Aplicar persistencia (gatilhos emocionais) → incrementar tentativas_encantamento → reavaliar pontuação\",\n            \"else\": \"Continuar\"\n          }\n        },\n        {\n          \"PASSO_10_MUDANCA_FAIXA\": {\n            \"if\": \"Pontuação mudou de faixa\",\n            \"then\": \"atualizar_lead → executar ação da nova faixa\",\n            \"else\": \"Continuar\"\n          }\n        },\n        {\n          \"PASSO_11_POS_HANDOFF\": {\n            \"if\": \"handoff foi chamado\",\n            \"then\": \"Informar: 'O consultor irá entrar em contato com você para finalizar todos os detalhes! 😊'\",\n            \"else\": \"Continuar\"\n          }\n        },\n        {\n          \"PASSO_12_RESPONDER\": \"Responder: mensagem curta, máximo 1 pergunta, máximo 1 emoji, tom acolhedor\"\n        }\n      ]\n    },\n\n    \"pagamento\": {\n      \"formas_PERMITIDAS\": [\n        \"Cartão de crédito (Visa, Master, Diners, Amex): até 12x sem juros\",\n        \"À vista: 5% de desconto sobre tarifa\"\n      ],\n      \n      \"formas_PROIBIDAS\": {\n        \"NUNCA_mencionar\": [\n          \"Depósito bancário\",\n          \"Transferência bancária\",\n          \"PIX\",\n          \"Boleto bancário\",\n          \"Dinheiro em espécie\"\n        ],\n        \"se_lead_perguntar\": \"No momento trabalhamos apenas com cartão de crédito (até 12x sem juros) ou à vista com desconto. Vou anotar sua dúvida!\"\n      },\n      \n      \"se_pedir_desconto\": \"O time comercial sempre busca as melhores condições. Vou anotar seu interesse em desconto!\"\n    },\n\n    \"kpis\": {\n      \"k1\": \"Leads ALTA/MEDIA para vendedor com dados relevantes\",\n      \"k2\": \"Experiência lead >= 4/5\",\n      \"k3\": \"Qualificar em até 5 mensagens quando possível\",\n      \"k4\": \"Conversão BAIXA → MEDIA/ALTA >= 40%\",\n      \"k5\": \"Mínimo 5-7 tentativas encantamento antes encerrar BAIXA\",\n      \"k6\": \"0% menções open bar/bebidas inclusas/artistas/consultora pré-handoff\",\n      \"k7\": \"100% perguntas preço respondidas imediatamente\",\n      \"k8\": \"0% perguntas ignoradas\",\n      \"k9\": \"0% alucinações - nunca detalhe sem consultar tool\",\n      \"k10\": \"100% valores apresentados com TODAS categorias dupla\",\n      \"k11\": \"100% explicação correta para passageiro solo (valor experience resource completa)\",\n      \"k12\": \"100% valores no formato: '12x R$ [X] ou R$ [Y] à vista (por pessoa)'\",\n      \"k13\": \"0% solicitação de dados já preenchidos no formulário\",\n      \"k14\": \"video_inicial, materiais_marketing e handoff_vendedor: máximo 1x cada por conversa\"\n    },\n\n    \"TOP_3_REGRAS_ABSOLUTAS_REPEAT\": {\n      \"LEMBRAR_AO_FINAL\": [\n        \"1. NUNCA informar detalhe sem consultar tool primeiro\",\n        \"2. SEMPRE responder pergunta do lead ANTES de continuar fluxo\",\n        \"3. Apresentar TODAS categorias experience resource DUPLA na ordem natural SEM escrever 'da mais barata pra mais cara'\"\n      ]\n    }\n  }\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-544,176],"id":"1a9f7d84-3b07-431a-880d-a96b81df25ab","name":"AI Agent","executeOnce":true,"retryOnFail":true,"waitBetweenTries":5000,"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.chatid }}","tableName":"Promo","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-848,400],"id":"dd7e94da-1045-4e74-9e36-b166b68f0c18","name":"memory1","credentials":{"postgres":{"id":"TTrqj0rnakiukRd7","name":"Postgres account"}},"disabled":true},{"parameters":{"operation":"set","key":"={{ $('Edit Fields').item.json.chatid }}_audio","value":"true"},"type":"n8n-nodes-base.redisTool","typeVersion":1,"position":[-720,400],"id":"6fe15033-95f8-49e3-adeb-dd6b20e3f0d3","name":"responder_com_audio1","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}},"disabled":true},{"parameters":{"operation":"get","propertyName":"responderAudio","key":"={{ $('Edit Fields').item.json.chatid }}_audio","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[768,496],"id":"52ba80c4-ae1e-4b71-817b-b08525fc9986","name":"Redis1","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ea9564a-51af-4653-9ca8-5e15f78aace6","leftValue":"={{ $json.responderAudio }}","rightValue":"=true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[992,496],"id":"6028be49-150d-4ba7-900f-2169305ffe3b","name":"Responder com audio?1","disabled":true},{"parameters":{"description":"Acione essa ferramenta para transferir a conversa para o executivo.","workflowId":{"__rl":true,"value":"r3w5Dw0_BhhImxmvtKoq2","mode":"list","cachedResultUrl":"/workflow/r3w5Dw0_BhhImxmvtKoq2","cachedResultName":"[Transfere] [Executivo]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"phoneNumber":"={{ $('Edit Fields').item.json.chatid }}","resumoConversa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('resumoConversa', `Gere um resumo da conversa com as informações mais importantes e com as respostas do cliente.\n---\n\nSiga o seguinte exemplo:\n\n\"LEAD NOVO: Emerson Ody\n\n🎯 DETALHES:\n\nTipo de viagem: Cruzeiro temático\nQuantidade de passageiros: 3 adultos\nPrimeira viagem do grupo: Sim\nPreferência por artista: Não possui\nDatas: Aberto às datas da temporada atual\nTipo de experience resource desejada: Externa\n\n🎵 Opções de cruzeiro apresentadas\n\nAna Castela\nBarretos 70 anos\nBelo em Alto Mar\nSorriso Maroto\nRoupa Nova\n\n🛒 INTENÇÃO:\n\nLead demonstrou intenção clara de compra\n\n📞 PRÓXIMO PASSO:\n\nSolicita-se que o executivo responsável entre em contato o quanto antes para concluir a reserva.\n\nAtenciosamente,\nrag\"`, 'string') }}","sessionId":"={{ $('Edit Fields').item.json.chatid }}","urlChatwoot":"={{ $('Edit Fields').item.json.urlchatwoot }}","accountId":"={{ $('Edit Fields').item.json.account.id }}","tokenChatwoot":"={{ $('Edit Fields').item.json.chatwoottoken }}","contactId":"={{ $('Edit Fields').item.json.contact_id }}","cpf":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cpf', `cpf do cliente (apenas se mencionado)`, 'string') }}","email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', `email do cliente (apenas se mencionado)`, 'string') }}","qtdPessoas":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('qtdPessoas', `quantidade de pessoas no cruzeiro`, 'string') }}","navio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('navio', `qual cruzeiro o cliente está interessado. exemplo: Ana Castela 2026, Belo em Alto Mar, etc.\nPasse sempre o nome do artista interessado.`, 'string') }}","estilo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('estilo', `qual é o estilo do cruzeiro?\nexemplo: Se artista: 'Ana Castela' > Estilo: 'Sertanejo'\nSe artista: 'Gilberto Gil' > Estilo: 'Mbp'\n`, 'string') }}","qualificacao":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('qualificacao', `qualificacao do lead: Alta - Média - Baixa\n\nCritérios para qualificação do lead\n👉🏻 colher informação após envio de valores\n\nBaixa qualificação\n* lead sem/pouca interação\n* lead com curiosidade\n* lead não chegou em valores de compra\n* Não tem interesse no link de reserva\n\nMédia qualificação\n* lead com interação\n* lead chegou em valores para compra, porém não está dentro do budget\n* lead com intenção de viajar em outro período, próxima temporada\n* lead mostra interesse em negociar\n* Dúvida do link de reserva\n\nAlta qualificação\n* lead com interação\n* lead chegou em valores para compra e está dentro do budget\n* lead enviou cpf\n* lead com intenção de viajar dentro do período da temporada vigente\n* Tem interesse no link de reserva`, 'string') }}","campanha":"=","nomeCompleto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nomeCompleto', `nome completo do cliente`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resumoConversa","displayName":"resumoConversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"urlChatwoot","displayName":"urlChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"qtdPessoas","displayName":"qtdPessoas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"navio","displayName":"navio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"estilo","displayName":"estilo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"qualificacao","displayName":"qualificacao","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"campanha","displayName":"campanha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nomeCompleto","displayName":"nomeCompleto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-592,400],"id":"383acca0-040d-41c8-888e-0021a3bbb681","name":"handoff_vendedor1","disabled":true},{"parameters":{"description":"Acione esta ferramenta quando o cliente solicitar informações sobre um cruzeiro temático específico (ex: \"quero o cruzeiro da Ana Castela\", \"me mostra o do Zezé\"). Ela retorna vídeos e fotos do cruzeiro/artista para enriquecer a apresentação com conteúdo visual e aumentar o engajamento.\n---","workflowId":{"__rl":true,"value":"ttRqnBDs8E7WRLSwkgXdV","mode":"list","cachedResultUrl":"/workflow/ttRqnBDs8E7WRLSwkgXdV","cachedResultName":"[Demo Events Co] [materiais marketing] - Formulário"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cruzeiroInteressado":"={{ $('Get a row').item.json.Navio }}","telefone":"={{ $('Get a row').item.json.Telefone }}","conversasionid":"={{ $('Get a row').item.json.Idconversachatwoot }}","accountid":"1","chatwooturl":"={{ $('Edit Fields').item.json.urlchatwoot }}","chatwoottoken":"={{ $('Edit Fields').item.json.chatwoottoken }}"},"matchingColumns":[],"schema":[{"id":"cruzeiroInteressado","displayName":"cruzeiroInteressado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatwooturl","displayName":"chatwooturl","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"accountid","displayName":"accountid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"conversasionid","displayName":"conversasionid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-464,400],"id":"ad0dc1f4-0169-4dc1-81ab-a48473bb5544","name":"materiais_marketing1","disabled":true},{"parameters":{"description":"acione essa ferramenta logo após a primeira mensagem para o cliente","workflowId":{"__rl":true,"value":"KSsLJHdx2Ci8lkpKW4Dia","mode":"list","cachedResultUrl":"/workflow/KSsLJHdx2Ci8lkpKW4Dia","cachedResultName":"[video inicial]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Get a row').item.json.Telefone }}","cruzeiroInteressado":"={{ $('Get a row').item.json.Navio }}","accountid":"={{ $('Edit Fields').item.json.account.id }}","chatwooturl":"={{ $('Edit Fields').item.json.urlchatwoot }}","chatwoottoken":"={{ $('Edit Fields').item.json.chatwoottoken }}","conversationid":"={{ $('Edit Fields').item.json.conversation_id }}","origem":"={{ $('Edit Fields').item.json.origem }}"},"matchingColumns":[],"schema":[{"id":"cruzeiroInteressado","displayName":"cruzeiroInteressado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"accountid","displayName":"accountid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatwooturl","displayName":"chatwooturl","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"conversationid","displayName":"conversationid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-336,400],"id":"1b893042-4a84-49b3-8091-59966a8f6ffe","name":"video_inicial1","disabled":true},{"parameters":{"name":"consulta_cruzeiros","description":"=# Ferramenta: `consulta_cruzeiros`\n\nData de hoje: {{ $now.format('dd-MM-yyyy') }} > Se a data de **INICIO** do cruzeiro for anterior a **HOJE**, ignore completamente esse cruzeiro e passe apenas os próximos.\n\nSe encontrar dois eventos do mesmo artista (um que já passou e um que ainda vai ocorrer, passe apenas o que irá acontecer).\n---\n\n## O que ela faz\nConsulta um índice vetorial (Simple Vector Store) com descrições **atômicas** de **experience resource de cruzeiros temáticos** e retorna **preço por pessoa** e metadados do **navio**, **tipo de experience resource**, **datas/noites**, **porto de embarque** e **atrações**.  \nCada documento do índice representa **uma única experience resource disponível** (ex.: “Navio do Zezé 2026 — experience resource: varanda — R$ 5.538,00 por pessoa”), maximizando precisão na recuperação.\n\n## Quando usar\n- Pedidos de **preço** informando **navio** e **experience resource** (ex.: “varanda no Navio do Zezé 2026 para 3 pessoas”).  \n- **Comparar** preços entre navios/experience resource.  \n- **Calcular total** por quantidade de pessoas (preço é **por pessoa**).  \n- **Sugerir alternativas** quando não houver match exato (mesma experience resource noutro navio próximo, ou experience resource similar no mesmo navio).\n\n## Entradas (parâmetros)\n- `query` *(string, obrigatório)*: texto livre da intenção do usuário (navio, experience resource, pessoas, orçamento, preferências).  \n- `top_k` *(int, opcional; padrão = 5)*: número de candidatos a retornar.  \n- `strict` *(bool, opcional; padrão = true)*: se `true`, prioriza match exato; se `false`, permite aproximações.  \n- `filters` *(objeto, opcional)*:\n  - `navio` *(string)*: nome parcial/slug/ano (ex.: “do Zezé 2026”, “gil tempo rei 2025”).  \n  - `experience resource` *(enum: interna | externa | varanda | suite)*.  \n  - `pessoas` *(int ≥ 1)*: usado para `total_price_brl = pessoas * price_pp_brl`.  \n  - `orcamento_max_pp` *(float)*: teto por pessoa.  \n  - `orcamento_max_total` *(float)*: teto total (após multiplicação pelas pessoas).\n\n## Normalizações & Regras de negócio\n- **experience resource (sinônimos):**\n  - “suíte”, “suite” → `suite`  \n  - “varanda”, “sacada”, “balcão” → `varanda`  \n  - “externa”, “janela”, “vista mar” → `externa`  \n  - “interna”, “standard” → `interna`\n- **Preços**: sempre **por pessoa** e **com taxas**; total = `pessoas * price_pp_brl`.  \n- **Disponibilidade**: índice só contém experience resource **disponíveis** (linhas “Esgotado” foram excluídas).  \n- **Correspondência de navio**: aceita variações de nome/ano; prioriza match exato.  \n- **Moeda**: `BRL` (não converter).  \n- **Critério de desempate**: (1) mesma experience resource + mesmo navio; (2) mesma experience resource + navio mais próximo; (3) experience resource mais próxima no mesmo navio.\n\n## Saída (formato determinístico)\nArray ordenado por relevância/adequação. Cada item:\n\n```json\n{\n  \"cruise_name\": \"Jorge e Mateus\",\n  \"slug\": \"jorge-e-mateus\",\n  \"cabin_type\": \"varanda\",\n  \"price_pp_brl\": 7098.0,\n  \"pessoas\": 2,\n  \"total_price_brl\": 14196.0,\n  \"date_nights\": \"08/01/2026 - 03 noites\",\n  \"embark\": \"Santos\",\n  \"attractions\": [\"Bell Marques\",\"Jota Quest\",\"Gustavo Mioto\",\"Valyton&Romário\",\"Pedro Libe\",\"Muito Mais\"],\n  \"score\": 0.83,\n  \"source_preview\": \"Cruzeiro: Jorge e Mateus\\n... experience resource: varanda\\nPreço por pessoa: R$ 7098.0 ...\"\n}\n```\n\n**Campos:**\n- `score`: similaridade/relevância (0–1).  \n- `source_preview`: trecho curto do documento para auditoria.  \n- `pessoas` e `total_price_brl`: presentes se `filters.pessoas` for informado ou inferido da `query`.\n\n## Estratégia de recuperação e ranqueamento\n1. **Embedding similarity** da `query` contra `text` dos documentos.  \n2. **Bônus/Penalidades** por match exato de:\n   - `experience resource` (peso alto)\n   - `navio`/`slug`/ano (peso alto)\n   - orçamento (`<=` teto por pessoa/total, se fornecido)  \n3. **Ordenação final** por score composto; em empate, menor `price_pp_brl`.\n\n## Comportamento em falhas/ausências\n- **Sem resultados estritos** (`strict=true`): retornar vazio **e** sugerir fallback (mesma experience resource em edição próxima / experience resource similar).  \n- **Sem filtros claros** (experience resource/navio não inferidos): retornar `top_k` diversos **com** explicação de como refinar:\n  - “Informe navio, experience resource e nº de pessoas. Ex.: ‘Varanda no Navio do Zezé 2026 para 3 pessoas’.”  \n- **Acima do orçamento**: retornar matches mais próximos e incluir `within_budget=false` em cada item.\n\n## Exemplos (few-shots)\n\n**Entrada**\n```json\n{\n  \"query\": \"Belo em Alto Mar, experience resource interna para 2 pessoas\",\n  \"top_k\": 3\n}\n```\n**Saída (resumo)**\n- Top-1: `Belo em Alto Mar` — `interna` — `price_pp_brl=5058` — `total=10116`.\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"Quero varanda no Navio do Zezé 2026 até 6 mil por pessoa\",\n  \"filters\": { \"orcamento_max_pp\": 6000 },\n  \"top_k\": 3\n}\n```\n**Saída (resumo)**\n- Top-1: `do Zezé 2026` — `varanda` — `price_pp_brl=5538` (dentro do orçamento).\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"Suite no Gil Tempo Rei 2025 para 4 pessoas\",\n  \"top_k\": 1\n}\n```\n**Saída (resumo)**\n- Top-1: `Gil - Tempo Rei` — `suite` — `price_pp_brl=14418` — `total=57672`.\n\n## Restrições & Garantias\n- **Não inventar** valores: só retornar o que está no índice.  \n- **Não converter moeda**: manter `BRL`.  \n- **Formato fixo**: sempre retornar o array de objetos conforme especificação.  \n- **Privacidade**: não expor chaves internas além de `slug`/`source_preview`.\n\n## Observação de implementação\nO índice foi construído com documentos **atômicos por experience resource** (texto curto + metadados) e embeddings OpenAI (`text-embedding-3-small`). Para **persistência**, trocar o Simple Vector Store por **pgvector/Pinecone/Qdrant** mantendo o mesmo contrato da ferramenta.","topK":100},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-208,400],"id":"f655b228-6153-4f15-93ef-0fcc3c1af1d5","name":"consulta_cruzeiros","disabled":true},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[80,608],"id":"ce74bf1f-a5c5-4686-b916-835c68867d92","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ba033595-af4b-48b4-bd51-ab9d5537de48","leftValue":"={{ $('Get a row').item.json.Pausado }}","rightValue":"Ativada","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4240,752],"id":"b7e129a8-d634-4d2a-bad3-c6b5dc2c31de","name":"Ativa?1","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Edit Fields').item.json.mensagem }}","rightValue":"text","operator":{"type":"string","operation":"exists","singleValue":true},"id":"175286c8-574c-4e4d-8be1-459cb46ab491"}],"combinator":"and"},"renameOutput":true,"outputKey":"TEXT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3fb552d6-be7d-405b-8195-d22a6748b937","leftValue":"={{ $('Edit Fields').item.json.body.conversation.messages[0].attachments[0].file_type }}","rightValue":"=audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AUDIO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fb5a8b6a-789f-4131-9867-399aae556762","leftValue":"={{ $('Edit Fields').item.json.body.conversation.messages[0].attachments[0].file_type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-4016,736],"id":"1ce74da8-b4a6-417a-83ec-4773f2fb577f","name":"Switch1","alwaysOutputData":false,"disabled":true},{"parameters":{"operation":"push","list":"={{ $('Edit Fields').item.json.chatid }}","messageData":"={{ $json.text }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3344,656],"id":"0fc0d62d-dd92-4957-9259-d79a38472338","name":"AUDIO MEMORY","alwaysOutputData":true,"credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}},"disabled":true},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"O que está na imagem?","inputType":"base64","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-3568,848],"id":"8f2508ad-8487-4add-a7fa-9bd2bafe9658","name":"Analyze image","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}},"disabled":true},{"parameters":{"operation":"push","list":"={{ $('Edit Fields').item.json.chatid }}","messageData":"={{ $('Edit Fields').item.json.mensagem }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3344,368],"id":"af3e6d39-4bb1-4a0c-9c50-26903585b71a","name":"TEXT MEMORY1","alwaysOutputData":true,"credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}},"disabled":true},{"parameters":{"operation":"push","list":"={{ $('Edit Fields').item.json.chatid }}","messageData":"={{ $json.output[0].content[0].text }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3344,848],"id":"8bf088f1-a56f-4982-8af3-9844c8ecb7db","name":"IMAGE MEMORY","alwaysOutputData":true,"credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}},"disabled":true},{"parameters":{"url":"={{ $('Webhook').item.json.body.messages[0].attachments[0].data_url }}","options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-3792,656],"id":"d3ab209b-5fb1-474b-904f-ffac195b801d","name":"HTTP Request2","disabled":true},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2896,496],"id":"22cfcd43-96da-4a24-90e5-3674f34ae670","name":"Wait5","webhookId":"a15b5aea-b552-47ed-aeab-219b975d2107","disabled":true},{"parameters":{"operation":"get","propertyName":"Message2","key":"={{ $('Edit Fields').item.json.chatid }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2672,496],"id":"e1703ee1-c4d4-48dd-b0b2-68284b46c45f","name":"Get Memory ","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bef86970-3bc9-40ed-b40e-d8402a1acbfa","leftValue":"={{ $('Edit Fields').item.json.body.conversation.messages[0].attachments[0].file_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1776,496],"id":"fe273221-f2a2-4a83-b01d-1ccb1fdd0eb6","name":"É audio?1","disabled":true},{"parameters":{"operation":"set","key":"={{ $('Edit Fields').item.json.chatid }}_audio","value":"true"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1552,416],"id":"df8a5d76-7267-4452-b387-d13a011d0865","name":"Responda com audio1","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"c5ede0a9-9667-4a4e-8580-2eb5c3bb5f22","name":"Message2","value":"={{ $json.Message2 }}","type":"array"},{"id":"8ce7a270-ae08-431b-9856-4a71672ca304","name":"Message1","value":"={{ $('Get Memory').item.json.Message1 }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2448,496],"id":"34d4797f-982c-48b5-951b-ad3202be771e","name":"Edit Fields3","disabled":true},{"parameters":{"operation":"get","propertyName":"Message1","key":"={{ $('Edit Fields').item.json.chatid }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3120,496],"id":"5574ccd9-110f-4021-8267-4f28d32cc3bd","name":"Get Memory","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}},"disabled":true},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').item.json.server_url }}/message/sendWhatsAppAudio/{{ $('Edit Fields').item.json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Edit Fields').item.json.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Code5').item.json.formattedPhone }}"},{"name":"audio","value":"={{ $json.data }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[992,896],"id":"0facc6d9-412c-4a8e-ac61-f54d69b1748e","name":"Envia Audio1","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"disabled":true},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1216,896],"id":"d202bf4c-8ecc-4f46-9704-7f166b517d6a","name":"Wait1","webhookId":"5d1bcbed-8d7f-4674-b233-feee9a6ddca9","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"0ec64d01-6771-43d6-98ad-8e232452b5b8","name":"account.id","value":"={{ $json.body.messages[0].account_id }}","type":"number"},{"id":"7b398cca-e21a-4c17-b460-7a63c0a97d7c","name":"type","value":"={{ $json.body.messages[0].content_type }}","type":"string"},{"id":"a9468c48-6ed9-4bc1-a406-12c3feaf31bf","name":"contact_inbox.id","value":"={{ $json.body.messages[0].inbox_id }}","type":"number"},{"id":"d4793baa-8beb-487e-96eb-baf79b36eead","name":"mensagem","value":"={{ $json.body.messages[0].content }}","type":"string"},{"id":"8b9c3078-2a83-40a6-8564-b746d0e8c12f","name":"conversation_id","value":"={{ $json.body.messages[0].conversation_id }}","type":"number"},{"id":"0f006af6-2b53-4208-b519-23e51982e683","name":"chatid","value":"={{ $json.body.messages[0].sender.phone_number }}","type":"string"},{"id":"d3d633d7-fc38-4caa-b6c2-31e1801fd2d0","name":"name","value":"={{ $json.body.messages[0].sender.name }}","type":"string"},{"id":"5988de65-829f-403d-9127-d92e50034970","name":"urlchatwoot","value":"https://chatwoot.demo-events.com.br","type":"string"},{"id":"9f08061a-4842-4e2e-9644-3ccfbb5a6c2e","name":"chatwoottoken","value":"${CHATWOOT_TOKEN}","type":"string"},{"id":"736c8d0f-2a0b-4456-bb04-28d0ee08b4de","name":"body.conversation.messages[0].attachments[0].file_type","value":"={{ $json.body.messages[0].attachments[0].file_type }}","type":"string"},{"id":"f95b6189-a88c-4a03-8769-c69b4f1f6ac9","name":"contact_id","value":"={{ $json.body.contact_inbox.contact_id }}","type":"number"},{"id":"654fa980-ef05-4eae-bf32-548cf55b2f93","name":"tabela_whatsapp","value":"sdr_whatsapp_forms","type":"string"},{"id":"c4d71f6f-cf1b-4b35-ba09-0acb0427cadb","name":"tipo_fluxo","value":"homologacao","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6560,944],"id":"df3dac71-2348-4627-a799-78e90aa4efcb","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"481f3705-e2b7-4d0a-aafb-792ee84fb980","leftValue":"={{ $json.chatid }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5360,848],"id":"9b7bc88f-e055-4d00-bfb8-f30d89afc2a6","name":"If2","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e7ff7a2f-01f9-42dc-a358-b187a89e2ffc","leftValue":"={{ $json.mensagem.toLowerCase() }}","rightValue":"#reset","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5136,848],"id":"04982738-3e46-42ef-aeca-97703116c855","name":"#reset?","disabled":true},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"promo","mode":"list","cachedResultName":"promo"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"={{ $('Edit Fields').item.json.chatid }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4912,752],"id":"1f0f4443-bc39-43c5-a42d-07fc09049917","name":"Deleta conversas","credentials":{"postgres":{"id":"TTrqj0rnakiukRd7","name":"Postgres account"}},"disabled":true},{"parameters":{"url":"={{ $('Webhook').item.json.body.messages[0].attachments[0].data_url }}","options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-3792,848],"id":"b4e17837-90bd-4e92-a60f-d7d3126baaf8","name":"HTTP Request3","disabled":true},{"parameters":{"tableName":"basedeconhecimento","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[208,608],"id":"a114aff9-1eeb-4b24-a039-ff4de48b9262","name":"base vetorial de conhecimento promo","credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}},"disabled":true},{"parameters":{"name":"consultar_base_conhecimento","description":"=# Ferramenta: `consultar_base_conhecimento`\n\nData de hoje: {{ $now.format('dd-MM-yyyy') }}\n\n---\n\n## O que ela faz\nConsulta um índice vetorial (Simple Vector Store) com a **base de conhecimento geral** da Demo Events Co: informações sobre a **empresa**, **navio MSC Divina**, **experience resource**, **pacotes**, **rota/embarque**, **transfer**, **FAQs** e **quebra de objeções**.  \nCada documento do índice representa **um único tópico atômico** (ex.: \"Empresa - Credibilidade\", \"experience resource - Varanda Experience\", \"FAQ - É golpe?\"), maximizando precisão na recuperação.\n\n## Quando usar\n- Perguntas sobre a **empresa** (credibilidade, CNPJ, histórico, modelo de operação).\n- Perguntas sobre o **navio MSC Divina** (estrutura, destaques, Yacht Club).\n- Perguntas sobre **experience resource** (tipos, tamanhos, benefícios, diferenças).\n- Perguntas sobre **pacotes** (o que inclui, o que não inclui, bebidas Experience).\n- Perguntas sobre **rota/percurso** (trajeto padrão, Réveillon especial).\n- Perguntas sobre **embarque** (local, horários).\n- Perguntas sobre **transfer** (valor, pontos de saída).\n- Perguntas frequentes (**FAQs**) de leads.\n- **Quebra de objeções** (respostas sugeridas com técnicas de venda).\n- **Diferenciais de venda** (argumentos matadores para conversão).\n\n## Quando NÃO usar\n- **Preços específicos** de cruzeiros → usar `consulta_cruzeiros`\n- **Datas de embarque** → usar `consulta_cruzeiros`\n- **Disponibilidade de experience resource** → usar `consulta_cruzeiros`\n- **Artistas confirmados** por cruzeiro → usar `consulta_cruzeiros`\n- **Formas de pagamento** → usar bloco `pagamento` do prompt (inline)\n\n## Entradas (parâmetros)\n- `query` *(string, obrigatório)*: texto livre da pergunta do lead ou intenção de busca.\n- `top_k` *(int, opcional; padrão = 3)*: número de documentos a retornar.\n- `filters` *(objeto, opcional)*:\n  - `topic` *(enum)*: filtrar por categoria específica.\n  - `subtopic` *(string)*: filtrar por subcategoria.\n  - `faq_type` *(string)*: filtrar FAQs por tipo.\n  - `objecao_tipo` *(string)*: filtrar objeções por categoria.\n\n## Tópicos disponíveis (enum `topic`)\n| Topic | Conteúdo |\n|-------|----------|\n| `empresa` | Dados institucionais, credibilidade, modelo de operação |\n| `navio` | MSC Divina, estrutura, destaques, Yacht Club |\n| `experience resource` | Todas as categorias (Interna até Yacht Club) |\n| `pacotes` | O que inclui, não inclui, bebidas Experience |\n| `rota` | Trajeto padrão, Réveillon especial |\n| `embarque` | Local (Santos), horários |\n| `transfer` | Valor, pontos de saída |\n| `faq` | Perguntas frequentes com respostas |\n| `objecoes` | Respostas sugeridas + técnicas de venda |\n| `vendas` | Diferenciais matadores para conversão |\n\n## Normalizações & Regras de negócio\n- **Aliases**: aceita variações de termos:\n  - \"golpe\", \"fake\", \"confiável\" → `faq` (confiança)\n  - \"percurso\", \"trajeto\", \"rota\", \"por onde passa\" → `rota`\n  - \"o que vem\", \"incluso\", \"incluído\" → `pacotes`\n  - \"caro\", \"muito caro\", \"não tenho dinheiro\" → `objecoes` (preço)\n  - \"pensar\", \"vou pensar\", \"consultar esposa\" → `objecoes` (decisão)\n- **Keywords**: cada documento tem palavras-chave para matching.\n- **Entities**: documentos podem ter entidades associadas (ex.: \"MSC Divina\", \"Sophia Loren\").\n- **Prioridade de busca**:\n  1. Match exato de `topic` + `keywords`\n  2. Match por `aliases`\n  3. Similaridade semântica geral\n\n## Saída (formato determinístico)\nArray ordenado por relevância. Cada item:\n\n```json\n{\n  \"doc_id\": \"faq_confianca_golpe\",\n  \"topic\": \"faq\",\n  \"subtopic\": \"confianca\",\n  \"title\": \"FAQ: É golpe? É confiável?\",\n  \"content\": \"A Demo Events Co é 100% confiável:\\n- 20 anos de mercado (desde 2006)\\n- CNPJ ativo: 08.035.509/0001-81\\n- 300.000+ passageiros já embarcados...\",\n  \"keywords\": [\"golpe\", \"confiável\", \"seguro\", \"verdade\", \"fake\", \"fraude\"],\n  \"aliases\": [\"é golpe\", \"é confiável\", \"posso confiar\", \"é verdade\", \"é fake\"],\n  \"score\": 0.92\n}\n```\n\n**Campos:**\n- `doc_id`: identificador único do documento.\n- `topic`: categoria principal.\n- `subtopic`: subcategoria (se aplicável).\n- `title`: título descritivo.\n- `content`: conteúdo textual para resposta.\n- `keywords`: palavras-chave associadas.\n- `aliases`: variações de perguntas que matcheiam este documento.\n- `score`: similaridade/relevância (0–1).\n\n## Saída especial para objeções\nQuando `topic = objecoes`, a saída inclui campos extras:\n\n```json\n{\n  \"doc_id\": \"objecao_caro\",\n  \"topic\": \"objecoes\",\n  \"subtopic\": \"preco\",\n  \"objecao\": \"Tá caro / Muito caro / Não tenho dinheiro\",\n  \"respostas_sugeridas\": [\n    \"Entendo que é um investimento! Mas pensa: são 3-4 dias com hospedagem, alimentação completa 24h, shows de artistas...\",\n    \"Posso te mostrar a experience resource interna que é mais acessível? E ainda parcela em até 12x sem juros.\"\n  ],\n  \"tecnica_venda\": \"Ancoragem de valor + comparativo + parcelamento + downsell\",\n  \"keywords\": [\"caro\", \"muito caro\", \"não tenho\", \"preço alto\"],\n  \"score\": 0.88\n}\n```\n\n## Estratégia de recuperação e ranqueamento\n1. **Filtro por `topic`** (se fornecido) → reduz universo de busca.\n2. **Match de `keywords`** e `aliases` → bônus alto para match exato.\n3. **Embedding similarity** da `query` contra `text` dos documentos.\n4. **Ordenação final** por score composto.\n\n## Comportamento em falhas/ausências\n- **Sem resultados**: retornar vazio e sugerir reformulação:\n  - \"Não encontrei informação específica sobre isso. Pode reformular a pergunta?\"\n- **Query ambígua**: retornar `top_k` diversos com explicação:\n  - \"Encontrei informações sobre [X] e [Y]. Qual delas te interessa?\"\n- **Fora do escopo**: informar que não temos a informação e redirecionar:\n  - \"Essa informação não está na nossa base. Posso te ajudar com algo sobre nossos cruzeiros temáticos?\"\n\n## Exemplos (few-shots)\n\n**Entrada**\n```json\n{\n  \"query\": \"isso é golpe?\",\n  \"top_k\": 1\n}\n```\n**Saída (resumo)**\n- Top-1: `faq_confianca_golpe` — \"A Demo Events Co é 100% confiável: 20 anos de mercado, CNPJ ativo...\"\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"qual o percurso do navio?\",\n  \"top_k\": 1\n}\n```\n**Saída (resumo)**\n- Top-1: `rota_trajeto` — \"Santos → Búzios → Angra dos Reis → Santos. Nem sempre é exatamente essa rota, mas quase sempre segue esse trajeto!\"\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"tá muito caro\",\n  \"filters\": { \"topic\": \"objecoes\" },\n  \"top_k\": 1\n}\n```\n**Saída (resumo)**\n- Top-1: `objecao_caro` — Respostas sugeridas + técnica \"Ancoragem de valor + comparativo + parcelamento\"\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"diferença entre varanda e varanda experience\",\n  \"top_k\": 2\n}\n```\n**Saída (resumo)**\n- Top-1: `faq_varanda_vs_experience` — \"A experience resource física é similar. A diferença é o pacote de benefícios!\"\n- Top-2: `cabine_varanda_experience` — Detalhes dos benefícios Experience\n\n---\n\n**Entrada**\n```json\n{\n  \"query\": \"o que está incluso no pacote?\",\n  \"top_k\": 1\n}\n```\n**Saída (resumo)**\n- Top-1: `pacotes_incluso` — \"Shows, alimentação completa (café, almoço, jantar, madrugada), acomodação, serviço 24h...\"\n\n## Restrições & Garantias\n- **Não inventar** informações: só retornar o que está no índice.\n- **Não usar para preços**: preços vêm de `consulta_cruzeiros`.\n- **Não usar para pagamento**: formas de pagamento estão inline no prompt.\n- **Formato fixo**: sempre retornar array de objetos conforme especificação.\n- **Atualização**: base reflete informações da temporada 2026/2027 com MSC Divina.\n\n## Observação de implementação\nO índice foi construído com documentos **atômicos por tópico** (texto + metadados) seguindo a estrutura:\n```json\n{\n  \"data\": [\n    {\n      \"text\": \"conteúdo...\",\n      \"metadata\": {\n        \"doc_id\": \"...\",\n        \"topic\": \"...\",\n        \"keywords\": [...],\n        \"aliases\": [...]\n      }\n    }\n  ]\n}\n```\nEmbeddings compatíveis com OpenAI (`text-embedding-3-small`). Para **persistência**, usar **pgvector/Pinecone/Qdrant** mantendo o mesmo contrato.","topK":100},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[144,400],"id":"d9eca682-6d99-4f04-ac26-580421cafece","name":"consultar_base_conhecimento","disabled":true},{"parameters":{"operation":"delete","key":"={{ $('Edit Fields').item.json.chatid }}_video_inicial"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4688,752],"id":"26a6de4d-727a-47a6-9715-a8cda568112c","name":"Redis2","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}},"disabled":true},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').item.json.urlchatwoot }}/api/v1/accounts/{{ $('Edit Fields').item.json.account.id }}/conversations/{{ $('Edit Fields').item.json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').item.json.chatwoottoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Loop Over Items').item.json.result }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1664,768],"id":"d71d04d6-d441-45c8-a953-8677892db750","name":"HTTP Request19","disabled":true},{"parameters":{"jsCode":"const message1 = $json.Message1;\nconst message2 = $json.Message2;\n\n// Compara os arrays convertendo para string\nconst saoIguais = JSON.stringify(message1) === JSON.stringify(message2);\n\nif (!saoIguais) {\n  // Mensagens diferentes - retorna false\n  return [{\n    json: {\n      resultado: false\n    }\n  }];\n}\n\n// Mensagens iguais - retorna a mensagem\nreturn [{\n  json: {\n    mensagem: message1[0],\n    resultado: true\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2224,496],"id":"7ec85b7b-0ac7-4165-a0d3-a72e67bcc686","name":"Code in JavaScript4","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8b968ca1-a12f-40db-9997-3bf852d4c1ed","leftValue":"={{ $json.resultado }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2000,496],"id":"6232070c-4b39-4e47-9053-253e617d640b","name":"If4","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b0d33c42-ac20-4a25-a4b7-b3ba9bc2980c","leftValue":"={{ $json.Telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4688,944],"id":"b87b3eb8-20cc-4ee5-9cc5-33a49fb4e474","name":"If10","disabled":true},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').item.json.urlchatwoot }}/api/v1/accounts/1/conversations/{{ $('Edit Fields').item.json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').item.json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-3568,1040],"id":"d303fa40-7f5c-40fc-a34a-ca5f4bb95775","name":"HTTP Request21","disabled":true},{"parameters":{"url":"https://s3.example.com/codex/audioapresentacaorag.mp3","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-3792,1040],"id":"c0496dcb-107c-461c-9255-3cd8a59cc81e","name":"HTTP Request","disabled":true},{"parameters":{"jsCode":"// Lê todos os itens de entrada\nconst items = $input.all();\n\nfor (const item of items) {\n  // 50% de chance pra cada variante\n  item.json.variant = Math.random() < 0.5 ? 'A' : 'B';\n}\n\n// Precisa SEMPRE retornar um array de objetos (itens)\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4240,1136],"id":"d7b87fba-8161-4b2b-b25a-533565a81c3b","name":"Code in JavaScript5","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4a44fff7-d4ab-4cb8-885d-5f4b433bf2d3","leftValue":"={{ $json.variant }}","rightValue":"A","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4016,1136],"id":"706ae974-20b9-4623-b3db-7083abb6eb68","name":"If","disabled":true},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').item.json.urlchatwoot }}/api/v1/accounts/1/conversations/{{ $('Edit Fields').item.json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Edit Fields').item.json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content","value":"Olá! Prazer, sou a DomainAssistant. 😊Especialista em cruzeiros temáticos da Demo Events Co. Vou te ajudar a viver um festival em alto mar!\n\nCom quem eu falo? Pode me passar seu nome completo, por favor?"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-3792,1232],"id":"91002261-af62-415c-a402-1328f9ef90e2","name":"HTTP Request22","disabled":true},{"parameters":{"description":"# Tool: atualizar_lead\n\n## Descrição\nAtualiza informações do lead no CRM em tempo real. Esta tool DEVE ser chamada IMEDIATAMENTE sempre que o lead fornecer qualquer informação relevante durante a conversa. Não acumular atualizações - cada dado coletado deve disparar uma chamada individual desta tool.\n\n## Quando Usar (OBRIGATÓRIO)\n- Lead informa nome/sobrenome\n- Lead informa email\n- Lead informa CPF/telefone\n- Lead informa quantidade de pessoas para viagem\n- Lead menciona artista/cruzeiro de interesse\n- Lead informa orçamento disponível\n- Após apresentar valores ao lead\n- Após avaliar qualificação do lead (BAIXA/MEDIA/ALTA)\n- ANTES de chamar handoff_vendedor\n- Lead fornece qualquer outro dado relevante\n\n## Parâmetros\n\n### lead_id (obrigatório)\n- Tipo: string\n- Descrição: ID único do lead no sistema\n\n### campo (obrigatório)\n- Tipo: string\n- Descrição: Nome do campo a ser atualizado\n- Exemplos: \"nome_completo\", \"email\", \"cpf\", \"orcamento_declarado\", \"qualificacao\", \"valores_enviados\"\n\n### valor (obrigatório)\n- Tipo: string | number | boolean\n- Descrição: Valor a ser salvo no campo\n\n### timestamp (auto)\n- Tipo: datetime\n- Descrição: Data/hora da atualização (preenchido automaticamente)\n\n## Campos Rastreados\n\n### Dados Pessoais\n- nome, sobrenome, nome_completo\n- email, cpf, telefone\n- empresa\n\n### Dados da Viagem\n- cruzeiro, navio, artista\n- data, porto\n- qtd_pessoas, qtd_adultos, qtd_criancas, tem_criancas\n- ja_fez_cruzeiro, qual_fez, primeira_viagem\n- cabine_tipo\n\n### Dados Financeiros (CRÍTICOS)\n- orcamento_declarado (valor que lead informou)\n- orcamento_maximo_flexivel (se consegue esticar)\n- gap_orcamento (diferença entre valor_cabine e orçamento)\n- percentual_gap (gap / valor_cabine * 100)\n- flexibilidade_orcamento (alta|media|baixa|nenhuma)\n- dentro_budget (sim|nao|nao_informou)\n- valores_enviados (true|false)\n- valor_cabine_apresentado\n\n### Qualificação (CRÍTICOS)\n- qualificacao (BAIXA|MEDIA|ALTA)\n- pontuacao_qualificacao (0-100)\n- interesse_link_reserva (sim|nao|duvida)\n- pediu_falar_vendedor (sim|nao)\n- periodo_viagem (temporada_vigente|proxima_temporada|indefinido)\n\n### Controle de Processo\n- forneceu_email (true|false)\n- forneceu_cpf (true|false)\n- handoff_realizado (sim|nao)\n- estilo_musical (axe_forro|sertanejo|rock|pagode)\n- artista_inicial, navio_inicial\n- materiais_enviados (array)\n- icp (casal|amigos|familia|fa|solo)\n- temp (frio|morno|quente)\n\n## Exemplos de Uso\n\n### Exemplo 1: Lead informa nome\n```json\n{\n  \"lead_id\": \"12345\",\n  \"campo\": \"nome_completo\",\n  \"valor\": \"João Silva\"\n}\n```\n\n### Exemplo 2: Lead informa quantidade de pessoas\n```json\n{\n  \"lead_id\": \"12345\",\n  \"campo\": \"qtd_pessoas\",\n  \"valor\": 2\n}\n```\nSeguido de:\n```json\n{\n  \"lead_id\": \"12345\",\n  \"campo\": \"qtd_adultos\",\n  \"valor\": 2\n}\n```\nE:\n```json\n{\n  \"lead_id\": \"12345\",\n  \"campo\": \"icp\",\n  \"valor\": \"casal\"\n}\n```\n\n### Exemplo 3: Apresentou valores\n```json\n{\n  \"lead_id\": \"12345\",\n  \"campo\": \"valores_enviados\",\n  \"valor\": true\n}\n```\nSeguido de:\n```json\n{\n  \"lead_id\": \"12345\",\n  \"campo\": \"valor_cabine_apresentado\",\n  \"valor\": 4500\n}\n```\n\n### Exemplo 4: Lead informa orçamento\n```json\n{\n  \"lead_id\": \"12345\",\n  \"campo\": \"orcamento_declarado\",\n  \"valor\": 3000\n}\n```\nSeguido de (cálculo automático):\n```json\n{\n  \"lead_id\": \"12345\",\n  \"campo\": \"gap_orcamento\",\n  \"valor\": 1500\n}\n```\nE:\n```json\n{\n  \"lead_id\": \"12345\",\n  \"campo\": \"percentual_gap\",\n  \"valor\": 33\n}\n```\nE:\n```json\n{\n  \"lead_id\": \"12345\",\n  \"campo\": \"dentro_budget\",\n  \"valor\": \"nao\"\n}\n```\n\n### Exemplo 5: Avaliou qualificação\n```json\n{\n  \"lead_id\": \"12345\",\n  \"campo\": \"qualificacao\",\n  \"valor\": \"ALTA\"\n}\n```\nSeguido de:\n```json\n{\n  \"lead_id\": \"12345\",\n  \"campo\": \"pontuacao_qualificacao\",\n  \"valor\": 85\n}\n```\n\n### Exemplo 6: Antes de handoff\n```json\n{\n  \"lead_id\": \"12345\",\n  \"campo\": \"handoff_realizado\",\n  \"valor\": \"sim\"\n}\n```\n\n## Regras Críticas\n\n1. **Atualização Imediata**: NÃO acumular múltiplas atualizações. Cada informação = 1 chamada da tool.\n\n2. **Múltiplos Dados na Mesma Mensagem**: Se lead fornece nome + email numa mensagem, chamar tool 2x:\n   - 1ª chamada: atualizar_lead(campo='nome_completo', valor='João')\n   - 2ª chamada: atualizar_lead(campo='email', valor='joao@email.com')\n\n3. **Orçamento (OBRIGATÓRIO)**: Ao coletar orçamento, SEMPRE atualizar:\n   - orcamento_declarado\n   - gap_orcamento (calcular)\n   - percentual_gap (calcular)\n   - dentro_budget\n   - flexibilidade_orcamento\n\n4. **Antes de Handoff (OBRIGATÓRIO)**: Sempre chamar:\n   - atualizar_lead(handoff_realizado='sim')\n   ANTES de chamar a tool handoff_vendedor\n\n5. **Qualificação (OBRIGATÓRIO)**: Após enviar valores + coletar orçamento, SEMPRE atualizar:\n   - qualificacao (BAIXA|MEDIA|ALTA)\n   - pontuacao_qualificacao\n\n6. **Estilo Musical**: Ao detectar artista, SEMPRE atualizar:\n   - artista_inicial ou artista_interesse\n   - estilo_musical (deduzir via mapeamento)\n\n## Fluxo Típico de Atualizações\n\n```\n1. Lead: \"João Silva\"\n   → atualizar_lead(nome_completo='João Silva')\n\n2. Lead: \"Nunca fiz cruzeiro\"\n   → atualizar_lead(ja_fez='nao')\n   → atualizar_lead(primeira_viagem='sim')\n\n3. Lead: \"Eu e minha esposa\"\n   → atualizar_lead(qtd_pessoas=2)\n   → atualizar_lead(qtd_adultos=2)\n   → atualizar_lead(icp='casal')\n\n4. IA apresenta valores R$4.500\n   → atualizar_lead(valores_enviados=true)\n   → atualizar_lead(valor_cabine_apresentado=4500)\n\n5. Lead: \"Tenho R$3.000\"\n   → atualizar_lead(orcamento_declarado=3000)\n   → atualizar_lead(gap_orcamento=1500)\n   → atualizar_lead(percentual_gap=33)\n   → atualizar_lead(dentro_budget='nao')\n\n6. IA avalia: critérios MEDIA atendidos\n   → atualizar_lead(qualificacao='MEDIA')\n   → atualizar_lead(pontuacao_qualificacao=65)\n\n7. IA decide fazer handoff\n   → atualizar_lead(handoff_realizado='sim')\n   → [depois chamar handoff_vendedor]\n```\n\n## Vantagens\n\n- **Dados salvos em tempo real**: Mesmo se conversa cair, informações estão seguras\n- **Histórico completo**: Vendedor recebe lead com todo o contexto\n- **Analytics**: Métricas de conversão em tempo real\n- **Rastreabilidade**: Log de todas mudanças de estado\n- **Recuperação**: Se IA falhar, pode retomar de onde parou\n\n## Erros Comuns a Evitar\n\n❌ **ERRADO**: Coletar nome, email e cpf, depois chamar tool 1x com tudo\n✅ **CORRETO**: Chamar tool 3x (1 para cada campo)\n\n❌ **ERRADO**: Apresentar valores e não atualizar valores_enviados\n✅ **CORRETO**: Sempre marcar valores_enviados=true após apresentar\n\n❌ **ERRADO**: Coletar orçamento e só atualizar orcamento_declarado\n✅ **CORRETO**: Atualizar orcamento + calcular gap + avaliar dentro_budget\n\n❌ **ERRADO**: Fazer handoff sem atualizar handoff_realizado antes\n✅ **CORRETO**: Sempre atualizar handoff_realizado='sim' ANTES de chamar handoff_vendedor\n\n❌ **ERRADO**: Não atualizar qualificacao após enviar valores\n✅ **CORRETO**: SEMPRE avaliar e atualizar qualificacao (BAIXA|MEDIA|ALTA)\n\n## Response\nA tool retorna confirmação da atualização:\n```json\n{\n  \"success\": true,\n  \"lead_id\": \"12345\",\n  \"campo\": \"nome_completo\",\n  \"valor\": \"João Silva\",\n  \"timestamp\": \"2026-01-29T10:30:00Z\"\n}\n```\n\n## Notas Importantes\n- Esta é uma das tools MAIS CRÍTICAS do sistema\n- Sem ela, dados do lead são perdidos\n- Vendedor depende 100% dessas informações\n- Qualificação ALTA/MEDIA/BAIXA depende dos dados atualizados\n- Handoff só funciona bem se dados estiverem completos","workflowId":{"__rl":true,"value":"rw727GHPRFh3CGY1XXch1","mode":"list","cachedResultUrl":"/workflow/rw727GHPRFh3CGY1XXch1","cachedResultName":"atualizar_lead"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Estilo","displayName":"Estilo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Navio","displayName":"Navio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Orcamento","displayName":"Orcamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Quantidade de Pessoas","displayName":"Quantidade de Pessoas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[432,400],"id":"066ceb7e-d166-402e-8317-7f0c35f5853f","name":"atualizar_lead","disabled":true},{"parameters":{"operation":"get","tableId":"SDR Formulário","filters":{"conditions":[{"keyName":"Telefone","keyValue":"={{ $('Edit Fields').item.json.chatid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4912,944],"id":"505f9904-8e5d-4dbe-94dc-bd8cb1a28fb1","name":"Get a row","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}},"disabled":true},{"parameters":{"tableId":"SDR Formulário","fieldsUi":{"fieldValues":[{"fieldId":"Nome","fieldValue":"={{ $('Edit Fields').item.json.name }}"},{"fieldId":"Telefone","fieldValue":"={{ $('Edit Fields').item.json.chatid }}"},{"fieldId":"Idconversachatwoot","fieldValue":"={{ $('Edit Fields').item.json.conversation_id }}"},{"fieldId":"Idcontatochatwoot","fieldValue":"={{ $('Edit Fields').item.json.contact_id }}"},{"fieldId":"Data Entrada","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"Hora Mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"Mensagem Lead","fieldValue":"={{false}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4464,1136],"id":"c6107b22-f7c7-411c-a713-5450a8a3623c","name":"Create a row","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}},"disabled":true},{"parameters":{"operation":"update","tableId":"SDR Formulário","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Get a row').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"Hora Mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"Mensagem Lead","fieldValue":"={{true}}"},{"fieldId":"Idcontatochatwoot","fieldValue":"={{ $('Edit Fields').item.json.contact_id }}"},{"fieldId":"Idconversachatwoot","fieldValue":"={{ $('Edit Fields').item.json.conversation_id }}"},{"fieldId":"has_interaction","fieldValue":"={{ true }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4464,752],"id":"19171939-4828-4860-aeef-392567e05229","name":"Update a row2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}},"disabled":true},{"parameters":{"model":"gpt-4.1","options":{"temperature":0.3,"topP":1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[-1104,400],"id":"324d8303-2184-4983-9cbc-718d354867b0","name":"4.1","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}},"disabled":true},{"parameters":{"model":"gpt-4.1-mini","options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[-976,400],"id":"7cd8c74c-9429-418a-96eb-9894ceb7e365","name":"4.1 mini","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}},"disabled":true},{"parameters":{"operation":"update","tableId":"SDR Formulário","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Get a row').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"Hora Mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"Mensagem Lead","fieldValue":"={{false}}"},{"fieldId":"has_interaction","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1664,576],"id":"00ebeb77-57b4-456c-a284-6adf8f02296d","name":"Update a row","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}},"disabled":true},{"parameters":{"tableName":"cruzeiros","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[-240,608],"id":"7bd919ff-286b-46e9-bf21-5ced3fc19f04","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}},"disabled":true},{"parameters":{"httpMethod":"POST","path":"sdrformulario","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-6784,944],"id":"c2abb2d1-67ed-4110-9da2-d78ba38d569a","name":"Webhook","webhookId":"9dc454bb-78e7-4c27-a0f3-74c7d9478825"},{"parameters":{"description":"# Tool: pausar_atendimento\n\n## Descrição\nPausa o atendimento e desativa a IA quando o lead não tem interesse, está fora de escopo ou foi desqualificado. Esta tool unifica as funcionalidades de \"sem_interesse\" e \"desativar_ia\" em uma única ação.\n\n## Quando Usar (OBRIGATÓRIO)\nEsta tool DEVE ser chamada quando:\n- Lead qualificado como BAIXA após 2 tentativas de reengajamento\n- Lead demonstra desinteresse explícito (\"não quero\", \"não tenho interesse\")\n- Lead fugiu do escopo de vendas (conversa off-topic/vida pessoal) e não retorna ao foco após 2 redirecionamentos\n- Spam, mensagens ofensivas ou sem sentido\n- Lead solicita parar contato\n- Lead está fora do perfil (quer produto que não vendemos)\n- Conversa virou bate-papo social sem foco em vendas\n\n## REGRA CRÍTICA\n⚠️ DomainAssistant é especialista em VENDAS de cruzeiros temáticos. Foco TOTAL em vendas. Conversas fora de escopo = PAUSAR imediatamente.\n\n## Parâmetros\n\n### lead_id (obrigatório)\n- Tipo: string\n- Descrição: ID único do lead/conversa no sistema\n\n### motivo (obrigatório)\n- Tipo: string\n- Descrição: Razão do encerramento\n- Valores possíveis:\n  - \"sem_condicoes_financeiras\"\n  - \"sem_interesse_explicito\"\n  - \"conversa_off_topic\"\n  - \"spam_ofensivo\"\n  - \"fora_de_escopo\"\n  - \"qualificacao_baixa\"\n  - \"sem_condicoes_financeiras_conversa_off_topic\"\n\n### timestamp (auto)\n- Tipo: datetime\n- Descrição: Data/hora do encerramento (preenchido automaticamente)\n\n## Exemplos de Uso\n\n### Exemplo 1: Lead sem condições financeiras + conversa off-topic\n```\nLead: \"Pensei que fosse mais barato... um dia quem sabe\"\nIA: \"Qual valor você consegue investir?\"\nLead: [Conta história de vida sobre acarajé, sonhos...]\nIA: atualizar_lead(qualificacao='BAIXA')\nIA: \"Entendo, Sandra! Quando estiver pronta para o cruzeiro, estou aqui. Boa sorte! 😊\"\nIA: pausar_atendimento(lead_id='123', motivo='sem_condicoes_financeiras_conversa_off_topic')\n[FIM - atendimento pausado]\n```\n\n### Exemplo 2: Lead desqualificado (BAIXA)\n```\nLead: respostas monossilábicas, sem engajamento\nIA: Tentou reengajar 2x\nIA: atualizar_lead(qualificacao='BAIXA', handoff_realizado='nao')\nIA: \"Entendo! Quando quiser saber mais, estou por aqui. 😊\"\nIA: pausar_atendimento(lead_id='456', motivo='qualificacao_baixa')\n[FIM]\n```\n\n### Exemplo 3: Spam ou mensagens sem sentido\n```\nLead: [mensagens aleatórias, spam, ofensas]\nIA: pausar_atendimento(lead_id='789', motivo='spam_ofensivo')\n[FIM - sem resposta]\n```\n\n### Exemplo 4: Lead fora de escopo\n```\nLead: \"Vocês têm pacotes para hotel em Cancún?\"\nIA: \"Somos especializados em cruzeiros temáticos.\"\nLead: \"Não quero cruzeiro, quero hotel\"\nIA: \"Entendo! Qualquer dúvida sobre cruzeiros, estou aqui.\"\nIA: pausar_atendimento(lead_id='321', motivo='fora_de_escopo')\n[FIM]\n```\n\n## Sequência Obrigatória ANTES de Chamar\n\n1. ✅ Identificar que lead deve ser desqualificado\n2. ✅ atualizar_lead(qualificacao='BAIXA', handoff_realizado='nao')\n3. ✅ Enviar frase de encerramento educada e simples\n4. ✅ Chamar pausar_atendimento(lead_id, motivo)\n5. ✅ NÃO responder mais nada - atendimento encerrado\n\n## Frases de Encerramento Corretas\n\nUse frases SIMPLES e educadas:\n- \"Entendo! Quando quiser saber mais sobre nossos cruzeiros, estou por aqui. 😊\"\n- \"Beleza! Qualquer dúvida sobre cruzeiros, pode me chamar.\"\n- \"Sem problemas! Quando estiver pronto, estou aqui para te ajudar.\"\n\n## ❌ O QUE NÃO FAZER ao Encerrar\n\nNUNCA mencionar:\n- ❌ \"Posso te avisar quando houver [artista]?\"\n- ❌ \"Vou deixar contato salvo para novidades\"\n- ❌ \"Se surgir condição especial, te aviso\"\n- ❌ \"Novidades dos navios em breve\"\n- ❌ Criar expectativas que não podem ser atendidas\n\n## Quando NÃO Chamar\n\nNÃO pausar atendimento se:\n- Lead tem objeção de preço MAS está engajado e negociando\n- Lead está fazendo perguntas sobre o produto\n- Lead pediu para pensar MAS demonstra interesse real\n- Lead está no meio da qualificação (nome, qtd pessoas, etc)\n- Apenas 1 \"não\" casual durante descoberta\n\n## Importante\n\n⚠️ **Após chamar pausar_atendimento:**\n- Atendimento está PAUSADO\n- IA NÃO DEVE continuar conversando\n- IA NÃO DEVE responder mensagens subsequentes\n- Conversa está ENCERRADA\n\n## Response Esperado\n\nA tool retorna confirmação do encerramento:\n```json\n{\n  \"success\": true,\n  \"lead_id\": \"123\",\n  \"motivo\": \"sem_condicoes_financeiras_conversa_off_topic\",\n  \"timestamp\": \"2026-01-31T14:30:00Z\",\n  \"atendimento_pausado\": true\n}\n```\n\n## Fluxo Técnico no N8N\n\n```\n1. IA identifica necessidade de pausar\n2. IA chama atualizar_lead (qualificacao=BAIXA)\n3. IA envia mensagem final ao lead\n4. IA chama pausar_atendimento\n5. N8N marca conversa como encerrada\n6. N8N desativa respostas automáticas para esse lead\n7. Atendimento pausado - requer intervenção manual para reativar\n```\n\n## Casos de Uso Reais\n\n### Caso 1: Sandra (Acarajé)\n```\nProblema: Lead sem condições + conversa virou vida pessoal\nSolução: pausar_atendimento após 2ª mensagem off-topic\nResultado: Atendimento encerrado educadamente\n```\n\n### Caso 2: Lead monossilábico\n```\nProblema: Respostas \"sim\", \"não\", \"ok\" sem elaboração\nSolução: 2 tentativas reengajamento + pausar_atendimento\nResultado: Qualificação BAIXA + atendimento pausado\n```\n\n### Caso 3: Lead quer produto diferente\n```\nProblema: \"Vocês têm pacote de hotel?\"\nSolução: Explicar foco + pausar se insistir\nResultado: Atendimento pausado com educação\n```\n\n## Logs Recomendados\n\nRegistrar no sistema:\n- Lead ID\n- Motivo do encerramento\n- Timestamp\n- Última mensagem da IA\n- Qualificação final (BAIXA)\n- Handoff realizado (não)\n\n## Métricas Importantes\n\nAcompanhar:\n- Taxa de encerramento por motivo\n- Tempo médio até encerramento\n- Taxa de reengajamento bem-sucedido antes de pausar\n- Leads pausados que retornaram depois\n\n---\n\n**RESUMO:** Esta tool encerra o atendimento quando o lead não tem perfil, interesse ou está fora do escopo de vendas. Uso obrigatório para manter foco em vendas e otimizar recursos da IA.","workflowId":{"__rl":true,"value":"BOfXQI6zs5fffbVx","mode":"list","cachedResultUrl":"/workflow/BOfXQI6zs5fffbVx","cachedResultName":"[sem_interesse]"},"workflowInputs":{"mappingMode":"defineBelow","value":{"urlChatwoot":"={{ $('Edit Fields').item.json.urlchatwoot }}","tokenChatwoot":"={{ $('Edit Fields').item.json.chatwoottoken }}","accountId":"={{ $('Edit Fields').item.json.account.id }}","contactId":"={{ $('Edit Fields').item.json.contact_id }}"},"matchingColumns":[],"schema":[{"id":"urlChatwoot","displayName":"urlChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tokenChatwoot","displayName":"tokenChatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"accountId","displayName":"accountId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[560,400],"id":"94011776-2bda-471a-a812-cc9985a2aa3b","name":"pausar_atendimento","disabled":true},{"parameters":{"method":"POST","url":"=https://n8nh.demo-events.com.br/webhook/domain_assistant-atendimento-geral-homlogacao","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Edit Fields1').item.json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-5664,848],"id":"3ac9daa4-b4e2-400f-b19c-0a0360de8714","name":"Http Request Homologacao"},{"parameters":{"method":"POST","url":"https://overprosperously-geomorphic-mathias.ngrok-free.dev/webhook","sendHeaders":true,"headerParameters":{"parameters":[{"name":"ngrok-skip-browser-warning","value":"true"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Webhook1').item.json.body, {\"origem\": \"whatsapp\"} }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-5888,656],"id":"473be2c2-80cd-49ca-aaa0-d9efa1a0b4c9","name":"Teste Agente DomainAssistant HardCode"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"481f3705-e2b7-4d0a-aafb-792ee84fb980","leftValue":"={{ $json.chatid }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"716a7df2-5f3f-4a08-8468-c2e35e986d60","leftValue":"={{ $json.chatid }}","rightValue":"+1 555-0100","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"d6447df6-7ad4-4db2-9abb-338b8eaa5751","leftValue":"={{ $json.chatid }}","rightValue":"+1 555-0100","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"7b7f39cc-a1d4-43c7-af4f-7b6194e5ada1","leftValue":"={{ $json.chatid }}","rightValue":"+1 555-0100","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"13924d47-3ab7-40a8-8a04-39d0e501b65c","leftValue":"={{ $json.chatid }}","rightValue":"+1 555-0100","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"4a979e5f-bf06-4b7a-b4ed-c705a42e7a16","leftValue":"={{ $json.chatid }}","rightValue":"=+1 555-0100","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"ac154a6e-b8b3-4d26-922a-1ff5f162f672","leftValue":"={{ $json.chatid }}","rightValue":"+1 555-0100","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6b8b933b-aaa7-4bcd-b33b-91f81e6c69af","leftValue":"={{ $json.chatid }}","rightValue":"+1 555-0100","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6336,944],"id":"c2c18ad1-02b3-4831-b00b-773cfcaba313","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1bea40f3-1cf0-4e5e-8661-4a5bcc91fde8","leftValue":"={{ $json.chatid }}","rightValue":"+1 555-0100","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-6112,752],"id":"37c3810d-1739-4d44-9122-e41c803d2e2d","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"cc2d8da4-9886-4904-ac5b-a5d0b0cc8173","name":"body","value":"={{ $('Webhook').item.json.body }}","type":"object"},{"id":"8638d4cc-aa0f-4edd-9119-c8a7c5620788","name":"body.tipo","value":"formulario","type":"string"}]},"includeOtherFields":true,"include":"selected","includeFields":"body.src","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5888,848],"id":"c76f4248-c448-4fd6-9914-11baa1f8f2f9","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"=https://n8nh.demo-events.com.br/webhook/domain_assistant-atendimento-geral","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Edit Fields2').item.json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-5840,1056],"id":"aece21d6-169a-45d8-8233-13bd51484720","name":"Http Request Producao"},{"parameters":{"assignments":{"assignments":[{"id":"cc2d8da4-9886-4904-ac5b-a5d0b0cc8173","name":"body","value":"={{ $('Webhook').item.json.body }}","type":"object"},{"id":"8638d4cc-aa0f-4edd-9119-c8a7c5620788","name":"body.tipo","value":"formulario","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6096,928],"id":"fb7ee4ab-ee34-4100-85c6-c159f0cc4c3c","name":"Edit Fields2"}],"connections":{"Transcribe a recording1":{"main":[[{"node":"AUDIO MEMORY","type":"main","index":0}]]},"Delete Memory1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Update a row","type":"main","index":0}],[{"node":"HTTP Request19","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"base vetorial de conhecimento promo","type":"ai_embedding","index":0},{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Envia Audio1","type":"main","index":0}]]},"Convert text to speech1":{"main":[[{"node":"Extract from File","type":"main","index":0}],[{"node":"Aviso erro ElevenLabs","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Redis1","type":"main","index":0}],[]]},"memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"responder_com_audio1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Redis1":{"main":[[{"node":"Responder com audio?1","type":"main","index":0}]]},"Responder com audio?1":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"handoff_vendedor1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"materiais_marketing1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"video_inicial1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consulta_cruzeiros":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"consulta_cruzeiros","type":"ai_languageModel","index":0},{"node":"consultar_base_conhecimento","type":"ai_languageModel","index":0}]]},"Ativa?1":{"main":[[],[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"TEXT MEMORY1","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}],[{"node":"HTTP Request3","type":"main","index":0}]]},"AUDIO MEMORY":{"main":[[{"node":"Get Memory","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"IMAGE MEMORY","type":"main","index":0}]]},"TEXT MEMORY1":{"main":[[{"node":"Get Memory","type":"main","index":0}]]},"IMAGE MEMORY":{"main":[[{"node":"Get Memory","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Transcribe a recording1","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Get Memory ","type":"main","index":0}]]},"Get Memory ":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"É audio?1":{"main":[[{"node":"Responda com audio1","type":"main","index":0}],[{"node":"Delete Memory1","type":"main","index":0}]]},"Responda com audio1":{"main":[[{"node":"Delete Memory1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Get Memory":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"Envia Audio1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If3","type":"main","index":0}]]},"If2":{"main":[[],[{"node":"#reset?","type":"main","index":0}]]},"#reset?":{"main":[[{"node":"Deleta conversas","type":"main","index":0}],[{"node":"Get a row","type":"main","index":0}]]},"Deleta conversas":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"base vetorial de conhecimento promo":{"ai_vectorStore":[[{"node":"consultar_base_conhecimento","type":"ai_vectorStore","index":0}]]},"consultar_base_conhecimento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"HTTP Request19":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"É audio?1","type":"main","index":0}]]},"If10":{"main":[[{"node":"Update a row2","type":"main","index":0}],[{"node":"Create a row","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request21","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request22","type":"main","index":0}]]},"atualizar_lead":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get a row":{"main":[[{"node":"If10","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Update a row2":{"main":[[{"node":"Ativa?1","type":"main","index":0}]]},"4.1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"4.1 mini":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]},"Postgres PGVector Store":{"ai_vectorStore":[[{"node":"consulta_cruzeiros","type":"ai_vectorStore","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"pausar_atendimento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"If3":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"If1":{"main":[[{"node":"Teste Agente DomainAssistant HardCode","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Http Request Homologacao","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Http Request Producao","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":60},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8nh.demo-events.com.br","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34","content-length":"2959","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"0.0.0.0","x-forwarded-host":"n8nh.demo-events.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f825d0165a8e","x-real-ip":"0.0.0.0"},"params":{},"query":{},"body":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Whatsapp","contact_inbox":{"id":7459,"contact_id":41142,"inbox_id":34,"source_id":"55555-0100","created_at":"2026-02-20T14:56:12.653Z","updated_at":"2026-02-20T14:56:12.653Z","hmac_verified":false,"pubsub_token":"${PUBSUB_TOKEN}"},"id":5657,"inbox_id":34,"messages":[{"id":129988,"content":"Pode enviar…","account_id":1,"inbox_id":34,"conversation_id":5657,"message_type":0,"created_at":1771619618,"updated_at":"2026-02-20T20:33:38.221Z","private":false,"status":"sent","source_id":"wamid.HBgNNTUyNzk5ODk5MDY3MRUCABIYFDNBNzdENzU1NjNGNzcwMTgwNjUyAA==","content_type":"text","content_attributes":{"in_reply_to_external_id":"wamid.HBgNNTUyNzk5ODk5MDY3MRUCABEYEkExQkE1OERDM0QzOUI2MEI2RgA=","in_reply_to":129987},"sender_type":"Contact","sender_id":41142,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"Pode enviar…","sentiment":{},"conversation":{"assignee_id":null,"unread_count":3,"last_activity_at":1771619618,"contact_inbox":{"source_id":"55555-0100"}},"sender":{"additional_attributes":{"avatar_url_hash":"ae3b193d4eaafdb394285a10ef74ae338f970bff365da0db1419feebcaba5a33","last_avatar_sync_at":"2026-02-20T14:56:45Z"},"custom_attributes":{"navio":"NAVIO EMBAIXADOR EM ALTO MAR","estilo":"SERTANEJO","origem":"Formulário","anuncio":"estatico_navio-gusttavo-lima-2026_awareness","campanha":"facebook_conversao_lead-ad_navio-gusttavo-lima-2026_sdria","temporada":"2026/2027","qtd_pessoas":"2","conjunto_de_anuncios":"estatico_navio-gusttavo-lima-2026_awareness"},"email":"user@example.com","id":41142,"identifier":"+1 555-0100","name":"Jailton Viana Ferreira","phone_number":"+1 555-0100","thumbnail":"","blocked":false,"type":"contact"}}],"labels":["embaixador"],"meta":{"sender":{"additional_attributes":{"avatar_url_hash":"ae3b193d4eaafdb394285a10ef74ae338f970bff365da0db1419feebcaba5a33","last_avatar_sync_at":"2026-02-20T14:56:45Z"},"custom_attributes":{"navio":"NAVIO EMBAIXADOR EM ALTO MAR","estilo":"SERTANEJO","origem":"Formulário","anuncio":"estatico_navio-gusttavo-lima-2026_awareness","campanha":"facebook_conversao_lead-ad_navio-gusttavo-lima-2026_sdria","temporada":"2026/2027","qtd_pessoas":"2","conjunto_de_anuncios":"estatico_navio-gusttavo-lima-2026_awareness"},"email":"user@example.com","id":41142,"identifier":"+1 555-0100","name":"Jailton Viana Ferreira","phone_number":"+1 555-0100","thumbnail":"","blocked":false,"type":"contact"},"assignee":null,"assignee_type":null,"team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":3,"first_reply_created_at":"2026-02-20T16:00:39.351Z","priority":null,"waiting_since":1771619618,"agent_last_seen_at":1771600004,"contact_last_seen_at":0,"last_activity_at":1771619618,"timestamp":1771619618,"created_at":1771599372,"updated_at":1771619618.2569869,"event":"automation_event.message_created"},"webhookUrl":"https://n8nh.demo-events.com.br/webhook/sdrformulario","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"9c20a995-7721-44fd-a4e8-499f08ac6c8f","activeVersionId":"9c20a995-7721-44fd-a4e8-499f08ac6c8f","versionCounter":401,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-02T02:34:49.482Z","createdAt":"2026-02-02T02:34:49.482Z","role":"workflow:owner","workflowId":"PgvzBOqmu3DPjX-u7DiV-","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}