workflows_extracted/PKneSK3P7m9PIUa0oIuU-.json
{"updatedAt":"2026-02-14T20:38:51.493Z","createdAt":"2026-02-14T20:31:39.489Z","id":"PKneSK3P7m9PIUa0oIuU-","name":"[video inicial]","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"cruzeiroInteressado"},{"name":"telefone"},{"name":"accountid"},{"name":"chatwooturl"},{"name":"chatwoottoken"},{"name":"conversationid"}]}},"id":"b1a9e6db-23d0-42ac-a8b1-327f643652f3","typeVersion":1.1,"name":"start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,320]},{"parameters":{"operation":"set","key":"={{ $('start').item.json.telefone }}_video_inicial","value":"enviado","expire":true,"ttl":86400},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1344,416],"id":"525e2afb-5165-4e7a-bcb8-e27fa4a0e1b4","name":"Redis","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"enviado?","key":"={{ $('start').item.json.telefone }}_video_inicial","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[224,320],"id":"d734e8bf-130d-4908-a543-561a60e397e7","name":"Redis1","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf164d3b-77a8-476b-b37c-2658fc7b846d","leftValue":"={{ $json['enviado?'] }}","rightValue":"enviado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,320],"id":"77a0de1e-e40e-4436-8dc8-f56fb8ac834e","name":"If"},{"parameters":{"operation":"delete","key":"554588234604_video_inicial"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[0,0],"id":"c33406cb-11ce-436d-8b7c-a8fd3ce82c04","name":"Redis2","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"aa83b47b-b46b-4512-9e46-77de41b57b83","name":"resposta","value":"O video já foi enviado anteriormente, não há necessidade de enviar novamente. Também não há necessidade de avisar que já foi enviado, apenas ignore.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,224],"id":"95ffd012-6411-4486-8d1d-f7f4628b91f9","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"aa83b47b-b46b-4512-9e46-77de41b57b83","name":"resposta","value":"O video já foi enviado, não há necessidade de enviar novamente. Também não há necessidade de avisar que já foi enviado, apenas ignore.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1568,416],"id":"8e2411da-4f0b-4dcb-8495-350ba5c765dd","name":"Edit Fields1"},{"parameters":{"url":"https://s3.example.com/codex/VideoInicial.mp4","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[896,416],"id":"63940226-c972-4fb5-a8b1-fa8659419227","name":"HTTP Request"},{"parameters":{"method":"POST","url":"={{ $('start').item.json.chatwooturl }}/api/v1/accounts/{{ $('start').item.json.accountid }}/conversations/{{ $('start').item.json.conversationid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').item.json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content","value":"Ótimo. Para iniciar a nossa conversa, veja esse vídeo pra você conhecer um pouco mais da Demo Events Co."},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1120,416],"id":"e17ad9b3-5ae5-40d8-8374-5efb4b307374","name":"HTTP Request1"}],"connections":{"start":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Redis","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"start":[{"json":{"cruzeiroInteressado":null,"telefone":"+1 555-0100","accountid":1,"chatwooturl":"https://promo-chatwoot.demo.example.com","chatwoottoken":"${CHATWOOT_TOKEN}","conversationid":2083},"pairedItem":{"item":0}}]},"versionId":"5a234ef4-94b4-40a8-9513-d19d1a53d5d5","activeVersionId":null,"versionCounter":5,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-14T20:31:39.489Z","createdAt":"2026-02-14T20:31:39.489Z","role":"workflow:owner","workflowId":"PKneSK3P7m9PIUa0oIuU-","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}