workflows_extracted/Pl7vzyo55h7KCHHeKZyE2.json
{"updatedAt":"2026-04-20T20:39:43.589Z","createdAt":"2026-03-05T17:31:12.500Z","id":"Pl7vzyo55h7KCHHeKZyE2","name":"WF_Busca_KB","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"query"},{"name":"filters","type":"object"},{"name":"top_k","type":"number"}]}},"id":"627021ab-a633-46af-96da-9870f92bc29f","name":"Workflow_Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2480,1784],"alwaysOutputData":false},{"parameters":{"jsCode":"// Calcula chaves de cache e normaliza entrada\nconst crypto = require('crypto');\nconst t = $input.first().json;\nconst query = (t.query || '').toString();\nconst qNorm = query.toLowerCase().trim();\nconst f = t.filters || {};\nconst topic = f.topic || null;\nconst subtopic = f.subtopic || null;\nconst categoria = f.categoria ?? f.categoria_cabine ?? null;\nconst top_k = Number(t.top_k) || 3;\n\nif (!qNorm) throw new Error('query vazia');\n\nconst fingerprint = `${qNorm}|t=${topic||''}|s=${subtopic||''}|c=${categoria||''}|k=${top_k}`;\nconst resultHash = crypto.createHash('md5').update(fingerprint).digest('hex');\n\nreturn [{\n  json: {\n    query,\n    topic,\n    subtopic,\n    categoria,\n    top_k,\n    cacheKeyResult: `kb:result:${resultHash}`,\n    __t0: Date.now()\n  }\n}];"},"id":"83abea81-8116-4fe0-a088-ad297d63b66a","name":"Preparar Chaves1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2256,1784]},{"parameters":{"operation":"get","propertyName":"cachedResult","key":"={{ $json.cacheKeyResult }}","options":{}},"id":"f84b830c-db3a-4666-a891-1922db89080b","name":"Redis Get Result1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2032,1784],"credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}},"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"cond-hit","leftValue":"={{ $json.cachedResult }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"ec3d5be5-0e85-4f6c-91ba-166905b4ebfb","name":"Cache hit?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1808,1784]},{"parameters":{"jsCode":"// Cache HIT — devolve direto com flag fromCache\nconst v = $json.cachedResult;\nconst parsed = typeof v === 'string' ? JSON.parse(v) : v;\nreturn [{ json: { ...parsed, fromCache: true } }];"},"id":"244b1c3f-0db2-4232-adda-09b13d78df83","name":"Retornar Cache1","type":"n8n-nodes-base.code","typeVersion":2,"position":[656,1616]},{"parameters":{"method":"POST","url":"http://tei-embedder/embed","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"inputs\": {{ JSON.stringify($('Preparar Chaves1').first().json.query) }},\n  \"normalize\": true\n}","options":{"timeout":60000}},"id":"5eb0e41c-5fb8-4f30-84a0-ce34a40c5840","name":"HTTP Embed Query1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1584,1880]},{"parameters":{"jsCode":"// Gera literais SQL-escapados para inlinar na query.\n// Evita o bug do queryReplacement que faz split por vírgula (quebra o vector).\nconst raw = $input.first().json;\nconst emb = Array.isArray(raw[0]) ? raw[0] : (Array.isArray(raw.data) ? raw.data[0] : raw);\nif (!Array.isArray(emb) || typeof emb[0] !== 'number') {\n  throw new Error('Embedding em formato inesperado: ' + JSON.stringify(raw).slice(0, 200));\n}\nconst p = $('Preparar Chaves1').first().json;\n\nconst sqlStr = v => (v === null || v === undefined || v === '')\n  ? 'NULL'\n  : `'${String(v).replace(/'/g, \"''\")}'`;\n\nreturn [{\n  json: {\n    emb_vector_literal: `'[${emb.join(',')}]'::vector`,\n    query_sql: sqlStr(p.query),\n    topic_sql: sqlStr(p.topic),\n    subtopic_sql: sqlStr(p.subtopic),\n    categoria_sql: sqlStr(p.categoria),\n    query: p.query,\n    topic: p.topic,\n    subtopic: p.subtopic,\n    categoria: p.categoria,\n    top_k: p.top_k,\n    cacheKeyResult: p.cacheKeyResult,\n    __t0: p.__t0\n  }\n}];"},"id":"9afda297-a67b-4787-89d4-c86b812bc46b","name":"Preparar Params1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,1880]},{"parameters":{"operation":"executeQuery","query":"SELECT chunk_id, doc_id, topic, subtopic, title, content, keywords, aliases, categoria_cabine, fonte, score\nFROM kb_hybrid_search(\n  {{ $json.emb_vector_literal }},\n  {{ $json.query_sql }},\n  {{ $json.topic_sql }},\n  {{ $json.subtopic_sql }},\n  {{ $json.categoria_sql }},\n  8, 60\n);","options":{}},"id":"dc569f89-8897-4847-a286-0bc9051191ab","name":"Busca Hibrida1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1136,1880],"credentials":{"postgres":{"id":"7l1NQXAZ96h0iB2h","name":"Postgres DomainAssistant KB"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond-has-rows","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"f9164266-19ce-4703-b768-06e1f6218782","name":"Tem candidatos?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-688,1880]},{"parameters":{"jsCode":"// Sem candidatos — retorna vazio sem chamar rerank\nconst p = $('Preparar Params1').first().json;\nreturn [{\n  json: {\n    results: [],\n    contexto: '',\n    sources: [],\n    tem_resultado: false,\n    fromCache: false,\n    cacheKeyResult: p.cacheKeyResult,\n    _telemetria: {\n      query: p.query,\n      topic: p.topic,\n      top_chunk_id: null,\n      top_score: 0,\n      has_result: false,\n      latency_ms: Date.now() - (p.__t0 || Date.now())\n    }\n  }\n}];"},"id":"c06d6918-8cb9-4ccc-b797-5b15a0e0fe1f","name":"Sem Resultado1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,1976]},{"parameters":{"method":"POST","url":"http://tei-reranker/rerank","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.bodyJson) }}","options":{"timeout":120000}},"id":"650e2b84-6ccf-4fcf-9a10-2df739c0626a","name":"HTTP Rerank1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,1784],"executeOnce":true},{"parameters":{"jsCode":"// HTTP Request v4.2 splita arrays em múltiplos items; usar $input.all() para remontar.\nconst rerankRaw = $input.all().map(i => i.json);\nconst rerank = (rerankRaw.length === 1 && Array.isArray(rerankRaw[0])) ? rerankRaw[0] : rerankRaw;\nconst rows = $('Busca Hibrida1').all().map(i => i.json);\nconst params = $('Preparar Params1').first().json;\nconst top_k = params.top_k;\nconst MIN_SCORE = 0.05;   // bge-reranker-base (CPU) roda em escala menor que v2-m3 — 0.25 era threshold do v2-m3\n\n// Short-circuit: se a busca híbrida retornou apenas 1 candidato, o rerank não pode\n// reordenar nada e o MIN_SCORE pode descartar o único match legítimo. Usa o score\n// bruto da busca híbrida (já validado pelo SQL kb_hybrid_search) sem filtrar.\nconst singleRow = rows.length === 1;\n\nconst ranked = singleRow\n  ? rows.slice(0, top_k).map(r => ({ ...r, score: typeof r.score === 'number' ? r.score : 1.0 }))\n  : rerank\n      .map(r => ({ ...rows[r.index], score: r.score }))\n      .filter(r => r.score >= MIN_SCORE)\n      .sort((a, b) => b.score - a.score)\n      .slice(0, top_k);\n\nconst contexto = ranked.length\n  ? ranked.map((r, i) => `[#${i+1} · ${r.title} · ${r.topic}${r.subtopic ? '/' + r.subtopic : ''}]\\n${r.content}`).join('\\n\\n---\\n\\n')\n  : '';\n\nconst sources = [...new Set(ranked.map(r => r.fonte).filter(Boolean))];\n\nreturn [{\n  json: {\n    results: ranked.map(r => ({\n      doc_id: r.chunk_id,\n      topic: r.topic,\n      subtopic: r.subtopic,\n      title: r.title,\n      content: r.content,\n      keywords: r.keywords,\n      aliases: r.aliases,\n      score: r.score,\n      fonte: r.fonte,\n      categoria_cabine: r.categoria_cabine\n    })),\n    contexto,\n    sources,\n    tem_resultado: ranked.length > 0,\n    fromCache: false,\n    cacheKeyResult: params.cacheKeyResult,\n    _telemetria: {\n      query: params.query,\n      topic: params.topic,\n      top_chunk_id: ranked[0]?.chunk_id || null,\n      top_score: ranked[0]?.score || 0,\n      has_result: ranked.length > 0,\n      latency_ms: Date.now() - (params.__t0 || Date.now()),\n      rerank_skipped: singleRow\n    }\n  }\n}];"},"id":"03604aad-a687-493b-92bb-4ccfa1959768","name":"Formatar Saida1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,1784]},{"parameters":{"operation":"set","key":"={{ $json.cacheKeyResult }}","value":"={{ JSON.stringify({results: $json.results, contexto: $json.contexto, sources: $json.sources, tem_resultado: $json.tem_resultado}) }}","keyType":"string","expire":true,"ttl":1800},"id":"c5889255-a4ae-4ffb-b310-9a2af38f1305","name":"Redis Set Result1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-16,1784],"credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}},"continueOnFail":true},{"parameters":{"jsCode":"// Saída final limpa — remove campos internos\nconst d = $input.first().json;\nreturn [{\n  json: {\n    results: d.results,\n    contexto: d.contexto,\n    sources: d.sources,\n    tem_resultado: d.tem_resultado,\n    fromCache: d.fromCache || false\n  }\n}];"},"id":"6babb9b3-aa99-487e-a36a-f9d49a76f01d","name":"Output1","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,1784]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO kb_queries (session_id, query, topic_filter, top_chunk_id, top_score, has_result, latency_ms)\nVALUES ($1, $2, $3, $4, $5, $6, $7);","options":{"queryReplacement":"={{ $execution.id }},{{ $json._telemetria.query }},{{ $json._telemetria.topic }},{{ $json._telemetria.top_chunk_id }},{{ $json._telemetria.top_score }},{{ $json._telemetria.has_result }},{{ $json._telemetria.latency_ms }}"}},"id":"417469a8-51a7-4a13-8d6e-16979efff800","name":"Log Telemetria1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[208,1880],"credentials":{"postgres":{"id":"7l1NQXAZ96h0iB2h","name":"Postgres DomainAssistant KB"}},"continueOnFail":true},{"parameters":{"operation":"get","propertyName":"cachedResult","key":"={{ $('Redis Set Result1').item.json.cacheKeyResult }}","options":{}},"id":"6e718649-2cd3-4acb-bf53-aee643af4a6e","name":"Redis Get Result","type":"n8n-nodes-base.redis","typeVersion":1,"position":[432,1880],"credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}},"continueOnFail":true},{"parameters":{"jsCode":"// Cache HIT — devolve direto com flag fromCache\nconst v = $json.cachedResult;\nconst parsed = typeof v === 'string' ? JSON.parse(v) : v;\nreturn [{ json: { ...parsed, fromCache: true } }];"},"id":"9e8f549c-b0e9-4631-a8aa-fcee60a961fd","name":"Retornar Cache","type":"n8n-nodes-base.code","typeVersion":2,"position":[656,1880]},{"parameters":{"jsCode":"// Envia ao rerank: title + aliases + keywords + content — ajuda o cross-encoder\n// a casar gírias/sinônimos que estão em aliases mas NÃO no corpo do texto.\nconst rows = $input.all().map(i => i.json);\nreturn [{\n  json: {\n    bodyJson: {\n      query: $('Preparar Chaves1').first().json.query,\n      texts: rows.map(r => {\n        const titleLine = r.title ? `${r.title}\\n` : '';\n        const aliasLine = (r.aliases && r.aliases.length) ? `Também chamado de: ${r.aliases.join(', ')}.\\n` : '';\n        const kwLine    = (r.keywords && r.keywords.length) ? `Palavras-chave: ${r.keywords.join(', ')}.\\n` : '';\n        return `${titleLine}${aliasLine}${kwLine}\\n${r.content}`;\n      }),\n      raw_scores: false,\n      truncate: true,\n      truncation_direction: \"Right\"\n    },\n    rows\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-912,1880],"id":"e2b63126-405f-4a0b-8d28-ad9efa63a704","name":"Agregar Rows"}],"connections":{"Workflow_Trigger":{"main":[[{"node":"Preparar Chaves1","type":"main","index":0}]]},"Preparar Chaves1":{"main":[[{"node":"Redis Get Result1","type":"main","index":0}]]},"Redis Get Result1":{"main":[[{"node":"Cache hit?1","type":"main","index":0}]]},"Cache hit?1":{"main":[[{"node":"Retornar Cache1","type":"main","index":0}],[{"node":"HTTP Embed Query1","type":"main","index":0}]]},"Retornar Cache1":{"main":[[{"node":"Output1","type":"main","index":0}]]},"HTTP Embed Query1":{"main":[[{"node":"Preparar Params1","type":"main","index":0}]]},"Preparar Params1":{"main":[[{"node":"Busca Hibrida1","type":"main","index":0}]]},"Busca Hibrida1":{"main":[[{"node":"Agregar Rows","type":"main","index":0}]]},"Tem candidatos?1":{"main":[[{"node":"HTTP Rerank1","type":"main","index":0}],[{"node":"Sem Resultado1","type":"main","index":0}]]},"Sem Resultado1":{"main":[[{"node":"Log Telemetria1","type":"main","index":0}]]},"HTTP Rerank1":{"main":[[{"node":"Formatar Saida1","type":"main","index":0}]]},"Formatar Saida1":{"main":[[{"node":"Redis Set Result1","type":"main","index":0}]]},"Redis Set Result1":{"main":[[{"node":"Log Telemetria1","type":"main","index":0}]]},"Log Telemetria1":{"main":[[{"node":"Redis Get Result","type":"main","index":0}]]},"Redis Get Result":{"main":[[{"node":"Retornar Cache","type":"main","index":0}]]},"Retornar Cache":{"main":[[{"node":"Output1","type":"main","index":0}]]},"Agregar Rows":{"main":[[{"node":"Tem candidatos?1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Workflow_Trigger":[{"json":{"query":"navio do embaixador","filters":{"topic":"navio","subtopic":null,"categoria":null},"top_k":3}}]},"versionId":"fda99242-f8fe-4ddb-9266-e6e9e58d782f","activeVersionId":"a5b77c89-022f-4578-9e3d-cb332dd3ba47","versionCounter":337,"triggerCount":0,"tags":[{"updatedAt":"2026-04-19T06:58:20.118Z","createdAt":"2026-04-19T06:58:20.118Z","id":"Md5f13pwxcd0t2jV","name":"domain_assistant"},{"updatedAt":"2026-04-19T06:58:20.197Z","createdAt":"2026-04-19T06:58:20.197Z","id":"CfS8A25PFIq3l1CN","name":"rag"}],"shared":[{"updatedAt":"2026-03-05T17:31:12.500Z","createdAt":"2026-03-05T17:31:12.500Z","role":"workflow:owner","workflowId":"Pl7vzyo55h7KCHHeKZyE2","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}