workflows_extracted/pnC8WKlZtrV9VY28.json
{"updatedAt":"2026-03-29T17:18:44.727Z","createdAt":"2026-03-02T22:12:21.940Z","id":"pnC8WKlZtrV9VY28","name":"WF_consulta_cruzeiros_v2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"query"},{"name":"top_k"},{"name":"strict"},{"name":"filters","type":"object"},{"name":"today_iso"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,160]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[480,432],"id":"83bf0950-4d18-41e5-83e3-171efde810ed","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"mode":"load","tableName":"cruzeiros","prompt":"={{ $json.query }}","topK":"=30","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[480,160],"id":"95e45434-7451-4d62-800d-bf87a1ea3adc","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}}},{"parameters":{"jsCode":"// n8n Code node\n// Recomendado: Run Once for All Items = true\n// Entrada: items = [{json:{document:{pageContent, metadata:{metadata:{...}}}, score}}, ...]\n// Saída: 1 item por CRUZEIRO (slug), com cabins[] e attractions[] completos\n\nfunction localTodayIso() {\n  const now = new Date();\n  const local = new Date(now.getTime() - now.getTimezoneOffset() * 60000);\n  return local.toISOString().slice(0, 10);\n}\n\nfunction getDoc(item) {\n  return item?.json?.document ?? {};\n}\n\nfunction getMeta(item) {\n  const doc = getDoc(item);\n  return doc?.metadata?.metadata ?? {};\n}\n\nfunction getPageContent(item) {\n  const doc = getDoc(item);\n  return doc?.pageContent ?? '';\n}\n\nfunction normalizeCabinType(c) {\n  if (!c) return null;\n  const v = String(c).toLowerCase();\n  if (v === 'yacht_club' || v === 'yacht club') return 'yacht_club';\n  if (['suite', 'suíte'].includes(v)) return 'suite';\n  if (['varanda', 'sacada', 'balcão', 'balcao'].includes(v)) return 'varanda';\n  if (['externa', 'janela', 'vista mar', 'vista-mar'].includes(v)) return 'externa';\n  if (['interna', 'standard'].includes(v)) return 'interna';\n  return v;\n}\n\nconst todayIso = localTodayIso();\n\n// 1) Normaliza e filtra por data\nconst rows = items\n  .map(item => {\n    const meta = getMeta(item);\n    const pageContent = getPageContent(item);\n    const score = item?.json?.score ?? null;\n\n    const departureDate = meta?.departure_date ?? null;\n    if (departureDate && departureDate < todayIso) return null;\n\n    const slug = meta?.slug ?? null;\n    if (!slug) return null;\n\n    const sourcePreview = pageContent.length > 320 ? pageContent.slice(0, 320) + '...' : pageContent;\n\n    return {\n      slug,\n      score: score !== null ? Number(score) : null,\n\n      // Campos de cruzeiro\n      cruise_name: meta?.cruise_name ?? null,\n      display_name: meta?.display_name ?? null,\n      ship: meta?.ship ?? null,\n      theme: meta?.theme ?? null,\n\n      departure_date: meta?.departure_date ?? null,\n      return_date: meta?.return_date ?? null,\n      date_nights: meta?.date_nights ?? null,\n      nights: meta?.nights ?? null,\n\n      embark: meta?.embark ?? null,\n      embark_state: meta?.embark_state ?? null,\n      embark_country: meta?.embark_country ?? null,\n\n      // Listas\n      headliners: Array.isArray(meta?.headliners) ? meta.headliners : [],\n      attractions: Array.isArray(meta?.attractions) ? meta.attractions : [],\n      normalized_artists: Array.isArray(meta?.normalized_artists) ? meta.normalized_artists : [],\n      search_keywords: Array.isArray(meta?.search_keywords) ? meta.search_keywords : [],\n\n      // Cabin info (cada doc = uma experience resource)\n      cabin: {\n        cabin_type: normalizeCabinType(meta?.cabin_type ?? null),\n        cabin_display: meta?.cabin_display ?? null,\n        occupancy: meta?.occupancy ?? null,\n\n        currency: 'BRL',\n        price_pp_brl: meta?.price_pp_brl ?? null,\n        price_cabin_total_brl: meta?.price_cabin_total_brl ?? null,\n        price_per_night: meta?.price_per_night ?? null,\n        port_fee_per_person: meta?.port_fee_per_person ?? null,\n        fees_included: meta?.fees_included ?? null,\n        price_bucket: meta?.price_bucket ?? null,\n\n        source_preview: sourcePreview,\n        score: score !== null ? Number(score) : null,\n      },\n    };\n  })\n  .filter(Boolean);\n\n// 2) Agrupa por slug (um item por cruzeiro)\nconst bySlug = new Map();\n\nfor (const r of rows) {\n  const g = bySlug.get(r.slug);\n  if (!g) {\n    bySlug.set(r.slug, {\n      slug: r.slug,\n      cruise_name: r.cruise_name,\n      display_name: r.display_name,\n      ship: r.ship,\n      theme: r.theme,\n\n      departure_date: r.departure_date,\n      return_date: r.return_date,\n      date_nights: r.date_nights,\n      nights: r.nights,\n\n      embark: r.embark,\n      embark_state: r.embark_state,\n      embark_country: r.embark_country,\n\n      currency: 'BRL',\n\n      // listas agregadas (dedupe)\n      headliners: new Set(r.headliners),\n      attractions: new Set(r.attractions),\n      normalized_artists: new Set(r.normalized_artists),\n      search_keywords: new Set(r.search_keywords),\n\n      // experience resource\n      cabins: [],\n      // score agregado (maior)\n      best_score: r.score ?? null,\n    });\n  }\n\n  const group = bySlug.get(r.slug);\n\n  // agrega sets\n  r.headliners.forEach(x => group.headliners.add(x));\n  r.attractions.forEach(x => group.attractions.add(x));\n  r.normalized_artists.forEach(x => group.normalized_artists.add(x));\n  r.search_keywords.forEach(x => group.search_keywords.add(x));\n\n  // adiciona experience resource (dedupe por chave)\n  const key = JSON.stringify([\n    r.cabin.cabin_type,\n    r.cabin.occupancy,\n    r.cabin.price_pp_brl,\n    r.cabin.price_cabin_total_brl,\n  ]);\n\n  if (!group._cabinKeys) group._cabinKeys = new Set();\n  if (!group._cabinKeys.has(key)) {\n    group._cabinKeys.add(key);\n    group.cabins.push(r.cabin);\n  }\n\n  // melhor score\n  const bs = group.best_score ?? -1;\n  const cs = r.score ?? -1;\n  if (cs > bs) group.best_score = cs;\n}\n\n// 3) Finaliza arrays + ordena experience resource por preço\nconst result = Array.from(bySlug.values()).map(g => {\n  const cabins = g.cabins.slice().sort((a, b) => {\n    const pa = a.price_pp_brl ?? Number.POSITIVE_INFINITY;\n    const pb = b.price_pp_brl ?? Number.POSITIVE_INFINITY;\n    return pa - pb;\n  });\n\n  return {\n    slug: g.slug,\n    cruise_name: g.cruise_name,\n    display_name: g.display_name,\n    ship: g.cruise_name,\n    theme: g.theme,\n\n    departure_date: g.departure_date,\n    return_date: g.return_date,\n    date_nights: g.date_nights,\n    nights: g.nights,\n\n    embark: g.embark,\n    embark_state: g.embark_state,\n    embark_country: g.embark_country,\n\n    currency: 'BRL',\n\n    headliners: Array.from(g.headliners),\n    attractions: Array.from(g.attractions),\n    normalized_artists: Array.from(g.normalized_artists),\n    search_keywords: Array.from(g.search_keywords),\n\n    best_score: g.best_score ?? null,\n    cabins,\n  };\n});\n\n// 4) Ordena cruzeiros por best_score desc\n//result.sort((a, b) => (b.best_score ?? -1) - (a.best_score ?? -1));\n\n// 5) Se você quiser retornar APENAS o cruzeiro mais relevante (ex. \"o navio da 89\")\n// descomente:\n// return [{ json: result[0] ?? null }];\n\nreturn result.map(r => ({ json: r }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,160],"id":"4f675220-c0d6-4bd0-a358-9902834e9d0d","name":"Code in JavaScript","alwaysOutputData":true}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Postgres PGVector Store":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"query":"estatico_navio-cabare-2026_atracoes-novo","top_k":"3","strict":"true","today_iso":"2026-03-12"}}]},"versionId":"04dcbebf-8af3-41fe-af9a-a70a339af99d","activeVersionId":"04dcbebf-8af3-41fe-af9a-a70a339af99d","versionCounter":277,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-02T22:12:21.940Z","createdAt":"2026-03-02T22:12:21.940Z","role":"workflow:owner","workflowId":"pnC8WKlZtrV9VY28","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}