workflows_extracted/qacbJhgvuXw-qMZdKqWkH.json
{"updatedAt":"2026-05-14T00:21:11.390Z","createdAt":"2026-03-05T18:47:05.216Z","id":"qacbJhgvuXw-qMZdKqWkH","name":"Enviar Mensagem - Novo Fluxo Homologacao","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telefone"},{"name":"accountid"},{"name":"chatwooturl"},{"name":"chatwoottoken"},{"name":"conversationid"},{"name":"origem"},{"name":"resposta"},{"name":"tipo_fluxo"},{"name":"tabela_whatsapp"},{"name":"enviar_foto_cabine","type":"boolean"},{"name":"asset_url"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[592,1392],"id":"32d915df-e799-4368-9e03-6a86c757e3e6","name":"When Executed by Another Workflow"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3632,1552],"id":"aab6796d-e80b-4d2c-bbd4-335d12a71aa3","name":"Wait4","webhookId":"8c6d54dc-2719-4b1d-a8f9-d787ff5c5465"},{"parameters":{"options":{}},"id":"ad3d3731-4f44-43c4-b4c6-52e5ee945c2a","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2288,1472]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ea9564a-51af-4653-9ca8-5e15f78aace6","leftValue":"={{ $json.enviarAudio }}","rightValue":"=true","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"8ad3cd6c-9000-4dd9-b0e7-bb5b4c479bf3","leftValue":"={{ $('Loop Over Items').first().json.result }}","rightValue":"https://","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2736,1472],"id":"d71b3146-9494-4d82-b27d-03e1c799f09f","name":"Responder com audio?1"},{"parameters":{"method":"POST","url":"={{ $('When Executed by Another Workflow').first().json.chatwooturl }}/api/v1/accounts/{{ $('When Executed by Another Workflow').first().json.accountid }}/conversations/{{ $('When Executed by Another Workflow').first().json.conversationid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('When Executed by Another Workflow').first().json.chatwoottoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Loop Over Items').first().json.resposta }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2960,1472],"id":"c0a1aa00-dd6e-4300-a58c-978840790f4e","name":"HTTP Request19"},{"parameters":{"operation":"update","tableId":"={{ $('When Executed by Another Workflow').first().json.tabela_whatsapp }}","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"hora_mensagem","fieldValue":"={{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").format(\"cccc, dd 'de' LLLL 'de' yyyy, HH:mm\") }}"},{"fieldId":"mensagem_lead","fieldValue":"={{false}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3408,1472],"id":"6ad89bb4-5ed4-460f-8772-9e952550bf1c","name":"Update a row3","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"operation":"get","tableId":"={{ $('When Executed by Another Workflow').first().json.tabela_whatsapp }}","filters":{"conditions":[{"keyName":"Telefone","keyValue":"={{ $('When Executed by Another Workflow').first().json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3184,1472],"id":"919db678-7cb4-4fc5-b2d6-25ff7a37e955","name":"Get a row1","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"jsCode":"const resposta = $input.first().json.result || $input.first().json.resposta || '';\nconst respostaLower = resposta.toLowerCase();\n\n// ForГ§a texto se tiver valor monetГЎrio, experience resource ou parcelamento\nconst temValorMonetario = /r\\$\\s*[\\d.,]+/.test(respostaLower);\nconst temCabine = ['experience resource', 'cabin', 'interna', 'varanda', 'suГӯte', 'suite', 'yacht'].some(kw => respostaLower.includes(kw));\nconst temParcelamento = /\\d+x/.test(respostaLower);\n\n// ForГ§a texto se for uma listagem (itens numerados ou mГәltiplos bullet points)\nconst temListaNumerada = /\\n\\s*\\d+[\\.\\)]\\s/.test(resposta);\nconst temBullets = (resposta.match(/\\n\\s*[-вҖў*]\\s/g) || []).length >= 2;\nconst temQuebrasMultiplas = (resposta.match(/\\n/g) || []).length >= 4;\n\n// ForГ§a texto se resposta for longa demais\nconst LIMITE_CHARS = 180;\nconst textoLongo = resposta.length > LIMITE_CHARS;\n\nconst forcarTexto = temValorMonetario || temCabine || temParcelamento\n                  || temListaNumerada || temBullets || temQuebrasMultiplas\n                  || textoLongo;\n\nconst enviarAudio = forcarTexto ? false : Math.random() < 0.5;\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    enviarAudio\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2512,1472],"id":"cca69831-fa44-4737-b9e2-82fb2348923b","name":"Code in JavaScript"},{"parameters":{"promptType":"define","text":"={{ $('When Executed by Another Workflow').first().json.resposta }}","options":{"systemMessage":"=# PROMPT вҖ” ANATOMIA DA MENSAGEM (v1)\n# Workflow separado В· Input: string Гәnica В· Output: JSON array de mensagens\n\n---\n\n## Cola direta no campo \"System Message\" do AI Agent node no n8n\n\n```\nVocГӘ Г© um processador de mensagens. Sua Гәnica funГ§ГЈo Г© receber um texto jГЎ finalizado e quebrГЎ-lo em mГәltiplas mensagens curtas que simulem o ritmo natural de digitaГ§ГЈo humana no WhatsApp.\n\nVocГӘ NГғO Г© um assistente de conversa.\nVocГӘ NГғO Г© a autora do texto.\nVocГӘ NГғO interage com ninguГ©m.\nVocГӘ NUNCA modifica o conteГәdo вҖ” apenas divide.\n\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nREGRA #0 вҖ” PRESERVAГҮГғO ABSOLUTA DO CONTEГҡDO\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\n\nO texto que vocГӘ recebe jГЎ estГЎ pronto. Ele foi escrito por uma agente de vendas chamada DomainAssistant.\nrag Г© quem FALA. O destinatГЎrio Г© um lead (cliente em potencial).\n\nSeu trabalho Г© APENAS dividir esse texto em pedaГ§os menores.\n\nPROIBIГҮГ•ES INVIOLГҒVEIS:\n- NUNCA alterar palavras, frases, nomes ou dados do texto original\n- NUNCA adicionar conteГәdo que nГЈo exista no texto original\n- NUNCA remover conteГәdo do texto original\n- NUNCA trocar a ordem das ideias do texto original\n- NUNCA substituir nomes, valores, links ou emojis\n- NUNCA adicionar saudaГ§Гөes, despedidas ou frases que nГЈo estavam no texto\n- NUNCA confundir quem fala com quem recebe вҖ” DomainAssistant FALA, o lead RECEBE\n- NUNCA chamar o lead de \"DomainAssistant\" вҖ” DomainAssistant Г© a remetente, nГЈo o destinatГЎrio\n\nSe o texto original disser \"Oi, Maria!\", a saГӯda deve manter \"Oi, Maria!\" вҖ” e nГЈo \"Oi, DomainAssistant!\".\nSe o texto original disser \"Sou a DomainAssistant\", a saГӯda deve manter \"Sou a DomainAssistant\" вҖ” isso Г© auto-apresentaГ§ГЈo, nГЈo endereГ§amento.\n\nTESTE MENTAL OBRIGATГ“RIO:\nAntes de retornar, compare caractere por caractere:\na concatenaГ§ГЈo de todos os campos \"texto\" da saГӯda DEVE ser idГӘntica ao texto original (exceto por espaГ§os entre blocos).\nSe alguma palavra foi alterada, adicionada ou removida вҶ’ a saГӯda estГЎ ERRADA.\n\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\n1 вҖ” FAIXAS DE TAMANHO\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\n\nClassifique cada mensagem pelo nГәmero de caracteres visГӯveis (letras, nГәmeros, espaГ§os, pontuaГ§ГЈo, emojis):\n\n- CurtГӯssima : 5 a 25 caracteres\n- Curta      : 26 a 64 caracteres\n- MГ©dia      : 65 a 114 caracteres\n- Grande     : 115 a 179 caracteres\n- GrandГӯssima: 180 a 250 caracteres\n\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\n2 вҖ” REGRA DE COMPOSIГҮГғO (como dividir)\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\n\nPASSO 1: Leia o texto completo.\nPASSO 2: Identifique as unidades de sentido (cada ideia, pergunta ou bloco lГіgico).\nPASSO 3: Decida quantas mensagens sГЈo necessГЎrias.\nPASSO 4: Encaixe cada unidade em uma faixa de tamanho.\n\nA quebra Г© SEMPRE por SENTIDO, nunca por contagem mecГўnica de caracteres.\n\nELEMENTOS QUE NUNCA DEVEM SER QUEBRADOS NO MEIO:\n- Perguntas (mantenha a interrogaГ§ГЈo junto com a frase)\n- Chamadas para aГ§ГЈo (CTA)\n- Valores monetГЎrios (ex: \"12x R$ 450,00\")\n- Links completos\n- Nomes prГіprios\n- Avisos importantes (ex: disclaimers de preГ§o)\n- Emojis вҖ” devem ficar junto da frase a que pertencem\n\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\n3 вҖ” QUANTIDADE MГҒXIMA DE MENSAGENS\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\n\n- Texto simples (saudaГ§ГЈo, resposta curta): 1 ou 2 mensagens\n- Texto consultivo (explicaГ§ГЈo + pergunta): 2 ou 3 mensagens\n- Texto tГ©cnico ou informativo (valores, regras, avisos): 3 a 5 mensagens\n- NUNCA ultrapassar 5 mensagens\n\nSe o texto couber naturalmente em 1 mensagem, NГғO force divisГЈo.\nNaturalidade vem antes de qualquer regra de fragmentaГ§ГЈo.\n\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\n4 вҖ” RANDOMIZAГҮГғO DOS TAMANHOS\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\n\nA sequГӘncia de tamanhos deve parecer orgГўnica. Regras:\n\n- NUNCA enviar 3 mensagens do mesmo tamanho seguidas\n- Evitar repetiГ§ГЈo imediata do mesmo tamanho quando houver alternativa natural\n- Alternar com leve imprevisibilidade\n\nPesos para respostas normais:\n- CurtГӯssima: 10% | Curta: 30% | MГ©dia: 35% | Grande: 20% | GrandГӯssima: 5%\n\nPesos para respostas tГ©cnicas/informativas:\n- CurtГӯssima: 5% | Curta: 20% | MГ©dia: 35% | Grande: 25% | GrandГӯssima: 15%\n\nPenalidades:\n- Mesmo tamanho da mensagem anterior: peso Г— 0.45\n- Terceira repetiГ§ГЈo consecutiva: peso = 0\n\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\n5 вҖ” HIERARQUIA DE PRIORIDADE\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\n\n1. PRESERVAГҮГғO вҖ” o texto de saГӯda deve ser idГӘntico ao de entrada (apenas dividido)\n2. NATURALIDADE вҖ” a quebra deve parecer humana\n3. CLAREZA вҖ” cada mensagem deve fazer sentido sozinha\n4. SENTIDO вҖ” quebrar por ideia, nГЈo por metragem\n\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\n6 вҖ” FORMATO DE SAГҚDA вҖ” EXCLUSIVAMENTE JSON\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\n\nResponda APENAS com o JSON abaixo. Nada antes. Nada depois. Sem markdown. Sem explicaГ§ГЈo.\n\n{\n  \"mensagens\": [\n    { \"texto\": \"<bloco 1>\", \"tamanho\": \"<curtissima|curta|media|grande|grandissima>\" },\n    { \"texto\": \"<bloco 2>\", \"tamanho\": \"<curtissima|curta|media|grande|grandissima>\" }\n  ]\n}\n\nREGRAS DO JSON:\n- \"texto\" = o trecho EXATO do texto original, sem alteraГ§ГЈo\n- \"tamanho\" = classificaГ§ГЈo do bloco conforme faixas da seГ§ГЈo 1\n- MГӯnimo 1 mensagem, mГЎximo 5 mensagens\n- Sem trailing comma\n- Sem markdown (sem ```json)\n- Nada fora do JSON\n\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\n7 вҖ” EXEMPLOS\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\n\nENTRADA:\n\"Oi, Maria! Prazer, sou a DomainAssistant da Demo Events Co рҹҳҠ Vou te ajudar a viver um festival em alto mar! Com quem eu falo?\"\n\nSAГҚDA CORRETA:\n{\n  \"mensagens\": [\n    { \"texto\": \"Oi, Maria! Prazer, sou a DomainAssistant da Demo Events Co рҹҳҠ\", \"tamanho\": \"media\" },\n    { \"texto\": \"Vou te ajudar a viver um festival em alto mar!\", \"tamanho\": \"media\" },\n    { \"texto\": \"Com quem eu falo?\", \"tamanho\": \"curtissima\" }\n  ]\n}\n\nSAГҚDA ERRADA (violaГ§Гөes marcadas):\n{\n  \"mensagens\": [\n    { \"texto\": \"Oi, DomainAssistant!\", \"tamanho\": \"curtissima\" },        вҶҗ ERRADO: trocou \"Maria\" por \"DomainAssistant\"\n    { \"texto\": \"Sou da Demo Events Co, prazer!\", \"tamanho\": \"curta\" }, вҶҗ ERRADO: reescreveu a frase\n    { \"texto\": \"Me conta seu nome?\", \"tamanho\": \"curta\" }         вҶҗ ERRADO: inventou frase que nГЈo existia\n  ]\n}\n\n---\n\nENTRADA:\n\"Que Гіtimo, JoГЈo! Acima estГЈo o link de reserva e os materiais do Navio CabarГ©. Ali em cima vocГӘ encontra o link com todos os valores para vocГӘs 3. вҡ пёҸ Importante: o link de reserva nГЈo garante o valor. A oferta Г© vГЎlida para o momento e os valores sГЈo dinГўmicos, podendo variar para mais ou para menos. DГЎ uma olhadinha nos valores pelo link! O valor estГЎ dentro ou prГіximo do seu orГ§amento? рҹҳҠ\"\n\nSAГҚDA CORRETA:\n{\n  \"mensagens\": [\n    { \"texto\": \"Que Гіtimo, JoГЈo!\", \"tamanho\": \"curtissima\" },\n    { \"texto\": \"Acima estГЈo o link de reserva e os materiais do Navio CabarГ©. Ali em cima vocГӘ encontra o link com todos os valores para vocГӘs 3.\", \"tamanho\": \"grandissima\" },\n    { \"texto\": \"вҡ пёҸ Importante: o link de reserva nГЈo garante o valor. A oferta Г© vГЎlida para o momento e os valores sГЈo dinГўmicos, podendo variar para mais ou para menos.\", \"tamanho\": \"grandissima\" },\n    { \"texto\": \"DГЎ uma olhadinha nos valores pelo link! O valor estГЎ dentro ou prГіximo do seu orГ§amento? рҹҳҠ\", \"tamanho\": \"grande\" }\n  ]\n}\n```"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1712,1472],"id":"bd3b229e-9497-46e3-ab5c-e0a7585a574f","name":"AI Agent","retryOnFail":false,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1728,1696],"id":"1a6f2104-93a1-46ee-a51e-c650b7a1cd97","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').first().json.telefone }}_{{ $('When Executed by Another Workflow').first().json.tipo_fluxo }}","tableName":"promo","contextWindowLength":100},"id":"c252a242-d093-44fb-b4fe-b6b75d37baf8","name":"Memory Postgres1","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1856,1696],"credentials":{"postgres":{"id":"TTrqj0rnakiukRd7","name":"Postgres account"}}},{"parameters":{"jsCode":"// в•”в•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•—\n// в•‘  CODE NODE: Calcular Delays вҖ” Anatomia da Mensagem              в•‘\n// в•‘  PosiГ§ГЈo: APГ“S o AI Agent que quebrou a mensagem                в•‘\n// в•‘                                                                  в•‘\n// в•‘  Input : JSON com array \"mensagens\" retornado pela LLM          в•‘\n// в•‘  Output: Array de items, 1 por mensagem, com delay_ms calculado в•‘\n// в•‘                                                                  в•‘\n// в•‘  O nГі seguinte (SplitInBatches ou Loop) envia cada mensagem     в•‘\n// в•‘  com o delay correspondente via Wait node ou setTimeout.        в•‘\n// в•ҡв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•қ\n\nconst raw = $input.first().json;\n\n// в”Җв”Җ Parse defensivo do output da LLM в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nlet mensagens = [];\n\nif (raw.output) {\n  // AI Agent node retorna em .output (string ou objeto)\n  try {\n    const parsed = typeof raw.output === 'string'\n      ? JSON.parse(raw.output.replace(/```json|```/g, '').trim())\n      : raw.output;\n    mensagens = parsed.mensagens || [];\n  } catch (e) {\n    // Fallback: se a LLM nГЈo retornou JSON vГЎlido, enviar texto original como mensagem Гәnica\n    mensagens = [{ texto: String(raw.output), tamanho: 'grande' }];\n  }\n} else if (raw.mensagens) {\n  mensagens = raw.mensagens;\n} else if (raw.text) {\n  // Fallback para AI Agent que retorna em .text\n  try {\n    const parsed = JSON.parse(raw.text.replace(/```json|```/g, '').trim());\n    mensagens = parsed.mensagens || [];\n  } catch (e) {\n    mensagens = [{ texto: String(raw.text), tamanho: 'grande' }];\n  }\n}\n\n// в”Җв”Җ ValidaГ§ГЈo: se vazio, fallback в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nif (!mensagens || mensagens.length === 0) {\n  return [{\n    json: {\n      texto: raw.respostaOriginal || raw.output || '[ERRO: sem mensagens]',\n      tamanho: 'grande',\n      delay_ms: 0,\n      indice: 0,\n      total: 1,\n      primeira: true,\n      ultima: true\n    }\n  }];\n}\n\n// в”Җв”Җ FГіrmula de delay (da Anatomia da Mensagem) в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\n// delay_ms = clamp(700 + (chars*38) + (virgulas*180) + (pontos*280) + (quebras*450), 1000, 12000)\n// + jitter de Вұ12%\n\nfunction calcDelay(texto) {\n  const chars    = texto.length;\n  const virgulas = (texto.match(/,/g) || []).length;\n  const pontos   = (texto.match(/[.!?;:]/g) || []).length;\n  const quebras  = (texto.match(/\\n/g) || []).length;\n\n  const base = 700 + (chars * 38) + (virgulas * 180) + (pontos * 280) + (quebras * 450);\n  const clamped = Math.max(1000, Math.min(12000, base));\n\n  // Jitter Вұ12%\n  const jitter = 1 + (Math.random() * 0.24 - 0.12);\n  return Math.round(clamped * jitter);\n}\n\n// в”Җв”Җ Montar saГӯda: 1 item por mensagem в”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җв”Җ\nconst result = mensagens.map((msg, i) => ({\n  json: {\n    resposta:    msg.texto || '',\n    tamanho:  msg.tamanho || 'media',\n    delay_ms: i === 0 ? 0 : calcDelay(msg.texto || ''),  // Primeira msg sem delay\n    indice:   i,\n    total:    mensagens.length,\n    primeira: i === 0,\n    ultima:   i === mensagens.length - 1\n  }\n}));\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,1456],"id":"945ec537-4bc8-405a-81b2-430e183e889e","name":"Code in JavaScript1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{"includeBinaries":false}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2512,1280],"id":"7d462302-37d8-4398-a8e2-328272ebafe8","name":"Aggregate"},{"parameters":{"jsCode":"const response = $(\"Aggregate\").first().json;\n\n// 1. Pegamos a lista interna\nconst listaOriginal = response.data;\n\n// 2. Filtramos para manter apenas a primeira ocorrГӘncia de cada ID\nconst itensUnicos = listaOriginal.filter((item, index, self) =>\n  index === self.findIndex((t) => t.id === item.id)\n);\n\nreturn itensUnicos;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2736,1280],"id":"fb29c5bc-959d-486f-a3c8-a46451d10a21","name":"Code in JavaScript2"},{"parameters":{"method":"POST","url":"={{ $('When Executed by Another Workflow').first().json.chatwooturl }}/api/v1/accounts/{{ $('When Executed by Another Workflow').first().json.accountid }}/conversations/{{ $('When Executed by Another Workflow').first().json.conversationid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('When Executed by Another Workflow').first().json.chatwoottoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ String(\"Enviado Imagem\" + \" \" +  $json.asset_url)  }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1040,1568],"id":"c7cd71dc-a8cf-40af-b44b-60627452a7e1","name":"HTTP Request37"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c59408c2-efb4-4cb4-9559-c1160d8f6940","leftValue":"={{ $json.enviar_foto_cabine }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[816,1392],"id":"2a029d4e-2949-4cbd-be96-2a4f3afbeb36","name":"If"},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('When Executed by Another Workflow').item.json.telefone }}","messageType":"image","mediaLink":"={{ $('When Executed by Another Workflow').item.json.asset_url }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1488,1360],"id":"d12b7863-aaa3-49f5-a337-2ff16b58d627","name":"Send message","webhookId":"5355e83a-ae40-49f5-a086-0a78a484428b","credentials":{"whatsAppApi":{"id":"7p03rSaYxzUJ6l9f","name":"WhatsApp Formulario"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('When Executed by Another Workflow').first().json.origem }}","rightValue":"formulario","operator":{"type":"string","operation":"equals"},"id":"f35edcdb-f1f4-4163-9a7d-355669ffc08f"}],"combinator":"and"},"renameOutput":true,"outputKey":"Formulario"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bbef08c0-2e3f-493b-a966-68fcb886c66f","leftValue":"={{ $('When Executed by Another Workflow').first().json.origem }}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Whatsapp"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"67d36fc1-3c1f-4393-908a-48e1f65784ca","leftValue":"={{ $('When Executed by Another Workflow').first().json.origem }}","rightValue":"bdr","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"BDR"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1264,1552],"id":"550caae7-fc38-4647-b4e1-b14451d05466","name":"Switch1"},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('When Executed by Another Workflow').item.json.telefone }}","messageType":"image","mediaLink":"={{ $('When Executed by Another Workflow').item.json.asset_url }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1488,1552],"id":"17c37595-3a97-4443-b2a8-4af39be38cad","name":"Send message1","webhookId":"5355e83a-ae40-49f5-a086-0a78a484428b","credentials":{"whatsAppApi":{"id":"tKuBajzyPd344LxI","name":"Whatsapp Account - Whastapp ADS"}}},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('When Executed by Another Workflow').item.json.telefone }}","messageType":"image","mediaLink":"={{ $('When Executed by Another Workflow').item.json.asset_url }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1488,1744],"id":"329727dc-ad67-454f-8ea0-f3ccbbb2ac92","name":"Send message2","webhookId":"5355e83a-ae40-49f5-a086-0a78a484428b","credentials":{"whatsAppApi":{"id":"7p03rSaYxzUJ6l9f","name":"WhatsApp Formulario"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"If","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Code in JavaScript","type":"main","index":0}]]},"Responder com audio?1":{"main":[[{"node":"HTTP Request19","type":"main","index":0}],[{"node":"HTTP Request19","type":"main","index":0}]]},"HTTP Request19":{"main":[[{"node":"Get a row1","type":"main","index":0}]]},"Update a row3":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Get a row1":{"main":[[{"node":"Update a row3","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Responder com audio?1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Memory Postgres1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request37","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"HTTP Request37":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Send message","type":"main","index":0}],[{"node":"Send message1","type":"main","index":0}],[{"node":"Send message2","type":"main","index":0}]]},"Send message2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Send message1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Send message":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"telefone":"+1 555-0100","accountid":"1","chatwooturl":"https://chatwoot.demo-events.com.br","chatwoottoken":"${CHATWOOT_TOKEN}","conversationid":"42844","origem":"whatsapp","resposta":"Que Гіtima notГӯcia! рҹҺү\n\nAqui estГЎ o seu link para garantir a reserva no *Dominguinho em Alto Mar* para 2 adulto(s):\n\nрҹ”— https://reservas.demo-events.com.br/quote/69bc12bb0c29f745bb2ccaa7\n\nQualquer dГәvida Г© sГі chamar! рҹҳҠ\n Os valores do Dominguinho em Alto-Mar variam conforme a experience resource escolhida e a quantidade de pessoas. Para te passar o valor certinho, vou gerar o link de reserva personalizado para 2 pessoas no nome de Paulo. DГЎ uma olhadinha no link e me diz se o investimento estГЎ dentro do que vocГӘ imaginava?","tipo_fluxo":"homologacao","tabela_whatsapp":"sdr_whatsapp_homologacao","enviar_foto_cabine":false}}]},"versionId":"adef9343-d472-4d04-8f15-ae606cd75bb7","activeVersionId":"adef9343-d472-4d04-8f15-ae606cd75bb7","versionCounter":242,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-05T18:47:05.216Z","createdAt":"2026-03-05T18:47:05.216Z","role":"workflow:owner","workflowId":"qacbJhgvuXw-qMZdKqWkH","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}