workflows_extracted/QoWQ5vLJaIH4YnnoHe89l.json
{"updatedAt":"2026-03-06T16:46:16.963Z","createdAt":"2026-02-16T21:32:01.283Z","id":"QoWQ5vLJaIH4YnnoHe89l","name":"WF_Busca_KB","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"query"},{"name":"tipo"},{"name":"top_k"}]}},"id":"1f714481-234c-478d-b69b-feb63d748d6d","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-768,176]},{"parameters":{"jsCode":"\n// Normalizar entradas e definir defaults\nconst input = $input.first().json;\n\nconst query     = (input.query || '').trim();\nconst tipo      = (input.tipo  || 'cruzeiros').toLowerCase().trim();\nconst topK      = parseInt(input.top_ki) || (tipo === 'cruzeiros' ? 10 : 3);\nconst dataHoje  = $now.toFormat('dd/MM/yyyy');   // ex: 22/02/2026\n\n// Validar tipo\nconst tipoFinal = ['cruzeiros','conhecimento'].includes(tipo) ? tipo : 'cruzeiros';\n\nreturn [{\n  json: {\n    query_text:  query,\n    tipo_busca:  tipoFinal,\n    top_k:       topK,\n    data_hoje:   dataHoje,\n    tem_query:   query.length > 0\n  }\n}];\n"},"id":"39f9dce5-fe77-4fc5-94e7-b3947ff43919","name":"Preparar Busca","type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,176]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bkb-cond-001","leftValue":"={{ $json.tem_query }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4d693f70-8bcc-428b-88b5-2b2d64736566","name":"Tem Query?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,176]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"input","value":"={{ $('Preparar Busca').item.json.query_text }}"},{"name":"model","value":"text-embedding-3-small"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"b5f65aed-dee1-4d56-84de-c367359bd371","name":"Gerar Embedding OpenAI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-96,80],"credentials":{"openAiApi":{"id":"V80Z0Ht4U1FeCavj","name":"OpenAi account Teste"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"\n// Extrair embedding da resposta OpenAI e formatar como literal pgvector: [v1,v2,...]\nconst prepData    = $('Preparar Busca').item.json;\nconst httpResp    = $input.first().json;\n\nlet embeddingArr  = null;\nlet embeddingPG   = '';  // string no formato [0.1,0.2,...] para pgvector\nlet hasEmbedding  = false;\n\ntry {\n  if (httpResp.data && httpResp.data[0] && httpResp.data[0].embedding) {\n    embeddingArr  = httpResp.data[0].embedding;\n    embeddingPG   = '[' + embeddingArr.join(',') + ']';\n    hasEmbedding  = true;\n  }\n} catch (e) {\n  // embedding não disponível – prossegue sem ele\n}\n\nreturn [{\n  json: {\n    ...prepData,\n    embedding_pgvector: embeddingPG,   // '[0.1,0.2,...]'  ← usado no SQL\n    has_embedding:      hasEmbedding\n  }\n}];\n"},"id":"1982a188-7b3d-40bc-b33d-c69af1caf6ab","name":"Extrair Embedding","type":"n8n-nodes-base.code","typeVersion":2,"position":[128,80],"alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bkb-sw-001","leftValue":"={{ $json.tipo_busca }}","rightValue":"cruzeiros","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cruzeiros"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bkb-sw-002","leftValue":"={{ $json.tipo_busca }}","rightValue":"conhecimento","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"conhecimento"}]},"options":{}},"id":"b74535da-a680-4532-8b9f-56926948fdfb","name":"Roteador Tipo","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[352,80]},{"parameters":{"operation":"executeQuery","query":"SELECT text, metadata::text AS metadata, 1 - (embedding <=> '{{ $json.embedding_pgvector }}'::vector) AS similarity_score FROM cruzeiros WHERE embedding IS NOT NULL ORDER BY embedding <=> '{{ $json.embedding_pgvector }}'::vector LIMIT {{ $json.top_k }};","options":{}},"id":"94e9c18f-583b-411a-a961-90307f760395","name":"Buscar Cruzeiros PGVector","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[576,-16],"credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT text, metadata::text AS metadata, 1 - (embedding <=> '{{ $json.embedding_pgvector }}'::vector) AS similarity_score FROM basedeconhecimento WHERE embedding IS NOT NULL ORDER BY embedding <=> '{{ $json.embedding_pgvector }}'::vector LIMIT {{ $json.top_k }};","options":{}},"id":"b87fb2d4-d50f-4aa2-aa8a-87cd745e44ec","name":"Buscar Conhecimento PGVector","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[576,176],"credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"\n/*\n * Processar resultados PGVector para cruzeiros.\n * Regras do prompt original:\n *   - Se data de INÍCIO do cruzeiro for ANTERIOR a HOJE → ignorar completamente\n *   - Se dois eventos do mesmo artista: um passado e um futuro → retornar apenas o futuro\n */\n\n// Dados de contexto do node Preparar Busca\nconst prep = $('Preparar Busca').item.json;\n\n// Parse data de hoje: 'dd/MM/yyyy' → Date\nfunction parseDataBR(str) {\n  if (!str) return new Date();\n  const [d, m, y] = str.split('/');\n  return new Date(parseInt(y), parseInt(m) - 1, parseInt(d));\n}\nconst hoje = parseDataBR(prep.data_hoje);\n\n// Receber TODOS os itens retornados pelo Postgres\n// n8n Postgres executeQuery retorna 1 item por linha de resultado\nconst items = $input.all();\n\nconst results = [];\n\nfor (const item of items) {\n  const row = item.json;\n\n  if (!row || !row.text) continue;\n\n  // Parsear metadata (vem como string JSON ou objeto)\n  let meta = {};\n  try {\n    meta = typeof row.metadata === 'string' ? JSON.parse(row.metadata) : (row.metadata || {});\n  } catch(e) {}\n  meta = meta.metadata;\n  \n  // Extrair data de início do cruzeiro para filtrar passados\n  // Formatos possíveis nos metadados: \"departure_date\", \"data_embarque\", \"date_nights\" (\"08/01/2026 - 03 noites\")\n  let dataEmbarque = null;\n\n  if (meta.departure_date) {\n    // Pode ser 'YYYY-MM-DD' ou 'DD/MM/YYYY'\n    const s = meta.departure_date;\n    if (s.includes('-')) {\n      dataEmbarque = new Date(s);\n    } else if (s.includes('/')) {\n      dataEmbarque = parseDataBR(s);\n    }\n  }\n\n  if (!dataEmbarque && meta.date_nights) {\n    // Formato: \"08/01/2026 - 03 noites\"\n    const match = meta.date_nights.match(/^(\\d{2}\\/\\d{2}\\/\\d{4})/);\n    if (match) dataEmbarque = parseDataBR(match[1]);\n  }\n\n  // ⚠️ Regra principal: ignorar cruzeiros com data ANTERIOR a hoje\n  if (dataEmbarque && dataEmbarque < hoje) continue;\n\n  results.push({\n    navio:           meta.cruise_name    || meta.navio    || '',\n    artista:         Array.isArray(meta.attractions) ? meta.attractions.join(', ') : (meta.attractions || meta.artista || ''),\n    cabin_type:      meta.cabin_type     || meta.experience resource   || 'interna',\n    price_pp_brl:    parseFloat(meta.price_pp_brl) || 0,\n    total_price_brl: parseFloat(meta.total_price_brl) || 0,\n    date_nights:     meta.date_nights    || '',\n    data_embarque:   meta.departure_date || '',\n    embark:          meta.embark         || 'Santos',\n    score:           parseFloat(row.similarity_score) || 0,\n    content:         row.text.substring(0, 300)\n  });\n}\n\n// Desduplicar por artista: manter apenas o cruzeiro futuro mais próximo\nconst byArtista = {};\nfor (const r of results) {\n  const key = r.artista.toLowerCase();\n  if (!byArtista[key] || r.score > byArtista[key].score) {\n    byArtista[key] = r;\n  }\n}\nconst deduped = Object.values(byArtista).sort((a, b) => b.score - a.score);\n\nreturn [{\n  json: {\n    tipo:       'cruzeiros',\n    query:      prep.query_text,\n    data_hoje:  prep.data_hoje,\n    resultados: results,\n    total:      results.length\n  }\n}];\n"},"id":"04ed031d-9802-4c4d-a22c-a1426fd150e1","name":"Processar Cruzeiros","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,-16],"alwaysOutputData":true},{"parameters":{"jsCode":"\n/*\n * Processar resultados PGVector para base de conhecimento.\n * Retorna documentos formatados com topic, subtopic, content, keywords e score.\n * Baseado nas regras da tool consultar_base_conhecimento do SDR original.\n */\n\nconst prep  = $('Preparar Busca').item.json;\nconst items = $input.all();\n\nconst results = [];\n\nfor (const item of items) {\n  const row = item.json;\n  if (!row || !row.text) continue;\n\n  let meta = {};\n  try {\n    meta = typeof row.metadata === 'string' ? JSON.parse(row.metadata) : (row.metadata || {});\n  } catch(e) {}\n\n  results.push({\n    doc_id:    meta.doc_id   || '',\n    topic:     meta.topic    || meta.category || 'geral',\n    subtopic:  meta.subtopic || '',\n    title:     meta.title    || '',\n    content:   row.text,\n    keywords:  meta.keywords || [],\n    aliases:   meta.aliases  || [],\n    score:     parseFloat(row.similarity_score) || 0\n  });\n}\n\n// Ordenar por relevância\nresults.sort((a, b) => b.score - a.score);\n\nreturn [{\n  json: {\n    tipo:       'conhecimento',\n    query:      prep.query_text,\n    resultados: results,\n    total:      results.length\n  }\n}];\n"},"id":"364002e1-2d01-4c25-9631-3b3d31723644","name":"Processar Conhecimento","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,176],"alwaysOutputData":true},{"parameters":{"jsCode":"\nreturn [{\n  json: {\n    tipo:       $('Preparar Busca').item.json.tipo_busca,\n    query:      '',\n    resultados: [],\n    total:      0,\n    message:    'Query vazia. Informe um termo de busca.'\n  }\n}];\n"},"id":"667d53d9-e023-45eb-b0a4-1e7e7c68d602","name":"Resultado Vazio","type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,320],"alwaysOutputData":true},{"parameters":{"jsCode":"\n/*\n * Formatar resposta final para consumo pelo agente LLM.\n * Converte os resultados em texto estruturado conforme as regras\n * dos prompts das tools originais (consulta_cruzeiros e consultar_base_conhecimento).\n */\nconst data       = $input.first().json;\nconst tipo       = data.tipo;\nconst resultados = data.resultados || [];\nconst query      = data.query || '';\nconst message    = data.message || '';\n\nlet textoFormatado = '';\n\nif (tipo === 'cruzeiros') {\n\n  if (resultados.length === 0) {\n    textoFormatado = message ||\n      `Nenhum cruzeiro disponível encontrado para: \"${query}\". ` +\n      'Se quiser verificar outro artista ou período, informe o nome do cruzeiro.';\n  } else {\n    textoFormatado = `📋 Cruzeiros disponíveis para: \"${query}\"\\n\\n`;\n    resultados.forEach((r, i) => {\n      const total = r.total_price_brl > 0\n        ? `  Total (${r.total_price_brl} pessoas): R$ ${r.total_price_brl.toLocaleString('pt-BR')}`\n        : '';\n      textoFormatado +=\n        `${i + 1}. **${r.navio}**\\n` +\n        `  Artistas: ${r.artista || 'a confirmar'}\\n` +\n        `  experience resource: ${r.cabin_type} | R$ ${r.price_pp_brl.toLocaleString('pt-BR')} por pessoa\\n` +\n        `  Data: ${r.date_nights || r.data_embarque}\\n` +\n        `  Embarque: ${r.embark}\\n` +\n        (total ? total + '\\n' : '') +\n        `  Relevância: ${(r.score * 100).toFixed(0)}%\\n\\n`;\n    });\n  }\n\n} else { // conhecimento\n\n  if (resultados.length === 0) {\n    textoFormatado = message ||\n      `Não encontrei informação específica sobre: \"${query}\". ` +\n      'Pode reformular a pergunta?';\n  } else {\n    textoFormatado = `📚 Base de conhecimento — \"${query}\"\\n\\n`;\n    resultados.forEach((r, i) => {\n      const titulo = r.title || r.topic || `Documento ${i + 1}`;\n      textoFormatado +=\n        `**${titulo}**\\n` +\n        `${r.content}\\n\\n`;\n    });\n  }\n}\n\nreturn [{\n  json: {\n    tipo,\n    query,\n    resultados,\n    total:   resultados.length,\n    output:  textoFormatado   // ← campo que o agente LLM lê como resposta da tool\n  }\n}];\n"},"id":"76e07143-54f0-4b63-a156-874376d2e15b","name":"Formatar Resposta Final","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,176],"alwaysOutputData":true}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Preparar Busca","type":"main","index":0}]]},"Preparar Busca":{"main":[[{"node":"Tem Query?","type":"main","index":0}]]},"Tem Query?":{"main":[[{"node":"Gerar Embedding OpenAI","type":"main","index":0}],[{"node":"Resultado Vazio","type":"main","index":0}]]},"Gerar Embedding OpenAI":{"main":[[{"node":"Extrair Embedding","type":"main","index":0}]]},"Extrair Embedding":{"main":[[{"node":"Roteador Tipo","type":"main","index":0}]]},"Roteador Tipo":{"main":[[{"node":"Buscar Cruzeiros PGVector","type":"main","index":0}],[{"node":"Buscar Conhecimento PGVector","type":"main","index":0}]]},"Buscar Cruzeiros PGVector":{"main":[[{"node":"Processar Cruzeiros","type":"main","index":0}]]},"Buscar Conhecimento PGVector":{"main":[[{"node":"Processar Conhecimento","type":"main","index":0}]]},"Processar Cruzeiros":{"main":[[{"node":"Formatar Resposta Final","type":"main","index":0}]]},"Processar Conhecimento":{"main":[[{"node":"Formatar Resposta Final","type":"main","index":0}]]},"Resultado Vazio":{"main":[[{"node":"Formatar Resposta Final","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":180},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"query":"Embaixador em Alto-mar Gusttavo Lima dezembro 2026","tipo":"cruzeiros","top_k":"5"}}]},"versionId":"0a23c6ce-9fd0-41ce-825f-1ecf72cb4ccd","activeVersionId":"58cfe4a5-5800-4861-99ce-17f1805aaf94","versionCounter":897,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-16T21:32:01.283Z","createdAt":"2026-02-16T21:32:01.283Z","role":"workflow:owner","workflowId":"QoWQ5vLJaIH4YnnoHe89l","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}