workflows_extracted/qtNIPt2NHtH3oj7viT2Rq.json
{"updatedAt":"2026-04-22T18:03:35.821Z","createdAt":"2026-04-19T23:01:25.393Z","id":"qtNIPt2NHtH3oj7viT2Rq","name":"WF_Get_Cabin_Media","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"categoria"},{"name":"variante"},{"name":"conta"}]}},"id":"b39e0f32-8746-4725-a3fd-23decc2bca24","name":"Workflow_Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"alwaysOutputData":false},{"parameters":{"jsCode":"// Monta o id da linha em cabin_media a partir de (categoria, variante, conta).\n// Padrões descobertos em WF_Upload_Cabin_Media:\n//   experience resource:   id = `${categoria}${conta}`                       ex: cabines__varanda_experience + _formulario\n//   marketing: id = `marketing__${slug}__${variante}${conta}`    ex: marketing__navio_do_wesley_safadao__video + _bdr\n// Para marketing, a `categoria` que vem do caller pode ser tanto `marketing__<slug>`\n// quanto `material_marketing_<conta>` (como está gravado no banco). Tratamos ambos.\nconst t = $input.first().json;\nconst categoria = String(t.categoria || '').trim();\nconst variante = t.variante === null || t.variante === undefined ? null : String(t.variante).trim() || null;\nconst conta = String(t.conta || '').trim();\n\nconst CONTAS_VALIDAS = ['_formulario', '_whatsapp', '_bdr'];\nif (!CONTAS_VALIDAS.includes(conta)) {\n  throw new Error(`conta invalida: '${conta}'. Use ${CONTAS_VALIDAS.join('|')}`);\n}\nif (!categoria) throw new Error('categoria vazia');\n\nlet id;\nif (categoria.startsWith('cabines__')) {\n  id = `${categoria}${conta}`;\n} else if (categoria.startsWith('marketing__')) {\n  if (!variante) throw new Error('variante obrigatoria para marketing (banner|video)');\n  id = `${categoria}__${variante}${conta}`;\n} else if (categoria.startsWith('material_marketing')) {\n  // Categoria no formato como está gravada no banco (material_marketing_<conta>).\n  // Nesse caso o caller precisa mandar tambem o slug via `variante` no formato `${slug}__${banner|video}`.\n  // Mantido apenas como fallback — preferencia é categoria=marketing__<slug>.\n  throw new Error('Para marketing, passe categoria=marketing__<slug> e variante=banner|video');\n} else {\n  throw new Error(`prefixo de categoria desconhecido: '${categoria}'`);\n}\n\nreturn [{ json: { id, categoria, variante, conta } }];"},"id":"b75d39b4-e85d-407e-aadc-3fb168142377","name":"Montar ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"operation":"executeQuery","query":"SELECT id, categoria, variante, label, asset_url, whatsapp_id\nFROM cabin_media\nWHERE id = $1\nLIMIT 1;","options":{"queryReplacement":"={{ $json.id }}"}},"id":"4181a54d-feb4-4305-829a-b9322e77d68f","name":"Buscar Media","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[448,0],"credentials":{"postgres":{"id":"7l1NQXAZ96h0iB2h","name":"Postgres DomainAssistant KB"}}},{"parameters":{"jsCode":"// Saida final da tool buscar_midia_cabine\nconst rows = $input.all().map(i => i.json);\nconst req = $('Montar ID').first().json;\n\nif (!rows.length || !rows[0].id) {\n  return [{\n    json: {\n      encontrado: false,\n      motivo: 'media_nao_cadastrada',\n      id_tentado: req.id,\n      categoria: req.categoria,\n      variante: req.variante,\n      conta: req.conta\n    }\n  }];\n}\n\nconst r = rows[0];\nreturn [{\n  json: {\n    encontrado: true,\n    id: r.id,\n    categoria: r.categoria,\n    variante: r.variante,\n    label: r.label,\n    asset_url: r.asset_url,\n    whatsapp_id: r.whatsapp_id,\n    tem_whatsapp_id: !!r.whatsapp_id\n  }\n}];"},"id":"04bd0ed3-3238-432b-86f6-1b4f7fbedfcd","name":"Formatar Saida","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0]}],"connections":{"Workflow_Trigger":{"main":[[{"node":"Montar ID","type":"main","index":0}]]},"Montar ID":{"main":[[{"node":"Buscar Media","type":"main","index":0}]]},"Buscar Media":{"main":[[{"node":"Formatar Saida","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Workflow_Trigger":[{"json":{"categoria":"cabines__interna","variante":"null","conta":"_whatsapp"}}]},"versionId":"0024d144-0b9c-4edd-9f47-10a59d0a62ce","activeVersionId":"0024d144-0b9c-4edd-9f47-10a59d0a62ce","versionCounter":18,"triggerCount":0,"tags":[{"updatedAt":"2026-04-19T06:58:20.118Z","createdAt":"2026-04-19T06:58:20.118Z","id":"Md5f13pwxcd0t2jV","name":"domain_assistant"},{"updatedAt":"2026-04-19T06:58:20.197Z","createdAt":"2026-04-19T06:58:20.197Z","id":"CfS8A25PFIq3l1CN","name":"rag"}],"shared":[{"updatedAt":"2026-04-19T23:01:25.393Z","createdAt":"2026-04-19T23:01:25.393Z","role":"workflow:owner","workflowId":"qtNIPt2NHtH3oj7viT2Rq","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}