workflows_extracted/qYk8zfxQHseu_n-4xqNID.json
{"updatedAt":"2026-05-18T21:26:31.801Z","createdAt":"2026-03-05T18:46:24.786Z","id":"qYk8zfxQHseu_n-4xqNID","name":"WF_HANDOFF Homologacao","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"phoneNumber"},{"name":"resumoConversa"},{"name":"sessionId"},{"name":"contactId"},{"name":"urlChatwoot"},{"name":"tokenChatwoot"},{"name":"accountId"},{"name":"conversationId"},{"name":"cpf"},{"name":"email"},{"name":"qtdPessoas"},{"name":"navio"},{"name":"estilo"},{"name":"qualificacao"},{"name":"campanha"},{"name":"nomeCompleto"},{"name":"origem"},{"name":"tipo_fluxo"},{"name":"tabela_whatsapp"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-13216,3232],"id":"b192e378-e3e8-4431-86ee-9e62d27d3ffc","name":"start"},{"parameters":{"operation":"get","tableId":"={{ $('start').item.json.tabela_whatsapp }}","filters":{"conditions":[{"keyName":"Telefone","keyValue":"={{ $json.phoneNumber }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-12992,3232],"id":"df8c6da8-2744-4b87-ae3c-09dd1d2a74a9","name":"Get a row12","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('start').item.json.phoneNumber }}_{{ $('start').item.json.tipo_fluxo }}","tableName":"promo","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-12416,3456],"id":"0570359c-93d7-4f15-9080-78d7d12f0847","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"TTrqj0rnakiukRd7","name":"Postgres account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1uVB9YAId89qpT2EwwuqzrXZkGlqxB6VI8_GbnFrFgD8","mode":"list","cachedResultName":"Vendedores_leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uVB9YAId89qpT2EwwuqzrXZkGlqxB6VI8_GbnFrFgD8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uVB9YAId89qpT2EwwuqzrXZkGlqxB6VI8_GbnFrFgD8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-12192,3232],"id":"ead910b3-2acb-4188-a5cf-aa47ba2fb9b3","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Fblg1R5XxHh6GWy1","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Mapeamento dos vendedores com seus dados do Chatwoot\nconst vendedoresInfo = {\n  \"Vendedor 1\": { inbox: 24, agentId: 21, nome: \"Fabyanne Amaral\", link: \"https://wa.link/h9riua\" },\n  \"Vendedor 2\": { inbox: 39, agentId: 16, nome: \"Verônica Silva\", link: \"https://wa.link/uplfbf\" },\n  \"Vendedor 3\": { inbox: 40, agentId: 14, nome: \"Paulo Henrique\", link: \"https://wa.link/k6gaeh\" },\n};\n\n// Pega os items do Google Sheets\nconst rows = $input.all();\n\n// Monta array com vendedor + quantidade atual + row da planilha\nconst vendedores = rows.map(item => {\n  const chave = item.json[\"Vendedores\"];\n  const qtdLeads = parseInt(item.json[\"Quantidade de Leas Passados para cada\"]) || 0;\n  const rowNumber = item.json[\"row_number\"];\n  const info = vendedoresInfo[chave] || {};\n  return { chave, qtdLeads, rowNumber, ...info };\n});\n\n// Ordena: menor quantidade primeiro, desempate pela row (ordem natural)\nvendedores.sort((a, b) => a.qtdLeads - b.qtdLeads || a.rowNumber - b.rowNumber);\n\n// O primeiro é quem deve receber o próximo lead\nconst escolhido = vendedores[0];\n\nreturn [{\n  json: {\n    vendedor: escolhido.chave,\n    nomeAgente: escolhido.nome,\n    inbox: escolhido.inbox,\n    agentId: escolhido.agentId,\n    link: escolhido.link, // ✅ aqui está o link\n    rowNumber: escolhido.rowNumber,\n    qtdLeadsAtual: escolhido.qtdLeads,\n    novaQtdLeads: escolhido.qtdLeads + 1,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-11968,3232],"id":"8d17eee9-e782-4dee-860f-678e04f8b377","name":"Code in JavaScript"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1uVB9YAId89qpT2EwwuqzrXZkGlqxB6VI8_GbnFrFgD8","mode":"list","cachedResultName":"Vendedores_leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uVB9YAId89qpT2EwwuqzrXZkGlqxB6VI8_GbnFrFgD8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uVB9YAId89qpT2EwwuqzrXZkGlqxB6VI8_GbnFrFgD8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Quantidade de Leas Passados para cada":"={{ $('Code in JavaScript').item.json.novaQtdLeads }}","row_number":"={{ $('Code in JavaScript').item.json.rowNumber }}"},"matchingColumns":["row_number"],"schema":[{"id":"Vendedores","displayName":"Vendedores","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Quantidade de Leas Passados para cada","displayName":"Quantidade de Leas Passados para cada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-11520,3232],"id":"fa59aad8-6357-48ca-b2ef-7f51ec9f023d","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Fblg1R5XxHh6GWy1","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"={{ $('start').first().json.urlChatwoot }}/api/v1/accounts/{{ $('start').first().json.accountId }}/conversations/{{ $('start').first().json.conversationId }}/assignments","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').first().json.tokenChatwoot }}"},{"name":"Content-Type","value":"application/json; charset=utf-8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"assignee_id\": {{ $('Vendedor1').first().json.id }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-11072,3232],"id":"830c34c4-47dc-4978-a6f0-f17fc38b6afe","name":"Transfere1"},{"parameters":{"method":"PUT","url":"={{ $('start').first().json.urlChatwoot }}/api/v1/accounts/{{ $('start').first().json.accountId }}/contacts/{{ $('start').first().json.contactId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').first().json.tokenChatwoot }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"custom_attributes\": {\n    \"vendedor_responsavel\": \"{{ $('Vendedor1').item.json.nomeAgente }}\",\n    \"resumo_conversa\": \"{{ $('AI Agent5').first().json.output.replace(/(\\r\\n|\\n|\\r)/gm, \" \") }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-10848,3232],"id":"68518a9a-3df0-4cd1-a070-66ab4fe55d61","name":"Atualiza Chatwoot1"},{"parameters":{"promptType":"define","text":"=[{\"navio\": \"{{ $('start').first().json.navio }}\"}]","hasOutputParser":true,"options":{"systemMessage":"=PAPEL\nVocê é um classificador de intenção para cruzeiros temáticos. Sua tarefa é identificar qual “navio/atração” o lead quer, com base no texto recebido.\n\nOBJETIVO\nDado um JSON de entrada (normalmente um array com 1 objeto), retornar APENAS um JSON no formato:\n{\"atracao\":\"<uma das 6 opções OU Não identificado>\"}\n\nENTRADA (o que você recebe)\nUm JSON (geralmente assim):\n[\n  {\"navio\": \"Navio do embaixador\"}\n]\n\nREGRAS DURAS\n1) NÃO invente valores fora da lista abaixo.\n2) Saída deve ser SOMENTE o JSON final, sem explicações, sem texto extra, sem markdown.\n3) Se houver empate ou baixa confiança, use: {\"atracao\":\"Não identificado\"}.\n\nLISTA FIXA - Valores permitidos:\n- \"embaixador\"\n- \"vumbora_promar\"\n- \"cabare\"\n- \"rockboat\"\n- \"reveillon\"\n- \"chex\"\n- \"dominguinho\"\n- \"daniel\"\n- \"wesley_safadao\"\n- \"Não identificado\"\n\nCOMO DECIDIR (procedimento)\nA) Monte o TEXTO_ALVO concatenando (na ordem) os campos disponíveis e não vazios:\ncruzeiroInteressado, mensagem, last_message, texto, pergunta.\nSe só existir cruzeiroInteressado, use apenas ele.\n\nB) Normalize TEXTO_ALVO:\n- coloque em minúsculas\n- remova acentos\n- remova pontuação extra\n- reduza espaços múltiplos\n\nC) Faça matching por SCORE (pesos):\n- 3 pontos: frase/termo muito específico do navio (ex.: “rock boat”, “vumbora pro mar”, “embaixador em alto mar”, “navio cabare”, “navio ch&x”, “ch&x”)\n- 2 pontos: nome do artista/marca principal (ex.: “gustavo lima/gusttavo lima”, “bell marques/bel marques”, “leonardo”, “89 fm/89”, “reveillon”, “chitaozinho”, “xororo”)\n- 1 ponto: apelido comum (ex.: “gustavo”, “gusttavo”, “bel”, “bell”, “leo”, “rock”, “virada”, “fim de ano”)\n\nD) Se o maior score < 2 → \"Não identificado\"\nE) Se empate no maior score → \"Não identificado\"\nF) Caso contrário, retorne a atração correspondente ao maior score.\n\nDICIONÁRIO DE TERMOS (use estes gatilhos; considere variações e typos)\n1) embaixador\n- forte (3): \"navio do embaixador\", \"embaixador em alto mar\", \"embaixador em alto-mar\", \"cruzeiro do embaixador\"\n- médio (2): \"gustavo lima\", \"gusttavo lima\", \"embaixador\"\n- fraco (1): \"gustavo\", \"gusttavo\", \"lima\", \"embaixado\"\n\n2) vumbora_promar\n- forte (3): \"vumbora pro mar\", \"vumbora promar\", \"vumbora\"\n- médio (2): \"bell marques\", \"bel marques\", \"vumbora pro mar\"\n- fraco (1): \"bel\", \"bell\", \"vombora\", \"vumbora\"\n\n3) cabare\n- forte (3): \"navio cabare\", \"navio cabaré\", \"cabare em alto mar\", \"cabare em alto-mar\"\n- médio (2): \"leonardo\", \"cabare\", \"cabaré\"\n- fraco (1): \"leo\", \"cabaré\"\n\n4) rockboat\n- forte (3): \"89 rock boat\", \"rock boat\", \"a radio rock\", \"radio rock\"\n- médio (2): \"89fm\", \"89 fm\", \"89\", \"oitenta e nove\", \"radio rock\", \"rock boat\"\n- fraco (1): \"rock\", \"radio\", \"89\"\n\n5) reveillon\n- forte (3): \"reveillon em alto mar\", \"réveillon em alto mar\", \"virada em alto mar\"\n- médio (2): \"reveillon\", \"réveillon\", \"virada do ano\", \"ano novo\", \"fim de ano\"\n- fraco (1): \"virada\", \"new year\", \"fim de ano\"\n\n6) chex\n- forte (3): \"navio ch&x\", \"navio chx\", \"ch&x\", \"chx\"\n- médio (2): \"chitaozinho e xororo\", \"chitãozinho e xororó\", \"chitaozinho\", \"chitãozinho\", \"xororo\", \"xororó\"\n- fraco (1): \"chitao\", \"chitão\", \"xoro\"\n\nEXEMPLO\nEntrada:\n[\n  {\"navio\": \"Navio do embaixador\"}\n]\nSaída:\n{\"tag_identificada\":\"embaixador\"}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-10176,3232],"id":"1272bcd5-8c39-4523-a146-aea23f3c0777","name":"AI Agent"},{"parameters":{"method":"POST","url":"={{ $('start').first().json.urlChatwoot }}/api/v1/accounts/{{ $('start').first().json.accountId }}/conversations/{{ $('Busca conversa4').first().json.payload[0].id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').first().json.tokenChatwoot }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"labels\": [\"{{ $('Busca conversa4').item.json.payload[0].labels[0] }}\",\n  \"aguardando\",\n  \"{{ $('Busca conversa4').item.json.payload[0].labels[1] }}\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-9600,3232],"id":"45ddf72b-5fbb-492d-8ec0-888d87cdbe2b","name":"Atribui tag1"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"labels","mode":"list","cachedResultName":"labels"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-10624,3232],"id":"607074d0-4467-43a3-814a-39bdca278cee","name":"Puxa as tags1","credentials":{"postgres":{"id":"uSdxNemJ9RfhxUg0","name":"Postgres - Chatwoot"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"title"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-10400,3232],"id":"a5fd7462-7997-4fd6-8df8-d54addd7522b","name":"Aggregate1"},{"parameters":{"method":"POST","url":"={{ $('start').first().json.urlChatwoot }}/api/v1/accounts/{{ $('start').first().json.accountId }}/conversations/{{ $json.conversation_id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').first().json.tokenChatwoot }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"labels\": [\"{{ $('Busca conversa4').item.json.payload[0].labels[0] }}\",\n\"aguardando\",\n\"{{ $('Busca conversa4').item.json.payload[0].labels[1] }}\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-8032,3232],"id":"4d0a5666-eee4-4272-876a-c04044f498a6","name":"Atribui tag5"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-10176,3456],"id":"4956c381-b397-4401-926a-6ce8ff45a96e","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"method":"PUT","url":"={{ $('start').first().json.urlChatwoot }}/api/v1/accounts/{{ $('start').first().json.accountId }}/contacts/{{ $('start').first().json.contactId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').first().json.tokenChatwoot }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"custom_attributes\": {\n    \"inteligencia_artificial\": \"Desativada\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7360,3136],"id":"578d6615-60aa-47d5-952e-d397d2d5f18c","name":"Atualiza Chatwoot8"},{"parameters":{"method":"PUT","url":"={{ $('start').first().json.urlChatwoot }}/api/v1/accounts/{{ $('start').first().json.accountId }}/contacts/{{ $('start').first().json.contactId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').first().json.tokenChatwoot }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"custom_attributes\": {\n    \"inteligencia_artificial\": \"Desativada\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7360,3328],"id":"80a1e82c-26ab-4540-9374-380da268d34c","name":"Atualiza Chatwoot9"},{"parameters":{"operation":"update","tableId":"={{ $('start').first().json.tabela_whatsapp }}","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"vendedor","fieldValue":"={{ $('Vendedor1').item.json.nomeAgente }}"},{"fieldId":"pausado","fieldValue":"={{true}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6912,3136],"id":"69595310-805f-4e98-9401-4aebf0eb52b4","name":"Update a row1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"promptType":"define","text":"=resumo conversa: {{ $('start').first().json.resumoConversa }} | Telefone:{{ $('start').first().json.phoneNumber }}  || ","options":{"systemMessage":"=Crie uma mensagem que será enviada internamente para o executivo da Demo Events Co avisando que um lead é qualificado.\n{{ $('start').first().json.resumoConversa }}\n--\n\nSiga o seguinte exemplo:\n\n\"\n🧾 RESUMO DA CONVERSA — WILMA MARIA SILVA DE MENEZES\n\nNome: Wilma Maria Silva de Menezes\nTelefone: +55 61 96910-876\nPerfil: Primeira viagem de cruzeiro\nStatus: Lead interessado (morno → quente)\n\n👤 PERFIL DO LEAD\n\nNunca fez cruzeiro\n\nInteresse direto, objetiva (fala pouco, pergunta valor/datas)\n\nQuer casal\n\nForma de pagamento: cartão de crédito\n\nQuestiona desconto (perfil negociador leve)\n\n🚢 CRUZEIRO DE INTERESSE\n\nNavio: Vumbora Pro Mar\nArtista: Bell Marques\nEmbarque: Santos\nData: 20 de novembro de 2026\nDuração: 3 noites\n\n👥 COMPOSIÇÃO DO GRUPO\n\n2 pessoas (casal)\n\nOcupação: experience resource dupla\n\n💰 VALORES APRESENTADOS (por pessoa)\n\nInterna:\n12x R$ 371,50 ou R$ 4.458\n\nJanela:\n12x R$ 411,50 ou R$ 4.938\n\nVaranda (interesse principal):\n12x R$ 511,50 ou R$ 6.138\n\n📌 Valores aproximados\n📌 Pagamento em até 12x no cartão\n📌 À vista pode ter até 5% de desconto (consultor confirma)\n\n❓ OBJEÇÃO / DÚVIDA DO LEAD\n\nPerguntou se casal tem desconto\n\nFoi explicado que:\n\nValor é sempre por pessoa\n\nNão há “desconto de casal”, mas podem existir condições comerciais pontuais\n\n📌 STATUS ATUAL\n\n🟡 Lead morno avançado\n\nJá sabe valores\n\nJá sabe datas\n\nJá escolheu navio\n\nPróximo passo: atendimento humano para fechamento / negociação\n\nAtenciosamente,\nrag\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-12544,3232],"id":"5d912839-392a-4589-8d89-a1ad26e1eb7f","name":"AI Agent5"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-12544,3456],"id":"77537c8f-1d1a-4e0a-8c64-80a89b3dc308","name":"model","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"={{ $('start').first().json.urlChatwoot }}/api/v1/accounts/{{ $('start').first().json.accountId }}/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').first().json.tokenChatwoot }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inbox_id","value":"={{ $('Vendedor1').first().json.inbox }}"},{"name":"contact_id","value":"={{ $('Busca conversa4').first().json.payload[0].meta.sender.id }}"},{"name":"assignee_id","value":"={{ $('Vendedor1').first().json.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8704,3312],"id":"3f5c795f-9259-4472-956f-54a5260beb59","name":"Cria conversa"},{"parameters":{"jsCode":"// Define o fuso horário (Brasil/São Paulo)\nconst agora = $now.setZone('America/Sao_Paulo');\n\n// --- CONFIGURAÇÃO ---\nconst horaInicio = 9;   // Abre às 09:00\nconst horaFim = 19;     // Fecha às 19:00 (inclui até 18:59)\n\n// Obtém dados atuais\nconst diaSemana = agora.weekday; // 1=Seg, 2=Ter... 6=Sáb, 7=Dom\nconst horaAtual = agora.hour;\n\n// --- LÓGICA ---\n// 1. Verifica se é Segunda(1) a Sexta(5)\nconst ehDiaUtil = diaSemana >= 1 && diaSemana <= 5;\n\n// 2. Verifica horário: Maior ou igual a 9 E Menor que 19\n// (Menor que 19 pega todo o período das 18h, ex: 18:59)\nconst ehHorario = horaAtual >= horaInicio && horaAtual < horaFim;\n\n// Resultado final (true ou false)\nconst estaAberto = ehDiaUtil && ehHorario;\n\n// Retorno no padrão do n8n\nreturn {\n  json: {\n    dentroDoHorario: estaAberto\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-7808,3232],"id":"49e9a1ab-1394-4c58-a97d-53d183a57cda","name":"Code in JavaScript3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0513371b-3a96-4e38-aecb-2146ef2734b8","leftValue":"={{ $json.dentroDoHorario }}","rightValue":"={{ $json.dentroDoHorario }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7584,3232],"id":"5a05d870-6e01-4b22-ba6c-192b62aed801","name":"É horario comercial?"},{"parameters":{"method":"POST","url":"={{ $('start').first().json.urlChatwoot }}/api/v1/accounts/{{ $('start').first().json.accountId }}/conversations/{{ $json.id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').first().json.tokenChatwoot }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('AI Agent5').first().json.output }}"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8480,3232],"id":"505216c4-24aa-4155-922d-3ea22c433115","name":"Enviar resumo da mensagem2"},{"parameters":{"assignments":{"assignments":[{"id":"ce17d1cf-5c5f-4c7c-84c0-af4f1c6e084f","name":"resposta","value":"=Olha só, {{ $('Get a row12').first().json.Nome }}! Acesse o link abaixo e fale agora mesmo com o especialista {{ $('Vendedor1').item.json.nomeAgente }} pelo WhatsApp para ajudar a encontrar a melhor alternativa para o {{ $('Get a row12').first().json.Navio }} e todos os detalhes da sua reserva! 😊\n\nLink:{{ $('Vendedor1').item.json.link }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6240,3136],"id":"fc8e115c-05fc-4412-b9d2-2880e5376765","name":"Resposta"},{"parameters":{"assignments":{"assignments":[{"id":"cfe01ef0-23b8-46a6-aae5-c10dcf80a2c9","name":"vendedor","value":"={{ $json.vendedor }}","type":"string"},{"id":"3bb51038-1980-4c41-bffd-9becc4128abf","name":"inbox","value":"={{ $json.inbox }}","type":"number"},{"id":"d0218f43-2074-4590-a3cd-9672a055bf2f","name":"id","value":"={{ $json.agentId }}","type":"number"},{"id":"e52fe1e2-8a39-43c5-b84f-00295c1972e4","name":"nomeAgente","value":"={{ $json.nomeAgente }}","type":"string"},{"id":"d76614f2-7827-4b49-bb7a-c85521e345f0","name":"link","value":"={{ $json.link }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-11744,3232],"id":"e2bd36a3-4a3e-4c72-bcc8-109223f6b329","name":"Vendedor1"},{"parameters":{"assignments":{"assignments":[{"id":"ce17d1cf-5c5f-4c7c-84c0-af4f1c6e084f","name":"resposta","value":"=Olha só, {{ $('Get a row12').first().json.Nome }}! Acesse o link abaixo e fale agora mesmo com o especialista {{ $('Vendedor1').item.json.nomeAgente }} pelo WhatsApp para ajudar a encontrar a melhor alternativa para o {{ $('Get a row12').first().json.Navio }} e todos os detalhes da sua reserva! 😊\n\nLink:{{ $('Vendedor1').item.json.link }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6240,3328],"id":"0428bcdb-2b24-431b-a539-4dd9e4c746be","name":"Resposta6"},{"parameters":{"operation":"get","tableId":"={{ $('start').first().json.tabela_whatsapp }}","filters":{"conditions":[{"keyName":"Telefone","keyValue":"={{ $('start').first().json.phoneNumber }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-7136,3136],"id":"d114c6f2-b0ff-4283-998b-7d3b7a18358a","name":"Get a row1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"operation":"get","tableId":"={{ $('start').first().json.tabela_whatsapp }}","filters":{"conditions":[{"keyName":"Telefone","keyValue":"={{ $('start').first().json.phoneNumber }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-7136,3328],"id":"fb9e5f63-bad8-4c33-bb42-5491b6a86ae0","name":"Get a row11","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"operation":"update","tableId":"={{ $('start').first().json.tabela_whatsapp }}","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"vendedor","fieldValue":"={{ $('Vendedor1').item.json.nomeAgente }}"},{"fieldId":"pausado","fieldValue":"={{true}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6912,3328],"id":"cee06f34-dca3-4504-9fad-b25b5d98168d","name":"Update a row9","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6688,3136],"id":"8f9e1897-19bb-43d7-84a9-e28a3bb8de5c","name":"Pega id do contato","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"6977b66a80f476001c871bc0\",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5e1d8bf1b7001dd38c87\",\n        \"value\": \"{{ $('Atualiza Chatwoot1').first().json.payload.custom_attributes.resumo_conversa || '' }}\"\n      },\n      {\n        \"custom_field_id\": \"691f5d8846baae00152d6d4b\",\n        \"value\": \"Simone\"\n      }\n    ],\n    \"user_id\": \"65afc6014c5f0d0011e4a49f\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6464,3136],"id":"644de7b4-b4c1-4778-8838-52122eb3de3b","name":"FUNIL QUALIFICADO - SIMONE","executeOnce":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6688,3328],"id":"71e1a218-e164-4dc0-9dd3-74af8b73c1bc","name":"Pega id do contato6","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"6977b66a80f476001c871bc0\",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5e1d8bf1b7001dd38c87\",\n        \"value\": \"{{ $('Atualiza Chatwoot1').first().json.payload.custom_attributes.resumo_conversa || '' }}\"\n      },\n      {\n        \"custom_field_id\": \"691f5d8846baae00152d6d4b\",\n        \"value\": \"Simone\"\n      }\n    ],\n    \"user_id\": \"65afc6014c5f0d0011e4a49f\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6464,3328],"id":"88a0c310-51ab-4f9d-ac0c-f55e88fc21c2","name":"FUNIL QUALIFICADO - SIMONE6","executeOnce":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"tag_identificada\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-10048,3456],"id":"8fdba0f2-8c45-40de-8af0-74a696bdc4cd","name":"Structured Output Parser1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"67b749bf-11fa-4d1c-9bdc-922eddadf45d","leftValue":"={{ $json.vendedor }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-12768,3232],"id":"f3b20e2e-9a7b-4ceb-a013-417a3e2ce1d9","name":"If1"},{"parameters":{"jsCode":"const NODE_AI = 'AI Agent';\nconst NODE_CONVERSA = 'Busca conversa1';\n\n// pega etiqueta do classificador\nconst etiqueta = $(NODE_AI).first().json.output?.tag_identificada;\n\n// pega json do webhook/chatwoot\nconst conversa = $(NODE_CONVERSA).first().json;\n\n// pega labels no caminho correto\nconst labelsAtuais = conversa.payload?.[0]?.labels || [];\n\n// trava fluxo se não identificou\nif (!etiqueta || etiqueta === 'Não identificado') {\n  throw new Error('Etiqueta não identificada. Fluxo interrompido.');\n}\n\n// limpa labels\nconst labelsLimpas = labelsAtuais\n  .filter(l => typeof l === 'string' && l.trim() !== '')\n  .map(l => l.trim());\n\n// junta sem duplicar\nconst labelsFinal = [...new Set([...labelsLimpas, etiqueta])];\n\nreturn [\n  {\n    json: {\n      etiqueta_escolhida: etiqueta,\n      labels_atuais: labelsLimpas,\n      labels_final: labelsFinal,\n      labels: labelsFinal\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-9824,3232],"id":"f6976424-84a4-46e4-8b7f-626e9d2ace21","name":"Code in JavaScript6","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $('start').first().json.urlChatwoot }}/api/v1/accounts/{{ $('start').first().json.accountId }}/contacts/{{ $('start').first().json.contactId }}/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').first().json.tokenChatwoot }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-9376,3232],"id":"a1128782-df7b-4c3b-a089-8f45664d82d7","name":"Busca conversa1","retryOnFail":true,"maxTries":2},{"parameters":{"jsCode":"let content = $input.all().filter(item => item.json.payload[0].inbox_id.toString() === $('Vendedor1').first().json.inbox);\nreturn content;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-9152,3232],"id":"53c3c1f6-1db5-45ad-92e8-0db91418dad1","name":"Code in JavaScript7","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b95e7965-d18b-415c-8a1a-aee321ffdb18","leftValue":"={{ $json.payload[0].id }}","rightValue":0,"operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-8928,3232],"id":"c0856463-1da2-47f1-b9e5-ece70e03b0ca","name":"If4"},{"parameters":{"url":"={{ $('start').first().json.urlChatwoot }}/api/v1/accounts/{{ $('start').first().json.accountId }}/contacts/{{ $('start').first().json.contactId }}/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').first().json.tokenChatwoot }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-11296,3232],"id":"ac68cd07-0d01-4edf-9e75-c1797e38a81e","name":"Busca conversa4","retryOnFail":true,"maxTries":2},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-8256,3232],"id":"a57adfdc-5344-4318-ad6f-8c930d5b4a36","name":"Wait","webhookId":"3b182b9e-15dc-4c2d-a499-808232b793e4"}],"connections":{"start":{"main":[[{"node":"Get a row12","type":"main","index":0}]]},"Get a row12":{"main":[[{"node":"If1","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent5","type":"ai_memory","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Vendedor1","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Busca conversa4","type":"main","index":0}]]},"Transfere1":{"main":[[{"node":"Atualiza Chatwoot1","type":"main","index":0}]]},"Atualiza Chatwoot1":{"main":[[{"node":"Puxa as tags1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript6","type":"main","index":0}]]},"Atribui tag1":{"main":[[{"node":"Busca conversa1","type":"main","index":0}]]},"Puxa as tags1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Atribui tag5":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Atualiza Chatwoot8":{"main":[[{"node":"Get a row1","type":"main","index":0}]]},"Atualiza Chatwoot9":{"main":[[{"node":"Get a row11","type":"main","index":0}]]},"Update a row1":{"main":[[{"node":"Pega id do contato","type":"main","index":0}]]},"AI Agent5":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"model":{"ai_languageModel":[[{"node":"AI Agent5","type":"ai_languageModel","index":0}]]},"Cria conversa":{"main":[[{"node":"Enviar resumo da mensagem2","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"É horario comercial?","type":"main","index":0}]]},"É horario comercial?":{"main":[[{"node":"Atualiza Chatwoot8","type":"main","index":0}],[{"node":"Atualiza Chatwoot9","type":"main","index":0}]]},"Enviar resumo da mensagem2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Vendedor1":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Get a row1":{"main":[[{"node":"Update a row1","type":"main","index":0}]]},"Get a row11":{"main":[[{"node":"Update a row9","type":"main","index":0}]]},"Update a row9":{"main":[[{"node":"Pega id do contato6","type":"main","index":0}]]},"Pega id do contato":{"main":[[{"node":"FUNIL QUALIFICADO - SIMONE","type":"main","index":0}]]},"FUNIL QUALIFICADO - SIMONE":{"main":[[{"node":"Resposta","type":"main","index":0}]]},"Pega id do contato6":{"main":[[{"node":"FUNIL QUALIFICADO - SIMONE6","type":"main","index":0}]]},"FUNIL QUALIFICADO - SIMONE6":{"main":[[{"node":"Resposta6","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"If1":{"main":[[{"node":"AI Agent5","type":"main","index":0}],[{"node":"AI Agent5","type":"main","index":0}]]},"Code in JavaScript6":{"main":[[{"node":"Atribui tag1","type":"main","index":0}]]},"Busca conversa1":{"main":[[{"node":"Code in JavaScript7","type":"main","index":0}]]},"Code in JavaScript7":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Enviar resumo da mensagem2","type":"main","index":0}],[{"node":"Cria conversa","type":"main","index":0}]]},"Busca conversa4":{"main":[[{"node":"Transfere1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Atribui tag5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"start":[{"json":{"phoneNumber":"+1 555-0100","resumoConversa":"Status: ALTA | Nome: Geilza | Tel:  | Navio: Navio Daniel - O Embaixador em Alto Mar | Qtd: 2 | Orçamento: R$N/I","sessionId":"+1 555-0100","contactId":"79861","urlChatwoot":"https://chatwoot.demo-events.com.br","tokenChatwoot":"${CHATWOOT_TOKEN}","accountId":"1","conversationId":"44919","cpf":null,"email":null,"qtdPessoas":null,"navio":null,"estilo":null,"qualificacao":null,"campanha":null,"nomeCompleto":null,"origem":"whatsapp","tipo_fluxo":"homologacao","tabela_whatsapp":"sdr_whatsapp_homologacao"},"pairedItem":{"item":0}}]},"versionId":"06fe7695-dc74-4a7d-a3c2-8854b06b1bc0","activeVersionId":"06fe7695-dc74-4a7d-a3c2-8854b06b1bc0","versionCounter":226,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-05T18:46:24.786Z","createdAt":"2026-03-05T18:46:24.786Z","role":"workflow:owner","workflowId":"qYk8zfxQHseu_n-4xqNID","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}