workflows_extracted/QYKr8FEiBLTYQxdIxBxz8.json
{"updatedAt":"2026-03-19T19:00:55.942Z","createdAt":"2026-03-18T21:11:13.735Z","id":"QYKr8FEiBLTYQxdIxBxz8","name":"BDR","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"0ec64d01-6771-43d6-98ad-8e232452b5b8","name":"account.id","value":"={{ $json.body.messages[0].account_id }}","type":"number"},{"id":"7b398cca-e21a-4c17-b460-7a63c0a97d7c","name":"type","value":"={{ $json.body.messages[0].content_type }}","type":"string"},{"id":"a9468c48-6ed9-4bc1-a406-12c3feaf31bf","name":"contact_inbox.id","value":"={{ $json.body.messages[0].inbox_id }}","type":"number"},{"id":"d4793baa-8beb-487e-96eb-baf79b36eead","name":"mensagem","value":"={{ $json.body.messages[0].content }}","type":"string"},{"id":"8b9c3078-2a83-40a6-8564-b746d0e8c12f","name":"conversation_id","value":"={{ $json.body.messages[0].conversation_id }}","type":"number"},{"id":"0f006af6-2b53-4208-b519-23e51982e683","name":"chatid","value":"={{ $json.body.messages[0].sender.phone_number }}","type":"string"},{"id":"d3d633d7-fc38-4caa-b6c2-31e1801fd2d0","name":"name","value":"={{ $json.body.messages[0].sender.name }}","type":"string"},{"id":"5988de65-829f-403d-9127-d92e50034970","name":"urlchatwoot","value":"https://chatwoot.demo-events.com.br","type":"string"},{"id":"9f08061a-4842-4e2e-9644-3ccfbb5a6c2e","name":"chatwoottoken","value":"${CHATWOOT_TOKEN}","type":"string"},{"id":"736c8d0f-2a0b-4456-bb04-28d0ee08b4de","name":"body.conversation.messages[0].attachments[0].file_type","value":"={{ $json.body.messages[0].attachments[0].file_type }}","type":"string"},{"id":"f95b6189-a88c-4a03-8769-c69b4f1f6ac9","name":"contact_id","value":"={{ $json.body.contact_inbox.contact_id }}","type":"number"},{"id":"654fa980-ef05-4eae-bf32-548cf55b2f93","name":"tabela_whatsapp","value":"whatsapp_bdr","type":"string"},{"id":"c4d71f6f-cf1b-4b35-ba09-0acb0427cadb","name":"tipo_fluxo","value":"homologacao","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,32],"id":"9a342601-ac85-4f28-a965-d2ab3f24b8a5","name":"Edit Fields"},{"parameters":{"method":"POST","url":"=https://n8nh.demo-events.com.br/webhook/domain_assistant-atendimento-geral","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Edit Fields1').item.json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[352,-64],"id":"33166f1c-d4d8-4964-bc4d-4de071dbd2c6","name":"Http Request Homologacao"},{"parameters":{"method":"POST","url":"https://overprosperously-geomorphic-mathias.ngrok-free.dev/webhook","sendHeaders":true,"headerParameters":{"parameters":[{"name":"ngrok-skip-browser-warning","value":"true"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Webhook1').item.json.body, {\"origem\": \"whatsapp\"} }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[128,-256],"id":"d533964a-574f-498e-9983-c41908da23ca","name":"Teste Agente DomainAssistant HardCode"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"481f3705-e2b7-4d0a-aafb-792ee84fb980","leftValue":"={{ $json.chatid }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"716a7df2-5f3f-4a08-8468-c2e35e986d60","leftValue":"={{ $json.chatid }}","rightValue":"+1 555-0100","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"d6447df6-7ad4-4db2-9abb-338b8eaa5751","leftValue":"={{ $json.chatid }}","rightValue":"+1 555-0100","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"7b7f39cc-a1d4-43c7-af4f-7b6194e5ada1","leftValue":"={{ $json.chatid }}","rightValue":"+1 555-0100","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"13924d47-3ab7-40a8-8a04-39d0e501b65c","leftValue":"={{ $json.chatid }}","rightValue":"+1 555-0100","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"4a979e5f-bf06-4b7a-b4ed-c705a42e7a16","leftValue":"={{ $json.chatid }}","rightValue":"=+1 555-0100","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"ac154a6e-b8b3-4d26-922a-1ff5f162f672","leftValue":"={{ $json.chatid }}","rightValue":"+1 555-0100","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,32],"id":"a868ab72-b629-4cce-b1d7-5cb5844796d9","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1bea40f3-1cf0-4e5e-8661-4a5bcc91fde8","leftValue":"={{ $json.chatid }}","rightValue":"+1 555-0100","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-96,-160],"id":"60b527a5-18ad-40e5-bf20-589ebc100d25","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"cc2d8da4-9886-4904-ac5b-a5d0b0cc8173","name":"body","value":"={{ $('Webhook Chatwoot').item.json.body }}","type":"object"},{"id":"8638d4cc-aa0f-4edd-9119-c8a7c5620788","name":"body.tipo","value":"bdr","type":"string"}]},"includeOtherFields":true,"include":"selected","includeFields":"body.src","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,-64],"id":"d4516588-2c0c-4c71-a033-9209d99a0da1","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"=https://n8nh.demo-events.com.br/webhook/domain_assistant-atendimento-geral","sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Edit Fields2').item.json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[176,144],"id":"93132e2a-730f-4e32-8491-51af9fabf5f7","name":"Http Request Producao"},{"parameters":{"assignments":{"assignments":[{"id":"cc2d8da4-9886-4904-ac5b-a5d0b0cc8173","name":"body","value":"={{ $('Webhook Chatwoot').item.json.body }}","type":"object"},{"id":"8638d4cc-aa0f-4edd-9119-c8a7c5620788","name":"body.tipo","value":"bdr","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,16],"id":"a54a9cad-bf0c-461e-8ac9-ddddde5f271c","name":"Edit Fields2"},{"parameters":{"httpMethod":"POST","path":"bdr","options":{}},"id":"855124c2-8330-45e9-9d39-74e1f4cecf96","name":"Webhook Chatwoot","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-768,32],"webhookId":"867ce123-acac-4be1-9a8f-0052ea9b28ce"}],"connections":{"Edit Fields":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"If1":{"main":[[{"node":"Teste Agente DomainAssistant HardCode","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Http Request Homologacao","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Http Request Producao","type":"main","index":0}]]},"Webhook Chatwoot":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":180},"staticData":null,"meta":null,"pinData":{"Webhook Chatwoot":[{"json":{"headers":{"host":"n8nh.demo-events.com.br","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34","content-length":"2002","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"0.0.0.0","x-forwarded-host":"n8nh.demo-events.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f825d0165a8e","x-real-ip":"0.0.0.0"},"params":{},"query":{},"body":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Whatsapp","contact_inbox":{"id":10233,"contact_id":43637,"inbox_id":38,"source_id":"55555-0100","created_at":"2026-03-18T18:50:43.119Z","updated_at":"2026-03-18T18:50:43.119Z","hmac_verified":false,"pubsub_token":"${PUBSUB_TOKEN}"},"id":8405,"inbox_id":38,"messages":[{"id":179099,"content":"sim","account_id":1,"inbox_id":38,"conversation_id":8405,"message_type":0,"created_at":1773859928,"updated_at":"2026-03-18T18:52:08.402Z","private":false,"status":"sent","source_id":"wamid.HBgNNTUxMTkxMzI4OTQ5NxUCABIYFjNFQjBDNjI3NjQzQTJGQjIyRUNBQzUA","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":43637,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"sim","sentiment":{},"conversation":{"assignee_id":null,"unread_count":0,"last_activity_at":1773859928,"contact_inbox":{"source_id":"55555-0100"}},"sender":{"additional_attributes":{},"custom_attributes":{"navio":"DOMINGUINHO EM ALTO MAR","estilo":"FORRÓ","origem":"BDR","temporada":"2026/2027"},"email":null,"id":43637,"identifier":"+1 555-0100","name":"Luiz Felipe","phone_number":"+1 555-0100","thumbnail":"","blocked":false,"type":"contact"}}],"labels":[],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{"navio":"DOMINGUINHO EM ALTO MAR","estilo":"FORRÓ","origem":"BDR","temporada":"2026/2027"},"email":null,"id":43637,"identifier":"+1 555-0100","name":"Luiz Felipe","phone_number":"+1 555-0100","thumbnail":"","blocked":false,"type":"contact"},"assignee":null,"assignee_type":null,"team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":0,"first_reply_created_at":null,"priority":null,"waiting_since":1773859843,"agent_last_seen_at":1773859928,"contact_last_seen_at":0,"last_activity_at":1773859928,"timestamp":1773859928,"created_at":1773859843,"updated_at":1773859928.404414,"event":"automation_event.message_created"},"webhookUrl":"https://n8nh.demo-events.com.br/webhook/bdr","executionMode":"production"}}]},"versionId":"713839ba-3850-4598-ae5b-cc62b608e012","activeVersionId":"713839ba-3850-4598-ae5b-cc62b608e012","versionCounter":66,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-18T21:11:13.735Z","createdAt":"2026-03-18T21:11:13.735Z","role":"workflow:owner","workflowId":"QYKr8FEiBLTYQxdIxBxz8","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}