workflows_extracted/rw727GHPRFh3CGY1XXch1.json
{"updatedAt":"2026-02-26T17:23:57.642Z","createdAt":"2026-02-12T20:22:41.352Z","id":"rw727GHPRFh3CGY1XXch1","name":"atualizar_lead","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"method":"PUT","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/contacts//{{ $json.meta.sender.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"${CHATWOOT_TOKEN}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"custom_attributes\": {\n    \"qtd_pessoas\": \"{{ $('Code in JavaScript').item.json['Quantidade de Pessoas'] }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[560,1904],"id":"ebc27464-556a-4a57-b317-7d1cfc13a3d0","name":"HTTP Request15","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/conversations/{{ $json.Idconversachatwoot }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"${CHATWOOT_TOKEN}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[336,1904],"id":"e40201a5-6a95-4363-8169-47c5631fd555","name":"HTTP Request14","retryOnFail":true,"waitBetweenTries":5000,"alwaysOutputData":true},{"parameters":{"method":"PUT","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/contacts//{{ $json.meta.sender.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"${CHATWOOT_TOKEN}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"custom_attributes\": {\n    \"oramento\": \"{{ $('Code in JavaScript').item.json.Orcamento }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[560,1712],"id":"7d99dff3-8440-4213-8638-970ab6e6dd0a","name":"HTTP Request13"},{"parameters":{"url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/conversations/{{ $json.Idconversachatwoot }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"${CHATWOOT_TOKEN}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[336,1712],"id":"1926efa1-1ec0-468e-bf77-861c485bfa7f","name":"HTTP Request12","alwaysOutputData":true},{"parameters":{"method":"PUT","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/contacts//{{ $json.meta.sender.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"${CHATWOOT_TOKEN}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"custom_attributes\": {\n    \"qualificao\": \"{{ $('Code in JavaScript').item.json.Status }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[560,1248],"id":"2e838426-e912-4c42-9868-7432a2248a54","name":"HTTP Request11"},{"parameters":{"url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/conversations/{{ $json.Idconversachatwoot }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"${CHATWOOT_TOKEN}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[336,1248],"id":"4c0491b9-d6a5-4ec7-bf9c-6a1bb0858bed","name":"HTTP Request10","alwaysOutputData":true},{"parameters":{"method":"PUT","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/contacts//{{ $json.meta.sender.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"${CHATWOOT_TOKEN}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"custom_attributes\": {\n    \"navio\": \"{{ $('Code in JavaScript').item.json.Navio }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[560,848],"id":"3353d2c1-2744-4656-b59e-fa73cb7b3766","name":"HTTP Request9"},{"parameters":{"url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/conversations/{{ $json.Idconversachatwoot }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"${CHATWOOT_TOKEN}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[336,848],"id":"57f59a58-8839-48d3-854a-8a74a0566213","name":"HTTP Request8","alwaysOutputData":true},{"parameters":{"method":"PUT","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/contacts//{{ $json.meta.sender.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"${CHATWOOT_TOKEN}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"custom_attributes\": {\n    \"estilo\": \"{{ $('When Executed by Another Workflow').item.json.Estilo.toUpperCase() }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[560,464],"id":"9c09e473-5f40-4f2b-bf8e-95f5ed1bc9aa","name":"HTTP Request7"},{"parameters":{"url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/conversations/{{ $json.Idconversachatwoot }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"${CHATWOOT_TOKEN}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[336,464],"id":"228c74c8-0b49-4305-9586-67a0ec698eaa","name":"HTTP Request6","alwaysOutputData":true},{"parameters":{"method":"PUT","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/contacts//{{ $json.meta.sender.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"${CHATWOOT_TOKEN}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"custom_attributes\": {\n    \"cpf\": \"{{ $('When Executed by Another Workflow').item.json.CPF }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[560,272],"id":"287c0d83-d822-466f-9d0e-03ac9001151b","name":"HTTP Request5"},{"parameters":{"url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/conversations/{{ $json.Idconversachatwoot }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"${CHATWOOT_TOKEN}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[336,272],"id":"d50213a3-de05-4c38-b849-e03ed290292e","name":"HTTP Request4","alwaysOutputData":true},{"parameters":{"method":"=PUT","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/contacts//{{ $json.meta.sender.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"${CHATWOOT_TOKEN}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"={{ $('Switch').item.json.Email }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[560,656],"id":"8a0bd08a-8f83-427d-a476-204d8fa0ce04","name":"HTTP Request3"},{"parameters":{"url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/conversations/{{ $json.Idconversachatwoot }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"${CHATWOOT_TOKEN}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[336,656],"id":"cb862a34-70ee-4847-be0d-8b155607f1d7","name":"HTTP Request2","alwaysOutputData":true},{"parameters":{"method":"=PUT","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/contacts/{{ $json.meta.sender.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"${CHATWOOT_TOKEN}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('When Executed by Another Workflow').item.json.Nome }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[560,-16],"id":"3c825b14-bfec-4dcb-8798-761bef6d902d","name":"HTTP Request1"},{"parameters":{"url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/conversations/{{ $json.Idconversachatwoot }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"${CHATWOOT_TOKEN}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[336,-16],"id":"1e979b3f-8621-4020-ad2f-75c34400bb54","name":"HTTP Request","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Code in JavaScript').item.json.Nome }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"69216d4f-9817-46ae-8c55-8013ea4c0a42"}],"combinator":"and"},"renameOutput":true,"outputKey":"Nome"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7d6cd64d-4d98-4ca2-bad0-250feaf8cb99","leftValue":"={{ $('Code in JavaScript').item.json.CPF }}","rightValue":"[empty]","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"=CPF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"97890b54-be20-434b-8e33-b090d6fca0cb","leftValue":"={{ $('Code in JavaScript').item.json.Estilo }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"=Estilo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"732792ea-e976-48cc-8298-94122b88ceec","leftValue":"={{ $('Code in JavaScript').item.json.Navio }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Navio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ad59a8cc-4c18-4a2b-9cec-654cdaa47839","leftValue":"={{ $('Code in JavaScript').item.json.Status }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Qualificação"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"244481bf-738a-4b5d-8f85-970f240fc61e","leftValue":"={{ $('Code in JavaScript').item.json.Orcamento }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Orçamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"15aceeca-a879-4595-a502-e60ff3100ea0","leftValue":"={{ $('Code in JavaScript').item.json['Quantidade de Pessoas'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Quantidade de Pessoas"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1ee6b226-41f2-4ff7-9849-cbf215d77270","leftValue":"Email","rightValue":"={{ $('Code in JavaScript').item.json.Email }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Email"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[112,656],"id":"48e6f4f2-1138-44cc-8c39-02efbac5233c","name":"Switch"},{"parameters":{"workflowInputs":{"values":[{"name":"Nome"},{"name":"CPF"},{"name":"Telefone"},{"name":"Email"},{"name":"Estilo"},{"name":"Navio"},{"name":"Status"},{"name":"Orcamento"},{"name":"Quantidade de Pessoas"},{"name":"origem"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1456,752],"id":"b78b380f-c9e7-4778-bbdf-4779eb9cb173","name":"When Executed by Another Workflow"},{"parameters":{"operation":"get","tableId":"SDR Whatsapp","filters":{"conditions":[{"keyName":"Telefone","keyValue":"={{ $json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-784,656],"id":"5668992f-8b94-4b92-94a2-e226c1cad0f5","name":"Get a row1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"operation":"update","tableId":"SDR Formulário","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"Nome","fieldValue":"={{ $('Code in JavaScript').item.json.Nome }}"},{"fieldId":"Email","fieldValue":"={{ $('Code in JavaScript').item.json.Email }}"},{"fieldId":"CPF","fieldValue":"={{ $('When Executed by Another Workflow').item.json.CPF }}"},{"fieldId":"Estilo","fieldValue":"={{ $('Code in JavaScript').item.json.Estilo.toUpperCase() }}"},{"fieldId":"Navio","fieldValue":"={{ $('Code in JavaScript').item.json.Navio }}"},{"fieldId":"Status","fieldValue":"={{ $('When Executed by Another Workflow').item.json.Status }}"},{"fieldId":"Quantidade de Pessoas","fieldValue":"={{ $('Code in JavaScript').item.json['Quantidade de Pessoas'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-112,656],"id":"cbed6f4a-3ecf-4fa3-b324-5963ab3e1a32","name":"Update a row1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('When Executed by Another Workflow').item.json.Status }}","rightValue":"MEDIA","operator":{"type":"string","operation":"equals"},"id":"1050d463-b1d9-4f7b-95ec-ea0f96c3bca3"}],"combinator":"and"},"renameOutput":true,"outputKey":"MEDIA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"eebe0324-c8c2-42ab-81db-a731be6413e0","leftValue":"={{ $('When Executed by Another Workflow').item.json.Status }}","rightValue":"ALTA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ALTA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6347b2a4-88e1-4dd2-8489-db45075919c1","leftValue":"={{ $('When Executed by Another Workflow').item.json.Status }}","rightValue":"BAIXA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"BAIXA"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[784,1232],"id":"1af065fa-a42e-43ea-aba4-4748546f46f8","name":"Switch1"},{"parameters":{"method":"POST","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/conversations/{{ $('Merge').item.json.Idconversachatwoot }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"=${CHATWOOT_TOKEN}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"labels\": [\n    \"baixa_qualificacao\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1008,1520],"id":"d0f8294b-a1c1-4529-a73d-5e1610f800fa","name":"Atribui tag"},{"parameters":{"operation":"update","tableId":"SDR Formulário","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Get a row1').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"Pausado","fieldValue":"={{true}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1456,1424],"id":"e839f5fd-9084-4cea-b538-f02991f65a19","name":"Update a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"method":"POST","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/conversations/{{ $('Merge').item.json.Idconversachatwoot }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"=${CHATWOOT_TOKEN}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"labels\": [\n    \"alta_qualificacao\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1008,1232],"id":"841a1561-f0a8-420d-b40b-728c5449c28d","name":"Atribui tag1"},{"parameters":{"method":"POST","url":"=https://chatwoot.demo-events.com.br/api/v1/accounts/1/conversations/{{ $('Merge').item.json.Idconversachatwoot }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"=${CHATWOOT_TOKEN}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"labels\": [\n    \"media_qualificacao\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1008,1040],"id":"a5f65d61-b994-4934-bc2c-9683489269c4","name":"Atribui tag2"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Merge').item.json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,1520],"id":"e800726b-37e3-4921-9809-6fd319bda38e","name":"Pega id do contato4"},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"691e211cb7a0b10013abde14\",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5dfc3e4c8f0013f6459a\",\n        \"value\": \"{{ $('When Executed by Another Workflow').item.json.Status }}\"\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1904,1520],"id":"a5ac4ac9-6f86-4ee3-99c2-831152fc7cba","name":"ATUALIZA NEGOCIAÇÃO CRM - BAIXA QUALIFICAÇÃO"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Merge').item.json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1232,1232],"id":"e9d08829-f846-4d0c-9c79-9bd6546e523c","name":"Pega id do contato"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Merge').item.json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1232,1040],"id":"5463b22a-892b-470b-a180-41d89e8ab6c2","name":"Pega id do contato5"},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"6977b66a80f476001c871bc0\",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5dfc3e4c8f0013f6459a\",\n        \"value\": \"{{ $('When Executed by Another Workflow').item.json.Status }}\"\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1456,1232],"id":"9b73907a-02e3-4fbb-8b42-27d36f40418f","name":"ATUALIZA NEGOCIAÇÃO CRM - ALTA QUALIFICAÇÃO"},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"6977b66a80f476001c871bc0\",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5dfc3e4c8f0013f6459a\",\n        \"value\": \"{{ $('When Executed by Another Workflow').item.json.Status }}\"\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1456,1040],"id":"2eb043b8-b98c-4554-8885-7b6d1b5fceca","name":"ATUALIZA NEGOCIAÇÃO CRM - MEDIA QUALIFICAÇÃO"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Merge').item.json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,1904],"id":"51470325-2722-4a1e-b7f1-77d2ecd5b036","name":"Pega id do contato6","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"const items = $input.all();\n\nfunction isValid(value) {\n  if (value === null || value === undefined) return false;\n  if (typeof value === 'string') {\n    const v = value.trim();\n    if (v === '' || v === '??') return false;\n  }\n  return true;\n}\n\nreturn items.map(item => {\n  const data = item.json;\n  const cleaned = {};\n\n  for (const [key, value] of Object.entries(data)) {\n    if (isValid(value)) {\n      cleaned[key] = value;\n    }\n  }\n\n  return {\n    json: cleaned\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1232,752],"id":"87c6df84-1846-48e7-b1ac-a4aa825de445","name":"Code in JavaScript"},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5dcd4a9a040013d4a583\",\n        \"value\": \"{{ $('Code in JavaScript').item.json['Quantidade de Pessoas'] }}\"\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,1904],"id":"56c8fc32-f743-4e7a-ac6c-126c01958479","name":"ATUALIZA NEGOCIAÇÃO - QUANTIDADE DE PESSOAS","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Get a row1').item.json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1456,2128],"id":"8af10b3d-ae43-48f5-86a9-196a30619018","name":"Pega id do contato7"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Merge').item.json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,-16],"id":"31121b2f-bf7f-4b10-8bf0-a8be9aa0a7f6","name":"Pega id do contato8","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/contacts/{{ $json.contacts[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contact\": {\n    \"name\": \"{{ $('Code in JavaScript').item.json.Nome }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1232,80],"id":"66d74cb8-9cfd-440e-becb-93321ed6b4f5","name":"ATUALIZA NOME","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Merge').item.json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,272],"id":"3a33f9eb-82a5-4aa8-b15a-6d7c9882b540","name":"Pega id do contato9","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/contacts/{{ $json.contacts[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contact\": {\n    \"contact_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5cfc46baae00152d6d10\",\n        \"value\": \"{{ $('Code in JavaScript').item.json.CPF }}\"\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1232,272],"id":"093ee6ef-c9fe-483b-b3e2-3e98a9e3612e","name":"ATUALIZA CPF","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Merge').item.json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,464],"id":"cd8696cc-134e-46a8-ba3b-b0108e64aec0","name":"Pega id do contato10","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5db5748bdd001841ebec\",\n        \"value\": \"{{ $('Update a row1').item.json.Estilo }}\"\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,464],"id":"bef706b7-22ed-4042-86ee-09f807ba37ba","name":"ATUALIZA NEGOCIAÇÃO - ESTILO","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Merge').item.json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,848],"id":"abd5a624-ac10-4a74-bd6d-7e2e98cc8a17","name":"Pega id do contato11","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"67117527ffea83001af2245f\",\n        \"value\": \"{{ $('Code in JavaScript').item.json.Navio }}\"\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,848],"id":"b7adf864-9c91-4904-b8fe-2e8436397918","name":"ATUALIZA NEGOCIAÇÃO - NAVIO","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Merge').item.json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,656],"id":"886299d3-b043-4c7a-982d-da95bbb7f6d3","name":"Pega id do contato12","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $('Merge').item.json.Telefone }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,1712],"id":"9359e2b5-f4d1-4c4d-a3b8-a3b6cf066e85","name":"Pega id do contato13","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/contacts/{{ $json.contacts[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contact\": {\n    \"emails\": [\n      {\n        \"email\": \"{{ $('Code in JavaScript').item.json.Email }}\"\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1008,656],"id":"10974478-905f-46a2-b8ed-a2ba1109d567","name":"ATUALIZA EMAIL","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"method":"PUT","url":"=https://crm.rdstation.com/api/v1/deals/{{ $json.contacts[0].deals[0].id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"69834b5da3f7ec00166d6c0f\",\n        \"value\": \"{{ $('Update a row1').item.json.Orcamento }}\"\n      }\n    ]\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,1712],"id":"dae0155b-127f-458e-98df-cc605a2dde7b","name":"ATUALIZA NEGOCIAÇÃO - ORÇAMENTO","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"operation":"update","tableId":"SDR Whatsapp","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"Nome","fieldValue":"={{ $('Code in JavaScript').item.json.Nome || \"\" }}"},{"fieldId":"Email","fieldValue":"={{ $('Code in JavaScript').item.json.Email || \"\" }}"},{"fieldId":"CPF","fieldValue":"={{ $('When Executed by Another Workflow').item.json.CPF || \"\" }}"},{"fieldId":"Estilo","fieldValue":"={{ ($('Code in JavaScript').item.json.Estilo || \"\").toUpperCase() }}"},{"fieldId":"Navio","fieldValue":"={{ $('Code in JavaScript').item.json.Navio || \"\" }}"},{"fieldId":"Status","fieldValue":"={{ $('When Executed by Another Workflow').item.json.Status || \"\" }}"},{"fieldId":"Quantidade de Pessoas","fieldValue":"={{ $('Code in JavaScript').item.json['Quantidade de Pessoas'] || \"\" }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-112,848],"id":"661d1ccf-8dd0-49bb-aae6-cd0a93b42357","name":"Update a row2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"operation":"get","tableId":"SDR Whatsapp","filters":{"conditions":[{"keyName":"Telefone","keyValue":"={{ $json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-784,848],"id":"dd1b6e5b-729d-4156-94e5-da0e06e1c0ef","name":"Get a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('When Executed by Another Workflow').item.json.origem }}","rightValue":"formulario","operator":{"type":"string","operation":"equals"},"id":"73fb09f6-91f4-4aef-9e71-54570a6f8773"}],"combinator":"and"},"renameOutput":true,"outputKey":"Formulário"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"90daa7c7-b76b-4c5f-a2eb-11ebafd12dd8","leftValue":"={{ $('When Executed by Another Workflow').item.json.origem }}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Whatsapp"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-1008,752],"id":"4f881503-776e-447a-be02-fb8f0fe87a9c","name":"Switch2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-560,752],"id":"c32c3f4e-43f0-4cf9-9d68-ff640bcdbb55","name":"Merge"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('When Executed by Another Workflow').item.json.origem }}","rightValue":"formulario","operator":{"type":"string","operation":"equals"},"id":"73fb09f6-91f4-4aef-9e71-54570a6f8773"}],"combinator":"and"},"renameOutput":true,"outputKey":"Formulário"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"90daa7c7-b76b-4c5f-a2eb-11ebafd12dd8","leftValue":"={{ $('When Executed by Another Workflow').item.json.origem }}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Whatsapp"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-336,752],"id":"8673431f-2525-41de-878f-591f27f17f37","name":"Switch3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('When Executed by Another Workflow').item.json.origem }}","rightValue":"formulario","operator":{"type":"string","operation":"equals"},"id":"ec924fe7-929e-4ae1-a57d-99343ac65460"}],"combinator":"and"},"renameOutput":true,"outputKey":"Formulário"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"81ef2fcf-e10f-4c5a-8d12-e333b5c869bd","leftValue":"={{ $('When Executed by Another Workflow').item.json.origem }}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Whatsapp"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1232,1520],"id":"3572ff7c-a890-4f81-bc1c-ab5811b13d4b","name":"Switch4"},{"parameters":{"operation":"update","tableId":"SDR Whatsapp","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Merge').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"Pausado","fieldValue":"={{true}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1456,1616],"id":"fff1246b-6061-4ce9-8ba3-9063eebdc40e","name":"Update a row3","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b4452198-cb5e-4bf7-b6f3-969bb776fe79","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1008,-16],"id":"df43912c-3a9f-45b1-857e-c22d9fc5b1ec","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b4452198-cb5e-4bf7-b6f3-969bb776fe79","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1008,272],"id":"9f40c737-8554-4f0c-9c11-3bc51d6f3a01","name":"If1"},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('When Executed by Another Workflow').item.json.Nome }}"},{"name":"phones","value":"={{ $('Merge').item.json.Telefone }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1232,-112],"id":"6558d827-8aec-4016-9b61-e62edbb07230","name":"Criar contato14","retryOnFail":true,"waitBetweenTries":5000,"disabled":true}],"connections":{"HTTP Request14":{"main":[[{"node":"HTTP Request15","type":"main","index":0}]]},"HTTP Request12":{"main":[[{"node":"HTTP Request13","type":"main","index":0}]]},"HTTP Request10":{"main":[[{"node":"HTTP Request11","type":"main","index":0}]]},"HTTP Request8":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request4","type":"main","index":0}],[{"node":"HTTP Request6","type":"main","index":0}],[{"node":"HTTP Request8","type":"main","index":0}],[{"node":"HTTP Request10","type":"main","index":0}],[{"node":"HTTP Request12","type":"main","index":0}],[{"node":"HTTP Request14","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Get a row1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Update a row1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"HTTP Request11":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Atribui tag":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Atribui tag2","type":"main","index":0}],[{"node":"Atribui tag1","type":"main","index":0}],[{"node":"Atribui tag","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Pega id do contato4","type":"main","index":0}]]},"Pega id do contato4":{"main":[[{"node":"ATUALIZA NEGOCIAÇÃO CRM - BAIXA QUALIFICAÇÃO","type":"main","index":0}]]},"Pega id do contato":{"main":[[{"node":"ATUALIZA NEGOCIAÇÃO CRM - ALTA QUALIFICAÇÃO","type":"main","index":0}]]},"Atribui tag1":{"main":[[{"node":"Pega id do contato","type":"main","index":0}]]},"Pega id do contato5":{"main":[[{"node":"ATUALIZA NEGOCIAÇÃO CRM - MEDIA QUALIFICAÇÃO","type":"main","index":0}]]},"Atribui tag2":{"main":[[{"node":"Pega id do contato5","type":"main","index":0}]]},"Pega id do contato6":{"main":[[{"node":"ATUALIZA NEGOCIAÇÃO - QUANTIDADE DE PESSOAS","type":"main","index":0}]]},"HTTP Request13":{"main":[[{"node":"Pega id do contato13","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"HTTP Request15":{"main":[[{"node":"Pega id do contato6","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Pega id do contato8","type":"main","index":0}]]},"Pega id do contato8":{"main":[[{"node":"If","type":"main","index":0}]]},"Pega id do contato9":{"main":[[{"node":"If1","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Pega id do contato9","type":"main","index":0}]]},"Pega id do contato10":{"main":[[{"node":"ATUALIZA NEGOCIAÇÃO - ESTILO","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"Pega id do contato10","type":"main","index":0}]]},"Pega id do contato11":{"main":[[{"node":"ATUALIZA NEGOCIAÇÃO - NAVIO","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"Pega id do contato11","type":"main","index":0}]]},"Pega id do contato12":{"main":[[{"node":"ATUALIZA EMAIL","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Pega id do contato12","type":"main","index":0}]]},"Pega id do contato13":{"main":[[{"node":"ATUALIZA NEGOCIAÇÃO - ORÇAMENTO","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Update a row2":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Get a row1","type":"main","index":0}],[{"node":"Get a row","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Update a row1","type":"main","index":0}],[{"node":"Update a row2","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"Update a row","type":"main","index":0}],[{"node":"Update a row3","type":"main","index":0}]]},"Update a row3":{"main":[[{"node":"Pega id do contato4","type":"main","index":0}]]},"If":{"main":[[{"node":"Criar contato14","type":"main","index":0}],[{"node":"ATUALIZA NOME","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"ATUALIZA CPF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"Nome":null,"CPF":null,"Telefone":null,"Email":null,"Estilo":null,"Navio":null,"Status":null,"Orcamento":null,"Quantidade de Pessoas":null,"origem":null},"pairedItem":{"item":0}}]},"versionId":"9289a755-0bdc-4028-8b3f-8ab579fe9ae1","activeVersionId":"9289a755-0bdc-4028-8b3f-8ab579fe9ae1","versionCounter":335,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-12T20:22:41.352Z","createdAt":"2026-02-12T20:22:41.352Z","role":"workflow:owner","workflowId":"rw727GHPRFh3CGY1XXch1","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}