workflows_extracted/T1f7G6BwEuGNqzYm.json
{"updatedAt":"2026-04-13T20:02:13.305Z","createdAt":"2026-03-16T02:06:11.762Z","id":"T1f7G6BwEuGNqzYm","name":"WF_Orquestrador_BDR","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ba033595-af4b-48b4-bd51-ab9d5537de48","leftValue":"={{ $json.pausado }}","rightValue":"Ativada","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-624,2416],"id":"1860979a-3287-4b86-83a9-1779539bc0be","name":"Lead Pausado?","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"em-01","name":"chatid","value":"={{ $json.body.messages[0].sender.phone_number }}","type":"string"},{"id":"em-02","name":"mensagem","value":"={{ $json.body.messages[0].content }}","type":"string"},{"id":"em-03","name":"name","value":"={{ $json.body.messages[0].sender.name }}","type":"string"},{"id":"em-04","name":"conversation_id","value":"={{ $json.body.messages[0].conversation_id }}","type":"number"},{"id":"em-05","name":"account_id","value":"={{ $json.body.messages[0].account_id }}","type":"number"},{"id":"em-06","name":"contact_id","value":"={{ $json.body.messages[0].sender.id }}","type":"number"},{"id":"em-07","name":"inbox_id","value":"={{ $json.body.contact_inbox.inbox_id }}","type":"number"},{"id":"em-08","name":"message_type","value":"={{ $json.body.messages[0].attachments[0].file_type }}","type":"string"},{"id":"em-09","name":"urlchatwoot","value":"https://chatwoot.demo-events.com.br","type":"string"},{"id":"em-10","name":"chatwoottoken","value":"${CHATWOOT_TOKEN}","type":"string"},{"id":"e0c48828-44f2-48c1-b389-571ae6ac8b56","name":"tabela_whatsapp","value":"=whatsapp_bdr","type":"string"},{"id":"b50a63d7-768f-44d6-9c39-0274a7788903","name":"tipo_fluxo","value":"homologacao","type":"string"},{"id":"e38025bf-8f8b-45c4-9dad-7a6f413bac78","name":"origem","value":"=bdr","type":"string"}]},"options":{}},"id":"4b42d517-bcc3-4a2b-95f3-2cc84b7610ce","name":"Extract Message Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,1712]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"rc-01","leftValue":"={{ $json.mensagem }}","rightValue":"#reset","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"a73b17c7-907a-47a5-9d3f-6cb59eaa6866","name":"Check Reset Command","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[256,1712]},{"parameters":{"operation":"get","tableId":"={{ $('Extract Message Data').item.json.tabela_whatsapp }}","filters":{"conditions":[{"keyName":"=Telefone","keyValue":"={{ $json.chatid }}"}]}},"id":"b2a98d70-4503-4e66-b3cd-a769c2dcb7b6","name":"Get Lead Status","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[480,1920],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"operation":"delete","tableId":"={{ $('Extract Message Data').item.json.tabela_whatsapp }}","matchType":"allFilters","filters":{"conditions":[{"keyName":"=Telefone","condition":"eq","keyValue":"={{ $('Extract Message Data').item.json.chatid }}"}]}},"id":"bc685263-a00a-451e-b76a-3727c9dcef08","name":"Reset Lead Data","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[480,1616],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"operation":"delete","key":"={{ $('Extract Message Data').item.json.chatid }}_video_inicial_{{ $('Extract Message Data').item.json.tipo_fluxo }}"},"id":"2dfcd3ec-8061-497f-8bcd-e73bb51ada51","name":"Clear Redis Memory on Reset","type":"n8n-nodes-base.redis","typeVersion":1,"position":[704,1616],"credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"promo","mode":"list","cachedResultName":"promo"},"deleteCommand":"delete","where":{"values":[{"column":"session_id","value":"={{ $('Extract Message Data').item.json.chatid }}_{{ $('Extract Message Data').item.json.tipo_fluxo }}"}]},"options":{}},"id":"b4a8039b-2962-420a-92ec-3abdabe066e9","name":"Deleta conversas","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1376,1616],"credentials":{"postgres":{"id":"TTrqj0rnakiukRd7","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"cr-01","name":"status","value":"reset concluído","type":"string"}]},"options":{}},"id":"61581f74-4b6b-4249-b6fb-d060369c5bfd","name":"Confirm Reset","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1600,1616]},{"parameters":{"jsCode":"const trigger = $('Extract Message Data').first().json;\nconst leadDb  = $('Get Lead Status').first().json || {};\n\nconst pausado = leadDb.pausado || leadDb.Pausado || false;\nif (pausado === true) {\n  return [{ json: { etapa: 'pausado', pausado: true, lead_data: leadDb, trigger } }];\n}\n\nlet etapa = (leadDb.Etapa || leadDb.etapa || 'qualificacao').toLowerCase().trim();\nconst validas = ['qualificacao','negociacao','pagamento','handoff'];\nif (!validas.includes(etapa)) etapa = 'qualificacao';\n\n// \"nova\" e ausência → qualificacao\nif (etapa === 'nova') etapa = 'qualificacao';\n\nreturn [{ json: {\n  etapa,\n  pausado: false,\n  lead_data: leadDb,\n  trigger,\n  chatid:          trigger.chatid,\n  mensagem:        trigger.mensagem,\n  urlchatwoot:     trigger.urlchatwoot,\n  account_id:      trigger.account_id,\n  conversation_id: trigger.conversation_id,\n  chatwoottoken:   trigger.chatwoottoken,\n  contact_id:      trigger.contact_id\n} }];"},"id":"bfe439cb-b30d-4852-a57c-8b6e7e659549","name":"Determine Route","type":"n8n-nodes-base.code","typeVersion":2,"position":[2944,2000]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.lead_data.etapa || $json.etapa }}","rightValue":"qualificacao","operator":{"type":"string","operation":"equals"},"id":"r-q"}],"combinator":"or"},"renameOutput":true,"outputKey":"Qualificacao"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.lead_data.etapa || $json.etapa }}","rightValue":"negociacao","operator":{"type":"string","operation":"equals"},"id":"r-n"}],"combinator":"or"},"renameOutput":true,"outputKey":"Negociacao"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.lead_data.etapa || $json.etapa }}","rightValue":"pagamento","operator":{"type":"string","operation":"equals"},"id":"r-p"}],"combinator":"or"},"renameOutput":true,"outputKey":"Pagamento"}]},"options":{"fallbackOutput":"extra"}},"id":"3bc80b9c-7ef3-4bc4-a438-0d8f367ecdd8","name":"Route by Status","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[3168,1968]},{"parameters":{"workflowId":{"__rl":true,"value":"AhMJOQnHisRXlh0u","mode":"list","cachedResultUrl":"/workflow/AhMJOQnHisRXlh0u","cachedResultName":"WF_Qualificacao_Forms Homologacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chatid":"={{ $json.trigger.chatid }}","contact_id":"={{ String($json.trigger.contact_id) }}","chatwoottoken":"={{ $json.trigger.chatwoottoken }}","conversation_id":"={{ String($json.trigger.conversation_id) }}","account_id":"={{ String($json.trigger.account_id) }}","urlchatwoot":"={{ $json.trigger.urlchatwoot }}","mensagem":"={{ $('Code in JavaScript').item.json.mensagem }}","tabela_whatsapp":"={{ $('Extract Message Data').item.json.tabela_whatsapp }}","tipo_fluxo":"={{ $('Extract Message Data').item.json.tipo_fluxo }}","origem":"={{ $('Extract Message Data').item.json.origem }}"},"matchingColumns":[],"schema":[{"id":"chatid","displayName":"chatid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"urlchatwoot","displayName":"urlchatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contact_id","displayName":"contact_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3392,1712],"id":"8bde765a-c983-4ae5-8bf6-7c45a39563e3","name":"Call WF Qualificacao"},{"parameters":{"workflowId":{"__rl":true,"value":"k9OWHDicHrSzF5VK","mode":"list","cachedResultUrl":"/workflow/k9OWHDicHrSzF5VK","cachedResultName":"WF_Negociacao_BDR"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chatid":"={{ $json.lead_data.Telefone }}","mensagem":"={{ $('Extract Message Data').first().json.mensagem }}","urlchatwoot":"={{ $item(\"0\").$node[\"Extract Message Data\"].json[\"urlchatwoot\"] }}","account_id":"1","conversation_id":"={{ String($json.trigger.conversation_id) }}","chatwoottoken":"={{ $item(\"0\").$node[\"Extract Message Data\"].json[\"chatwoottoken\"] }}","contact_id":"={{ String($json.trigger.contact_id) }}","tipo_fluxo":"={{ $item(\"0\").$node[\"Extract Message Data\"].json[\"tipo_fluxo\"] }}","tabela_whatsapp":"={{ $item(\"0\").$node[\"Extract Message Data\"].json[\"tabela_whatsapp\"] }}","origem":"={{ $item(\"0\").$node[\"Extract Message Data\"].json[\"origem\"] }}"},"matchingColumns":[],"schema":[{"id":"chatid","displayName":"chatid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"urlchatwoot","displayName":"urlchatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contact_id","displayName":"contact_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3392,1904],"id":"ffece784-dc98-4748-8d06-747f7e757509","name":"Call WF Negociacao"},{"parameters":{"workflowId":{"__rl":true,"value":"FaUzkLS04lSDKcK2","mode":"list","cachedResultUrl":"/workflow/FaUzkLS04lSDKcK2","cachedResultName":"WF_Pagamento_Forms Homologacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chatid":"={{ String($json.trigger.chatid) }}","contact_id":"={{ String($json.trigger.contact_id) }}","chatwoottoken":"={{ $json.trigger.chatwoottoken }}","conversation_id":"={{ String($json.trigger.conversation_id) }}","account_id":"={{ String($json.trigger.account_id) }}","urlchatwoot":"={{ $json.trigger.urlchatwoot }}","mensagem":"={{ $('Code in JavaScript').item.json.mensagem }}","tabela_whatsapp":"={{ $('Extract Message Data').item.json.tabela_whatsapp }}","tipo_fluxo":"={{ $('Extract Message Data').item.json.tipo_fluxo }}","origem":"={{ $('Extract Message Data').item.json.origem }}"},"matchingColumns":[],"schema":[{"id":"chatid","displayName":"chatid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"urlchatwoot","displayName":"urlchatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"account_id","displayName":"account_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversation_id","displayName":"conversation_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatwoottoken","displayName":"chatwoottoken","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contact_id","displayName":"contact_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"em_qual_etapa","displayName":"em_qual_etapa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3392,2096],"id":"815506ec-da72-4e91-821f-1af78f7b4dc0","name":"Call WF Pagamento"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[1152,2000],"id":"aa80257c-791c-4c10-ba5a-6b5346a13cbd","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Extract Message Data').item.json.mensagem }}","rightValue":"text","operator":{"type":"string","operation":"exists","singleValue":true},"id":"175286c8-574c-4e4d-8be1-459cb46ab491"}],"combinator":"and"},"renameOutput":true,"outputKey":"TEXT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3fb552d6-be7d-405b-8195-d22a6748b937","leftValue":"={{ $('Extract Message Data').item.json.message_type }}","rightValue":"=audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AUDIO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fb5a8b6a-789f-4131-9867-399aae556762","leftValue":"={{ $('Extract Message Data').item.json.message_type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[704,1904],"id":"1a888193-e44f-420d-8d28-1c3520c50d90","name":"Switch","alwaysOutputData":false},{"parameters":{"operation":"push","list":"={{ $('Extract Message Data').item.json.chatid }}_{{ $('Extract Message Data').item.json.tipo_fluxo }}","messageData":"={{ $json.text }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1376,2000],"id":"8151e5c8-a0e0-40e1-907e-b68e0181c38f","name":"AUDIO MEMORY1","alwaysOutputData":true,"credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"O que está na imagem?","inputType":"base64","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[1152,2192],"id":"56acf9ae-bd29-4587-8973-b8665380d437","name":"Analyze image1","credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"operation":"push","list":"={{ $('Extract Message Data').item.json.chatid }}_{{ $('Extract Message Data').item.json.tipo_fluxo }}","messageData":"={{ $('Extract Message Data').item.json.mensagem }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1376,1808],"id":"5fb214db-595f-4d42-8e3d-46efa3c48a29","name":"TEXT MEMORY","alwaysOutputData":true,"credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('Extract Message Data').item.json.chatid }}_{{ $('Extract Message Data').item.json.tipo_fluxo }}","messageData":"={{ $json.output[0].content[0].text }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1376,2192],"id":"3b31b13b-e1c3-4c8a-90b3-e169251df480","name":"IMAGE MEMORY1","alwaysOutputData":true,"credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"url":"={{ $('Webhook Chatwoot').item.json.body.messages[0].attachments[0].data_url }}","options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[928,2000],"id":"23582ae8-e2de-41fc-b36b-f5baa39e066d","name":"HTTP Request"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1824,2000],"id":"a32e907d-b6d6-4f1b-8ada-cf1a82b069aa","name":"Wait","webhookId":"afb08992-7875-4926-8b8c-92ef8c9bdaba"},{"parameters":{"operation":"get","propertyName":"Message1","key":"={{ $('Extract Message Data').item.json.chatid }}_{{ $('Extract Message Data').item.json.tipo_fluxo }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1600,2000],"id":"5d70d855-a801-46c0-b9cc-0e0c8d6e271d","name":"Get Memory1","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"url":"={{ $('Webhook Chatwoot').item.json.body.messages[0].attachments[0].data_url }}","options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[928,2192],"id":"dec91d54-ede8-4eca-ad3c-621859d2c6a8","name":"HTTP Request4"},{"parameters":{"assignments":{"assignments":[{"id":"c5ede0a9-9667-4a4e-8580-2eb5c3bb5f22","name":"Message2","value":"={{ $json.Message2 }}","type":"array"},{"id":"8ce7a270-ae08-431b-9856-4a71672ca304","name":"Message1","value":"={{ $('Get Memory1').item.json.Message1 }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2272,2000],"id":"eaaec8eb-6f62-47e5-99c3-6526b15ed827","name":"Edit Fields"},{"parameters":{"jsCode":"const message1 = $json.Message1;\nconst message2 = $json.Message2;\n\n// Se Message2 for null/vazio, pode seguir\nif (!message2) {\n  const mensagemCompleta = [...message1].reverse().join(\"\\n\");\n  return [{\n    json: {\n      mensagem: mensagemCompleta,\n      resultado: true\n    }\n  }];\n}\n\nconst saoIguais = JSON.stringify(message1) === JSON.stringify(message2);\n\nif (!saoIguais) {\n  return [{\n    json: {\n      resultado: false\n    }\n  }];\n}\n\nconst mensagemCompleta = [...message1].reverse().join(\"\\n\");\nreturn [{\n  json: {\n    mensagem: mensagemCompleta,\n    resultado: true\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2496,2000],"id":"2c20a6e8-059f-40ac-b758-59ef4d9a5106","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8b968ca1-a12f-40db-9997-3bf852d4c1ed","leftValue":"={{ $json.resultado }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2720,2000],"id":"6a986ccb-38bc-465f-932c-d38cc675e2e6","name":"If"},{"parameters":{"operation":"get","propertyName":"Message2","key":"={{ $('Extract Message Data').item.json.chatid }}_{{ $('Extract Message Data').item.json.tipo_fluxo }}","options":{"dotNotation":true}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2048,2000],"id":"92e8124a-e48c-424d-bab7-b765b303b6e2","name":"Get Memory2","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $('Extract Message Data').item.json.chatid }}_{{ $('Extract Message Data').item.json.tipo_fluxo }}"},"id":"df51edfe-9e3d-4797-b3e4-1ff016bff2df","name":"Clear Redis Memory on Reset1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[928,1616],"credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"={{ $('Extract Message Data').item.json.chatid }}_audio_{{ $('Extract Message Data').item.json.tipo_fluxo }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1152,1616],"id":"8e6f96e7-36d7-43af-8be6-64d04e891d3d","name":"Redis","credentials":{"redis":{"id":"RuNsYsqXwDs1PLpF","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ba033595-af4b-48b4-bd51-ab9d5537de48","leftValue":"={{ $json.pausado }}","rightValue":"Ativada","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-624,2640],"id":"5ef6948b-84ab-47ec-84c0-202b8ba821c1","name":"Lead Pausado?1","disabled":true},{"parameters":{"httpMethod":"POST","path":"ab1d6a96-9596-4717-88ae-ebf9aafac935","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-432,1680],"id":"c01477f4-e80a-4d52-85a6-a987c1a2c220","name":"Webhook","webhookId":"ab1d6a96-9596-4717-88ae-ebf9aafac935"}],"connections":{"Extract Message Data":{"main":[[{"node":"Check Reset Command","type":"main","index":0}]]},"Check Reset Command":{"main":[[{"node":"Reset Lead Data","type":"main","index":0}],[{"node":"Get Lead Status","type":"main","index":0}]]},"Get Lead Status":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Reset Lead Data":{"main":[[{"node":"Clear Redis Memory on Reset","type":"main","index":0}]]},"Clear Redis Memory on Reset":{"main":[[{"node":"Clear Redis Memory on Reset1","type":"main","index":0}]]},"Deleta conversas":{"main":[[{"node":"Confirm Reset","type":"main","index":0}]]},"Determine Route":{"main":[[{"node":"Route by Status","type":"main","index":0}]]},"Route by Status":{"main":[[{"node":"Call WF Qualificacao","type":"main","index":0}],[{"node":"Call WF Negociacao","type":"main","index":0}],[{"node":"Call WF Pagamento","type":"main","index":0}],[{"node":"Call WF Pagamento","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"AUDIO MEMORY1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"TEXT MEMORY","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}],[{"node":"HTTP Request4","type":"main","index":0}]]},"AUDIO MEMORY1":{"main":[[{"node":"Get Memory1","type":"main","index":0}]]},"Analyze image1":{"main":[[{"node":"IMAGE MEMORY1","type":"main","index":0}]]},"TEXT MEMORY":{"main":[[{"node":"Get Memory1","type":"main","index":0}]]},"IMAGE MEMORY1":{"main":[[{"node":"Get Memory1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Memory2","type":"main","index":0}]]},"Get Memory1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Analyze image1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Determine Route","type":"main","index":0}]]},"Get Memory2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Clear Redis Memory on Reset1":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Deleta conversas","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Extract Message Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":120},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"97ebc5eb-13b1-46ff-83de-f27c90acea3f","activeVersionId":"70d3edd4-7428-43e7-8f3f-519e751d3933","versionCounter":84,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-16T02:06:11.762Z","createdAt":"2026-03-16T02:06:11.762Z","role":"workflow:owner","workflowId":"T1f7G6BwEuGNqzYm","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}