workflows_extracted/Ta9GrPSavB_3CGTfG3XWg.json
{"updatedAt":"2026-05-12T21:25:28.584Z","createdAt":"2026-03-13T01:57:22.579Z","id":"Ta9GrPSavB_3CGTfG3XWg","name":"WF_Link Pagamento v2 - Multi-experience resource Homologacao_RC","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"navio"},{"name":"qtd_adultos"},{"name":"qtd_criancas"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[2352,736],"id":"2011bcc2-af8f-410f-affc-f7603e9c0380","name":"Workflow Trigger"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"=text-embedding-3-small"},{"name":"=input","value":"={{ $('Workflow Trigger').first().json.navio }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2608,736],"id":"79b3bdd5-d185-48dc-88c4-6491112de572","name":"HTTP Request: Gerar Embedding do navio","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"openAiApi":{"id":"K0KQj1MLVoGAPzAv","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Pega o embedding retornado pela OpenAI\nconst embeddingData = $('HTTP Request: Gerar Embedding do navio').first().json;\nconst embeddingArray = embeddingData.data?.[0]?.embedding;\n\nif (!embeddingArray || embeddingArray.length === 0) {\n  throw new Error('OpenAI não retornou embedding. Verifique a API Key e o campo \"input\".');\n}\n\n// Converte o array para string no formato pgvector\nconst vectorString = '[' + embeddingArray.join(',') + ']';\n\n// Pega as quantidades do Trigger e converte para int\nconst trigger = $('Workflow Trigger').first().json;\nconst qtdAdultos  = parseInt(trigger.qtd_adultos)  || 1;\nconst qtdCriancas = parseInt(trigger.qtd_criancas) || 0;\nconst navioPedido = trigger.navio || '';\n\nreturn [{\n  json: {\n    vector_string: vectorString,\n    qtd_adultos:   qtdAdultos,\n    qtd_criancas:  qtdCriancas,\n    navio_pedido:  navioPedido,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2864,736],"id":"ab2b798d-10ce-4cb1-86b5-b5713896f54d","name":"Code: Extrair vetor e preparar inputs"},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT\n    (metadata->>'qtd_adultos')::int  AS qtd_adultos,\n    (metadata->>'qtd_criancas')::int AS qtd_criancas,\n    (metadata->>'qtd_adultos')::int + (metadata->>'qtd_criancas')::int AS capacidade\nFROM vetor_link_pagamento_homologacao\nWHERE 1 - (embedding <=> $1::vector) >= 0.44\nORDER BY capacidade DESC;","options":{"queryReplacement":"={{ $json.vector_string }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3136,736],"id":"47b64619-6e80-4cba-9370-8d80aa1ff036","name":"PostgreSQL: Buscar combinacoes disponiveis","credentials":{"postgres":{"id":"eE0yF7lt0M8N5a3W","name":"Postgres Supabase"}}},{"parameters":{"jsCode":"// ═══════════════════════════════════════════════════════════\n// ALGORITMO DE DISTRIBUIÇÃO DE experience resource (Backtracking)\n// ═══════════════════════════════════════════════════════════\n//\n// Estratégia: preencher ao máximo, priorizando experience resource maiores\n// Restrição: toda experience resource com criança deve ter >= 1 adulto\n// Disponibilidade: consulta dinâmica por navio\n// ═══════════════════════════════════════════════════════════\n\nconst inputs = $('Code: Extrair vetor e preparar inputs').first().json;\nconst combRows = $('PostgreSQL: Buscar combinacoes disponiveis').all();\n\nconst totalAdultos  = inputs.qtd_adultos;\nconst totalCriancas = inputs.qtd_criancas;\nconst totalPessoas  = totalAdultos + totalCriancas;\nconst MAX_POR_CABINE = 4;\n\n// ── Extrair combinações disponíveis ──\nconst combinacoes = combRows.map(r => ({\n  a:   r.json.qtd_adultos,\n  c:   r.json.qtd_criancas,\n  cap: r.json.capacidade\n}));\n\n// Se nenhuma combinação encontrada, navio provavelmente não existe\nif (combinacoes.length === 0) {\n  return [{\n    json: {\n      sucesso: false,\n      motivo: `Nenhuma experience resource encontrada para o navio \"${inputs.navio_pedido}\". Verifique se o nome está correto.`,\n      alternativa: null,\n      alternativa_descricao: 'Nenhuma alternativa disponível. Encaminhar para atendente.'\n    }\n  }];\n}\n\n// ── Filtrar combinações válidas ──\n// Regra 1: se tem criança, precisa de adulto\n// Regra 2: ninguém sozinho na experience resource (min 2 pessoas, exceto viajante solo)\nconst MIN_POR_CABINE = (totalPessoas === 1) ? 1 : 2;\n\nconst combValidas = combinacoes.filter(c => {\n  // Regra 1: criança precisa de adulto\n  if (c.c > 0 && c.a < 1) return false;\n  // Regra 2: experience resource com menos de MIN_POR_CABINE pessoas é excluída\n  if (c.cap < MIN_POR_CABINE) return false;\n  return true;\n});\n// Ordenar por capacidade DESC (preencher ao máximo)\ncombValidas.sort((a, b) => b.cap - a.cap);\n\n// ── CASO SIMPLES: cabe em 1 experience resource ──\nif (totalPessoas <= MAX_POR_CABINE) {\n  const match = combValidas.find(c => c.a === totalAdultos && c.c === totalCriancas);\n  if (match) {\n    return [{\n      json: {\n        sucesso: true,\n        total_cabines: 1,\n        cabine_idx: 1,\n        qtd_adultos: totalAdultos,\n        qtd_criancas: totalCriancas,\n        vector_string: inputs.vector_string,\n        navio_pedido: inputs.navio_pedido,\n      }\n    }];\n  }\n  // Combinação exata não existe → cai no backtracking\n}\n\n// ── BACKTRACKING: encontrar menor número de experience resource ──\nlet melhorSolucao = null;\n\nfunction resolver(aRest, cRest, experience resource, prof) {\n  if (prof > 10) return; // segurança\n  if (aRest === 0 && cRest === 0) {\n    if (!melhorSolucao || experience resource.length < melhorSolucao.length) {\n      melhorSolucao = experience resource.map(c => ({...c}));\n    }\n    return;\n  }\n  if (aRest < 0 || cRest < 0) return;\n  if (melhorSolucao && experience resource.length >= melhorSolucao.length) return; // poda\n\n  for (const comb of combValidas) {\n    if (comb.a > aRest || comb.c > cRest) continue;\n    if (comb.a === 0 && comb.c === 0) continue;\n\n    experience resource.push({ qtd_adultos: comb.a, qtd_criancas: comb.c });\n    resolver(aRest - comb.a, cRest - comb.c, experience resource, prof + 1);\n    experience resource.pop();\n  }\n}\n\nresolver(totalAdultos, totalCriancas, [], 0);\n\nif (melhorSolucao) {\n  // Retorna N items, um por experience resource (n8n processa cada um nos nós seguintes)\n  return melhorSolucao.map((cab, i) => ({\n    json: {\n      sucesso: true,\n      total_cabines: melhorSolucao.length,\n      cabine_idx: i + 1,\n      qtd_adultos: cab.qtd_adultos,\n      qtd_criancas: cab.qtd_criancas,\n      vector_string: inputs.vector_string,\n      navio_pedido: inputs.navio_pedido,\n    }\n  }));\n}\n\n// ── FALLBACK: não conseguiu encaixar → propor alternativa ──\nlet alternativa = null;\n\nfunction resolverAlt(aRest, cRest, experience resource, prof) {\n  if (prof > 10) return;\n  if (aRest === 0 && cRest === 0) {\n    if (!alternativa || experience resource.length < alternativa.length) {\n      alternativa = experience resource.map(c => ({...c}));\n    }\n    return;\n  }\n  if (aRest < 0 || cRest < 0) return;\n  if (alternativa && experience resource.length >= alternativa.length) return;\n  for (const comb of combValidas) {\n    if (comb.a > aRest || comb.c > cRest) continue;\n    if (comb.a === 0 && comb.c === 0) continue;\n    experience resource.push({ qtd_adultos: comb.a, qtd_criancas: comb.c });\n    resolverAlt(aRest - comb.a, cRest - comb.c, experience resource, prof + 1);\n    experience resource.pop();\n  }\n}\n\n// Tentar variações (reduzir crianças, adicionar adultos)\nconst tentativas = [];\nfor (let dA = 0; dA <= 3; dA++) {\n  for (let dC = 0; dC >= -totalCriancas; dC--) {\n    if (dA === 0 && dC === 0) continue; // já tentamos o original\n    tentativas.push([totalAdultos + dA, totalCriancas + dC]);\n  }\n}\n// Tentar reduzir adultos também\nfor (let dA = -1; dA >= -2; dA--) {\n  tentativas.push([totalAdultos + dA, totalCriancas]);\n}\n\nfor (const [novoA, novoC] of tentativas) {\n  if (novoA < 1 || novoC < 0) continue;\n  resolverAlt(novoA, novoC, [], 0);\n  if (alternativa) break;\n}\n\nconst altDescricao = alternativa\n  ? alternativa.map((c, i) =>\n      `experience resource ${i+1}: ${c.qtd_adultos} adulto(s)` +\n      (c.qtd_criancas > 0 ? ` e ${c.qtd_criancas} criança(s)` : '')\n    ).join('\\n')\n  : null;\n\nreturn [{\n  json: {\n    sucesso: false,\n    motivo: `Não foi possível distribuir ${totalAdultos} adulto(s) e ${totalCriancas} criança(s) nas experience resource disponíveis para este navio.`,\n    alternativa: alternativa,\n    alternativa_descricao: altDescricao || 'Nenhuma alternativa encontrada. Encaminhar para atendente.',\n    navio_pedido: inputs.navio_pedido,\n    total_adultos_original: totalAdultos,\n    total_criancas_original: totalCriancas,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3392,736],"id":"a838ac1c-9d83-4985-a906-bb5c88f86a0f","name":"Code: Calcular distribuicao de experience resource"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":""},"conditions":[{"id":"1597fdca-920d-4d34-a7dd-0b8ed719d1b3","leftValue":"={{ $json.sucesso }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[3648,736],"id":"5d4fce90-647b-4573-928b-5d0b5303e08d","name":"IF: Distribuicao possivel?"},{"parameters":{"operation":"executeQuery","query":"SELECT\n    metadata->>'navio'        AS navio,\n    metadata->>'link_reserva' AS link_reserva,\n    metadata->>'observacoes'  AS observacoes,\n    metadata->>'qtd_adultos'  AS qtd_adultos,\n    metadata->>'qtd_criancas' AS qtd_criancas,\n    (metadata->>'tem_criancas')::boolean AS tem_criancas,\n    1 - (embedding <=> $1::vector) AS similarity\nFROM vetor_link_pagamento_homologacao\nWHERE\n    (metadata->>'qtd_adultos')::int  = $2\n    AND (metadata->>'qtd_criancas')::int = $3\nORDER BY embedding <=> $1::vector\nLIMIT 1;","options":{"queryReplacement":"={{ $json.vector_string }}, {{ $json.qtd_adultos }}, {{ $json.qtd_criancas }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3904,608],"id":"bb32c93f-1212-4ebc-88f0-78b36a908a73","name":"PostgreSQL: Busca vetorial por experience resource","credentials":{"postgres":{"id":"eE0yF7lt0M8N5a3W","name":"Postgres Supabase"}}},{"parameters":{"jsCode":"// ═══════════════════════════════════════════════════════════\n// VALIDAR SIMILARIDADE E AGREGAR TODOS OS LINKS\n// ═══════════════════════════════════════════════════════════\n//\n// Recebe N items (um por experience resource) vindos do PostgreSQL.\n// Valida a similaridade de cada um e monta o resultado final.\n// ═══════════════════════════════════════════════════════════\n\nconst SIMILARITY_THRESHOLD = 0.44;\n\nconst resultadosPG = $('PostgreSQL: Busca vetorial por experience resource').all();\nconst distribuicao = $('Code: Calcular distribuicao de experience resource').all();\n\nconst experience resource = [];\nlet todasEncontradas = true;\nlet navioPrincipal = '';\n\nfor (let i = 0; i < resultadosPG.length; i++) {\n  const res = resultadosPG[i].json;\n  const dist = distribuicao[i].json;\n  const cabineIdx = dist.cabine_idx;\n  navioPrincipal = dist.navio_pedido;\n\n  // Caso 1: sem resultado\n  if (!res || !res.link_reserva) {\n    todasEncontradas = false;\n    experience resource.push({\n      cabine_idx: cabineIdx,\n      encontrado: false,\n      qtd_adultos: dist.qtd_adultos,\n      qtd_criancas: dist.qtd_criancas,\n      motivo: `Sem link para ${dist.qtd_adultos} adulto(s) e ${dist.qtd_criancas} criança(s).`,\n    });\n    continue;\n  }\n\n  const similarity = parseFloat(res.similarity) || 0;\n\n  // Caso 2: similaridade baixa\n  if (similarity < SIMILARITY_THRESHOLD) {\n    todasEncontradas = false;\n    experience resource.push({\n      cabine_idx: cabineIdx,\n      encontrado: false,\n      qtd_adultos: dist.qtd_adultos,\n      qtd_criancas: dist.qtd_criancas,\n      motivo: `Navio não reconhecido (similaridade: ${similarity.toFixed(2)}). Match: \"${res.navio}\".`,\n      debug_similarity: similarity,\n    });\n    continue;\n  }\n\n  // Caso 3: sucesso\n  experience resource.push({\n    cabine_idx: cabineIdx,\n    encontrado: true,\n    link_reserva: res.link_reserva,\n    navio: res.navio,\n    qtd_adultos: parseInt(res.qtd_adultos),\n    qtd_criancas: parseInt(res.qtd_criancas),\n    observacoes: res.observacoes || '',\n    similarity: similarity,\n  });\n}\n\nreturn [{\n  json: {\n    todas_encontradas: todasEncontradas,\n    total_cabines: experience resource.length,\n    navio: navioPrincipal,\n    experience resource: experience resource,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4176,608],"id":"68624d24-da1e-46e8-bc52-7702eb229e86","name":"Code: Validar e agregar resultados"},{"parameters":{"jsCode":"// ═══════════════════════════════════════════════════════════\n// MONTAR MENSAGEM FINAL (multi-link ou single-link)\n// ═══════════════════════════════════════════════════════════\n\nconst data = $input.first().json;\nconst experience resource = data.experience resource || [];\nconst totalCabines = experience resource.length;\nconst navio = data.navio || 'este navio';\n\n// ── Calcular totais ──\nlet totalAdultos = 0;\nlet totalCriancas = 0;\nfor (const c of experience resource) {\n  totalAdultos += c.qtd_adultos || 0;\n  totalCriancas += c.qtd_criancas || 0;\n}\nconst totalPessoas = totalAdultos + totalCriancas;\n\nlet msg = '';\n\nif (data.todas_encontradas) {\n  // ── SUCESSO TOTAL ──\n  if (totalCabines === 1) {\n    // Mensagem original (1 experience resource)\n    const c = experience resource[0];\n    msg = `Que ótima notícia! 🎉\\n\\n` +\n      `Aqui está o seu link para garantir a reserva no *${c.navio}* para ` +\n      `${c.qtd_adultos} adulto(s)` +\n      (c.qtd_criancas > 0 ? ` e ${c.qtd_criancas} criança(s)` : '') +\n      `:\\n\\n🔗 ${c.link_reserva}\\n\\n` +\n      (c.observacoes ? `⚠️ _${c.observacoes}_\\n\\n` : '') +\n      `Qualquer dúvida é só chamar! 😊`;\n  } else {\n    // Mensagem multi-experience resource\n    msg = `Que ótima notícia! 🎉\\n\\n` +\n      `Seu grupo de ${totalPessoas} pessoas precisa de *${totalCabines} experience resource* no *${experience resource[0].navio}*:\\n\\n`;\n\n    for (const c of experience resource) {\n      const pessoas = c.qtd_adultos + ' adulto(s)' +\n        (c.qtd_criancas > 0 ? ` e ${c.qtd_criancas} criança(s)` : '');\n      msg += `🔗 *experience resource ${c.cabine_idx}* (${pessoas}):\\n${c.link_reserva}\\n`;\n      if (c.observacoes) {\n        msg += `⚠️ _${c.observacoes}_\\n`;\n      }\n      msg += '\\n';\n    }\n\n    msg += `📋 _Cada link corresponde a uma experience resource separada. Complete todas as reservas para garantir seu grupo!_\\n\\n`;\n    msg += `Qualquer dúvida é só chamar! 😊`;\n  }\n} else {\n  // ── SUCESSO PARCIAL ──\n  const encontradas = experience resource.filter(c => c.encontrado);\n  const naoEncontradas = experience resource.filter(c => !c.encontrado);\n\n  if (encontradas.length === 0) {\n    msg = `Não encontrei links de reserva disponíveis para o *${navio}* com essa configuração de grupo. 😔\\n\\n` +\n      `Vou encaminhar para um especialista que pode ajudar com outras opções! 🙏`;\n  } else {\n    msg = `Encontrei parte dos links para o seu grupo:\\n\\n`;\n    for (const c of encontradas) {\n      const pessoas = c.qtd_adultos + ' adulto(s)' +\n        (c.qtd_criancas > 0 ? ` e ${c.qtd_criancas} criança(s)` : '');\n      msg += `✅ *experience resource ${c.cabine_idx}* (${pessoas}):\\n${c.link_reserva}\\n\\n`;\n    }\n    for (const c of naoEncontradas) {\n      const pessoas = c.qtd_adultos + ' adulto(s)' +\n        (c.qtd_criancas > 0 ? ` e ${c.qtd_criancas} criança(s)` : '');\n      msg += `❌ *experience resource ${c.cabine_idx}* (${pessoas}): link não disponível\\n`;\n    }\n    msg += `\\nVou encaminhar para um especialista resolver as experience resource pendentes. Pode aguardar um momento? 🙏`;\n  }\n}\n\nreturn [{ json: { mensagem: msg } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4432,608],"id":"bfd4464d-1617-4483-a682-1b3cf060acb3","name":"Code: Montar mensagem multi-link"},{"parameters":{"jsCode":"// ═══════════════════════════════════════════════════════════\n// MONTAR MENSAGEM COM PROPOSTA ALTERNATIVA\n// ═══════════════════════════════════════════════════════════\n\nconst data = $input.first().json;\nconst navio = data.navio_pedido || 'este navio';\nconst adultos = data.total_adultos_original || 0;\nconst criancas = data.total_criancas_original || 0;\n\nlet msg = '';\n\nif (data.alternativa && data.alternativa.length > 0) {\n  msg = `Entendi que seu grupo tem ${adultos} adulto(s)`;\n  if (criancas > 0) msg += ` e ${criancas} criança(s)`;\n  msg += ` 🤔\\n\\n`;\n  msg += `Com as experience resource disponíveis para o *${navio}*, não consegui montar a distribuição exata. `;\n  msg += `Mas tenho uma sugestão:\\n\\n`;\n  msg += `📋 *Proposta alternativa:*\\n`;\n\n  for (const c of data.alternativa) {\n    const pessoas = c.qtd_adultos + ' adulto(s)' +\n      (c.qtd_criancas > 0 ? ` e ${c.qtd_criancas} criança(s)` : '');\n    msg += `  • experience resource: ${pessoas}\\n`;\n  }\n\n  msg += `\\nEssa distribuição funcionaria para vocês? 😊\\n\\n`;\n  msg += `_(Caso prefira, posso chamar um especialista para ajudar com outras opções!)_`;\n} else {\n  msg = `Entendi que seu grupo tem ${adultos} adulto(s)`;\n  if (criancas > 0) msg += ` e ${criancas} criança(s)`;\n  msg += `.\\n\\n`;\n  msg += `Infelizmente não consegui encontrar uma combinação de experience resource que atenda seu grupo no *${navio}*. 😔\\n\\n`;\n  msg += `Vou encaminhar para um especialista que pode montar uma proposta personalizada! 🙏`;\n}\n\nreturn [{ json: { mensagem: msg } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3904,912],"id":"29572be9-deb0-4fb7-a205-024363c6300d","name":"Code: Montar mensagem alternativa"}],"connections":{"Workflow Trigger":{"main":[[{"node":"HTTP Request: Gerar Embedding do navio","type":"main","index":0}]]},"HTTP Request: Gerar Embedding do navio":{"main":[[{"node":"Code: Extrair vetor e preparar inputs","type":"main","index":0}]]},"Code: Extrair vetor e preparar inputs":{"main":[[{"node":"PostgreSQL: Buscar combinacoes disponiveis","type":"main","index":0}]]},"PostgreSQL: Buscar combinacoes disponiveis":{"main":[[{"node":"Code: Calcular distribuicao de experience resource","type":"main","index":0}]]},"Code: Calcular distribuicao de experience resource":{"main":[[{"node":"IF: Distribuicao possivel?","type":"main","index":0}]]},"IF: Distribuicao possivel?":{"main":[[{"node":"PostgreSQL: Busca vetorial por experience resource","type":"main","index":0}],[{"node":"Code: Montar mensagem alternativa","type":"main","index":0}]]},"PostgreSQL: Busca vetorial por experience resource":{"main":[[{"node":"Code: Validar e agregar resultados","type":"main","index":0}]]},"Code: Validar e agregar resultados":{"main":[[{"node":"Code: Montar mensagem multi-link","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":660},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Workflow Trigger":[{"json":{"navio":"Navio Roberto Carlos 2026","qtd_adultos":"2","qtd_criancas":"2"}}]},"versionId":"d4f996fe-2486-49e0-878c-c86dc0aa76c7","activeVersionId":"d4f996fe-2486-49e0-878c-c86dc0aa76c7","versionCounter":351,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-13T01:57:22.579Z","createdAt":"2026-03-13T01:57:22.579Z","role":"workflow:owner","workflowId":"Ta9GrPSavB_3CGTfG3XWg","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}