workflows_extracted/ttRqnBDs8E7WRLSwkgXdV.json
{"updatedAt":"2026-03-16T01:49:53.759Z","createdAt":"2026-01-30T21:13:33.079Z","id":"ttRqnBDs8E7WRLSwkgXdV","name":"[Demo Events Co] [materiais marketing] - Formulário","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"cruzeiroInteressado"},{"name":"telefone"},{"name":"chatwooturl"},{"name":"chatwoottoken"},{"name":"accountid"},{"name":"conversasionid"},{"name":"resposta"}]}},"id":"b6c8b8a4-b17f-4dcd-b0be-8c65392f0628","typeVersion":1.1,"name":"start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[432,2000]},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2352,1328],"id":"5d35f613-e100-4430-aea3-2e363b4a5dcd","name":"Wait","webhookId":"0b70c17c-5979-4f87-822f-e07f7507d6e4"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2128,1520],"id":"e7aa2dcf-c7bc-41b6-afea-519234d3c546","name":"Wait1","webhookId":"7f0bfb29-03ec-487e-99a1-18c5e9b30ad1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2128,1712],"id":"974024ee-dd9b-40ab-8e62-f8002e0219b5","name":"Wait2","webhookId":"e941f105-660f-4ecd-b8c6-fd446827b39a"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2128,1904],"id":"e895cc85-fa81-4515-a2e1-05e13841e614","name":"Wait3","webhookId":"351c072b-76b3-4646-9094-f56186e2a391"},{"parameters":{"url":"={{ $('Diretorio').item.json.banner }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1680,1328],"id":"3ff08255-3ede-4e5d-a2c7-cd3f7e07117b","name":"HTTP Request"},{"parameters":{"method":"POST","url":"={{ $('start').item.json.chatwooturl }}/api/v1/accounts/{{ $('start').item.json.accountid }}/conversations/{{ $('start').item.json.conversasionid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').item.json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1904,1328],"id":"24131b91-c6ef-4c7a-80eb-4827a361d859","name":"HTTP Request1"},{"parameters":{"url":"={{ $('Diretorio').item.json.video }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2576,1328],"id":"1e49d11f-faaa-4407-bcd8-fbb48025697c","name":"HTTP Request2"},{"parameters":{"method":"POST","url":"={{ $('start').item.json.chatwooturl }}/api/v1/accounts/{{ $('start').item.json.accountid }}/conversations/{{ $('start').item.json.conversasionid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').item.json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2800,1328],"id":"1b493121-a4ba-43bf-89b8-b0ded1d210df","name":"HTTP Request3"},{"parameters":{"url":"={{ $('Diretorio1').item.json.banner }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1456,1520],"id":"4269c0e5-3780-4bfd-ad73-1648c0652191","name":"HTTP Request4"},{"parameters":{"method":"POST","url":"={{ $('start').item.json.chatwooturl }}/api/v1/accounts/{{ $('start').item.json.accountid }}/conversations/{{ $('start').item.json.conversasionid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').item.json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1680,1520],"id":"b8550486-5ed1-4d31-a67f-d8514dd93565","name":"HTTP Request5"},{"parameters":{"url":"={{ $('Diretorio1').item.json.video }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2352,1520],"id":"173acdef-dded-4641-a7c2-52a606afbbf4","name":"HTTP Request6"},{"parameters":{"method":"POST","url":"={{ $('start').item.json.chatwooturl }}/api/v1/accounts/{{ $('start').item.json.accountid }}/conversations/{{ $('start').item.json.conversasionid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').item.json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2576,1520],"id":"7dd01bd3-118b-4e13-a974-91fe7f6ecdc9","name":"HTTP Request7"},{"parameters":{"assignments":{"assignments":[{"id":"56e66223-77ef-4453-8397-3c70c1c53560","name":"resposta","value":"Foi enviado ao usuario o video e o banner. Siga com os próximos passos.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3024,1520],"id":"5f5ec6ea-0bf3-4118-9a4c-e8894a92ed8d","name":"Resposta1"},{"parameters":{"url":"={{ $('Diretorio2').item.json.banner }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1456,1712],"id":"501dd27c-e657-444a-b668-96094f946ece","name":"HTTP Request8"},{"parameters":{"method":"POST","url":"={{ $('start').item.json.chatwooturl }}/api/v1/accounts/{{ $('start').item.json.accountid }}/conversations/{{ $('start').item.json.conversasionid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').item.json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1680,1712],"id":"2062c235-48eb-4742-9cb9-ccdfb7c0845a","name":"HTTP Request9"},{"parameters":{"url":"={{ $('Diretorio2').item.json.video }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2352,1712],"id":"cef06665-b983-430b-b288-ec0b9c65afd2","name":"HTTP Request10"},{"parameters":{"method":"POST","url":"={{ $('start').item.json.chatwooturl }}/api/v1/accounts/{{ $('start').item.json.accountid }}/conversations/{{ $('start').item.json.conversasionid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').item.json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2576,1712],"id":"1f8931a7-e721-4489-a0bb-a2c7318daaf7","name":"HTTP Request11"},{"parameters":{"assignments":{"assignments":[{"id":"56e66223-77ef-4453-8397-3c70c1c53560","name":"resposta","value":"Foi enviado ao usuario o video e o banner. Siga com os próximos passos.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3024,1712],"id":"964347f8-e023-4b52-9a9b-7107bbb3e1ea","name":"Resposta2"},{"parameters":{"url":"={{ $('Diretorio3').item.json.banner }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1456,1904],"id":"58e9c577-d40a-42d2-95e3-be840f0f3869","name":"HTTP Request12"},{"parameters":{"method":"POST","url":"={{ $('start').item.json.chatwooturl }}/api/v1/accounts/{{ $('start').item.json.accountid }}/conversations/{{ $('start').item.json.conversasionid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').item.json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1680,1904],"id":"b8d3eb5a-88fe-436b-94cd-aeee6810e255","name":"HTTP Request13"},{"parameters":{"url":"={{ $('Diretorio3').item.json.video }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2352,1904],"id":"f2e2c003-519c-4f98-b129-450fcbed1bea","name":"HTTP Request14"},{"parameters":{"method":"POST","url":"={{ $('start').item.json.chatwooturl }}/api/v1/accounts/{{ $('start').item.json.accountid }}/conversations/{{ $('start').item.json.conversasionid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').item.json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2576,1904],"id":"689a606c-eba6-4c70-8bd4-666b737cadc2","name":"HTTP Request15"},{"parameters":{"assignments":{"assignments":[{"id":"56e66223-77ef-4453-8397-3c70c1c53560","name":"resposta","value":"Foi enviado ao usuario o video e o banner. Siga com os próximos passos.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3024,1904],"id":"a218c516-3ab2-4693-b531-8b2d3d9a6758","name":"Resposta3"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2128,2096],"id":"523fc846-5ec5-4e95-949d-5321209d5869","name":"Wait4","webhookId":"a1bdfdf6-f343-4e80-967d-7da76c2fe9e4"},{"parameters":{"url":"={{ $('Diretorio4').item.json.banner }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1456,2096],"id":"d5564cb5-a9e5-4fba-af7d-77e0387bb809","name":"HTTP Request16"},{"parameters":{"method":"POST","url":"={{ $('start').item.json.chatwooturl }}/api/v1/accounts/{{ $('start').item.json.accountid }}/conversations/{{ $('start').item.json.conversasionid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').item.json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1680,2096],"id":"7d728245-2f70-4085-903e-91865438750b","name":"HTTP Request17"},{"parameters":{"url":"={{ $('Diretorio4').item.json.video }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2352,2096],"id":"48569996-68b2-43a8-8596-1808554f2075","name":"HTTP Request18"},{"parameters":{"method":"POST","url":"={{ $('start').item.json.chatwooturl }}/api/v1/accounts/{{ $('start').item.json.accountid }}/conversations/{{ $('start').item.json.conversasionid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').item.json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2576,2096],"id":"d2e4ac58-d242-4e65-b321-01bf77c8f839","name":"HTTP Request19"},{"parameters":{"assignments":{"assignments":[{"id":"56e66223-77ef-4453-8397-3c70c1c53560","name":"resposta","value":"Foi enviado ao usuario o video e o banner. Siga com os próximos passos.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3024,2096],"id":"b9a86ca4-2ff8-46c6-bab7-2f3469e12bf8","name":"Resposta4"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2128,2288],"id":"5d50d45a-8208-48b0-b96b-128bcf841d11","name":"Wait5","webhookId":"d6681e7d-08e0-4f49-be64-544ffc03a770"},{"parameters":{"url":"={{ $('Diretorio5').item.json.banner }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1456,2288],"id":"15ad9f4d-2945-4c5c-aaff-c2d4f9858083","name":"HTTP Request20"},{"parameters":{"method":"POST","url":"={{ $('start').item.json.chatwooturl }}/api/v1/accounts/{{ $('start').item.json.accountid }}/conversations/{{ $('start').item.json.conversasionid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').item.json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1680,2288],"id":"f9e2bbc5-8e08-4eaf-9862-507ea94897ce","name":"HTTP Request21"},{"parameters":{"url":"={{ $('Diretorio5').item.json.video }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2352,2288],"id":"9ff387e1-9025-421f-9d65-2a550eef44a6","name":"HTTP Request22"},{"parameters":{"method":"POST","url":"={{ $('start').item.json.chatwooturl }}/api/v1/accounts/{{ $('start').item.json.accountid }}/conversations/{{ $('start').item.json.conversasionid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').item.json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2576,2288],"id":"72cbdb52-d506-4beb-aad7-ec1536154e13","name":"HTTP Request23"},{"parameters":{"assignments":{"assignments":[{"id":"56e66223-77ef-4453-8397-3c70c1c53560","name":"resposta","value":"Foi enviado ao usuario o video e o banner. Siga com os próximos passos.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3024,2288],"id":"8c898f90-1b79-4b0f-9319-b5818c5fd999","name":"Resposta5"},{"parameters":{"promptType":"define","text":"={{ $('start').item.json.cruzeiroInteressado }}","hasOutputParser":true,"options":{"systemMessage":"=PAPEL\nVocê é um classificador de intenção para cruzeiros temáticos. Sua tarefa é identificar qual \"navio/atração\" o lead quer, com base no texto recebido.\nOBJETIVO\nDado um JSON de entrada (normalmente um array com 1 objeto), retornar APENAS um JSON no formato:\n{\"atracao\":\"<uma das 7 opções OU Não identificado>\"}\nENTRADA (o que você recebe)\nUm JSON (geralmente assim):\n[\n  {\n    \"cruzeiroInteressado\": \"...\",\n    \"telefone\": \"...\",\n    \"chatwooturl\": \"...\",\n    \"chatwoottoken\": \"...\",\n    \"accountid\": 1,\n    \"conversasionid\": 4659,\n    \"...\": \"outros campos opcionais como mensagem/last_message/texto\"\n  }\n]\nREGRAS DURAS\n1) NÃO invente valores fora da lista abaixo.\n2) Saída deve ser SOMENTE o JSON final, sem explicações, sem texto extra, sem markdown.\n3) Se houver empate ou baixa confiança, use: {\"atracao\":\"Não identificado\"}.\nLISTA FIXA (7 opções)\n- \"Navio do Gustavo Lima\"\n- \"Navio do Bel Marques\"\n- \"Navio do Leonardo\"\n- \"Navio da 89 Radio Rock\"\n- \"Navio de Réveillon\"\n- \"Navio do Chitãozinho e Xororó\"\n- \"Navio do João Gomes\"\nCOMO DECIDIR (procedimento)\nA) Monte o TEXTO_ALVO concatenando (na ordem) os campos disponíveis e não vazios:\ncruzeiroInteressado, mensagem, last_message, texto, pergunta.\nSe só existir cruzeiroInteressado, use apenas ele.\nB) Normalize TEXTO_ALVO:\n- coloque em minúsculas\n- remova acentos\n- remova pontuação extra\n- reduza espaços múltiplos\nC) Faça matching por SCORE (pesos):\n- 3 pontos: frase/termo muito específico do navio (ex.: \"rock boat\", \"vumbora pro mar\", \"embaixador em alto mar\", \"navio cabare\", \"navio ch&x\", \"ch&x\", \"dominguinho em alto mar\")\n- 2 pontos: nome do artista/marca principal (ex.: \"gustavo lima/gusttavo lima\", \"bell marques/bel marques\", \"leonardo\", \"89 fm/89\", \"reveillon\", \"chitaozinho\", \"xororo\", \"joao gomes\")\n- 1 ponto: apelido comum (ex.: \"gustavo\", \"gusttavo\", \"bel\", \"bell\", \"leo\", \"rock\", \"virada\", \"fim de ano\", \"joao\", \"gomes\")\nD) Se o maior score < 2 → \"Não identificado\"\nE) Se empate no maior score → \"Não identificado\"\nF) Caso contrário, retorne a atração correspondente ao maior score.\nDICIONÁRIO DE TERMOS (use estes gatilhos; considere variações e typos)\n1) Navio do Gustavo Lima\n- forte (3): \"navio do embaixador\", \"embaixador em alto mar\", \"embaixador em alto-mar\", \"cruzeiro do embaixador\"\n- médio (2): \"gustavo lima\", \"gusttavo lima\", \"embaixador\"\n- fraco (1): \"gustavo\", \"gusttavo\", \"lima\", \"embaixado\"\n2) Navio do Bel Marques\n- forte (3): \"vumbora pro mar\", \"vumbora promar\", \"vumbora\"\n- médio (2): \"bell marques\", \"bel marques\", \"vumbora pro mar\"\n- fraco (1): \"bel\", \"bell\", \"vombora\", \"vumbora\"\n3) Navio do Leonardo\n- forte (3): \"navio cabare\", \"navio cabaré\", \"cabare em alto mar\", \"cabare em alto-mar\"\n- médio (2): \"leonardo\", \"cabare\", \"cabaré\"\n- fraco (1): \"leo\", \"cabaré\"\n4) Navio da 89 Radio Rock\n- forte (3): \"89 rock boat\", \"rock boat\", \"a radio rock\", \"radio rock\"\n- médio (2): \"89fm\", \"89 fm\", \"89\", \"oitenta e nove\", \"radio rock\", \"rock boat\"\n- fraco (1): \"rock\", \"radio\", \"89\"\n5) Navio de Réveillon\n- forte (3): \"reveillon em alto mar\", \"réveillon em alto mar\", \"virada em alto mar\"\n- médio (2): \"reveillon\", \"réveillon\", \"virada do ano\", \"ano novo\", \"fim de ano\"\n- fraco (1): \"virada\", \"new year\", \"fim de ano\"\n6) Navio do Chitãozinho e Xororó\n- forte (3): \"navio ch&x\", \"navio chx\", \"ch&x\", \"chx\"\n- médio (2): \"chitaozinho e xororo\", \"chitãozinho e xororó\", \"chitaozinho\", \"chitãozinho\", \"xororo\", \"xororó\"\n- fraco (1): \"chitao\", \"chitão\", \"xoro\"\n7) Navio do João Gomes\n- forte (3): \"dominguinho em alto mar\", \"dominguinho em alto-mar\", \"cruzeiro dominguinho\", \"navio dominguinho\"\n- médio (2): \"joao gomes\", \"joão gomes\", \"dominguinho\"\n- fraco (1): \"joao\", \"joão\", \"gomes\", \"dominguinho\"\nEXEMPLO\nEntrada:\n[\n  {\"cruzeiroInteressado\":\"Navio do embaixador\"}\n]\nSaída:\n{\"atracao\":\"Navio do Gustavo Lima\"}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[656,2000],"id":"cc2a4fe0-eb08-45ba-b292-882f2428a055","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[656,2224],"id":"9ba0f9dd-6447-4f86-bab4-a6bd400a4c56","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"V6KXtm34XKIltVzc","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"atracao\": \"Navio do Bel Marques\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[784,2224],"id":"bce8cfff-a8d5-4795-8347-b7fe0079f8bc","name":"Structured Output Parser"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.atracao }}","rightValue":"Navio do Bel Marques","operator":{"type":"string","operation":"contains"},"id":"f1c72ff9-035b-47ee-9007-63403d822181"}],"combinator":"and"},"renameOutput":true,"outputKey":"Navio do Bel Marques"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"134fcd49-beb4-47a9-a19b-8c995488dbd7","leftValue":"={{ $json.output.atracao }}","rightValue":"Navio do Leonardo","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Navio do Leonardo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c63f45d2-e735-4637-8199-6ebd95df1d12","leftValue":"={{ $json.output.atracao }}","rightValue":"Navio da 89 Radio Rock","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Navio da 89 Radio Rock"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6857a4fb-a19b-47d1-88c6-101021ca247c","leftValue":"={{ $json.output.atracao }}","rightValue":"Navio do Gustavo Lima","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Navio do Gustavo Lima"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"04bc4b71-54c9-4651-a531-06d40c3d2683","leftValue":"={{ $json.output.atracao }}","rightValue":"Navio de Réveillon","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Navio de Réveillon"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3b1b788f-6a3b-496b-b956-f0a21a719db3","leftValue":"={{ $json.output.atracao }}","rightValue":"Navio do Chitãozinho e Xororó","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Navio do Chitãozinho e Xororó"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4fba862d-ba9c-47de-948f-eceb986bea8b","leftValue":"={{ $json.output.atracao }}","rightValue":"Navio do João Gomes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Navio do João Gomes"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1008,1904],"id":"41126d80-b7a6-46ab-9c3c-64d52bae29a7","name":"Switch"},{"parameters":{"errorMessage":"Navio não identificado"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1232,2480],"id":"6190e327-6f59-4cec-af41-a9623201900c","name":"Stop and Error"},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').item.json.telefone }}","messageType":"video","mediaLink":"={{ $('Diretorio3').item.json.video }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[2800,1904],"id":"52d7a879-9787-4599-9a9a-82a40fcf2e5e","name":"Send message","webhookId":"7baeb7f2-c3db-4f69-aab6-882e3460a9fc","retryOnFail":true,"waitBetweenTries":3000,"credentials":{"whatsAppApi":{"id":"tKuBajzyPd344LxI","name":"Whatsapp Account - Whastapp ADS"}}},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').item.json.telefone }}","messageType":"image","mediaLink":"={{ $('Diretorio3').item.json.banner }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1904,1904],"id":"369c70be-2438-4a37-9c2f-d4699c33af90","name":"Send message1","webhookId":"435f4398-008d-4c60-a81c-9267405d1ab5","credentials":{"whatsAppApi":{"id":"tKuBajzyPd344LxI","name":"Whatsapp Account - Whastapp ADS"}}},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').item.json.telefone }}","messageType":"image","mediaLink":"={{ $('Diretorio2').item.json.banner }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1904,1712],"id":"14774ade-a706-4323-829b-30af3bcd4154","name":"Send message2","webhookId":"9482eaa0-93af-4cc6-92b6-d64618ad26a6","credentials":{"whatsAppApi":{"id":"tKuBajzyPd344LxI","name":"Whatsapp Account - Whastapp ADS"}}},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').item.json.telefone }}","messageType":"image","mediaLink":"={{ $('Diretorio1').item.json.banner }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1904,1520],"id":"7015c9ea-b4f0-4967-88b0-22cb1db85b7b","name":"Send message3","webhookId":"4dd1ff9f-a182-4600-9886-8923d9c732ef","credentials":{"whatsAppApi":{"id":"tKuBajzyPd344LxI","name":"Whatsapp Account - Whastapp ADS"}}},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').item.json.telefone }}","messageType":"image","mediaLink":"={{ $('Diretorio').item.json.banner }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[2128,1328],"id":"df1c5bad-a193-4114-8bac-959b615ae063","name":"Send message4","webhookId":"34770275-fd1f-4330-8261-7210ba5a6930","credentials":{"whatsAppApi":{"id":"tKuBajzyPd344LxI","name":"Whatsapp Account - Whastapp ADS"}}},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').item.json.telefone }}","messageType":"image","mediaLink":"={{ $('Diretorio4').item.json.banner }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1904,2096],"id":"48b0d1f3-c219-4ed9-9378-c272d5e2d4a4","name":"Send message5","webhookId":"af615925-a5af-45b9-ac58-b40f1e3652fa","credentials":{"whatsAppApi":{"id":"tKuBajzyPd344LxI","name":"Whatsapp Account - Whastapp ADS"}}},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').item.json.telefone }}","messageType":"image","mediaLink":"={{ $('Diretorio5').item.json.banner }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1904,2288],"id":"93779c3b-d170-4a3e-bfa8-725b0e0cf78a","name":"Send message6","webhookId":"9427b1cd-503b-4652-9111-95c15d94dc1e","credentials":{"whatsAppApi":{"id":"tKuBajzyPd344LxI","name":"Whatsapp Account - Whastapp ADS"}}},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').item.json.telefone }}","messageType":"video","mediaLink":"={{ $('Diretorio').item.json.video }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[3024,1328],"id":"bcdbeccd-0965-4adb-8d25-46f4650a5b9d","name":"Send message7","webhookId":"7c2e9f91-9b07-4c82-9226-d28e033ce75b","retryOnFail":true,"waitBetweenTries":3000,"credentials":{"whatsAppApi":{"id":"tKuBajzyPd344LxI","name":"Whatsapp Account - Whastapp ADS"}}},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').item.json.telefone }}","messageType":"video","mediaLink":"={{ $('Diretorio1').item.json.video }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[2800,1520],"id":"9122137b-70a6-4e1a-8cbd-fbe33e03cd98","name":"Send message8","webhookId":"3f01df95-e575-42e9-a70b-5349cb55ca81","retryOnFail":true,"waitBetweenTries":3000,"credentials":{"whatsAppApi":{"id":"tKuBajzyPd344LxI","name":"Whatsapp Account - Whastapp ADS"}}},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').item.json.telefone }}","messageType":"video","mediaLink":"={{ $('Diretorio2').item.json.video }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[2800,1712],"id":"50d455f9-c772-4d33-9c47-d621888a87ff","name":"Send message9","webhookId":"ff597730-f77f-4f20-8c45-99a6e211d51e","retryOnFail":true,"waitBetweenTries":3000,"credentials":{"whatsAppApi":{"id":"tKuBajzyPd344LxI","name":"Whatsapp Account - Whastapp ADS"}}},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').item.json.telefone }}","messageType":"video","mediaLink":"={{ $('Diretorio4').item.json.video }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[2800,2096],"id":"3d7e0815-f544-4cb4-88e6-c6f6fe1e106a","name":"Send message10","webhookId":"79bacdf3-0bb8-463c-856c-3f55f1af6ac1","retryOnFail":true,"waitBetweenTries":3000,"credentials":{"whatsAppApi":{"id":"tKuBajzyPd344LxI","name":"Whatsapp Account - Whastapp ADS"}}},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').item.json.telefone }}","messageType":"video","mediaLink":"={{ $('Diretorio5').item.json.video }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[2800,2288],"id":"43436148-224b-4eb2-a8a0-ea5b09888068","name":"Send message11","webhookId":"d1e2bc06-e23e-424c-b48b-32f4dd42051a","retryOnFail":true,"waitBetweenTries":3000,"credentials":{"whatsAppApi":{"id":"tKuBajzyPd344LxI","name":"Whatsapp Account - Whastapp ADS"}}},{"parameters":{"assignments":{"assignments":[{"id":"aa83b47b-b46b-4512-9e46-77de41b57b83","name":"resposta_passo","value":"O video já foi enviado, não há necessidade de enviar novamente. Também não há necessidade de avisar que já foi enviado, apenas ignore.","type":"string"},{"id":"164f788d-8736-4164-9e7f-1e837ec52f13","name":"cruzeiroInteressado","value":"={{ $('start').item.json.cruzeiroInteressado }}","type":"string"},{"id":"c09cc61e-345a-4fa1-b119-67de190061ab","name":"telefone","value":"={{ $('start').item.json.telefone }}","type":"string"},{"id":"e598191d-4979-41c2-a743-ecee4921185c","name":"urlchatwoot","value":"={{ $('start').item.json.chatwooturl }}","type":"string"},{"id":"75c8cd70-1312-40e2-ae05-f53035661520","name":"chatwoottoken","value":"={{ $('start').item.json.chatwoottoken }}","type":"string"},{"id":"20423a51-e245-46f8-92ba-8cb65fa5996d","name":"account_id","value":"={{ $('start').item.json.accountid }}","type":"string"},{"id":"31421f7a-544f-4ad7-9f02-dfafa83ea3e6","name":"id_conversa_chatwoot","value":"={{ $('start').item.json.conversasionid }}","type":"string"},{"id":"41219f36-da3a-4fb9-b008-7e0bcc431b3f","name":"resposta","value":"={{ $('start').item.json.resposta }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3248,1904],"id":"e95f30d6-3b00-4143-8389-246de25b940c","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"11ac9679-0bed-4eec-bf43-c63686137575","name":"banner","value":"https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/material_marketing/NavioVumBoraProMar_Banner001.jpg","type":"string"},{"id":"80c524a2-18d5-43cf-bea5-d7d77b096f1e","name":"video","value":"https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/material_marketing/NavioVumBoraProMar_Video001.mp4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1456,1328],"id":"83292e1c-f58e-48e9-8f5d-310aba1ebd13","name":"Diretorio"},{"parameters":{"assignments":{"assignments":[{"id":"92fcc75f-91c0-430e-982e-34a1828978d2","name":"banner","value":"https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/material_marketing/NavioCabare_Banner001.jpg","type":"string"},{"id":"ab554ea7-c244-49ee-bc83-64f5f9bad8b4","name":"video","value":"https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/material_marketing/NavioCabare_Video001.mp4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,1520],"id":"2fa5cd58-ce1b-4f26-a615-18bc6f74cc69","name":"Diretorio1"},{"parameters":{"assignments":{"assignments":[{"id":"dd422ba8-1631-4598-b232-ce20a66839c1","name":"banner","value":"https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/material_marketing/Navio89RockBoat_Banner001.jpg","type":"string"},{"id":"818444f3-032d-4157-9aaa-015213e6a36a","name":"video","value":"https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/material_marketing/Navio89RockBoat_Video001.mp4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,1712],"id":"8b844f72-6feb-40b5-90e3-0050be35df68","name":"Diretorio2"},{"parameters":{"assignments":{"assignments":[{"id":"896c3fc4-33b1-41d7-b383-a3ff766ee064","name":"banner","value":"https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/material_marketing/NavioEmbaixadorEmAltoMar_Banner01.jpg","type":"string"},{"id":"03ba559e-bd21-4036-a7fd-be180723174c","name":"video","value":"https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/material_marketing/NavioEmbaixadorEmAltoMar_Video001.mp4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,1904],"id":"d8f9c33a-392f-4697-96be-f2cc7c4941e5","name":"Diretorio3"},{"parameters":{"assignments":{"assignments":[{"id":"5262a923-3a07-41bc-b04f-a94c88065247","name":"banner","value":"https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/material_marketing/NavioReveillonEmAltoMar_Banner01.jpg","type":"string"},{"id":"328134d7-f321-4b96-8d38-e16ab9057c0a","name":"video","value":"https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/material_marketing/NavioReveillonEmAltoMar_Video001.mp4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,2096],"id":"ba05405b-d568-4f74-a50c-177dbdd162d3","name":"Diretorio4"},{"parameters":{"assignments":{"assignments":[{"id":"59d58973-b3ec-4b61-9297-8c0862f558fc","name":"banner","value":"https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/material_marketing/NavioChitaozinhoeXororoCh&X_Banner001.jpg","type":"string"},{"id":"50571506-8a59-4a0c-a8ba-5cb68f5a267e","name":"video","value":"https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/material_marketing/NavioChitaozinhoeXororoCh&X_Video001.mp4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,2288],"id":"a7153577-8092-442d-ab30-d55b2298fdf6","name":"Diretorio5"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2128,2672],"id":"319b912d-c0a6-47c7-8413-8ed61196b3b3","name":"Wait6","webhookId":"d6681e7d-08e0-4f49-be64-544ffc03a770"},{"parameters":{"url":"={{ $('Diretorio6').item.json.banner }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1456,2672],"id":"b9d0ae4a-148d-4392-aad0-5453780c5abd","name":"HTTP Request24"},{"parameters":{"method":"POST","url":"={{ $('start').item.json.chatwooturl }}/api/v1/accounts/{{ $('start').item.json.accountid }}/conversations/{{ $('start').item.json.conversasionid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').item.json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1680,2672],"id":"a85c9582-9486-4413-b06c-5c1407765f42","name":"HTTP Request25"},{"parameters":{"url":"={{ $('Diretorio6').item.json.video }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2352,2672],"id":"a661fd28-25b8-4859-aed5-441bea98ad3c","name":"HTTP Request26"},{"parameters":{"method":"POST","url":"={{ $('start').item.json.chatwooturl }}/api/v1/accounts/{{ $('start').item.json.accountid }}/conversations/{{ $('start').item.json.conversasionid }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('start').item.json.chatwoottoken }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"content"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2576,2672],"id":"c15b0050-db4a-4d0e-87df-ffc0068d73d4","name":"HTTP Request27"},{"parameters":{"assignments":{"assignments":[{"id":"56e66223-77ef-4453-8397-3c70c1c53560","name":"resposta","value":"Foi enviado ao usuario o video e o banner. Siga com os próximos passos.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3024,2672],"id":"4027b1d5-c19c-4b03-a34d-b36573227220","name":"Resposta"},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').item.json.telefone }}","messageType":"image","mediaLink":"={{ $('Diretorio6').item.json.banner }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1904,2672],"id":"f2db885d-a18b-491b-808e-df0a430d0250","name":"Send message12","webhookId":"9427b1cd-503b-4652-9111-95c15d94dc1e","credentials":{"whatsAppApi":{"id":"tKuBajzyPd344LxI","name":"Whatsapp Account - Whastapp ADS"}}},{"parameters":{"operation":"send","phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('start').item.json.telefone }}","messageType":"video","mediaLink":"={{ $('Diretorio6').item.json.video }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[2800,2672],"id":"9bfc23fa-6df9-4898-8bb0-3e4f48f23933","name":"Send message13","webhookId":"d1e2bc06-e23e-424c-b48b-32f4dd42051a","retryOnFail":true,"waitBetweenTries":3000,"credentials":{"whatsAppApi":{"id":"tKuBajzyPd344LxI","name":"Whatsapp Account - Whastapp ADS"}}},{"parameters":{"assignments":{"assignments":[{"id":"59d58973-b3ec-4b61-9297-8c0862f558fc","name":"banner","value":"https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/material_marketing/DominguinhoEmAltoMar_Banner001%20(1).jpg","type":"string"},{"id":"50571506-8a59-4a0c-a8ba-5cb68f5a267e","name":"video","value":"https://mmuelcthtgguhjdrggyh.supabase.co/storage/v1/object/public/Demo Events Co_bucket/material_marketing/DominguinhoEmAltoMar_Video001.mp4","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,2672],"id":"930dedfb-9b42-4181-8b87-04c837df1e06","name":"Diretorio6"}],"connections":{"start":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"HTTP Request10","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"HTTP Request14","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Send message4","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Send message7","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Send message3","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"Send message8","type":"main","index":0}]]},"Resposta1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Request8":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"Send message2","type":"main","index":0}]]},"HTTP Request10":{"main":[[{"node":"HTTP Request11","type":"main","index":0}]]},"HTTP Request11":{"main":[[{"node":"Send message9","type":"main","index":0}]]},"Resposta2":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Request12":{"main":[[{"node":"HTTP Request13","type":"main","index":0}]]},"HTTP Request13":{"main":[[{"node":"Send message1","type":"main","index":0}]]},"HTTP Request14":{"main":[[{"node":"HTTP Request15","type":"main","index":0}]]},"HTTP Request15":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Resposta3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"HTTP Request18","type":"main","index":0}]]},"HTTP Request16":{"main":[[{"node":"HTTP Request17","type":"main","index":0}]]},"HTTP Request17":{"main":[[{"node":"Send message5","type":"main","index":0}]]},"HTTP Request18":{"main":[[{"node":"HTTP Request19","type":"main","index":0}]]},"HTTP Request19":{"main":[[{"node":"Send message10","type":"main","index":0}]]},"Resposta4":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"HTTP Request22","type":"main","index":0}]]},"HTTP Request20":{"main":[[{"node":"HTTP Request21","type":"main","index":0}]]},"HTTP Request21":{"main":[[{"node":"Send message6","type":"main","index":0}]]},"HTTP Request22":{"main":[[{"node":"HTTP Request23","type":"main","index":0}]]},"HTTP Request23":{"main":[[{"node":"Send message11","type":"main","index":0}]]},"Resposta5":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Switch","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Switch":{"main":[[{"node":"Diretorio","type":"main","index":0}],[{"node":"Diretorio1","type":"main","index":0}],[{"node":"Diretorio2","type":"main","index":0}],[{"node":"Diretorio3","type":"main","index":0}],[{"node":"Diretorio4","type":"main","index":0}],[{"node":"Diretorio5","type":"main","index":0}],[{"node":"Diretorio6","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Send message":{"main":[[{"node":"Resposta3","type":"main","index":0}]]},"Send message1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Send message2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Send message3":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Send message4":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Send message5":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Send message6":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"Send message7":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Send message8":{"main":[[{"node":"Resposta1","type":"main","index":0}]]},"Send message9":{"main":[[{"node":"Resposta2","type":"main","index":0}]]},"Send message10":{"main":[[{"node":"Resposta4","type":"main","index":0}]]},"Send message11":{"main":[[{"node":"Resposta5","type":"main","index":0}]]},"Diretorio":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Diretorio1":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"Diretorio2":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]},"Diretorio3":{"main":[[{"node":"HTTP Request12","type":"main","index":0}]]},"Diretorio4":{"main":[[{"node":"HTTP Request16","type":"main","index":0}]]},"Diretorio5":{"main":[[{"node":"HTTP Request20","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"HTTP Request26","type":"main","index":0}]]},"HTTP Request24":{"main":[[{"node":"HTTP Request25","type":"main","index":0}]]},"HTTP Request25":{"main":[[{"node":"Send message12","type":"main","index":0}]]},"HTTP Request26":{"main":[[{"node":"HTTP Request27","type":"main","index":0}]]},"HTTP Request27":{"main":[[{"node":"Send message13","type":"main","index":0}]]},"Resposta":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Send message12":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"Send message13":{"main":[[{"node":"Resposta","type":"main","index":0}]]},"Diretorio6":{"main":[[{"node":"HTTP Request24","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"start":[{"json":{"accountid":"1"}}]},"versionId":"7a324889-f1ef-4079-898b-883af65ed2bb","activeVersionId":null,"versionCounter":199,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-30T21:13:33.079Z","createdAt":"2026-01-30T21:13:33.079Z","role":"workflow:owner","workflowId":"ttRqnBDs8E7WRLSwkgXdV","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}