workflows_extracted/UQ4E2v2s1sG9_x42QgQmw.json
{"updatedAt":"2026-04-18T15:34:05.701Z","createdAt":"2026-01-30T18:43:11.237Z","id":"UQ4E2v2s1sG9_x42QgQmw","name":"RAG","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-192,224],"id":"b2340656-5231-489b-8e4a-29291261f6b3","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{"batchSize":100,"stripNewLines":true}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1312,576],"id":"6b6e4d76-53a7-43f5-b34a-6f35d159ca67","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"V80Z0Ht4U1FeCavj","name":"OpenAi account Teste"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Split Out2').item.json.text }}","options":{"metadata":{"metadataValues":[{"name":"metadata","value":"={{ $json.metadata }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[784,560],"id":"6cbcebf9-7768-450d-9247-81e2899b0d5f","name":"Default Data Loader"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[208,208],"id":"3fd8500e-9c46-4207-94e3-965fb0825e8c","name":"Split Out2"},{"parameters":{"mode":"insert","tableName":"cruzeiros","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[416,208],"id":"601ecc99-5bb3-4fb0-9375-f162f51f1605","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"cruzeiros","mode":"list","cachedResultName":"cruzeiros"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[96,496],"id":"10a8cf93-bf3d-484d-b702-0b90b41a4b00","name":"Select rows from a table","credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Split Out2":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{"data":[{"text":"Cruzeiro: Navio VumBora pro Mar\nData/Noites: 20 nov/26 - 03 noites\nEmbarque: Santos\nNavio: MSC Divina\nAtrações: Bell Marques, Xand Avião, Durval Lelys, Timbalada, Xandy Harmonia, É o Tchan, Rafa e Pipo Marques\nSlug: navio-vumbora-pro-mar\nDescrição: A energia que nasce na avenida encontrando o oceano. Bell Marques no comando de 3 apresentações exclusivas a bordo do MSC Divina, pela primeira vez navegando no Brasil. De 20 a 23 de novembro de 2026, sol, mar, gente feliz e aquela vibração que só o Vumbora Pro Mar tem.","metadata":{"slug":"navio-vumbora-pro-mar","cruise_name":"Navio VumBora pro Mar","date_nights":"20 nov/26 - 03 noites","embark":"Santos","attractions":["Bell Marques","Xand Avião","Durval Lelys","Timbalada","Xandy Harmonia","É o Tchan","Rafa e Pipo Marques"],"display_name":"Cruzeiro Navio VumBora pro Mar","departure_date":"2026-11-20","nights":3,"return_date":"2026-11-23","embark_state":"SP","embark_country":"BR","theme":"axé","ship":"MSC Divina","normalized_artists":["Bell Marques","Xand Avião","Durval Lelys","Timbalada","Xandy Harmonia","É o Tchan","Rafa e Pipo Marques"],"headliners":["Bell Marques","Xand Avião","Durval Lelys"],"search_keywords":["axé","Navio VumBora pro Mar","Vumbora","Bell Marques","Xand Avião","Durval Lelys","Santos","novembro 2026"]}},{"text":"Cruzeiro: Navio Cabaré\nData/Noites: 23 nov/26 - 03 noites\nEmbarque: Santos\nNavio: MSC Divina\nAtrações: Leonardo, Amado Batista, Natanzinho Lima, Maiara & Maraisa, Alexandre Pires, César Menotti & Fabiano, Limão com Mel\nSlug: navio-cabare\nDescrição: 5ª edição do maior Cabaré do mundo em alto-mar. 4 dias de cachaça e muito modão a bordo do MSC Divina. Leonardo, Amado Batista, Maiara & Maraisa e muito mais comandam a festa de 23 a 26 de novembro de 2026, saindo de Santos/SP.","metadata":{"slug":"navio-cabare","cruise_name":"Navio Cabaré","date_nights":"23 nov/26 - 03 noites","embark":"Santos","attractions":["Leonardo","Amado Batista","Natanzinho Lima","Maiara & Maraisa","Alexandre Pires","César Menotti & Fabiano","Limão com Mel"],"display_name":"Cruzeiro Navio Cabaré","departure_date":"2026-11-23","nights":3,"return_date":"2026-11-26","embark_state":"SP","embark_country":"BR","theme":"sertanejo","ship":"MSC Divina","normalized_artists":["Leonardo","Amado Batista","Natanzinho Lima","Maiara & Maraisa","Alexandre Pires","César Menotti & Fabiano","Limão com Mel"],"headliners":["Leonardo","Amado Batista","Maiara & Maraisa"],"search_keywords":["sertanejo","Navio Cabaré","Cabaré","Leonardo","Amado Batista","Maiara & Maraisa","Natanzinho Lima","Alexandre Pires","César Menotti & Fabiano","Limão com Mel","modão","Santos","novembro 2026"]}},{"text":"Cruzeiro: Navio 89 Rock Boat\nData/Noites: 26 nov/26 - 03 noites\nEmbarque: Santos\nNavio: MSC Divina\nAtrações: Biquini Cavadão, Blitz, Capital Inicial, CPM 22, Di Ferrero, Jota Quest, Lobão, Maneva, Nando Reis, Os Paralamas do Sucesso, Raimundos, Samuel Rosa, Detonautas\nSlug: navio-89-rock-boat\nDescrição: O maior festival de Rock'n'Roll em alto-mar do mundo. Edição histórica celebrando 40 anos da 89 FM. Capital Inicial, Os Paralamas do Sucesso, Raimundos e muito mais comandam 3 noites de rock a bordo do MSC Divina, de 26 a 29 de novembro de 2026.","metadata":{"slug":"navio-89-rock-boat","cruise_name":"Navio 89 Rock Boat","date_nights":"26 nov/26 - 03 noites","embark":"Santos","attractions":["Biquini Cavadão","Blitz","Capital Inicial","CPM 22","Di Ferrero","Jota Quest","Lobão","Maneva","Nando Reis","Os Paralamas do Sucesso","Raimundos","Samuel Rosa","Detonautas"],"display_name":"Cruzeiro Navio 89 Rock Boat","departure_date":"2026-11-26","nights":3,"return_date":"2026-11-29","embark_state":"SP","embark_country":"BR","theme":"rock","ship":"MSC Divina","normalized_artists":["Biquini Cavadão","Blitz","Capital Inicial","CPM 22","Di Ferrero","Jota Quest","Lobão","Maneva","Nando Reis","Os Paralamas do Sucesso","Raimundos","Samuel Rosa","Detonautas"],"headliners":["Capital Inicial","Os Paralamas do Sucesso","Raimundos"],"search_keywords":["rock","Navio 89 Rock Boat","89 Rock Boat","Rock Boat","Capital Inicial","Paralamas","Raimundos","Biquini Cavadão","CPM 22","Di Ferrero","Jota Quest","Lobão","Maneva","Nando Reis","Samuel Rosa","Detonautas","Blitz","89 FM","Santos","novembro 2026"]}},{"text":"Cruzeiro: Navio Ch&X\nData/Noites: 03 dez/26 - 03 noites\nEmbarque: Santos\nNavio: MSC Divina\nAtrações: Chitãozinho & Xororó, Roupa Nova, Almir Sater, Victor e Leo, Alexandre Pires, Rio Negro e Solimões, João Bosco e Vinicius\nSlug: navio-chx\nDescrição: Os ícones do sertanejo Chitãozinho & Xororó convidam para uma jornada única a bordo do MSC Divina. De 03 a 06 de dezembro de 2026, 3 noites de música, emoção e encontros inesquecíveis em alto-mar.","metadata":{"slug":"navio-chx","cruise_name":"Navio Ch&X","date_nights":"03 dez/26 - 03 noites","embark":"Santos","attractions":["Chitãozinho & Xororó","Roupa Nova","Almir Sater","Victor e Leo","Alexandre Pires","Rio Negro e Solimões","João Bosco e Vinicius"],"display_name":"Cruzeiro Navio Ch&X","departure_date":"2026-12-03","nights":3,"return_date":"2026-12-06","embark_state":"SP","embark_country":"BR","theme":"sertanejo","ship":"MSC Divina","normalized_artists":["Chitãozinho & Xororó","Roupa Nova","Almir Sater","Victor e Leo","Alexandre Pires","Rio Negro e Solimões","João Bosco e Vinicius"],"headliners":["Chitãozinho & Xororó","Roupa Nova","Victor e Leo"],"search_keywords":["sertanejo","Navio Ch&X","ChX","Chitãozinho & Xororó","Chitãozinho e Xororó","Roupa Nova","Almir Sater","Victor e Leo","Alexandre Pires","Rio Negro e Solimões","João Bosco e Vinicius","Santos","dezembro 2026"]}},{"text":"Cruzeiro: Navio Embaixador em Alto Mar\nData/Noites: 09 dez/26 - 03 noites\nEmbarque: Santos\nNavio: MSC Divina\nAtrações: Gusttavo Lima, Maiara e Maraísa, DJ Dennis, Panda, Diego e Victor Hugo, Rio Negro e Solimões, Zé Elias, DJ Henrico\nSlug: navio-embaixador-em-alto-mar\nDescrição: O Embaixador chegou! Gusttavo Lima comanda 4 dias de experiências exclusivas a bordo do MSC Divina. De 09 a 12 de dezembro de 2026, o maior fenômeno do sertanejo atual leva sua energia e seus hits para o alto-mar.","metadata":{"slug":"navio-embaixador-em-alto-mar","cruise_name":"Navio Embaixador em Alto Mar","date_nights":"09 dez/26 - 03 noites","embark":"Santos","attractions":["Gusttavo Lima","Maiara e Maraísa","DJ Dennis","Panda","Diego e Victor Hugo","Rio Negro e Solimões","Zé Elias","DJ Henrico"],"display_name":"Cruzeiro Navio Embaixador em Alto Mar","departure_date":"2026-12-09","nights":3,"return_date":"2026-12-12","embark_state":"SP","embark_country":"BR","theme":"sertanejo","ship":"MSC Divina","normalized_artists":["Gusttavo Lima","Maiara e Maraísa","DJ Dennis","Panda","Diego e Victor Hugo","Rio Negro e Solimões","Zé Elias","DJ Henrico"],"headliners":["Gusttavo Lima","Maiara e Maraísa","DJ Dennis"],"search_keywords":["sertanejo","Navio Embaixador em Alto Mar","Embaixador","Gusttavo Lima","Maiara e Maraísa","DJ Dennis","Panda","Diego e Victor Hugo","Rio Negro e Solimões","Zé Elias","DJ Henrico","Santos","dezembro 2026"]}},{"text":"Cruzeiro: Navio Dominguinho em Alto Mar\nData/Noites: 12 dez/26 - 03 noites\nEmbarque: Santos\nNavio: MSC Divina\nAtrações: João Gomes, Mestrinho, Jota.Pê, Ney Matogrosso, Elba Ramalho, Seu Jorge, Saulo Fernandes, Vanessa da Mata, Os Paralamas, Gilsons, além das participações especiais de Mariana Aydar e Bruna Black\nSlug: navio-dominguinho-em-alto-mar\nDescrição: Um oceano de música, poesia e brasilidade em forma de domingo. O Dominguinho nasceu do encontro entre João Gomes, Mestrinho e Jota.Pê com a música brasileira no seu tempo mais bonito: o tempo da pausa, do afeto e da simplicidade. De 12 a 15 de dezembro, a bordo do MSC Divina, o mar será cenário para viver a música no balanço das ondas, com sol, encontros e histórias que só um domingo sabe contar. Shows de Ney Matogrosso, Elba Ramalho, Seu Jorge, Saulo Fernandes, Vanessa da Mata, Os Paralamas e Gilsons, além das participações especiais de Mariana Aydar e Bruna Black! Não é sobre pressa, é sobre presença. Não é sobre espetáculo, é sobre sentir.","metadata":{"slug":"navio-dominguinho-em-alto-mar","cruise_name":"Navio Dominguinho em Alto Mar","date_nights":"12 dez/26 - 03 noites","embark":"Santos","attractions":["João Gomes","Mestrinho","Jota.Pê","Ney Matogrosso","Elba Ramalho","Seu Jorge","Saulo Fernandes","Vanessa da Mata","Os Paralamas","Gilsons","Mariana Aydar","Bruna Black"],"display_name":"Cruzeiro Navio Dominguinho em Alto Mar","departure_date":"2026-12-12","nights":3,"return_date":"2026-12-15","embark_state":"SP","embark_country":"BR","theme":"forró","ship":"MSC Divina","normalized_artists":["João Gomes","Mestrinho","Jota.Pê","Ney Matogrosso","Elba Ramalho","Seu Jorge","Saulo Fernandes","Vanessa da Mata","Os Paralamas","Gilsons","Mariana Aydar","Bruna Black"],"headliners":["João Gomes","Mestrinho","Jota.Pê"],"search_keywords":["dominguinho","João Gomes","Mestrinho","Jota.Pê","MPB","Navio Dominguinho em Alto Mar","Ney Matogrosso","Elba Ramalho","Seu Jorge","Saulo Fernandes","Vanessa da Mata","Os Paralamas","Gilsons","Mariana Aydar","Bruna Black","Santos","dezembro 2026"]}},{"text":"Cruzeiro: Navio Réveillon em Alto Mar\nData/Noites: 29 dez/26 - 04 noites\nEmbarque: Santos\nNavio: MSC Divina\nAtrações: Thiaguinho, Wesley Safadão, Ana Castela, Zé Neto e Cristiano, Alok, Jota Quest, É o Tchan\nSlug: navio-reveillon-em-alto-mar\nDescrição: O Maior Réveillon do Brasil em alto-mar. De 29/12/2026 a 02/01/2027, o MSC Divina será palco da maior virada de ano sobre as águas. 4 noites de celebração, shows e uma experiência única para começar 2027 navegando. Assista aos fogos de Copacabana de camarote, direto do navio!","metadata":{"slug":"navio-reveillon-em-alto-mar","cruise_name":"Navio Réveillon em Alto Mar","date_nights":"29 dez/26 - 04 noites","embark":"Santos","attractions":["Thiaguinho","Wesley Safadão","Ana Castela","Zé Neto e Cristiano","Alok","Jota Quest","É o Tchan"],"display_name":"Cruzeiro Navio Réveillon em Alto Mar","departure_date":"2026-12-29","nights":4,"return_date":"2027-01-02","embark_state":"SP","embark_country":"BR","theme":"réveillon","ship":"MSC Divina","normalized_artists":["Thiaguinho","Wesley Safadão","Ana Castela","Zé Neto e Cristiano","Alok","Jota Quest","É o Tchan"],"headliners":["Thiaguinho","Wesley Safadão","Ana Castela"],"search_keywords":["réveillon","ano novo","Navio Réveillon em Alto Mar","Reveillon","virada","Thiaguinho","Wesley Safadão","Ana Castela","Zé Neto e Cristiano","Alok","Jota Quest","É o Tchan","Santos","dezembro 2026","janeiro 2027"]}},{"text":"Cruzeiro: Navio Daniel O Amor Que Não Tem Fim\nData/Noites: 08 jan/27 - 03 noites\nEmbarque: Santos\nNavio: MSC Divina\nAtrações: 2 apresentações Daniel, Simone Mendes, Fagner, Zé Neto e Cristiano, César Menotti e Fabiano, Guilherme e Santiago, Lara (Tantinho)\nSlug: navio-daniel\nDescrição: O Amor Que Não Tem Fim. De 08 a 11 de janeiro de 2027, o oceano será palco de uma experiência dedicada ao amor e a música que atravessa gerações. O Navio Daniel chega à sua terceira edição como um encontro especial entre música, histórias e sentimentos! Durante três dias em alto-mar, fãs de todo o Brasil terão a oportunidade de viver momentos únicos ao lado de Daniel, a voz que marcou a história da música! Tudo isso a bordo de um dos mais sofisticados transatlânticos do mundo, o MSC Divina. O projeto reúne conforto, gastronomia, entretenimento e uma programação especial, criando o cenário perfeito para celebrar aquilo que realmente permanece. Mais do que um festival em alto-mar, o Navio Daniel é um convite para cantar, reviver memórias e criar histórias ao som de músicas que fazem parte da vida de gerações.","metadata":{"slug":"navio-daniel","cruise_name":"Navio Daniel O Amor Que Não Tem Fim","date_nights":"08 jan/27 - 03 noites","embark":"Santos","attractions":["Daniel","Simone Mendes","Fagner","Zé Neto e Cristiano","César Menotti e Fabiano","Guilherme e Santiago","Lara (Tantinho)"],"display_name":"Cruzeiro Navio Daniel O Amor Que Não Tem Fim","departure_date":"2027-01-08","nights":3,"return_date":"2027-01-11","embark_state":"SP","embark_country":"BR","theme":"sertanejo / romântico","ship":"MSC Divina","normalized_artists":["Daniel","Simone Mendes","Fagner","Zé Neto e Cristiano","César Menotti e Fabiano","Guilherme e Santiago","Lara (Tantinho)"],"headliners":["Daniel","Simone Mendes","Fagner"],"search_keywords":["sertanejo","romântico","Navio Daniel","Daniel","Simone Mendes","Fagner","Zé Neto e Cristiano","César Menotti e Fabiano","Guilherme e Santiago","Lara","Tantinho","Santos","janeiro 2027"]}},{"text":"Cruzeiro: Navio Wesley Safadão WS On Board\nData/Noites: 20 jan/27 - 03 noites\nEmbarque: Santos\nNavio: MSC Divina\nAtrações: Wesley Safadão, Tamo Junto (Wesley Safadão e Xand Avião), Zé Neto e Cristiano, Belo, Natanzinho Lima, Rey Vaqueiro, Taty Girl, Zé Vaqueiro, Seu Desejo\nSlug: navio-ws-on-board\nDescrição: O Navio Mais Animado do Mundo! O WS On Board é uma experiência criada para quem quer viver a música com intensidade! De 20 a 23 de janeiro de 2027, um dos navios mais impressionantes do mundo será palco de uma experiência única: o MSC Divina, pela primeira vez navegando no Brasil, recebe o festival que transformou o oceano no território da festa. Durante quatro dias, 72 horas de festa sem limites em alto-mar. Shows, encontros, celebração e momentos únicos como amanhecer com Safadão, vivendo uma experiência inesquecível. São dias em que o navio inteiro respira música, alegria e convivência. O Muído Vai Ser Grande!","metadata":{"slug":"navio-ws-on-board","cruise_name":"Navio Wesley Safadão WS On Board","date_nights":"20 jan/27 - 03 noites","embark":"Santos","attractions":["Wesley Safadão","Tamo Junto (Wesley Safadão e Xand Avião)","Zé Neto e Cristiano","Belo","Natanzinho Lima","Rey Vaqueiro","Taty Girl","Zé Vaqueiro","Seu Desejo"],"display_name":"Cruzeiro Navio Wesley Safadão WS On Board","departure_date":"2027-01-20","nights":3,"return_date":"2027-01-23","embark_state":"SP","embark_country":"BR","theme":"forró / festa","ship":"MSC Divina","normalized_artists":["Wesley Safadão","Tamo Junto (Wesley Safadão e Xand Avião)","Zé Neto e Cristiano","Belo","Natanzinho Lima","Rey Vaqueiro","Taty Girl","Zé Vaqueiro","Seu Desejo"],"headliners":["Wesley Safadão","Zé Neto e Cristiano","Belo"],"search_keywords":["forró","festa","Navio Wesley Safadão","WS On Board","Wesley Safadão","Safadão","Zé Neto e Cristiano","Belo","Natanzinho Lima","Rey Vaqueiro","Taty Girl","Zé Vaqueiro","Seu Desejo","Santos","janeiro 2027"]}}],"_metadata":{"temporada":"2026/27","organizador":"Demo Events Co","data_atualizacao":"18/04/2026","total_registros":9,"cruzeiros_disponiveis":9,"observacao_precos":"Valores não disponíveis nesta base. Para consultar preços, direcionar o lead para um vendedor.","info_busca":{"nomes_oficiais_e_variacoes":{"Navio VumBora pro Mar":{"como_buscar":["Navio VumBora pro Mar","Vumbora","VumBora","Bell Marques","cruzeiro axé","cruzeiro Bell Marques"],"artista_principal":"Bell Marques","data_embarque":"20/11/2026","navio":"MSC Divina"},"Navio Cabaré":{"como_buscar":["Navio Cabaré","Cabaré","cruzeiro Leonardo","cruzeiro sertanejo","modão","cruzeiro Amado Batista","cruzeiro Natanzinho Lima","cruzeiro Alexandre Pires"],"artista_principal":"Leonardo","data_embarque":"23/11/2026","navio":"MSC Divina"},"Navio 89 Rock Boat":{"como_buscar":["Navio 89 Rock Boat","89 Rock Boat","Rock Boat","cruzeiro rock","89 FM","Capital Inicial","Paralamas","Raimundos","Biquini Cavadão","CPM 22","Nando Reis","Detonautas"],"artista_principal":"Capital Inicial","data_embarque":"26/11/2026","navio":"MSC Divina"},"Navio Ch&X":{"como_buscar":["Navio Ch&X","ChX","Chitãozinho e Xororó","Chitãozinho & Xororó","cruzeiro Chitãozinho","maior dupla sertaneja","cruzeiro Roupa Nova","cruzeiro Victor e Leo"],"artista_principal":"Chitãozinho & Xororó","data_embarque":"03/12/2026","navio":"MSC Divina"},"Navio Embaixador em Alto Mar":{"como_buscar":["Navio Embaixador em Alto Mar","Embaixador","Gusttavo Lima","cruzeiro Gusttavo Lima","cruzeiro Embaixador","cruzeiro DJ Dennis","cruzeiro Diego e Victor Hugo"],"artista_principal":"Gusttavo Lima","data_embarque":"09/12/2026","navio":"MSC Divina"},"Navio Dominguinho em Alto Mar":{"como_buscar":["Navio Dominguinho em Alto Mar","Dominguinho","João Gomes","cruzeiro João Gomes","cruzeiro Dominguinho","Mestrinho","Jota.Pê","navio do João Gomes"],"artista_principal":"João Gomes","data_embarque":"12/12/2026","navio":"MSC Divina"},"Navio Réveillon em Alto Mar":{"como_buscar":["Navio Réveillon em Alto Mar","Réveillon","Reveillon","Ano Novo","cruzeiro Ano Novo","cruzeiro Réveillon","virada de ano","cruzeiro Thiaguinho","cruzeiro Ana Castela","cruzeiro Alok"],"artista_principal":"Thiaguinho","data_embarque":"29/12/2026","navio":"MSC Divina"},"Navio Daniel O Amor Que Não Tem Fim":{"como_buscar":["Navio Daniel","cruzeiro Daniel","O Amor Que Não Tem Fim","Daniel cantor","cruzeiro Simone Mendes","cruzeiro Fagner"],"artista_principal":"Daniel","data_embarque":"08/01/2027","navio":"MSC Divina"},"Navio Wesley Safadão WS On Board":{"como_buscar":["Navio Wesley Safadão","WS On Board","Wesley Safadão","Safadão","cruzeiro Safadão","cruzeiro Wesley Safadão","Navio Mais Animado do Mundo","O Muído Vai Ser Grande"],"artista_principal":"Wesley Safadão","data_embarque":"20/01/2027","navio":"MSC Divina"}}}}}}]},"versionId":"a579d53e-986b-4592-82f7-fc134b1f55ef","activeVersionId":null,"versionCounter":200,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-30T18:43:11.237Z","createdAt":"2026-01-30T18:43:11.237Z","role":"workflow:owner","workflowId":"UQ4E2v2s1sG9_x42QgQmw","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}