workflows_extracted/V3Ik4bcE312hlS0f_LBt8.json
{"updatedAt":"2026-03-17T23:06:27.391Z","createdAt":"2026-02-28T18:59:57.486Z","id":"V3Ik4bcE312hlS0f_LBt8","name":"My workflow 5","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,224],"id":"2d9c2311-530c-4a3d-b493-e2c3d1b644b0","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"eb1e792f-093c-415f-bb8d-047a37bf5300","name":"supabase_url","value":"1XQMQD29y9TX_bVsG4JVF6rC3G9ShWZOO","type":"string"},{"id":"e2d7ab9f-6664-4121-aefc-6f87954256b1","name":"collection","value":"Demo Events Co_kb","type":"string"},{"id":"4e2be745-6f2d-4a69-bc7a-caa14bf0d17c","name":"bucket_name","value":"Demo Events Co_bucket","type":"string"},{"id":"d29475f0-a88d-408f-93c4-78ed75233585","name":"rag_prefix","value":"rag","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,224],"id":"694f99a6-cdf6-46aa-8e13-b0ca805262cc","name":"Edit Fields"},{"parameters":{"operation":"getAll","bucketName":"={{ $json.bucket_name }}","returnAll":true,"options":{"folderKey":"rag/"}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[448,224],"id":"96d65d35-e363-4b27-b444-e4bba52ca13c","name":"Get many files","credentials":{"s3":{"id":"9nj6hYGLN4jzm44a","name":"S3 account 2"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2000,160],"id":"8fa8d3ba-d57e-48ae-aa3c-f15d3c47460b","name":"Wait","webhookId":"a506d0fa-3cdf-4cfe-9b51-f0f1a3a684ec"},{"parameters":{"jsCode":"// Compara ETag do S3 com o que está no banco local\nconst file = $('Split In Batches').item.json;\nconst stateRows = $input.all();\nconst state = stateRows[0]?.json;\n\nlet shouldProcess = false;\nlet reason = '';\n\nif (!state || !state.file_key) {\n  shouldProcess = true;\n  reason = 'ARQUIVO_NOVO';\n} else if (state.etag !== file.etag && file.etag !== '') {\n  shouldProcess = true;\n  reason = `ETAG_MUDOU: ${state.etag} → ${file.etag}`;\n} else if (state.status === 'error') {\n  shouldProcess = true;\n  reason = 'RETRY_APOS_ERRO';\n} else if (state.status === 'processing') {\n  // Considera travado se processando há mais de 30 minutos\n  const lastAt = new Date(state.last_ingested_at).getTime();\n  const agora = Date.now();\n  if (agora - lastAt > 30 * 60 * 1000) {\n    shouldProcess = true;\n    reason = 'PROCESSING_TRAVADO';\n  }\n}\n\nconsole.log(`[${file.file_name}] Processar: ${shouldProcess} | Motivo: ${reason || 'sem mudanças'}`);\n\nreturn [{\n  json: {\n    ...file,\n    should_process: shouldProcess,\n    reason\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,80],"id":"4b04ed4c-da23-466f-8660-4f863c317502","name":"Code: Decidir se Processa"},{"parameters":{"operation":"executeQuery","query":"SELECT file_key, etag, status, last_ingested_at, chunk_count\nFROM kb_ingest_state\nWHERE file_key = $1","options":{"queryReplacement":"={{ $json.file_key }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1120,80],"id":"ecae078b-6688-4fd2-9163-3cd54f90f4f4","name":"Postgres: Verificar Estado do Arquivo","alwaysOutputData":true,"credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}}},{"parameters":{"jsCode":"// Filtra apenas tipos suportados e monta metadados padronizados\nconst items = $input.all();\nconst EXTENSOES = ['.pdf', '.txt', '.docx', '.doc'];\n\nconst files = items\n  .flatMap(item => {\n    // A API retorna array direto ou dentro de data\n    const arr = Array.isArray(item.json) ? item.json : [item.json];\n    return arr;\n  })\n  .filter(file => {\n    if (!file || !file.Key) return false;\n    // Ignora \"pastas\" (sem metadata ou metadata.size = 0 e sem ponto no nome)\n    if (!file.metadata && !file.Key.includes('.')) return false;\n    const ext = file.Key.toLowerCase().slice(file.Key.lastIndexOf('.'));\n    return EXTENSOES.includes(ext);\n  })\n  .map(file => {\n    const ext = file.Key.toLowerCase().slice(file.Key.lastIndexOf('.'));\n    const mimeMap = {\n      '.pdf': 'application/pdf',\n      '.txt': 'text/plain',\n      '.docx': 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n      '.doc': 'application/msword'\n    };\n    \n    return {\n      file_key: `${file.Key}`,     // chave completa no bucket\n      file_name: file.Key.replace('rag/',''),              // só o nome\n      mime_type: mimeMap[ext] || 'application/octet-stream',\n      etag: (file.ETag || file.etag || '').replace(/\"/g, ''),\n      size_bytes: file.Size || 0,\n      last_modified: file.updated_at || file.created_at || new Date().toISOString()\n    };\n  });\n\nconsole.log(`[CONTROLLER] ${files.length} arquivos encontrados no bucket`);\n\nreturn files.map(f => ({ json: f }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,224],"id":"111524a2-a634-4909-bb44-72df8d5df796","name":"Code: Filtrar e Normalizar Lista de Arquivos"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[896,224],"id":"8f1f18a6-104f-4483-b207-bcc9c15b7809","name":"Split In Batches"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2d75b37d-1aa8-4949-b81e-59785fa29c9c","leftValue":"={{ $json.should_process }}","rightValue":"={{ $json.should_process }}","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"6cb0e3b8-691d-4698-8776-5333a8ea6c59","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1568,80],"id":"1185d1f2-cbdf-4ac6-9670-2167a3873b29","name":"IF: Deve Processar?"},{"parameters":{"workflowId":{"__rl":true,"value":"It7hakLlHAGwksaG","mode":"list","cachedResultUrl":"/workflow/It7hakLlHAGwksaG","cachedResultName":"KB_INGEST_WORKER"},"workflowInputs":{"mappingMode":"defineBelow","value":{"file_name":"={{ $json.file_name }}","mime_type":"={{ $json.mime_type }}","file_key":"={{ $json.file_key }}","etag":"={{ $json.etag }}","size_bytes":"={{ $json.size_bytes }}"},"matchingColumns":[],"schema":[{"id":"file_key","displayName":"file_key","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"file_name","displayName":"file_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mime_type","displayName":"mime_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"etag","displayName":"etag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"size_bytes","displayName":"size_bytes","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1792,160],"id":"75cbb0c5-36a7-4f67-a8f3-6d172ffa5d47","name":"Execute Workflow: Chamar Worker"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"cruzeiro","mode":"list","cachedResultName":"cruzeiro"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,-144],"id":"18f7d156-1aaf-43e5-8689-0d1055d36f46","name":"Select rows from a table","credentials":{"postgres":{"id":"xv589BreysPzBfDW","name":"Pgvector"}}},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[144,16],"id":"f46aa7b4-7963-4a23-bada-ad21201a757c","name":"HTML"},{"parameters":{"mode":"load","tableName":"encatamentopromo","prompt":"=ta muito caro","includeDocumentMetadata":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[416,-160],"id":"41b73c6b-52c1-4da4-aa6e-047557292eb3","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"TTrqj0rnakiukRd7","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[384,16],"id":"433621fa-57b8-4814-8e15-bc0ec281aeff","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"V6KXtm34XKIltVzc","name":"OpenAi account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get many files","type":"main","index":0}]]},"Get many files":{"main":[[{"node":"Code: Filtrar e Normalizar Lista de Arquivos","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Code: Decidir se Processa":{"main":[[{"node":"IF: Deve Processar?","type":"main","index":0}]]},"Postgres: Verificar Estado do Arquivo":{"main":[[{"node":"Code: Decidir se Processa","type":"main","index":0}]]},"Code: Filtrar e Normalizar Lista de Arquivos":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[],[{"node":"Postgres: Verificar Estado do Arquivo","type":"main","index":0}]]},"IF: Deve Processar?":{"main":[[{"node":"Execute Workflow: Chamar Worker","type":"main","index":0}],[{"node":"Split In Batches","type":"main","index":0}]]},"Execute Workflow: Chamar Worker":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Select rows from a table":{"main":[[]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6a240e06-84a1-48bb-9a5a-17f1006b6b50","activeVersionId":null,"versionCounter":466,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-28T18:59:57.486Z","createdAt":"2026-02-28T18:59:57.486Z","role":"workflow:owner","workflowId":"V3Ik4bcE312hlS0f_LBt8","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}