workflows_extracted/wSc4hux6IrJaxOA3cawHT.json
{"updatedAt":"2026-05-14T16:02:44.188Z","createdAt":"2026-03-05T17:34:20.478Z","id":"wSc4hux6IrJaxOA3cawHT","name":"WF_Salvar_Lead Homologacao","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Telefone"},{"name":"Nome"},{"name":"Email"},{"name":"CPF"},{"name":"Estilo"},{"name":"Navio"},{"name":"Orcamento"},{"name":"QtdPessoas"},{"name":"Status"},{"name":"contact_id"},{"name":"conversation_id"},{"name":"account_id"},{"name":"urlchatwoot"},{"name":"chatwoottoken"},{"name":"origem"},{"name":"etapa"},{"name":"resposta"},{"name":"Pontuacao"},{"name":"em_qual_etapa"},{"name":"tipo_fluxo"},{"name":"tabela_whatsapp"},{"name":"materiais_enviados","type":"boolean"},{"name":"navio_focal"},{"name":"navio_focal_origem"},{"name":"navio_focal_set_at"}]}},"id":"12826634-247c-4895-b26a-a819010f14f7","name":"Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-576,1424]},{"parameters":{"url":"={{ $('Workflow Trigger').item.json.urlchatwoot }}/api/v1/accounts/{{ $('Workflow Trigger').item.json.account_id }}/contacts/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Workflow Trigger').item.json.Telefone }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Workflow Trigger').item.json.chatwoottoken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[544,1424],"id":"d68422c0-cb62-4dbe-9acb-e4119b3500b3","name":"Busca contato chatwoot","retryOnFail":true,"maxTries":5},{"parameters":{"method":"POST","url":"={{ $('Workflow Trigger').first().json.urlchatwoot }}/api/v1/accounts/{{ $('Workflow Trigger').first().json.account_id }}/conversations/{{ $('Busca conversa').first().json.payload[0].id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Workflow Trigger').first().json.chatwoottoken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"labels\": [\"{{ $json.labels }}\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2016,1424],"id":"b69db098-ad22-4c58-a46a-736d0af596d2","name":"Atribui tag","onError":"continueRegularOutput"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"labels","mode":"list","cachedResultName":"labels"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[768,1424],"id":"521f7c6c-42ad-4d67-9238-669d4004aaab","name":"Puxa as tags","credentials":{"postgres":{"id":"uSdxNemJ9RfhxUg0","name":"Postgres - Chatwoot"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"title"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[992,1424],"id":"d00e3d41-87e9-4492-944f-58467150c3a4","name":"Aggregate"},{"parameters":{"url":"={{ $('Workflow Trigger').first().json.urlchatwoot }}/api/v1/accounts/{{ $('Workflow Trigger').first().json.account_id }}/contacts/{{ $('Busca contato chatwoot').first().json.payload[0].id }}/conversations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Workflow Trigger').first().json.chatwoottoken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,1424],"id":"06355efa-ce6c-4116-9972-a3cafcc777af","name":"Busca conversa","retryOnFail":true,"maxTries":2},{"parameters":{"method":"PUT","url":"={{ $('Workflow Trigger').first().json.urlchatwoot }}/api/v1/accounts/{{ $('Workflow Trigger').first().json.account_id }}/contacts/{{ $('Busca contato chatwoot').first().json.payload[0].id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $('Workflow Trigger').first().json.chatwoottoken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"custom_attributes\": {\n    \"campanha\": \"{{ $('MapearTagChatwoot').first().json.etiqueta }}\",\n    \"temporada\": \"2026/2027\",\n    \"origem\": \"{{ $('Workflow Trigger').first().json.origem }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,1424],"id":"68bd2853-bade-4871-a3b4-9c5621fcbc25","name":"Atualiza Chatwoot","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://crm.rdstation.com/api/v1/deals","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"deal\": {\n    \"deal_stage_id\": \"691635bac3aa230014102ff8\",\n    \"name\": \"{{ $('Atualiza Chatwoot').first().json.payload.name }}\",\n    \"deal_custom_fields\": [\n      {\n        \"custom_field_id\": \"691f5d5b72bd1e0013392272\",\n        \"value\": \"SDR IA\"\n      }\n    ]\n  },\n  \"contacts\": [\n    {\n      \"name\": \"{{ $('Atualiza Chatwoot').first().json.payload.name }}\",\n      \"phones\": [\n        {\n          \"phone\": \"{{ $('Atualiza Chatwoot').first().json.payload.phone_number }}\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2912,1504],"id":"0a3df987-53da-407a-8b88-e303bef3c154","name":"Criar a Negociação","onError":"continueRegularOutput"},{"parameters":{"url":"https://crm.rdstation.com/api/v1/contacts","sendQuery":true,"queryParameters":{"parameters":[{"name":"phone","value":"={{ $json.payload.phone_number }}"},{"name":"token","value":"6920bae895b2d4001dadd1a9"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2464,1424],"id":"8d2f65c4-21a6-4164-b2c8-0e8500f212a7","name":"Pega id do contato","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5464acd3-615d-4cb6-9757-c1f144bb4709","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2688,1424],"id":"007f2ce2-6bf6-4a23-925b-63667549c049","name":"If"},{"parameters":{"jsCode":"const NODE_MAPPER = 'MapearTagChatwoot';\nconst NODE_CONVERSA = 'Busca conversa';\n\n// pega etiqueta do mapeador determinístico\nconst etiqueta = $(NODE_MAPPER).first().json.etiqueta;\n\n// pega json do webhook/chatwoot\nconst conversa = $(NODE_CONVERSA).first().json;\n\n// pega labels no caminho correto\nconst labelsAtuais = conversa.payload?.[0]?.labels || [];\n\n// trava fluxo se não identificou (mantido por defensividade)\nif (!etiqueta || etiqueta === 'Não identificado') {\n  throw new Error('Etiqueta não identificada. Fluxo interrompido.');\n}\n\n// limpa labels\nconst labelsLimpas = labelsAtuais\n  .filter(l => typeof l === 'string' && l.trim() !== '')\n  .map(l => l.trim());\n\n// junta sem duplicar\nconst labelsFinal = [...new Set([...labelsLimpas, etiqueta])];\n\nreturn [\n  {\n    json: {\n      etiqueta_escolhida: etiqueta,\n      labels_atuais: labelsLimpas,\n      labels_final: labelsFinal,\n      labels: labelsFinal\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,1424],"id":"7fa0df66-e6ea-4e55-a60e-57ad1cab3bda","name":"Code in JavaScript","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"dLOE-_8ch4d9rQDW-NQJY","mode":"list","cachedResultUrl":"/workflow/dLOE-_8ch4d9rQDW-NQJY","cachedResultName":"atualizar_lead homologacao"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Nome":"={{ $('Workflow Trigger').first().json.Nome || \"\" }}","Telefone":"={{ $('Workflow Trigger').first().json.Telefone  }}","Email":"={{ $('Workflow Trigger').first().json.Email || null }}","Estilo":"={{ $('Workflow Trigger').first().json.Estilo || null }}","Navio":"={{ $('Workflow Trigger').first().json.Navio || null }}","Quantidade de Pessoas":"={{ $('Workflow Trigger').first().json.QtdPessoas || null }}","origem":"={{ $('Workflow Trigger').first().json.origem }}","tipo_fluxo":"={{ $('Workflow Trigger').first().json.tipo_fluxo }}","tabela_whatsapp":"={{ $('Workflow Trigger').first().json.tabela_whatsapp }}","Status":"={{ $('Workflow Trigger').first().json.Status }}","conversationId":"={{ $('Workflow Trigger').first().json.conversation_id }}","contactId":"={{ $('Workflow Trigger').first().json.contact_id }}"},"matchingColumns":[],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Estilo","displayName":"Estilo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Navio","displayName":"Navio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Orcamento","displayName":"Orcamento","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"Quantidade de Pessoas","displayName":"Quantidade de Pessoas","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"origem","displayName":"origem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tipo_fluxo","displayName":"tipo_fluxo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tabela_whatsapp","displayName":"tabela_whatsapp","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"contactId","displayName":"contactId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3136,1424],"id":"63c03816-fef4-4abd-af46-9e6794749aa4","name":"Call 'atualizar_lead_homologacao'"},{"parameters":{"jsCode":"const t = $input.first().json;\n\nif (!t.Telefone) throw new Error('TELEFONE_OBRIGATORIO');\nif (!t.tabela_whatsapp) throw new Error('TABELA_WHATSAPP_OBRIGATORIA');\nconst p = t || {};\n// Aceita PascalCase (usado pelos agents) ou snake_case\nconst pick = (pa, sc) => p[pa] !== undefined ? p[pa] : p[sc];\n\nreturn [{ json: {\n  session_id: t.sessionId,\n  Telefone: t.Telefone,\n  tabela_whatsapp: t.tabela_whatsapp,\n  origem: t.origem || 'whatsapp',\n  Nome:               pick('Nome', 'nome')             ?? \"\",\n  Email:              pick('Email', 'email')           ?? null,\n  CPF:                pick('CPF', 'cpf')               ?? null,\n  Navio:              pick('Navio', 'navio')           ?? null,\n  Orcamento:          pick('Orcamento', 'orcamento')   ?? null,\n  QtdPessoas:         pick('QtdPessoas', 'qtd_pessoas')?? null,\n  Estilo:             pick('Estilo', 'estilo')         ?? null,\n  Status:             pick('Status', 'status')         ?? null,\n  Pontuacao:  Number(pick('Pontuacao', 'pontuacao')    ?? 0),\n  Etapa:              pick('Etapa', 'etapa')           ?? 'qualificacao',\n  em_qual_etapa:      pick('em_qual_etapa', 'em_qual_etapa') ?? null,\n  materiais_enviados: !!pick('materiais_enviados', 'materiais_enviados'),\n  valores_enviados:   !!pick('valores_enviados',   'valores_enviados'),\n  navio_focal:        t.navio_focal        ?? null,\n  navio_focal_origem: t.navio_focal_origem ?? null,\n  navio_focal_set_at: t.navio_focal_set_at ?? null,\n} }];"},"id":"dfcf6d06-d2d2-4db8-b3e0-a735ba0d9846","name":"Validar_Campos","type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,1424]},{"parameters":{"operation":"getAll","tableId":"={{ $('Workflow Trigger').item.json.tabela_whatsapp }}","limit":1,"filters":{"conditions":[{"keyName":"Telefone","condition":"eq","keyValue":"={{ $json.Telefone }}"}]}},"id":"30dd890a-80e0-43c6-916a-858031366919","name":"Consultar_Lead_Existente","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-128,1424],"alwaysOutputData":true,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bdd585a-b60a-4938-ba75-6f64e1b5f738","operator":{"type":"string","operation":"exists"},"leftValue":"={{ $json.Telefone || $json.telefone }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"93ecd79d-fcdc-46bc-8e9a-470c670f05e5","name":"IF_Lead_Existe","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[96,1424]},{"parameters":{"operation":"update","tableId":"={{ $('Workflow Trigger').item.json.tabela_whatsapp }}","filters":{"conditions":[{"keyName":"Telefone","condition":"eq","keyValue":"={{ $('Workflow Trigger').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"Nome","fieldValue":"={{ $('Validar_Campos').item.json.Nome ?? $json['Nome'] ?? \"\" }}"},{"fieldId":"Email","fieldValue":"={{ $('Validar_Campos').item.json.Email ?? $json['Email'] ?? null }}"},{"fieldId":"CPF","fieldValue":"={{ $('Validar_Campos').item.json.CPF ?? $json['CPF'] ?? null }}"},{"fieldId":"Navio","fieldValue":"={{ $('Validar_Campos').item.json.Navio ?? $json['Navio'] ?? null }}"},{"fieldId":"Orcamento","fieldValue":"={{ $('Validar_Campos').item.json.Orcamento ?? $json['Orcamento'] ?? null }}"},{"fieldId":"estilo","fieldValue":"={{ $('Validar_Campos').item.json.Estilo ?? $json['estilo'] ?? null }}"},{"fieldId":"status","fieldValue":"={{ $('Validar_Campos').item.json.Status ?? $json['status'] ?? null }}"},{"fieldId":"Pontuacao","fieldValue":"=0"},{"fieldId":"etapa","fieldValue":"={{ $('Validar_Campos').item.json.Etapa ?? $json['etapa'] ?? null }}"},{"fieldId":"em_qual_etapa","fieldValue":"={{ $('Validar_Campos').item.json.em_qual_etapa ?? $json['em_qual_etapa'] ?? null }}"},{"fieldId":"materiais_enviados","fieldValue":"={{ !!$json.materiais_enviados || !!$('Validar_Campos').item.json.materiais_enviados }}"},{"fieldId":"UltimaMensagem","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"hora_mensagem","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"interagiu","fieldValue":"={{ true }}"},{"fieldId":"navio_focal","fieldValue":"={{ $('Validar_Campos').item.json.navio_focal ?? $json['navio_focal'] ?? null }}"},{"fieldId":"navio_focal_origem","fieldValue":"={{ $('Validar_Campos').item.json.navio_focal_origem ?? $json['navio_focal_origem'] ?? null }}"},{"fieldId":"navio_focal_set_at","fieldValue":"={{ $('Validar_Campos').item.json.navio_focal_set_at ?? $json['navio_focal_set_at'] ?? null }}"}]}},"id":"acb18df4-89dc-4358-aa1b-5fd03f2526c0","name":"Atualizar_Lead_Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[320,1328],"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}},"onError":"continueRegularOutput"},{"parameters":{"tableId":"={{ $('Workflow Trigger').item.json.tabela_whatsapp }}","fieldsUi":{"fieldValues":[{"fieldId":"Telefone","fieldValue":"={{ $('Validar_Campos').item.json.Telefone }}"},{"fieldId":"Nome","fieldValue":"={{ $('Validar_Campos').item.json.Nome }}"},{"fieldId":"Email","fieldValue":"={{ $('Validar_Campos').item.json.Email }}"},{"fieldId":"CPF","fieldValue":"={{ $('Validar_Campos').item.json.CPF }}"},{"fieldId":"Navio","fieldValue":"={{ $('Validar_Campos').item.json.Navio }}"},{"fieldId":"Orcamento","fieldValue":"={{ $('Validar_Campos').item.json.Orcamento }}"},{"fieldId":"QtdPessoas","fieldValue":"={{ $('Validar_Campos').item.json.QtdPessoas }}"},{"fieldId":"estilo","fieldValue":"={{ $('Validar_Campos').item.json.Estilo }}"},{"fieldId":"status","fieldValue":"={{ $('Validar_Campos').item.json.Status }}"},{"fieldId":"Pontuacao","fieldValue":"={{ $('Validar_Campos').item.json.Pontuacao }}"},{"fieldId":"etapa","fieldValue":"={{ $('Validar_Campos').item.json.Etapa }}"},{"fieldId":"em_qual_etapa","fieldValue":"={{ $('Validar_Campos').item.json.em_qual_etapa }}"},{"fieldId":"materiais_enviados","fieldValue":"={{ $('Validar_Campos').item.json.materiais_enviados }}"},{"fieldId":"origem","fieldValue":"={{ $('Workflow Trigger').item.json.origem }}"},{"fieldId":"UltimaMensagem","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"hora_mensagem","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"interagiu","fieldValue":"={{ true }}"},{"fieldId":"navio_focal","fieldValue":"={{ $('Validar_Campos').item.json.navio_focal }}"},{"fieldId":"navio_focal_origem","fieldValue":"={{ $('Validar_Campos').item.json.navio_focal_origem }}"},{"fieldId":"navio_focal_set_at","fieldValue":"={{ $('Validar_Campos').item.json.navio_focal_set_at }}"}]}},"id":"afb3820e-9beb-41f3-a330-1bfa4cef47cf","name":"Criar_Lead_Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[320,1520],"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000,"credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"98519172-e726-4abf-85ca-cd14c2c5eb6f","name":"status","type":"string","value":"success"},{"id":"bb1ed075-63d0-4712-a0a0-87eca4475ffd","name":"Telefone","type":"string","value":"={{ $('Validar_Campos').first().json.Telefone }}"},{"id":"ec1e8130-7b74-44e7-87b1-6dffe747ffb1","name":"tabela_whatsapp","type":"string","value":"={{ $('Workflow Trigger').item.json.tabela_whatsapp }}"},{"id":"ea781f5e-cd62-4179-be8b-3c67deb77ab0","name":"etapa","type":"string","value":"={{ $('Validar_Campos').first().json.Etapa }}"},{"id":"ba83a21e-eb0d-4674-b5eb-d412b4b91e4f","name":"pontuacao","type":"number","value":"={{ $('Validar_Campos').first().json.Pontuacao }}"},{"id":"09d0c79b-ce0b-442a-bac4-fc0886cac816","name":"resposta","type":"string","value":"={{ $('Workflow Trigger').item.json.resposta }}"},{"id":"cb5830f7-27c3-4207-b7ae-943b3c0c15c6","name":"timestamp","type":"string","value":"={{ $now.toISO() }}"}]},"options":{}},"id":"afa373de-e255-48bd-b2d1-913232fc4403","name":"Resposta_Final","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3376,1424]},{"parameters":{"jsCode":"// D7.1 — Lookup determinístico navio_focal → tag_chatwoot (Salvar_Lead).\n// Substitui AI Agent1 fuzzy classifier (deletado). Mesmo mapping do D7 marketing.\nconst FOCAL_TO_TAG = {\n  'roberto_carlos_2026':           'roberto_carlos',\n  'chitaozinho_xororo_2026':       'chex',\n  'vumbora_pro_mar_2026':          'vumbora_promar',\n  'cabare_2026':                   'cabare',\n  'reveillon_alto_mar':            'reveillon',\n  'embaixador_gusttavo_lima':      'embaixador',\n  '89_rock_boat':                  'rockboat',\n  'dominguinho_alto_mar':          'dominguinho',\n  'wesley_safadao_ws_on_board':    'wesley_safadao',\n  'daniel_o_amor_que_nao_tem_fim': 'daniel',\n};\n\nconst focal = $('Workflow Trigger').first().json.navio_focal;\nif (!focal) {\n  throw new Error(`MAPEAR_TAG_CHATWOOT_SL: navio_focal ausente — abortando etiquetação. Navio=${JSON.stringify($('Workflow Trigger').first().json.Navio)}`);\n}\nconst tag = FOCAL_TO_TAG[focal];\nif (!tag) {\n  throw new Error(`MAPEAR_TAG_CHATWOOT_SL: navio_focal '${focal}' não mapeado para tag Chatwoot — atualize FOCAL_TO_TAG`);\n}\nreturn [{ json: { etiqueta: tag, navio_focal: focal, output: { etiqueta: tag } } }];\n"},"id":"d71-mapeartagchatwoot-sl-bbbb-cccc-dddddddddddd","name":"MapearTagChatwoot","type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,1424]}],"connections":{"Workflow Trigger":{"main":[[{"node":"Validar_Campos","type":"main","index":0}]]},"Busca contato chatwoot":{"main":[[{"node":"Puxa as tags","type":"main","index":0}]]},"Atribui tag":{"main":[[{"node":"Atualiza Chatwoot","type":"main","index":0}]]},"Puxa as tags":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"MapearTagChatwoot","type":"main","index":0}]]},"Busca conversa":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Atualiza Chatwoot":{"main":[[{"node":"Pega id do contato","type":"main","index":0}]]},"Criar a Negociação":{"main":[[{"node":"Call 'atualizar_lead_homologacao'","type":"main","index":0}]]},"Pega id do contato":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Criar a Negociação","type":"main","index":0}],[{"node":"Call 'atualizar_lead_homologacao'","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Atribui tag","type":"main","index":0}]]},"Call 'atualizar_lead_homologacao'":{"main":[[{"node":"Resposta_Final","type":"main","index":0}]]},"Validar_Campos":{"main":[[{"node":"Consultar_Lead_Existente","type":"main","index":0}]]},"Consultar_Lead_Existente":{"main":[[{"node":"IF_Lead_Existe","type":"main","index":0}]]},"IF_Lead_Existe":{"main":[[{"node":"Atualizar_Lead_Supabase","type":"main","index":0}],[{"node":"Criar_Lead_Supabase","type":"main","index":0}]]},"Atualizar_Lead_Supabase":{"main":[[{"node":"Busca contato chatwoot","type":"main","index":0}]]},"Criar_Lead_Supabase":{"main":[[{"node":"Busca contato chatwoot","type":"main","index":0}]]},"MapearTagChatwoot":{"main":[[{"node":"Busca conversa","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Workflow Trigger":[{"json":{"Telefone":"+1 555-0100","Nome":"","Navio":"Navio Roberto Carlos 2026","Status":"BAIXA","contact_id":"79832","conversation_id":"44891","account_id":"1","urlchatwoot":"https://chatwoot.demo-events.com.br","chatwoottoken":"${CHATWOOT_TOKEN}","origem":"whatsapp","etapa":"qualificacao","resposta":"Oi, tudo bem? 😊 Sou a DomainAssistant, consultora de cruzeiros temáticos da Demo Events Co. Que ótimo saber que você se interessou pelo Navio do Roberto Carlos! Com quem eu falo?","Pontuacao":"undefined","em_qual_etapa":"e1","tipo_fluxo":"homologacao","tabela_whatsapp":"sdr_whatsapp_homologacao","materiais_enviados":false,"navio_focal":"roberto_carlos_2026","navio_focal_origem":"nlu","navio_focal_set_at":"2026-05-14T15:45:19.199Z"},"pairedItem":{"item":0}}]},"versionId":"aff81640-5534-4b74-977a-559829255c68","activeVersionId":"aff81640-5534-4b74-977a-559829255c68","versionCounter":424,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-05T17:34:20.478Z","createdAt":"2026-03-05T17:34:20.478Z","role":"workflow:owner","workflowId":"wSc4hux6IrJaxOA3cawHT","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}