workflows_extracted/xrMrYdaQdRBVpvNh_I9r8.json
{"updatedAt":"2026-03-19T17:44:28.188Z","createdAt":"2026-03-19T13:01:47.426Z","id":"xrMrYdaQdRBVpvNh_I9r8","name":"Envio Template 2 - Formulário","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,144],"id":"f925f5ab-f227-429f-a935-8580c14df20f","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"getAll","tableId":"sdr_whatsapp_forms","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,144],"id":"f01e0b08-d488-4ac9-8d6d-5c7ddc0fe47c","name":"Get many rows","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[896,144],"id":"383c794e-f00b-4e7d-9b60-9106e91e7d2f","name":"Loop Over Items"},{"parameters":{"phoneNumberId":"${WABA_PHONE_NUMBER_ID}","recipientPhoneNumber":"={{ $('Edit Fields').item.json.chatid }}","template":"template_2_multinavios|pt_BR","components":{"component":[{"bodyParameters":{"parameter":[{"text":"={{ $('Edit Fields').item.json.name }}"},{"text":"={{ $('Loop Over Items').item.json.Navio }}"}]}}]}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1568,0],"id":"8812e6b0-8e5e-4da5-8c2a-7bdcca94d022","name":"Send template","webhookId":"e2379760-8bc0-4c62-881b-b9aeee6b3bec","credentials":{"whatsAppApi":{"id":"7p03rSaYxzUJ6l9f","name":"WhatsApp Formulario"}}},{"parameters":{"assignments":{"assignments":[{"id":"0ec64d01-6771-43d6-98ad-8e232452b5b8","name":"account.id","value":"=1","type":"number"},{"id":"0f006af6-2b53-4208-b519-23e51982e683","name":"chatid","value":"={{ $json.Telefone }}","type":"string"},{"id":"d3d633d7-fc38-4caa-b6c2-31e1801fd2d0","name":"name","value":"={{ $json.Nome }}","type":"string"},{"id":"5988de65-829f-403d-9127-d92e50034970","name":"urlchatwoot","value":"https://chatwoot.demo-events.com.br","type":"string"},{"id":"9f08061a-4842-4e2e-9644-3ccfbb5a6c2e","name":"chatwoottoken","value":"${CHATWOOT_TOKEN}","type":"string"},{"id":"f95b6189-a88c-4a03-8769-c69b4f1f6ac9","name":"contact_id","value":"={{ $json.id_contato_chatwoot }}","type":"number"},{"id":"610f51d8-d543-4abb-86d6-0d101da119ac","name":"conversation_id","value":"={{ $json.id_conversa_chatwoot }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,0],"id":"69560d9c-55bc-4389-81cf-f20be0037418","name":"Edit Fields"},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').item.json.urlchatwoot }}/api/v1/accounts/1/conversations/{{ $json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $json.chatwoottoken }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{$json.name}}, imagina acordar com o oceano à sua frente, sem pressa, vivendo dias de música, entretenimento e momentos especiais a bordo do {{$('Loop Over Items').item.json.Navio}}.\nE o que torna essa experiência única é unir o show de seu artista favorito com todo o conforto de um resort em alto mar. Música, entretenimento, gastronomia e muita diversão para você e seus convidados.\nVocês podem viver essa experiência inesquecível juntos.\nPosso te mostrar agora como tudo isso funciona?\n"},{"name":"message_type","value":"outgoing"},{"name":"private","value":"true"},{"name":"content_type","value":"text"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1344,0],"id":"be6149c4-8274-44a7-aa43-a9a6d6e5007d","name":"HTTP Request2","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"864ba8e3-0a19-4e45-9afd-da2002fd7561","leftValue":"={{ $json.template_2 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"ac381e0c-257c-4fde-bd24-e9de6208259b","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[672,144],"id":"4b3570a2-c6f0-4da6-be9a-e3b1b821b87d","name":"If"},{"parameters":{"operation":"update","tableId":"sdr_whatsapp_forms","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"template_2","fieldValue":"={{true}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1792,0],"id":"0055e422-f893-4ca4-aeb2-375e68f37b13","name":"Update a row","credentials":{"supabaseApi":{"id":"AEkTABg8nAlKbpWh","name":"Supabase - Banco de Dados"}}},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2016,72],"id":"d042bc9d-6601-4bec-8dab-3cb5e10cb159","name":"Wait","webhookId":"26f776f9-f89c-49fb-af2c-75946e3ede7d"},{"parameters":{"jsCode":"const meses = {\n  'janeiro': 0, 'fevereiro': 1, 'março': 2, 'abril': 3,\n  'maio': 4, 'junho': 5, 'julho': 6, 'agosto': 7,\n  'setembro': 8, 'outubro': 9, 'novembro': 10, 'dezembro': 11\n};\n\nconst limite = new Date(2026, 2, 18, 10, 0, 0);\n\nreturn items.filter(item => {\n  const raw = item.json.DataEntrada;\n  if (!raw) return false;\n\n  const match = raw.match(/(\\d{1,2}) de ([a-zA-ZçãõéêúíóàâôÇÃÕÉÊÚÍÓÀÂÔ]+) de (\\d{4}),?\\s*(\\d{1,2}):(\\d{2})/);\n  if (!match) return false;\n\n  const [, dia, mesStr, ano, hora, min] = match;\n  const mes = meses[mesStr.toLowerCase()];\n  if (mes === undefined) return false;\n\n  const data = new Date(Number(ano), mes, Number(dia), Number(hora), Number(min));\n  return data <= limite;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,144],"id":"3f7958de-0e83-4775-b1ae-b781a5e2129d","name":"Code in JavaScript"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Send template","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Send template":{"main":[[{"node":"Update a row","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"89b2b13c-8040-44ea-812a-3cfb6176e036","activeVersionId":null,"versionCounter":102,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-19T13:01:47.426Z","createdAt":"2026-03-19T13:01:47.426Z","role":"workflow:owner","workflowId":"xrMrYdaQdRBVpvNh_I9r8","projectId":"UZuNnaPQrJNEgHCN","project":{"updatedAt":"2026-01-23T13:45:00.715Z","createdAt":"2026-01-23T13:30:10.879Z","id":"UZuNnaPQrJNEgHCN","name":"Demo Events Co <admin@demo-events.com.br>","type":"personal","icon":null,"description":null,"creatorId":"fa3bae6b-0226-4b5b-9c72-193ca0ad2b40"}}]}